openapi: 3.2.0
info:
  title: Mist Orgs JSI API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs JSI
  description: 'Juniper Support Insight is a free service provided to all Mist customers.

    You can adopt your devices via a few lines CLI commands. Allowing you to

    * get some basic information about the adopted devices

    * web shell into device (write privilege required) \n* upgrade (write privilege required)'
paths:
  /api/v1/orgs/{org_id}/jsi/devices:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: listOrgJsiDevices
      description: List organization devices connected to Juniper Support Insights (JSI), optionally filtered by model, serial number, or MAC address.
      operationId: listOrgJsiDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      - name: model
        in: query
        description: Filter results by device model
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP43
      - name: serial
        in: query
        description: Filter results by device serial number
        style: form
        explode: true
        schema:
          type: string
          examples:
          - FXLH2015150025
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b350e0001
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/jse_device'
                description: JSE devices returned for an organization
                examples:
                - - ext_ip: 73.92.124.103
                    last_seen: 1654636867
                    mac: c15353123096
                    model: EX2300-C-12P
                    serial: DGCOO0015
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - ext_ip: 73.92.124.103
                    last_seen: 1654636867
                    mac: c15353123096
                    model: EX2300-C-12P
                    serial: DGCOO0015
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/jse_device'
                description: JSE devices returned for an organization
                examples:
                - - ext_ip: 73.92.124.103
                    last_seen: 1654636867
                    mac: c15353123096
                    model: EX2300-C-12P
                    serial: DGCOO0015
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - ext_ip: 73.92.124.103
                    last_seen: 1654636867
                    mac: c15353123096
                    model: EX2300-C-12P
                    serial: DGCOO0015
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/devices/outbound_ssh_cmd:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: adoptOrgJsiDevice
      description: Return the outbound SSH registration command used to onboard Junos devices to Juniper Support Insights (JSI).
      operationId: adoptOrgJsiDevice
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_device_config_cmd'
                - description: Device configuration command response
                  examples:
                  - cmd: 'set system services ssh...

                      ...

                      set system services outbound-ssh client mist ...'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    cmd: 'set system services ssh...

                      ...

                      set system services outbound-ssh client mist ...'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_device_config_cmd'
                - description: Device configuration command response
                  examples:
                  - cmd: 'set system services ssh...

                      ...

                      set system services outbound-ssh client mist ...'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    cmd: 'set system services ssh...

                      ...

                      set system services outbound-ssh client mist ...'
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/devices/{device_mac}/shell:
    parameters: []
    post:
      tags:
      - Orgs JSI
      summary: createOrgJsiDeviceShellSession
      description: Create a WebSocket-backed shell session for a JSI-connected device identified by MAC address.
      operationId: createOrgJsiDeviceShellSession
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/websocket_session_with_url'
                - description: Response containing a WebSocket session handle and connection URL
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/websocket_session_with_url'
                - description: Response containing a WebSocket session handle and connection URL
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/inventory:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: listOrgJsiPastPurchases
      description: 'This gets all devices purchased from the accounts associated with the Org

        * Fetch Install base devices for all linked accounts and associated account of the linked accounts.

        * The primary and the associated account ids will be queries from SFDC by passing the linked account

        * Returns only the device centric details of the Install base device. No customer specific information will be returned.'
      operationId: listOrgJsiPastPurchases
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      - name: model
        in: query
        description: Filter results by one or more device models. Supports comma-separated values
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP43
      - name: serial
        in: query
        description: Filter results by device serial number
        style: form
        explode: true
        schema:
          type: string
          examples:
          - FXLH2015150025
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/js_inventory_item'
                description: JSI inventory items returned for an organization
                examples:
                - - device_name: name1
                    end_of_sale_time: 1561507200
                    eos_time: 1672012800
                    master: true
                    model: EX2300-24MP
                    org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                    serial: XN3123300095
                    sku: EX2300
                    status: connected
                    suggested_version: Latest 21.4R3-Sx
                    type: switch
                    version: 23.4R2-S4.11
                    version_eos_time: 1672012800
                    version_time: 1561507200
                    warranty: Enhanced Hardware Warranty
                    warranty_time: 1672012800
                    warranty_type: Enhanced Hardware Warranty
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - device_name: name1
                    end_of_sale_time: 1561507200
                    eos_time: 1672012800
                    master: true
                    model: EX2300-24MP
                    org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                    serial: XN3123300095
                    sku: EX2300
                    status: connected
                    suggested_version: Latest 21.4R3-Sx
                    type: switch
                    version: 23.4R2-S4.11
                    version_eos_time: 1672012800
                    version_time: 1561507200
                    warranty: Enhanced Hardware Warranty
                    warranty_time: 1672012800
                    warranty_type: Enhanced Hardware Warranty
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/js_inventory_item'
                description: JSI inventory items returned for an organization
                examples:
                - - device_name: name1
                    end_of_sale_time: 1561507200
                    eos_time: 1672012800
                    master: true
                    model: EX2300-24MP
                    org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                    serial: XN3123300095
                    sku: EX2300
                    status: connected
                    suggested_version: Latest 21.4R3-Sx
                    type: switch
                    version: 23.4R2-S4.11
                    version_eos_time: 1672012800
                    version_time: 1561507200
                    warranty: Enhanced Hardware Warranty
                    warranty_time: 1672012800
                    warranty_type: Enhanced Hardware Warranty
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - device_name: name1
                    end_of_sale_time: 1561507200
                    eos_time: 1672012800
                    master: true
                    model: EX2300-24MP
                    org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                    serial: XN3123300095
                    sku: EX2300
                    status: connected
                    suggested_version: Latest 21.4R3-Sx
                    type: switch
                    version: 23.4R2-S4.11
                    version_eos_time: 1672012800
                    version_time: 1561507200
                    warranty: Enhanced Hardware Warranty
                    warranty_time: 1672012800
                    warranty_type: Enhanced Hardware Warranty
        '400':
          description: Bad Request - no Juniper Account Linked
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - detail: no juniper account linked
                contentMediaType: application/json
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - detail: no juniper account linked
                contentMediaType: application/vnd.api+json
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/inventory/count:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: countOrgJsiAssetsAndContracts
      description: Count devices purchased from the accounts associated with the Org
      operationId: countOrgJsiAssetsAndContracts
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `account_id`, `claimed`, `has_support`, `end_of_sale_time`, `eos_time`, `version_time`, `model`, `sku`, `status`, `type`, `version`, `warranty_type`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/jsi_inventory_count_distinct'
          - description: 'Field used to group this count response. enum: `account_id`, `claimed`, `has_support`, `end_of_sale_time`, `eos_time`, `version_time`, `model`, `sku`, `status`, `type`, `version`, `warranty_type`'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Request - no Juniper Account Linked
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - detail: no juniper account linked
                contentMediaType: application/json
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - detail: no juniper account linked
                contentMediaType: application/vnd.api+json
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/inventory/search:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: searchOrgJsiAssetsAndContracts
      description: 'This gets all devices purchased from the accounts associated with the Org

        * Fetch Install base devices for all linked accounts and associated account of the linked accounts.

        * The primary and the associated account ids will be queries from SFDC by passing the linked account

        * Returns only the device centric details of the Install base device. No customer specific information will be returned.'
      operationId: searchOrgJsiAssetsAndContracts
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: claimed
        in: query
        description: Device claim status, `true` for claimed devices, `false` for all devices. Accepts multiple comma-separated boolean values.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - 'true'
        examples:
          Untitled Example2:
            value: true
      - name: model
        in: query
        description: Filter results by device model. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - QFX10000-36Q,QFX10000-30C
          - AP43
        examples:
          Untitled Example1:
            value: QFX10000-36Q,QFX10000-30C
          Untitled Example2:
            value: AP43
      - name: serial
        in: query
        description: Filter results by device serial number. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ACNP4666,ACNP6969
          - FXLH2015150025
        examples:
          Untitled Example1:
            value: ACNP4666,ACNP6969
          Untitled Example2:
            value: FXLH2015150025
      - name: sku
        in: query
        description: Filter results by SKU. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - QFX10000-36Q,QFX10000-30C
          - EX2300
        examples:
          Untitled Example1:
            value: QFX10000-36Q,QFX10000-30C
          Untitled Example2:
            value: EX2300
      - name: status
        in: query
        description: 'Device status. enum: `all`, `connected`, `disconnected`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/device_status'
          - description: 'Device status. enum: `all`, `connected`, `disconnected`'
      - name: warranty_type
        in: query
        description: Device warranty type used to filter Juniper Support Insight inventory
        style: form
        explode: true
        schema:
          type: string
      - name: end_of_sale_after
        in: query
        description: Filter devices with End Of Sale date after this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2024-01-01
      - name: end_of_sale_before
        in: query
        description: Filter devices with End Of Sale date before this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2025-12-31
      - name: eos_after
        in: query
        description: Filter devices with End Of Support date after this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2024-01-01
      - name: eos_before
        in: query
        description: Filter devices with End Of Support date before this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2025-12-31
      - name: version_eos_after
        in: query
        description: Filter devices with OS Version End Of Support date after this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2024-01-01
      - name: version_eos_before
        in: query
        description: Filter devices with OS Version End Of Support date before this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2025-12-31
      - name: contract_end_before
        in: query
        description: Filter results by service contract end date before this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2025-12-31
      - name: contract_end_after
        in: query
        description: Filter results by service contract end date after this date
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2024-01-01
      - name: contract_type
        in: query
        description: Filter results by contract type
        style: form
        explode: true
        schema:
          type: string
      - name: contract_sku
        in: query
        description: Filter results by contract SKU
        style: form
        explode: true
        schema:
          type: string
      - name: end_of_service_time
        in: query
        description: Filter results by end of service time
        style: form
        explode: true
        schema:
          type: string
      - name: support_contract_status
        in: query
        description: Filter results by service contract status
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/support_contract_status'
          - description: Filter results by service contract status
      - name: has_support
        in: query
        description: Indicates if the device is covered under active support contract. Accepts multiple comma-separated boolean values.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - 'true'
        examples:
          Untitled Example2:
            value: true
      - name: sirt_id
        in: query
        description: To get the onboarded devices that are affected by the SIRT ID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - JSA12345
      - name: pbn_id
        in: query
        description: To get the onboarded devices that are affected by the PBN ID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - PBN67890
      - name: text
        in: query
        description: Wildcard text search across `account_id`, `contract_id`, `contract_reseller`, `contract_sku`, `device_name`, `distributor`, `ia_address`, `ia_country`, `ia_region`, `ia_zip_postal`, `model`, `serial`, `sku`, `status`, `suggested_version`, `version`, `warranty`
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/js_inventory_search'
                - description: Paginated JSI inventory search response
                  examples:
                  - end: 1748023308
                    limit: 1000
                    results:
                    - availability: true
                      claimed: true
                      contract_end_date: 2028-10-01
                      contract_id: 324343-234
                      contract_reseller: Reseller1
                      contract_sku: EX2300-24MP-AFO
                      contract_start_date: 2022-09-01
                      contract_type: Maintenance
                      current_contract_flag: No Contract
                      device_name: name1
                      distributor: Dist
                      end_of_sale_time: 1561507200
                      end_of_service_time: 1661507200
                      eol_psn: TSB18097
                      eos_time: 1672012800
                      has_support: true
                      ia_address: Address1
                      ia_country: United States
                      ia_region: Rhode Island
                      ia_zip_postal: 02865-3749
                      master: true
                      model: EX2300-24MP
                      org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                      serial: XN3123300095
                      service_contract_no: '16036705'
                      service_contract_type: MS
                      service_decline_flag: false
                      service_eligible: true
                      ship_date_calc: 2022-08-31
                      sku: EX2300
                      status: connected
                      suggested_version: Latest 21.4R3-Sx
                      support_contract_status: Active
                      type: switch
                      version: 23.4R2-S4.11
                      version_description: ''
                      version_eos_time: 1672012800
                      version_time: 1561507200
                      warranty: Enhanced Hardware Warranty
                      warranty_end: 2042-11-28
                      warranty_start: 2022-09-01
                      warranty_time: 1672012800
                      warranty_type: WTY00002
                    start: 1748019708
                    total: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1748023308
                    limit: 1000
                    results:
                    - availability: true
                      claimed: true
                      contract_end_date: 2028-10-01
                      contract_id: 324343-234
                      contract_reseller: Reseller1
                      contract_sku: EX2300-24MP-AFO
                      contract_start_date: 2022-09-01
                      contract_type: Maintenance
                      current_contract_flag: No Contract
                      device_name: name1
                      distributor: Dist
                      end_of_sale_time: 1561507200
                      end_of_service_time: 1661507200
                      eol_psn: TSB18097
                      eos_time: 1672012800
                      has_support: true
                      ia_address: Address1
                      ia_country: United States
                      ia_region: Rhode Island
                      ia_zip_postal: 02865-3749
                      master: true
                      model: EX2300-24MP
                      org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                      serial: XN3123300095
                      service_contract_no: '16036705'
                      service_contract_type: MS
                      service_decline_flag: false
                      service_eligible: true
                      ship_date_calc: 2022-08-31
                      sku: EX2300
                      status: connected
                      suggested_version: Latest 21.4R3-Sx
                      support_contract_status: Active
                      type: switch
                      version: 23.4R2-S4.11
                      version_description: ''
                      version_eos_time: 1672012800
                      version_time: 1561507200
                      warranty: Enhanced Hardware Warranty
                      warranty_end: 2042-11-28
                      warranty_start: 2022-09-01
                      warranty_time: 1672012800
                      warranty_type: WTY00002
                    start: 1748019708
                    total: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/js_inventory_search'
                - description: Paginated JSI inventory search response
                  examples:
                  - end: 1748023308
                    limit: 1000
                    results:
                    - availability: true
                      claimed: true
                      contract_end_date: 2028-10-01
                      contract_id: 324343-234
                      contract_reseller: Reseller1
                      contract_sku: EX2300-24MP-AFO
                      contract_start_date: 2022-09-01
                      contract_type: Maintenance
                      current_contract_flag: No Contract
                      device_name: name1
                      distributor: Dist
                      end_of_sale_time: 1561507200
                      end_of_service_time: 1661507200
                      eol_psn: TSB18097
                      eos_time: 1672012800
                      has_support: true
                      ia_address: Address1
                      ia_country: United States
                      ia_region: Rhode Island
                      ia_zip_postal: 02865-3749
                      master: true
                      model: EX2300-24MP
                      org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                      serial: XN3123300095
                      service_contract_no: '16036705'
                      service_contract_type: MS
                      service_decline_flag: false
                      service_eligible: true
                      ship_date_calc: 2022-08-31
                      sku: EX2300
                      status: connected
                      suggested_version: Latest 21.4R3-Sx
                      support_contract_status: Active
                      type: switch
                      version: 23.4R2-S4.11
                      version_description: ''
                      version_eos_time: 1672012800
                      version_time: 1561507200
                      warranty: Enhanced Hardware Warranty
                      warranty_end: 2042-11-28
                      warranty_start: 2022-09-01
                      warranty_time: 1672012800
                      warranty_type: WTY00002
                    start: 1748019708
                    total: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1748023308
                    limit: 1000
                    results:
                    - availability: true
                      claimed: true
                      contract_end_date: 2028-10-01
                      contract_id: 324343-234
                      contract_reseller: Reseller1
                      contract_sku: EX2300-24MP-AFO
                      contract_start_date: 2022-09-01
                      contract_type: Maintenance
                      current_contract_flag: No Contract
                      device_name: name1
                      distributor: Dist
                      end_of_sale_time: 1561507200
                      end_of_service_time: 1661507200
                      eol_psn: TSB18097
                      eos_time: 1672012800
                      has_support: true
                      ia_address: Address1
                      ia_country: United States
                      ia_region: Rhode Island
                      ia_zip_postal: 02865-3749
                      master: true
                      model: EX2300-24MP
                      org_id: 6e843b41-f953-4af9-80e5-e1a70f65754a
                      serial: XN3123300095
                      service_contract_no: '16036705'
                      service_contract_type: MS
                      service_decline_flag: false
                      service_eligible: true
                      ship_date_calc: 2022-08-31
                      sku: EX2300
                      status: connected
                      suggested_version: Latest 21.4R3-Sx
                      support_contract_status: Active
                      type: switch
                      version: 23.4R2-S4.11
                      version_description: ''
                      version_eos_time: 1672012800
                      version_time: 1561507200
                      warranty: Enhanced Hardware Warranty
                      warranty_end: 2042-11-28
                      warranty_start: 2022-09-01
                      warranty_time: 1672012800
                      warranty_type: WTY00002
                    start: 1748019708
                    total: 1
        '400':
          description: Bad Request - no Juniper Account Linked
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - detail: no juniper account linked
                contentMediaType: application/json
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - detail: no juniper account linked
                contentMediaType: application/vnd.api+json
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/pbn/count:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: countOrgJsiPbn
      description: Get count of PBN advisories grouped by specified field
      operationId: countOrgJsiPbn
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field to group by enum: `versions`, `models`, `customer_risk`, `bug_type`'
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/count_pbn_distinct'
          - description: 'Field to group by enum: `versions`, `models`, `customer_risk`, `bug_type`'
            examples:
            - versions
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/pbn/search:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: searchOrgJsiPbn
      description: Text search for PBN (Problem Bug Notification) advisories. Search can be done on versions, models, customer_risk, id, and bug_type fields.
      operationId: searchOrgJsiPbn
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: versions
        in: query
        description: Software versions affected by the PBN
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 20.4R3
      - name: models
        in: query
        description: Models affected by the PBN
        style: form
        explode: true
        schema:
          type: string
      - name: customer_risk
        in: query
        description: 'Filter results by customer risk. enum: `Critical`, `Major`, `Minor`'
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        description: ID of the PBN
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '1403338'
      - name: bug_type
        in: query
        description: Filter results by bug type
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/jsi_pbn_bug_type'
          - description: Filter results by bug type
      - name: text
        in: query
        description: Wildcard search across `versions`, `models`, `customer_risk`, `id`, `bug_type`
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/jsi_pbn_search'
                - description: Juniper Security Intelligence PBN search response with result metadata
                  examples:
                  - end: 1753415677
                    limit: 1
                    next: /api/v1/orgs/bf105f5e-2490-453b-9dc0-81224ca295cf/jsi/pbn/search?end=1753415677&limit=1&search_after=%5B%221403338%22%5D&start=1753412077
                    results:
                    - bug_type: Day-1
                      customer_risk: Major
                      id: '1403338'
                      introduced_in: ''
                      models:
                      - MX10008
                      - vMX
                      product_family:
                      - EX2200
                      - QFX5210
                      release_notes: In aggregated interfaces and STP (Spanning Tree Protocol) scenario, the STP does not work.
                      restoration: ''
                      title: The STP does not work when aggregated interfaces number is "ae1000"
                      versions:
                      - 23.4R2-S1.1
                      workaround: Use the 'ae' number from 0 to 999 in QFX5000 and 0 to 479 in other QFXs / EX under STP.
                      workaround_provided: true
                    start: 1753412077
                    total: 604
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1753415677
                    limit: 1
                    next: /api/v1/orgs/bf105f5e-2490-453b-9dc0-81224ca295cf/jsi/pbn/search?end=1753415677&limit=1&search_after=%5B%221403338%22%5D&start=1753412077
                    results:
                    - bug_type: Day-1
                      customer_risk: Major
                      id: '1403338'
                      introduced_in: ''
                      models:
                      - MX10008
                      - vMX
                      product_family:
                      - EX2200
                      - QFX5210
                      release_notes: In aggregated interfaces and STP (Spanning Tree Protocol) scenario, the STP does not work.
                      restoration: ''
                      title: The STP does not work when aggregated interfaces number is "ae1000"
                      versions:
                      - 23.4R2-S1.1
                      workaround: Use the 'ae' number from 0 to 999 in QFX5000 and 0 to 479 in other QFXs / EX under STP.
                      workaround_provided: true
                    start: 1753412077
                    total: 604
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/jsi_pbn_search'
                - description: Juniper Security Intelligence PBN search response with result metadata
                  examples:
                  - end: 1753415677
                    limit: 1
                    next: /api/v1/orgs/bf105f5e-2490-453b-9dc0-81224ca295cf/jsi/pbn/search?end=1753415677&limit=1&search_after=%5B%221403338%22%5D&start=1753412077
                    results:
                    - bug_type: Day-1
                      customer_risk: Major
                      id: '1403338'
                      introduced_in: ''
                      models:
                      - MX10008
                      - vMX
                      product_family:
                      - EX2200
                      - QFX5210
                      release_notes: In aggregated interfaces and STP (Spanning Tree Protocol) scenario, the STP does not work.
                      restoration: ''
                      title: The STP does not work when aggregated interfaces number is "ae1000"
                      versions:
                      - 23.4R2-S1.1
                      workaround: Use the 'ae' number from 0 to 999 in QFX5000 and 0 to 479 in other QFXs / EX under STP.
                      workaround_provided: true
                    start: 1753412077
                    total: 604
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1753415677
                    limit: 1
                    next: /api/v1/orgs/bf105f5e-2490-453b-9dc0-81224ca295cf/jsi/pbn/search?end=1753415677&limit=1&search_after=%5B%221403338%22%5D&start=1753412077
                    results:
                    - bug_type: Day-1
                      customer_risk: Major
                      id: '1403338'
                      introduced_in: ''
                      models:
                      - MX10008
                      - vMX
                      product_family:
                      - EX2200
                      - QFX5210
                      release_notes: In aggregated interfaces and STP (Spanning Tree Protocol) scenario, the STP does not work.
                      restoration: ''
                      title: The STP does not work when aggregated interfaces number is "ae1000"
                      versions:
                      - 23.4R2-S1.1
                      workaround: Use the 'ae' number from 0 to 999 in QFX5000 and 0 to 479 in other QFXs / EX under STP.
                      workaround_provided: true
                    start: 1753412077
                    total: 604
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/sirt/count:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: countOrgJsiSirt
      description: Get count of SIRT advisories grouped by specified field
      operationId: countOrgJsiSirt
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field to group by. enum: `jsa_updated_date`, `models`, `severity`, `versions`'
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/count_sirt_distinct'
          - description: 'Field to group by. enum: `jsa_updated_date`, `models`, `severity`, `versions`'
            examples:
            - versions
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/jsi/sirt/search:
    parameters: []
    get:
      tags:
      - Orgs JSI
      summary: searchOrgJsiSirt
[...]
