openapi: 3.2.0
info:
  title: Mist Sites Clients - Wired API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Clients - Wired
  description: Wired Clients are Wired devices connected to a Juniper switch monitored or managed by Mist.
paths:
  /api/v1/sites/{site_id}/wired_clients/count:
    parameters: []
    get:
      tags:
      - Sites Clients - Wired
      summary: countSiteWiredClients
      description: Count wired clients for a site, optionally grouped by the `distinct` field and filtered by MAC address, switch port, VLAN, and time range. Use Count Org Wired Clients to count wired clients across the organization.
      operationId: countSiteWiredClients
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `mac`, `port_id`, `vlan`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/site_wired_clients_count_distinct'
          - description: 'Field used to group this count response. enum: `mac`, `port_id`, `vlan`'
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 0123456789ab
      - name: device_mac
        in: query
        description: Filter results by device MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 0123456789ab
      - name: port_id
        in: query
        description: Filter results by port identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ge-1/1/1
      - name: vlan
        in: query
        description: Filter results by VLAN ID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '10'
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/wired_clients/search:
    parameters: []
    get:
      tags:
      - Sites Clients - Wired
      summary: searchSiteWiredClients
      description: Search wired clients for a site with filters for device MAC address, client MAC address, IP address, switch port, VLAN, manufacturer, DHCP attributes, NAC rule, and time range. Use Search Org Wired Clients to search wired clients across the organization.
      operationId: searchSiteWiredClients
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: query
        description: Filter results by device MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 0123456789ab
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 0123456789ab
      - name: ip
        in: query
        description: Filter results by IP address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 10.3.5.12
      - name: port_id
        in: query
        description: Filter results by port identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ge-1/1/1
      - name: source
        in: query
        description: 'Filter results by client learning source. enum: `lldp`, `mac`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/client_info_source'
          - description: 'Filter results by client learning source. enum: `lldp`, `mac`'
      - name: vlan
        in: query
        description: Filter results by VLAN ID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '10'
      - name: manufacture
        in: query
        description: Filter results by manufacturer
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Juniper-Mist
      - name: text
        in: query
        description: Single entry of hostname/mac
        style: form
        explode: true
        schema:
          type: string
          examples:
          - client-hostname
      - name: nacrule_id
        in: query
        description: Filter results by NAC rule identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 8bfc2490-d726-3587-038d-cb2e71bd2330
      - name: dhcp_hostname
        in: query
        description: Filter results by DHCP hostname
        style: form
        explode: true
        schema:
          type: string
          examples:
          - client-hostname
      - name: dhcp_fqdn
        in: query
        description: Filter results by DHCP FQDN
        style: form
        explode: true
        schema:
          type: string
          examples:
          - client.example.com
      - name: dhcp_client_identifier
        in: query
        description: Filter results by DHCP client identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 01:23:45:67:89:ab
      - name: dhcp_vendor_class_identifier
        in: query
        description: DHCP Vendor Class Identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Juniper-Mist-AP,Juniper-Mist-Client
      - name: dhcp_request_params
        in: query
        description: Filter results by DHCP request parameters
        style: form
        explode: true
        schema:
          type: string
          examples:
          - hostname,domain-name,domain-name-servers
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/search_wired_client'
                - description: Paginated response for wired client searches
                  examples:
                  - end: 1648529800.8221116
                    limit: 1000
                    results:
                    - auth_method: mac_auth
                      auth_state: authenticated
                      device_mac:
                      - '001122334455'
                      dhcp_client_identifier: MAC address 00155df6d500
                      dhcp_client_options:
                      - code: DHO_DHCP_MESSAGE_TYPE(53)
                        data: DHCPREQUEST
                      - code: DHO_DHCP_CLIENT_IDENTIFIER(61)
                        data: MAC address 00155df6d500
                      - code: DHO_DHCP_REQUESTED_ADDRESS(50)
                        data: 172.17.10.255
                      - code: DHO_DHCP_SERVER_IDENTIFIER(54)
                        data: 172.17.8.1
                      - code: DHO_DHCP_MAX_MESSAGE_SIZE(57)
                        data: '1280'
                      - code: DHO_DHCP_PARAMETER_REQUEST_LIST(55)
                        data: ' 1 3 6 12 15 28 43 180'
                      - code: DHO_VENDOR_CLASS_IDENTIFIER(60)
                        data: MSFT 5.0
                      - code: DHO_HOST_NAME(12)
                        data: ITS-VMMT0-D1N02
                      dhcp_fqdn: ITS-VMMT0-D1N02.mgthub.local
                      dhcp_hostname: ITS-VMMT0-D1N02
                      dhcp_request_params: 1 3 6 15 31 33 43 44 46 47 119 121 249 252
                      dhcp_vendor_class_identifier: MSFT 5.0
                      mac: '112233445566'
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      port_id:
                      - et-0/0/1
                      site_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      timestamp: 1571174567.807
                      vlan:
                      - 0
                      - 1001
                    start: 1648443400.8221116
                    total: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1648529800.8221116
                    limit: 1000
                    results:
                    - auth_method: mac_auth
                      auth_state: authenticated
                      device_mac:
                      - '001122334455'
                      dhcp_client_identifier: MAC address 00155df6d500
                      dhcp_client_options:
                      - code: DHO_DHCP_MESSAGE_TYPE(53)
                        data: DHCPREQUEST
                      - code: DHO_DHCP_CLIENT_IDENTIFIER(61)
                        data: MAC address 00155df6d500
                      - code: DHO_DHCP_REQUESTED_ADDRESS(50)
                        data: 172.17.10.255
                      - code: DHO_DHCP_SERVER_IDENTIFIER(54)
                        data: 172.17.8.1
                      - code: DHO_DHCP_MAX_MESSAGE_SIZE(57)
                        data: '1280'
                      - code: DHO_DHCP_PARAMETER_REQUEST_LIST(55)
                        data: ' 1 3 6 12 15 28 43 180'
                      - code: DHO_VENDOR_CLASS_IDENTIFIER(60)
                        data: MSFT 5.0
                      - code: DHO_HOST_NAME(12)
                        data: ITS-VMMT0-D1N02
                      dhcp_fqdn: ITS-VMMT0-D1N02.mgthub.local
                      dhcp_hostname: ITS-VMMT0-D1N02
                      dhcp_request_params: 1 3 6 15 31 33 43 44 46 47 119 121 249 252
                      dhcp_vendor_class_identifier: MSFT 5.0
                      mac: '112233445566'
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      port_id:
                      - et-0/0/1
                      site_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      timestamp: 1571174567.807
                      vlan:
                      - 0
                      - 1001
                    start: 1648443400.8221116
                    total: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/search_wired_client'
                - description: Paginated response for wired client searches
                  examples:
                  - end: 1648529800.8221116
                    limit: 1000
                    results:
                    - auth_method: mac_auth
                      auth_state: authenticated
                      device_mac:
                      - '001122334455'
                      dhcp_client_identifier: MAC address 00155df6d500
                      dhcp_client_options:
                      - code: DHO_DHCP_MESSAGE_TYPE(53)
                        data: DHCPREQUEST
                      - code: DHO_DHCP_CLIENT_IDENTIFIER(61)
                        data: MAC address 00155df6d500
                      - code: DHO_DHCP_REQUESTED_ADDRESS(50)
                        data: 172.17.10.255
                      - code: DHO_DHCP_SERVER_IDENTIFIER(54)
                        data: 172.17.8.1
                      - code: DHO_DHCP_MAX_MESSAGE_SIZE(57)
                        data: '1280'
                      - code: DHO_DHCP_PARAMETER_REQUEST_LIST(55)
                        data: ' 1 3 6 12 15 28 43 180'
                      - code: DHO_VENDOR_CLASS_IDENTIFIER(60)
                        data: MSFT 5.0
                      - code: DHO_HOST_NAME(12)
                        data: ITS-VMMT0-D1N02
                      dhcp_fqdn: ITS-VMMT0-D1N02.mgthub.local
                      dhcp_hostname: ITS-VMMT0-D1N02
                      dhcp_request_params: 1 3 6 15 31 33 43 44 46 47 119 121 249 252
                      dhcp_vendor_class_identifier: MSFT 5.0
                      mac: '112233445566'
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      port_id:
                      - et-0/0/1
                      site_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      timestamp: 1571174567.807
                      vlan:
                      - 0
                      - 1001
                    start: 1648443400.8221116
                    total: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1648529800.8221116
                    limit: 1000
                    results:
                    - auth_method: mac_auth
                      auth_state: authenticated
                      device_mac:
                      - '001122334455'
                      dhcp_client_identifier: MAC address 00155df6d500
                      dhcp_client_options:
                      - code: DHO_DHCP_MESSAGE_TYPE(53)
                        data: DHCPREQUEST
                      - code: DHO_DHCP_CLIENT_IDENTIFIER(61)
                        data: MAC address 00155df6d500
                      - code: DHO_DHCP_REQUESTED_ADDRESS(50)
                        data: 172.17.10.255
                      - code: DHO_DHCP_SERVER_IDENTIFIER(54)
                        data: 172.17.8.1
                      - code: DHO_DHCP_MAX_MESSAGE_SIZE(57)
                        data: '1280'
                      - code: DHO_DHCP_PARAMETER_REQUEST_LIST(55)
                        data: ' 1 3 6 12 15 28 43 180'
                      - code: DHO_VENDOR_CLASS_IDENTIFIER(60)
                        data: MSFT 5.0
                      - code: DHO_HOST_NAME(12)
                        data: ITS-VMMT0-D1N02
                      dhcp_fqdn: ITS-VMMT0-D1N02.mgthub.local
                      dhcp_hostname: ITS-VMMT0-D1N02
                      dhcp_request_params: 1 3 6 15 31 33 43 44 46 47 119 121 249 252
                      dhcp_vendor_class_identifier: MSFT 5.0
                      mac: '112233445566'
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      port_id:
                      - et-0/0/1
                      site_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      timestamp: 1571174567.807
                      vlan:
                      - 0
                      - 1001
                    start: 1648443400.8221116
                    total: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    site_wired_clients_count_distinct:
      title: site_wired_clients_count_distinct
      enum:
      - mac
      - port_id
      - vlan
      type: string
      description: 'enum: `mac`, `port_id`, `vlan`'
    response_count:
      title: response_count
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        distinct:
          type: string
          description: Field used to group the count results
        end:
          type: integer
          description: Search window end timestamp for the count request, in epoch seconds
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of distinct count results requested
          contentEncoding: int32
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/count_result'
          description: Count results grouped by the distinct field
        start:
          type: integer
          description: Search window start timestamp for the count request, in epoch seconds
          contentEncoding: int32
        total:
          type: integer
          description: Number of distinct result buckets returned
          contentEncoding: int32
      description: Distinct count response for time-bounded search results
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    client_info_source:
      title: client_info_source
      enum:
      - lldp
      - mac
      type: string
      description: 'source from where the client was learned (lldp, mac). enum: `lldp`, `mac`'
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    wired_client_response:
      title: wired_client_response
      type: object
      properties:
        auth_method:
          type: string
          description: Method used to authenticate the wired client
          examples:
          - mac_auth
        auth_state:
          type: string
          description: State reported for wired client authentication
          examples:
          - authenticated
        device_mac:
          type: array
          items:
            type: string
          description: MAC addresses of switches or gateways where the wired client was observed
          readOnly: true
        device_mac_port:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/wired_client_response_device_mac_port_item'
          description: Per-port switch or gateway observations for the wired client
          readOnly: true
        dhcp_client_identifier:
          type: string
          description: Identifier value reported by the wired client in DHCP
          examples:
          - MAC address 00155df6d500
        dhcp_client_options:
          type: array
          items:
            $ref: '#/components/schemas/dhcp_client_option'
          description: DHCP options observed from the wired client
        dhcp_fqdn:
          type: string
          description: Fully qualified domain name reported by the wired client through DHCP
          examples:
          - ITS-VMMT0-D1N02.mgthub.local
        dhcp_hostname:
          type: string
          description: Hostname reported by the wired client through DHCP
          examples:
          - ITS-VMMT0-D1N02
        dhcp_request_params:
          type: string
          description: Parameter request list advertised by the wired client in DHCP
          examples:
          - 1 3 6 15 31 33 43 44 46 47 119 121 249 252
        dhcp_vendor_class_identifier:
          type: string
          description: Vendor class identifier reported by the wired client in DHCP
          examples:
          - MSFT 5.0
        ip:
          type: array
          items:
            type: string
          description: Client IP addresses observed for the wired client
          readOnly: true
        mac:
          type: string
          description: Client MAC address for the wired client record
          readOnly: true
        org_id:
          type: string
          description: Owning organization associated with the wired client record
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        port_id:
          type: array
          items:
            type: string
          description: Switch or gateway port identifiers where the wired client was observed
          readOnly: true
        site_id:
          type: string
          description: Mist site associated with the wired client record
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        timestamp:
          type: number
          description: Time when the wired client record was observed, in epoch seconds
          readOnly: true
        vlan:
          type: array
          items:
            type: integer
            contentEncoding: int32
          description: Client VLAN identifiers observed for the wired client
          readOnly: true
      description: Wired client record returned by a wired client search
    dhcp_client_option:
      title: dhcp_client_option
      type: object
      properties:
        code:
          type: string
          description: DHCP option code and option name
          examples:
          - DHO_DHCP_MESSAGE_TYPE(53)
        data:
          type: string
          description: Decoded value carried by the DHCP option
          examples:
          - DHCPREQUEST
      description: DHCP client option observed in a DHCP packet
    wired_client_response_device_mac_port_item:
      title: wired_client_response_device_mac_port_item
      type: object
      properties:
        device_mac:
          minLength: 1
          type: string
          description: Switch or gateway MAC address for this wired client observation
        ip:
          type: string
          description: Client IP address observed for this port entry
          readOnly: true
        port_id:
          type: string
          description: Interface identifier where the wired client was observed
          readOnly: true
        port_parent:
          type: string
          description: Parent interface or port group associated with this port entry
        start:
          type: string
          description: Time when this wired client observation began
          readOnly: true
        vlan:
          type: integer
          description: Client VLAN identifier observed for this port entry
          contentEncoding: int32
          readOnly: true
        when:
          type: string
          description: Time when this wired client port entry was recorded
          readOnly: true
      description: Switch or gateway port observation for a wired client
    search_wired_client:
      title: search_wired_client
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: number
          description: Upper bound timestamp of the wired client search window, in epoch seconds
        limit:
          type: integer
          description: Maximum number of wired client records returned by this page
          contentEncoding: int32
        next:
          type: string
          description: URL for the next page of wired client records, when more results are available
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/wired_client_response'
          description: Wired client records returned by the search response
        start:
          type: number
          description: Lower bound timestamp of the wired client search window, in epoch seconds
        total:
          type: integer
          description: Count of wired client records matching the search
          contentEncoding: int32
      description: Paginated response for wired client searches
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
