openapi: 3.2.0
info:
  title: Mist Constants Definitions API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Constants Definitions
  description: API Calls to retrieve constant values that can be used in different parts of the configuration
paths:
  /api/v1/const/ap_channels:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listApChannels
      description: Return supported AP radio channels for the requested country code, based on the regulatory domain used by Mist AP configuration.
      operationId: listApChannels
      parameters:
      - name: country_code
        in: query
        description: Country code, in two-character
        style: form
        explode: true
        schema:
          pattern: ^[a-zA-Z]{2}$
          type: string
          examples:
          - US
      responses:
        '200':
          description: AP Channels
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/const_ap_channel'
                - description: Country and regulatory-domain channel capabilities for AP radios
                  examples:
                  - band24_40mhz_allowed: true
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    band6_channels:
                      '160':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      '20':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      - 233
                      '40':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      '80':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      psc:
                      - 5
                      - 21
                      - 37
                      - 53
                      - 69
                      - 85
                      - 101
                      - 117
                      - 133
                      - 149
                      - 165
                      - 181
                      - 197
                      - 213
                      - 229
                    band6_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    band24_40mhz_allowed: true
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    band6_channels:
                      '160':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      '20':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      - 233
                      '40':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      '80':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      psc:
                      - 5
                      - 21
                      - 37
                      - 53
                      - 69
                      - 85
                      - 101
                      - 117
                      - 133
                      - 149
                      - 165
                      - 181
                      - 197
                      - 213
                      - 229
                    band6_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/const_ap_channel'
                - description: Country and regulatory-domain channel capabilities for AP radios
                  examples:
                  - band24_40mhz_allowed: true
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    band6_channels:
                      '160':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      '20':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      - 233
                      '40':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      '80':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      psc:
                      - 5
                      - 21
                      - 37
                      - 53
                      - 69
                      - 85
                      - 101
                      - 117
                      - 133
                      - 149
                      - 165
                      - 181
                      - 197
                      - 213
                      - 229
                    band6_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    band24_40mhz_allowed: true
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    band6_channels:
                      '160':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      '20':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      - 233
                      '40':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      - 225
                      - 229
                      '80':
                      - 1
                      - 5
                      - 9
                      - 13
                      - 17
                      - 21
                      - 25
                      - 29
                      - 33
                      - 37
                      - 41
                      - 45
                      - 49
                      - 53
                      - 57
                      - 61
                      - 65
                      - 69
                      - 73
                      - 77
                      - 81
                      - 85
                      - 89
                      - 93
                      - 97
                      - 101
                      - 105
                      - 109
                      - 113
                      - 117
                      - 121
                      - 125
                      - 129
                      - 133
                      - 137
                      - 141
                      - 145
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      - 181
                      - 185
                      - 189
                      - 193
                      - 197
                      - 201
                      - 205
                      - 209
                      - 213
                      - 217
                      - 221
                      psc:
                      - 5
                      - 21
                      - 37
                      - 53
                      - 69
                      - 85
                      - 101
                      - 117
                      - 133
                      - 149
                      - 165
                      - 181
                      - 197
                      - 213
                      - 229
                    band6_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/ap_esl_versions:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listApLEslVersions
      description: Return Electronic Shelf Label (ESL) firmware versions available per AP model.
      operationId: listApLEslVersions
      parameters: []
      responses:
        '200':
          description: List of Available AP ESL Versions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_ap_esl_version'
                description: Supported Electronic Shelf Label versions by AP model
                examples:
                - - esl_version: 2.5.1
                    model: AP34
                  - esl_version: 2.5.0
                    model: AP43
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - esl_version: 2.5.1
                    model: AP34
                  - esl_version: 2.5.0
                    model: AP43
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_ap_esl_version'
                description: Supported Electronic Shelf Label versions by AP model
                examples:
                - - esl_version: 2.5.1
                    model: AP34
                  - esl_version: 2.5.0
                    model: AP43
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - esl_version: 2.5.1
                    model: AP34
                  - esl_version: 2.5.0
                    model: AP43
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/ap_led_status:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listApLedDefinition
      description: Return AP LED status definitions, including the values used to describe LED behavior and the corresponding `error_code` value.
      operationId: listApLedDefinition
      parameters: []
      responses:
        '200':
          description: List of AP Led Status
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_ap_led'
                description: AP LED status and trouble-code definitions returned by the constants API
                examples:
                - - code: '01'
                    description: LED not working
                    key: LED_FAILURE
                    name: LED Failure
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - code: '01'
                    description: LED not working
                    key: LED_FAILURE
                    name: LED Failure
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_ap_led'
                description: AP LED status and trouble-code definitions returned by the constants API
                examples:
                - - code: '01'
                    description: LED not working
                    key: LED_FAILURE
                    name: LED Failure
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - code: '01'
                    description: LED not working
                    key: LED_FAILURE
                    name: LED Failure
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/app_categories:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listAppCategoryDefinitions
      description: Return supported application categories used for application identification, traffic classification, and policy matching.
      operationId: listAppCategoryDefinitions
      parameters: []
      responses:
        '200':
          description: List of Application Categories Definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_app_category_definition'
                description: Application category definitions returned by the constants API
                examples:
                - - display: Images
                    filters:
                      srx:
                      - Enhanced_Images_Media
                      - Enhanced_Web_Images
                      - Enhanced_Image_Servers
                    key: Images
                  - display: Standard
                    includes:
                    - Adult
                    - FileSharing
                    - Games
                    - Images
                    - Malware
                    - NewsAndReference
                    - Recreation
                    - Religion
                    - Security
                    - Sports
                    - Technology
                    - Violence
                    key: Standard
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: Images
                    filters:
                      srx:
                      - Enhanced_Images_Media
                      - Enhanced_Web_Images
                      - Enhanced_Image_Servers
                    key: Images
                  - display: Standard
                    includes:
                    - Adult
                    - FileSharing
                    - Games
                    - Images
                    - Malware
                    - NewsAndReference
                    - Recreation
                    - Religion
                    - Security
                    - Sports
                    - Technology
                    - Violence
                    key: Standard
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_app_category_definition'
                description: Application category definitions returned by the constants API
                examples:
                - - display: Images
                    filters:
                      srx:
                      - Enhanced_Images_Media
                      - Enhanced_Web_Images
                      - Enhanced_Image_Servers
                    key: Images
                  - display: Standard
                    includes:
                    - Adult
                    - FileSharing
                    - Games
                    - Images
                    - Malware
                    - NewsAndReference
                    - Recreation
                    - Religion
                    - Security
                    - Sports
                    - Technology
                    - Violence
                    key: Standard
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: Images
                    filters:
                      srx:
                      - Enhanced_Images_Media
                      - Enhanced_Web_Images
                      - Enhanced_Image_Servers
                    key: Images
                  - display: Standard
                    includes:
                    - Adult
                    - FileSharing
                    - Games
                    - Images
                    - Malware
                    - NewsAndReference
                    - Recreation
                    - Religion
                    - Security
                    - Sports
                    - Technology
                    - Violence
                    key: Standard
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/app_subcategories:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listAppSubCategoryDefinitions
      description: Return supported application subcategories used for application identification, traffic classification, and policy matching.
      operationId: listAppSubCategoryDefinitions
      parameters: []
      responses:
        '200':
          description: List of Application Sub-categories Definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_app_subcategory_definition'
                description: Application subcategory definitions returned by the constants API
                examples:
                - - display: Office Documents
                    key: Office_Documents
                    traffic_type: data_interactive
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: Office Documents
                    key: Office_Documents
                    traffic_type: data_interactive
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_app_subcategory_definition'
                description: Application subcategory definitions returned by the constants API
                examples:
                - - display: Office Documents
                    key: Office_Documents
                    traffic_type: data_interactive
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: Office Documents
                    key: Office_Documents
                    traffic_type: data_interactive
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/applications:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listApplications
      description: Return applications recognized by Juniper Mist devices for traffic classification and application analytics.
      operationId: listApplications
      parameters: []
      responses:
        '200':
          description: List of Applications
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_application_definition'
                description: Application definitions returned by the constants API
                examples:
                - - app_id: true
                    app_image_url: ''
                    app_probe: true
                    category: FileSharing
                    group: File Sharing
                    key: dropbox
                    name: Dropbox
                    signature_based: true
                    ssr_app_id: true
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - app_id: true
                    app_image_url: ''
                    app_probe: true
                    category: FileSharing
                    group: File Sharing
                    key: dropbox
                    name: Dropbox
                    signature_based: true
                    ssr_app_id: true
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_application_definition'
                description: Application definitions returned by the constants API
                examples:
                - - app_id: true
                    app_image_url: ''
                    app_probe: true
                    category: FileSharing
                    group: File Sharing
                    key: dropbox
                    name: Dropbox
                    signature_based: true
                    ssr_app_id: true
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - app_id: true
                    app_image_url: ''
                    app_probe: true
                    category: FileSharing
                    group: File Sharing
                    key: dropbox
                    name: Dropbox
                    signature_based: true
                    ssr_app_id: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/countries:
    parameters: []
    get:
      tags:
      - Constants Definitions
      summary: listCountryCodes
      description: Return supported country codes for Mist configuration. Set `extend=true` to include additional country codes when available.
      operationId: listCountryCodes
      parameters:
      - name: extend
        in: query
        description: Will include more country codes if true
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List of Countries
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_country'
                description: Country definitions returned by the constants API
                examples:
                - - alpha2: FR
                    certified: true
                    name: France
                    numeric: 250
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - alpha2: FR
                    certified: true
                    name: France
                    numeric: 250
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_country'
                description: Country definitions returned by the constants API
                examples:
                - - alpha2: FR
                    certified: true
                    name: France
                    numeric: 250
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - alpha2: FR
                    certified: true
                    name: France
                    numeric: 250
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
[...]
