openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist WLA Ns API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: WLANs
  description: Wireless LAN configuration
paths:
  /sites/{site_id}/wlans:
    get:
      operationId: listSiteWlans
      summary: Juniper Networks List WLANs
      description: Returns all WLANs configured at the specified site.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: List of WLANs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wlan'
    post:
      operationId: createSiteWlan
      summary: Juniper Networks Create WLAN
      description: Creates a new WLAN at the specified site.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Wlan'
      responses:
        '200':
          description: WLAN created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wlan'
        '400':
          $ref: '#/components/responses/BadRequest'
  /sites/{site_id}/wlans/{wlan_id}:
    get:
      operationId: getSiteWlan
      summary: Juniper Networks Get WLAN details
      description: Returns details for a specific WLAN.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/WlanId'
      responses:
        '200':
          description: WLAN details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wlan'
    put:
      operationId: updateSiteWlan
      summary: Juniper Networks Update WLAN
      description: Updates an existing WLAN configuration.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/WlanId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Wlan'
      responses:
        '200':
          description: WLAN updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wlan'
    delete:
      operationId: deleteSiteWlan
      summary: Juniper Networks Delete WLAN
      description: Deletes a WLAN from the site.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/WlanId'
      responses:
        '200':
          description: WLAN deleted
components:
  parameters:
    WlanId:
      name: wlan_id
      in: path
      required: true
      description: WLAN unique identifier
      schema:
        type: string
        format: uuid
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier
      schema:
        type: string
        format: uuid
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Error message
    Wlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        ssid:
          type: string
          description: SSID name
        enabled:
          type: boolean
        hide_ssid:
          type: boolean
          description: Whether to hide the SSID from beacon frames
        band:
          type: string
          enum:
          - '24'
          - '5'
          - '6'
          - both
        auth:
          type: object
          description: Authentication settings
          properties:
            type:
              type: string
              enum:
              - open
              - psk
              - eap
              - wep
              - psk-tkip
              - psk-wpa2-tkip
            psk:
              type: string
              description: Pre-shared key value
        vlan_enabled:
          type: boolean
        vlan_id:
          type: integer
        apply_to:
          type: string
          enum:
          - site
          - wxtags
          - aps
        created_time:
          type: number
        modified_time:
          type: number
  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
