openapi: 3.2.0
info:
  title: Mist Orgs Networks API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Networks
  description: A Network refers to a group or segment of users that are defined for use across the entire organization.
paths:
  /api/v1/orgs/{org_id}/networks:
    parameters: []
    get:
      tags:
      - Orgs Networks
      summary: listOrgNetworks
      description: List organization-level Layer 3 network definitions used for service routes and gateway or network template configuration.
      operationId: listOrgNetworks
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/network'
                description: List of organization network definitions
                examples:
                - - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f13
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.45
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f13
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.45
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/network'
                description: List of organization network definitions
                examples:
                - - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f13
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.45
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f13
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.45
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Networks
      summary: createOrgNetwork
      description: 'Create an organization network definition with subnet, gateway,

        VLAN, access, NAT, multicast, tenant, and VPN access settings used for service

        routes and gateway or network template configuration.


        Networks can be used

        - in the gateway configuration to define Layer 3 network settings and policies for traffic entering or leaving the gateway through a specific interface, such as a corporate LAN, guest Wi-Fi, or DMZ network.

        - in the service policies to allow or deny traffic matching the network or to apply specific inspection settings or steering rules.'
      operationId: createOrgNetwork
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/network'
              - examples:
                - disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  name: string
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses:
                      - 10.10.10.10.
                    property2:
                      addresses:
                      - 10.10.10.52
                  vlan_id: 10
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
              contentMediaType: application/json
            examples:
              Example:
                value:
                  disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  name: string
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses:
                      - 10.10.10.10.
                    property2:
                      addresses:
                      - 10.10.10.52
                  vlan_id: 10
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network'
                - description: Organization-level Layer 3 network definition that can be merged into site settings and used for service routes. Networks are used to define the service routes in the Gateway settings or templates
                  examples:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network'
                - description: Organization-level Layer 3 network definition that can be merged into site settings and used for service routes. Networks are used to define the service routes in the Gateway settings or templates
                  examples:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/networks/{network_id}:
    parameters: []
    delete:
      tags:
      - Orgs Networks
      summary: deleteOrgNetwork
      description: Delete an organization network definition by network ID so it can no longer be referenced by gateway or network template configuration.
      operationId: deleteOrgNetwork
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: network_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs Networks
      summary: getOrgNetwork
      description: Retrieve details for a specific organization network, including subnet, gateway, VLAN, access, NAT, multicast, tenant, and VPN access settings.
      operationId: getOrgNetwork
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: network_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network'
                - description: Organization-level Layer 3 network definition that can be merged into site settings and used for service routes. Networks are used to define the service routes in the Gateway settings or templates
                  examples:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network'
                - description: Organization-level Layer 3 network definition that can be merged into site settings and used for service routes. Networks are used to define the service routes in the Gateway settings or templates
                  examples:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Networks
      summary: updateOrgNetwork
      description: Update an organization network definition, including subnet, gateway, VLAN, access, NAT, multicast, tenant, and VPN access settings.
      operationId: updateOrgNetwork
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: network_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/network'
              - examples:
                - disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  name: string
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses:
                      - 10.10.10.10
                    property2:
                      addresses:
                      - 10.10.10.52
                  vlan_id: 10
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
              contentMediaType: application/json
            examples:
              Example:
                value:
                  disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: '443'
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  name: string
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses:
                      - 10.10.10.10
                    property2:
                      addresses:
                      - 10.10.10.52
                  vlan_id: 10
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.5/30
                          name: web server
                          port: '443'
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        external_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos_station-1
                      summarized_subnet: 172.16.0.0/16
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network'
                - description: Organization-level Layer 3 network definition that can be merged into site settings and used for service routes. Networks are used to define the service routes in the Gateway settings or templates
                  examples:
                  - created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                      enabled: true
                      restricted: false
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: printer-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: printer-1
                    isolation: true
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    subnet: 192.168.70.0/24
                    tenants:
                      property1:
                        addresses:
                        - 10.10.10.10
                      property2:
                        addresses:
                        - 10.10.10.52
                    vlan_id: 10
                    vpn_access:
                      property1:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                      property2:
                        allow_ping: true
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                          property2:
                            internal_ip: 192.168.70.5/30
                            name: web server
                            port: '443'
                        nat_pool: 172.16.0.0/26
                        routed: true
                        source_nat:
                          external_ip: 172.16.0.8/30
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: pos_station-1
                        summarized_subnet: 172.16.0.0/16
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    disallow_mist_services: false
                    gateway: 192.168.70.1
                    hosts:
                      property1:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                      property2:
                        external_ips: 172.16.10.32-172.16.10.35
                        ips: 192.168.70.32-192.168.70.35
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f12
                    internal_access:
                      enabled: true
                    internet_access:
                      create_simple_service_policy: false
                      destination_nat:
                        property1:
                          internal_ip: 192.168.70.30
                          name: web server
                          port: '443'
                        property2:
[...]
