openapi: 3.2.0
info:
  title: Mist Sites Devices - Wireless API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Devices - Wireless
  description: API Calls specific to the Mist Access Points
paths:
  /api/v1/sites/{site_id}/devices/ap_channels:
    parameters: []
    get:
      tags:
      - Sites Devices - Wireless
      summary: listSiteDeviceRadioChannels
      description: Get a list of allowed channels (per channel width)
      operationId: listSiteDeviceRadioChannels
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: country_code
        in: query
        description: Country code for the site (for AP config generation), in [two-character](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
        style: form
        explode: true
        schema:
          type: string
          examples:
          - US
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_device_radio_channels'
                - description: Country and regulatory-domain channel capabilities for AP radios
                  examples:
                  - band24_40mhz_allowed: false
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    band24_40mhz_allowed: false
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_device_radio_channels'
                - description: Country and regulatory-domain channel capabilities for AP radios
                  examples:
                  - band24_40mhz_allowed: false
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    band24_40mhz_allowed: false
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      outdoor:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                    band5_enabled: true
                    certified: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
                    uses: US_FCC
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/devices/{device_id}/iot:
    parameters: []
    get:
      tags:
      - Sites Devices - Wireless
      summary: getSiteDeviceIotPort
      description: Returns the current state of each enabled IoT pin configured as an output.
      operationId: getSiteDeviceIotPort
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
                description: Property key is the IoT port name (e.g. "A1"), value is the output state (0 or 1).
                examples:
                - A1: 1
                  DO: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    A1: 1
                    DO: 0
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
                description: Property key is the IoT port name (e.g. "A1"), value is the output state (0 or 1).
                examples:
                - A1: 1
                  DO: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    A1: 1
                    DO: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Sites Devices - Wireless
      summary: setSiteDeviceIotPort
      description: '**Note**: For each IoT pin referenced:

        * The pin must be enabled using the Device `iot_config` API

        * The pin must support the output direction'
      operationId: setSiteDeviceIotPort
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: integer
                format: int32
              description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
                description: Property key is the IoT port name (e.g. "A1"), value is the output state (0 or 1).
                examples:
                - A1: 1
                  DO: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    A1: 1
                    DO: 0
            application/vnd.api+json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
                description: Property key is the IoT port name (e.g. "A1"), value is the output state (0 or 1).
                examples:
                - A1: 1
                  DO: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    A1: 1
                    DO: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/devices/{device_id}/zigbee_event_trail:
    parameters: []
    post:
      tags:
      - Sites Devices - Wireless
      summary: startSiteDeviceZigbeeEventTrail
      description: Start a Zigbee event trail session on an AP. Returns a `session` that the UI can use to stream results.
      operationId: startSiteDeviceZigbeeEventTrail
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zigbee_trail_response'
                - description: Response containing the session identifier for a Zigbee event or packet trail operation
                  examples:
                  - session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zigbee_trail_response'
                - description: Response containing the session identifier for a Zigbee event or packet trail operation
                  examples:
                  - session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/devices/{device_id}/zigbee_join:
    parameters: []
    delete:
      tags:
      - Sites Devices - Wireless
      summary: stopSiteDeviceZigbeeJoin
      description: Stop allowing new Zigbee end devices to join the network through the specified AP.
      operationId: stopSiteDeviceZigbeeJoin
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Devices - Wireless
      summary: enableSiteDeviceZigbeeJoin
      description: 'Allow Zigbee end devices to join the network for a configurable duration. After the duration expires, new joins will be blocked (unless `allow_join`==`always` is configured on the device).


        #### Subscribe to Zigbee Join Events

        `WS /api-ws/v1/stream`


        ```json

        {

        "subscribe": "/sites/{site_id}/devices/{device_id}/zigbee_join"

        }

        ```

        ##### Example output from ws stream

        ```json

        {

        "event": "data",

        "channel": "/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd",

        "data": {

        "session": "19e73828-937f-05e6-f709-e29efdb0a82b",

        "zigbee_mac": "fd05eb86c04ac04a",

        "event_type": "associated",

        "detail": {

        "lqi": 180

        }

        }

        }

        ```'
      operationId: enableSiteDeviceZigbeeJoin
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/utils_zigbee_join'
              - description: Request Body
                examples:
                - duration: 600
              contentMediaType: application/json
            examples:
              Example:
                value:
                  duration: 600
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zigbee_join_response'
                - description: Response containing the session identifier for a Zigbee join operation
                  examples:
                  - session_id: 19e73828-937f-05e6-f709-e29efdb0a82b
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    session_id: 19e73828-937f-05e6-f709-e29efdb0a82b
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zigbee_join_response'
                - description: Response containing the session identifier for a Zigbee join operation
                  examples:
                  - session_id: 19e73828-937f-05e6-f709-e29efdb0a82b
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    session_id: 19e73828-937f-05e6-f709-e29efdb0a82b
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/devices/{device_id}/zigbee_kick:
    parameters: []
    post:
      tags:
      - Sites Devices - Wireless
      summary: kickSiteDeviceZigbeeClients
      description: Kick one or more Zigbee clients from a Zigbee-enabled AP. The AP must be connected.
      operationId: kickSiteDeviceZigbeeClients
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/utils_zigbee_kick'
              - description: Request Body
                examples:
                - macs:
                  - 00177a01060cae9f
                  - 00177a01060caea1
              contentMediaType: application/json
            examples:
              Example:
                value:
                  macs:
                  - 00177a01060cae9f
                  - 00177a01060caea1
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/devices/{device_id}/zigbee_packet_trail:
    parameters: []
    post:
      tags:
      - Sites Devices - Wireless
      summary: startSiteDeviceZigbeePacketTrail
      description: Start a Zigbee packet trail session on an AP. Returns a `session` that the UI can use to stream results.
      operationId: startSiteDeviceZigbeePacketTrail
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zigbee_trail_response'
                - description: Response containing the session identifier for a Zigbee event or packet trail operation
                  examples:
                  - session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zigbee_trail_response'
                - description: Response containing the session identifier for a Zigbee event or packet trail operation
                  examples:
                  - session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    session: 7a5f7796-83ee-11e5-95c6-1258369c38a9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    utils_zigbee_join:
      title: utils_zigbee_join
      type: object
      properties:
        duration:
          maximum: 600
          minimum: 60
          type: integer
          description: Number of seconds to permit new Zigbee end-device joins; range is 60-600
          contentEncoding: int32
          default: 600
      description: Request body for temporarily allowing Zigbee end-device joins
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    zigbee_join_response:
      title: zigbee_join_response
      type: object
      properties:
        session_id:
          type: string
          description: Session ID for the Zigbee join operation
          contentEncoding: uuid
          examples:
          - 19e73828-937f-05e6-f709-e29efdb0a82b
      description: Response containing the session identifier for a Zigbee join operation
    response_device_radio_channels:
      title: response_device_radio_channels
      required:
      - band24_40mhz_allowed
      - band24_channels
      - band24_enabled
      - band5_channels
      - band5_enabled
      - certified
      - code
      - dfs_ok
      - key
      - name
      - uses
      type: object
      properties:
        band24_40mhz_allowed:
          type: boolean
          description: Whether 40 MHz channels are allowed on the 2.4 GHz band
        band24_channels:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
              format: int32
            description: Allowed 2.4 GHz channels for this country or regulatory domain
            example:
              '20':
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              '40':
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
          description: Allowed 2.4 GHz channels for this country or regulatory domain
          examples:
          - '20':
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            '40':
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
        band24_enabled:
          type: boolean
          description: Whether the 2.4 GHz band is enabled for this country or regulatory domain
        band5_channels:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
              format: int32
            description: Allowed 5 GHz channels for this country or regulatory domain
            example:
              '20':
              - 36
              - 40
              - 44
              - 48
              - 52
              - 56
              - 60
              - 64
              - 100
              - 104
              - 108
              - 112
              - 116
              - 120
              - 124
              - 128
              - 132
              - 136
              - 140
              - 144
              - 149
              - 153
              - 157
              - 161
              - 165
              '40':
              - 36
              - 40
              - 44
              - 48
              - 52
              - 56
              - 60
              - 64
              - 100
              - 104
              - 108
              - 112
              - 116
              - 120
              - 124
              - 128
              - 132
              - 136
              - 140
              - 144
              - 149
              - 153
              - 157
              - 161
              '80':
              - 36
              - 40
              - 44
              - 48
              - 52
              - 56
              - 60
              - 64
              - 100
              - 104
              - 108
              - 112
              - 116
              - 120
              - 124
              - 128
              - 132
              - 136
              - 140
              - 144
              - 149
              - 153
              - 157
              - 161
              dfs:
              - 52
              - 56
              - 60
              - 64
              - 100
              - 104
              - 108
              - 112
              - 116
              - 120
              - 124
              - 128
              - 132
              - 136
              - 140
              - 144
              outdoor:
              - 36
              - 40
              - 44
              - 48
              - 52
              - 56
              - 60
              - 64
              - 100
              - 104
              - 108
              - 112
              - 116
              - 120
              - 124
              - 128
              - 132
              - 136
              - 140
              - 144
              - 149
              - 153
              - 157
              - 161
              - 165
          description: Allowed 5 GHz channels for this country or regulatory domain
          examples:
          - '20':
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            - 165
            '40':
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            '80':
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            dfs:
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            outdoor:
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            - 165
        band5_enabled:
          type: boolean
          description: Whether the 5 GHz band is enabled for this country or regulatory domain
        band6_channels:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
              format: int32
            description: Allowed 6 GHz channels for this country or regulatory domain
            example:
              '160':
              - 1
              - 5
              - 9
              - 13
              - 17
              - 21
              - 25
              - 29
              - 33
              - 37
              - 41
              - 45
              - 49
              - 53
              - 57
              - 61
              - 65
              - 69
              - 73
              - 77
              - 81
              - 85
              - 89
              - 93
              - 97
              - 101
              - 105
              - 109
              - 113
              - 117
              - 121
              - 125
              - 129
              - 133
              - 137
              - 141
              - 145
              - 149
              - 153
              - 157
              - 161
              - 165
              - 169
              - 173
              - 177
              - 181
              - 185
              - 189
              - 193
              - 197
              - 201
              - 205
              - 209
              - 213
              - 217
              - 221
              '20':
              - 1
              - 5
              - 9
              - 13
              - 17
              - 21
              - 25
              - 29
              - 33
              - 37
              - 41
              - 45
              - 49
              - 53
              - 57
              - 61
              - 65
              - 69
              - 73
              - 77
              - 81
              - 85
              - 89
              - 93
              - 97
              - 101
              - 105
              - 109
              - 113
              - 117
              - 121
              - 125
              - 129
              - 133
              - 137
              - 141
              - 145
              - 149
              - 153
              - 157
              - 161
              - 165
              - 169
              - 173
              - 177
              - 181
              - 185
              - 189
              - 193
              - 197
              - 201
              - 205
              - 209
              - 213
              - 217
              - 221
              - 225
              - 229
              - 233
              '40':
              - 1
              - 5
              - 9
              - 13
              - 17
              - 21
              - 25
              - 29
              - 33
              - 37
              - 41
              - 45
              - 49
              - 53
              - 57
              - 61
              - 65
              - 69
              - 73
              - 77
              - 81
              - 85
              - 89
              - 93
              - 97
              - 101
              - 105
              - 109
              - 113
              - 117
              - 121
              - 125
              - 129
              - 133
              - 137
              - 141
              - 145
              - 149
              - 153
              - 157
              - 161
              - 165
              - 169
              - 173
              - 177
              - 181
              - 185
              - 189
              - 193
              - 197
              - 201
              - 205
              - 209
              - 213
              - 217
              - 221
              - 225
              - 229
              '80':
              - 1
              - 5
              - 9
              - 13
              - 17
              - 21
              - 25
              - 29
              - 33
              - 37
              - 41
              - 45
              - 49
              - 53
              - 57
              - 61
              - 65
              - 69
              - 73
              - 77
              - 81
              - 85
              - 89
              - 93
              - 97
              - 101
              - 105
              - 109
              - 113
              - 117
              - 121
              - 125
              - 129
              - 133
              - 137
              - 141
              - 145
              - 149
              - 153
              - 157
              - 161
              - 165
              - 169
              - 173
              - 177
              - 181
              - 185
              - 189
              - 193
              - 197
              - 201
              - 205
              - 209
              - 213
              - 217
              - 221
              psc:
              - 5
              - 21
              - 37
              - 53
              - 69
              - 85
              - 101
              - 117
              - 133
              - 149
              - 165
              - 181
              - 197
              - 213
              - 229
          description: Allowed 6 GHz channels for this country or regulatory domain
          examples:
          - '160':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            '20':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            - 225
            - 229
            - 233
            '40':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            - 225
            - 229
            '80':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            psc:
            - 5
            - 21
            - 37
            - 53
            - 69
            - 85
            - 101
            - 117
            - 133
            - 149
            - 165
            - 181
            - 197
            - 213
            - 229
        band6_enabled:
          type: boolean
          description: Whether the 6 GHz band is enabled for this country or regulatory domain
        certified:
          type: boolean
          description: Whether AP operation is certified for this country or regulatory domain
        code:
          type: integer
          description: Country code in ISO 3166-1 numeric format
          contentEncoding: int32
        dfs_ok:
          type: boolean
          description: Whether DFS channels are allowed in this country or regulatory domain
        key:
          type: string
          description: Two-character ISO 3166-1 country code
        name:
          type: string
          description: Country or regulatory-domain display name
        uses:
          type: string
          description: Regulatory ruleset used for AP channel validation
      description: Country and regulatory-domain channel capabilities for AP radios
    zigbee_trail_response:
      title: zigbee_trail_response
      type: object
      properties:
        session:
          type: string
          description: Session ID the UI can use to stream trail results
          contentEncoding: uuid
          examples:
          - 7a5f7796-83ee-11e5-95c6-1258369c38a9
      description: Response containing the session identifier for a Zigbee event or packet trail operation
    utils_zigbee_kick:
      title: utils_zigbee_kick
      required:
      - macs
      type: object
      properties:
        macs:
          minItems: 1
          type: array
          items:
            type: string
          description: One or more Zigbee EUI-64 (8-byte) MACs. Accepts colon-separated (`00:17:7a:01:06:0c:ae:9f`) or plain hex (`00177a01060cae9f`). Must be non-empty.
          examples:
          - - 00177a01060cae9f
            - 00177a01060caea1
      description: Request body for kicking one or more Zigbee clients from an AP
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http400:
[...]
