openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Insights API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Insights
  description: AI-driven analytics and insights
paths:
  /sites/{site_id}/insights/stats:
    get:
      operationId: getSiteInsights
      summary: Juniper Networks Get site AI insights
      description: Returns AI-driven insights and analytics for the site, including anomaly detection, Service Level Expectations (SLE), and recommendations.
      tags:
      - Insights
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - name: metric
        in: query
        description: Specific insight metric to retrieve
        schema:
          type: string
          enum:
          - time-to-connect
          - throughput
          - coverage
          - capacity
          - roaming
      responses:
        '200':
          description: Site insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteInsights'
components:
  schemas:
    SiteInsights:
      type: object
      properties:
        site_id:
          type: string
          format: uuid
        metrics:
          type: object
          properties:
            time_to_connect:
              type: object
              properties:
                total:
                  type: number
                user_minutes:
                  type: number
            throughput:
              type: object
              properties:
                download:
                  type: number
                upload:
                  type: number
            coverage:
              type: object
              properties:
                avg_rssi:
                  type: number
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
