openapi: 3.2.0
info:
  title: Mist Sites Stats - Calls API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - Calls
  description: API Calls to retrieve the stats of the calls (Zoom/Teams) detected by Mist
paths:
  /api/v1/sites/{site_id}/stats/calls/client/{client_mac}/troubleshoot:
    parameters: []
    get:
      tags:
      - Sites Stats - Calls
      summary: troubleshootSiteCall
      description: Troubleshoot a call
      operationId: troubleshootSiteCall
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: client_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      - name: meeting_id
        in: query
        description: Filter results by meeting identifier
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 1234567890abcdef
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '001122334455'
      - name: app
        in: query
        description: Third party app name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - zoom
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/call_troubleshoot'
                - description: Detailed call troubleshooting response
                  examples:
                  - mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      audio_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 1.00566701889e-06
                      site_wan_rtt: 4.0566701889e-07
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      video_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      audio_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 1.00566701889e-06
                      site_wan_rtt: 4.0566701889e-07
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      video_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/call_troubleshoot'
                - description: Detailed call troubleshooting response
                  examples:
                  - mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      audio_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 1.00566701889e-06
                      site_wan_rtt: 4.0566701889e-07
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      video_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      audio_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 1.00566701889e-06
                      site_wan_rtt: 4.0566701889e-07
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
                      video_out:
                        ap_num_clients: -0.6565111
                        ap_rtt: 0.16559607
                        client_cpu: 3.7028809
                        client_n_streams: 0.15803306
                        client_radio_band: 0.5576923
                        client_rssi: -1.0839354
                        client_rx_bytes: 2.2622051
                        client_rx_rates: 0.62357205
                        client_rx_retries: 0.26726437
                        client_tx_bytes: 0.15803306
                        client_tx_rates: 0.62357205
                        client_tx_retries: 0.77553505
                        client_vpn_distance: 1.6474955
                        client_wifi_version: 0.18267937
                        expected: 30.941595
                        radio_bandwidth: -0.06538621
                        radio_channel: -0.73391086
                        radio_tx_power: 0.10027129
                        radio_util: 12.770318
                        radio_util_interference: -3.079999
                        site_num_clients: 0.017364305
                        wan_avg_download_mbps: 1.4803165
                        wan_avg_upload_mbps: -0.038184267
                        wan_jitter: 5.9680853
                        wan_max_download_mbps: 1.4803165
                        wan_max_upload_mbps: -0.038184267
                        wan_rtt: 46.77899
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/calls/count:
    parameters: []
    get:
      tags:
      - Sites Stats - Calls
      summary: countSiteCalls
      description: Count by Distinct Attributes of Calls
      operationId: countSiteCalls
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `mac`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/count_site_calls_distinct'
          - description: 'Field used to group this count response. enum: `mac`'
      - name: rating
        in: query
        description: Feedback rating (e.g. "rating=1" or "rating=1,2")
        style: form
        explode: true
        schema:
          maximum: 5
          minimum: 1
          type: integer
          contentEncoding: int32
          examples:
          - 5
      - name: app
        in: query
        description: Filter application statistics by application name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - zoom
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/calls/search:
    parameters: []
    get:
      tags:
      - Sites Stats - Calls
      summary: searchSiteCalls
      description: Search Calls
      operationId: searchSiteCalls
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '001122334455'
      - name: app
        in: query
        description: Third party app name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - zoom
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_stats_calls'
                - description: Paginated response for site call statistics search results
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_stats_calls'
                - description: Paginated response for site call statistics search results
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/calls/summary:
    parameters: []
    get:
      tags:
      - Sites Stats - Calls
      summary: getSiteCallsSummary
      description: Summarized, aggregated stats for the site calls
      operationId: getSiteCallsSummary
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: ap_mac
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '001122334455'
      - name: app
        in: query
        description: Filter results by application name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - zoom
      - name: wired
        in: query
        description: Filter results by whether the client is wired
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - false
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_stats_calls_summary'
                - description: Aggregated site call statistics summary
                  examples:
                  - bad_minutes: 5566
                    bad_minutes_client: 526
                    bad_minutes_site_wan: 3612
                    bad_minutes_wireless: 1428
                    num_aps: 1
                    num_users: 3
                    total_minutes: 575217
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    bad_minutes: 5566
                    bad_minutes_client: 526
                    bad_minutes_site_wan: 3612
                    bad_minutes_wireless: 1428
                    num_aps: 1
                    num_users: 3
                    total_minutes: 575217
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_stats_calls_summary'
                - description: Aggregated site call statistics summary
                  examples:
                  - bad_minutes: 5566
                    bad_minutes_client: 526
                    bad_minutes_site_wan: 3612
                    bad_minutes_wireless: 1428
                    num_aps: 1
                    num_users: 3
                    total_minutes: 575217
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    bad_minutes: 5566
                    bad_minutes_client: 526
                    bad_minutes_site_wan: 3612
                    bad_minutes_wireless: 1428
                    num_aps: 1
                    num_users: 3
                    total_minutes: 575217
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/calls/troubleshoot:
    parameters: []
    get:
      tags:
      - Sites Stats - Calls
      summary: listSiteTroubleshootCalls
      description: Summary of calls troubleshoot by site
      operationId: listSiteTroubleshootCalls
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '001122334455'
      - name: meeting_id
        in: query
        description: Filter results by meeting identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 1234567890abcdef
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '001122334455'
      - name: app
        in: query
        description: Third party app name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - zoom
      - name: wired
        in: query
        description: Filter results by whether the client is wired
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - false
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_call_troubleshoot_summary'
                - description: Site call troubleshooting summary response
                  examples:
                  - mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      audio_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 0.7875519659784105
                      site_wan_rtt: 15.094849904378256
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      video_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      audio_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 0.7875519659784105
                      site_wan_rtt: 15.094849904378256
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      video_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_call_troubleshoot_summary'
                - description: Site call troubleshooting summary response
                  examples:
                  - mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      audio_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 0.7875519659784105
                      site_wan_rtt: 15.094849904378256
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      video_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    mac: 983a78ea4a44
                    meeting_id: b784d744-9a7c-4fad-9af0-f78858a319b1
                    results:
                    - ap_num_clients: -0.08802365511655807
                      ap_rtt: 0.09924473613500595
                      audio_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      audio_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      client_cpu: 0.00834270566701889
                      client_n_streams: 0.00734270566701889
                      client_radio_band: 0.5841414928436279
                      client_rssi: 0.7594696879386902
                      client_rx_bytes: 2.365511655807e-05
                      client_rx_rates: 0.02441493794322014
                      client_rx_retries: -0.14325742423534393
                      client_tx_bytes: 0.00102365511655807
                      client_tx_rates: 0.22236637771129608
                      client_tx_retries: 0.3308201730251312
                      client_vpn_distance: -0.0001660545531194657
                      client_wifi_version: 7.0566701889e-07
                      expected: -2.8630001056670187
                      radio_ap_change: 0.01850946433842182
                      radio_bandwidth: -0.021175479516386986
                      radio_channel: 0.11686426401138306
                      radio_rx_failed: 1.1782013177871704
                      radio_tx_power: 0.121039018034935
                      radio_util: 0.2452986091375351
                      radio_util_interference: 3.4367904663085938
                      site_num_clients: 0.055026158690452576
                      site_wan_avg_download_mbps: 3.0566701889e-07
                      site_wan_avg_upload_mbps: 5.566701889e-08
                      site_wan_download_mbps: 8.0566701889e-07
                      site_wan_jitter: 0.7875519659784105
                      site_wan_rtt: 15.094849904378256
                      site_wan_upload_mbps: 2.0566701889e-07
                      timestamp: 1695425115
                      video_in:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
                      video_out:
                        ap_num_clients: 45.48306793636746
                        ap_rtt: 6.352042701509264
                        client_cpu: 9.323452578650581
                        client_radio_band: 0.5841414928436279
                        client_rssi: 17.251008563571506
                        client_tx_bytes: 1.8379177401463191
                        client_tx_rates: 10.668423069847954
                        client_tx_retries: 43.323209603627525
                        client_vpn_distance: 112.4420166015625
                        expected: 29.74261474609375
                        radio_bandwidth: -0.1533682727151447
                        radio_channel: 0.662909648484654
                        radio_util: 27.891777674357098
                        radio_util_interference: 4.38913492154744
                        site_num_clients: -0.2855822932389047
                        site_wan_avg_upload_mbps: -0.988989942603641
                        site_wan_jitter: 0.7875519659784105
                        site_wan_rtt: 15.094849904378256
                        site_wan_upload_mbps: -0.8131117953194512
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
[...]
