openapi: 3.2.0
info:
  title: Mist Orgs Stats - MxEdges API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Stats - MxEdges
  description: API Calls to retrieve statistics about the Mist Edges at the Org level
paths:
  /api/v1/orgs/{org_id}/stats/mxedges:
    parameters: []
    get:
      tags:
      - Orgs Stats - MxEdges
      summary: listOrgMxEdgesStats
      description: Get List of Org MxEdge Stats
      operationId: listOrgMxEdgesStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: for_site
        in: query
        description: 'Filter for site level Mist Edges. enum: `any`, `true`, `false`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/for_site'
          - description: 'Filter for site level Mist Edges. enum: `any`, `true`, `false`'
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_mxedge'
                description: Mist Edge statistics records returned by a stats response
                examples:
                - - cpu_stat:
                      cpus:
                        property1:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                        property2:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                      idle: 0
                      interrupt: 0
                      system: 0
                      usage: 0
                      user: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ip_stat:
                      ip: string
                      ips:
                        property1: string
                        property2: string
                    lag_stat:
                      property1:
                        active_ports:
                        - string
                      property2:
                        active_ports:
                        - string
                    last_seen: 0
                    magic: string
                    memory_stat:
                      active: 0
                      available: 0
                      buffers: 0
                      cached: 0
                      free: 0
                      inactive: 0
                      swap_cached: 0
                      swap_free: 0
                      swap_total: 0
                      total: 0
                      usage: 0
                    model: string
                    mxagent_registered: true
                    mxcluster_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_tunnels: 0
                    port_stat:
                      property1:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                      property2:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                    status: string
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: true
                    uptime: 0
                    virtualization_type: string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - cpu_stat:
                      cpus:
                        property1:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                        property2:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                      idle: 0
                      interrupt: 0
                      system: 0
                      usage: 0
                      user: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ip_stat:
                      ip: string
                      ips:
                        property1: string
                        property2: string
                    lag_stat:
                      property1:
                        active_ports:
                        - string
                      property2:
                        active_ports:
                        - string
                    last_seen: 0
                    magic: string
                    memory_stat:
                      active: 0
                      available: 0
                      buffers: 0
                      cached: 0
                      free: 0
                      inactive: 0
                      swap_cached: 0
                      swap_free: 0
                      swap_total: 0
                      total: 0
                      usage: 0
                    model: string
                    mxagent_registered: true
                    mxcluster_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_tunnels: 0
                    port_stat:
                      property1:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                      property2:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                    status: string
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: true
                    uptime: 0
                    virtualization_type: string
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_mxedge'
                description: Mist Edge statistics records returned by a stats response
                examples:
                - - cpu_stat:
                      cpus:
                        property1:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                        property2:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                      idle: 0
                      interrupt: 0
                      system: 0
                      usage: 0
                      user: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ip_stat:
                      ip: string
                      ips:
                        property1: string
                        property2: string
                    lag_stat:
                      property1:
                        active_ports:
                        - string
                      property2:
                        active_ports:
                        - string
                    last_seen: 0
                    magic: string
                    memory_stat:
                      active: 0
                      available: 0
                      buffers: 0
                      cached: 0
                      free: 0
                      inactive: 0
                      swap_cached: 0
                      swap_free: 0
                      swap_total: 0
                      total: 0
                      usage: 0
                    model: string
                    mxagent_registered: true
                    mxcluster_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_tunnels: 0
                    port_stat:
                      property1:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                      property2:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                    status: string
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: true
                    uptime: 0
                    virtualization_type: string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - cpu_stat:
                      cpus:
                        property1:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                        property2:
                          idle: 0
                          interrupt: 0
                          system: 0
                          usage: 0
                          user: 0
                      idle: 0
                      interrupt: 0
                      system: 0
                      usage: 0
                      user: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ip_stat:
                      ip: string
                      ips:
                        property1: string
                        property2: string
                    lag_stat:
                      property1:
                        active_ports:
                        - string
                      property2:
                        active_ports:
                        - string
                    last_seen: 0
                    magic: string
                    memory_stat:
                      active: 0
                      available: 0
                      buffers: 0
                      cached: 0
                      free: 0
                      inactive: 0
                      swap_cached: 0
                      swap_free: 0
                      swap_total: 0
                      total: 0
                      usage: 0
                    model: string
                    mxagent_registered: true
                    mxcluster_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_tunnels: 0
                    port_stat:
                      property1:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                      property2:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: string
                          port_desc: string
                          port_id: string
                          system_desc: string
                          system_name: string
                        rx_bytes: 0
                        rx_errors: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                    status: string
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: true
                    uptime: 0
                    virtualization_type: string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/stats/mxedges/{mxedge_id}:
    parameters: []
    get:
      tags:
      - Orgs Stats - MxEdges
      summary: getOrgMxEdgeStats
      description: Get Org MxEdge Details Stats
      operationId: getOrgMxEdgeStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mxedge_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: for_site
        in: query
        description: Filter results by whether the object is scoped to a site
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: MxEdge Stats
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_mxedge'
                - description: Statistics for a Mist Edge appliance returned by stats endpoints
                  examples:
                  - cpu_stat:
                      cpus:
                        cpu0:
                          idle: 89
                          interrupt: 0
                          system: 8
                          usage: 10
                          user: 1
                        cpu1:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu2:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu3:
                          idle: 2
                          interrupt: 0
                          system: 50
                          usage: 97
                          user: 46
                      idle: 62
                      interrupt: 0
                      system: 17
                      usage: 37
                      user: 19
                    created_time: 1632684398
                    for_site: false
                    id: 00000000-0000-0000-1000-020000a80cb4
                    inactive_vlan_strs:
                      wired:
                      - '100'
                      - 102-106
                    ip_stat:
                      ip: 192.168.1.244
                      ips:
                        ens18: 192.168.1.244/24,fe80::104c:ffff:fee0:caf8/64
                      macs:
                        ens18: e4434b217044
                    lag_stat:
                      lacp0:
                        active_ports:
                        - port0
                        - port1
                    last_seen: 1633721215
                    mac: 020000a80cb4
                    memory_stat:
                      active: 394936320
                      available: 4699291648
                      buffers: 107646976
                      cached: 478060544
                      free: 4330659840
                      inactive: 211980288
                      swap_cached: 0
                      swap_free: 1022357504
                      swap_total: 1022357504
                      total: 8365957120
                      usage: 48
                    model: ME-VM
                    modified_time: 1633643629
                    mxagent_registered: true
                    mxcluster_id: 678bc339-7635-4556-bbc0-e77ad493ef8b
                    name: me-vm-1
                    num_tunnels: 0
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 1.1.1.1
                      gateway: 10.0.0.1
                      ip: 10.0.0.10
                      netmask: 255.255.255.0
                      type: static
                    org_id: 11b08247-b1ee-4152-9b25-312b323ce480
                    port_stat:
                      port0:
                        full_duplex: true
                        mac: 9e294e49091d
                        rx_bytes: 646898375700
                        rx_errors: 0
                        rx_pkts: 8784449574
                        speed: 10000
                        state: forwarding
                        tx_bytes: 647200748038
                        tx_errors: 0
                        tx_pkts: 8788647466
                        up: true
                      port1:
                        full_duplex: true
                        mac: a270fe53437e
                        rx_bytes: 647200437652
                        rx_errors: 0
                        rx_pkts: 8788644886
                        speed: 10000
                        state: forwarding
                        tx_bytes: 646898681650
                        tx_errors: 0
                        tx_pkts: 8784452092
                        up: true
                    serial: string
                    service_stat:
                      mxagent:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721215
                        package_state: Installed
                        package_version: 3.1.1037-1
                        running_state: Running
                        uptime: 21240
                      tunterm:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721203
                        package_state: Installed
                        package_version: 0.1.2449+deb10
                        running_state: Running
                        uptime: 76261
                    services:
                    - tunterm
                    site_id: 00000000-0000-0000-0000-000000000000
                    status: connected
                    tunterm_ip_config:
                      gateway: 192.168.11.1
                      ip: 192.168.11.91
                      netmask: 255.255.255.0
                    tunterm_port_config:
                      downstream_ports:
                      - '0'
                      - '1'
                      separate_upstream_downstream: false
                      upstream_ports:
                      - '0'
                      - '1'
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 76281
                    virtualization_type: KVM
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    cpu_stat:
                      cpus:
                        cpu0:
                          idle: 89
                          interrupt: 0
                          system: 8
                          usage: 10
                          user: 1
                        cpu1:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu2:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu3:
                          idle: 2
                          interrupt: 0
                          system: 50
                          usage: 97
                          user: 46
                      idle: 62
                      interrupt: 0
                      system: 17
                      usage: 37
                      user: 19
                    created_time: 1632684398
                    for_site: false
                    id: 00000000-0000-0000-1000-020000a80cb4
                    inactive_vlan_strs:
                      wired:
                      - '100'
                      - 102-106
                    ip_stat:
                      ip: 192.168.1.244
                      ips:
                        ens18: 192.168.1.244/24,fe80::104c:ffff:fee0:caf8/64
                      macs:
                        ens18: e4434b217044
                    lag_stat:
                      lacp0:
                        active_ports:
                        - port0
                        - port1
                    last_seen: 1633721215
                    mac: 020000a80cb4
                    memory_stat:
                      active: 394936320
                      available: 4699291648
                      buffers: 107646976
                      cached: 478060544
                      free: 4330659840
                      inactive: 211980288
                      swap_cached: 0
                      swap_free: 1022357504
                      swap_total: 1022357504
                      total: 8365957120
                      usage: 48
                    model: ME-VM
                    modified_time: 1633643629
                    mxagent_registered: true
                    mxcluster_id: 678bc339-7635-4556-bbc0-e77ad493ef8b
                    name: me-vm-1
                    num_tunnels: 0
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 1.1.1.1
                      gateway: 10.0.0.1
                      ip: 10.0.0.10
                      netmask: 255.255.255.0
                      type: static
                    org_id: 11b08247-b1ee-4152-9b25-312b323ce480
                    port_stat:
                      port0:
                        full_duplex: true
                        mac: 9e294e49091d
                        rx_bytes: 646898375700
                        rx_errors: 0
                        rx_pkts: 8784449574
                        speed: 10000
                        state: forwarding
                        tx_bytes: 647200748038
                        tx_errors: 0
                        tx_pkts: 8788647466
                        up: true
                      port1:
                        full_duplex: true
                        mac: a270fe53437e
                        rx_bytes: 647200437652
                        rx_errors: 0
                        rx_pkts: 8788644886
                        speed: 10000
                        state: forwarding
                        tx_bytes: 646898681650
                        tx_errors: 0
                        tx_pkts: 8784452092
                        up: true
                    serial: string
                    service_stat:
                      mxagent:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721215
                        package_state: Installed
                        package_version: 3.1.1037-1
                        running_state: Running
                        uptime: 21240
                      tunterm:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721203
                        package_state: Installed
                        package_version: 0.1.2449+deb10
                        running_state: Running
                        uptime: 76261
                    services:
                    - tunterm
                    site_id: 00000000-0000-0000-0000-000000000000
                    status: connected
                    tunterm_ip_config:
                      gateway: 192.168.11.1
                      ip: 192.168.11.91
                      netmask: 255.255.255.0
                    tunterm_port_config:
                      downstream_ports:
                      - '0'
                      - '1'
                      separate_upstream_downstream: false
                      upstream_ports:
                      - '0'
                      - '1'
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 76281
                    virtualization_type: KVM
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_mxedge'
                - description: Statistics for a Mist Edge appliance returned by stats endpoints
                  examples:
                  - cpu_stat:
                      cpus:
                        cpu0:
                          idle: 89
                          interrupt: 0
                          system: 8
                          usage: 10
                          user: 1
                        cpu1:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu2:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu3:
                          idle: 2
                          interrupt: 0
                          system: 50
                          usage: 97
                          user: 46
                      idle: 62
                      interrupt: 0
                      system: 17
                      usage: 37
                      user: 19
                    created_time: 1632684398
                    for_site: false
                    id: 00000000-0000-0000-1000-020000a80cb4
                    inactive_vlan_strs:
                      wired:
                      - '100'
                      - 102-106
                    ip_stat:
                      ip: 192.168.1.244
                      ips:
                        ens18: 192.168.1.244/24,fe80::104c:ffff:fee0:caf8/64
                      macs:
                        ens18: e4434b217044
                    lag_stat:
                      lacp0:
                        active_ports:
                        - port0
                        - port1
                    last_seen: 1633721215
                    mac: 020000a80cb4
                    memory_stat:
                      active: 394936320
                      available: 4699291648
                      buffers: 107646976
                      cached: 478060544
                      free: 4330659840
                      inactive: 211980288
                      swap_cached: 0
                      swap_free: 1022357504
                      swap_total: 1022357504
                      total: 8365957120
                      usage: 48
                    model: ME-VM
                    modified_time: 1633643629
                    mxagent_registered: true
                    mxcluster_id: 678bc339-7635-4556-bbc0-e77ad493ef8b
                    name: me-vm-1
                    num_tunnels: 0
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 1.1.1.1
                      gateway: 10.0.0.1
                      ip: 10.0.0.10
                      netmask: 255.255.255.0
                      type: static
                    org_id: 11b08247-b1ee-4152-9b25-312b323ce480
                    port_stat:
                      port0:
                        full_duplex: true
                        mac: 9e294e49091d
                        rx_bytes: 646898375700
                        rx_errors: 0
                        rx_pkts: 8784449574
                        speed: 10000
                        state: forwarding
                        tx_bytes: 647200748038
                        tx_errors: 0
                        tx_pkts: 8788647466
                        up: true
                      port1:
                        full_duplex: true
                        mac: a270fe53437e
                        rx_bytes: 647200437652
                        rx_errors: 0
                        rx_pkts: 8788644886
                        speed: 10000
                        state: forwarding
                        tx_bytes: 646898681650
                        tx_errors: 0
                        tx_pkts: 8784452092
                        up: true
                    serial: string
                    service_stat:
                      mxagent:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721215
                        package_state: Installed
                        package_version: 3.1.1037-1
                        running_state: Running
                        uptime: 21240
                      tunterm:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721203
                        package_state: Installed
                        package_version: 0.1.2449+deb10
                        running_state: Running
                        uptime: 76261
                    services:
                    - tunterm
                    site_id: 00000000-0000-0000-0000-000000000000
                    status: connected
                    tunterm_ip_config:
                      gateway: 192.168.11.1
                      ip: 192.168.11.91
                      netmask: 255.255.255.0
                    tunterm_port_config:
                      downstream_ports:
                      - '0'
                      - '1'
                      separate_upstream_downstream: false
                      upstream_ports:
                      - '0'
                      - '1'
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 76281
                    virtualization_type: KVM
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    cpu_stat:
                      cpus:
                        cpu0:
                          idle: 89
                          interrupt: 0
                          system: 8
                          usage: 10
                          user: 1
                        cpu1:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu2:
                          idle: 81
                          interrupt: 0
                          system: 4
                          usage: 18
                          user: 13
                        cpu3:
                          idle: 2
                          interrupt: 0
                          system: 50
                          usage: 97
                          user: 46
                      idle: 62
                      interrupt: 0
                      system: 17
                      usage: 37
                      user: 19
                    created_time: 1632684398
                    for_site: false
                    id: 00000000-0000-0000-1000-020000a80cb4
                    inactive_vlan_strs:
                      wired:
                      - '100'
                      - 102-106
                    ip_stat:
                      ip: 192.168.1.244
                      ips:
                        ens18: 192.168.1.244/24,fe80::104c:ffff:fee0:caf8/64
                      macs:
                        ens18: e4434b217044
                    lag_stat:
                      lacp0:
                        active_ports:
                        - port0
                        - port1
                    last_seen: 1633721215
                    mac: 020000a80cb4
                    memory_stat:
                      active: 394936320
                      available: 4699291648
                      buffers: 107646976
                      cached: 478060544
                      free: 4330659840
                      inactive: 211980288
                      swap_cached: 0
                      swap_free: 1022357504
                      swap_total: 1022357504
                      total: 8365957120
                      usage: 48
                    model: ME-VM
                    modified_time: 1633643629
                    mxagent_registered: true
                    mxcluster_id: 678bc339-7635-4556-bbc0-e77ad493ef8b
                    name: me-vm-1
                    num_tunnels: 0
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 1.1.1.1
                      gateway: 10.0.0.1
                      ip: 10.0.0.10
                      netmask: 255.255.255.0
                      type: static
                    org_id: 11b08247-b1ee-4152-9b25-312b323ce480
                    port_stat:
                      port0:
                        full_duplex: true
                        mac: 9e294e49091d
                        rx_bytes: 646898375700
                        rx_errors: 0
                        rx_pkts: 8784449574
                        speed: 10000
                        state: forwarding
                        tx_bytes: 647200748038
                        tx_errors: 0
                        tx_pkts: 8788647466
                        up: true
                      port1:
                        full_duplex: true
                        mac: a270fe53437e
                        rx_bytes: 647200437652
                        rx_errors: 0
                        rx_pkts: 8788644886
                        speed: 10000
                        state: forwarding
                        tx_bytes: 646898681650
                        tx_errors: 0
                        tx_pkts: 8784452092
                        up: true
                    serial: string
                    service_stat:
                      mxagent:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721215
                        package_state: Installed
                        package_version: 3.1.1037-1
                        running_state: Running
                        uptime: 21240
                      tunterm:
                        ext_ip: 99.0.86.164
                        last_seen: 1633721203
                        package_state: Installed
                        package_version: 0.1.2449+deb10
                        running_state: Running
                        uptime: 76261
                    services:
                    - tunterm
                    site_id: 00000000-0000-0000-0000-000000000000
                    status: connected
                    tunterm_ip_config:
                      gateway: 192.168.11.1
                      ip: 192.168.11.91
                      netmask: 255.255.255.0
                    tunterm_port_config:
                      downstream_ports:
                      - '0'
                      - '1'
                      separate_upstream_downstream: false
                      upstream_ports:
                      - '0'
                      - '1'
                    tunterm_registered: true
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 76281
                    virtualization_type: KVM
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    stats_mxedge_tunterm_ip_config2:
      title: stats_mxedge_tunterm_ip_config2
      type: object
      properties:
        gateway:
          type: string
          description: IPv4 default gateway for tunnel termination traffic
          examples:
          - 192.168.11.1
        ip:
          type: string
          description: Tunnel termination IPv4 address used by the Mist Edge
          examples:
          - 192.168.11.91
        netmask:
          type: string
          description: IPv4 netmask for the tunnel termination address
          examples:
          - 255.255.255.0
      description: Configured tunnel termination IP settings for the Mist Edge
    fwupdate_stat_status2:
      title: fwupdate_stat_status2
      enum:
      - inprogress
      - failed
      - upgraded
      - success
      - scheduled
      - error
      type: string
      description: 'Current firmware update status. enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`.'
    stats_mxedge_inactive_vlan_strs2:
      title: stats_mxedge_inactive_vlan_strs2
      type: object
      properties:
        l2tp:
          type: array
          items:
            type: string
          description: Inactive L2TP VLANs. Entries can be individual VLANs or ranges.
        wired:
          type: array
          items:
            type: string
          description: Inactive wired VLANs. Entries can be individual VLANs or ranges.
          examples:
          - - '100'
            - 102-106
      description: Inactive VLAN identifiers reported by the Mist Edge
    mxedge_mgmt_oob_ip_type62:
      title: mxedge_mgmt_oob_ip_type62
      enum:
      - autoconf
      - dhcp
      - disabled
      - static
      type: string
      description: 'IPv6 address assignment mode for out-of-band management. enum: `autoconf`, `dhcp`, `disabled`, `static`.'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    fwupdate_stat5:
      title: fwupdate_stat5
      type: object
      properties:
        progress:
          maximum: 100
          minimum: 0
          type:
          - integer
          - 'null'
          description: Firmware update progress percentage, or null when unavailable
          contentEncoding: int32
          readOnly: true
          examples:
          - 10
        status:
          allOf:
          - oneOf:
            - {}
            - $ref: '#/components/schemas/fwupdate_stat_status2'
          - description: 'Current firmware update status. enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`.'
          readOnly: true
        status_id:
          type:
          - integer
          - 'null'
          description: Numeric firmware update status identifier
          contentEncoding: int32
          readOnly: true
          examples:
          - 5
        timestamp:
          type: number
          description: Time when the firmware update status was last updated
          readOnly: true
        will_retry:
          type:
          - boolean
          - 'null'
          description: Whether the firmware update process will retry after the current status
          readOnly: true
          examples:
          - false
      description: Firmware or package update status for the Mist Edge
    stats_mxedge_cpu_stat2:
      title: stats_mxedge_cpu_stat2
      type: object
      properties:
        cpus:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/cpu_stat'
          description: Per-core CPU utilization statistics keyed by CPU name
          examples:
          - cpu0:
              idle: 89
              interrupt: 0
              system: 8
              usage: 10
              user: 1
            cpu1:
              idle: 81
              interrupt: 0
              system: 4
              usage: 18
              user: 13
            cpu2:
              idle: 81
              interrupt: 0
              system: 4
              usage: 18
              user: 13
            cpu3:
              idle: 2
              interrupt: 0
              system: 50
              usage: 97
              user: 46
        idle:
          type: integer
          description: Percentage of Idle, Idle/(Idle + Busy) since last sampling
          contentEncoding: int32
          examples:
          - 62
        interrupt:
          type: integer
          description: Percentage of Interrupt, (Irq + SoftIrq)/(Idle + Busy) since last sampling
          contentEncoding: int32
          examples:
          - 0
        system:
          type: integer
          description: Percentage of System, System/(Idle + Busy) since last sampling
          contentEncoding: int32
          examples:
          - 17
        usage:
          type: integer
          description: Percentage of load, Busy/(Idle + Busy) since last sampling
          contentEncoding: int32
          examples:
          - 37
        user:
          type: integer
          description: Percentage of User, User/(Idle + Busy) since last sampling
          contentEncoding: int32
          examples:
          - 19
      description: CPU utilization statistics reported by the Mist Edge
    stats_mxedge_tunterm_stat2:
      title: stats_mxedge_tunterm_stat2
      type: object
      properties:
        monitoring_failed:
          type: boolean
          description: Whether tunnel termination monitoring is currently failing
          examples:
          - false
      description: Tunnel termination monitoring status reported by the Mist Edge
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    stats_mxedge_port_stat_sfp2:
      title: stats_mxedge_port_stat_sfp2
      type: object
      properties:
        codes:
          type: string
          description: Transceiver capability codes reported by the SFP module
        mbps:
          type: integer
          description: Nominal transceiver speed, in Mbps
          contentEncoding: int32
        part_no:
          type: string
          description: Manufacturer part number reported by the SFP module
        serial_no:
          type: string
          description: Manufacturer serial number reported by the SFP module
        type:
          type: integer
          description: Transceiver type code reported by the SFP module
          contentEncoding: int32
        vendor:
          type: string
          description: Manufacturer name reported by the SFP module
      description: Transceiver details reported for the SFP module on the port
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    ip_type9:
      title: ip_type9
      enum:
      - dhcp
      - static
      type: string
      description: 'IPv4 address assignment mode for out-of-band management. enum: `dhcp`, `static`.'
      examples:
      - static
    stats_mxedge_ip_stat2:
      title: stats_mxedge_ip_stat2
      type: object
      properties:
        ip:
          type: string
          description: Primary IPv4 address reported for the Mist Edge
          examples:
          - 192.168.1.244
        ip6:
          type: string
          description: Primary IPv6 address reported for the Mist Edge
          examples:
          - fd4e:c615:b27d:5555::45
        ips:
          type: object
          additionalProperties:
            type: string
          description: Interface IP addresses keyed by interface name
          examples:
          - ens18: 92.168.1.244/24,fd4e:c615:b27d:5555::45/128,fd4e:c615:b27d:5555:20c:29ff:fe44:af25/64,fe80::104c:ffff:fee0:caf8/64
        macs:
          type: object
          additionalProperties:
            type: string
          description: Interface MAC addresses keyed by interface name
          examples:
          - ens18: e4434b217044
        netmask:
          type: string
          description: IPv4 netmask reported for the primary Mist Edge address
          examples:
          - 255.255.255.0
        netmask6:
          type: string
          description: IPv6 prefix length reported for the primary Mist Edge address
          examples:
          - /128
      description: IP address statistics reported by the Mist Edge
    stats_mxedge_oob_ip_stat2:
      title: stats_mxedge_oob_ip_stat2
      type: object
      properties:
        dns:
          uniqueItems: true
          type: array
          items:
            type: string
          description: Out-of-band management DNS servers
        gateway:
          type: string
          description: IPv4 default gateway for out-of-band management
        gateway6:
          type: string
          description: IPv6 default gateway for out-of-band management
        ip:
          type: string
          description: Out-of-band management IPv4 address
        ip6:
          type: string
          description: Out-of-band management IPv6 address
        netmask:
          type: string
          description: IPv4 netmask for the out-of-band management interface
        netmask6:
          type: string
          description: IPv6 prefix length for the out-of-band management interface
        type:
          allOf:
          - $ref: '#/components/schemas/mxedge_mgmt_oob_ip_type2'
          - description: 'IPv4 address assignment mode for out-of-band management. enum: `dhcp`, `disabled`, `static`.'
        type8:
          allOf:
          - $ref: '#/components/schemas/mxedge_mgmt_oob_ip_type62'
          - description: 'IPv6 address assignment mode for out-of-band management. enum: `autoconf`, `dhcp`, `disabled`, `static`.'
      description: Observed out-of-band management IP status for the Mist Edge
    stats_mxedge_port_stat_lacp2:
      title: stats_mxedge_port_stat_lacp2
      type: object
      properties:
        mux_state:
          type: string
          description: LACP multiplexer state reported for the port
        rx_lacpdu:
          type: integer
          description: Number of LACPDUs received on the port
          contentEncoding: int32
        rx_state:
          type: string
          description: LACP receive state reported for the port
        tx_lacpdu:
          type: integer
          description: Number of LACPDUs transmitted from the port
          contentEncoding: int32
      description: Link aggregation control protocol state and packet counters for the port
    cpu_stat:
      title: cpu_stat
      type: object
      properties:
        idle:
          type:
          - number
          - 'null'
          description: Percentage of CPU time that is idle
          readOnly: true
        interrupt:
          type:
          - number
          - 'null'
          description: Percentage of CPU time being used by interrupts
          readOnly: true
        load_avg:
          type: array
          items:
            type: number
          description: Load averages for the last 1, 5, and 15 minutes
        system:
          type:
          - number
          - 'null'
          description: Percentage of CPU time being used by system processes
          readOnly: true
        usage:
          type:
          - number
          - 'null'
          description: Overall CPU usage percentage
          readOnly: true
        user:
          type:
          - number
          - 'null'
          description: Percentage of CPU time being used by user processes
          readOnly: true
      description: CPU utilization breakdown for a device
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    mxedge_mgmt_oob_ip_type2:
      title: mxedge_mgmt_oob_ip_type2
      enum:
      - dhcp
      - disabled
      - static
      type: string
      description: 'IPv4 address assignment mode for out-of-band management. enum: `dhcp`, `disabled`, `static`.'
    for_site:
      title: for_site
      enum:
      - any
      - 'true'
      - 'false'
      type: string
      description: 'enum: `any`, `true`, `false`'
    stats_mxedge:
      title: stats_mxedge
      type: object
      properties:
        cpu_stat:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_cpu_stat2'
          - description: CPU utilization statistics reported by the Mist Edge
        created_time:
          type: number
          description: Time when the Mist Edge record was created, in epoch seconds
          readOnly: true
        fips_enabled:
          type: boolean
          description: Whether FIPS mode is enabled on the Mist Edge
        for_site:
          type: boolean
          description: Whether the Mist Edge is assigned directly to a site
          examples:
          - false
        fwupdate:
          allOf:
          - $ref: '#/components/schemas/fwupdate_stat5'
          - description: Firmware or package update status for the Mist Edge
        id:
          type: string
          description: Unique identifier of the Mist Edge
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        idrac_version:
          type: string
          description: IDRAC version of the mist edge device
          examples:
          - 7.00.00.00
        inactive_vlan_strs:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_inactive_vlan_strs2'
          - description: Inactive VLAN identifiers reported by the Mist Edge
        ip_stat:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_ip_stat2'
          - description: IP address statistics reported by the Mist Edge
        kernel_abi:
          type: string
          description: Kernel release version running on the Mist Edge
          examples:
          - 6.1.0-47
        kernel_version:
          type: string
          description: Kernel package version running on the Mist Edge
          examples:
          - 6.1.170-3
        lag_stat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_mxedge_lag_stat'
          description: Link aggregation statistics reported by the Mist Edge
          examples:
          - lacp0:
              active_ports:
              - port0
              - port1
        last_seen:
          type:
          - number
          - 'null'
          description: Time when Mist last observed the Mist Edge, in epoch seconds
          readOnly: true
          examples:
          - 1470417522
        mac:
          type: string
          description: Mist Edge MAC address reported by Mist
          examples:
          - 020000a80cb4
        magic:
          type: string
          description: Claim magic token associated with the Mist Edge
        memory_stat:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_memory_stat2'
          - description: Memory utilization statistics reported by the Mist Edge
        model:
          type: string
          description: Mist Edge hardware or VM model
          examples:
          - ME-VM
        modified_time:
          type: number
          description: Time when the Mist Edge record was last modified, in epoch seconds
          readOnly: true
        mxagent_registered:
          type: boolean
          description: Whether the Mist Edge management agent is registered with Mist
          examples:
          - true
        mxcluster_id:
          type: string
          description: Mist Edge cluster identifier associated with this Mist Edge
          contentEncoding: uuid
          examples:
          - 678bc339-7635-4556-bbc0-e77ad493ef8b
        name:
          type: string
          description: Display name of the Mist Edge
          examples:
          - me-vm-1
        num_tunnels:
          type: integer
          description: Number of tunnels currently terminated by the Mist Edge
          contentEncoding: int32
          examples:
          - 0
        oob_ip_config:
          allOf:
          - $ref: '#/components/schemas/mxedge_oob_ip_config2'
          - description: Configured out-of-band management IP settings for the Mist Edge
        oob_ip_stat:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_oob_ip_stat2'
          - description: Observed out-of-band management IP status for the Mist Edge
        org_id:
          type: string
          description: Organization identifier associated with the Mist Edge
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        port_stat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_mxedge_port_stat'
          description: Port statistics reported by the Mist Edge
          examples:
          - port0:
              full_duplex: true
              mac: 9e294e49091d
              rx_bytes: 646898375700
              rx_errors: 0
              rx_pkts: 8784449574
              speed: 10000
              state: forwarding
              tx_bytes: 647200748038
              tx_errors: 0
              tx_pkts: 8788647466
              up: true
            port1:
              full_duplex: true
              mac: a270fe53437e
              rx_bytes: 647200437652
              rx_errors: 0
              rx_pkts: 8788644886
              speed: 10000
              state: forwarding
              tx_bytes: 646898681650
              tx_errors: 0
              tx_pkts: 8784452092
              up: true
        serial:
          type:
          - string
          - 'null'
          description: Device serial number reported for the Mist Edge, when available
        service_stat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_mxedge_service_stat'
          description: Per-service runtime statistics reported by the Mist Edge
          examples:
          - mxagent:
              ext_ip: 99.0.86.164
              last_seen: 1633721215
              package_state: Installed
              package_version: 3.1.1037-1
              running_state: Running
              uptime: 21240
            tunterm:
              ext_ip: 99.0.86.164
              last_seen: 1633721203
              package_state: Installed
              package_version: 0.1.2449+deb10
              running_state: Running
              uptime: 76261
        services:
          type: array
          items:
            type: string
          description: Mist Edge services enabled or running on the device
          examples:
          - - tunterm
        site_id:
          type: string
          description: Site identifier associated with the Mist Edge, when assigned to a site
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        status:
          type: string
          description: Connection status reported for the Mist Edge, such as connected
          examples:
          - connected
        tunterm_ip_config:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_tunterm_ip_config2'
          - description: Configured tunnel termination IP settings for the Mist Edge
        tunterm_port_config:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_tunterm_port_config2'
          - description: Tunnel termination port configuration reported for the Mist Edge
        tunterm_registered:
          type: boolean
          description: Whether the tunnel termination service is registered with Mist
          examples:
          - true
        tunterm_stat:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_tunterm_stat2'
          - description: Tunnel termination monitoring status reported by the Mist Edge
        uptime:
          type: integer
          description: Number of seconds the Mist Edge has been running since last boot
          contentEncoding: int32
          examples:
          - 76281
        virtualization_type:
          type: string
          description: Virtualization platform or environment running the Mist Edge VM
          examples:
          - KVM
      description: Statistics for a Mist Edge appliance returned by stats endpoints
    stats_mxedge_service_stat:
      title: stats_mxedge_service_stat
      type: object
      properties:
        ext_ip:
          type: string
          description: External IP from ep-terminator’s point of view. valid only for service having its own cloud connection
        last_seen:
          type: number
          description: Cloud Unix time, in seconds, when stats were last seen for this service, or the latest service last_seen time for whole-system records
        package_state:
          type: string
          description: Installation state of the Mist Edge service package
        package_version:
          type: string
          description: Installed version of the Mist Edge service package
        running_state:
          type: string
          description: Runtime state reported by the Mist Edge service
        uptime:
          type: integer
          description: Elapsed running time reported by the Mist Edge service, in seconds
          contentEncoding: int32
      description: Runtime and package state for one Mist Edge service
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    stats_mxedge_port_stat_lldp_stats2:
      title: stats_mxedge_port_stat_lldp_stats2
      type: object
      properties:
        chassis_id:
          type: string
          description: LLDP chassis identifier advertised by the neighbor
        mgmt_addr:
          type: string
          description: Management address advertised by the LLDP neighbor
        port_desc:
          type: string
          description: Port description advertised by the LLDP neighbor
        port_id:
          type: string
          description: Port identifier advertised by the LLDP neighbor
        system_desc:
          type: string
          description: System description advertised by the LLDP neighbor
        system_name:
          type: string
          description: System name advertised by the LLDP neighbor
      description: LLDP neighbor information learned on the port
    ip_type10:
      title: ip_type10
      enum:
      - dhcp
      - static
      type: string
      description: 'IPv6 address assignment mode for out-of-band management. enum: `dhcp`, `static`.'
      examples:
      - static
    stats_mxedge_tunterm_port_config2:
      title: stats_mxedge_tunterm_port_config2
      type: object
      properties:
        downstream_ports:
          type: array
          items:
            type: string
          description: Ports configured for downstream tunnel termination traffic
          examples:
          - - '0'
            - '1'
        separate_upstream_downstream:
          type: boolean
          description: Whether separate port sets are used for upstream and downstream tunnel termination traffic
          examples:
          - false
        upstream_ports:
          type: array
          items:
            type: string
          description: Ports configured for upstream tunnel termination traffic
          examples:
          - - '0'
            - '1'
      description: Tunnel termination port configuration reported for the Mist Edge
    stats_mxedge_lag_stat:
      title: stats_mxedge_lag_stat
      type: object
      properties:
        active_ports:
          type: array
          items:
            type: string
          description: Ports currently active in the link aggregation group
      description: Link aggregation group status for a Mist Edge
    stats_mxedge_port_stat:
      title: stats_mxedge_port_stat
      type: object
      properties:
        full_duplex:
          type: boolean
          description: Whether the port is operating in full-duplex mode
        lacp:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_port_stat_lacp2'
          - description: Link aggregation control protocol state and packet counters for the port
        lldp_stats:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_port_stat_lldp_stats2'
          - description: LLDP neighbor information learned on the port
        mac:
          type: string
          description: Mist Edge port MAC address reported by Mist
        rx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes received on the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 8515104416
        rx_errors:
          type: integer
          description: Number of receive errors observed on the port
          contentEncoding: int32
        rx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets received on the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 57770567
        sfp:
          allOf:
          - $ref: '#/components/schemas/stats_mxedge_port_stat_sfp2'
          - description: Transceiver details reported for the SFP module on the port
        speed:
          type: integer
          description: Current link speed of the port, in Mbps
          contentEncoding: int32
        state:
          type: string
          description: Forwarding or operational state reported for the port
        tx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes transmitted from the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 211217389682
        tx_errors:
          type: integer
          description: Number of transmit errors observed on the port
          contentEncoding: int32
        tx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets transmitted from the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 812204062
        up:
          type: boolean
          description: Whether the Mist Edge port link is up
      description: Mist Edge port traffic and link status statistics
    mxedge_oob_ip_config2:
      title: mxedge_oob_ip_config2
      type: object
      properties:
        autoconf6:
          type: boolean
          description: Whether IPv6 autoconfiguration is enabled on the out-of-band management interface
          default: true
        dhcp6:
          type: boolean
          description: Whether DHCPv6 is enabled on the out-of-band management interface
          default: true
        dns:
          type: array
          items:
            type: string
          description: Name server addresses for out-of-band management
          default:
          - 8.8.8.8
          - 8.8.4.4
          - 2001:4860:4860::8888
          - 2001:4860:4860::8844
          examples:
          - - 8.8.8.8
            - 4.4.4.4
            - 2001:4860:4860::8888
            - 2001:4860:4860::8844
        gateway:
          type: string
          description: If `type`=`static`, IPv4 default gateway for the out-of-band management interface
          examples:
          - 10.2.1.254
        gateway6:
          type: string
          description: If `type6`=`static`, IPv6 default gateway for the out-of-band management interface
          examples:
          - 2601:1700:43c0:dc0::1
        ip:
          type: string
          description: If `type`=`static`, IPv4 address for the out-of-band management interface
          examples:
          - 10.2.1.2
        ip6:
          type: string
          description: If `type6`=`static`, IPv6 address for the out-of-band management interface
          examples:
          - 2601:1700:43c0:dc0:20c:29ff:fea7:93bc
        netmask:
          type: string
          description: If `type`=`static`, IPv4 netmask for the out-of-band management interface
          examples:
          - 255.255.255.0
        netmask6:
          type: string
          description: If `type6`=`static`, IPv6 prefix length for the out-of-band management interface
          examples:
          - /64
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type9'
          - description: 'IPv4 address assignment mode for out-of-band management. enum: `dhcp`, `static`.'
            examples:
            - static
        type6:
          allOf:
          - $ref: '#/components/schemas/ip_type10'
          - description: 'IPv6 address assignment mode for out-of-band management. enum: `dhcp`, `static`.'
            examples:
            - static
      description: Configured out-of-band management IP settings for the Mist Edge
    stats_mxedge_memory_stat2:
      title: stats_mxedge_memory_stat2
      type: object
      properties:
        active:
          type: integer
          description: The amount of memory, in kilobytes, that has been used more recently and is usually not reclaimed unless absolutely necessary.
          contentEncoding: int32
          examples:
          - 394936320
        available:
          type: integer
          description: An estimate of how much memory is available for starting new applications, without swapping.
          contentEncoding: int64
          examples:
          - 4699291648
        buffers:
          type: integer
          description: The amount, in kilobytes, of temporary storage for raw disk blocks.
          contentEncoding: int32
          examples:
          - 107646976
        cached:
          type: integer
          description: The amount of physical RAM, in kilobytes, used as cache memory.
          contentEncoding: int32
          examples:
          - 478060544
        free:
          type: integer
          description: The amount of physical RAM, in kilobytes, left unused by the system
          contentEncoding: int64
          examples:
          - 4330659840
        inactive:
          type: integer
          description: The amount of memory, in kilobytes, that has been used less recently and is more eligible to be reclaimed for other purposes.
          contentEncoding: int32
          examples:
          - 211980288
        swap_cached:
          type: integer
          description: The amount of memory, in kilobytes, that has once been moved into swap, then back into the main memory, but still also remains in the swapfile.
          contentEncoding: int32
          examples:
          - 0
        swap_free:
          type: integer
          description: The total amount of swap free, in kilobytes.
          contentEncoding: int32
          examples:
          - 1022357504
        swap_total:
          type: integer
          description: The total amount of swap available, in kilobytes.
          contentEncoding: int32
          examples:
          - 1022357504
        total:
          type: integer
          description: Usable RAM total, in kilobytes, which is physical RAM minus a number of reserved bits and the kernel binary code
          contentEncoding: int64
          examples:
          - 8365957120
        usage:
          type: integer
          description: Memory utilization percentage reported by the Mist Edge
          contentEncoding: int32
          examples:
          - 48
      description: Memory utilization statistics reported by the Mist Edge
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
