openapi: 3.2.0
info:
  title: Mist Orgs Stats - Sites API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Stats - Sites
  description: API Calls to retrieve statistics about the Organization Sites
paths:
  /api/v1/orgs/{org_id}/stats/sites:
    parameters: []
    get:
      tags:
      - Orgs Stats - Sites
      summary: listOrgSiteStats
      description: Get List of Org Site Stats
      operationId: listOrgSiteStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_site'
                description: Site statistics records returned by a stats response
                examples:
                - - address: 1601 S De Anza Blvd, Cupertino, CA 95014, USA
                    alarmtemplate_id: null
                    analyticEnabled: true
                    aptemplate_id: null
                    country_code: US
                    created_time: 1472591606
                    engagementEnabled: true
                    gatewaytemplate_id: e571f2a2-d748-4ad4-bd6c-895467957c21
                    id: 83bc290a-b76d-47fa-a294-d34e47f30f7f
                    lat: 37.295553
                    latlng:
                      lat: 37.295553
                      lng: -122.033007
                    lng: -122.033007
                    modified_time: 1728057857
                    msp_id: a9af4951-a1de-4520-b398-c95a58947349
                    name: Live-Demo
                    networktemplate_id: 964cb213-deb2-469d-8c1e-a5f8661c6886
                    notes: This site is used for demonstration purposes.
                    num_ap: 17
                    num_ap_connected: 14
                    num_clients: 14
                    num_devices: 26
                    num_devices_connected: 22
                    num_gateway: 1
                    num_gateway_connected: 1
                    num_switch: 8
                    num_switch_connected: 7
                    org_id: b9814b40-ac4b-4424-86a8-b787eb68b86a
                    rftemplate_id: 2c134c07-3c57-46b3-a53b-8aea92ed7234
                    secpolicy_id: null
                    sitegroup_ids:
                    - 5644a432-eea9-4a2f-a30a-ddaf4dbc79cf
                    - 5fc0f305-f626-49db-8869-10b87f201bba
                    - 882796ef-190b-405e-98ef-cb487140cf64
                    sitetemplate_id: null
                    timezone: America/Los_Angeles
                    tzoffset: 960
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - address: 1601 S De Anza Blvd, Cupertino, CA 95014, USA
                    alarmtemplate_id: null
                    analyticEnabled: true
                    aptemplate_id: null
                    country_code: US
                    created_time: 1472591606
                    engagementEnabled: true
                    gatewaytemplate_id: e571f2a2-d748-4ad4-bd6c-895467957c21
                    id: 83bc290a-b76d-47fa-a294-d34e47f30f7f
                    lat: 37.295553
                    latlng:
                      lat: 37.295553
                      lng: -122.033007
                    lng: -122.033007
                    modified_time: 1728057857
                    msp_id: a9af4951-a1de-4520-b398-c95a58947349
                    name: Live-Demo
                    networktemplate_id: 964cb213-deb2-469d-8c1e-a5f8661c6886
                    notes: This site is used for demonstration purposes.
                    num_ap: 17
                    num_ap_connected: 14
                    num_clients: 14
                    num_devices: 26
                    num_devices_connected: 22
                    num_gateway: 1
                    num_gateway_connected: 1
                    num_switch: 8
                    num_switch_connected: 7
                    org_id: b9814b40-ac4b-4424-86a8-b787eb68b86a
                    rftemplate_id: 2c134c07-3c57-46b3-a53b-8aea92ed7234
                    secpolicy_id: null
                    sitegroup_ids:
                    - 5644a432-eea9-4a2f-a30a-ddaf4dbc79cf
                    - 5fc0f305-f626-49db-8869-10b87f201bba
                    - 882796ef-190b-405e-98ef-cb487140cf64
                    sitetemplate_id: null
                    timezone: America/Los_Angeles
                    tzoffset: 960
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_site'
                description: Site statistics records returned by a stats response
                examples:
                - - address: 1601 S De Anza Blvd, Cupertino, CA 95014, USA
                    alarmtemplate_id: null
                    analyticEnabled: true
                    aptemplate_id: null
                    country_code: US
                    created_time: 1472591606
                    engagementEnabled: true
                    gatewaytemplate_id: e571f2a2-d748-4ad4-bd6c-895467957c21
                    id: 83bc290a-b76d-47fa-a294-d34e47f30f7f
                    lat: 37.295553
                    latlng:
                      lat: 37.295553
                      lng: -122.033007
                    lng: -122.033007
                    modified_time: 1728057857
                    msp_id: a9af4951-a1de-4520-b398-c95a58947349
                    name: Live-Demo
                    networktemplate_id: 964cb213-deb2-469d-8c1e-a5f8661c6886
                    notes: This site is used for demonstration purposes.
                    num_ap: 17
                    num_ap_connected: 14
                    num_clients: 14
                    num_devices: 26
                    num_devices_connected: 22
                    num_gateway: 1
                    num_gateway_connected: 1
                    num_switch: 8
                    num_switch_connected: 7
                    org_id: b9814b40-ac4b-4424-86a8-b787eb68b86a
                    rftemplate_id: 2c134c07-3c57-46b3-a53b-8aea92ed7234
                    secpolicy_id: null
                    sitegroup_ids:
                    - 5644a432-eea9-4a2f-a30a-ddaf4dbc79cf
                    - 5fc0f305-f626-49db-8869-10b87f201bba
                    - 882796ef-190b-405e-98ef-cb487140cf64
                    sitetemplate_id: null
                    timezone: America/Los_Angeles
                    tzoffset: 960
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - address: 1601 S De Anza Blvd, Cupertino, CA 95014, USA
                    alarmtemplate_id: null
                    analyticEnabled: true
                    aptemplate_id: null
                    country_code: US
                    created_time: 1472591606
                    engagementEnabled: true
                    gatewaytemplate_id: e571f2a2-d748-4ad4-bd6c-895467957c21
                    id: 83bc290a-b76d-47fa-a294-d34e47f30f7f
                    lat: 37.295553
                    latlng:
                      lat: 37.295553
                      lng: -122.033007
                    lng: -122.033007
                    modified_time: 1728057857
                    msp_id: a9af4951-a1de-4520-b398-c95a58947349
                    name: Live-Demo
                    networktemplate_id: 964cb213-deb2-469d-8c1e-a5f8661c6886
                    notes: This site is used for demonstration purposes.
                    num_ap: 17
                    num_ap_connected: 14
                    num_clients: 14
                    num_devices: 26
                    num_devices_connected: 22
                    num_gateway: 1
                    num_gateway_connected: 1
                    num_switch: 8
                    num_switch_connected: 7
                    org_id: b9814b40-ac4b-4424-86a8-b787eb68b86a
                    rftemplate_id: 2c134c07-3c57-46b3-a53b-8aea92ed7234
                    secpolicy_id: null
                    sitegroup_ids:
                    - 5644a432-eea9-4a2f-a30a-ddaf4dbc79cf
                    - 5fc0f305-f626-49db-8869-10b87f201bba
                    - 882796ef-190b-405e-98ef-cb487140cf64
                    sitetemplate_id: null
                    timezone: America/Los_Angeles
                    tzoffset: 960
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    stats_site:
      title: stats_site
      required:
      - country_code
      - created_time
      - id
      - latlng
      - modified_time
      - name
      - num_ap
      - num_ap_connected
      - num_clients
      - num_devices
      - num_devices_connected
      - num_gateway
      - num_gateway_connected
      - num_switch
      - num_switch_connected
      - org_id
      - timezone
      - tzoffset
      type: object
      properties:
        address:
          type: string
          description: Configured physical address for the site
        alarmtemplate_id:
          type:
          - string
          - 'null'
          description: Alarm template applied to the site, when one overrides the organization-level alarm template
          contentEncoding: uuid
        analyticEnabled:
          type: boolean
          description: Whether analytics features are enabled for the site
        aptemplate_id:
          type:
          - string
          - 'null'
          description: AP template applied to access points in the site, when configured
          contentEncoding: uuid
        country_code:
          type: string
          description: Two-letter country code used for site configuration generation
        created_time:
          type: number
          description: Time when the site was created, in epoch seconds
          readOnly: true
        engagementEnabled:
          type: boolean
          description: Whether engagement features are enabled for the site
        gatewaytemplate_id:
          type:
          - string
          - 'null'
          description: Gateway template applied to gateways in the site, when configured
          contentEncoding: uuid
        id:
          type: string
          description: Unique identifier for the site
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        lat:
          type: number
          description: Geographic latitude coordinate for the site location
        latlng:
          allOf:
          - $ref: '#/components/schemas/lat_lng2'
          - description: Latitude and longitude for the site location
        lng:
          type: number
          description: Longitude coordinate for the site location
        modified_time:
          type: number
          description: Time when the site was last modified, in epoch seconds
          readOnly: true
        msp_id:
          type: string
          description: Managing MSP identifier for the site, when applicable
          contentEncoding: uuid
          readOnly: true
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        name:
          type: string
          description: Display name of the site
        networktemplate_id:
          type:
          - string
          - 'null'
          description: Network template applied to the site, when configured
          contentEncoding: uuid
        notes:
          type: string
          description: Free-form notes configured for the site
        num_ap:
          type: integer
          description: Number of access points in the site
          contentEncoding: int32
        num_ap_connected:
          type: integer
          description: Number of access points currently connected in the site
          contentEncoding: int32
        num_clients:
          type: integer
          description: Number of clients currently counted in the site
          contentEncoding: int32
        num_devices:
          type: integer
          description: Number of managed devices in the site
          contentEncoding: int32
        num_devices_connected:
          type: integer
          description: Number of managed devices currently connected in the site
          contentEncoding: int32
        num_gateway:
          type: integer
          description: Number of gateways in the site
          contentEncoding: int32
        num_gateway_connected:
          type: integer
          description: Number of gateways currently connected in the site
          contentEncoding: int32
        num_switch:
          type: integer
          description: Number of switches in the site
          contentEncoding: int32
        num_switch_connected:
          type: integer
          description: Number of switches currently connected in the site
          contentEncoding: int32
        org_id:
          type: string
          description: Owning organization identifier for the site
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        rftemplate_id:
          type:
          - string
          - 'null'
          description: RF template applied to the site, when configured
          contentEncoding: uuid
        secpolicy_id:
          type:
          - string
          - 'null'
          description: Security policy applied to the site, when configured
          contentEncoding: uuid
        sitegroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Site group identifiers for groups that include this site
        sitetemplate_id:
          type:
          - string
          - 'null'
          description: Site template applied to the site, when configured
          contentEncoding: uuid
        timezone:
          type: string
          description: IANA time zone name for the site
        tzoffset:
          type: integer
          description: Time zone offset value derived from the site's timezone
          contentEncoding: int32
      description: Site metadata and aggregate device/client counts returned by organization site stats endpoints
    lat_lng2:
      title: lat_lng2
      required:
      - lat
      - lng
      type: object
      properties:
        lat:
          type: number
          description: Geographic latitude in decimal degrees
          examples:
          - 37.295833
        lng:
          type: number
          description: Geographic longitude in decimal degrees
          examples:
          - -122.032946
      description: Latitude and longitude for the site location
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
