openapi: 3.2.0
info:
  title: Mist Orgs MxEdges API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs MxEdges
  description: A Mist Edge (MxEdge) is a physical or virtual appliance that is deployed in a network to provide centralized data path for user traffic or as a RADIUS Proxy, which was traditionally performed by legacy wireless controllers. It keeps all the control and management functions in the Mist Cloud, offering a microservices architecture to the campus.
paths:
  /api/v1/orgs/{org_id}/mxedges:
    parameters: []
    get:
      tags:
      - Orgs MxEdges
      summary: listOrgMxEdges
      description: List Mist Edge appliances in the organization, optionally filtering for org-level, site-level, or all Mist Edges with `for_site`.
      operationId: listOrgMxEdges
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: for_site
        in: query
        description: 'Filter for org/site level Mist Edges. enum: `any`, `false`, `true`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/mxedge_for_site'
          - description: 'Filter for org/site level Mist Edges. enum: `any`, `false`, `true`'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/mxedge'
                description: List of Mist Edge appliances
                examples:
                - - cpu_stat:
                      cpus:
                        cpu0:
                          idle: 79
                          interrupt: 0
                          system: 4
                          usage: 20
                          user: 16
                        cpu1:
                          idle: 93
                          interrupt: 0
                          system: 4
                          usage: 6
                          user: 1
                      idle: 87
                      interrupt: 0
                      system: 5
                      usage: 12
                      user: 7
                    ext_ip: 116.187.144.16
                    id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                    ip_stat:
                      ip: 172.16.5.3
                      ips:
                        ens192: 172.16.5.3/24,fe81::20c:29ff:fef8:d18e/64
                    lag_stat:
                      lag0:
                        active_ports:
                        - '0'
                        - '1'
                    last_seen: 1547437078
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    memory_stats:
                      active: 1061085184
                      available: 4124860416
                      buffers: 789495808
                      cached: 718016512
                      free: 2818838528
                      inactive: 458158080
                      swap_cached: 0
                      swap_free: 8161062912
                      swap_total: 8161062912
                      total: 7947616256
                      usage: 65
                    model: ME-S2019
                    mxagent_registered: false
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    name: Guest
                    num_tunnels: 31
                    port_stat:
                      eth0:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: 122.16.3.11
                          port_desc: GigabitEthernet4/0/16
                          port_id: Gi4/0/16
                          system_desc: Cisco IOS Software
                          system_name: ME-DC2-DIS-SW
                        rx_bytes: 2056
                        rx_errors: 0
                        rx_pkts: 670
                        speed: 1000
                        tx_bytes: 2056
                        tx_pkts: 670
                        up: true
                      eth1:
                        up: false
                      module:
                        up: false
                    status: connected
                    tunterm_registered: false
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 884221
                    version: 0.1.2
                    virtualization_type: VirtualizationVMware
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - cpu_stat:
                      cpus:
                        cpu0:
                          idle: 79
                          interrupt: 0
                          system: 4
                          usage: 20
                          user: 16
                        cpu1:
                          idle: 93
                          interrupt: 0
                          system: 4
                          usage: 6
                          user: 1
                      idle: 87
                      interrupt: 0
                      system: 5
                      usage: 12
                      user: 7
                    ext_ip: 116.187.144.16
                    id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                    ip_stat:
                      ip: 172.16.5.3
                      ips:
                        ens192: 172.16.5.3/24,fe81::20c:29ff:fef8:d18e/64
                    lag_stat:
                      lag0:
                        active_ports:
                        - '0'
                        - '1'
                    last_seen: 1547437078
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    memory_stats:
                      active: 1061085184
                      available: 4124860416
                      buffers: 789495808
                      cached: 718016512
                      free: 2818838528
                      inactive: 458158080
                      swap_cached: 0
                      swap_free: 8161062912
                      swap_total: 8161062912
                      total: 7947616256
                      usage: 65
                    model: ME-S2019
                    mxagent_registered: false
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    name: Guest
                    num_tunnels: 31
                    port_stat:
                      eth0:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: 122.16.3.11
                          port_desc: GigabitEthernet4/0/16
                          port_id: Gi4/0/16
                          system_desc: Cisco IOS Software
                          system_name: ME-DC2-DIS-SW
                        rx_bytes: 2056
                        rx_errors: 0
                        rx_pkts: 670
                        speed: 1000
                        tx_bytes: 2056
                        tx_pkts: 670
                        up: true
                      eth1:
                        up: false
                      module:
                        up: false
                    status: connected
                    tunterm_registered: false
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 884221
                    version: 0.1.2
                    virtualization_type: VirtualizationVMware
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/mxedge'
                description: List of Mist Edge appliances
                examples:
                - - cpu_stat:
                      cpus:
                        cpu0:
                          idle: 79
                          interrupt: 0
                          system: 4
                          usage: 20
                          user: 16
                        cpu1:
                          idle: 93
                          interrupt: 0
                          system: 4
                          usage: 6
                          user: 1
                      idle: 87
                      interrupt: 0
                      system: 5
                      usage: 12
                      user: 7
                    ext_ip: 116.187.144.16
                    id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                    ip_stat:
                      ip: 172.16.5.3
                      ips:
                        ens192: 172.16.5.3/24,fe81::20c:29ff:fef8:d18e/64
                    lag_stat:
                      lag0:
                        active_ports:
                        - '0'
                        - '1'
                    last_seen: 1547437078
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    memory_stats:
                      active: 1061085184
                      available: 4124860416
                      buffers: 789495808
                      cached: 718016512
                      free: 2818838528
                      inactive: 458158080
                      swap_cached: 0
                      swap_free: 8161062912
                      swap_total: 8161062912
                      total: 7947616256
                      usage: 65
                    model: ME-S2019
                    mxagent_registered: false
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    name: Guest
                    num_tunnels: 31
                    port_stat:
                      eth0:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: 122.16.3.11
                          port_desc: GigabitEthernet4/0/16
                          port_id: Gi4/0/16
                          system_desc: Cisco IOS Software
                          system_name: ME-DC2-DIS-SW
                        rx_bytes: 2056
                        rx_errors: 0
                        rx_pkts: 670
                        speed: 1000
                        tx_bytes: 2056
                        tx_pkts: 670
                        up: true
                      eth1:
                        up: false
                      module:
                        up: false
                    status: connected
                    tunterm_registered: false
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 884221
                    version: 0.1.2
                    virtualization_type: VirtualizationVMware
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - cpu_stat:
                      cpus:
                        cpu0:
                          idle: 79
                          interrupt: 0
                          system: 4
                          usage: 20
                          user: 16
                        cpu1:
                          idle: 93
                          interrupt: 0
                          system: 4
                          usage: 6
                          user: 1
                      idle: 87
                      interrupt: 0
                      system: 5
                      usage: 12
                      user: 7
                    ext_ip: 116.187.144.16
                    id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                    ip_stat:
                      ip: 172.16.5.3
                      ips:
                        ens192: 172.16.5.3/24,fe81::20c:29ff:fef8:d18e/64
                    lag_stat:
                      lag0:
                        active_ports:
                        - '0'
                        - '1'
                    last_seen: 1547437078
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    memory_stats:
                      active: 1061085184
                      available: 4124860416
                      buffers: 789495808
                      cached: 718016512
                      free: 2818838528
                      inactive: 458158080
                      swap_cached: 0
                      swap_free: 8161062912
                      swap_total: 8161062912
                      total: 7947616256
                      usage: 65
                    model: ME-S2019
                    mxagent_registered: false
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    name: Guest
                    num_tunnels: 31
                    port_stat:
                      eth0:
                        full_duplex: true
                        lldp_stats:
                          mgmt_addr: 122.16.3.11
                          port_desc: GigabitEthernet4/0/16
                          port_id: Gi4/0/16
                          system_desc: Cisco IOS Software
                          system_name: ME-DC2-DIS-SW
                        rx_bytes: 2056
                        rx_errors: 0
                        rx_pkts: 670
                        speed: 1000
                        tx_bytes: 2056
                        tx_pkts: 670
                        up: true
                      eth1:
                        up: false
                      module:
                        up: false
                    status: connected
                    tunterm_registered: false
                    tunterm_stat:
                      monitoring_failed: false
                    uptime: 884221
                    version: 0.1.2
                    virtualization_type: VirtualizationVMware
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs MxEdges
      summary: createOrgMxEdge
      description: Create a Mist Edge appliance configuration in the organization, including cluster assignment, management, services, and tunnel termination settings.
      operationId: createOrgMxEdge
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mxedge'
              - description: Request Body
                examples:
                - model: ME-100
                  mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                  mxedge_mgmt: {}
                  name: Guest
                  ntp_servers: []
                  oob_ip_config: {}
                  services:
                  - tunterm
                  tunterm_ip_config:
                    gateway: 10.2.1.254
                    ip: 10.2.1.1
                    netmask: 255.255.255.0
                  tunterm_port_config:
                    downstream_ports:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                    separate_upstream_downstream: true
                    upstream_port_vlan_id: 1
                    upstream_ports:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                  tunterm_switch_config:
                    '0':
                      port_vlan_id: 1
                      vlan_ids:
                      - 5
                      - 2
                      - 3
                    enabled: true
              contentMediaType: application/json
            examples:
              Example:
                value:
                  model: ME-100
                  mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                  mxedge_mgmt: {}
                  name: Guest
                  ntp_servers: []
                  oob_ip_config: {}
                  services:
                  - tunterm
                  tunterm_ip_config:
                    gateway: 10.2.1.254
                    ip: 10.2.1.1
                    netmask: 255.255.255.0
                  tunterm_port_config:
                    downstream_ports:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                    separate_upstream_downstream: true
                    upstream_port_vlan_id: 1
                    upstream_ports:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                  tunterm_switch_config:
                    '0':
                      port_vlan_id: 1
                      vlan_ids:
                      - 5
                      - 2
                      - 3
                    enabled: true
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxedge'
                - description: Mist Edge appliance configuration and registration state
                  examples:
                  - id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    model: ME-100
                    mxagent_registered: true
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    mxedge_mgmt:
                      mist_password: MIST_PASSWORD
                      root_password: ROOT_PASSWORD
                    name: Guest
                    ntp_servers: []
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 4.4.4.4
                      gateway: 10.2.1.254
                      ip: 10.2.1.10
                      netmask: 255.255.255.0
                      type: static
                    tunterm_dhcpd_config:
                      '2':
                        enabled: true
                        servers:
                        - 11.2.3.44
                      enabled: false
                      servers:
                      - 11.2.3.4
                    tunterm_extra_routes:
                      11.0.0.0/8:
                        via: 10.3.3.1
                    tunterm_ip_config:
                      gateway: 10.2.1.254
                      ip: 10.2.1.1
                      netmask: 255.255.255.0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    model: ME-100
                    mxagent_registered: true
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    mxedge_mgmt:
                      mist_password: MIST_PASSWORD
                      root_password: ROOT_PASSWORD
                    name: Guest
                    ntp_servers: []
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 4.4.4.4
                      gateway: 10.2.1.254
                      ip: 10.2.1.10
                      netmask: 255.255.255.0
                      type: static
                    tunterm_dhcpd_config:
                      '2':
                        enabled: true
                        servers:
                        - 11.2.3.44
                      enabled: false
                      servers:
                      - 11.2.3.4
                    tunterm_extra_routes:
                      11.0.0.0/8:
                        via: 10.3.3.1
                    tunterm_ip_config:
                      gateway: 10.2.1.254
                      ip: 10.2.1.1
                      netmask: 255.255.255.0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxedge'
                - description: Mist Edge appliance configuration and registration state
                  examples:
                  - id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    model: ME-100
                    mxagent_registered: true
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    mxedge_mgmt:
                      mist_password: MIST_PASSWORD
                      root_password: ROOT_PASSWORD
                    name: Guest
                    ntp_servers: []
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 4.4.4.4
                      gateway: 10.2.1.254
                      ip: 10.2.1.10
                      netmask: 255.255.255.0
                      type: static
                    tunterm_dhcpd_config:
                      '2':
                        enabled: true
                        servers:
                        - 11.2.3.44
                      enabled: false
                      servers:
                      - 11.2.3.4
                    tunterm_extra_routes:
                      11.0.0.0/8:
                        via: 10.3.3.1
                    tunterm_ip_config:
                      gateway: 10.2.1.254
                      ip: 10.2.1.1
                      netmask: 255.255.255.0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                    model: ME-100
                    mxagent_registered: true
                    mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                    mxedge_mgmt:
                      mist_password: MIST_PASSWORD
                      root_password: ROOT_PASSWORD
                    name: Guest
                    ntp_servers: []
                    oob_ip_config:
                      dns:
                      - 8.8.8.8
                      - 4.4.4.4
                      gateway: 10.2.1.254
                      ip: 10.2.1.10
                      netmask: 255.255.255.0
                      type: static
                    tunterm_dhcpd_config:
                      '2':
                        enabled: true
                        servers:
                        - 11.2.3.44
                      enabled: false
                      servers:
                      - 11.2.3.4
                    tunterm_extra_routes:
                      11.0.0.0/8:
                        via: 10.3.3.1
                    tunterm_ip_config:
                      gateway: 10.2.1.254
                      ip: 10.2.1.1
                      netmask: 255.255.255.0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/assign:
    parameters: []
    post:
      tags:
      - Orgs MxEdges
      summary: assignOrgMxEdgeToSite
      description: Assign one or more Mist Edge appliances from the organization to a site by Mist Edge ID and site ID.
      operationId: assignOrgMxEdgeToSite
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mxedges_assign'
              - description: Request Body
                examples:
                - mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
              contentMediaType: application/json
            examples:
              Example:
                value:
                  mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
        required: false
      responses:
        '200':
          description: OK - list only devices that has deviceprofile_id changed
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_assign_success'
                - description: Assignment operation success response
                  examples:
                  - success:
                    - 5c5b350e0001
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    success:
                    - 5c5b350e0001
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_assign_success'
                - description: Assignment operation success response
                  examples:
                  - success:
                    - 5c5b350e0001
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    success:
                    - 5c5b350e0001
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/claim:
    parameters: []
    post:
      tags:
      - Orgs MxEdges
      summary: claimOrgMxEdge
      description: Claim one or more Mist Edge appliances into the organization using their claim codes.
      operationId: claimOrgMxEdge
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
              description: Request Body
              examples:
              - - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
              contentMediaType: application/json
            examples:
              Example:
                value:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_claim_mx_edge'
                - description: Mist Edge claim response
                  examples:
                  - id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_claim_mx_edge'
                - description: Mist Edge claim response
                  examples:
                  - id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    id: 95ddd29a-6a3c-929e-a431-51a5b09f36a6
                    magic: ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/count:
    parameters: []
    get:
      tags:
      - Orgs MxEdges
      summary: countOrgMxEdges
      description: Count organization Mist Edge records, optionally grouped by `distinct` and filtered by Mist Edge, cluster, site, model, distro, tunnel termination version, and time range.
      operationId: countOrgMxEdges
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `distro`, `model`, `mxcluster_id`, `site_id`, `tunterm_version`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_mxedge_count_distinct'
          - description: 'Field used to group this count response. enum: `distro`, `model`, `mxcluster_id`, `site_id`, `tunterm_version`'
      - name: mxedge_id
        in: query
        description: Filter results by Mist Edge identifier
        style: form
        explode: true
        schema:
          type: string
      - name: site_id
        in: query
        description: Mist edge site id
        style: form
        explode: true
        schema:
          type: string
      - name: mxcluster_id
        in: query
        description: Mist edge cluster id
        style: form
        explode: true
        schema:
          type: string
      - name: model
        in: query
        description: Filter results by device model
        style: form
        explode: true
        schema:
          type: string
      - name: distro
        in: query
        description: Debian code name (buster, bullseye)
        style: form
        explode: true
        schema:
          type: string
      - name: tunterm_version
        in: query
        description: Filter results by tunnel termination version
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: Field used to sort results
        style: form
        explode: true
        schema:
          type: string
      - name: stats
        in: query
        description: Whether to return device stats, default is false
        style: form
        explode: true
        schema:
          type: boolean
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/events/count:
    parameters: []
    get:
      tags:
      - Orgs MxEdges
      summary: countOrgSiteMxEdgeEvents
      description: Count Mist Edge event records across the organization, optionally grouped by `distinct` and filtered by Mist Edge, cluster, event type, service, and time range.
      operationId: countOrgSiteMxEdgeEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `mxcluster_id`, `mxedge_id`, `package`, `type`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_mxedge_events_count_distinct'
          - description: 'Field used to group this count response. enum: `mxcluster_id`, `mxedge_id`, `package`, `type`'
      - name: mxedge_id
        in: query
        description: Filter results by Mist Edge identifier
        style: form
        explode: true
        schema:
          type: string
      - name: mxcluster_id
        in: query
        description: Mist edge cluster id
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listDeviceEventsDefinitions)
        style: form
        explode: true
        schema:
          type: string
      - name: service
        in: query
        description: Filter results by service name
        style: form
        explode: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/events/search:
    parameters: []
    get:
      tags:
      - Orgs MxEdges
      summary: searchOrgMistEdgeEvents
      description: Search Mist Edge event records across the organization with filters for Mist Edge, cluster, event type, service, component, and time range.
      operationId: searchOrgMistEdgeEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mxedge_id
        in: query
        description: Filter results by Mist Edge identifier
        style: form
        explode: true
        schema:
          type: string
      - name: mxcluster_id
        in: query
        description: Mist edge cluster id
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listDeviceEventsDefinitions)
        style: form
        explode: true
        schema:
          type: string
      - name: service
        in: query
        description: Filter results by service name
        style: form
        explode: true
        schema:
          type: string
      - name: component
        in: query
        description: Filter results by component name
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_mxedge_events_search'
                - description: Search response for Mist Edge event records
                  examples:
                  - end: 1694708579
                    limit: 10
                    page: 3
                    results:
                    - mxcluster_id: 2815c917-58e7-472f-a190-bfd44fb58d05
                      mxedge_id: 00000000-0000-0000-1000-020000dc585c
                      org_id: f2695c32-0e83-4936-b1b2-96fc88051213
                      service: tunterm
                      timestamp: 1694678225.927
                      type: ME_SERVICE_STOPPED
                    start: 1694622179
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1694708579
                    limit: 10
                    page: 3
                    results:
                    - mxcluster_id: 2815c917-58e7-472f-a190-bfd44fb58d05
                      mxedge_id: 00000000-0000-0000-1000-020000dc585c
                      org_id: f2695c32-0e83-4936-b1b2-96fc88051213
                      service: tunterm
                      timestamp: 1694678225.927
                      type: ME_SERVICE_STOPPED
                    start: 1694622179
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_mxedge_events_search'
                - description: Search response for Mist Edge event records
                  examples:
                  - end: 1694708579
                    limit: 10
                    page: 3
                    results:
                    - mxcluster_id: 2815c917-58e7-472f-a190-bfd44fb58d05
                      mxedge_id: 00000000-0000-0000-1000-020000dc585c
                      org_id: f2695c32-0e83-4936-b1b2-96fc88051213
                      service: tunterm
                      timestamp: 1694678225.927
                      type: ME_SERVICE_STOPPED
                    start: 1694622179
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1694708579
                    limit: 10
                    page: 3
                    results:
                    - mxcluster_id: 2815c917-58e7-472f-a190-bfd44fb58d05
                      mxedge_id: 00000000-0000-0000-1000-020000dc585c
                      org_id: f2695c32-0e83-4936-b1b2-96fc88051213
                      service: tunterm
                      timestamp: 1694678225.927
                      type: ME_SERVICE_STOPPED
                    start: 1694622179
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/search:
    parameters: []
    get:
      tags:
      - Orgs MxEdges
      summary: searchOrgMxEdges
      description: Search organization Mist Edge records with filters for hostname, Mist Edge, cluster, site, model, distro, tunnel termination version, and time range.
      operationId: searchOrgMxEdges
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: hostname
        in: query
        description: Partial / full Device hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-london*` and `*london*` match `my-london-1`). Suffix-only wildcards (e.g. `*london-1`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-london-1,my-london*
          - my-london-1
          - my-london*
          - '*london*'
        examples:
          Untitled Example1:
            value: my-london-1,my-london*
          Untitled Example2:
            value: my-london-1
          Untitled Example3:
            value: my-london*
          Untitled Example4:
            value: '*london*'
      - name: mxedge_id
        in: query
        description: Filter results by Mist Edge identifier. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002
      - name: mxcluster_id
        in: query
        description: Mist edge cluster id. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002
      - name: model
        in: query
        description: Partial / full Device model. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `AP4*` and `*P4*` match `AP43`). Suffix-only wildcards (e.g. `*43`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP43,AP4*
          - AP43
          - AP4*
          - '*P4*'
        examples:
          Untitled Example1:
            value: AP43,AP4*
          Untitled Example2:
            value: AP43
          Untitled Example3:
            value: AP4*
          Untitled Example4:
            value: '*P4*'
      - name: distro
        in: query
        description: Debian code name (buster, bullseye)
        style: form
        explode: true
        schema:
          type: string
      - name: tunterm_version
        in: query
        description: Filter results by tunnel termination version
        style: form
        explode: true
        schema:
          type: string
      - name: site_id
        in: query
        description: Mist edge site id
        style: form
        explode: true
        schema:
          type: string
      - name: stats
        in: query
        description: Whether to return device stats, default is false
        style: form
        explode: true
        schema:
          type: boolean
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_mxedge_search'
                - description: Search response for Mist Edge records
                  examples:
                  - end: 1694708579
                    limit: 10
                    results:
                    - distro: buster
                      last_seen: 1695151551.833
                      model: ME-X5
                      mxedge_id: 00000000-0000-0000-1000-d420b0f0025d
                      org_id: 35d96b1a-1a13-4ba8-90f5-1e78dd2a10c5
                      tunterm_version: 0.1.2813
                      uptime: 5662632
                    start: 1694622179
                    total: 2
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1694708579
                    limit: 10
                    results:
                    - distro: buster
                      last_seen: 1695151551.833
                      model: ME-X5
                      mxedge_id: 00000000-0000-0000-1000-d420b0f0025d
                      org_id: 35d96b1a-1a13-4ba8-90f5-1e78dd2a10c5
                      tunterm_version: 0.1.2813
                      uptime: 5662632
                    start: 1694622179
                    total: 2
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_mxedge_search'
                - description: Search response for Mist Edge records
                  examples:
                  - end: 1694708579
                    limit: 10
                    results:
                    - distro: buster
                      last_seen: 1695151551.833
                      model: ME-X5
                      mxedge_id: 00000000-0000-0000-1000-d420b0f0025d
                      org_id: 35d96b1a-1a13-4ba8-90f5-1e78dd2a10c5
                      tunterm_version: 0.1.2813
                      uptime: 5662632
                    start: 1694622179
                    total: 2
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1694708579
                    limit: 10
                    results:
                    - distro: buster
                      last_seen: 1695151551.833
                      model: ME-X5
                      mxedge_id: 00000000-0000-0000-1000-d420b0f0025d
                      org_id: 35d96b1a-1a13-4ba8-90f5-1e78dd2a10c5
                      tunterm_version: 0.1.2813
                      uptime: 5662632
                    start: 1694622179
                    total: 2
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxedges/unassign:
    parameters: []
    post:
      tags:
      - Orgs MxEdges
      summary: unassignOrgMxEdgeFromSite
      description: Unassign one or more Mist Edge appliances from their current site while keeping them in the organization.
      operationId: unassignOrgMxEdgeFromSite
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mxedges_unassign'
              - description: Request Body
                examples:
                - mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
[...]
