openapi: 3.2.0
info:
  title: Mist Orgs Stats - Other Devices API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Stats - Other Devices
  description: API Calls to retrieve statistics about the Other/3rd party devices at the Org level
paths:
  /api/v1/orgs/{org_id}/stats/otherdevices/{device_mac}:
    parameters: []
    get:
      tags:
      - Orgs Stats - Other Devices
      summary: getOrgOtherDeviceStats
      description: Get Otherdevice Stats
      operationId: getOrgOtherDeviceStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_device_other'
                - description: Statistics for a third-party or other device tracked by Mist
                  examples:
                  - cached_stats: true
                    connected_devices:
                      0200010edbca:
                        mac: 020001abcdef
                        name: DNT-NTR-GWE
                        port_id: ge-0/0/1
                        type: gateway
                    last_seen: 1740996902
                    lldp_enabled: true
                    mac: 00304498a1e8
                    uptime: 622828
                    vendor: cradlepoint
                    vendor_specific:
                      interfaces:
                        ethernet-IPPT:
                          bytes_in: 331068567
                          bytes_out: 6763536255
                          display_name: Primary LAN
                          ip: 192.168.0.1
                          link: true
                          mode: lan
                          port_parent: Primary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        ethernet-lan:
                          bytes_in: 13072566048
                          bytes_out: 5617915438
                          display_name: Secondary LAN
                          ip: 192.168.0.1
                          link: false
                          mode: lan
                          port_parent: Secondary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        mdm-8a1084c9:
                          bytes_in: 0
                          bytes_out: 0
                          carrier: Unknown Service
                          imei: '866401234567894'
                          imsi: ''
                          ip: ''
                          link: false
                          mode: wan
                          mtu: 1400
                          rsrp: 0
                          rsrq: 0
                          rssi: 0
                          service_mode: Not Available
                          sinr: 0
                          state: NOSIM
                          type: mdm
                          uptime: 0
                        mdm-8a1fc70c:
                          bytes_in: 5623096929
                          bytes_out: 12372750366
                          carrier: AT&T
                          imei: '866401234567893'
                          imsi: '208001234567893'
                          ip: 12.68.86.17
                          link: true
                          mode: wan
                          mtu: 1400
                          rsrp: -108
                          rsrq: -14
                          rssi: -74
                          service_mode: 5G NSA
                          sinr: -1.2
                          state: READY
                          type: mdm
                          uptime: 2095779
                    version: 7.24.80
                contentMediaType: application/json
              examples:
                Otherdevice Stats:
                  value:
                    cached_stats: true
                    connected_devices:
                      0200010edbca:
                        mac: 020001abcdef
                        name: DNT-NTR-GWE
                        port_id: ge-0/0/1
                        type: gateway
                    last_seen: 1740996902
                    lldp_enabled: true
                    mac: 00304498a1e8
                    uptime: 622828
                    vendor: cradlepoint
                    vendor_specific:
                      interfaces:
                        ethernet-IPPT:
                          bytes_in: 331068567
                          bytes_out: 6763536255
                          display_name: Primary LAN
                          ip: 192.168.0.1
                          link: true
                          mode: lan
                          port_parent: Primary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        ethernet-lan:
                          bytes_in: 13072566048
                          bytes_out: 5617915438
                          display_name: Secondary LAN
                          ip: 192.168.0.1
                          link: false
                          mode: lan
                          port_parent: Secondary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        mdm-8a1084c9:
                          bytes_in: 0
                          bytes_out: 0
                          carrier: Unknown Service
                          imei: '866401234567894'
                          imsi: ''
                          ip: ''
                          link: false
                          mode: wan
                          mtu: 1400
                          rsrp: 0
                          rsrq: 0
                          rssi: 0
                          service_mode: Not Available
                          sinr: 0
                          state: NOSIM
                          type: mdm
                          uptime: 0
                        mdm-8a1fc70c:
                          bytes_in: 5623096929
                          bytes_out: 12372750366
                          carrier: AT&T
                          imei: '866401234567893'
                          imsi: '208001234567893'
                          ip: 12.68.86.17
                          link: true
                          mode: wan
                          mtu: 1400
                          rsrp: -108
                          rsrq: -14
                          rssi: -74
                          service_mode: 5G NSA
                          sinr: -1.2
                          state: READY
                          type: mdm
                          uptime: 2095779
                    version: 7.24.80
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_device_other'
                - description: Statistics for a third-party or other device tracked by Mist
                  examples:
                  - cached_stats: true
                    connected_devices:
                      0200010edbca:
                        mac: 020001abcdef
                        name: DNT-NTR-GWE
                        port_id: ge-0/0/1
                        type: gateway
                    last_seen: 1740996902
                    lldp_enabled: true
                    mac: 00304498a1e8
                    uptime: 622828
                    vendor: cradlepoint
                    vendor_specific:
                      interfaces:
                        ethernet-IPPT:
                          bytes_in: 331068567
                          bytes_out: 6763536255
                          display_name: Primary LAN
                          ip: 192.168.0.1
                          link: true
                          mode: lan
                          port_parent: Primary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        ethernet-lan:
                          bytes_in: 13072566048
                          bytes_out: 5617915438
                          display_name: Secondary LAN
                          ip: 192.168.0.1
                          link: false
                          mode: lan
                          port_parent: Secondary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        mdm-8a1084c9:
                          bytes_in: 0
                          bytes_out: 0
                          carrier: Unknown Service
                          imei: '866401234567894'
                          imsi: ''
                          ip: ''
                          link: false
                          mode: wan
                          mtu: 1400
                          rsrp: 0
                          rsrq: 0
                          rssi: 0
                          service_mode: Not Available
                          sinr: 0
                          state: NOSIM
                          type: mdm
                          uptime: 0
                        mdm-8a1fc70c:
                          bytes_in: 5623096929
                          bytes_out: 12372750366
                          carrier: AT&T
                          imei: '866401234567893'
                          imsi: '208001234567893'
                          ip: 12.68.86.17
                          link: true
                          mode: wan
                          mtu: 1400
                          rsrp: -108
                          rsrq: -14
                          rssi: -74
                          service_mode: 5G NSA
                          sinr: -1.2
                          state: READY
                          type: mdm
                          uptime: 2095779
                    version: 7.24.80
                contentMediaType: application/vnd.api+json
              examples:
                Otherdevice Stats:
                  value:
                    cached_stats: true
                    connected_devices:
                      0200010edbca:
                        mac: 020001abcdef
                        name: DNT-NTR-GWE
                        port_id: ge-0/0/1
                        type: gateway
                    last_seen: 1740996902
                    lldp_enabled: true
                    mac: 00304498a1e8
                    uptime: 622828
                    vendor: cradlepoint
                    vendor_specific:
                      interfaces:
                        ethernet-IPPT:
                          bytes_in: 331068567
                          bytes_out: 6763536255
                          display_name: Primary LAN
                          ip: 192.168.0.1
                          link: true
                          mode: lan
                          port_parent: Primary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        ethernet-lan:
                          bytes_in: 13072566048
                          bytes_out: 5617915438
                          display_name: Secondary LAN
                          ip: 192.168.0.1
                          link: false
                          mode: lan
                          port_parent: Secondary LAN
                          service_mode: Ethernet
                          type: ethernet
                          uptime: 0
                        mdm-8a1084c9:
                          bytes_in: 0
                          bytes_out: 0
                          carrier: Unknown Service
                          imei: '866401234567894'
                          imsi: ''
                          ip: ''
                          link: false
                          mode: wan
                          mtu: 1400
                          rsrp: 0
                          rsrq: 0
                          rssi: 0
                          service_mode: Not Available
                          sinr: 0
                          state: NOSIM
                          type: mdm
                          uptime: 0
                        mdm-8a1fc70c:
                          bytes_in: 5623096929
                          bytes_out: 12372750366
                          carrier: AT&T
                          imei: '866401234567893'
                          imsi: '208001234567893'
                          ip: 12.68.86.17
                          link: true
                          mode: wan
                          mtu: 1400
                          rsrp: -108
                          rsrq: -14
                          rssi: -74
                          service_mode: 5G NSA
                          sinr: -1.2
                          state: READY
                          type: mdm
                          uptime: 2095779
                    version: 7.24.80
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    stats_device_other:
      title: stats_device_other
      type: object
      properties:
        cached_stats:
          type: boolean
          description: Whether the response was served from cached vendor statistics
        config_status:
          type: string
          description: Synchronization status of the other device configuration in Mist
          examples:
          - synced
        connected_devices:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_device_other_connected_device'
          description: LLDP neighbor devices discovered from the other device
        interfaces:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_device_other_interface'
          description: Network interface statistics reported for the other device
        last_config:
          type: integer
          description: Timestamp of the last configuration update reported for the other device, in epoch seconds
          contentEncoding: int32
          examples:
          - 1675392788
        last_seen:
          type:
          - number
          - 'null'
          description: Time when Mist last observed the other device, in epoch seconds
          readOnly: true
          examples:
          - 1470417522
        lldp_enabled:
          type: boolean
          description: Whether LLDP is enabled on the other device
        mac:
          type: string
          description: Other device MAC address reported in the statistics response
          examples:
          - 5c5b35000018
        status:
          type: string
          description: Connectivity status reported for the other device, such as online
          examples:
          - online
        uptime:
          type: integer
          description: Elapsed time since the other device last booted, in seconds
          contentEncoding: int32
          examples:
          - 20296
        vendor:
          type: string
          description: Device vendor name, such as Cradlepoint
          examples:
          - cradlepoint
        vendor_specific:
          allOf:
          - $ref: '#/components/schemas/stats_device_other_vendor_specific2'
          - description: Additional statistics returned by the device vendor
        version:
          type: string
          description: Vendor software version reported for the other device
          examples:
          - 7.22.70
      description: Statistics for a third-party or other device tracked by Mist
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    stats_device_other_connected_device:
      title: stats_device_other_connected_device
      type: object
      properties:
        mac:
          type: string
          description: Connected device MAC address learned from LLDP
          examples:
          - 020001abcdef
        name:
          type: string
          description: LLDP system name reported for the connected device
          examples:
          - DNT-NTR-GWE
        port_id:
          type: string
          description: LLDP port identifier reported for the connected device
          examples:
          - ge-0/0/1
        type:
          type: string
          description: Detected Mist device type for the connected neighbor
          examples:
          - gateway
      description: LLDP neighbor device discovered from an other-device statistics record
    stats_device_other_interface:
      title: stats_device_other_interface
      type: object
      properties:
        bytes_in:
          type: integer
          description: Total bytes received on the interface
          contentEncoding: int64
          examples:
          - 5623096929
        bytes_out:
          type: integer
          description: Total bytes transmitted from the interface
          contentEncoding: int64
          examples:
          - 12372750366
        carrier:
          type: string
          description: Cellular carrier name reported for the interface, when applicable
          examples:
          - Orange
        imei:
          type: string
          description: Modem IMEI serving the interface, when applicable
          examples:
          - '866401234567893'
        imsi:
          type: string
          description: Subscriber IMSI associated with the interface, when applicable
          examples:
          - '2080101234567893'
        ip:
          type: string
          description: Interface IP address reported by the vendor
          examples:
          - 10.134.237.57
        link:
          type: boolean
          description: Whether the interface link is up
          examples:
          - true
        mode:
          type: string
          description: Interface role reported by the vendor, such as wan or lan
          examples:
          - wan
        mtu:
          type: integer
          description: Maximum transmission unit configured on the interface, in bytes
          contentEncoding: int32
          examples:
          - 1500
        rsrp:
          type: number
          description: Reference signal received power for a cellular interface, in dBm
          examples:
          - -108
        rsrq:
          type: number
          description: Reference signal received quality for a cellular interface, in dB
          examples:
          - -14
        rssi:
          type: integer
          description: Received signal strength indicator for a cellular interface, in dBm
          contentEncoding: int32
          examples:
          - -74
        service_mode:
          type: string
          description: Cellular service mode reported for the interface, such as 5G NSA
          examples:
          - 5G NSA
        sinr:
          type: number
          description: Signal-to-interference-plus-noise ratio for a cellular interface, in dB
          examples:
          - -1.2
        state:
          type: string
          description: Operational state reported for the interface
          examples:
          - READY
        type:
          type: string
          description: Interface type reported by the vendor, such as mdm or ethernet
          examples:
          - mdm
        uptime:
          type: integer
          description: Elapsed time since the interface last became active, in seconds
          contentEncoding: int32
          examples:
          - 2095779
      description: Network interface statistics for a third-party device tracked by Mist
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    stats_device_other_vendor_specific_port:
      title: stats_device_other_vendor_specific_port
      type: object
      properties:
        bytes_in:
          type: integer
          description: Total bytes received on the Cradlepoint interface
          contentEncoding: int64
          examples:
          - 5623096929
        bytes_out:
          type: integer
          description: Total bytes transmitted from the Cradlepoint interface
          contentEncoding: int64
          examples:
          - 12372750366
        carrier:
          type: string
          description: Cellular carrier name reported for the Cradlepoint interface, when applicable
          examples:
          - Orange
        display_name:
          type: string
          description: Human-readable interface name reported by Cradlepoint
          examples:
          - mdm-4d0e073b
        imei:
          type: string
          description: Modem IMEI serving the Cradlepoint interface, when applicable
          examples:
          - '866401234567893'
        imsi:
          type: string
          description: Subscriber IMSI associated with the Cradlepoint interface, when applicable
          examples:
          - '2080101234567893'
        ip:
          type: string
          description: Cradlepoint interface IP address reported by the vendor
          examples:
          - 10.134.237.57
        link:
          type: boolean
          description: Whether the Cradlepoint interface link is up
          examples:
          - true
        mode:
          type: string
          description: Interface role reported by Cradlepoint, such as wan or lan
          examples:
          - wan
        mtu:
          type: integer
          description: Maximum transmission unit configured on the Cradlepoint interface, in bytes
          contentEncoding: int32
          examples:
          - 1500
        port_parent:
          type: string
          description: Parent Cradlepoint port or interface group for this interface
          examples:
          - mdm
        rsrp:
          type: number
          description: Reference signal received power for a Cradlepoint cellular interface, in dBm
          examples:
          - -108
        rsrq:
          type: number
          description: Reference signal received quality for a Cradlepoint cellular interface, in dB
          examples:
          - -14
        rssi:
          type: integer
          description: Received signal strength indicator for a Cradlepoint cellular interface, in dBm
          contentEncoding: int32
          examples:
          - -74
        service_mode:
          type: string
          description: Cellular service mode reported for the Cradlepoint interface, such as 5G NSA
          examples:
          - 5G NSA
        sinr:
          type: number
          description: Signal-to-interference-plus-noise ratio for a Cradlepoint cellular interface, in dB
          examples:
          - -1.2
        state:
          type: string
          description: Operational state reported for the Cradlepoint interface
          examples:
          - READY
        type:
          type: string
          description: Interface type reported by Cradlepoint, such as mdm or ethernet
          examples:
          - mdm
        uptime:
          type: integer
          description: Elapsed time since the Cradlepoint interface last became active, in seconds
          contentEncoding: int32
          examples:
          - 2095779
      description: Cradlepoint interface statistics for a device tracked by Mist
    stats_device_other_vendor_specific2:
      title: stats_device_other_vendor_specific2
      type: object
      properties:
        interfaces:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_device_other_vendor_specific_port'
          description: Cradlepoint interface statistics keyed by vendor interface identifier
          examples:
          - mdm-4d0e073b:
              bytes_in: 5623096929
              bytes_out: 12372750366
              carrier: Orange
              imei: '866401234567893'
              imsi: '2080101234567893'
              ip: 10.134.237.57
              link: true
              mode: wan
              rsrp: -108
              rsrq: -14
              rssi: -74
              service_mode: 5G NSA
              sinr: -1.2
              state: READY
              type: mdm
              uptime: 2095779
        target_version:
          type: string
          description: Cradlepoint software version targeted for the device
          examples:
          - 7.23.40
      description: Additional statistics returned by the device vendor
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
