openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist RF Templates API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: RF Templates
  description: Radio frequency templates
paths:
  /sites/{site_id}/rftemplates:
    get:
      operationId: listSiteRfTemplates
      summary: Juniper Networks List RF templates
      description: Returns RF templates available at the site.
      tags:
      - RF Templates
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: List of RF templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RfTemplate'
components:
  schemas:
    RfTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        name:
          type: string
        band_24:
          type: object
          properties:
            enabled:
              type: boolean
            power:
              type: integer
            channels:
              type: array
              items:
                type: integer
        band_5:
          type: object
          properties:
            enabled:
              type: boolean
            power:
              type: integer
            channels:
              type: array
              items:
                type: integer
        band_6:
          type: object
          properties:
            enabled:
              type: boolean
            power:
              type: integer
            channels:
              type: array
              items:
                type: integer
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
