openapi: 3.2.0
info:
  title: Mist Sites Beacons API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Beacons
paths:
  /api/v1/sites/{site_id}/beacons:
    parameters: []
    get:
      tags:
      - Sites Beacons
      summary: listSiteBeacons
      description: Get List of Site Beacons
      operationId: listSiteBeacons
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/beacon'
                description: List of beacon configuration records
                examples:
                - - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/beacon'
                description: List of beacon configuration records
                examples:
                - - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Beacons
      summary: createSiteBeacon
      description: Create Site Beacon
      operationId: createSiteBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/beacon'
              - description: Request Body
                examples:
                - eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_minor: 1
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
              contentMediaType: application/json
            examples:
              Example:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_minor: 1
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/beacon'
                - description: Beacon configuration and placement data
                  examples:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/beacon'
                - description: Beacon configuration and placement data
                  examples:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/beacons/{beacon_id}:
    parameters: []
    delete:
      tags:
      - Sites Beacons
      summary: deleteSiteBeacon
      description: Delete Site Beacon
      operationId: deleteSiteBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: beacon_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites Beacons
      summary: getSiteBeacon
      description: Get Site Beacon Details
      operationId: getSiteBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: beacon_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/beacon'
                - description: Beacon configuration and placement data
                  examples:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/beacon'
                - description: Beacon configuration and placement data
                  examples:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Sites Beacons
      summary: updateSiteBeacon
      description: Update Site Beacon
      operationId: updateSiteBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: beacon_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/beacon'
              - description: Request Body
                examples:
                - eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_minor: 1
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
              contentMediaType: application/json
            examples:
              Example:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_minor: 1
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/beacon'
                - description: Beacon configuration and placement data
                  examples:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/beacon'
                - description: Beacon configuration and placement data
                  examples:
                  - created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    eddystone_instance: string
                    eddystone_namespace: string
                    eddystone_url: string
                    ibeacon_major: 1
                    ibeacon_minor: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mac: string
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 0
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    type: eddystone-uid
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    beacon:
      title: beacon
      type: object
      properties:
        created_time:
          type: number
          description: Timestamp when this beacon configuration was created
          readOnly: true
        eddystone_instance:
          type: string
          description: Eddystone-UID instance (6 bytes) in hexstring format
        eddystone_namespace:
          type: string
          description: Eddystone-UID namespace (10 bytes) in hexstring format
        eddystone_url:
          type: string
          description: Eddystone-URL value broadcast by the beacon
        for_site:
          type: boolean
          description: Whether this beacon is scoped directly to a site
          readOnly: true
        ibeacon_major:
          maximum: 65535
          minimum: 1
          type:
          - integer
          - 'null'
          description: iBeacon major value advertised by this beacon
          contentEncoding: int32
          examples:
          - 1234
        ibeacon_minor:
          maximum: 65535
          minimum: 1
          type:
          - integer
          - 'null'
          description: iBeacon minor value advertised by this beacon
          contentEncoding: int32
          examples:
          - 1234
        ibeacon_uuid:
          type:
          - string
          - 'null'
          description: iBeacon UUID advertised by this beacon
          contentEncoding: uuid
          examples:
          - f3f17139-704a-f03a-2786-0400279e37c3
        id:
          type: string
          description: Unique identifier of the beacon configuration
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        mac:
          type: string
          description: Optional beacon MAC address, currently used only to identify battery voltage
        map_id:
          type: string
          description: Map where the beacon is placed
          contentEncoding: uuid
        modified_time:
          type: number
          description: Timestamp when this beacon configuration was last modified
          readOnly: true
        name:
          type: string
          description: Display name of the beacon
        org_id:
          type: string
          description: Owning organization identifier for this beacon
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        power:
          maximum: 100
          minimum: -12
          type: integer
          description: Beacon transmit power, in dBm
          contentEncoding: int32
          default: -12
        site_id:
          type: string
          description: Site identifier associated with this beacon
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        type:
          allOf:
          - $ref: '#/components/schemas/beacon_type2'
          - description: 'Beacon advertisement format used by this beacon. enum: `eddystone-uid`, `eddystone-url`, `ibeacon`.'
        x:
          type: number
          description: Horizontal map position of the beacon, in pixels
        y:
          type: number
          description: Vertical map position of the beacon, in pixels
      description: Beacon configuration and placement data
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    beacon_type2:
      title: beacon_type2
      enum:
      - eddystone-uid
      - eddystone-url
      - ibeacon
      type: string
      description: 'Beacon advertisement format used by this beacon. enum: `eddystone-uid`, `eddystone-url`, `ibeacon`.'
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
