openapi: 3.2.0
info:
  title: Mist Sites Maps - Auto-placement API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Maps - Auto-placement
  description: '### AP Auto-Placement

    AP Auto-Placement is a feature in Juniper Mist wireless assurance that automatically determines and sets the positions of Access Points (APs) on a floorplan.'
paths:
  /api/v1/sites/{site_id}/maps/{map_id}/apply_autoplacement:
    parameters: []
    post:
      tags:
      - Sites Maps - Auto-placement
      summary: acceptSiteApLocalizationData
      description: 'Accept the cached autoplacement and auto-orientation values of a map or subset of APs on a map. Any APs that have autoplacement values are stored in cache for up to 7 days while awaiting acceptance.


        Accepting the autoplacement values overwrites the existing X, Y, and orientation of the accepted APs with their cached autoplacement values.


        Once a decision to accept is made, or the 7-day time-to-live (TTL) expires, the cached values are deleted.'
      operationId: acceptSiteApLocalizationData
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/autoplacement_localization_selector'
              - description: Request Body
                examples:
                - for: placement
                  macs:
                  - 5c5b35000001
              contentMediaType: application/json
            examples:
              Example:
                value:
                  for: placement
                  macs:
                  - 5c5b35000001
        required: false
      responses:
        '200':
          description: Success
          headers: {}
          content: {}
        '400':
          description: Map does not exist or belong to specified site / Invalid localization service. Expected [placement, orientation]
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/maps/{map_id}/auto_orient:
    parameters: []
    delete:
      tags:
      - Sites Maps - Auto-placement
      summary: deleteSiteApAutoOrientation
      description: This API is called to force stop auto placement for a given map
      operationId: deleteSiteApAutoOrientation
      parameters:
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Auto orient process has stopped for this map
          headers: {}
          content: {}
        '400':
          description: Autoplacement was not triggered
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites Maps - Auto-placement
      summary: getSiteApAutoOrientation
      description: This API is called to view the current status of auto orient for a given map.
      operationId: getSiteApAutoOrientation
      parameters:
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Map queued for auto orientation
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_orientation_info'
                - description: Auto orientation status response
                  examples:
                  - '{"start_time":1678900062,"status":"done","stop_time":1678900362}'
                  - '{"est_time_left":300.0,"start_time":1678900062,"status":"inprogress"}'
                contentMediaType: application/json
              examples:
                Completed:
                  value:
                    start_time: 1678900062
                    status: done
                    stop_time: 1678900362
                In Progress:
                  value:
                    est_time_left: 300
                    start_time: 1678900062
                    status: inprogress
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_orientation_info'
                - description: Auto orientation status response
                  examples:
                  - '{"start_time":1678900062,"status":"done","stop_time":1678900362}'
                  - '{"est_time_left":300.0,"start_time":1678900062,"status":"inprogress"}'
                contentMediaType: application/vnd.api+json
              examples:
                Completed:
                  value:
                    start_time: 1678900062
                    status: done
                    stop_time: 1678900362
                In Progress:
                  value:
                    est_time_left: 300
                    start_time: 1678900062
                    status: inprogress
        '400':
          description: Autoplacement was not triggered
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Maps - Auto-placement
      summary: startSiteApAutoOrientation
      description: 'This API is called to trigger a map for auto orient. For auto orient feature to work, BLE data needs to be collected from the APs on the map. This precess is not disruptive unlike FTM collection. Repeated POST requests to this endpoint while a map is still running will be rejected.


        `force_collection` is set to `false` by default. If `force_collection`==`false`, the API attempts to start orientation with existing data. If no data exists, the API attempts to start collecting orientation data. If `force_collection`==`true`, the API attempts to start collecting orientation data.


        Providing a list of device macs is optional. If provided, auto orientation suggestions will be made only for the specified devices. If no list is provided, all APs associated with the map are considered by default.'
      operationId: startSiteApAutoOrientation
      parameters:
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auto_orient'
        required: false
      responses:
        '200':
          description: Map queued for auto orientation
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_orientation'
                - description: Auto orientation start response
                  examples:
                  - '{"devices":{"00000000001":{"reason":"Device meets the minimum requirements for auto orient","valid":true},"00000000002":{"reason":"Device meets the minimum requirements for auto orient","valid":true},"00000000003":{"reason":"Device meets the minimum requirements for auto orient","valid":true}},"estimated_runtime":300,"reason":"Map has met the minimum requirements for auto orient","valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":300,"reason":"Map Already Enqueued","started":false,"valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto orient","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"reason":"Map has APs that do not meet the minimum requirements for auto orient","started":false,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP32 is not supported for auto orient","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"estimated_runtime":300,"reason":"Started collection for auto orient","started":true,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":300,"reason":"Started collection for auto orient","started":true,"valid":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":300,"reason":"Unable to reach auto orient service","started":false,"valid":true,"wifi_interrupting":true}'
                contentMediaType: application/json
              examples:
                Dryrun For Map Completed:
                  value:
                    devices:
                      '00000000001':
                        reason: Device meets the minimum requirements for auto orient
                        valid: true
                      '00000000002':
                        reason: Device meets the minimum requirements for auto orient
                        valid: true
                      '00000000003':
                        reason: Device meets the minimum requirements for auto orient
                        valid: true
                    estimated_runtime: 300
                    reason: Map has met the minimum requirements for auto orient
                    valid: true
                    wifi_interrupting: true
                Map Failed To Start As It Had Less Than 3 APs Associated With It:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 300
                    reason: Map Already Enqueued
                    started: false
                    valid: true
                    wifi_interrupting: true
                Service Failed To Start Due Containing Invalid APs:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto orient
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    reason: Map has APs that do not meet the minimum requirements for auto orient
                    started: false
                    valid: false
                Service Started After Override For Localization / Orient Collection:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP32 is not supported for auto orient
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    estimated_runtime: 300
                    reason: Started collection for auto orient
                    started: true
                    valid: false
                Service Started Successfully For Localization / Orient Collection:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 300
                    reason: Started collection for auto orient
                    started: true
                    valid: true
                Unable To Reach The Orient Service:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 300
                    reason: Unable to reach auto orient service
                    started: false
                    valid: true
                    wifi_interrupting: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_orientation'
                - description: Auto orientation start response
                  examples:
                  - '{"devices":{"00000000001":{"reason":"Device meets the minimum requirements for auto orient","valid":true},"00000000002":{"reason":"Device meets the minimum requirements for auto orient","valid":true},"00000000003":{"reason":"Device meets the minimum requirements for auto orient","valid":true}},"estimated_runtime":300,"reason":"Map has met the minimum requirements for auto orient","valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":300,"reason":"Map Already Enqueued","started":false,"valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto orient","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"reason":"Map has APs that do not meet the minimum requirements for auto orient","started":false,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP32 is not supported for auto orient","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"estimated_runtime":300,"reason":"Started collection for auto orient","started":true,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":300,"reason":"Started collection for auto orient","started":true,"valid":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":300,"reason":"Unable to reach auto orient service","started":false,"valid":true,"wifi_interrupting":true}'
                contentMediaType: application/vnd.api+json
              examples:
                Dryrun For Map Completed:
                  value:
                    devices:
                      '00000000001':
                        reason: Device meets the minimum requirements for auto orient
                        valid: true
                      '00000000002':
                        reason: Device meets the minimum requirements for auto orient
                        valid: true
                      '00000000003':
                        reason: Device meets the minimum requirements for auto orient
                        valid: true
                    estimated_runtime: 300
                    reason: Map has met the minimum requirements for auto orient
                    valid: true
                    wifi_interrupting: true
                Map Failed To Start As It Had Less Than 3 APs Associated With It:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 300
                    reason: Map Already Enqueued
                    started: false
                    valid: true
                    wifi_interrupting: true
                Service Failed To Start Due Containing Invalid APs:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto orient
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    reason: Map has APs that do not meet the minimum requirements for auto orient
                    started: false
                    valid: false
                Service Started After Override For Localization / Orient Collection:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP32 is not supported for auto orient
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    estimated_runtime: 300
                    reason: Started collection for auto orient
                    started: true
                    valid: false
                Service Started Successfully For Localization / Orient Collection:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 300
                    reason: Started collection for auto orient
                    started: true
                    valid: true
                Unable To Reach The Orient Service:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 300
                    reason: Unable to reach auto orient service
                    started: false
                    valid: true
                    wifi_interrupting: true
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - '{"detail":"Map has less than 3 APs associated with it to perform auto orient"}'
                  - '{"detail":"Auto AP orient is already in progress for this Map"}'
                  - '{"detail":"Auto orient data does not exist or has gone stale"}'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Map has less than 3 APs associated with it to perform auto orient
                Example-2:
                  value:
                    detail: Auto AP orient is already in progress for this Map
                Example-3:
                  value:
                    detail: Auto orient data does not exist or has gone stale
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - '{"detail":"Map has less than 3 APs associated with it to perform auto orient"}'
                  - '{"detail":"Auto AP orient is already in progress for this Map"}'
                  - '{"detail":"Auto orient data does not exist or has gone stale"}'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Map has less than 3 APs associated with it to perform auto orient
                Example-2:
                  value:
                    detail: Auto AP orient is already in progress for this Map
                Example-3:
                  value:
                    detail: Auto orient data does not exist or has gone stale
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/maps/{map_id}/auto_placement:
    parameters: []
    delete:
      tags:
      - Sites Maps - Auto-placement
      summary: deleteSiteApAutoplacement
      description: This API is called to force stop auto placement for a given map
      operationId: deleteSiteApAutoplacement
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Autoplacement Process has stopped for this map
          headers: {}
          content: {}
        '400':
          description: Autoplacement was not triggered
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites Maps - Auto-placement
      summary: getSiteApAutoPlacement
      description: 'This API is called to view the current status of auto placement for a given map.


        #### Status Descriptions


        | Status | Description |

        | --- | --- |

        | `pending` | Autoplacement has not been requested for this map |

        | `inprogress` | Autoplacement is currently processing |

        | `done` | The autoplacement process has completed |

        | `data_needed` | Additional position data is required for autoplacement. Users should verify the requested anchor APs have a position on the map |

        | `invalid_model` | Autoplacement is not supported on the model of the APs on the map |

        | `invalid_version` | Autoplacement is not supported with the APs current firmware version |

        | `error` | There was an error in the autoplacement process |'
      operationId: getSiteApAutoPlacement
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_placement_info'
                - description: Auto-placement status response with progress and validation details
                  examples:
                  - '{"end_time":1678900362,"start_time":1678900062,"status":"done"}'
                  - '{"end_time":1678900362,"start_time":1678900062,"status":"error"}'
                  - '{"est_time_left":300,"start_time":1678900062,"status":"inprogress"}'
                  - '{"status":"pending"}'
                contentMediaType: application/json
              examples:
                Done:
                  value:
                    end_time: 1678900362
                    start_time: 1678900062
                    status: done
                Error:
                  value:
                    end_time: 1678900362
                    start_time: 1678900062
                    status: error
                In Progress:
                  value:
                    est_time_left: 300
                    start_time: 1678900062
                    status: inprogress
                Pending:
                  value:
                    status: pending
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_placement_info'
                - description: Auto-placement status response with progress and validation details
                  examples:
                  - '{"end_time":1678900362,"start_time":1678900062,"status":"done"}'
                  - '{"end_time":1678900362,"start_time":1678900062,"status":"error"}'
                  - '{"est_time_left":300,"start_time":1678900062,"status":"inprogress"}'
                  - '{"status":"pending"}'
                contentMediaType: application/vnd.api+json
              examples:
                Done:
                  value:
                    end_time: 1678900362
                    start_time: 1678900062
                    status: done
                Error:
                  value:
                    end_time: 1678900362
                    start_time: 1678900062
                    status: error
                In Progress:
                  value:
                    est_time_left: 300
                    start_time: 1678900062
                    status: inprogress
                Pending:
                  value:
                    status: pending
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Maps - Auto-placement
      summary: runSiteApAutoplacement
      description: 'This API is called to trigger auto placement for a map. For the auto placement feature to work, RTT-FTM data needs to be collected from the APs on the map.

        This scan is disruptive, and users must be notified of service disruption during the auto placement process. Repeated POST requests to this endpoint while a map is still running will be rejected.


        `force_collection` is set to `false` by default. If `force_collection` is set to `false`, the API attempts to start localization with existing data. If no data exists, the API attempts to start orchestration.

        If `force_collection` is set to `true`, the API attempts to start orchestration.


        Providing a list of devices is optional. If provided, autoplacement suggestions will be made only for the specified devices. If no list is provided, all APs associated with the map are considered by default.'
      operationId: runSiteApAutoplacement
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auto_placement'
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_autoplacement'
                - description: Auto-placement start response returned after scheduling the run
                  examples:
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Map Already Enqueued","started":false,"valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Map has met the minimum requirements for auto placement","valid":true,"wifi_interrupting":true}'
                  - '{"devices":{},"reason":"Map has less than 3 APs associated with it to perform auto placement","started":false,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto placement","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"reason":"Map has APs that do not meet the minimum requirements for auto placement","started":false,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto placement","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"reason":"Started localization for auto placement","started":true,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto placement","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"estimated_runtime":30,"reason":"Started collection for auto placement","started":true,"valid":false,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"reason":"Started localization for auto placement","started":true,"valid":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Started collection for auto placement","started":true,"valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Unable to reach auto placement service","started":false,"valid":true,"wifi_interrupting":true}'
                contentMediaType: application/json
              examples:
                Auto placement is already in progress for this map:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Map Already Enqueued
                    started: false
                    valid: true
                    wifi_interrupting: true
                Dryrun for map completed:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Map has met the minimum requirements for auto placement
                    valid: true
                    wifi_interrupting: true
                Map failed to start as it had less than 3 APs associated with it:
                  value:
                    devices: {}
                    reason: Map has less than 3 APs associated with it to perform auto placement
                    started: false
                    valid: false
                Service failed to start due containing invalid APs:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto placement
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    reason: Map has APs that do not meet the minimum requirements for auto placement
                    started: false
                    valid: false
                Service started after override for localization:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto placement
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    reason: Started localization for auto placement
                    started: true
                    valid: false
                Service started after override for orchestration:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto placement
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    estimated_runtime: 30
                    reason: Started collection for auto placement
                    started: true
                    valid: false
                    wifi_interrupting: true
                Service started successfully for localization:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    reason: Started localization for auto placement
                    started: true
                    valid: true
                Service started successfully for orchestration:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Started collection for auto placement
                    started: true
                    valid: true
                    wifi_interrupting: true
                Unable to reach the autoplacement service:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Unable to reach auto placement service
                    started: false
                    valid: true
                    wifi_interrupting: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_autoplacement'
                - description: Auto-placement start response returned after scheduling the run
                  examples:
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Map Already Enqueued","started":false,"valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Map has met the minimum requirements for auto placement","valid":true,"wifi_interrupting":true}'
                  - '{"devices":{},"reason":"Map has less than 3 APs associated with it to perform auto placement","started":false,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto placement","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"reason":"Map has APs that do not meet the minimum requirements for auto placement","started":false,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto placement","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"reason":"Started localization for auto placement","started":true,"valid":false}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true},"00000000004":{"reason":"Device model AP41 is not supported for auto placement","valid":false},"00000000005":{"reason":"Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310","valid":false}},"estimated_runtime":30,"reason":"Started collection for auto placement","started":true,"valid":false,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"reason":"Started localization for auto placement","started":true,"valid":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Started collection for auto placement","started":true,"valid":true,"wifi_interrupting":true}'
                  - '{"devices":{"00000000001":{"valid":true},"00000000002":{"valid":true},"00000000003":{"valid":true}},"estimated_runtime":30,"reason":"Unable to reach auto placement service","started":false,"valid":true,"wifi_interrupting":true}'
                contentMediaType: application/vnd.api+json
              examples:
                Auto placement is already in progress for this map:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Map Already Enqueued
                    started: false
                    valid: true
                    wifi_interrupting: true
                Dryrun for map completed:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Map has met the minimum requirements for auto placement
                    valid: true
                    wifi_interrupting: true
                Map failed to start as it had less than 3 APs associated with it:
                  value:
                    devices: {}
                    reason: Map has less than 3 APs associated with it to perform auto placement
                    started: false
                    valid: false
                Service failed to start due containing invalid APs:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto placement
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    reason: Map has APs that do not meet the minimum requirements for auto placement
                    started: false
                    valid: false
                Service started after override for localization:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto placement
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    reason: Started localization for auto placement
                    started: true
                    valid: false
                Service started after override for orchestration:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                      '00000000004':
                        reason: Device model AP41 is not supported for auto placement
                        valid: false
                      '00000000005':
                        reason: Device firmware 0.14.28300 does not meet the minimum requirement 0.14.28310
                        valid: false
                    estimated_runtime: 30
                    reason: Started collection for auto placement
                    started: true
                    valid: false
                    wifi_interrupting: true
                Service started successfully for localization:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    reason: Started localization for auto placement
                    started: true
                    valid: true
                Service started successfully for orchestration:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Started collection for auto placement
                    started: true
                    valid: true
                    wifi_interrupting: true
                Unable to reach the autoplacement service:
                  value:
                    devices:
                      '00000000001':
                        valid: true
                      '00000000002':
                        valid: true
                      '00000000003':
                        valid: true
                    estimated_runtime: 30
                    reason: Unable to reach auto placement service
                    started: false
                    valid: true
                    wifi_interrupting: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/maps/{map_id}/clear_auto_orient:
    parameters: []
    post:
      tags:
      - Sites Maps - Auto-placement
      summary: clearSiteApAutoOrient
      description: This API is used to destroy the autoorientations of a map or subset of APs on a map.
      operationId: clearSiteApAutoOrient
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mac_addresses'
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/maps/{map_id}/clear_autoplacement:
    parameters: []
    post:
      tags:
      - Sites Maps - Auto-placement
      summary: clearSiteApAutoplacement
      description: 'Reject the cached autoplacement and auto-orientation values of a map or subset of APs on a map. Any APs that have autoplacement values are stored in cache for up to 7 days while awaiting rejection.


        Rejecting the autoplacement values causes the APs to retain their current X, Y, and orientation.


        Once a decision to reject is made, or the 7-day time-to-live (TTL) expires, the cached values are deleted.'
      operationId: clearSiteApAutoplacement
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/autoplacement_localization_selector'
              - examples:
                - for: placement
                  macs:
                  - 5c5b35000001
              contentMediaType: application/json
            examples:
              Example:
                value:
                  for: placement
                  macs:
                  - 5c5b35000001
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/maps/{map_id}/use_auto_ap_values:
    parameters: []
    post:
      tags:
      - Sites Maps - Auto-placement
      summary: confirmSiteApLocalizationData
      description: '**Deprecated** — use Accept Site AP Autoplacement to accept cached values, or Clear Site AP Autoplacement to reject them.'
      operationId: confirmSiteApLocalizationData
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/use_auto_ap_values'
              - examples:
                - accept: false
                  device_macs:
                  - string
                  for: placement
              contentMediaType: application/json
            examples:
              Example:
                value:
                  accept: false
                  device_macs:
                  - string
                  for: placement
        required: false
      responses:
        '200':
          description: Success
          headers: {}
          content: {}
        '400':
          description: Map does not exist or belong to specified site / Invalid localization service. Expected [placement, orientation]
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
[...]
