openapi: 3.2.0
info:
  title: Mist Orgs WxTunnels API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs WxTunnels
  description: 'A WxLan Tunnel (WxTunnel) are used to create a secure connection between Juniper Mist Access Points and third-party VPN concentrators using protocols such as L2TPv3 or dmvpn.


    These tunnels allow for the aggregation of ethernet interfaces on access points, support dynamic or static tunnels, and provide options for IPSec encryption.'
paths:
  /api/v1/orgs/{org_id}/wxtunnels:
    parameters: []
    get:
      tags:
      - Orgs WxTunnels
      summary: listOrgWxTunnels
      description: Get List of Org WxLAN Tunnels
      operationId: listOrgWxTunnels
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wxlan_tunnel'
                description: WxLAN tunnel records returned by a list response
                examples:
                - - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wxlan_tunnel'
                description: WxLAN tunnel records returned by a list response
                examples:
                - - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs WxTunnels
      summary: createOrgWxTunnel
      description: Create Org WxAN Tunnel
      operationId: createOrgWxTunnel
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/wxlan_tunnel'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tunnel'
                - description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
                  examples:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tunnel'
                - description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
                  examples:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/wxtunnels/{wxtunnel_id}:
    parameters: []
    delete:
      tags:
      - Orgs WxTunnels
      summary: deleteOrgWxTunnel
      description: Delete Org WxLAN Tunnel
      operationId: deleteOrgWxTunnel
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxtunnel_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs WxTunnels
      summary: getOrgWxTunnel
      description: Get Org WxLAN Tunnel Details
      operationId: getOrgWxTunnel
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxtunnel_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tunnel'
                - description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
                  examples:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tunnel'
                - description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
                  examples:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs WxTunnels
      summary: updateOrgWxTunnel
      description: Update Org WxLAN Tunnel
      operationId: updateOrgWxTunnel
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxtunnel_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/wxlan_tunnel'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tunnel'
                - description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
                  examples:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tunnel'
                - description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
                  examples:
                  - created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    dmvpn:
                      enabled: true
                      holding_time: 0
                      host_routes:
                      - string
                    for_mgmt: true
                    hello_interval: 1
                    hello_retries: 3
                    hostname: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    ipsec:
                      enabled: true
                      psk: string123
                    is_static: true
                    modified_time: 0
                    mtu: 1500
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    peers:
                    - string
                    router_id: string
                    secret: string
                    sessions:
                    - ap_as_session_id: string
                      comment: string
                      enable_cookie: true
                      ethertype: ethernet
                      local_session_id: 1
                      pseudo_802.1ad_enabled: true
                      remote_id: string
                      remote_session_id: 1
                      use_ap_as_session_ids: true
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    udp_port: 0
                    use_udp: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    wxlan_tunnel_dmvpn2:
      title: wxlan_tunnel_dmvpn2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether DMVPN is enabled
          default: false
        holding_time:
          type: integer
          description: Optional; the holding time for NHRP ‘registration requests’  and ‘resolution replies’ sent from the Mist AP (in seconds); default 600
          contentEncoding: int32
        host_routes:
          type: array
          items:
            type: string
          description: IPv4 DMVPN peer host routes to which traffic is forwarded
      description: Settings for Dynamic Multipoint VPN on this WxLAN tunnel
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    wxlan_tunnel_session_ethertype2:
      title: wxlan_tunnel_session_ethertype2
      enum:
      - ethernet
      - vlan
      type: string
      description: 'Frame type carried by this tunnel session. enum: `ethernet`, `vlan`.'
    wxlan_tunnel_ipsec2:
      title: wxlan_tunnel_ipsec2
      required:
      - psk
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether ipsec is enabled, requires DMVPN be enabled
          default: false
        psk:
          type: string
          description: Pre-shared key used for IPsec on this WxLAN tunnel
      description: Security settings for IPsec on this WxLAN tunnel; requires DMVPN to be enabled
    wxlan_tunnel:
      title: wxlan_tunnel
      required:
      - name
      type: object
      properties:
        created_time:
          type: number
          description: Time when this WxLAN tunnel was created, in epoch seconds
          readOnly: true
        dmvpn:
          allOf:
          - $ref: '#/components/schemas/wxlan_tunnel_dmvpn2'
          - description: Settings for Dynamic Multipoint VPN on this WxLAN tunnel
        for_mgmt:
          type: boolean
          description: Determined during creation time and cannot be toggled. A management tunnel cannot be used by wxlan rule or by wlan
          default: false
        for_site:
          type: boolean
          description: Whether this WxLAN tunnel is scoped to a site
          readOnly: true
        hello_interval:
          maximum: 300
          minimum: 1
          type: integer
          description: In seconds, used as heartbeat to detect if a tunnel is alive. AP will try another peer after missing N hellos specified by hello_retries.
          contentEncoding: int32
          default: 60
        hello_retries:
          maximum: 30
          minimum: 2
          type: integer
          description: Number of missed hello messages before the AP tries another tunnel peer
          contentEncoding: int32
          default: 7
        hostname:
          type: string
          description: "Optional, overwrite the hostname in SCCRQ control message, default is or null, %H and %M can be used, which will be replace with corresponding values:\n  * %H: name of the ap if provided (and will be stripped so it can be used for hostname) and fallbacks to MAC\n  * %M: MAC (e.g. 5c5b350e0060)"
        id:
          type: string
          description: Unique identifier for this WxLAN tunnel
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        ipsec:
          allOf:
          - $ref: '#/components/schemas/wxlan_tunnel_ipsec2'
          - description: Security settings for IPsec on this WxLAN tunnel; requires DMVPN to be enabled
        is_static:
          type: boolean
          description: Whether it’s static/unmanaged (i.e. no control session). As the session configurations are not compatible, cannot be toggled.
          default: false
        modified_time:
          type: number
          description: Time when this WxLAN tunnel was last modified, in epoch seconds
          readOnly: true
        mtu:
          maximum: 1500
          minimum: 0
          type: integer
          description: 0 to enable PMTU, 552-1500 to start PMTU with a lower MTU
          contentEncoding: int32
          default: 0
        name:
          type: string
          description: The name of the tunnel
        org_id:
          type: string
          description: Owning organization associated with this WxLAN tunnel
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        peers:
          type: array
          items:
            type: string
          description: Remote peer IP addresses or hostnames for this tunnel
        router_id:
          type: string
          description: Optional, overwrite the router-id in SCCRQ control message, default is "" or null, can also be an IPv4 address
        secret:
          type: string
          description: Shared secret used for tunnel authentication, ‘’ if no auth is used
        sessions:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/wxlan_tunnel_session'
          description: L2TPv3 sessions established for this tunnel
        site_id:
          type: string
          description: Mist site associated with this WxLAN tunnel, when site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        udp_port:
          type: integer
          description: UDP port if `use_udp`==`true`
          contentEncoding: int32
        use_udp:
          type: boolean
          description: Whether to use UDP instead of IP (proto=115, which is default of L2TPv3)
          default: false
      description: WxLAN tunnel configuration for L2TPv3 or DMVPN connectivity
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    wxlan_tunnel_session:
      title: wxlan_tunnel_session
      type: object
      properties:
        ap_as_session_id:
          type: string
          description: If `use_ap_as_session_ids`==`true`, only apmac is supported right now. This is the name WLAN should use for wxtunnel_remote_id
        comment:
          type: string
          description: Optional, user-specified string for display purpose
        enable_cookie:
          type: boolean
          description: Whether L2TPv3 cookie support is enabled for this session
        ethertype:
          allOf:
          - $ref: '#/components/schemas/wxlan_tunnel_session_ethertype2'
          - description: 'Frame type carried by this tunnel session. enum: `ethernet`, `vlan`.'
        local_session_id:
          maximum: 2147483647
          minimum: 1
          type: integer
          description: Identifier for the local L2TPv3 session, from 1 to 2147483647
          contentEncoding: int32
        pseudo_802.1ad_enabled:
          type: boolean
          description: Optional. Enables the pseudo 802.1ad QinQ mode where the AP device drops the outer vlan tag (QinQ). This mode is useful when tunneling Mist AP’s to some aggregation routers.
          default: false
        remote_id:
          type: string
          description: Remote-id of the session, has to be unique in the same tunnel
        remote_session_id:
          maximum: 2147483647
          minimum: 1
          type: integer
          description: Identifier for the remote L2TPv3 session, from 1 to 2147483647
          contentEncoding: int32
        use_ap_as_session_ids:
          type: boolean
          description: Whether to use AP (last 4 bytes of MAC currently) as session ids
          default: false
      description: L2TPv3 session established inside a WxLAN tunnel
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
