openapi: 3.2.0
info:
  title: Mist Orgs Stats API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Stats
  description: API Calls to retrieve statistics about the Mist Org and related items
paths:
  /api/v1/orgs/{org_id}/stats:
    parameters: []
    get:
      tags:
      - Orgs Stats
      summary: getOrgStats
      description: Return an organization statistics summary, including device, inventory, and site counts, connected and disconnected device counts, organization group membership, and SLE summaries.
      operationId: getOrgStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_org'
                - description: Organization statistics summary returned by the org stats endpoint
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_devices: 0
                    num_devices_connected: 0
                    num_devices_disconnected: 0
                    num_inventory: 0
                    num_sites: 0
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 0
                    sle:
                    - path: string
                      user_minutes:
                        ok: 0
                        total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_devices: 0
                    num_devices_connected: 0
                    num_devices_disconnected: 0
                    num_inventory: 0
                    num_sites: 0
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 0
                    sle:
                    - path: string
                      user_minutes:
                        ok: 0
                        total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_org'
                - description: Organization statistics summary returned by the org stats endpoint
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_devices: 0
                    num_devices_connected: 0
                    num_devices_disconnected: 0
                    num_inventory: 0
                    num_sites: 0
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 0
                    sle:
                    - path: string
                      user_minutes:
                        ok: 0
                        total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    num_devices: 0
                    num_devices_connected: 0
                    num_devices_disconnected: 0
                    num_inventory: 0
                    num_sites: 0
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 0
                    sle:
                    - path: string
                      user_minutes:
                        ok: 0
                        total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    stats_org:
      title: stats_org
      required:
      - alarmtemplate_id
      - allow_mist
      - created_time
      - id
      - modified_time
      - msp_id
      - name
      - num_devices
      - num_devices_connected
      - num_devices_disconnected
      - num_inventory
      - num_sites
      - orggroup_ids
      - session_expiry
      - sle
      type: object
      properties:
        alarmtemplate_id:
          type: string
          description: Organization-level alarm template identifier used as the default for sites
          contentEncoding: uuid
        allow_mist:
          type: boolean
          description: Whether Mist support access is allowed for this organization
        created_time:
          type: number
          description: Time when the organization was created, in epoch seconds
          readOnly: true
        id:
          type: string
          description: Unique identifier of the organization
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Time when the organization was last modified, in epoch seconds
          readOnly: true
        msp_id:
          type: string
          description: Managed service provider identifier associated with the organization
          contentEncoding: uuid
          readOnly: true
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        name:
          type: string
          description: Display name of the organization
        num_devices:
          type: integer
          description: Total number of devices in the organization
          contentEncoding: int32
        num_devices_connected:
          type: integer
          description: Number of organization devices currently connected to Mist
          contentEncoding: int32
        num_devices_disconnected:
          type: integer
          description: Number of organization devices currently disconnected from Mist
          contentEncoding: int32
        num_inventory:
          type: integer
          description: Number of devices in the organization's inventory
          contentEncoding: int32
        num_sites:
          type: integer
          description: Number of sites in the organization
          contentEncoding: int32
        orggroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Organization group identifiers that include this organization
        session_expiry:
          type: integer
          description: Admin session lifetime for the organization, in minutes
          contentEncoding: int64
        sle:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/stats_org_sle'
          description: Service level expectation summaries for the organization
      description: Organization statistics summary returned by the org stats endpoint
    stats_org_sle_user_minutes2:
      title: stats_org_sle_user_minutes2
      required:
      - ok
      - total
      type: object
      properties:
        ok:
          type: number
          description: User minutes that met the SLE target
        total:
          type: number
          description: Observed total user minutes for the SLE path
      description: User-minute totals for this SLE path
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    stats_org_sle:
      title: stats_org_sle
      required:
      - path
      type: object
      properties:
        path:
          type: string
          description: SLE path represented by this organization summary
        user_minutes:
          allOf:
          - $ref: '#/components/schemas/stats_org_sle_user_minutes2'
          - description: User-minute totals for this SLE path
      description: Organization SLE summary for a service path
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
