openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Organizations API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Organizations
  description: Organization-level management
paths:
  /orgs:
    get:
      operationId: listOrganizations
      summary: Juniper Networks List organizations
      description: Returns a list of organizations accessible to the authenticated user.
      tags:
      - Organizations
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orgs/{org_id}:
    get:
      operationId: getOrganization
      summary: Juniper Networks Get organization
      description: Returns details for a specific organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateOrganization
      summary: Juniper Networks Update organization
      description: Updates an existing organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
  /orgs/{org_id}/stats:
    get:
      operationId: getOrgStats
      summary: Juniper Networks Get organization statistics
      description: Returns statistics for the organization including device counts and client counts.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Organization statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgStats'
components:
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Error message
    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        orggroup_ids:
          type: array
          items:
            type: string
            format: uuid
        session_expiry:
          type: integer
          description: Session expiry in minutes
        alarmtemplate_id:
          type: string
          format: uuid
        created_time:
          type: number
        modified_time:
          type: number
    OrgStats:
      type: object
      properties:
        num_sites:
          type: integer
        num_devices:
          type: integer
        num_devices_connected:
          type: integer
        num_devices_disconnected:
          type: integer
        num_clients:
          type: integer
  parameters:
    OrgId:
      name: org_id
      in: path
      required: true
      description: Organization unique identifier
      schema:
        type: string
        format: uuid
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
