openapi: 3.2.0
info:
  title: Mist Installer API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Installer
  description: In a typical enterprise, a separate group of people, Installers, are responsible for install new devices.
paths:
  /api/v1/installer/orgs/{org_id}/alarmtemplates:
    parameters: []
    get:
      tags:
      - Installer
      summary: listInstallerAlarmTemplates
      description: Return alarm templates available to installer workflows in the organization.
      operationId: listInstallerAlarmTemplates
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Installer List of Alarm Templates
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: Installer access entries returned by list responses
                examples:
                - - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: Installer access entries returned by list responses
                examples:
                - - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/deviceprofiles:
    parameters: []
    get:
      tags:
      - Installer
      summary: listInstallerDeviceProfiles
      description: Return device profiles that installers can use when provisioning recently claimed devices, optionally filtered by device type.
      operationId: listInstallerDeviceProfiles
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: type
        in: query
        description: 'Filter results by type. enum: `ap`, `gateway`, `switch`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/device_type_default_ap'
          - description: 'Filter results by type. enum: `ap`, `gateway`, `switch`'
      responses:
        '200':
          description: Installer List of Device Profiles
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: Installer access entries returned by list responses
                examples:
                - - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: Installer access entries returned by list responses
                examples:
                - - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices:
    parameters: []
    get:
      tags:
      - Installer
      summary: listInstallerListOfRecentlyClaimedDevices
      description: Return recently claimed devices visible to installer workflows, with optional filters for model, site name, or site identifier.
      operationId: listInstallerListOfRecentlyClaimedDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: model
        in: query
        description: Filter results by device model
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP43
      - name: site_name
        in: query
        description: Filter results by site name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - SJ1
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 72771e6a-6f5e-4de4-a5b9-1266c4197811
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: List of Devices Recently Claimed
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installer_device'
                description: Recently claimed devices available to installer workflows
                examples:
                - - connected: true
                    deviceprofile_name: SJ1
                    height: 2.7
                    mac: 5c5b35000018
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    model: AP41
                    name: hallway
                    orientation: 90
                    serial: FXLH2015150025
                    site_name: SJ1
                    x: 150
                    y: 300
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - connected: true
                    deviceprofile_name: SJ1
                    height: 2.7
                    mac: 5c5b35000018
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    model: AP41
                    name: hallway
                    orientation: 90
                    serial: FXLH2015150025
                    site_name: SJ1
                    x: 150
                    y: 300
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installer_device'
                description: Recently claimed devices available to installer workflows
                examples:
                - - connected: true
                    deviceprofile_name: SJ1
                    height: 2.7
                    mac: 5c5b35000018
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    model: AP41
                    name: hallway
                    orientation: 90
                    serial: FXLH2015150025
                    site_name: SJ1
                    x: 150
                    y: 300
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - connected: true
                    deviceprofile_name: SJ1
                    height: 2.7
                    mac: 5c5b35000018
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    model: AP41
                    name: hallway
                    orientation: 90
                    serial: FXLH2015150025
                    site_name: SJ1
                    x: 150
                    y: 300
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Installer
      summary: claimInstallerDevices
      description: Claim devices into the organization inventory by activation code through the installer workflow.
      operationId: claimInstallerDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
              description: Request Body
              examples:
              - - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
              contentMediaType: application/json
            examples:
              Example:
                value:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
        required: false
      responses:
        '200':
          description: OK - if any of entries are valid or there’s no errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - description: Result of adding device claim codes to organization inventory
                  examples:
                  - added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - description: Result of adding device claim codes to organization inventory
                  examples:
                  - added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
        '400':
          description: OK - if any of entries are valid or there’s no errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - description: Result of adding device claim codes to organization inventory
                  examples:
                  - added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - description: Result of adding device claim codes to organization inventory
                  examples:
                  - added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}:
    parameters: []
    delete:
      tags:
      - Installer
      summary: unassignInstallerRecentlyClaimedDevice
      description: Unassign a recently claimed device from its current site so it can be provisioned again through the installer workflow.
      operationId: unassignInstallerRecentlyClaimedDevice
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Installer
      summary: provisionInstallerDevices
      description: 'Provision or replace an installer-managed device.


        If replacing_mac is in the request payload, other attributes are ignored, we attempt to replace existing device (with MAC address `replacing_mac`) with the inventory device being configured. The replacement device must be in the inventory but not assigned, and the replacing_mac device must be assigned to a site, and satisfy grace period requirements. The Device replaced will become unassigned.'
      operationId: provisionInstallerDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/installer_provision_device'
              - description: Request Body
                examples:
                - deviceprofile_name: SJ1
                  height: 2.7
                  name: SJ1-AP1
                  orientation: 90
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: SJ1
                  x: 150
                  y: 300
              contentMediaType: application/json
            examples:
              Example:
                value:
                  deviceprofile_name: SJ1
                  height: 2.7
                  name: SJ1-AP1
                  orientation: 90
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: SJ1
                  x: 150
                  y: 300
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - '{"detail":"invalid replacing_mac"}'
                  - '{"detail":"device already assigned"}'
                  - '{"detail":"outside of grace period"}'
                  - '{"detail":"replacing_mac device is unassigned"}'
                  - '{"detail":"replacing_mac device outside of grace period"}'
                contentMediaType: application/json
              examples:
                Invalid Mac Given For Replacing Mac:
                  value:
                    detail: invalid replacing_mac
                Inventory Device Is Already Assigned:
                  value:
                    detail: device already assigned
                Outside Of Grace Period:
                  value:
                    detail: outside of grace period
                Replacing Mac Device Is Not Assigned To A Site:
                  value:
                    detail: replacing_mac device is unassigned
                Replacing Mac Device Last Modified Outside Of Grace Period:
                  value:
                    detail: replacing_mac device outside of grace period
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - '{"detail":"invalid replacing_mac"}'
                  - '{"detail":"device already assigned"}'
                  - '{"detail":"outside of grace period"}'
                  - '{"detail":"replacing_mac device is unassigned"}'
                  - '{"detail":"replacing_mac device outside of grace period"}'
                contentMediaType: application/vnd.api+json
              examples:
                Invalid Mac Given For Replacing Mac:
                  value:
                    detail: invalid replacing_mac
                Inventory Device Is Already Assigned:
                  value:
                    detail: device already assigned
                Outside Of Grace Period:
                  value:
                    detail: outside of grace period
                Replacing Mac Device Is Not Assigned To A Site:
                  value:
                    detail: replacing_mac device is unassigned
                Replacing Mac Device Last Modified Outside Of Grace Period:
                  value:
                    detail: replacing_mac device outside of grace period
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - '{"detail":"replacing_mac inventory not found"}'
                  - '{"detail":"replacing_mac device not found"}'
                contentMediaType: application/json
              examples:
                Replacing Mac Device Is Not In Org Inventory:
                  value:
                    detail: replacing_mac inventory not found
                Replacing Mac Device Not Found:
                  value:
                    detail: replacing_mac device not found
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - description: Response containing a human-readable detail message
                  examples:
                  - '{"detail":"replacing_mac inventory not found"}'
                  - '{"detail":"replacing_mac device not found"}'
                contentMediaType: application/vnd.api+json
              examples:
                Replacing Mac Device Is Not In Org Inventory:
                  value:
                    detail: replacing_mac inventory not found
                Replacing Mac Device Not Found:
                  value:
                    detail: replacing_mac device not found
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate:
    parameters: []
    post:
      tags:
      - Installer
      summary: startInstallerLocateDevice
      description: Start locating an installer-managed device by blinking its LED. The locate state persists until Stop Locating Installer Device is called.
      operationId: startInstallerLocateDevice
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate:
    parameters: []
    post:
      tags:
      - Installer
      summary: stopInstallerLocateDevice
      description: Stop the locate LED state for an installer-managed device.
      operationId: stopInstallerLocateDevice
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}:
    parameters: []
    delete:
      tags:
      - Installer
      summary: deleteInstallerDeviceImage
      description: Remove a previously uploaded image associated with an installer-managed device, such as an installation photo or device placement image.
      operationId: deleteInstallerDeviceImage
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: image_name
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Installer
      summary: addInstallerDeviceImage
      description: Upload an image associated with an installer-managed device using `multipart/form-data`.
      operationId: addInstallerDeviceImage
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: image_name
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: device_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              type: object
              properties:
                auto_deviceprofile_assignment:
                  type: boolean
                  description: Whether to auto assign device to deviceprofile by name
                  examples:
                  - true
                csv:
                  type: string
                  description: Optional AP name-mapping CSV file
                  contentEncoding: base64
                file:
                  type: string
                  description: Ekahau or iBwave floorplan file to import
                  contentEncoding: base64
                json:
                  allOf:
                  - $ref: '#/components/schemas/map_import_json1'
                  - description: Import options for the site map file
              contentMediaType: multipart/form-data
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices/{fpc0_mac}/vc:
    parameters: []
    get:
      tags:
      - Installer
      summary: getInstallerDeviceVirtualChassis
      description: 'Return Virtual Chassis status for an installer-managed switch, including topology and member statistics.


        The response is a combined view of the Virtual Chassis state.'
      operationId: getInstallerDeviceVirtualChassis
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: fpc0_mac
        in: path
        description: FPC0 MAC address
        required: true
        schema:
          type: string
          examples:
          - aff827549235
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_virtual_chassis_config'
                - description: Combined virtual chassis status, topology, and member statistics
                  examples:
                  - config_type: nonprovisioned
                    id: 00000000-0000-0000-1000-52d9107af289
                    mac: 52d9107af289
                    members:
                    - boot_partition: junos
                      cpld_version: '6'
                      cpu_stat:
                        idle: 69
                        interrupt: 1
                        load_avg:
                        - 0.8
                        - 1.09
                        - 1.07
                        system: 11
                        user: 19
                      fans:
                      - airflow: out
                        name: Fan Tray 0 Fan 0
                        rpm: 0
                        status: ok
                      - airflow: out
                        name: Fan Tray 1 Fan 0
                        rpm: 0
                        status: ok
                      fpc_idx: 0
                      mac: 52d9107af289
                      memory_stat:
                        usage: 42
                      model: EX2300-48P
                      pics:
                      - index: 0
                        model_number: EX2300-48P
                        port_groups:
                        - count: 48
                          type: GE
                      - index: 1
                        model_number: EX2300-48P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      poe:
                        max_power: 750
                        power_draw: 40.4
                        status: AT_MODE
                      poe_version: 2.1.1.19.3 (type1)
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.4R3-S4.18
                      serial: JW0000000000
                      temperatures:
                      - celsius: 33
                        name: CPU Sensor
                        status: ok
                      - celsius: 29
                        name: PSU Sensor
                        status: ok
                      type: fpc
                      uboot_version: U-Boot 2016.01-rc1 (Nov 11 2016 - 14:26:00 -0800)  1.3.2
                      uptime: 27636720
                      vc_links:
                      - neighbor_module_idx: 1
                        neighbor_port_id: vcp-1/1/0
                        port_id: vcp-0/1/0
                      vc_mode: HiGiG
                      vc_role: master
                      vc_state: present
                      version: 21.4R3-S4.18
                    - boot_partition: junos
                      cpld_version: '6'
                      cpu_stat:
                        idle: 76
                        interrupt: 0
                        load_avg:
                        - 0.96
                        - 0.87
                        - 0.76
                        system: 6
                        user: 17
                      fans:
                      - airflow: out
                        name: Fan Tray 0 Fan 0
                        rpm: 0
                        status: ok
                      - airflow: out
                        name: Fan Tray 1 Fan 0
                        rpm: 0
                        status: ok
                      fpc_idx: 1
                      mac: d0dd4991652d
                      memory_stat:
                        usage: 18
                      model: EX2300-48P
                      pics:
                      - index: 0
                        model_number: EX2300-48P
                        port_groups:
                        - count: 48
                          type: GE
                      - index: 1
                        model_number: EX2300-48P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      poe:
                        max_power: 750
                        power_draw: 21.2
                        status: AT_MODE
                      poe_version: 2.1.1.19.3 (type1)
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.4R3-S4.18
                      serial: JW3619300922
                      temperatures:
                      - celsius: 32
                        name: CPU Sensor
                        status: ok
                      - celsius: 29
                        name: PSU Sensor
                        status: ok
                      type: fpc
                      uboot_version: U-Boot 2016.01-rc1 (Nov 11 2016 - 14:26:00 -0800)  1.3.2
                      uptime: 27636720
                      vc_links:
                      - neighbor_module_idx: 0
                        neighbor_port_id: vcp-0/1/0
                        port_id: vcp-1/1/0
                      vc_mode: HiGiG
                      vc_role: backup
                      vc_state: present
                      version: 21.4R3-S4.18
                    model: EX2300-48P
                    num_routing_engines: 1
                    org_id: 1e9a61a9-bc42-42ca-bf67-1ad87443d9b8
                    serial: JW3619300157
                    site_id: ab0aca7a-d45c-469b-b3bb-4fe240642d0b
                    status: connected
                    type: switch
                    vc_mac: 52d9107af289
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    config_type: nonprovisioned
                    id: 00000000-0000-0000-1000-52d9107af289
                    mac: 52d9107af289
                    members:
                    - boot_partition: junos
                      cpld_version: '6'
                      cpu_stat:
                        idle: 69
                        interrupt: 1
                        load_avg:
                        - 0.8
                        - 1.09
                        - 1.07
                        system: 11
                        user: 19
                      fans:
                      - airflow: out
                        name: Fan Tray 0 Fan 0
                        rpm: 0
                        status: ok
                      - airflow: out
                        name: Fan Tray 1 Fan 0
                        rpm: 0
                        status: ok
                      fpc_idx: 0
                      mac: 52d9107af289
                      memory_stat:
                        usage: 42
                      model: EX2300-48P
                      pics:
                      - index: 0
                        model_number: EX2300-48P
                        port_groups:
                        - count: 48
                          type: GE
                      - index: 1
                        model_number: EX2300-48P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      poe:
                        max_power: 750
                        power_draw: 40.4
                        status: AT_MODE
                      poe_version: 2.1.1.19.3 (type1)
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.4R3-S4.18
                      serial: JW0000000000
                      temperatures:
                      - celsius: 33
                        name: CPU Sensor
                        status: ok
                      - celsius: 29
                        name: PSU Sensor
                        status: ok
                      type: fpc
                      uboot_version: U-Boot 2016.01-rc1 (Nov 11 2016 - 14:26:00 -0800)  1.3.2
                      uptime: 27636720
                      vc_links:
                      - neighbor_module_idx: 1
                        neighbor_port_id: vcp-1/1/0
                        port_id: vcp-0/1/0
                      vc_mode: HiGiG
                      vc_role: master
                      vc_state: present
                      version: 21.4R3-S4.18
                    - boot_partition: junos
                      cpld_version: '6'
                      cpu_stat:
                        idle: 76
                        interrupt: 0
                        load_avg:
                        - 0.96
                        - 0.87
                        - 0.76
                        system: 6
                        user: 17
                      fans:
                      - airflow: out
                        name: Fan Tray 0 Fan 0
                        rpm: 0
                        status: ok
                      - airflow: out
                        name: Fan Tray 1 Fan 0
                        rpm: 0
                        status: ok
                      fpc_idx: 1
                      mac: d0dd4991652d
                      memory_stat:
                        usage: 18
                      model: EX2300-48P
                      pics:
                      - index: 0
                        model_number: EX2300-48P
                        port_groups:
                        - count: 48
                          type: GE
                      - index: 1
                        model_number: EX2300-48P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      poe:
                        max_power: 750
                        power_draw: 21.2
                        status: AT_MODE
                      poe_version: 2.1.1.19.3 (type1)
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.4R3-S4.18
                      serial: JW3619300922
                      temperatures:
                      - celsius: 32
                        name: CPU Sensor
                        status: ok
                      - celsius: 29
                        name: PSU Sensor
                        status: ok
                      type: fpc
                      uboot_version: U-Boot 2016.01-rc1 (Nov 11 2016 - 14:26:00 -0800)  1.3.2
                      uptime: 27636720
                      vc_links:
                      - neighbor_module_idx: 0
                        neighbor_port_id: vcp-0/1/0
                        port_id: vcp-1/1/0
                      vc_mode: HiGiG
                      vc_role: backup
                      vc_state: present
                      version: 21.4R3-S4.18
                    model: EX2300-48P
                    num_routing_engines: 1
                    org_id: 1e9a61a9-bc42-42ca-bf67-1ad87443d9b8
                    serial: JW3619300157
                    site_id: ab0aca7a-d45c-469b-b3bb-4fe240642d0b
                    status: connected
                    type: switch
                    vc_mac: 52d9107af289
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_virtual_chassis_config'
                - description: Combined virtual chassis status, topology, and member statistics
                  examples:
                  - config_type: nonprovisioned
                    id: 00000000-0000-0000-1000-52d9107af289
                    mac: 52d9107af289
                    members:
                    - boot_partition: junos
                      cpld_version: '6'
                      cpu_stat:
                        idle: 69
                        interrupt: 1
                        load_avg:
                        - 0.8
                        - 1.09
                        - 1.07
                        system: 11
                        user: 19
                      fans:
                      - airflow: out
                        name: Fan Tray 0 Fan 0
                        rpm: 0
                        status: ok
                      - airflow: out
                        name: Fan Tray 1 Fan 0
                        rpm: 0
                        status: ok
                      fpc_idx: 0
                      mac: 52d9107af289
                      memory_stat:
                        usage: 42
                      model: EX2300-48P
                      pics:
                      - index: 0
                        model_number: EX2300-48P
                        port_groups:
                        - count: 48
                          type: GE
                      - index: 1
                        model_number: EX2300-48P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      poe:
                        max_power: 750
                        power_draw: 40.4
                        status: AT_MODE
                      poe_version: 2.1.1.19.3 (type1)
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.4R3-S4.18
                      serial: JW0000000000
                      temperatures:
                      - celsius: 33
                        name: CPU Sensor
                        status: ok
                      - celsius: 29
                        name: PSU Sensor
[...]
