openapi: 3.2.0
info:
  title: Mist Constants Events API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Constants Events
  description: API Calls to retrieve the definitions of the Mist events. These definitions are providing example of the Webhook payloads
paths:
  /api/v1/const/alarm_defs:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listAlarmDefinitions
      description: 'Return alarm type definitions used by alarm search results, alarm templates, and the `alarm` webhook topic. The `example` field shows representative webhook payload content.

        HA cluster node names are returned in the `node` field, when applicable.'
      operationId: listAlarmDefinitions
      parameters: []
      responses:
        '200':
          description: List of Alarm Definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_alarm_definition'
                description: Alarm type definitions returned by the constants API
                examples:
                - - display: Device offline
                    example:
                      aps:
                      - d420b02000fa
                      count: 1
                      group: infrastructure
                      hostnames:
                      - Vendor_AP2
                      id: e70c308f-7007-4866-9ecd-0d01842979ea
                      last_seen: 1629753888
                      org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                      severity: warn
                      site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                      timestamp: 1629753888
                      type: device_down
                    fields:
                    - aps
                    - hostnames
                    group: infrastructure
                    key: device_down
                    marvis_suggestion_category: string
                    severity: warn
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: Device offline
                    example:
                      aps:
                      - d420b02000fa
                      count: 1
                      group: infrastructure
                      hostnames:
                      - Vendor_AP2
                      id: e70c308f-7007-4866-9ecd-0d01842979ea
                      last_seen: 1629753888
                      org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                      severity: warn
                      site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                      timestamp: 1629753888
                      type: device_down
                    fields:
                    - aps
                    - hostnames
                    group: infrastructure
                    key: device_down
                    marvis_suggestion_category: string
                    severity: warn
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_alarm_definition'
                description: Alarm type definitions returned by the constants API
                examples:
                - - display: Device offline
                    example:
                      aps:
                      - d420b02000fa
                      count: 1
                      group: infrastructure
                      hostnames:
                      - Vendor_AP2
                      id: e70c308f-7007-4866-9ecd-0d01842979ea
                      last_seen: 1629753888
                      org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                      severity: warn
                      site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                      timestamp: 1629753888
                      type: device_down
                    fields:
                    - aps
                    - hostnames
                    group: infrastructure
                    key: device_down
                    marvis_suggestion_category: string
                    severity: warn
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: Device offline
                    example:
                      aps:
                      - d420b02000fa
                      count: 1
                      group: infrastructure
                      hostnames:
                      - Vendor_AP2
                      id: e70c308f-7007-4866-9ecd-0d01842979ea
                      last_seen: 1629753888
                      org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                      severity: warn
                      site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                      timestamp: 1629753888
                      type: device_down
                    fields:
                    - aps
                    - hostnames
                    group: infrastructure
                    key: device_down
                    marvis_suggestion_category: string
                    severity: warn
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/client_events:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listClientEventsDefinitions
      description: Return client event definitions used by client event search and count APIs, including event keys and metadata.
      operationId: listClientEventsDefinitions
      parameters: []
      responses:
        '200':
          description: List of Client Events definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - display: 11r Association
                    key: CLIENT_AUTH_ASSOCIATION_11R
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: 11r Association
                    key: CLIENT_AUTH_ASSOCIATION_11R
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - display: 11r Association
                    key: CLIENT_AUTH_ASSOCIATION_11R
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: 11r Association
                    key: CLIENT_AUTH_ASSOCIATION_11R
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/device_events:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listDeviceEventsDefinitions
      description: Return device event definitions used by device event search and count APIs and the `device-events` webhook topic, including event keys and metadata.
      operationId: listDeviceEventsDefinitions
      parameters: []
      responses:
        '200':
          description: List of Device Events Definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/mxedge_events:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listMxEdgeEventsDefinitions
      description: Return Mist Edge event definitions used by Mist Edge event search and count APIs, and `mexedge-events` webhook topic.
      operationId: listMxEdgeEventsDefinitions
      parameters: []
      responses:
        '200':
          description: List of MxEdge Events definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - description: Config change on ME was triggered as a result of change made by user
                    display: ME Config changed by user
                    example:
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c9
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      service: mxagent
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: ME_CONFIG_CHANGED_BY_USER
                    key: ME_CONFIG_CHANGED_BY_USER
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - description: Config change on ME was triggered as a result of change made by user
                    display: ME Config changed by user
                    example:
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c9
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      service: mxagent
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: ME_CONFIG_CHANGED_BY_USER
                    key: ME_CONFIG_CHANGED_BY_USER
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - description: Config change on ME was triggered as a result of change made by user
                    display: ME Config changed by user
                    example:
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c9
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      service: mxagent
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: ME_CONFIG_CHANGED_BY_USER
                    key: ME_CONFIG_CHANGED_BY_USER
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - description: Config change on ME was triggered as a result of change made by user
                    display: ME Config changed by user
                    example:
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c9
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      service: mxagent
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: ME_CONFIG_CHANGED_BY_USER
                    key: ME_CONFIG_CHANGED_BY_USER
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/nac_events:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listNacEventsDefinitions
      description: Return NAC client event definitions used by NAC client event search and count APIs, and `nac-events` webhook topic.
      operationId: listNacEventsDefinitions
      parameters: []
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_nac_event'
                description: NAC event example payloads returned by the constants API
                examples:
                - - ap: 5c5b355008c0
                    bssid: 5c5b35548892
                    cert_cn: suriyas
                    cert_expiry: 1711557441
                    cert_issuer: /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
                    cert_san_upn:
                    - suriyas@juniper.net
                    cert_serial: 1300103d29e56ef083797bedc2000100103d29
                    cert_subject: /CN=suriyas/emailAddress=suriyas@juniper.net
                    eap_type: EAP-TLS
                    nas_vendor: Mist
                    org_id: 94de66e8-556a-4d56-8780-a114620a5c42
                    random_mac: true
                    site_id: b5a005ab-47d4-41f7-97bf-733f9cc252dd
                    ssid: Test_Suriya-SSID
                    timestamp: 1685658478.438995
                    type: NAC_CLIENT_CERT_CHECK_SUCCESS
                    username: suriyas@juniper.net
                    wcid: b43637b0-f0d9-0a1d-1ec2-73c394a9f679
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - ap: 5c5b355008c0
                    bssid: 5c5b35548892
                    cert_cn: suriyas
                    cert_expiry: 1711557441
                    cert_issuer: /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
                    cert_san_upn:
                    - suriyas@juniper.net
                    cert_serial: 1300103d29e56ef083797bedc2000100103d29
                    cert_subject: /CN=suriyas/emailAddress=suriyas@juniper.net
                    eap_type: EAP-TLS
                    nas_vendor: Mist
                    org_id: 94de66e8-556a-4d56-8780-a114620a5c42
                    random_mac: true
                    site_id: b5a005ab-47d4-41f7-97bf-733f9cc252dd
                    ssid: Test_Suriya-SSID
                    timestamp: 1685658478.438995
                    type: NAC_CLIENT_CERT_CHECK_SUCCESS
                    username: suriyas@juniper.net
                    wcid: b43637b0-f0d9-0a1d-1ec2-73c394a9f679
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_nac_event'
                description: NAC event example payloads returned by the constants API
                examples:
                - - ap: 5c5b355008c0
                    bssid: 5c5b35548892
                    cert_cn: suriyas
                    cert_expiry: 1711557441
                    cert_issuer: /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
                    cert_san_upn:
                    - suriyas@juniper.net
                    cert_serial: 1300103d29e56ef083797bedc2000100103d29
                    cert_subject: /CN=suriyas/emailAddress=suriyas@juniper.net
                    eap_type: EAP-TLS
                    nas_vendor: Mist
                    org_id: 94de66e8-556a-4d56-8780-a114620a5c42
                    random_mac: true
                    site_id: b5a005ab-47d4-41f7-97bf-733f9cc252dd
                    ssid: Test_Suriya-SSID
                    timestamp: 1685658478.438995
                    type: NAC_CLIENT_CERT_CHECK_SUCCESS
                    username: suriyas@juniper.net
                    wcid: b43637b0-f0d9-0a1d-1ec2-73c394a9f679
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - ap: 5c5b355008c0
                    bssid: 5c5b35548892
                    cert_cn: suriyas
                    cert_expiry: 1711557441
                    cert_issuer: /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
                    cert_san_upn:
                    - suriyas@juniper.net
                    cert_serial: 1300103d29e56ef083797bedc2000100103d29
                    cert_subject: /CN=suriyas/emailAddress=suriyas@juniper.net
                    eap_type: EAP-TLS
                    nas_vendor: Mist
                    org_id: 94de66e8-556a-4d56-8780-a114620a5c42
                    random_mac: true
                    site_id: b5a005ab-47d4-41f7-97bf-733f9cc252dd
                    ssid: Test_Suriya-SSID
                    timestamp: 1685658478.438995
                    type: NAC_CLIENT_CERT_CHECK_SUCCESS
                    username: suriyas@juniper.net
                    wcid: b43637b0-f0d9-0a1d-1ec2-73c394a9f679
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/otherdevice_events:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listOtherDeviceEventsDefinitions
      description: Return event definitions for other or third-party devices managed or monitored by Mist.
      operationId: listOtherDeviceEventsDefinitions
      parameters: []
      responses:
        '200':
          description: List of Other Device Events definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/system_events:
    parameters: []
    get:
      tags:
      - Constants Events
      summary: listSystemEventsDefinitions
      description: Return system event definitions used by system event search APIs.
      operationId: listSystemEventsDefinitions
      parameters: []
      responses:
        '200':
          description: List of System Events definitions
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - display: AP Disconnect
                    group: ap_health
                    key: ap_disconnected
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: AP Disconnect
                    group: ap_health
                    key: ap_disconnected
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_event'
                description: Event type definitions returned by the constants API
                examples:
                - - display: AP Disconnect
                    group: ap_health
                    key: ap_disconnected
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: AP Disconnect
                    group: ap_health
                    key: ap_disconnected
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    const_alarm_definition:
      title: const_alarm_definition
      required:
      - display
      - fields
      - group
      - key
      - severity
      type: object
      properties:
        display:
          type: string
          description: Description of the alarm type
          examples:
          - Device offline
        example:
          type: object
          description: Sample alarm payload returned for this alarm type
          examples:
          - aps:
            - d420b02000fa
            count: 1
            group: infrastructure
            hostnames:
            - Vendor_AP2
            id: f70c308f-7007-4866-9ecd-0d01842979ea
            last_seen: 1629753888
            org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
            severity: warn
            site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
            timestamp: 1629753888
            type: device_down
        fields:
          type: array
          items:
            type: string
          description: Alarm payload fields available for this alarm type
          examples:
          - - aps
            - hostnames
        group:
          type: string
          description: Alarm group to which this definition belongs
          examples:
          - infrastructure
        key:
          type: string
          description: Alarm type key used in event and alarm payloads
          examples:
          - device_down
        marvis_suggestion_category:
          type: string
          description: Marvis defined category to which the alarm belongs
        severity:
          type: string
          description: Alarm severity level for this definition
          examples:
          - warn
      description: Alarm type definition returned by the constants API
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    const_nac_event:
      title: const_nac_event
      type: object
      properties:
        ap:
          type: string
          description: Access point MAC address associated with the NAC event
          examples:
          - 5c5b355008c0
        bssid:
          type: string
          description: Wireless BSSID associated with the NAC event
          examples:
          - 5c5b35548892
        cert_cn:
          type: string
          description: Certificate common name presented during NAC authentication
          examples:
          - suriyas
        cert_expiry:
          type: integer
          description: Certificate expiration timestamp presented during NAC authentication
          contentEncoding: int32
          examples:
          - 1711557441
        cert_issuer:
          type: string
          description: Certificate issuer presented during NAC authentication
          examples:
          - /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
        cert_san_upn:
          type: array
          items:
            type: string
          description: Certificate SAN UPN values presented during NAC authentication
          examples:
          - - suriyas@juniper.net
        cert_serial:
          type: string
          description: Certificate serial number presented during NAC authentication
          examples:
          - 1300103d29e56ef083797bedc2000100103d29
        cert_subject:
          type: string
          description: Certificate subject presented during NAC authentication
          examples:
          - /CN=suriyas/emailAddress=suriyas@juniper.net
        eap_type:
          type: string
          description: EAP method used for the NAC authentication
          examples:
          - EAP-TLS
        nas_vendor:
          type: string
          description: Network access server vendor reported for the NAC event
          examples:
          - Mist
        org_id:
          type: string
          description: Organization identifier associated with the NAC event
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        random_mac:
          type: boolean
          description: Whether the client used a randomized MAC address in the NAC event
          examples:
          - true
        site_id:
          type: string
          description: Site identifier associated with the NAC event
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        ssid:
          type: string
          description: Wireless SSID associated with the NAC event
          examples:
          - Test_Suriya-SSID
        timestamp:
          type: number
          description: Time when the NAC event occurred
          readOnly: true
        type:
          type: string
          description: NAC event type key
          examples:
          - NAC_CLIENT_CERT_CHECK_SUCCESS
        username:
          type: string
          description: User identity associated with the NAC event
          examples:
          - suriyas@juniper.net
        wcid:
          type: string
          description: Wireless client identifier associated with the NAC event
          contentEncoding: uuid
          examples:
          - b43637b0-f0d9-0a1d-1ec2-73c394a9f679
      description: NAC event example payload returned by the constants API
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    const_event:
      title: const_event
      required:
      - display
      - key
      type: object
      properties:
        description:
          type: string
          description: Narrative description of the device event type
        display:
          type: string
          description: Human-readable label for the device event type
        example:
          type: object
          description: Sample device event payload for this event type
        group:
          type: string
          description: Device event group for this definition
        key:
          type: string
          description: Machine-readable device event key
      description: Device event definition returned by the constants API
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
