openapi: 3.2.0
info:
  title: Mist Sites SLEs API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites SLEs
  description: Site SLEs, or Service-Level Expectations, are metrics used to monitor and report on the user experience of a Wireless, Wired or Wan network.
paths:
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifier/{classifier}/summary:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: getSiteSleClassifierDetails
      description: 'Get SLE classifier details


        This API Endpoint is deprecated and replaced by Get Site SLE Classifier Summary Trend'
      operationId: getSiteSleClassifierDetails
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/sle_summary_scope'
      - name: scope_id
        in: path
        description: '* site_id if `scope`==`site`

          * device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`

          * mac if `scope`==`client`'
        required: true
        schema:
          type: string
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      - name: classifier
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_classifier_summary'
                - description: Deprecated SLE classifier summary response
                  examples:
                  - classifier:
                      impact:
                        num_aps: 2
                        num_users: 17
                        total_aps: 3
                        total_users: 20
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    failures: []
                    impact:
                      num_aps: 2
                      num_users: 21
                      total_aps: 3
                      total_users: 26
                    metric: capacity
                    start: 1627226471
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    classifier:
                      impact:
                        num_aps: 2
                        num_users: 17
                        total_aps: 3
                        total_users: 20
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    failures: []
                    impact:
                      num_aps: 2
                      num_users: 21
                      total_aps: 3
                      total_users: 26
                    metric: capacity
                    start: 1627226471
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_classifier_summary'
                - description: Deprecated SLE classifier summary response
                  examples:
                  - classifier:
                      impact:
                        num_aps: 2
                        num_users: 17
                        total_aps: 3
                        total_users: 20
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    failures: []
                    impact:
                      num_aps: 2
                      num_users: 21
                      total_aps: 3
                      total_users: 26
                    metric: capacity
                    start: 1627226471
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    classifier:
                      impact:
                        num_aps: 2
                        num_users: 17
                        total_aps: 3
                        total_users: 20
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    failures: []
                    impact:
                      num_aps: 2
                      num_users: 21
                      total_aps: 3
                      total_users: 26
                    metric: capacity
                    start: 1627226471
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: true
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifier/{classifier}/summary-trend:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: getSiteSleClassifierSummaryTrend
      description: Get SLE classifier Summary Trend
      operationId: getSiteSleClassifierSummaryTrend
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/sle_summary_scope'
      - name: scope_id
        in: path
        description: '* site_id if `scope`==`site`

          * device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`

          * mac if `scope`==`client`'
        required: true
        schema:
          type: string
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      - name: classifier
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_classifier_summary_trend'
                - description: Time-series trend response for an SLE classifier
                  examples:
                  - classifier:
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    metric: capacity
                    start: 1627226471
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    classifier:
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    metric: capacity
                    start: 1627226471
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_classifier_summary_trend'
                - description: Time-series trend response for an SLE classifier
                  examples:
                  - classifier:
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    metric: capacity
                    start: 1627226471
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    classifier:
                      interval: 3600
                      name: wifi-interference
                      samples:
                        degraded:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        duration:
                        - 0
                        - 0
                        - 210.03334
                        - 3.1333334
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 0
                        - 102.5
                        - 108.03333
                        - 0
                        - 0
                        - 201.9
                        - 566.48334
                        - 135.63333
                        - 0
                        total:
                        - 1302.3
                        - 1289.0167
                        - 1396.3167
                        - 1423.6666
                        - 1439.2167
                        - 1414.7
                        - 1361.0834
                        - 1371.5834
                        - 1372.0667
                        - 1339.1
                        - 1374.3667
                        - 1369.9
                        - 1352.4833
                        - 1382.8
                        - 1426.7167
                        - 1425.6333
                        - 1403.9333
                        - 1420.75
                        - 1416.8334
                        - 1437.3334
                        - 1425.1
                        - 1485.3667
                        - 1426.4333
                        - 444.13333
                      x_label: seconds
                      y_label: user-minutes
                    end: 1627312871
                    metric: capacity
                    start: 1627226471
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifiers:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: listSiteSleMetricClassifiers
      description: List classifiers for a specific metric
      operationId: listSiteSleMetricClassifiers
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/site_sle_metric_classifiers_scope_parameters'
      - name: scope_id
        in: path
        description: '* site_id if `scope`==`site`

          * device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`

          * mac if `scope`==`client`'
        required: true
        schema:
          type: string
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                uniqueItems: true
                type: array
                items:
                  type: string
                description: Unique string values returned or accepted by this schema
                examples:
                - - asymmetry-uplink
                  - weak-signal
                  - asymmetry-downlink
                contentMediaType: application/json
              examples:
                example:
                  value:
                  - asymmetry-uplink
                  - weak-signal
                  - asymmetry-downlink
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/histogram:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: getSiteSleHistogram
      description: Get the histogram for the SLE metric
      operationId: getSiteSleHistogram
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/site_sle_histogram_scope_parameters'
      - name: scope_id
        in: path
        description: '* site_id if `scope`==`site`

          * device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`

          * mac if `scope`==`client`'
        required: true
        schema:
          type: string
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_histogram'
                - description: Histogram response for an SLE metric
                  examples:
                  - data:
                    - range:
                      - null
                      - 0
                      value: 0
                    - range:
                      - 0
                      - 10
                      value: 0
                    - range:
                      - 10
                      - 20
                      value: 5105
                    - range:
                      - 20
                      - 30
                      value: 10616
                    - range:
                      - 30
                      - 40
                      value: 40051
                    - range:
                      - 40
                      - 50
                      value: 141201
                    - range:
                      - 50
                      - 60
                      value: 949823
                    - range:
                      - 60
                      - 70
                      value: 686308
                    - range:
                      - 70
                      - 80
                      value: 177670
                    - range:
                      - 80
                      - 90
                      value: 689
                    - range:
                      - 90
                      - 100
                      value: 0
                    - range:
                      - 100
                      - null
                      value: 0
                    end: 1627055181
                    metric: capacity
                    start: 1626968781
                    x_label: available_bandwidth(%)
                    y_label: seconds
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    data:
                    - range:
                      - null
                      - 0
                      value: 0
                    - range:
                      - 0
                      - 10
                      value: 0
                    - range:
                      - 10
                      - 20
                      value: 5105
                    - range:
                      - 20
                      - 30
                      value: 10616
                    - range:
                      - 30
                      - 40
                      value: 40051
                    - range:
                      - 40
                      - 50
                      value: 141201
                    - range:
                      - 50
                      - 60
                      value: 949823
                    - range:
                      - 60
                      - 70
                      value: 686308
                    - range:
                      - 70
                      - 80
                      value: 177670
                    - range:
                      - 80
                      - 90
                      value: 689
                    - range:
                      - 90
                      - 100
                      value: 0
                    - range:
                      - 100
                      - null
                      value: 0
                    end: 1627055181
                    metric: capacity
                    start: 1626968781
                    x_label: available_bandwidth(%)
                    y_label: seconds
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_histogram'
                - description: Histogram response for an SLE metric
                  examples:
                  - data:
                    - range:
                      - null
                      - 0
                      value: 0
                    - range:
                      - 0
                      - 10
                      value: 0
                    - range:
                      - 10
                      - 20
                      value: 5105
                    - range:
                      - 20
                      - 30
                      value: 10616
                    - range:
                      - 30
                      - 40
                      value: 40051
                    - range:
                      - 40
                      - 50
                      value: 141201
                    - range:
                      - 50
                      - 60
                      value: 949823
                    - range:
                      - 60
                      - 70
                      value: 686308
                    - range:
                      - 70
                      - 80
                      value: 177670
                    - range:
                      - 80
                      - 90
                      value: 689
                    - range:
                      - 90
                      - 100
                      value: 0
                    - range:
                      - 100
                      - null
                      value: 0
                    end: 1627055181
                    metric: capacity
                    start: 1626968781
                    x_label: available_bandwidth(%)
                    y_label: seconds
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    data:
                    - range:
                      - null
                      - 0
                      value: 0
                    - range:
                      - 0
                      - 10
                      value: 0
                    - range:
                      - 10
                      - 20
                      value: 5105
                    - range:
                      - 20
                      - 30
                      value: 10616
                    - range:
                      - 30
                      - 40
                      value: 40051
                    - range:
                      - 40
                      - 50
                      value: 141201
                    - range:
                      - 50
                      - 60
                      value: 949823
                    - range:
                      - 60
                      - 70
                      value: 686308
                    - range:
                      - 70
                      - 80
                      value: 177670
                    - range:
                      - 80
                      - 90
                      value: 689
                    - range:
                      - 90
                      - 100
                      value: 0
                    - range:
                      - 100
                      - null
                      value: 0
                    end: 1627055181
                    metric: capacity
                    start: 1626968781
                    x_label: available_bandwidth(%)
                    y_label: seconds
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impact-summary:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: getSiteSleImpactSummary
      description: 'Get impact summary counts optionally filtered by classifier and failure type


        * Wireless SLE Fields: `wlan`, `device_type`, `device_os` ,`band`, `ap`, `server`, `mxedge`

        * Wired SLE Fields: `switch`, `client`, `vlan`, `interface`, `chassis`

        * WAN SLE Fields: `gateway`, `client`, `interface`, `chassis`, `peer_path`, `gateway_zones`'
      operationId: getSiteSleImpactSummary
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/site_sle_impact_summary_scope_parameters'
      - name: scope_id
        in: path
        description: '* site_id if `scope`==`site`

          * device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`

          * mac if `scope`==`client`'
        required: true
        schema:
          type: string
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: fields
        in: query
        description: 'Additional response fields to include, as a comma-separated list or `*` for all fields. enum: `ap`, `band`, `chassis`, `client`, `device_os`, `device_type`, `gateway`, `gateway_zones`, `interface`, `mxedge`, `peer_path`, `server`, `switch`, `vlan`, `wlan`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/site_sle_impact_summary_fields_parameter'
          - description: 'Additional response fields to include, as a comma-separated list or `*` for all fields. enum: `ap`, `band`, `chassis`, `client`, `device_os`, `device_type`, `gateway`, `gateway_zones`, `interface`, `mxedge`, `peer_path`, `server`, `switch`, `vlan`, `wlan`'
      - name: classifier
        in: query
        description: Filter SLE impact results by classifier
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_impact_summary'
                - description: SLE impact summary grouped by client, device, AP, WLAN, and band dimensions
                  examples:
                  - ap:
                    - ap_mac: 5c5b3550bd2e
                      degraded: 1486
                      duration: 0
                      name: ap43-off.lab
                      total: 27406
                    - ap_mac: d420b083e17a
                      degraded: 3
                      duration: 0
                      name: ap33-ent.lab
                      total: 1193
                    band:
                    - band: '24'
                      degraded: 1410
                      duration: 0
                      name: '24'
                      total: 28536
                    - band: '5'
                      degraded: 78
                      duration: 0
                      name: '5'
                      total: 4679
                    classifier: ''
                    device_os:
                    - degraded: 1329
                      device_os: ''
                      duration: 0
                      name: unknown
                      total: 27165
                    - degraded: 81
                      device_os: Linux
                      duration: 0
                      name: Linux
                      total: 1437
                    - degraded: 36
                      device_os: Android 11
                      duration: 0
                      name: Android 11
                      total: 761
                    - degraded: 39
                      device_os: '14.6'
                      duration: 0
                      name: '14.6'
                      total: 2413
                    - degraded: 2
                      device_os: Catalina
                      duration: 0
                      name: Catalina
                      total: 1438
                    device_type:
                    - degraded: 1410
                      device_type: ''
                      duration: 0
                      name: unknown
                      total: 28603
                    - degraded: 2
                      device_type: iPhone
                      duration: 0
                      name: iPhone
                      total: 1263
                    - degraded: 36
                      device_type: OnePlus
                      duration: 0
                      name: OnePlus
                      total: 761
                    - degraded: 37
                      device_type: iPad
                      duration: 0
                      name: iPad
                      total: 1150
                    - degraded: 2
                      device_type: Mac
                      duration: 0
                      name: Mac
                      total: 1438
                    end: 1627312734
                    failure: ''
                    metric: capacity
                    start: 1627226334
                    wlan:
                    - degraded: 37
                      duration: 0
                      name: MlN.ADM
                      total: 1150
                      wlan_id: ba3f85fc-ba48-4d8f-ad89-152e5c42db18
                    - degraded: 1410
                      duration: 0
                      name: MlN
                      total: 28603
                      wlan_id: 649a2336-b1e0-47bd-961c-f637dbe50e7b
                    - degraded: 41
                      duration: 0
                      name: MlN.1X
                      total: 3462
                      wlan_id: a937da77-fe3c-4784-86c4-f2134d7b1483
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    ap:
                    - ap_mac: 5c5b3550bd2e
                      degraded: 1486
                      duration: 0
                      name: ap43-off.lab
                      total: 27406
                    - ap_mac: d420b083e17a
                      degraded: 3
                      duration: 0
                      name: ap33-ent.lab
                      total: 1193
                    band:
                    - band: '24'
                      degraded: 1410
                      duration: 0
                      name: '24'
                      total: 28536
                    - band: '5'
                      degraded: 78
                      duration: 0
                      name: '5'
                      total: 4679
                    classifier: ''
                    device_os:
                    - degraded: 1329
                      device_os: ''
                      duration: 0
                      name: unknown
                      total: 27165
                    - degraded: 81
                      device_os: Linux
                      duration: 0
                      name: Linux
                      total: 1437
                    - degraded: 36
                      device_os: Android 11
                      duration: 0
                      name: Android 11
                      total: 761
                    - degraded: 39
                      device_os: '14.6'
                      duration: 0
                      name: '14.6'
                      total: 2413
                    - degraded: 2
                      device_os: Catalina
                      duration: 0
                      name: Catalina
                      total: 1438
                    device_type:
                    - degraded: 1410
                      device_type: ''
                      duration: 0
                      name: unknown
                      total: 28603
                    - degraded: 2
                      device_type: iPhone
                      duration: 0
                      name: iPhone
                      total: 1263
                    - degraded: 36
                      device_type: OnePlus
                      duration: 0
                      name: OnePlus
                      total: 761
                    - degraded: 37
                      device_type: iPad
                      duration: 0
                      name: iPad
                      total: 1150
                    - degraded: 2
                      device_type: Mac
                      duration: 0
                      name: Mac
                      total: 1438
                    end: 1627312734
                    failure: ''
                    metric: capacity
                    start: 1627226334
                    wlan:
                    - degraded: 37
                      duration: 0
                      name: MlN.ADM
                      total: 1150
                      wlan_id: ba3f85fc-ba48-4d8f-ad89-152e5c42db18
                    - degraded: 1410
                      duration: 0
                      name: MlN
                      total: 28603
                      wlan_id: 649a2336-b1e0-47bd-961c-f637dbe50e7b
                    - degraded: 41
                      duration: 0
                      name: MlN.1X
                      total: 3462
                      wlan_id: a937da77-fe3c-4784-86c4-f2134d7b1483
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_impact_summary'
                - description: SLE impact summary grouped by client, device, AP, WLAN, and band dimensions
                  examples:
                  - ap:
                    - ap_mac: 5c5b3550bd2e
                      degraded: 1486
                      duration: 0
                      name: ap43-off.lab
                      total: 27406
                    - ap_mac: d420b083e17a
                      degraded: 3
                      duration: 0
                      name: ap33-ent.lab
                      total: 1193
                    band:
                    - band: '24'
                      degraded: 1410
                      duration: 0
                      name: '24'
                      total: 28536
                    - band: '5'
                      degraded: 78
                      duration: 0
                      name: '5'
                      total: 4679
                    classifier: ''
                    device_os:
                    - degraded: 1329
                      device_os: ''
                      duration: 0
                      name: unknown
                      total: 27165
                    - degraded: 81
                      device_os: Linux
                      duration: 0
                      name: Linux
                      total: 1437
                    - degraded: 36
                      device_os: Android 11
                      duration: 0
                      name: Android 11
                      total: 761
                    - degraded: 39
                      device_os: '14.6'
                      duration: 0
                      name: '14.6'
                      total: 2413
                    - degraded: 2
                      device_os: Catalina
                      duration: 0
                      name: Catalina
                      total: 1438
                    device_type:
                    - degraded: 1410
                      device_type: ''
                      duration: 0
                      name: unknown
                      total: 28603
                    - degraded: 2
                      device_type: iPhone
                      duration: 0
                      name: iPhone
                      total: 1263
                    - degraded: 36
                      device_type: OnePlus
                      duration: 0
                      name: OnePlus
                      total: 761
                    - degraded: 37
                      device_type: iPad
                      duration: 0
                      name: iPad
                      total: 1150
                    - degraded: 2
                      device_type: Mac
                      duration: 0
                      name: Mac
                      total: 1438
                    end: 1627312734
                    failure: ''
                    metric: capacity
                    start: 1627226334
                    wlan:
                    - degraded: 37
                      duration: 0
                      name: MlN.ADM
                      total: 1150
                      wlan_id: ba3f85fc-ba48-4d8f-ad89-152e5c42db18
                    - degraded: 1410
                      duration: 0
                      name: MlN
                      total: 28603
                      wlan_id: 649a2336-b1e0-47bd-961c-f637dbe50e7b
                    - degraded: 41
                      duration: 0
                      name: MlN.1X
                      total: 3462
                      wlan_id: a937da77-fe3c-4784-86c4-f2134d7b1483
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    ap:
                    - ap_mac: 5c5b3550bd2e
                      degraded: 1486
                      duration: 0
                      name: ap43-off.lab
                      total: 27406
                    - ap_mac: d420b083e17a
                      degraded: 3
                      duration: 0
                      name: ap33-ent.lab
                      total: 1193
                    band:
                    - band: '24'
                      degraded: 1410
                      duration: 0
                      name: '24'
                      total: 28536
                    - band: '5'
                      degraded: 78
                      duration: 0
                      name: '5'
                      total: 4679
                    classifier: ''
                    device_os:
                    - degraded: 1329
                      device_os: ''
                      duration: 0
                      name: unknown
                      total: 27165
                    - degraded: 81
                      device_os: Linux
                      duration: 0
                      name: Linux
                      total: 1437
                    - degraded: 36
                      device_os: Android 11
                      duration: 0
                      name: Android 11
                      total: 761
                    - degraded: 39
                      device_os: '14.6'
                      duration: 0
                      name: '14.6'
                      total: 2413
                    - degraded: 2
                      device_os: Catalina
                      duration: 0
                      name: Catalina
                      total: 1438
                    device_type:
                    - degraded: 1410
                      device_type: ''
                      duration: 0
                      name: unknown
                      total: 28603
                    - degraded: 2
                      device_type: iPhone
                      duration: 0
                      name: iPhone
                      total: 1263
                    - degraded: 36
                      device_type: OnePlus
                      duration: 0
                      name: OnePlus
                      total: 761
                    - degraded: 37
                      device_type: iPad
                      duration: 0
                      name: iPad
                      total: 1150
                    - degraded: 2
                      device_type: Mac
                      duration: 0
                      name: Mac
                      total: 1438
                    end: 1627312734
                    failure: ''
                    metric: capacity
                    start: 1627226334
                    wlan:
                    - degraded: 37
                      duration: 0
                      name: MlN.ADM
                      total: 1150
                      wlan_id: ba3f85fc-ba48-4d8f-ad89-152e5c42db18
                    - degraded: 1410
                      duration: 0
                      name: MlN
                      total: 28603
                      wlan_id: 649a2336-b1e0-47bd-961c-f637dbe50e7b
                    - degraded: 41
                      duration: 0
                      name: MlN.1X
                      total: 3462
                      wlan_id: a937da77-fe3c-4784-86c4-f2134d7b1483
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-applications:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: listSiteSleImpactedApplications
      description: For WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type
      operationId: listSiteSleImpactedApplications
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/site_sle_scope'
      - name: scope_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: classifier
        in: query
        description: Filter SLE impact results by classifier
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_impacted_applications'
                - description: Paginated list of applications impacted by an SLE metric
                  examples:
                  - apps:
                    - app: ZOOM
                      degraded: 371103
                      duration: 0
                      name: ZOOM
                      threshold: 173
                      total: 1771274
                    classifier: ''
                    end: 1668760746
                    failure: ''
                    limit: 1000
                    metric: application_health
                    page: 1
                    start: 1668121200
                    total_count: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    apps:
                    - app: ZOOM
                      degraded: 371103
                      duration: 0
                      name: ZOOM
                      threshold: 173
                      total: 1771274
                    classifier: ''
                    end: 1668760746
                    failure: ''
                    limit: 1000
                    metric: application_health
                    page: 1
                    start: 1668121200
                    total_count: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sle_impacted_applications'
                - description: Paginated list of applications impacted by an SLE metric
                  examples:
                  - apps:
                    - app: ZOOM
                      degraded: 371103
                      duration: 0
                      name: ZOOM
                      threshold: 173
                      total: 1771274
                    classifier: ''
                    end: 1668760746
                    failure: ''
                    limit: 1000
                    metric: application_health
                    page: 1
                    start: 1668121200
                    total_count: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    apps:
                    - app: ZOOM
                      degraded: 371103
                      duration: 0
                      name: ZOOM
                      threshold: 173
                      total: 1771274
                    classifier: ''
                    end: 1668760746
                    failure: ''
                    limit: 1000
                    metric: application_health
                    page: 1
                    start: 1668121200
                    total_count: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-aps:
    parameters: []
    get:
      tags:
      - Sites SLEs
      summary: listSiteSleImpactedAps
      description: For Wireless SLEs. List the impacted APs optionally filtered by classifier and failure type
      operationId: listSiteSleImpactedAps
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: scope
        in: path
        description: ''
        required: true
        schema:
          $ref: '#/components/schemas/site_sle_impacted_aps_scope_parameters'
      - name: scope_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
      - name: metric
        in: path
        description: Values from `listSiteSlesMetrics`
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
[...]
