openapi: 3.2.0
info:
  title: Mist MSPs Admins API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: MSPs Admins
  description: An MSP Admin refers to a user who has access to the Juniper Mist managed service provider (MSP) portal and is responsible for managing and administering the network operations of multiple customer organizations and sites.
paths:
  /api/v1/msps/{msp_id}/admins:
    parameters: []
    get:
      tags:
      - MSPs Admins
      summary: listMspAdmins
      description: List administrators that have privileges in this MSP hierarchy, including MSP, organization, organization group, site, or site group scopes.
      operationId: listMspAdmins
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/admin'
                description: List of Mist administrator accounts
                examples:
                - '[{"admin_id":"456b7016-a916-a4b1-78dd-72b947c152b7","email":"jsmith@mycorp.org","first_name":"Joe","last_name":"Smith","privileges":[{"role":"admin","scope":"msp"},{"org_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","role":"admin","scope":"org"},{"orggroup_ids":["507f1bab-13ba-73e2-f291-2bcb8d1362b0"],"role":"read","scope":"orggroup"}]}]'
                - '[{"admin_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","email":"user@example.com","first_name":"string","last_name":"string","privileges":[{"msp_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","msp_name":"string","name":"string","org_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","org_name":"string","orggroup_ids":["b069b358-4c97-5319-1f8c-7c5ca64d6ab1"],"role":"admin","scope":"org","site_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","sitegroup_ids":["6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9"]}]}]'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - admin_id: 456b7016-a916-a4b1-78dd-72b947c152b7
                    email: jsmith@mycorp.org
                    first_name: Joe
                    last_name: Smith
                    privileges:
                    - role: admin
                      scope: msp
                    - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                    - orggroup_ids:
                      - 507f1bab-13ba-73e2-f291-2bcb8d1362b0
                      role: read
                      scope: orggroup
                Example2:
                  value:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
            application/vnd.api+json:
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/admin'
                description: List of Mist administrator accounts
                examples:
                - '[{"admin_id":"456b7016-a916-a4b1-78dd-72b947c152b7","email":"jsmith@mycorp.org","first_name":"Joe","last_name":"Smith","privileges":[{"role":"admin","scope":"msp"},{"org_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","role":"admin","scope":"org"},{"orggroup_ids":["507f1bab-13ba-73e2-f291-2bcb8d1362b0"],"role":"read","scope":"orggroup"}]}]'
                - '[{"admin_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","email":"user@example.com","first_name":"string","last_name":"string","privileges":[{"msp_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","msp_name":"string","name":"string","org_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","org_name":"string","orggroup_ids":["b069b358-4c97-5319-1f8c-7c5ca64d6ab1"],"role":"admin","scope":"org","site_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","sitegroup_ids":["6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9"]}]}]'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - admin_id: 456b7016-a916-a4b1-78dd-72b947c152b7
                    email: jsmith@mycorp.org
                    first_name: Joe
                    last_name: Smith
                    privileges:
                    - role: admin
                      scope: msp
                    - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                    - orggroup_ids:
                      - 507f1bab-13ba-73e2-f291-2bcb8d1362b0
                      role: read
                      scope: orggroup
                Example2:
                  value:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/msps/{msp_id}/admins/{admin_id}:
    parameters: []
    delete:
      tags:
      - MSPs Admins
      summary: revokeMspAdmin
      description: Remove all privileges this administrator has through the MSP hierarchy, including inherited organization and site access. This does not delete the administrator account.
      operationId: revokeMspAdmin
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: admin_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - MSPs Admins
      summary: getMspAdmin
      description: Return administrator details and privilege assignments for one administrator under this MSP.
      operationId: getMspAdmin
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: admin_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - MSPs Admins
      summary: updateMspAdmin
      description: Update identity fields and privilege assignments for an existing administrator under this MSP.
      operationId: updateMspAdmin
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: admin_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/admin'
              - description: Request Body
                examples:
                - email: jsnow@abc.com
                  first_name: string
                  last_name: string
                  privileges:
                  - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  - role: admin
                    scope: site
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
              contentMediaType: application/json
            examples:
              Example:
                value:
                  email: jsnow@abc.com
                  first_name: string
                  last_name: string
                  privileges:
                  - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  - role: admin
                    scope: site
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/msps/{msp_id}/invites:
    parameters: []
    post:
      tags:
      - MSPs Admins
      summary: inviteMspAdmin
      description: 'Send an MSP administrator invitation with the requested identity fields and privilege assignments.


        **Note**: An email will also be sent to the user with a link to https://manage.mist.com/verify/invite?token=:token'
      operationId: inviteMspAdmin
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/admin'
              - description: Request Body
                examples:
                - '{"email":"user@example.com","first_name":"string","last_name":"string","privileges":[{"msp_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","msp_name":"string","name":"string","org_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","org_name":"string","orggroup_ids":["b069b358-4c97-5319-1f8c-7c5ca64d6ab1"],"role":"admin","scope":"org","site_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","sitegroup_ids":["b069b358-4c97-5319-1f8c-7c5ca64d6ab1"]}]}'
              contentMediaType: application/json
            examples:
              Example:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                  - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/msps/{msp_id}/invites/{invite_id}:
    parameters: []
    delete:
      tags:
      - MSPs Admins
      summary: uninviteMspAdmin
      description: Cancel a pending MSP administrator invitation before the invitee accepts it.
      operationId: uninviteMspAdmin
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: invite_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - MSPs Admins
      summary: updateMspAdminInvite
      description: Update the identity fields or privilege assignments on a pending MSP administrator invitation.
      operationId: updateMspAdminInvite
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: invite_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/admin'
              - description: Request Body
                examples:
                - '{"email":"user@example.com","first_name":"string","last_name":"string","privileges":[{"msp_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","msp_name":"string","name":"string","org_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","org_name":"string","orggroup_ids":["b069b358-4c97-5319-1f8c-7c5ca64d6ab1"],"role":"admin","scope":"org","site_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","sitegroup_ids":["b069b358-4c97-5319-1f8c-7c5ca64d6ab1"]}]}'
              contentMediaType: application/json
            examples:
              Example:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                  - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/admin'
                - description: Mist administrator account or organization API token details
                  examples:
                  - admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    email: user@example.com
                    first_name: string
                    last_name: string
                    password_modified_time: 1656353525
                    privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    admin_compliance_status2:
      title: admin_compliance_status2
      enum:
      - blocked
      - restricted
      type: string
      description: 'Trade compliance status for this administrator. enum: `blocked`, `restricted`.'
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    admin:
      title: admin
      type: object
      properties:
        admin_id:
          type: string
          description: Unique identifier of the administrator
          contentEncoding: uuid
          readOnly: true
          examples:
          - 456b7016-a916-a4b1-78dd-72b947c152b7
        compliance_status:
          allOf:
          - $ref: '#/components/schemas/admin_compliance_status2'
          - description: 'Trade compliance status for this administrator. enum: `blocked`, `restricted`.'
        email:
          type: string
          description: If admin account is not an Org API Token
          contentEncoding: email
          examples:
          - jsnow@abc.com
        enable_two_factor:
          type: boolean
          description: If admin account is not an Org API Token
          readOnly: true
        expire_time:
          type: integer
          description: Expiration time for the admin invitation, in epoch seconds
          contentEncoding: int32
        first_name:
          type: string
          description: If admin account is not an Org API Token. For an invite, this is the original first name used
          examples:
          - John
        hours:
          maximum: 168
          minimum: 1
          type: integer
          description: If admin account is not an Org API Token, how long the invite should be valid
          contentEncoding: int32
          default: 24
        last_name:
          type: string
          description: If admin account is not an Org API Token. For an invite, this is the original last name used
          examples:
          - Sno
        name:
          type: string
          description: For Org API Token Only
        no_tracking:
          type:
          - boolean
          - 'null'
          description: Optional, whether to store privacy-consent information. When it doesn’t exist, it’s assumed true on EU (i.e. no tracking, the user has to opt-in); otherwise, the user would have to opt-out
        oauth_google:
          type: boolean
          description: If admin account is not an Org API Token
          readOnly: true
        password_modified_time:
          type: number
          description: Password last modified time, in epoch
        phone:
          type: string
          description: If admin account is not an Org API Token. Phone number (numbers only, including country code)
        phone2:
          type: string
          description: If admin account is not an Org API Token. Secondary phone number (numbers only, including country code)
        privileges:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/admin_privilege'
          description: Privilege assignments that define the admin's MSP, organization, site, or site group access
        session_expiry:
          maximum: 20160
          minimum: 10
          type: integer
          description: Session lifetime for the admin, in minutes
          contentEncoding: int64
          readOnly: true
          examples:
          - 1440
        tags:
          type: array
          items:
            type: string
          description: Read-only tags associated with the admin account
          readOnly: true
        two_factor_verified:
          type: boolean
          description: If admin account is not an Org API Token. Two factor status
          readOnly: true
        via_sso:
          type: boolean
          description: If admin account is not an Org API Token, an admin login via_sso is more restircted. (password and email cannot be changed)
          readOnly: true
      description: Mist administrator account or organization API token details
    admin_privilege_view:
      title: admin_privilege_view
      enum:
      - lobby_admin
      - location
      - marketing
      - mxedge_admin
      - reporting
      - security
      - super_observer
      - switch_admin
      type: string
      description: 'UI view name allowed by a custom admin role. enum: `lobby_admin`, `location`, `marketing`, `mxedge_admin`, `reporting`, `security`, `super_observer`, `switch_admin`'
    admin_privilege_scope2:
      title: admin_privilege_scope2
      enum:
      - msp
      - org
      - orggroup
      - site
      - sitegroup
      type: string
      description: 'Object scope where this privilege applies. enum: `msp`, `org`, `orggroup`, `site`, `sitegroup`.'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    admin_privilege_role2:
      title: admin_privilege_role2
      enum:
      - admin
      - helpdesk
      - installer
      - read
      - write
      type: string
      description: 'Access role granted by this privilege. enum: `admin`, `helpdesk`, `installer`, `read`, `write`.'
    admin_privilege:
      title: admin_privilege
      required:
      - role
      - scope
      type: object
      properties:
        msp_id:
          type: string
          description: Required if `scope`==`msp`. MSP granted by this privilege
          contentEncoding: uuid
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        msp_logo_url:
          type: string
          description: Logo of the MSP (if the MSP belongs to an Advanced tier)
          readOnly: true
        msp_name:
          type:
          - string
          - 'null'
          description: Name of the MSP (if the org belongs to an MSP)
          readOnly: true
        msp_url:
          type: string
          description: Custom url of the MSP (if the MSP belongs to an Advanced tier)
          readOnly: true
        name:
          type: string
          description: Display name of the object for this privilege scope
          readOnly: true
        org_id:
          type: string
          description: Required if `scope`==`org`. Organization granted by this privilege
          contentEncoding: uuid
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        org_name:
          type: string
          description: Name of the org (for a site belonging to org)
          readOnly: true
        orggroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: If `scope`==`orggroup`. Organization groups granted by this privilege
        role:
          allOf:
          - $ref: '#/components/schemas/admin_privilege_role2'
          - description: 'Access role granted by this privilege. enum: `admin`, `helpdesk`, `installer`, `read`, `write`.'
        scope:
          allOf:
          - $ref: '#/components/schemas/admin_privilege_scope2'
          - description: 'Object scope where this privilege applies. enum: `msp`, `org`, `orggroup`, `site`, `sitegroup`.'
        site_id:
          type: string
          description: Required if `scope`==`site`. Site granted by this privilege
          contentEncoding: uuid
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        sitegroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: If `scope`==`sitegroup`. Site groups granted by this privilege
        views:
          type: array
          items:
            $ref: '#/components/schemas/admin_privilege_view'
          description: UI view restrictions applied when custom roles limit this privilege
      description: Admin privilege scope, role, and UI access settings
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
