openapi: 3.2.0
info:
  title: Mist Orgs Psk Portals API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Psk Portals
  description: 'PSK Self-Service Portals are for

    1. **Wi-Fi users** who want to connect to a WLAN with personal PSK, they''re told to connect to a URL where they can login (likely through company\u2019s SSO) and get the Wi-Fi Name / Passphrase - required input fields name, email so we can generate PSK

    2. **PSK Admins** (they don''t have access to normal Network Admin Portal)


    When a PSK portal is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)'
paths:
  /api/v1/orgs/{org_id}/pskportals:
    parameters: []
    get:
      tags:
      - Orgs Psk Portals
      summary: listOrgPskPortals
      description: List self-service PSK Portal configurations in the organization, including portal mode, SSID, authentication, expiry, and passphrase rules.
      operationId: listOrgPskPortals
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/psk_portal'
                description: List of PSK portal configurations
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/psk_portal'
                description: List of PSK portal configurations
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Psk Portals
      summary: createOrgPskPortal
      description: Create a self-service PSK Portal configuration for issuing personal PSKs, including SSID, BYOD or admin mode, SSO or sponsor authentication, passphrase rules, and expiry settings.
      operationId: createOrgPskPortal
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/psk_portal'
              - examples:
                - auth: sso
                  expire_time: 262800
                  expiry_notification_time: 2
                  hide_psks_created_by_other_admins: false
                  max_usage: 1
                  name: USR-test
                  notify_expiry: false
                  passphrase_rules:
                    alphabets_enabled: true
                    length: 8
                    numerics_enabled: true
                    symbols: ()[]{}_%@#&$
                    symbols_enabled: true
                  ssid: USR-test
                  sso:
                    idp_cert: '-----BEGIN CERTIFICATE-----

                      MIIDqDCCApCgA...-----END CERTIFICATE-----'
                    idp_sign_algo: sha256
                    idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                    issuer: http://www.okta.com/a6b88bec5ab7
                    nameid_format: email
                  type: byod
                  vlan_id: 42
              contentMediaType: application/json
            examples:
              Example:
                value:
                  auth: sso
                  expire_time: 262800
                  expiry_notification_time: 2
                  hide_psks_created_by_other_admins: false
                  max_usage: 1
                  name: USR-test
                  notify_expiry: false
                  passphrase_rules:
                    alphabets_enabled: true
                    length: 8
                    numerics_enabled: true
                    symbols: ()[]{}_%@#&$
                    symbols_enabled: true
                  ssid: USR-test
                  sso:
                    idp_cert: '-----BEGIN CERTIFICATE-----

                      MIIDqDCCApCgA...-----END CERTIFICATE-----'
                    idp_sign_algo: sha256
                    idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                    issuer: http://www.okta.com/a6b88bec5ab7
                    nameid_format: email
                  type: byod
                  vlan_id: 42
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/psk_portal'
                - description: Self-service portal configuration for issuing personal PSKs
                  examples:
                  - auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
                contentMediaType: application/json
              examples:
                PSK Portal:
                  value:
                    auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/psk_portal'
                - description: Self-service portal configuration for issuing personal PSKs
                  examples:
                  - auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
                contentMediaType: application/vnd.api+json
              examples:
                PSK Portal:
                  value:
                    auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/pskportals/logs:
    parameters: []
    get:
      tags:
      - Orgs Psk Portals
      summary: listOrgPskPortalLogs
      description: List PSK Portal log entries in the organization for the selected time range.
      operationId: listOrgPskPortalLogs
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_psk_portal_logs_search'
                - description: Paginated response for organization PSK Portal log search results
                  examples:
                  - end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
                contentMediaType: application/json
              examples:
                PSK Portal Logs:
                  value:
                    end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_psk_portal_logs_search'
                - description: Paginated response for organization PSK Portal log search results
                  examples:
                  - end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
                contentMediaType: application/vnd.api+json
              examples:
                PSK Portal Logs:
                  value:
                    end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/pskportals/logs/count:
    parameters: []
    get:
      tags:
      - Orgs Psk Portals
      summary: countOrgPskPortalLogs
      description: Count PSK Portal log entries across the organization, optionally grouped by `distinct` and filtered by time range.
      operationId: countOrgPskPortalLogs
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `admin_id`, `admin_name`, `psk_id`, `psk_name`, `pskportal_id`, `user_id`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_psk_portal_logs_count_distinct'
          - description: 'Field used to group this count response. enum: `admin_id`, `admin_name`, `psk_id`, `psk_name`, `pskportal_id`, `user_id`'
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/pskportals/logs/search:
    parameters: []
    get:
      tags:
      - Orgs Psk Portals
      summary: searchOrgPskPortalLogs
      description: Search PSK Portal log entries across the organization with filters for PSK, portal, admin, SSO NameID, and time range.
      operationId: searchOrgPskPortalLogs
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: psk_name
        in: query
        description: Filter PSK portal log results by PSK name
        style: form
        explode: true
        schema:
          type: string
      - name: psk_id
        in: query
        description: Filter PSK portal log results by PSK identifier
        style: form
        explode: true
        schema:
          type: string
      - name: pskportal_id
        in: query
        description: Filter PSK portal log results by PSK portal identifier
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        description: Filter results by identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
      - name: admin_name
        in: query
        description: Filter audit log results by administrator name
        style: form
        explode: true
        schema:
          type: string
      - name: admin_id
        in: query
        description: Filter audit log results by administrator identifier
        style: form
        explode: true
        schema:
          type: string
      - name: name_id
        in: query
        description: Filter results by name id
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_psk_portal_logs_search'
                - description: Paginated response for organization PSK Portal log search results
                  examples:
                  - end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
                contentMediaType: application/json
              examples:
                PSK Portal Logs:
                  value:
                    end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_psk_portal_logs_search'
                - description: Paginated response for organization PSK Portal log search results
                  examples:
                  - end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
                contentMediaType: application/vnd.api+json
              examples:
                PSK Portal Logs:
                  value:
                    end: 1428954000
                    limit: 100
                    results:
                    - id: 8a3dcaa7-80e3-4bb0-a75b-7bc6322cfd09
                      message: Rotate PSK test@mist.com
                      name_id: test@mist.com
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      psk_id: 608fe603-f9f0-4ce9-9473-04ef6c6ea749
                      psk_name: test@mist.com
                      pskportal_id: c1742c09-af35-4161-96ef-7dc65c6d5674
                      timestamp: 1686346104.096
                    start: 1428939600
                    total: 135
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/pskportals/{pskportal_id}:
    parameters: []
    delete:
      tags:
      - Orgs Psk Portals
      summary: deleteOrgPskPortal
      description: Delete a PSK Portal configuration by portal ID, removing the self-service entry point for issuing PSKs through that portal.
      operationId: deleteOrgPskPortal
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: pskportal_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs Psk Portals
      summary: getOrgPskPortal
      description: Retrieve PSK Portal configuration details, including SSID, mode, authentication, SSO, passphrase, expiry, notification, and template URLs.
      operationId: getOrgPskPortal
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: pskportal_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/psk_portal'
                - description: Self-service portal configuration for issuing personal PSKs
                  examples:
                  - auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
                contentMediaType: application/json
              examples:
                PSK Portal:
                  value:
                    auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/psk_portal'
                - description: Self-service portal configuration for issuing personal PSKs
                  examples:
                  - auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
                contentMediaType: application/vnd.api+json
              examples:
                PSK Portal:
                  value:
                    auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Psk Portals
      summary: updateOrgPskPortal
      description: Update a PSK Portal configuration, including SSID, mode, authentication, SSO, passphrase, expiry, notification, and template settings.
      operationId: updateOrgPskPortal
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: pskportal_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/psk_portal'
              - examples:
                - auth: sso
                  expire_time: 262800
                  expiry_notification_time: 2
                  hide_psks_created_by_other_admins: false
                  max_usage: 1
                  name: USR-test
                  notify_expiry: false
                  passphrase_rules:
                    alphabets_enabled: true
                    length: 8
                    numerics_enabled: true
                    symbols: ()[]{}_%@#&$
                    symbols_enabled: true
                  sponsors:
                    idp_cert: '-----BEGIN CERTIFICATE-----

                      MIIDqDCCApCgA...-----END CERTIFICATE-----'
                    idp_sign_algo: sha256
                    idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                    issuer: http://www.okta.com/a6b88bec5ab7
                    nameid_format: email
                  ssid: USR-test
                  type: byod
                  vlan_id: nu42ll
              contentMediaType: application/json
            examples:
              Example:
                value:
                  auth: sso
                  expire_time: 262800
                  expiry_notification_time: 2
                  hide_psks_created_by_other_admins: false
                  max_usage: 1
                  name: USR-test
                  notify_expiry: false
                  passphrase_rules:
                    alphabets_enabled: true
                    length: 8
                    numerics_enabled: true
                    symbols: ()[]{}_%@#&$
                    symbols_enabled: true
                  sponsors:
                    idp_cert: '-----BEGIN CERTIFICATE-----

                      MIIDqDCCApCgA...-----END CERTIFICATE-----'
                    idp_sign_algo: sha256
                    idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                    issuer: http://www.okta.com/a6b88bec5ab7
                    nameid_format: email
                  ssid: USR-test
                  type: byod
                  vlan_id: nu42ll
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/psk_portal'
                - description: Self-service portal configuration for issuing personal PSKs
                  examples:
                  - auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
                contentMediaType: application/json
              examples:
                PSK Portal:
                  value:
                    auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/psk_portal'
                - description: Self-service portal configuration for issuing personal PSKs
                  examples:
                  - auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
                contentMediaType: application/vnd.api+json
              examples:
                PSK Portal:
                  value:
                    auth: sso
                    created_time: 1727272316
                    expire_time: 262800
                    expiry_notification_time: 2
                    hide_psks_created_by_other_admins: false
                    id: 86ef73e5-e360-4e33-abd8-c2da7b11cbd6
                    max_usage: 1
                    modified_time: 1727272316
                    name: USR-test
                    notify_expiry: false
                    org_id: 8f6c24d5-b618-4c30-b6ff-b2febc1078ab
                    passphrase_rules:
                      alphabets_enabled: true
                      length: 8
                      numerics_enabled: true
                      symbols: ()[]{}_%@#&$
                      symbols_enabled: true
                    role: ''
                    ssid: USR-test
                    sso:
                      idp_cert: '-----BEGIN CERTIFICATE-----

                        MIIDqDCCApCgA...-----END CERTIFICATE-----'
                      idp_sign_algo: sha256
                      idp_sso_url: https://dev-00000000.okta.com/app/dev-00000000/a6b88bec5ab7/sso/saml
                      issuer: http://www.okta.com/a6b88bec5ab7
                      nameid_format: email
                    type: byod
                    ui_url: https://pskportal.gc1.mist.com/#!byod/a6b88bec-5ab7-41ae-a34c-44ff52a8b81d
                    vlan_id: 123
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/pskportals/{pskportal_id}/portal_image:
    parameters: []
    delete:
      tags:
      - Orgs Psk Portals
      summary: deleteOrgPskPortalImage
      description: Delete the custom background image for a PSK Portal. If no image is configured, the PSK Portal uses the default background image.
      operationId: deleteOrgPskPortalImage
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: pskportal_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Psk Portals
      summary: uploadOrgPskPortalImage
      description: Upload a custom background image for a PSK Portal.
      operationId: uploadOrgPskPortalImage
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: pskportal_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Image binary payload to upload for the PSK portal
                  contentEncoding: base64
                json:
                  type: string
                  description: Metadata JSON string describing the PSK portal image upload
              contentMediaType: multipart/form-data
        required: false
      responses:
        '200':
          description: OK
          headers: {}
[...]
