openapi: 3.2.0
info:
  title: Mist Orgs Clients - Wireless API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Clients - Wireless
  description: Wireless Clients are Wi-Fi devices connected to a Juniper Mist Access Point.
paths:
  /api/v1/orgs/{org_id}/clients/count:
    parameters: []
    get:
      tags:
      - Orgs Clients - Wireless
      summary: countOrgWirelessClients
      description: Count wireless client records across the organization, optionally grouped by `distinct` and filtered by client identity, AP, SSID, VLAN, IP, and time range.
      operationId: countOrgWirelessClients
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `ap`, `device`, `hostname`, `ip`, `mac`, `model`, `os`, `ssid`, `vlan`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_clients_count_distinct'
          - description: 'Field used to group this count response. enum: `ap`, `device`, `hostname`, `ip`, `mac`, `model`, `os`, `ssid`, `vlan`'
      - name: mac
        in: query
        description: Partial / full Client MAC address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `aabbcc*` and `*bbcc*` match `aabbccddeeff`). Suffix-only wildcards (e.g. `*bccddeeff`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - aabbccddeeff,aabbcc*
          - aabbccddeeff
          - aabbcc*
          - '*bbcc*'
        examples:
          Untitled Example1:
            value: aabbccddeeff,aabbcc*
          Untitled Example2:
            value: aabbccddeeff
          Untitled Example3:
            value: aabbcc*
          Untitled Example4:
            value: '*bbcc*'
      - name: hostname
        in: query
        description: Partial / full Client hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `everest*` and `*rest*` match `my-everest-client`). Suffix-only wildcards (e.g. `*everest`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-everest-client,my-everest*
          - my-everest-client
          - my-everest*
          - '*everest*'
        examples:
          Untitled Example1:
            value: my-everest-client,my-everest*
          Untitled Example2:
            value: my-everest-client
          Untitled Example3:
            value: my-everest*
          Untitled Example4:
            value: '*everest*'
      - name: device
        in: query
        description: Filter results by device type
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone
      - name: os
        in: query
        description: Filter results by operating system
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Windows 10
      - name: model
        in: query
        description: Filter results by device model
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone 8
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101
      - name: vlan
        in: query
        description: Filter results by VLAN ID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '10'
      - name: ssid
        in: query
        description: Filter results by SSID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - MySSID
      - name: ip
        in: query
        description: Filter results by IPv4 address
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: ipv4
          examples:
          - 192.168.1.1
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/clients/events/count:
    parameters: []
    get:
      tags:
      - Orgs Clients - Wireless
      summary: countOrgWirelessClientEvents
      description: Count wireless client event records across the organization, optionally grouped by event attributes and filtered by event type, WLAN, radio, site, and time range.
      operationId: countOrgWirelessClientEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `band`, `channel`, `proto`, `ssid`, `type`, `wlan_id`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/site_client_events_count_distinct'
          - description: 'Field used to group this count response. enum: `band`, `channel`, `proto`, `ssid`, `type`, `wlan_id`'
            examples:
            - type
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listDeviceEventsDefinitions). Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - MARVIS_EVENT_CLIENT_AUTH_FAILURE,CLIENT_DEAUTHENTICATION
      - name: reason_code
        in: query
        description: Reason code filter for association and disassociation events
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: ssid
        in: query
        description: Filter results by SSID
        style: form
        explode: true
        schema:
          type: string
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: proto
        in: query
        description: '802.11 protocol used to filter results. enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/dot11_proto'
          - description: '802.11 protocol used to filter results. enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`'
      - name: band
        in: query
        description: '802.11 band used to filter radio results. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/dot11_band'
          - description: '802.11 band used to filter radio results. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`'
      - name: wlan_id
        in: query
        description: Filter results by WLAN identifier
        style: form
        explode: true
        schema:
          type: string
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 72771e6a-6f5e-4de4-a5b9-1266c4197811
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/clients/events/search:
    parameters: []
    get:
      tags:
      - Orgs Clients - Wireless
      summary: searchOrgWirelessClientEvents
      description: Search wireless client event records across the organization with filters for event type, reason code, SSID, AP, key management, protocol, band, WLAN, NAC rule, and time range.
      operationId: searchOrgWirelessClientEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listDeviceEventsDefinitions). Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - CLIENT_IP_ASSIGNED,CLIENT_DEAUTHENTICATION
      - name: reason_code
        in: query
        description: Reason code filter for association and disassociation events. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 0,14
          - '7'
        examples:
          Untitled Example1:
            value: 0,14
          Untitled Example2:
            value: '7'
      - name: ssid
        in: query
        description: Filter results by SSID. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Corp,Guest
          - MySSID
        examples:
          Untitled Example1:
            value: Corp,Guest
          Untitled Example2:
            value: MySSID
      - name: ap
        in: query
        description: Filter results by AP MAC address. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101,5c5b53020202
          - 5c5b53010101
        examples:
          Untitled Example1:
            value: 5c5b53010101,5c5b53020202
          Untitled Example2:
            value: 5c5b53010101
      - name: key_mgmt
        in: query
        description: 'Key management protocol used to filter client events. enum: `WPA2-PSK`, `WPA2-PSK/CCMP`, `WPA2-PSK-FT`, `WPA2-PSK-SHA256`, `WPA3-EAP-SHA256`, `WPA3-EAP-SHA256/CCMP`, `WPA3-EAP-FT/GCMP256`, `WPA3-SAE-FT`, `WPA3-SAE-PSK`. Accepts multiple comma-separated values.'
        style: form
        explode: true
        schema:
          type: string
          examples:
          - WPA2-PSK,WPA2-PSK/CCMP
      - name: proto
        in: query
        description: '802.11 protocol used to filter results. enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`. Accepts multiple comma-separated values.'
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ax,ac
      - name: band
        in: query
        description: '802.11 band used to filter radio results. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`. Accepts multiple comma-separated values.'
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 6,5
      - name: wlan_id
        in: query
        description: Filter results by WLAN identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: nacrule_id
        in: query
        description: Filter results by NAC rule identifier. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
        examples:
          Untitled Example2:
            value: 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_events_search'
                - description: Paginated response for wireless client event search results
                  examples:
                  - end: 0
                    limit: 0
                    results:
                    - ap: string
                      band: '24'
                      bssid: string
                      channel: 0
                      proto: a
                      ssid: string
                      text: string
                      timestamp: 0
                      type: string
                      type_code: 0
                      wlan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 0
                    limit: 0
                    results:
                    - ap: string
                      band: '24'
                      bssid: string
                      channel: 0
                      proto: a
                      ssid: string
                      text: string
                      timestamp: 0
                      type: string
                      type_code: 0
                      wlan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_events_search'
                - description: Paginated response for wireless client event search results
                  examples:
                  - end: 0
                    limit: 0
                    results:
                    - ap: string
                      band: '24'
                      bssid: string
                      channel: 0
                      proto: a
                      ssid: string
                      text: string
                      timestamp: 0
                      type: string
                      type_code: 0
                      wlan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 0
                    limit: 0
                    results:
                    - ap: string
                      band: '24'
                      bssid: string
                      channel: 0
                      proto: a
                      ssid: string
                      text: string
                      timestamp: 0
                      type: string
                      type_code: 0
                      wlan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/clients/search:
    parameters: []
    get:
      tags:
      - Orgs Clients - Wireless
      summary: searchOrgWirelessClients
      description: Search wireless client records across the organization with filters for site, AP, band, device identity, hostname, IP, MAC address, username, SSID, PPSK, VLAN, and time range.
      operationId: searchOrgWirelessClients
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101
      - name: band
        in: query
        description: 'Comma separated list of Radio band (e.g. `24,5`). enum: `24`, `5`, `6`'
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5,6
          - '5'
        examples:
          Untitled Example1:
            value: 5,6
          Untitled Example2:
            value: '5'
      - name: device
        in: query
        description: Comma separated list of Device type (e.g. `Mac,iPhone`). Case sensitive
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone
      - name: hostname
        in: query
        description: Partial / full Client hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `everest*` and `*rest*` match `my-everest-client`). Suffix-only wildcards (e.g. `*everest`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-everest-client,my-everest*
          - my-everest-client
          - my-everest*
          - '*everest*'
        examples:
          Untitled Example1:
            value: my-everest-client,my-everest*
          Untitled Example2:
            value: my-everest-client
          Untitled Example3:
            value: my-everest*
          Untitled Example4:
            value: '*everest*'
      - name: ip
        in: query
        description: Partial / full Client IP address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `10.100.10.*` and `*100.10.*` match `10.100.10.54`). Suffix-only wildcards (e.g. `*.54`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 10.100.10.54,10.100.10.*
          - 10.100.10.54
          - 10.100.10.*
          - '*100.10.*'
        examples:
          Untitled Example1:
            value: 10.100.10.54,10.100.10.*
          Untitled Example2:
            value: 10.100.10.54
          Untitled Example3:
            value: 10.100.10.*
          Untitled Example4:
            value: '*100.10.*'
      - name: mac
        in: query
        description: Partial / full Client MAC address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `aabbcc*` and `*bbcc*` match `aabbccddeeff`). Suffix-only wildcards (e.g. `*bccddeeff`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - aabbccddeeff,aabbcc*
          - aabbccddeeff
          - aabbcc*
          - '*bbcc*'
        examples:
          Untitled Example1:
            value: aabbccddeeff,aabbcc*
          Untitled Example2:
            value: aabbccddeeff
          Untitled Example3:
            value: aabbcc*
          Untitled Example4:
            value: '*bbcc*'
      - name: model
        in: query
        description: Only available for clients running the Marvis Client app, model, e.g. "MBP 15 late 2013", 6, 6s, "8+ GSM"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone 8
      - name: os
        in: query
        description: Only available for clients running the Marvis Client app, os, e.g. Sierra, Yosemite, Windows 10
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Windows 10
      - name: psk_id
        in: query
        description: PSK identifier used to filter the results
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: psk_name
        in: query
        description: Only available for clients using PPSK authentication, the Name of the PSK
        style: form
        explode: true
        schema:
          type: string
          examples:
          - MyPPSK
      - name: ssid
        in: query
        description: Filter results by SSID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - MySSID
      - name: text
        in: query
        description: Partial / full MAC address, hostname, username, psk_name or ip. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `everest*` and `*rest*` match `my-everest-client`). Suffix-only wildcards (e.g. `*everest`) are not supported
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b530
      - name: username
        in: query
        description: Partial / full username. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `johndoe*` and `*mycorp*` match `johndoe@mycorp.com`). Suffix-only wildcards (e.g. `*mycorp.com`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - johndoe,johnd*
          - johndoe
          - johnd*
          - '*ohnd*'
        examples:
          Untitled Example1:
            value: johndoe,johnd*
          Untitled Example2:
            value: johndoe
          Untitled Example3:
            value: johnd*
          Untitled Example4:
            value: '*ohnd*'
      - name: vlan
        in: query
        description: Filter results by VLAN ID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '10'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_client_search'
                - description: Paginated wireless client search response
                  examples:
                  - end: 17141231418.812
                    limit: 118
                    next: next8
                    results:
                    - ap:
                      - a83a79a947ee
                      - 003e73170b4c
                      app_version:
                      - 0.100.3
                      band: '5'
                      device:
                      - Mac
                      ftc: false
                      hardware: Apple Wi-Fi adapter
                      hostname:
                      - hostname-a
                      - hostname-b
                      ip:
                      - 10.5.23.43
                      - 192.168.0.2
                      last_ap: a83a79a947ee
                      last_device: Mac
                      last_firmware: 'wl0: Jan 20 2024 04:08:41 version 20.103.12.0.8.7.171 FWID 01-e09d2675'
                      last_hostname: hostname-a
                      last_ip: 10.5.23.43
                      last_model: MBP 16\" M1 2021
                      last_os: Sonoma
                      last_os_version: 14.4.1 (Build 23E224)
                      last_psk_id: abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      last_psk_name: iot
                      last_ssid: IoT SSID
                      last_username: user@corp.com
                      last_vlan: 10
                      last_wlan_id: e5d67b07-aae8-494b-8584-cbc20c8110aa
                      mac: bcd074000000
                      mfg: Apple
                      model: MBP 16\" M1 2021
                      org_id: 1abff1aa-4571-4c1f-a409-153a1e7a7a24
                      os:
                      - Sonoma
                      os_version:
                      - 14.4.1 (Build 23E224)
                      protocol: ax
                      psk_id:
                      - abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      psk_name:
                      - iot
                      sdk_version:
                      - 0.100.3
                      site_id: 25ff5219-9be7-4db9-907d-0c9b60445147
                      site_ids:
                      - 25ff5219-9be7-4db9-907d-0c9b60445147
                      ssid:
                      - IoT SSID
                      timestamp: 1714124722.113
                      username:
                      - user@corp.com
                      vlan:
                      - 10
                    start: 10
                    total: 44
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 17141231418.812
                    limit: 118
                    next: next8
                    results:
                    - ap:
                      - a83a79a947ee
                      - 003e73170b4c
                      app_version:
                      - 0.100.3
                      band: '5'
                      device:
                      - Mac
                      ftc: false
                      hardware: Apple Wi-Fi adapter
                      hostname:
                      - hostname-a
                      - hostname-b
                      ip:
                      - 10.5.23.43
                      - 192.168.0.2
                      last_ap: a83a79a947ee
                      last_device: Mac
                      last_firmware: 'wl0: Jan 20 2024 04:08:41 version 20.103.12.0.8.7.171 FWID 01-e09d2675'
                      last_hostname: hostname-a
                      last_ip: 10.5.23.43
                      last_model: MBP 16\" M1 2021
                      last_os: Sonoma
                      last_os_version: 14.4.1 (Build 23E224)
                      last_psk_id: abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      last_psk_name: iot
                      last_ssid: IoT SSID
                      last_username: user@corp.com
                      last_vlan: 10
                      last_wlan_id: e5d67b07-aae8-494b-8584-cbc20c8110aa
                      mac: bcd074000000
                      mfg: Apple
                      model: MBP 16\" M1 2021
                      org_id: 1abff1aa-4571-4c1f-a409-153a1e7a7a24
                      os:
                      - Sonoma
                      os_version:
                      - 14.4.1 (Build 23E224)
                      protocol: ax
                      psk_id:
                      - abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      psk_name:
                      - iot
                      sdk_version:
                      - 0.100.3
                      site_id: 25ff5219-9be7-4db9-907d-0c9b60445147
                      site_ids:
                      - 25ff5219-9be7-4db9-907d-0c9b60445147
                      ssid:
                      - IoT SSID
                      timestamp: 1714124722.113
                      username:
                      - user@corp.com
                      vlan:
                      - 10
                    start: 10
                    total: 44
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_client_search'
                - description: Paginated wireless client search response
                  examples:
                  - end: 17141231418.812
                    limit: 118
                    next: next8
                    results:
                    - ap:
                      - a83a79a947ee
                      - 003e73170b4c
                      app_version:
                      - 0.100.3
                      band: '5'
                      device:
                      - Mac
                      ftc: false
                      hardware: Apple Wi-Fi adapter
                      hostname:
                      - hostname-a
                      - hostname-b
                      ip:
                      - 10.5.23.43
                      - 192.168.0.2
                      last_ap: a83a79a947ee
                      last_device: Mac
                      last_firmware: 'wl0: Jan 20 2024 04:08:41 version 20.103.12.0.8.7.171 FWID 01-e09d2675'
                      last_hostname: hostname-a
                      last_ip: 10.5.23.43
                      last_model: MBP 16\" M1 2021
                      last_os: Sonoma
                      last_os_version: 14.4.1 (Build 23E224)
                      last_psk_id: abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      last_psk_name: iot
                      last_ssid: IoT SSID
                      last_username: user@corp.com
                      last_vlan: 10
                      last_wlan_id: e5d67b07-aae8-494b-8584-cbc20c8110aa
                      mac: bcd074000000
                      mfg: Apple
                      model: MBP 16\" M1 2021
                      org_id: 1abff1aa-4571-4c1f-a409-153a1e7a7a24
                      os:
                      - Sonoma
                      os_version:
                      - 14.4.1 (Build 23E224)
                      protocol: ax
                      psk_id:
                      - abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      psk_name:
                      - iot
                      sdk_version:
                      - 0.100.3
                      site_id: 25ff5219-9be7-4db9-907d-0c9b60445147
                      site_ids:
                      - 25ff5219-9be7-4db9-907d-0c9b60445147
                      ssid:
                      - IoT SSID
                      timestamp: 1714124722.113
                      username:
                      - user@corp.com
                      vlan:
                      - 10
                    start: 10
                    total: 44
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 17141231418.812
                    limit: 118
                    next: next8
                    results:
                    - ap:
                      - a83a79a947ee
                      - 003e73170b4c
                      app_version:
                      - 0.100.3
                      band: '5'
                      device:
                      - Mac
                      ftc: false
                      hardware: Apple Wi-Fi adapter
                      hostname:
                      - hostname-a
                      - hostname-b
                      ip:
                      - 10.5.23.43
                      - 192.168.0.2
                      last_ap: a83a79a947ee
                      last_device: Mac
                      last_firmware: 'wl0: Jan 20 2024 04:08:41 version 20.103.12.0.8.7.171 FWID 01-e09d2675'
                      last_hostname: hostname-a
                      last_ip: 10.5.23.43
                      last_model: MBP 16\" M1 2021
                      last_os: Sonoma
                      last_os_version: 14.4.1 (Build 23E224)
                      last_psk_id: abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      last_psk_name: iot
                      last_ssid: IoT SSID
                      last_username: user@corp.com
                      last_vlan: 10
                      last_wlan_id: e5d67b07-aae8-494b-8584-cbc20c8110aa
                      mac: bcd074000000
                      mfg: Apple
                      model: MBP 16\" M1 2021
                      org_id: 1abff1aa-4571-4c1f-a409-153a1e7a7a24
                      os:
                      - Sonoma
                      os_version:
                      - 14.4.1 (Build 23E224)
                      protocol: ax
                      psk_id:
                      - abf7dc5c-bb51-4bb7-93b6-5547400ffe11
                      psk_name:
                      - iot
                      sdk_version:
                      - 0.100.3
                      site_id: 25ff5219-9be7-4db9-907d-0c9b60445147
                      site_ids:
                      - 25ff5219-9be7-4db9-907d-0c9b60445147
                      ssid:
                      - IoT SSID
                      timestamp: 1714124722.113
                      username:
                      - user@corp.com
                      vlan:
                      - 10
                    start: 10
                    total: 44
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/clients/sessions/count:
    parameters: []
    get:
      tags:
      - Orgs Clients - Wireless
      summary: countOrgWirelessClientsSessions
      description: Count historical wireless client sessions across the organization, optionally grouped by `distinct` and filtered by AP, band, client attributes, SSID, WLAN, and time range.
      operationId: countOrgWirelessClientsSessions
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `ap`, `device`, `hostname`, `ip`, `model`, `os`, `ssid`, `vlan`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_client_sessions_count_distinct'
          - description: 'Field used to group this count response. enum: `ap`, `device`, `hostname`, `ip`, `model`, `os`, `ssid`, `vlan`'
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101
      - name: band
        in: query
        description: '802.11 band used to filter radio results. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/dot11_band'
          - description: '802.11 band used to filter radio results. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`'
      - name: client_family
        in: query
        description: E.g. "Mac", "iPhone", "Apple watch"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone
      - name: client_manufacture
        in: query
        description: Filter results by client manufacturer, e.g. "Apple"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Apple
      - name: client_model
        in: query
        description: Filter results by client model, e.g. "8+", "XS"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone 8
      - name: client_os
        in: query
        description: E.g. "Mojave", "Windows 10", "Linux"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Windows 10
      - name: ssid
        in: query
        description: Filter results by SSID
        style: form
        explode: true
        schema:
          type: string
          examples:
          - MySSID
      - name: wlan_id
        in: query
        description: Filter results by WLAN identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/clients/sessions/search:
    parameters: []
    get:
      tags:
      - Orgs Clients - Wireless
      summary: searchOrgWirelessClientSessions
      description: Search historical wireless client sessions across the organization with filters for AP, band, client family, manufacturer, model, OS, username, SSID, WLAN, PPSK, and time range.
      operationId: searchOrgWirelessClientSessions
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101
      - name: band
        in: query
        description: '802.11 band used to filter radio results. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`. Accepts multiple comma-separated values.'
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5,6
      - name: client_family
        in: query
        description: E.g. "Mac", "iPhone", "Apple watch". Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Phone/Tablet/Wearable,Monitoring Device
          - iPhone
        examples:
          Untitled Example1:
            value: Phone/Tablet/Wearable,Monitoring Device
          Untitled Example2:
            value: iPhone
      - name: client_manufacture
        in: query
        description: Filter results by client manufacturer, e.g. "Apple". Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Hewlett Packard Enterprise,Unknown
          - Apple
        examples:
          Untitled Example1:
            value: Hewlett Packard Enterprise,Unknown
          Untitled Example2:
            value: Apple
      - name: client_model
        in: query
        description: Filter results by client model, e.g. "8+", "XS". Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iPhone 8,Aruba S0U52A
          - iPhone 8
        examples:
          Untitled Example1:
            value: iPhone 8,Aruba S0U52A
          Untitled Example2:
            value: iPhone 8
      - name: client_username
        in: query
        description: Filter results by client username. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - john.doe,jane.doe
          - john.doe
        examples:
          Untitled Example1:
            value: john.doe,jane.doe
          Untitled Example2:
            value: john.doe
      - name: client_os
        in: query
        description: E.g. "Mojave", "Windows 10", "Linux". Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - iOS 16.7.16,Unknown
          - Windows 10
        examples:
          Untitled Example1:
            value: iOS 16.7.16,Unknown
          Untitled Example2:
            value: Windows 10
      - name: ssid
        in: query
        description: Filter results by SSID. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Corp,Guest
          - MySSID
        examples:
          Untitled Example1:
            value: Corp,Guest
          Untitled Example2:
            value: MySSID
      - name: wlan_id
        in: query
        description: Filter results by WLAN identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: psk_id
        in: query
        description: PSK identifier used to filter the results
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: psk_name
        in: query
        description: Filter results by PSK name. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - psk-a,psk-b
          - MyPPSK
        examples:
          Untitled Example1:
            value: psk-a,psk-b
          Untitled Example2:
            value: MyPPSK
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/search_wireless_client_session'
                - description: Paginated response for wireless client session searches
                  examples:
                  - end: 1513177200
                    limit: 10
                    results:
                    - ap: 5c5b350e0262
                      band: '5'
                      client_manufacture: Apple
                      connect: 1565208388
                      disconnect: 1565208448
                      duration: 60.09423865
                      mac: b019c66c8348
                      org_id: 3139f2c2-fac6-11e5-8156-0242ac110006
                      site_id: 70e0f468-fc13-11e5-85ad-0242ac110008
                      ssid: Dummy WLAN 2
                      tags:
                      - disassociate
                      timestamp: 1565208448.662
                      wlan_id: 99bb4c74-f954-4f36-b844-6b030faffabc
                    start: 1511967600
                    total: 100
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1513177200
                    limit: 10
                    results:
                    - ap: 5c5b350e0262
                      band: '5'
                      client_manufacture: Apple
                      connect: 1565208388
                      disconnect: 1565208448
                      duration: 60.09423865
                      mac: b019c66c8348
                      org_id: 3139f2c2-fac6-11e5-8156-0242ac110006
                      site_id: 70e0f468-fc13-11e5-85ad-0242ac110008
                      ssid: Dummy WLAN 2
                      tags:
                      - disassociate
                      timestamp: 1565208448.662
                      wlan_id: 99bb4c74-f954-4f36-b844-6b030faffabc
                    start: 1511967600
                    total: 100
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/search_wireless_client_session'
                - description: Paginated response for wireless client session searches
                  examples:
                  - end: 1513177200
                    limit: 10
                    results:
                    - ap: 5c5b350e0262
                      band: '5'
                      client_manufacture: Apple
                      connect: 1565208388
                      disconnect: 1565208448
                      duration: 60.09423865
                      mac: b019c66c8348
                      org_id: 3139f2c2-fac6-11e5-8156-0242ac110006
                      site_id: 70e0f468-fc13-11e5-85ad-0242ac110008
                      ssid: Dummy WLAN 2
                      tags:
                      - disassociate
                      timestamp: 1565208448.662
                      wlan_id: 99bb4c74-f954-4f36-b844-6b030faffabc
                    start: 1511967600
                    total: 100
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1513177200
                    limit: 10
                    results:
                    - ap: 5c5b350e0262
                      band: '5'
                      client_manufacture: Apple
                      connect: 1565208388
                      disconnect: 1565208448
                      duration: 60.09423865
                      mac: b019c66c8348
                      org_id: 3139f2c2-fac6-11e5-8156-0242ac110006
                      site_id: 70e0f468-fc13-11e5-85ad-0242ac110008
                      ssid: Dummy WLAN 2
                      tags:
                      - disassociate
                      timestamp: 1565208448.662
                      wlan_id: 99bb4c74-f954-4f36-b844-6b030faffabc
                    start: 1511967600
                    total: 100
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    org_client_sessions_count_distinct:
      title: org_client_sessions_count_distinct
      enum:
      - ap
      - device
      - hostname
      - ip
      - model
      - os
      - ssid
      - vlan
      type: string
      description: 'enum: `ap`, `device`, `hostname`, `ip`, `model`, `os`, `ssid`, `vlan`'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    site_client_events_count_distinct:
      title: site_client_events_count_distinct
      enum:
      - band
      - channel
      - proto
      - ssid
      - type
      - wlan_id
      type: string
      description: 'enum: `band`, `channel`, `proto`, `ssid`, `type`, `wlan_id`'
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    search_wireless_client_session:
      title: search_wireless_client_session
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: number
          description: Upper bound timestamp of the wireless client session search window, in epoch seconds
        limit:
          type: integer
          description: Maximum number of wireless client session records returned by this page
          contentEncoding: int32
        next:
          type: string
          description: URL for the next page of wireless client session records, when more results are available
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/wireless_client_session'
          description: Wireless client session records returned by the search response
        start:
          type: number
          description: Lower bound timestamp of the wireless client session search window, in epoch seconds
        total:
          type: integer
          description: Count of wireless client session records matching the search
          contentEncoding: int32
      description: Paginated response for wireless client session searches
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    dot11_band1:
      title: dot11_band1
      enum:
      - '24'
      - '5'
      - 5-dedicated
      - 5-selectable
      - '6'
      - 6-dedicated
      - 6-selectable
      type: string
      description: 'Radio band used for the wireless client event. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`.'
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    dot11_proto1:
      title: dot11_proto1
      enum:
      - a
      - ac
      - ax
      - b
      - be
      - g
      - n
      type: string
      description: '802.11 protocol used by the client session. enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`.'
    response_client_search:
      title: response_client_search
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: number
          description: Search window end timestamp for wireless clients, in epoch seconds
        limit:
          type: integer
          description: Maximum number of wireless client results requested
          contentEncoding: int32
        next:
          type: string
          description: URL for the next page of wireless client results
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/client_wireless'
          description: Wireless client records returned for this page
        start:
          type: number
          description: Search window start timestamp for wireless clients, in epoch seconds
        total:
          type: integer
          description: Number of wireless client records matching the search
          contentEncoding: int32
      description: Paginated wireless client search response
    dot11_proto:
      title: dot11_proto
      enum:
      - a
      - ac
      - ax
      - b
      - be
      - g
      - n
      type: string
      description: 'enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`'
    wireless_client_session:
      title: wireless_client_session
      required:
      - ap
      - band
      - connect
      - disconnect
      - duration
      - mac
      - org_id
      - site_id
      - ssid
      - timestamp
      - wlan_id
      type: object
      properties:
        ap:
          type: string
          description: MAC address of the access point associated with the client session
          readOnly: true
        band:
          type: string
          description: Radio band used by the client session
          readOnly: true
        client_manufacture:
          type:
          - string
          - 'null'
          description: Manufacturer reported for the client device, when available
          readOnly: true
        connect:
          type: integer
          description: Time when the client session connected, in epoch seconds
          contentEncoding: int32
          readOnly: true
        disconnect:
          type: integer
          description: Time when the client session disconnected, in epoch seconds
          contentEncoding: int32
          readOnly: true
        duration:
          type: number
          description: Length of the client session, in seconds
          readOnly: true
        for_site:
          type: boolean
          description: Whether this client session record is scoped to a site
          readOnly: true
        mac:
          type: string
[...]
