openapi: 3.2.0
info:
  title: Mist MSPs Orgs API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: MSPs Orgs
  description: 'An organization usually represents a customer - which has inventories, licenses.


    An Organization can contain multiple sites. A site usually represents a deployment at the same location (a campus, an office).'
paths:
  /api/v1/msps/{msp_id}/orgs:
    parameters: []
    get:
      tags:
      - MSPs Orgs
      summary: listMspOrgs
      description: List organizations managed by this MSP account, including MSP ownership and organization-group membership metadata.
      operationId: listMspOrgs
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/org'
                description: Organization records returned by a list response
                examples:
                - - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/org'
                description: Organization records returned by a list response
                examples:
                - - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - MSPs Orgs
      summary: createMspOrg
      description: Create an organization under this MSP, optionally assigning it to organization groups and setting organization-level defaults.
      operationId: createMspOrg
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/org'
              - description: Request Body
                examples:
                - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  name: string
                  orggroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 10
              contentMediaType: application/json
            examples:
              Example:
                value:
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  name: string
                  orggroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 10
        required: false
      responses:
        '200':
          description: Org Infos
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org'
                - description: Mist organization containing sites, devices, users, and organization-level settings
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org'
                - description: Mist organization containing sites, devices, users, and organization-level settings
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - MSPs Orgs
      summary: manageMspOrgs
      description: Assign existing organizations to this MSP account or unassign organizations from it by providing the desired operation and org IDs.
      operationId: manageMspOrgs
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/msp_org_change'
              - description: Request Body
                examples:
                - op: assign
                  org_ids:
                  - 2b069b358-4c97-5319-1f8c-7c5ca64d6ab1
              contentMediaType: application/json
            examples:
              Example:
                value:
                  op: assign
                  org_ids:
                  - 2b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/msps/{msp_id}/orgs/search:
    parameters: []
    get:
      tags:
      - MSPs Orgs
      summary: searchMspOrgs
      description: Search organizations under this MSP using organization identifiers, names, subscription state, trial state, usage types, and time-based filters.
      operationId: searchMspOrgs
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: name
        in: query
        description: Filter results by name
        style: form
        explode: true
        schema:
          type: string
      - name: org_id
        in: query
        description: Filter results by organization identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
      - name: sub_insufficient
        in: query
        description: If this org has sufficient subscription
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      - name: trial_enabled
        in: query
        description: If this org is under trial period
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      - name: usage_types
        in: query
        description: List of types that enabled by usage
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_org_search'
                - description: Paginated response for MSP organization search results
                  examples:
                  - end: 1614383378.4365287
                    limit: 10
                    next: /api/v1/msps/43e96c5a-6ef6-11e6-9909-9596d1d1534f/orgs/search?end=1760601621&limit=1&search_after=%5B1760599794477%5D&start=1759996821
                    results:
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Test Org
                      num_aps: 9
                      num_sites: 5
                      num_switches: 1
                      num_unassigned_aps: 1
                      org_id: bb1a8bf6-0000-0000-0000-8053a663cf65
                      sub_ana_required: 9
                      sub_ast_entitled: 5
                      sub_ast_required: 3
                      sub_eng_required: 3
                      sub_ex12_required: 1
                      sub_insufficient: true
                      sub_man_required: 9
                      sub_vna_entitled: 1
                      timestamp: 1614322563.513937
                      trial_enabled: false
                      usage_types:
                      - sub_eng
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Rogue Test1
                      num_aps: 1
                      num_sites: 1
                      org_id: 0fb81690-0000-0000-0000-9596d1d1534f
                      sub_ana_entitled: 1
                      sub_ana_required: 1
                      sub_insufficient: false
                      sub_man_entitled: 1
                      sub_man_required: 1
                      timestamp: 1614309876.500955
                    start: 1613778578.4365668
                    total: 2
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1614383378.4365287
                    limit: 10
                    next: /api/v1/msps/43e96c5a-6ef6-11e6-9909-9596d1d1534f/orgs/search?end=1760601621&limit=1&search_after=%5B1760599794477%5D&start=1759996821
                    results:
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Test Org
                      num_aps: 9
                      num_sites: 5
                      num_switches: 1
                      num_unassigned_aps: 1
                      org_id: bb1a8bf6-0000-0000-0000-8053a663cf65
                      sub_ana_required: 9
                      sub_ast_entitled: 5
                      sub_ast_required: 3
                      sub_eng_required: 3
                      sub_ex12_required: 1
                      sub_insufficient: true
                      sub_man_required: 9
                      sub_vna_entitled: 1
                      timestamp: 1614322563.513937
                      trial_enabled: false
                      usage_types:
                      - sub_eng
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Rogue Test1
                      num_aps: 1
                      num_sites: 1
                      org_id: 0fb81690-0000-0000-0000-9596d1d1534f
                      sub_ana_entitled: 1
                      sub_ana_required: 1
                      sub_insufficient: false
                      sub_man_entitled: 1
                      sub_man_required: 1
                      timestamp: 1614309876.500955
                    start: 1613778578.4365668
                    total: 2
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_org_search'
                - description: Paginated response for MSP organization search results
                  examples:
                  - end: 1614383378.4365287
                    limit: 10
                    next: /api/v1/msps/43e96c5a-6ef6-11e6-9909-9596d1d1534f/orgs/search?end=1760601621&limit=1&search_after=%5B1760599794477%5D&start=1759996821
                    results:
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Test Org
                      num_aps: 9
                      num_sites: 5
                      num_switches: 1
                      num_unassigned_aps: 1
                      org_id: bb1a8bf6-0000-0000-0000-8053a663cf65
                      sub_ana_required: 9
                      sub_ast_entitled: 5
                      sub_ast_required: 3
                      sub_eng_required: 3
                      sub_ex12_required: 1
                      sub_insufficient: true
                      sub_man_required: 9
                      sub_vna_entitled: 1
                      timestamp: 1614322563.513937
                      trial_enabled: false
                      usage_types:
                      - sub_eng
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Rogue Test1
                      num_aps: 1
                      num_sites: 1
                      org_id: 0fb81690-0000-0000-0000-9596d1d1534f
                      sub_ana_entitled: 1
                      sub_ana_required: 1
                      sub_insufficient: false
                      sub_man_entitled: 1
                      sub_man_required: 1
                      timestamp: 1614309876.500955
                    start: 1613778578.4365668
                    total: 2
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1614383378.4365287
                    limit: 10
                    next: /api/v1/msps/43e96c5a-6ef6-11e6-9909-9596d1d1534f/orgs/search?end=1760601621&limit=1&search_after=%5B1760599794477%5D&start=1759996821
                    results:
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Test Org
                      num_aps: 9
                      num_sites: 5
                      num_switches: 1
                      num_unassigned_aps: 1
                      org_id: bb1a8bf6-0000-0000-0000-8053a663cf65
                      sub_ana_required: 9
                      sub_ast_entitled: 5
                      sub_ast_required: 3
                      sub_eng_required: 3
                      sub_ex12_required: 1
                      sub_insufficient: true
                      sub_man_required: 9
                      sub_vna_entitled: 1
                      timestamp: 1614322563.513937
                      trial_enabled: false
                      usage_types:
                      - sub_eng
                    - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                      name: Rogue Test1
                      num_aps: 1
                      num_sites: 1
                      org_id: 0fb81690-0000-0000-0000-9596d1d1534f
                      sub_ana_entitled: 1
                      sub_ana_required: 1
                      sub_insufficient: false
                      sub_man_entitled: 1
                      sub_man_required: 1
                      timestamp: 1614309876.500955
                    start: 1613778578.4365668
                    total: 2
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/msps/{msp_id}/orgs/{org_id}:
    parameters: []
    delete:
      tags:
      - MSPs Orgs
      summary: deleteMspOrg
      description: Delete an organization managed by this MSP. Use the MSP organization assignment endpoint when only assigning or unassigning organizations from the MSP account.
      operationId: deleteMspOrg
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - MSPs Orgs
      summary: getMspOrg
      description: Return details for one organization managed by this MSP, including MSP ownership, organization groups, support access, and session settings.
      operationId: getMspOrg
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Org Infos
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org'
                - description: Mist organization containing sites, devices, users, and organization-level settings
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org'
                - description: Mist organization containing sites, devices, users, and organization-level settings
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - MSPs Orgs
      summary: updateMspOrg
      description: Update organization settings for an organization managed by this MSP.
      operationId: updateMspOrg
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org'
        required: false
      responses:
        '200':
          description: Org Infos
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org'
                - description: Mist organization containing sites, devices, users, and organization-level settings
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org'
                - description: Mist organization containing sites, devices, users, and organization-level settings
                  examples:
                  - alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 1440
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/msps/{msp_id}/stats/orgs:
    parameters: []
    get:
      tags:
      - MSPs Orgs
      summary: listMspOrgStats
      description: List organization statistics for organizations managed by this MSP, including device, inventory, site, and SLE summary fields.
      operationId: listMspOrgStats
      parameters:
      - name: msp_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_org'
                description: Organization statistics summaries returned by stats APIs
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_org'
                description: Organization statistics summaries returned by stats APIs
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_org_search:
      title: response_org_search
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: number
          description: Epoch timestamp, in seconds, for the end of the organization search window
          readOnly: true
        limit:
          type: integer
          description: Maximum number of organization records returned in this page
          contentEncoding: int32
          readOnly: true
        next:
          type: string
          description: URL for retrieving the next page of organization search results
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/response_org_search_item'
          description: Organization records matching the MSP search filters
        start:
          type: number
          description: Epoch timestamp, in seconds, for the start of the organization search window
          readOnly: true
        total:
          type: integer
          description: Number of organization records matching the search filters across all pages
          contentEncoding: int32
          readOnly: true
      description: Paginated response for MSP organization search results
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    stats_org:
      title: stats_org
      required:
      - alarmtemplate_id
      - allow_mist
      - created_time
      - id
      - modified_time
      - msp_id
      - name
      - num_devices
      - num_devices_connected
      - num_devices_disconnected
      - num_inventory
      - num_sites
      - orggroup_ids
      - session_expiry
      - sle
      type: object
      properties:
        alarmtemplate_id:
          type: string
          description: Organization-level alarm template identifier used as the default for sites
          contentEncoding: uuid
        allow_mist:
          type: boolean
          description: Whether Mist support access is allowed for this organization
        created_time:
          type: number
          description: Time when the organization was created, in epoch seconds
          readOnly: true
        id:
          type: string
          description: Unique identifier of the organization
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Time when the organization was last modified, in epoch seconds
          readOnly: true
        msp_id:
          type: string
          description: Managed service provider identifier associated with the organization
          contentEncoding: uuid
          readOnly: true
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        name:
          type: string
          description: Display name of the organization
        num_devices:
          type: integer
          description: Total number of devices in the organization
          contentEncoding: int32
        num_devices_connected:
          type: integer
          description: Number of organization devices currently connected to Mist
          contentEncoding: int32
        num_devices_disconnected:
          type: integer
          description: Number of organization devices currently disconnected from Mist
          contentEncoding: int32
        num_inventory:
          type: integer
          description: Number of devices in the organization's inventory
          contentEncoding: int32
        num_sites:
          type: integer
          description: Number of sites in the organization
          contentEncoding: int32
        orggroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Organization group identifiers that include this organization
        session_expiry:
          type: integer
          description: Admin session lifetime for the organization, in minutes
          contentEncoding: int64
        sle:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/stats_org_sle'
          description: Service level expectation summaries for the organization
      description: Organization statistics summary returned by the org stats endpoint
    stats_org_sle_user_minutes2:
      title: stats_org_sle_user_minutes2
      required:
      - ok
      - total
      type: object
      properties:
        ok:
          type: number
          description: User minutes that met the SLE target
        total:
          type: number
          description: Observed total user minutes for the SLE path
      description: User-minute totals for this SLE path
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    stats_org_sle:
      title: stats_org_sle
      required:
      - path
      type: object
      properties:
        path:
          type: string
          description: SLE path represented by this organization summary
        user_minutes:
          allOf:
          - $ref: '#/components/schemas/stats_org_sle_user_minutes2'
          - description: User-minute totals for this SLE path
      description: Organization SLE summary for a service path
    msp_org_change:
      title: msp_org_change
      required:
      - op
      - org_ids
      type: object
      properties:
        op:
          allOf:
          - $ref: '#/components/schemas/msp_org_change_operation2'
          - description: 'Assignment operation to apply to the listed org IDs. enum: `assign`, `unassign`.'
        org_ids:
          type: array
          items:
            type: string
          description: List of org IDs to assign to or unassign from the MSP account
      description: Request to assign or unassign orgs for an MSP account
    msp_org_change_operation2:
      title: msp_org_change_operation2
      enum:
      - assign
      - unassign
      type: string
      description: 'Assignment operation to apply to the listed org IDs. enum: `assign`, `unassign`.'
    org:
      title: org
      required:
      - name
      type: object
      properties:
        alarmtemplate_id:
          type:
          - string
          - 'null'
          description: Org-level alarm template ID used as the default for sites
          contentEncoding: uuid
        allow_mist:
          type: boolean
          description: Whether Mist support access is allowed for this organization
          default: true
        created_time:
          type: number
          description: Epoch timestamp when the organization was created
          readOnly: true
        id:
          type: string
          description: Unique identifier of the organization
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Epoch timestamp when the organization was last modified
          readOnly: true
        msp_id:
          type: string
          description: Managed service provider account that owns this organization, when applicable
          contentEncoding: uuid
          readOnly: true
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        msp_logo_url:
          type: string
          description: logo uploaded by the MSP with advanced tier, only present if provided
          contentEncoding: uri
          readOnly: true
          examples:
          - https://example.com/logo/b9d42c2e-88ee-41f8-b798-f009ce7fe909.jpeg
        msp_name:
          type: string
          description: Name of the msp the org belongs to
          readOnly: true
          examples:
          - MSP
        name:
          type: string
          description: Display name of the organization
          examples:
          - Org
        orggroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Organization group IDs that include this organization
        session_expiry:
          maximum: 20160
          minimum: 10
          type: integer
          description: Admin session lifetime for the organization, in minutes
          contentEncoding: int32
          default: 1440
      description: Mist organization containing sites, devices, users, and organization-level settings
    response_org_search_item:
      title: response_org_search_item
      type: object
      properties:
        msp_id:
          type: string
          description: MSP that owns or manages this organization
          contentEncoding: uuid
          readOnly: true
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        name:
          type: string
          description: Display name of the organization
          readOnly: true
        num_aps:
          type: integer
          description: Number of APs in the organization
          contentEncoding: int32
          readOnly: true
        num_gateways:
          type: integer
          description: Number of gateways in the organization
          contentEncoding: int32
          readOnly: true
        num_sites:
          type: integer
          description: Number of sites in the organization
          contentEncoding: int32
          readOnly: true
        num_switches:
          type: integer
          description: Number of switches in the organization
          contentEncoding: int32
          readOnly: true
        num_unassigned_aps:
          type: integer
          description: Number of APs in organization inventory that are not assigned to a site
          contentEncoding: int32
          readOnly: true
        org_id:
          type: string
          description: Organization identifier for this search result
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        sub_ana_entitled:
          type: integer
          description: Number of SUB-ANA subscriptions entitled for the organization
          contentEncoding: int32
          readOnly: true
        sub_ana_required:
          type: integer
          description: Number of SUB-ANA subscriptions required by the organization
          contentEncoding: int32
          readOnly: true
        sub_ast_entitled:
          type: integer
          description: Number of SUB-AST subscriptions entitled for the organization
          contentEncoding: int32
          readOnly: true
        sub_ast_required:
          type: integer
          description: Number of SUB-AST subscriptions required by the organization
          contentEncoding: int32
          readOnly: true
        sub_eng_entitled:
          type: integer
          description: Number of SUB-ENG subscriptions entitled for the organization
          contentEncoding: int32
          readOnly: true
        sub_eng_required:
          type: integer
          description: Number of SUB-ENG subscriptions required by the organization
          contentEncoding: int32
          readOnly: true
        sub_ex12_required:
          type: integer
          description: Number of SUB-EX12 subscriptions required by the organization
          contentEncoding: int32
          readOnly: true
        sub_insufficient:
          type: boolean
          description: If this org has sufficient subscription
          readOnly: true
        sub_man_entitled:
          type: integer
          description: Number of SUB-MAN subscriptions entitled for the organization
          contentEncoding: int32
          readOnly: true
        sub_man_required:
          type: integer
          description: Number of SUB-MAN subscriptions required by the organization
          contentEncoding: int32
          readOnly: true
        sub_me_entitled:
          type: integer
          description: Number of SUB-ME subscriptions entitled for the organization
          contentEncoding: int32
          readOnly: true
        sub_vna_entitled:
          type: integer
          description: Number of SUB-VNA subscriptions entitled for the organization
          contentEncoding: int32
          readOnly: true
        sub_vna_required:
          type: integer
          description: Number of SUB-VNA subscriptions required by the organization
          contentEncoding: int32
          readOnly: true
        timestamp:
          type: number
          description: Epoch timestamp, in seconds, when the organization search data was sampled
          readOnly: true
        trial_enabled:
          type: boolean
          description: If this org is under trial period
          readOnly: true
        usage_types:
          type: array
          items:
            type: string
          description: Subscription usage types enabled for the organization
          readOnly: true
      description: Organization record returned by MSP organization search
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
