openapi: 3.2.0
info:
  title: Mist Orgs Vars API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Vars
  description: Vars endpoints are used to retrieve the list of Site Variables across all the Sites.
paths:
  /api/v1/orgs/{org_id}/vars/search:
    parameters: []
    get:
      tags:
      - Orgs Vars
      summary: searchOrgVars
      description: 'Search vars


        Example: /api/v1/orgs/{org_id}/vars/search?vars=*'
      operationId: searchOrgVars
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: site_id
        in: query
        description: Filter results by site identifier. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002
      - name: var
        in: query
        description: Filter variable results by variable name. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - guest_end,guest_net
      - name: src
        in: query
        description: 'Filter results by source. enum: `deviceprofile`, `site`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/var_source'
          - description: 'Filter results by source. enum: `deviceprofile`, `site`'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_search_var'
                - description: Paginated response for organization variable search results
                  examples:
                  - end: 1693952979
                    limit: 10
                    results:
                    - created_time: 1618457655.384858
                      modified_time: 1693610886.477805
                      org_id: 0c160b7f-1027-4cd1-923b-744534c4b070
                      site_id: 1519f016-4e41-47c0-a396-cce4d04bac0b
                      src: site
                      var: mvp
                    start: 1693949379
                    total: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1693952979
                    limit: 10
                    results:
                    - created_time: 1618457655.384858
                      modified_time: 1693610886.477805
                      org_id: 0c160b7f-1027-4cd1-923b-744534c4b070
                      site_id: 1519f016-4e41-47c0-a396-cce4d04bac0b
                      src: site
                      var: mvp
                    start: 1693949379
                    total: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_search_var'
                - description: Paginated response for organization variable search results
                  examples:
                  - end: 1693952979
                    limit: 10
                    results:
                    - created_time: 1618457655.384858
                      modified_time: 1693610886.477805
                      org_id: 0c160b7f-1027-4cd1-923b-744534c4b070
                      site_id: 1519f016-4e41-47c0-a396-cce4d04bac0b
                      src: site
                      var: mvp
                    start: 1693949379
                    total: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1693952979
                    limit: 10
                    results:
                    - created_time: 1618457655.384858
                      modified_time: 1693610886.477805
                      org_id: 0c160b7f-1027-4cd1-923b-744534c4b070
                      site_id: 1519f016-4e41-47c0-a396-cce4d04bac0b
                      src: site
                      var: mvp
                    start: 1693949379
                    total: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_search_var:
      title: response_search_var
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp, in seconds, for the end of the variable search window
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of variable records returned in this page
          contentEncoding: int32
        next:
          type: string
          description: URL for retrieving the next page of variable search results
        results:
          type: array
          items:
            $ref: '#/components/schemas/response_search_var_item'
          description: Organization variable records matching the search filters
        start:
          type: integer
          description: Epoch timestamp, in seconds, for the start of the variable search window
          contentEncoding: int32
        total:
          type: integer
          description: Number of variable records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for organization variable search results
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    var_source:
      title: var_source
      enum:
      - deviceprofile
      - site
      type: string
      description: 'Source level where a variable is defined. enum: `deviceprofile`, `site`'
    response_search_var_item:
      title: response_search_var_item
      type: object
      properties:
        created_time:
          type: number
          description: Timestamp when the organization variable was created
          readOnly: true
        modified_time:
          type: number
          description: Timestamp when the organization variable was last modified
          readOnly: true
        org_id:
          type: string
          description: Organization associated with the variable
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        site_id:
          type: string
          description: Site associated with the variable, when the source is site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        src:
          type: string
          description: Source scope for the variable, such as `site` or `deviceprofile`
        var:
          type: string
          description: Name of the variable matched by the search
      description: Organization variable record returned by search
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
