openapi: 3.2.0
info:
  title: Mist Sites Network Templates API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Network Templates
  description: The API Endpoints for the Network Templates at the site level can be used to get the site derived networks, meaning the org level configuration with the site variables resolved.
paths:
  /api/v1/sites/{site_id}/networktemplates/derived:
    parameters: []
    get:
      tags:
      - Sites Network Templates
      summary: listSiteNetworkTemplatesDerived
      description: Get the list of derived Network Templates a Site
      operationId: listSiteNetworkTemplatesDerived
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: resolve
        in: query
        description: Whether resolve the site variables
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network_template'
                - description: Network template configuration applied to sites or site groups
                  examples:
                  - additional_config_cmds:
                    - set snmp community public
                    created_time: 0
                    dhcp_snooping:
                      all_networks: true
                      enable_arp_spoof_check: true
                      enable_ip_source_guard: true
                      enabled: true
                      networks:
                      - string
                    dns_servers:
                    - string
                    dns_suffix:
                    - string
                    extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    group_tags: {}
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6708
                    import_org_networks:
                    - ap
                    mist_nac:
                      enabled: true
                      network: string
                    modified_time: 0
                    name: string
                    networks:
                      property1:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                      property2:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                    ntp_servers:
                    - string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    port_usages:
                      dynamic:
                        mode: dynamic
                        reset_default_when: link_down
                        rules:
                        - equals: string
                          equals_any:
                          - string
                          expression: string
                          src: lldp_chassis_id
                          usage: string
                      property1:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_auth: dot1x
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                      property2:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        mode: access
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                    switch_mgmt:
                      config_revert_timer: 10
                      protect_re:
                        enabled: false
                      root_password: string
                      tacacs:
                        acct_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                        enabled: true
                        network: string
                        tacplus_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                    vrf_config:
                      enabled: false
                    vrf_instances:
                      property1:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
                      property2:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    additional_config_cmds:
                    - set snmp community public
                    created_time: 0
                    dhcp_snooping:
                      all_networks: true
                      enable_arp_spoof_check: true
                      enable_ip_source_guard: true
                      enabled: true
                      networks:
                      - string
                    dns_servers:
                    - string
                    dns_suffix:
                    - string
                    extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    group_tags: {}
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6708
                    import_org_networks:
                    - ap
                    mist_nac:
                      enabled: true
                      network: string
                    modified_time: 0
                    name: string
                    networks:
                      property1:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                      property2:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                    ntp_servers:
                    - string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    port_usages:
                      dynamic:
                        mode: dynamic
                        reset_default_when: link_down
                        rules:
                        - equals: string
                          equals_any:
                          - string
                          expression: string
                          src: lldp_chassis_id
                          usage: string
                      property1:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_auth: dot1x
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                      property2:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        mode: access
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                    switch_mgmt:
                      config_revert_timer: 10
                      protect_re:
                        enabled: false
                      root_password: string
                      tacacs:
                        acct_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                        enabled: true
                        network: string
                        tacplus_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                    vrf_config:
                      enabled: false
                    vrf_instances:
                      property1:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
                      property2:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/network_template'
                - description: Network template configuration applied to sites or site groups
                  examples:
                  - additional_config_cmds:
                    - set snmp community public
                    created_time: 0
                    dhcp_snooping:
                      all_networks: true
                      enable_arp_spoof_check: true
                      enable_ip_source_guard: true
                      enabled: true
                      networks:
                      - string
                    dns_servers:
                    - string
                    dns_suffix:
                    - string
                    extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    group_tags: {}
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6708
                    import_org_networks:
                    - ap
                    mist_nac:
                      enabled: true
                      network: string
                    modified_time: 0
                    name: string
                    networks:
                      property1:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                      property2:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                    ntp_servers:
                    - string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    port_usages:
                      dynamic:
                        mode: dynamic
                        reset_default_when: link_down
                        rules:
                        - equals: string
                          equals_any:
                          - string
                          expression: string
                          src: lldp_chassis_id
                          usage: string
                      property1:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_auth: dot1x
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                      property2:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        mode: access
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                    switch_mgmt:
                      config_revert_timer: 10
                      protect_re:
                        enabled: false
                      root_password: string
                      tacacs:
                        acct_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                        enabled: true
                        network: string
                        tacplus_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                    vrf_config:
                      enabled: false
                    vrf_instances:
                      property1:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
                      property2:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    additional_config_cmds:
                    - set snmp community public
                    created_time: 0
                    dhcp_snooping:
                      all_networks: true
                      enable_arp_spoof_check: true
                      enable_ip_source_guard: true
                      enabled: true
                      networks:
                      - string
                    dns_servers:
                    - string
                    dns_suffix:
                    - string
                    extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    group_tags: {}
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6708
                    import_org_networks:
                    - ap
                    mist_nac:
                      enabled: true
                      network: string
                    modified_time: 0
                    name: string
                    networks:
                      property1:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                      property2:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                    ntp_servers:
                    - string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    port_usages:
                      dynamic:
                        mode: dynamic
                        reset_default_when: link_down
                        rules:
                        - equals: string
                          equals_any:
                          - string
                          expression: string
                          src: lldp_chassis_id
                          usage: string
                      property1:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_auth: dot1x
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                      property2:
                        all_networks: false
                        allow_dhcpd: true
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_auth_protocol: pap
                        mac_limit: 0
                        mode: access
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_network: string
                        server_reject_network: null
                        speed: auto
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                    switch_mgmt:
                      config_revert_timer: 10
                      protect_re:
                        enabled: false
                      root_password: string
                      tacacs:
                        acct_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                        enabled: true
                        network: string
                        tacplus_servers:
                        - host: 198.51.100.1
                          port: '49'
                          secret: string
                          timeout: 10
                    vrf_config:
                      enabled: false
                    vrf_instances:
                      property1:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
                      property2:
                        extra_routes:
                          property1:
                            via: 198.51.100.1
                          property2:
                            via: 198.51.100.10
                        networks:
                        - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    protect_re_allowed_service:
      title: protect_re_allowed_service
      enum:
      - icmp
      - ssh
      type: string
      description: 'Services allowed through protect-RE filters. enum: `icmp`, `ssh`'
    ip_type11:
      title: ip_type11
      enum:
      - dhcp
      - static
      type: string
      description: 'IP assignment mode for in-band switch management. enum: `dhcp`, `static`.'
      examples:
      - static
    switch_bgp_config_neighbor:
      title: switch_bgp_config_neighbor
      required:
      - neighbor_as
      type: object
      properties:
        export_policy:
          type: string
          description: Export policy must match one of the policy names defined in the `routing_policies` property.
        hold_time:
          oneOf:
          - $ref: '#/components/schemas/switch_bgp_config_hold_time_zero'
          - maximum: 65535
            minimum: 3
            type: integer
            contentEncoding: int32
          description: 'BGP hold time for this neighbor. enum: `0`.'
        import_policy:
          type: string
          description: Import policy must match one of the policy names defined in the `routing_policies` property.
        multihop_ttl:
          maximum: 255
          minimum: 1
          type: integer
          description: Time-to-live value for multihop BGP sessions to this neighbor
          contentEncoding: int32
        neighbor_as:
          anyOf:
          - type: string
          - maximum: 4294967294
            minimum: 1
            type: integer
            contentEncoding: int32
          description: Autonomous System (AS) number of the BGP neighbor. For internal BGP, this must match `local_as`. For external BGP, this must differ from `local_as`.
          examples:
          - '65000'
      description: Per-neighbor switch BGP session settings
    snmp_vacm_security_to_group_content_item:
      title: snmp_vacm_security_to_group_content_item
      type: object
      properties:
        group:
          type: string
          description: VACM group name referenced by this mapping
        security_name:
          type: string
          description: Name of the SNMP security principal mapped to a VACM group
      description: VACM security-name to group mapping entry
    poe_priority3:
      title: poe_priority3
      enum:
      - low
      - high
      type: string
      description: 'Only if `mode`!=`dynamic`. PoE priority for ports using this port usage. enum: `low`, `high`.'
    radius_acct_server:
      title: radius_acct_server
      required:
      - host
      - secret
      type: object
      properties:
        host:
          type: string
          description: Address or hostname of the RADIUS accounting server
          examples:
          - 1.2.3.4
        keywrap_enabled:
          type: boolean
          description: Whether RADIUS keywrap is enabled for messages sent to this accounting server
        keywrap_format:
          allOf:
          - $ref: '#/components/schemas/radius_keywrap_format1'
          - description: 'Encoding format for RADIUS keywrap KEK and MACK values. enum: `ascii`, `hex`.'
        keywrap_kek:
          type: string
          description: RADIUS keywrap key encryption key (KEK)
          examples:
          - '1122334455'
        keywrap_mack:
          type: string
          description: RADIUS keywrap message authentication code key (MACK)
          examples:
          - '1122334455'
        port:
          anyOf:
          - maximum: 65545
            minimum: 1
            type: integer
            contentEncoding: int32
          - type: string
          description: UDP port used by the RADIUS accounting server
        secret:
          type: string
          description: Shared secret used with this RADIUS accounting server
          contentEncoding: password
          examples:
          - testing123
      description: RADIUS accounting server settings
    snmp_vacm2:
      title: snmp_vacm2
      type: object
      properties:
        access:
          type: array
          items:
            $ref: '#/components/schemas/snmp_vacm_access_item'
          description: VACM access rules for SNMPv3
        security_to_group:
          allOf:
          - $ref: '#/components/schemas/snmp_vacm_security_to_group2'
          - description: VACM security-name to group mappings
      description: SNMPv3 VACM access control configuration
    sw_routing_policy_term_matching2:
      title: sw_routing_policy_term_matching2
      type: object
      properties:
        as_path:
          type: array
          items:
            $ref: '#/components/schemas/bgp_as'
          description: AS path values that routes must match
        community:
          type: array
          items:
            type: string
          description: BGP communities that routes must match
        prefix:
          type: array
          items:
            type: string
          description: Route prefixes that routes must match
        protocol:
          type: array
          items:
            $ref: '#/components/schemas/sw_routing_policy_term_matching_protocol_enum'
          description: Routing protocols that routes must match
      description: Route match criteria that must be satisfied before actions are applied
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    switch_matching_rule_ip_config2:
      title: switch_matching_rule_ip_config2
      type: object
      properties:
        network:
          type: string
          description: VLAN Name for the management interface
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type11'
          - description: 'IP assignment mode for in-band switch management. enum: `dhcp`, `static`.'
            examples:
            - static
      description: In-band management IP configuration applied when this matching rule matches
    junos_port_config_duplex2:
      title: junos_port_config_duplex2
      enum:
      - auto
      - full
      - half
      type: string
      description: 'Link duplex mode for this Junos port. enum: `auto`, `full`, `half`.'
    config_switch_local_accounts_user_role2:
      title: config_switch_local_accounts_user_role2
      enum:
      - admin
      - helpdesk
      - none
      - read
      type: string
      description: 'Access role granted to the local switch user account. enum: `admin`, `helpdesk`, `none`, `read`.'
    remote_syslog_file_config:
      title: remote_syslog_file_config
      type: object
      properties:
        archive:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_archive1'
          - description: Retention settings for this generated syslog file
        contents:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_content'
          description: Syslog facilities and severities written to this file
        enable_tls:
          type: boolean
          description: Only if `protocol`==`tcp`, enable TLS for this syslog file destination
        explicit_priority:
          type: boolean
          description: Whether to include explicit syslog priority values in file output
        file:
          type: string
          description: Generated syslog file name
          examples:
          - file-name
        match:
          type: string
          description: Expression used to filter log messages written to this file
          examples:
          - '!alarm|ntp|errors.crc_error[chan]'
        structured_data:
          type: boolean
          description: Whether to include structured syslog data in file output
      description: Generated syslog file output settings
    remote_syslog_user:
      title: remote_syslog_user
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_content'
          description: Syslog facilities and severities logged for this user rule
        match:
          type: string
          description: Expression used to filter user log messages
          examples:
          - '"!alarm|ntp|errors.crc_error[chan]"'
        user:
          type: string
          description: Account name or wildcard matched by this syslog rule
          examples:
          - '*'
      description: User-specific syslog logging rule
    switch_port_usage_dynamic_rule_src2:
      title: switch_port_usage_dynamic_rule_src2
      enum:
      - link_peermac
      - lldp_chassis_id
      - lldp_hardware_revision
      - lldp_manufacturer_name
      - lldp_oui
      - lldp_serial_number
      - lldp_system_description
      - lldp_system_name
      - radius_dynamicfilter
      - radius_usermac
      - radius_username
      type: string
      description: 'Source attribute evaluated by this dynamic rule. enum: `link_peermac`, `lldp_chassis_id`, `lldp_hardware_revision`, `lldp_manufacturer_name`, `lldp_oui`, `lldp_serial_number`, `lldp_system_description`, `lldp_system_name`, `radius_dynamicfilter`, `radius_usermac`, `radius_username`.'
    remote_syslog_console2:
      title: remote_syslog_console2
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_content'
          description: Syslog facilities and severities forwarded from console logs
      description: Log forwarding filters for console messages sent to remote syslog
    snmp_vacm_security_model2:
      title: snmp_vacm_security_model2
      enum:
      - usm
      - v1
      - v2c
      type: string
      description: 'Required security model for these VACM group mappings. enum: `usm`, `v1`, `v2c`.'
    snmpv3_config_notify_filter_item:
      title: snmpv3_config_notify_filter_item
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
          description: CX only. List of SNMP trap group categories included in this filter profile. See https://www.juniper.net/documentation/software/topics/task/configuration/snmp-trap-groups-configuring-junos-nm.html for valid category names.
          examples:
          - - link
            - authentication
        contents:
          type: array
          items:
            $ref: '#/components/schemas/snmpv3_config_notify_filter_item_content'
          description: OID filter rules in this notification filter profile
        profile_name:
          type: string
          description: Notification filter profile name
      description: SNMPv3 notification filter profile
    remote_syslog_facility1:
      title: remote_syslog_facility1
      enum:
      - any
      - authorization
      - change-log
      - config
      - conflict-log
      - daemon
      - dfc
      - external
      - firewall
      - ftp
      - interactive-commands
      - kernel
      - ntp
      - pfe
      - security
      - user
      type: string
      description: 'Default syslog facility for messages sent to this server. enum: `any`, `authorization`, `change-log`, `config`, `conflict-log`, `daemon`, `dfc`, `external`, `firewall`, `ftp`, `interactive-commands`, `kernel`, `ntp`, `pfe`, `security`, `user`.'
      examples:
      - config
    switch_bgp_config_hold_time_zero:
      title: switch_bgp_config_hold_time_zero
      const: 0
      type: integer
      description: BGP hold time value of 0
    ospf_area_network_auth_type2:
      title: ospf_area_network_auth_type2
      enum:
      - md5
      - none
      - password
      type: string
      description: 'Authentication method used by this OSPF network. enum: `md5`, `none`, `password`.'
      examples:
      - md5
    radius_auth_server:
      title: radius_auth_server
      required:
      - host
      - secret
      type: object
      properties:
        host:
          type: string
          description: Address or hostname of the RADIUS authentication server
          examples:
          - 1.2.3.4
        keywrap_enabled:
          type: boolean
          description: Whether RADIUS keywrap is enabled for messages sent to this authentication server
        keywrap_format:
          allOf:
          - $ref: '#/components/schemas/radius_keywrap_format1'
          - description: 'Encoding format for RADIUS keywrap KEK and MACK values. enum: `ascii`, `hex`.'
        keywrap_kek:
          type: string
          description: RADIUS keywrap key encryption key (KEK)
          examples:
          - '1122334455'
        keywrap_mack:
          type: string
          description: RADIUS keywrap message authentication code key (MACK)
          examples:
          - '1122334455'
        port:
          anyOf:
          - maximum: 65545
            minimum: 1
            type: integer
            contentEncoding: int32
          - type: string
          description: UDP port used by the RADIUS authentication server
        require_message_authenticator:
          type: boolean
          description: Whether to require Message-Authenticator in requests
          default: false
        secret:
          type: string
          description: Shared secret used with this RADIUS authentication server
          contentEncoding: password
          examples:
          - testing123
      description: RADIUS authentication server settings
    snmp_config_trap_group:
      title: snmp_config_trap_group
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
          description: Trap categories included in this SNMP trap group
        group_name:
          type: string
          description: Trap group name for this SNMP trap group
          examples:
          - profiler
        targets:
          type: array
          items:
            type: string
          description: Trap target addresses for this SNMP trap group
        version:
          allOf:
          - $ref: '#/components/schemas/snmp_config_trap_version2'
          - description: 'SNMP trap protocol version used by this group. enum: `all`, `v1`, `v2`.'
      description: SNMP trap group definition
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    switch_stp_config2:
      title: switch_stp_config2
      type: object
      properties:
        bridge_priority:
          type: string
          description: Switch STP priority. Range [0, 4k, 8k.. 60k] in steps of 4k. Bridge priority applies to both VSTP and RSTP.
          default: 32k
          examples:
          - 40k
      description: Spanning Tree Protocol configuration applied when this matching rule matches
    snmpv3_config_target_param_security_model2:
      title: snmpv3_config_target_param_security_model2
      enum:
      - usm
      - v1
      - v2c
      type: string
      description: 'Required security model for this target parameter profile. enum: `usm`, `v1`, `v2c`.'
    switch_radius_config1:
      title: switch_radius_config1
      type: object
      properties:
        acct_immediate_update:
          type: boolean
          description: Whether immediate RADIUS accounting updates are sent
        acct_interim_interval:
          maximum: 65535
          minimum: 0
          type: integer
          description: How frequently should interim accounting be reported, 60-65535. default is 0 (use one specified in Access-Accept request from RADIUS Server). Very frequent messages can affect the performance of the RADIUS server, 600 and up is recommended when enabled
          contentEncoding: int32
          default: 0
        acct_servers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/radius_acct_server'
          description: RADIUS accounting servers used by this switch configuration
        auth_server_selection:
          allOf:
          - $ref: '#/components/schemas/switch_radius_config_auth_server_selection2'
          - description: 'Selection strategy for RADIUS authentication servers. enum: `ordered`, `unordered`.'
        auth_servers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/radius_auth_server'
          description: RADIUS authentication servers used by this switch configuration
        auth_servers_retries:
          type: integer
          description: RADIUS auth session retries
          contentEncoding: int32
          default: 3
        auth_servers_timeout:
          type: integer
          description: RADIUS auth session timeout
          contentEncoding: int32
          default: 5
        coa_enabled:
          type: boolean
          description: Whether RADIUS Change of Authorization (CoA) is enabled
          default: false
        coa_port:
          anyOf:
          - maximum: 65545
            minimum: 1
            type: integer
            contentEncoding: int32
          - type: string
          description: UDP port used for RADIUS Change of Authorization (CoA)
        fast_dot1x_timers:
          type: boolean
          description: Whether fast 802.1X timers are enabled for RADIUS authentication
          default: false
        network:
          type: string
          description: Use `network`or `source_ip`. Which network the RADIUS server resides, if there's static IP for this network, we'd use it as source-ip
        source_ip:
          type: string
          description: Use `network` or `source_ip`. Explicit source IP address for RADIUS traffic
      description: RADIUS configuration used when alternate RADIUS settings are required
    switch_mgmt3:
      title: switch_mgmt3
      type: object
      properties:
        ap_affinity_threshold:
          type: integer
          description: AP affinity threshold for switch management. If set in both site settings and organization settings, the site setting value is used.
          contentEncoding: int32
          default: 10
        cli_banner:
          type: string
          description: Set Banners for switches. Allows markup formatting
          examples:
          - \t\tWELCOME!
        cli_idle_timeout:
          maximum: 60
          minimum: 1
          type: integer
          description: Sets timeout for switches
          contentEncoding: int32
        config_revert_timer:
          maximum: 30
          minimum: 1
          type: integer
          description: Rollback timer for commit confirmed
          contentEncoding: int32
          default: 10
        dhcp_option_fqdn:
          type: boolean
          description: Enable to provide the FQDN with DHCP option 81
          default: false
        disable_oob_down_alarm:
          type: boolean
          description: Whether to suppress alarms when the switch out-of-band management interface is down
        fips_enabled:
          type: boolean
          description: Whether FIPS mode is enabled on the switch
          default: false
        local_accounts:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/config_switch_local_accounts_user'
          description: Local switch user accounts keyed by username
        mxedge_proxy_host:
          type: string
          description: IP address or FQDN of the Mist Edge used to proxy the switch management traffic to the Mist Cloud
        mxedge_proxy_port:
          anyOf:
          - maximum: 65535
            minimum: 1
            type: integer
            contentEncoding: int32
            default: 2222
          - type: string
          description: Mist Edge proxy port used for switch management traffic
        protect_re:
          allOf:
          - $ref: '#/components/schemas/protect_re3'
          - description: Control-plane protection settings for the switch
        radius:
          allOf:
          - $ref: '#/components/schemas/switch_radius2'
          - description: Management authentication settings using RADIUS
        remove_existing_configs:
          type: boolean
          description: By default, only the configuration generated by Mist is cleaned up during the configuration process. If `true`, all the existing configuration will be removed.
          default: false
        root_password:
          type: string
          description: Root password for local switch access
          contentEncoding: password
        tacacs:
          allOf:
          - $ref: '#/components/schemas/tacacs2'
          - description: Management authentication settings using TACACS+
        use_mxedge_proxy:
          type: boolean
          description: Whether to use Mist Edge as a proxy for switch management traffic
      description: Management-plane defaults provided by this network template
    switch_port_mirroring_property:
      title: switch_port_mirroring_property
      type: object
      properties:
        input_networks_ingress:
          type: array
          items:
            type: string
          description: At least one mirror input source should be specified. Networks whose ingress traffic is mirrored
        input_port_ids_egress:
          type: array
          items:
            type: string
          description: At least one mirror input source should be specified. Switch ports whose egress traffic is mirrored
        input_port_ids_ingress:
          type: array
          items:
            type: string
          description: At least one mirror input source should be specified. Switch ports whose ingress traffic is mirrored
        output_ip_address:
          type: string
          description: Exactly one of the `output_ip_address`, `output_port_id` or `output_network` should be provided
          examples:
          - 1.2.3.4
        output_network:
          type: string
          description: Exactly one of the `output_ip_address`, `output_port_id` or `output_network` should be provided
          examples:
          - analyze
        output_port_id:
          type: string
          description: Exactly one of the `output_ip_address`, `output_port_id` or `output_network` should be provided
          examples:
          - ge-0/0/5
      description: Input and output settings for one switch port mirroring session
    snmpv3_config_target_param_security_level2:
      title: snmpv3_config_target_param_security_level2
      enum:
      - authentication
      - none
      - privacy
      type: string
      description: 'Required security level for this target parameter profile. enum: `authentication`, `none`, `privacy`.'
    tacacs_auth_server:
      title: tacacs_auth_server
      type: object
      properties:
        host:
          type: string
          description: Address or hostname of the TACACS+ authentication server
        port:
          type: string
          description: TCP port used by the TACACS+ authentication server
        secret:
          type: string
          description: Shared secret used with this TACACS+ authentication server
          contentEncoding: password
        timeout:
          type: integer
          description: TACACS+ authentication server timeout, in seconds
          contentEncoding: int32
          default: 10
      description: TACACS+ authentication server settings
    tacacs2:
      title: tacacs2
      type: object
      properties:
        acct_servers:
          type: array
          items:
            $ref: '#/components/schemas/tacacs_acct_server'
          description: TACACS+ accounting servers used for switch management sessions
        default_role:
          allOf:
          - $ref: '#/components/schemas/tacacs_default_role2'
          - description: 'Default switch-management role to use for TACACS+ logins. enum: `admin`, `helpdesk`, `none`, `read`.'
        enabled:
          type: boolean
          description: Whether TACACS+ is enabled for switch management authentication
        network:
          type: string
          description: Source network used for connectivity to the TACACS+ servers
        tacplus_servers:
          type: array
          items:
            $ref: '#/components/schemas/tacacs_auth_server'
          description: TACACS+ authentication servers used for switch management logins
      description: Management authentication settings using TACACS+
    switch_bgp_config_type2:
      title: switch_bgp_config_type2
      enum:
      - external
      - internal
      type: string
      description: 'BGP session type for this switch BGP configuration. enum: `external`, `internal`.'
    ospf_area:
      title: ospf_area
      type: object
      properties:
        include_loopback:
          type: boolean
          description: Whether loopback interfaces are included in this OSPF area
          default: false
        networks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ospf_areas_network'
          description: OSPF network settings keyed by network name
          examples:
          - corp:
              auth_keys:
                '1': auth-key-1
              auth_type: md5
              bfd_minimum_interval: 500
              dead_interval: 40
              hello_interval: 10
              interface_type: nbma
              metric: 10000
            guest:
              passive: true
        type:
          allOf:
          - $ref: '#/components/schemas/ospf_area_type2'
          - description: 'Area type for this OSPF area. enum: `default`, `nssa`, `stub`.'
            examples:
            - default
      description: Property key is the OSPF Area (Area should be a number (0-255) / IP address)
    tacacs_default_role2:
      title: tacacs_default_role2
      enum:
      - admin
      - helpdesk
      - none
      - read
      type: string
      description: 'Default switch-management role to use for TACACS+ logins. enum: `admin`, `helpdesk`, `none`, `read`.'
    remote_syslog_server:
      title: remote_syslog_server
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_content'
          description: Syslog facilities and severities sent to this server
        explicit_priority:
          type: boolean
          description: Whether to include explicit syslog priority values in messages sent to this server
        facility:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_facility1'
          - description: 'Default syslog facility for messages sent to this server. enum: `any`, `authorization`, `change-log`, `config`, `conflict-log`, `daemon`, `dfc`, `external`, `firewall`, `ftp`, `interactive-commands`, `kernel`, `ntp`, `pfe`, `security`, `user`.'
            examples:
            - config
        host:
          type: string
          description: Address or hostname of the remote syslog server
          examples:
          - syslogd.internal
        match:
          type: string
          description: Expression used to filter log messages sent to this server
          examples:
          - '!alarm|ntp|errors.crc_error[chan]'
        port:
          anyOf:
          - maximum: 65545
            minimum: 1
            type: integer
            contentEncoding: int32
            default: 514
          - type: string
          description: Network port used by the remote syslog server
        protocol:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_server_protocol2'
          - description: 'Transport protocol used for this remote syslog server. enum: `tcp`, `udp`.'
        routing_instance:
          type: string
          description: Routing instance used to reach this remote syslog server
          examples:
          - routing-instance-name
        server_name:
          type: string
          description: TLS server name used when verifying the remote syslog server certificate
          examples:
          - syslogd.internal
        severity:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_severity1'
          - description: 'Default syslog severity for messages sent to this server. enum: `alert`, `any`, `critical`, `emergency`, `error`, `info`, `notice`, `warning`.'
        source_address:
          type: string
          description: Source address for syslog traffic. If configured, Mist uses the VLAN first; otherwise it uses `source_ip`
        structured_data:
          type: boolean
          description: Whether to include structured syslog data in messages sent to this server
        tag:
          type: string
          description: Syslog tag value added to messages sent to this server
      description: Remote syslog server destination settings
    sw_routing_policy_term_action2:
      title: sw_routing_policy_term_action2
      type: object
      properties:
        accept:
          type: boolean
          description: Whether to accept routes that match this term
        community:
          type: array
          items:
            type: string
          description: BGP communities to set when this term is used as an export policy
        local_preference:
          anyOf:
          - type: string
          - maximum: 4294967295
            minimum: 1
            type: integer
            contentEncoding: int32
          description: Preference value to set when this term is used as an import policy
        prepend_as_path:
          type: array
          items:
            type: string
          description: AS path values to prepend when this term is used as an export policy
      description: Policy actions applied when this routing policy term matches
    snmp_config_v2c_config:
      title: snmp_config_v2c_config
      type: object
      properties:
        authorization:
          type: string
          description: Access level for the SNMPv2c community
          examples:
          - read-only
        client_list_name:
          type: string
          description: SNMP client list name referenced by this community
          examples:
          - clist-1
        community_name:
          type: string
          description: SNMPv2c community string name
          examples:
          - abc123
        view:
          type: string
          description: SNMP view name that must be defined in the views list
          examples:
          - all
      description: SNMPv2c community configuration entry
    allow_deny4:
      title: allow_deny4
      enum:
      - allow
      - deny
      type: string
      description: Allow or deny decision applied to traffic matching the destination tag
    switch_network_multicast_igmp_version:
      title: switch_network_multicast_igmp_version
      enum:
      - '2'
      - '3'
      type: string
      description: IGMP version. '2' (default, ASM/IGMPv2) / '3' (SSM/IGMPv3)
    switch_vrf_instance:
      title: switch_vrf_instance
      type: object
      properties:
        aggregate_routes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/aggregate_route'
          description: IPv4 aggregate routes configured for this VRF instance
          examples:
          - 172.16.3.0/24:
              discard: false
              metric: null
              preference: 30
        aggregate_routes6:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/aggregate_route'
          description: IPv6 aggregate routes configured for this VRF instance
          examples:
          - 2a02:1234:420a:10c9::/64:
              discard: false
              metric: null
              preference: 30
        evpn_auto_loopback_subnet:
          type: string
          description: IPv4 subnet used for automatic EVPN loopback addresses in this VRF instance
          examples:
          - 100.101.0.0/24
        evpn_auto_loopback_subnet6:
          type: string
          description: IPv6 subnet used for automatic EVPN loopback addresses in this VRF instance
        extra_routes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/vrf_extra_route'
          description: Additional IPv4 static routes configured for this VRF instance
          examples:
          - 0.0.0.0/0:
              via: 192.168.1.10
        extra_routes6:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/vrf_extra_route6'
          description: Additional IPv6 static routes configured for this VRF instance
          examples:
          - 2a02:1234:420a:10c9::/64:
              via: 2a02:1234:200a::100
        multicast_config:
          allOf:
          - $ref: '#/components/schemas/switch_multicast_config3'
          - description: Multicast configuration for this VRF instance. PIM is automatically enabled when any network in this VRF has `multicast.enabled`==`true`
        networks:
          uniqueItems: true
          type: array
          items:
            type: string
          description: Names of switch networks included in this VRF instance
      description: Switch VRF instance routing and network membership settings
      examples:
      - extra_routes:
          0.0.0.0/0:
            via: 192.168.31.1
        networks:
        - guest
    acl_policy_action:
      title: acl_policy_action
      required:
      - dst_tag
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/allow_deny4'
          - description: Allow or deny decision applied to traffic matching the destination tag
        dst_tag:
          type: string
          description: Destination ACL tag matched by this policy action
          examples:
          - corp
      description: Action applied to traffic that matches a destination ACL tag
    switch_port_usage_mac_auth_protocol2:
      title: switch_port_usage_mac_auth_protocol2
      enum:
      - eap-md5
      - eap-peap
      - pap
      type: string
      description: 'Only if `mode`!=`dynamic` and `enable_mac_auth`==`true`. MAC authentication protocol to use; ignored if Mist NAC is enabled. enum: `eap-md5`, `eap-peap`, `pap`.'
    remote_syslog_severity3:
      title: remote_syslog_severity3
      enum:
      - alert
      - any
      - critical
      - emergency
      - error
      - info
      - notice
      - warning
      type: string
      description: 'Syslog severity to match for this selector. enum: `alert`, `any`, `critical`, `emergency`, `error`, `info`, `notice`, `warning`.'
    snmp_config_engine_id_type2:
      title: snmp_config_engine_id_type2
      enum:
      - local
      - use_mac_address
      type: string
      description: 'Method used to derive the SNMP engine ID. enum: `local`, `use_mac_address`.'
    vrf_config5:
      title: vrf_config5
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether to enable VRF (when supported on the device)
      description: VRF defaults applied by this network template
    snmp_vacm_security_to_group2:
      title: snmp_vacm_security_to_group2
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/snmp_vacm_security_to_group_content_item'
          description: VACM security-name to group mapping entries
        security_model:
          allOf:
          - $ref: '#/components/schemas/snmp_vacm_security_model2'
          - description: 'Required security model for these VACM group mappings. enum: `usm`, `v1`, `v2c`.'
      description: VACM security-name to group mappings
    snmpv3_config_notify_items:
      title: snmpv3_config_notify_items
      type: object
      properties:
        name:
          type: string
          description: Identifier for this SNMPv3 notification definition
        tag:
          type: string
          description: Notification tag used to select target addresses
        type:
          allOf:
          - $ref: '#/components/schemas/snmpv3_config_notify_type2'
          - description: Delivery mode for this SNMPv3 notification, such as trap or inform
      description: SNMPv3 notification definition for traps or informs
    network_template:
      title: network_template
      type: object
      properties:
        acl_policies:
          type: array
          items:
            $ref: '#/components/schemas/acl_policy'
          description: ACL policy defaults provided by this network template
        acl_tags:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/acl_tag'
          description: ACL tags available to access policies in this network template
        additional_config_cmds:
          type: array
          items:
            type: string
          description: Additional CLI configuration commands provided by this network template
        bgp_config:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/switch_bgp_config'
          description: BGP routing defaults for this network template. Property key is the BGP session name
        created_time:
          type: number
          description: Timestamp when the network template was created
          readOnly: true
        dhcp_snooping:
          allOf:
          - $ref: '#/components/schemas/dhcp_snooping3'
          - description: DHCP snooping defaults provided by this network template
        dns_servers:
          type: array
          items:
            type: string
          description: DNS servers provided by this network template
        dns_suffix:
          type: array
          items:
            type: string
          description: DNS search suffixes provided by this network template
        extra_routes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/extra_route'
          description: Additional IPv4 route defaults in this network template
          examples:
          - 0.0.0.0/0:
              via: 192.168.1.10
        extra_routes6:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/extra_route6'
          description: Additional IPv6 route defaults in this network template
          examples:
          - 2a02:1234:420a:10c9::/64:
              via: 2a02:1234:200a::100
        id:
          type: string
          description: Unique identifier of the network template
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        import_org_networks:
          type: array
          items:
            type: string
          description: Organization network names imported into this network template
        mist_nac:
          allOf:
          - $ref: '#/components/schemas/switch_mist_nac2'
          - description: Mist NAC defaults applied by this network template
        modified_time:
          type: number
          description: Timestamp when the network template was last modified
          readOnly: true
        multicast_config:
          allOf:
          - $ref: '#/components/schemas/switch_multicast_config1'
          - description: Multicast settings for networks in the master VRF (not assigned to any vrf_instances); PIM is automatically enabled when any master-VRF network has `multicast.enabled`==`true`
        name:
          type: string
          description: Display name of the network template
        networks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/switch_network'
          description: Layer 3 networks configured by this network template
        ntp_servers:
          type: array
          items:
            type: string
          description: NTP servers provided by this network template
        org_id:
          type: string
          description: Organization that owns this network template
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        ospf_areas:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ospf_area'
          description: OSPF area defaults provided by this network template
        port_mirroring:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/switch_port_mirroring_property'
          description: Port mirroring defaults provided by this network template
        port_usages:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/switch_port_usage'
          description: Reusable switch port usage profiles provided by this network template
        radius_config:
          allOf:
          - $ref: '#/components/schemas/switch_radius_config3'
          - description: RADIUS authentication and accounting defaults in this network template
        remote_syslog:
          allOf:
          - $ref: '#/components/schemas/remote_syslog2'
          - description: Remote syslog defaults provided by this network template
        remove_existing_configs:
          type: boolean
          description: By default, only the configuration generated by Mist is cleaned up during the configuration process. If `true`, all the existing configuration will be removed.
          default: false
        routing_policies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/sw_routing_policy'
          description: Routing policy defaults applied by this network template
        snmp_config:
          allOf:
          - $ref: '#/components/schemas/snmp_config2'
          - description: SNMP defaults provided by this network template
        switch_matching:
          allOf:
          - $ref: '#/components/schemas/switch_matching3'
          - description: Matching rules that select switches for this network template
        switch_mgmt:
          allOf:
          - $ref: '#/components/schemas/switch_mgmt3'
          - description: Management-plane defaults provided by this network template
        vrf_config:
          allOf:
          - $ref: '#/components/schemas/vrf_config5'
          - description: VRF defaults applied by this network template
        vrf_instances:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/switch_vrf_instance'
          description: VRF instances configured by this network template
          examples:
          - guest:
              extra_routes:
                0.0.0.0/0:
                  via: 192.168.31.1
              networks:
              - guest
      description: Network template configuration applied to sites or site groups
    switch_radius_config3:
      title: switch_radius_config3
      type: object
      properties:
        acct_immediate_update:
          type: boolean
          description: Whether immediate RADIUS accounting updates are sent
        acct_interim_interval:
          maximum: 65535
          minimum: 0
          type: integer
          description: How frequently should interim accounting be reported, 60-65535. default is 0 (use one specified in Access-Accept request from RADIUS Server). Very frequent messages can affect the performance of the RADIUS server, 600 and up is recommended when enabled
          contentEncoding: int32
          default: 0
        acct_servers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/radius_acct_server'
          description: RADIUS accounting servers used by this switch configuration
        auth_server_selection:
          allOf:
          - $ref: '#/components/schemas/switch_radius_config_auth_server_selection2'
          - description: 'Selection strategy for RADIUS authentication servers. enum: `ordered`, `unordered`.'
        auth_servers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/radius_auth_server'
          description: RADIUS authentication servers used by this switch configuration
        auth_servers_retries:
          type: integer
          description: RADIUS auth session retries
          contentEncoding: int32
          default: 3
        auth_servers_timeout:
          type: integer
          description: RADIUS auth session timeout
          contentEncoding: int32
          default: 5
        coa_enabled:
          type: boolean
          description: Whether RADIUS Change of Authorization (CoA) is enabled
          default: false
        coa_port:
          anyOf:
          - maximum: 65545
            minimum: 1
            type: integer
            contentEncoding: int32
          - type: string
          description: UDP port used for RADIUS Change of Authorization (CoA)
        fast_dot1x_timers:
          type: boolean
          description: Whether fast 802.1X timers are enabled for RADIUS authentication
          default: false
        network:
          type: string
          description: Use `network`or `source_ip`. Which network the RADIUS server resides, if there's static IP for this network, we'd use it as source-ip
        source_ip:
          type: string
          description: Use `network` or `source_ip`. Explicit source IP address for RADIUS traffic
      description: RADIUS authentication and accounting defaults in this network template
    ospf_areas_network:
      title: ospf_areas_network
      type: object
      properties:
        auth_keys:
          type: object
          additionalProperties:
            type: string
          description: Required if `auth_type`==`md5`. Property key is the key number
          examples:
          - '1': auth-key-1
        auth_password:
          type: string
          description: Required if `auth_type`==`password`, the password, max length is 8
          examples:
          - simple
        auth_type:
          allOf:
          - $ref: '#/components/schemas/ospf_area_network_auth_type2'
          - description: 'Authentication method used by this OSPF network. enum: `md5`, `none`, `password`.'
            examples:
            - md5
        bfd_minimum_interval:
          maximum: 255000
          minimum: 1
          type: integer
          description: Minimum BFD interval for this OSPF network, in milliseconds
          contentEncoding: int32
          examples:
          - 500
        dead_interval:
          maximum: 65535
          minimum: 1
          type: integer
          description: OSPF dead interval for this network, in seconds
          contentEncoding: int32
          examples:
          - 40
        export_policy:
          type: string
          description: Routing policy used to export routes from this OSPF network
          examples:
          - export_policy
        hello_interval:
          maximum: 255
          minimum: 1
          type: integer
          description: OSPF hello interval for this network, in seconds
          contentEncoding: int32
        import_policy:
          type: string
          description: Routing policy used to import routes for this OSPF network
          examples:
          - import_policy
        interface_type:
          allOf:
          - $ref: '#/components/schemas/ospf_area_network_interface_type2'
          - description: 'OSPF interface type used for this network. enum: `broadcast`, `nbma`, `p2mp`, `p2p`.'
        metric:
          maximum: 65535
          minimum: 1
          type:
          - integer
          - 'null'
          description: OSPF metric assigned to this network
          contentEncoding: int32
          examples:
          - 10000
        no_readvertise_to_overlay:
          type: boolean
          description: By default, we'll re-advertise all learned OSPF routes toward overlay
          default: false
        passive:
          type: boolean
          description: Whether to send OSPF-Hello
          default: false
      description: Property key is the network name. Networks to participate in an OSPF area
    sw_routing_policy:
      title: sw_routing_policy
      type: object
      properties:
        terms:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/sw_routing_policy_term'
          description: Ordered terms evaluated by this switch routing policy
      description: Switch routing policy made of ordered match-action terms
    extra_route6:
      title: extra_route6
      type: object
      properties:
        discard:
          type: boolean
          description: Whether to install a discard route; this takes precedence over next-hop settings
          default: false
        metric:
          maximum: 2147483647
          minimum: 0
          type:
          - integer
          - 'null'
          description: Route metric for the IPv6 static route
          contentEncoding: int32
        next_qualified:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/extra_route6_next_qualified_properties'
          description: Qualified next-hop settings keyed by IPv6 next-hop address
          examples:
          - 2a02:1234:200a::100:
              metric: null
              preference: 40
        no_resolve:
          type: boolean
          description: Whether to prevent recursive next-hop resolution for the IPv6 static route
          default: false
        preference:
          maximum: 2147483647
          minimum: 0
          type:
          - integer
          - 'null'
          description: Route preference for the IPv6 static route
          contentEncoding: int32
          examples:
          - 30
        via:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: Next-hop IPv6 address or ECMP next-hop IPv6 addresses for the route
          examples:
          - 10.2.1.1
          - "[\n  \"10.2.1.1\",\n  \"10.2.1.2\"\n]"
      description: IPv6 static route settings for a destination prefix
    snmp_usm_user_encryption_type2:
      title: snmp_usm_user_encryption_type2
      enum:
      - privacy-3des
      - privacy-aes128
      - privacy-des
      - privacy-none
      type: string
      description: 'Privacy protocol used by this SNMPv3 USM user. enum: `privacy-3des`, `privacy-aes128`, `privacy-des`, `privacy-none`.'
    remote_syslog_time_format2:
      title: remote_syslog_time_format2
      enum:
      - millisecond
      - year
      - year millisecond
      type: string
      description: 'Timestamp format used in forwarded syslog messages. enum: `millisecond`, `year`, `year millisecond`.'
      examples:
      - millisecond
    switch_multicast_config1:
      title: switch_multicast_config1
      type: object
      properties:
        anycast_rp:
          type: boolean
          description: When `true`, auto-generates a shared RP on `is_l3_border` devices (ERB/IPClos topologies only)
          default: false
        rp_ip:
          type: string
          description: RP address used when `anycast_rp`==`false`. If the address matches a device SVI, it is configured as a local RP; otherwise a static RP is configured
          examples:
          - 10.2.1.10
        sbd_subnet:
          type: string
          description: SBD IRB subnet; Mist auto-assigns per-device IPs from this range (EVPN eOISM only)
          examples:
          - 10.99.0.0/24
        sbd_vlan_id:
          type: integer
          description: Supplemental Bridge Domain VLAN ID (EVPN topology / eOISM only)
          contentEncoding: int32
          examples:
          - 3900
      description: Multicast settings for networks in the master VRF (not assigned to any vrf_instances); PIM is automatically enabled when any master-VRF network has `multicast.enabled`==`true`
    switch_network_multicast2:
      title: switch_network_multicast2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether to enable IGMP snooping on this VLAN
          default: false
        igmp_version:
          allOf:
          - $ref: '#/components/schemas/switch_network_multicast_igmp_version'
          - description: IGMP version. '2' (default, ASM/IGMPv2) / '3' (SSM/IGMPv3)
      description: Multicast (IGMP snooping) settings for this VLAN
    extra_route6_next_qualified_properties:
      title: extra_route6_next_qualified_properties
      type: object
      properties:
        metric:
          type:
          - integer
          - 'null'
          description: Route metric for this qualified IPv6 next hop
          contentEncoding: int32
        preference:
          type:
          - integer
          - 'null'
          description: Route preference for this qualified IPv6 next hop
          contentEncoding: int32
      description: Qualified next-hop attributes for an IPv6 static route
    switch_matching_rule_oob_ip_config2:
      title: switch_matching_rule_oob_ip_config2
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type12'
          - description: 'IP assignment mode for out-of-band switch management. enum: `dhcp`, `static`.'
            examples:
            - static
        use_mgmt_vrf:
          type: boolean
          description: If supported on the platform. If enabled, DNS will be using this routing-instance, too
          default: false
        use_mgmt_vrf_for_host_out:
          type: boolean
          description: For host-out traffic (NTP/TACPLUS/RADIUS/SYSLOG/SNMP), if alternative source network/ip is desired
          default: false
      description: Out-of-band management IP configuration applied when this matching rule matches
    vrf_extra_route6:
      title: vrf_extra_route6
      type: object
      properties:
        via:
          type: string
          description: IPv6 next-hop address for this VRF extra route
          contentEncoding: ipv6
      description: Additional IPv6 static route for a VRF instance
    protect_re_custom:
      title: protect_re_custom
      type: object
      properties:
        port_range:
          type: string
          description: Matched dst port, "0" means any
          default: '0'
          examples:
          - 80,1035-1040
        protocol:
          allOf:
          - $ref: '#/components/schemas/protect_re_custom_protocol2'
          - description: 'Transport protocol matched by this custom Protect RE ACL. enum: `any`, `icmp`, `tcp`, `udp`.'
        subnets:
          type: array
          items:
            type: string
          description: Source subnets matched by this custom Protect RE ACL
      description: Custom Protect RE ACL entry
    remote_syslog_archive3:
      title: remote_syslog_archive3
      type: object
      properties:
        files:
          anyOf:
          - type: string
          - type: integer
            contentEncoding: int32
          description: Number of archived syslog files to retain
          examples:
          - '20'
        size:
          type: string
          description: Maximum size of each archived syslog file, such as 5m
          examples:
          - 5m
      description: Retention settings for generated syslog archive files
    switch_port_usage_mode2:
      title: switch_port_usage_mode2
      enum:
      - access
      - dynamic
      - inet
      - trunk
      type: string
      description: 'Switching mode for this port usage. enum: `access`, `dynamic`, `inet`, `trunk`.'
    switch_network:
      title: switch_network
      required:
      - vlan_id
      type: object
      properties:
        gateway:
          type: string
          description: Only required for EVPN-VXLAN networks, IPv4 Virtual Gateway
        gateway6:
          type: string
          description: Only required for EVPN-VXLAN networks, IPv6 Virtual Gateway
        isolation:
          type: boolean
          description: 'whether to stop clients to talk to each other, default is false (when enabled, a unique isolation_vlan_id is required). NOTE: this features requires uplink device to also a be Juniper device and `inter_switch_link` to be set. See also `inter_isolation_network_link` and `community_vlan_id` in port_usage'
          default: false
        isolation_vlan_id:
          type: string
          description: Required when `isolation`==`true`. Unique VLAN ID used for client isolation
          examples:
          - '3070'
        multicast:
          allOf:
          - $ref: '#/components/schemas/switch_network_multicast2'
          - description: Multicast (IGMP snooping) settings for this VLAN
        subnet:
          type: string
          description: Optional for pure switching, required when L3 / routing features are used
        subnet6:
          type: string
          description: Optional for pure switching, required when L3 / routing features are used
        vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
          description: VLAN identifier for this switch network
      description: A network represents a network segment. It can either represent a VLAN (then usually ties to a L3 subnet), optionally associate it with a subnet which can later be used to create addition routes. Used for ports doing `family ethernet-switching`. It can also be a pure L3-subnet that can then be used against a port that with `family inet`.
    snmp_vacm_access_item_prefix_list_item:
      title: snmp_vacm_access_item_prefix_list_item
      type: object
      properties:
        context_prefix:
          type: string
          description: Context prefix for this VACM access rule. Required only if `type`==`context_prefix`
          examples:
          - iil
        notify_view:
          type: string
          description: Notify view name referenced by this VACM access rule
          examples:
          - all
        read_view:
          type: string
          description: Read view name referenced by this VACM access rule
          examples:
          - all
        security_level:
          allOf:
          - $ref: '#/components/schemas/snmp_vacm_access_item_prefix_list_item_level2'
          - description: 'Required security level for this VACM access rule. enum: `authentication`, `none`, `privacy`.'
        security_model:
          allOf:
          - $ref: '#/components/schemas/snmp_vacm_access_item_prefix_list_item_model2'
          - description: 'Required security model for this VACM access rule. enum: `any`, `usm`, `v1`, `v2c`.'
        type:
          allOf:
          - $ref: '#/components/schemas/snmp_vacm_access_item_type2'
          - description: 'VACM context matching type for this access rule. enum: `context_prefix`, `default_context_prefix`.'
        write_view:
          type: string
          description: Write view name referenced by this VACM access rule
          examples:
          - all
      description: Context prefix rule for a VACM access entry
    snmp_vacm_access_item_prefix_list_item_model2:
      title: snmp_vacm_access_item_prefix_list_item_model2
      enum:
      - any
      - usm
      - v1
      - v2c
      type: string
      description: 'Required security model for this VACM access rule. enum: `any`, `usm`, `v1`, `v2c`.'
    config_switch_local_accounts_user:
      title: config_switch_local_accounts_user
      type: object
      properties:
        password:
          type: string
          description: Local password for the switch user account
          contentEncoding: password
          examples:
          - Juniper123
        role:
          allOf:
          - $ref: '#/components/schemas/config_switch_local_accounts_user_role2'
          - description: 'Access role granted to the local switch user account. enum: `admin`, `helpdesk`, `none`, `read`.'
      description: Local switch user account credentials and access role
    snmpv3_config_notify_type2:
      title: snmpv3_config_notify_type2
      enum:
      - inform
      - trap
      type: string
      description: Delivery mode for this SNMPv3 notification, such as trap or inform
    acl_tag:
      title: acl_tag
      required:
      - type
      type: object
      properties:
        ether_types:
          type: array
          items:
            type: string
          description: Layer 2 EtherTypes matched by this ACL tag; defaults to `any`
          default:
          - any
        gbp_tag:
          type: integer
          description: "Required if\n  - `type`==`dynamic_gbp` (gbp_tag received from RADIUS)\n  - `type`==`gbp_resource`\n  - `type`==`static_gbp` (applying gbp tag against matching conditions)"
          contentEncoding: int32
        macs:
          type: array
          items:
            type: string
          description: Client or resource MAC addresses matched by this ACL tag
        network:
          type: string
          description: "If:\n  * `type`==`mac` (optional. default is `any`)\n  * `type`==`subnet` (optional. default is `any`)\n  * `type`==`network`\n  * `type`==`resource` (optional. default is `any`)\n  * `type`==`static_gbp` if from matching network (vlan)"
        port_usage:
          type: string
          description: Required if `type`==`port_usage`. Switch port usage name matched by this ACL tag
        radius_group:
          type: string
          description: "Required if:\n  * `type`==`radius_group`\n  * `type`==`aruba_user_role`\n  * `type`==`static_gbp`\nif from matching radius_group"
        specs:
          type: array
          items:
            $ref: '#/components/schemas/acl_tag_spec'
          description: Layer 4 protocol and destination-port constraints for this ACL tag
        subnets:
          type: array
          items:
            type: string
          description: IP subnets matched by this ACL tag
        type:
          allOf:
          - $ref: '#/components/schemas/acl_tag_type2'
          - description: 'Classifier type that determines which ACL tag fields are evaluated. enum: `any`, `aruba_user_role`, `dynamic_gbp`, `gbp_resource`, `mac`, `network`, `port_usage`, `radius_group`, `resource`, `static_gbp`, `subnet`.'
      description: Resource tags (`type`==`resource` or `type`==`gbp_resource`) can only be used in `dst_tags`
    switch_multicast_config3:
      title: switch_multicast_config3
      type: object
      properties:
        anycast_rp:
          type: boolean
          description: When `true`, auto-generates a shared RP on `is_l3_border` devices (ERB/IPClos topologies only)
          default: false
        rp_ip:
          type: string
          description: RP address used when `anycast_rp`==`false`. If the address matches a device SVI, it is configured as a local RP; otherwise a static RP is configured
          examples:
          - 10.2.1.10
        sbd_subnet:
          type: string
          description: SBD IRB subnet; Mist auto-assigns per-device IPs from this range (EVPN eOISM only)
          examples:
          - 10.99.0.0/24
        sbd_vlan_id:
          type: integer
          description: Supplemental Bridge Domain VLAN ID (EVPN topology / eOISM only)
          contentEncoding: int32
          examples:
          - 3900
      description: Multicast configuration for this VRF instance. PIM is automatically enabled when any network in this VRF has `multicast.enabled`==`true`
    snmpv3_config_target_param:
      title: snmpv3_config_target_param
      type: object
      properties:
        message_processing_model:
          allOf:
          - $ref: '#/components/schemas/snmpv3_config_target_param_mess_process_model2'
          - description: 'SNMP message processing model used by this target parameter profile. enum: `v1`, `v2c`, `v3`.'
        name:
          type: string
          description: Target parameter profile name
        notify_filter:
          type: string
          description: Notification filter profile referenced by this target parameter profile
        security_level:
          allOf:
          - $ref: '#/components/schemas/snmpv3_config_target_param_security_level2'
          - description: 'Required security level for this target parameter profile. enum: `authentication`, `none`, `privacy`.'
        security_model:
          allOf:
          - $ref: '#/components/schemas/snmpv3_config_target_param_security_model2'
          - description: 'Required security model for this target parameter profile. enum: `usm`, `v1`, `v2c`.'
        security_name:
          type: string
          description: USM security name referenced by this target parameter profile
          examples:
          - m01620
      description: SNMPv3 target parameter profile
    tacacs_acct_server:
      title: tacacs_acct_server
      type: object
      properties:
        host:
          type: string
          description: Address or hostname of the TACACS+ accounting server
        port:
          type: string
          description: TCP port used by the TACACS+ accounting server
        secret:
          type: string
          description: Shared secret used with this TACACS+ accounting server
          contentEncoding: password
        timeout:
          type: integer
          description: TACACS+ accounting server timeout, in seconds
          contentEncoding: int32
          default: 10
      description: TACACS+ accounting server settings
    switch_port_usage:
      title: switch_port_usage
      type: object
      properties:
        all_networks:
          type: boolean
          description: Only if `mode`==`trunk`. Whether to trunk all network/vlans
          default: false
        allow_dhcpd:
          type: boolean
          description: 'Only applies when `mode`!=`dynamic`. Controls whether DHCP server traffic is allowed on ports using this configuration if DHCP snooping is enabled. This is a tri-state setting; `true`: ports become trusted ports allowing DHCP server traffic, `false`: ports become untrusted blocking DHCP server traffic, undefined: use system defaults (access ports default to untrusted, trunk ports default to trusted).'
        allow_multiple_supplicants:
          type: boolean
          description: Only if `mode`!=`dynamic`
          default: false
        bypass_auth_when_server_down:
          type: boolean
          description: Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Bypass auth for known clients if set to true when RADIUS server is down
          default: false
        bypass_auth_when_server_down_for_unknown_client:
          type: boolean
          description: Only if `mode`!=`dynamic` and `port_auth`=`dot1x`. Bypass auth for all (including unknown clients) if set to true when RADIUS server is down
          default: false
        bypass_auth_when_server_down_for_voip:
          type: boolean
          description: Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Bypass auth for VOIP if set to true when RADIUS server is down
          default: false
        community_vlan_id:
          type: integer
          description: Only if `mode`!=`dynamic`. To be used together with `isolation` under networks. Signaling that this port connects to the networks isolated but wired clients belong to the same community can talk to each other
          contentEncoding: int32
        description:
          type: string
[...]
