openapi: 3.2.0
info:
  title: Mist Utilities PCAPs API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Utilities PCAPs
  description: API Calls to start, stop or managed Packet Captures at the device level
paths:
  /api/v1/orgs/{org_id}/pcaps:
    parameters: []
    get:
      tags:
      - Utilities PCAPs
      summary: listOrgPacketCaptures
      description: List organization packet capture sessions and generated capture files for the selected time range.
      operationId: listOrgPacketCaptures
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_search'
                - description: Paginated response for packet capture search results
                  examples:
                  - end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_search'
                - description: Paginated response for packet capture search results
                  examples:
                  - end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/pcaps/capture:
    parameters: []
    delete:
      tags:
      - Utilities PCAPs
      summary: stopOrgPacketCapture
      description: Stop the currently running organization packet capture and end its websocket output stream.
      operationId: stopOrgPacketCapture
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Utilities PCAPs
      summary: getOrgCapturingStatus
      description: Retrieve the current organization packet capture status, including active capture targets and progress.
      operationId: getOrgCapturingStatus
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_status'
                - description: Current status of a packet capture session
                  examples:
                  - aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_status'
                - description: Current status of a packet capture session
                  examples:
                  - aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Utilities PCAPs
      summary: startOrgPacketCapture
      description: 'Start an organization-level packet capture for org-level Mist Edges


        **NOTE**: For packet captures of org level Mist Edges only. Use Start Site Packet Capture for site level Mist Edges.


        The output will be available through websocket. As there can be multiple commands issued against the same AP at the same time and the output all goes through the same websocket stream, session is introduced for demux.


        #### Subscribe to Device Command outputs

        `WS /api-ws/v1/stream`


        ```json

        {

        "subscribe": "/orgs/:org_id/pcaps"

        }

        ```

        #### Response (MxEdge)

        ```json

        {

        "event": "data"

        "channel": "/orgs/67970e46-4e12-11e6-9188-0242ac110007/pcaps"

        "data": {

        "capture_id": "f039b1b4-a23e-48b2-906a-0da40524de73",

        "pcap_dict": {

        "dst_mac": "68:ec:c5:09:2e:87",

        "src_mac": "8c:3b:ad:e0:47:40",

        "vlan": 1,

        "src_ip": "34.224.147.117",

        "dst_ip": "192.168.1.55",

        "dst_port": 51635,

        "src_port": 443,

        "protocol": "TCP",

        "mxedge_id": "00000000-0000-0000-1000-001122334455",

        "direction": "tx",

        "timestamp": 1652247615,

        "length": 159.0,

        "lost_messages": 0,

        "interface": "port0",

        "info": "1652247616.007409 IP ec2-34-224-147-117.compute-1.amazonaws.com.https > ip-192-168-1-55.ec2.internal.51635: Flags [P.], seq \n 2192123968:2192124057, ack 4035166782, win 12, options [nop,nop,TS val 597467050 ecr 740580660], length 89\\n",

        },

        "pcap_raw": "1MOyoQIABAAAAAAAAAAAAP//AAABAAAAQEx7YhMzAACfAAAAnwAAAGjsxQkuh4w7reBHQIEAAAEIAEUAAI1bLEAAKAZ/CiLgk3XAqAE3AbvJs4KpKEDwg8I+gBgADFf9AAABAQgKI5yfqiwkXTQXAwMAVKY5JopoKQrVEn0/3ld4YntctGEH/rTZuwtCvzSncFw71QJveJi9uxHs57KC8w9Apph3YvXJrmWg7M37+o+YV0KH/xmr626s5Bkhb3QhKOu+NoNEmA=="

        }

        }

        ```

        #### Stop Response

        ```json

        {

        "event": "data"

        "channel": "/orgs/67970e46-4e12-11e6-9188-0242ac110007/pcaps"

        "data": {

        "capture_id": "a2f7374d-6a70-41fd-8a3f-71e42573baaf",

        "pcap_dict": null

        }

        }

        ```'
      operationId: startOrgPacketCapture
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/capture_org'
              - description: Request Body
                examples:
                - duration: 600
                  format: stream
                  max_pkt_len: 1500
                  mxedges:
                    00000000-0000-0000-1000-001122334455:
                      interfaces:
                        port1:
                          tcpdump_expression: udp port 67 or udp port 68
                  num_packets: 100
                  type: mxedge
              contentMediaType: application/json
            examples:
              MxEdge-Packet-Capture:
                value:
                  duration: 600
                  format: stream
                  max_pkt_len: 1500
                  mxedges:
                    00000000-0000-0000-1000-001122334455:
                      interfaces:
                        port1:
                          tcpdump_expression: udp port 67 or udp port 68
                  num_packets: 100
                  type: mxedge
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_start'
                - description: Packet capture session created by a start request
                  examples:
                  - ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_start'
                - description: Packet capture session created by a start request
                  examples:
                  - ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/pcaps:
    parameters: []
    get:
      tags:
      - Utilities PCAPs
      summary: listSitePacketCaptures
      description: List packet captures for a site, optionally filtered by client MAC address and time range. Use List Org Packet Captures to retrieve packet captures across the organization.
      operationId: listSitePacketCaptures
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: client_mac
        in: query
        description: Optional client mac filter
        style: form
        explode: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_search'
                - description: Paginated response for packet capture search results
                  examples:
                  - end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_search'
                - description: Paginated response for packet capture search results
                  examples:
                  - end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1461089816
                    limit: 100
                    next: /api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816
                    results:
                    - ap_macs:
                      - 5c5b35000010
                      timestamp: 1461869041
                      type: new_assoc
                      url: https://...
                    - duration: 9999
                      format: stream
                      id: 80cec4c9-322c-4712-95ce-6ba47fb54fc0
                      last_seen: 1693482149.417
                      mxedges:
                      - 00000000-0000-0000-1000-001122334455
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      pcap_url: https://...
                      site_id: null
                      termination_reason: default
                      timestamp: 1693525333.234066
                      type: mxedge
                      url: https://...
                    start: 1461099816
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/pcaps/capture:
    parameters: []
    delete:
      tags:
      - Utilities PCAPs
      summary: stopSitePacketCapture
      description: Stop current capture
      operationId: stopSitePacketCapture
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Utilities PCAPs
      summary: getSiteCapturingStatus
      description: Get Capturing status
      operationId: getSiteCapturingStatus
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_status'
                - description: Current status of a packet capture session
                  examples:
                  - aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_status'
                - description: Current status of a packet capture session
                  examples:
                  - aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    aps:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    client_mac: 60a10a773412
                    duration: 300
                    failed: []
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    includes_mcast: false
                    max_pkt_len: 128
                    num_packets: 1000
                    ok:
                    - 5c5b350e001c
                    - 5c5b350e001b
                    started_time: 1435080709
                    type: client
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Utilities PCAPs
      summary: startSitePacketCapture
      description: 'Initiate a Site Packet Capture


        The output will be available through websocket. As there can be multiple commands issued against the same AP at the same time and the output all goes through the same websocket stream, session is introduced for demux.


        #### Subscribe to Device Command outputs

        `WS /api-ws/v1/stream`


        ```json

        {

        "subscribe": "/sites/{site_id}/pcaps"

        }

        ```

        #### Response (MxEdge)

        ```json

        {

        "event": "data"

        "channel": "/sites/{site_id}/pcaps"

        "data": {

        "capture_id": "6b1be4fb-b239-44d9-9d3b-cb1ff3af1721",

        "lost_messages": 0

        "pcap_dict": {

        "channel_frequency": 2412,

        "channel": "1",

        "datarate": "1.0 Mbps",

        "rssi": -75,

        "dst": "78:bd:bc:ca:0b:0a",

        "src": "18:b8:1f:4c:91:c0",

        "bssid": "18:b8:1f:4c:91:c0",

        "frame_type": "Management",

        "frame_subtype": "Probe Response",

        "proto": "802.11",

        "ap_mac": "d4:20:b0:81:99:2e",

        "direction": "tx",

        "timestamp": 1652246543,

        "length": 416.0,

        "interface": "radiotap",

        "info": "1652246544.467733 1683216786us tsft 1.0 Mb/s 2412 MHz 11g -75dBm signal -82dBm noise antenna 0 Probe Response (ATTKmsWiVS) [1.0* 2.0* 5.5* 11.0* 18.0 24.0 36.0 54.0 Mbit] CH: 2, PRIVACY\\n",

        },

        "pcap_raw": "1MOyoQIABAAAAAAAAAAAAP//AAABAAAAEEh7Yh5VBwCgAQAAoAEAAAAAKwBvCADAAQAAAIw7reCS2VNkAAAAABACbAmABLWuAAEAEBgAAwACAABQADoBeL28ygsKGLgfTJHAGLgfTJHAcIZ2WDlBJQAAAGQAERUACkFUVEttc1dpVlMBCIKEi5YkMEhsAwECBwZVUyABCx4gAQAjAhkAKgEEMgQMEhhgMBQBAAAPrAQBAAAPrAQBAAAPrAIMAAsFAQAbAABGBTIIAQAALRqtCR////8AAAAAAAAAAAAAAAAAAAAAAAAAAD0WAggVAAAAAAAAAAAAAAAAAAAAAAAAAH8IBAAIAAAAAEDdkwBQ8gQQSgABEBBEAAECEDsAAQMQRwAQn2481frn3KT+uGod2ERx+RAhAAtBcnJpcywgSW5jLhAjAApCR1cyMTAtNzAwECQACkJHVzIxMC03MDAQQgAKQkdXMjEwLTcwMBBUAAgABgBQ8gQAARARAA5BcnJpcyBXaXJlbGVzcxAIAAIgCBA8AAEBEEkABgA3KgABIN0JABAYAgEQHAAA3RgAUPICAQGEAAOkAAAnpAAAQkNeAGIyLwAzjakr"

        }

        ```


        #### Response (Wired)

        ```json

        {

        "event": "data"

        "channel": "/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps"

        "data": {

        "capture_id": "f039b1b4-a23e-48b2-906a-0da40524de73",

        "pcap_dict": {

        "dst_mac": "68:ec:c5:09:2e:87",

        "src_mac": "8c:3b:ad:e0:47:40",

        "vlan": 1,

        "src_ip": "34.224.147.117",

        "dst_ip": "192.168.1.55",

        "dst_port": 51635,

        "src_port": 443,

        "proto": "TCP",

        "ap_mac": "d4:20:b0:81:99:2e",

        "direction": "tx",

        "timestamp": 1652247615,

        "length": 159.0,

        "interface": "wired",

        "info": "1652247616.007409 IP ec2-34-224-147-117.compute-1.amazonaws.com.https > ip-192-168-1-55.ec2.internal.51635: Flags [P.], seq 2192123968:2192124057, ack 4035166782, win 12, options [nop,nop,TS val 597467050 ecr 740580660], length 89\\n",

        },

        "pcap_raw": "1MOyoQIABAAAAAAAAAAAAP//AAABAAAAQEx7YhMzAACfAAAAnwAAAGjsxQkuh4w7reBHQIEAAAEIAEUAAI1bLEAAKAZ/CiLgk3XAqAE3AbvJs4KpKEDwg8I+gBgADFf9AAABAQgKI5yfqiwkXTQXAwMAVKY5JopoKQrVEn0/3ld4YntctGEH/rTZuwtCvzSncFw71QJveJi9uxHs57KC8w9Apph3YvXJrmWg7M37+o+YV0KH/xmr626s5Bkhb3QhKOu+NoNEmA=="


        }

        }

        ```


        #### Stop Response (Wired/Wireless)

        ```json

        {

        "event": "data"

        "channel": "/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps"

        "data": {

        "capture_id": "a2f7374d-6a70-41fd-8a3f-71e42573baaf",

        "lost_messages": 0,

        "pcap_dict": null

        }

        }

        ```'
      operationId: startSitePacketCapture
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/capture_site'
              - description: Request Body
                examples:
                - '{"client_mac":"60a10a773412","duration":600,"includes_mcast":false,"max_pkt_len":128,"num_packets":100,"type":"new_assoc"}'
                - '{"duration":600,"max_pkt_len":68,"num_packets":100,"type":"radiotap"}'
                - '{"ap_mac":"string","client_mac":"38f9d3972ff1","duration":600,"max_pkt_len":128,"num_packets":1024,"ssid":"string","type":"radiotap,wired"}'
                - '{"ap_mac":null,"band":"24","bandwidth":20,"channel":1,"client_mac":"38f9d3972ff1","duration":600,"format":"stream","max_pkt_len":68,"num_packets":100,"tcpdump_expression":"tcp port 80","type":"scan"}'
                - '{"duration":600,"max_pkt_len":68,"num_packets":100,"tcpdump_expression":"tcp port 80","type":"wired"}'
                - '{"ap_mac":null,"band":"24","duration":600,"max_pkt_len":128,"num_packets":100,"type":"wireless"}'
                - '{"client_mac":"60a10a773412","duration":300,"includes_mcast":false,"max_pkt_len":128,"num_packets":1000,"type":"client"}'
                - '{"duration":600,"format":"stream","gateways":{"001122334455":{"ports":{"ge-0/0/0":{"tcpdump_expression":"tcp"},"ge-0/0/1":{"tcpdump_expression":"port 443"},"ge-1/0/0":{"tcpdump_expression":"tcp"},"ge-1/0/1":{"tcpdump_expression":"port 443"}}},"001122334466":{"ports":{"ge-0/0/0":{"tcpdump_expression":"udp"},"ge-0/0/1":{"tcpdump_expression":"port 32768"}}}},"max_pkt_len":1500,"num_packets":100,"type":"gateway"}'
                - '{"duration":600,"format":"stream","max_pkt_len":1500,"num_packets":100,"switches":{"001122334455":{"ports":{"ge-0/0/0":{"tcpdump_expression":"udp"},"ge-0/0/1":{},"ge-1/0/0":{},"ge-1/0/1":{}}},"001122334466":{"ports":{"ge-0/0/0":{},"ge-0/0/1":{}}}},"tcpdump_expression":"port 443","type":"switch"}'
              contentMediaType: application/json
            examples:
              AP-New-Wireless-Client-Associations-Packet-Capture:
                value:
                  client_mac: 60a10a773412
                  duration: 600
                  includes_mcast: false
                  max_pkt_len: 128
                  num_packets: 100
                  type: new_assoc
              AP-Radiotap-Packet-Capture:
                value:
                  duration: 600
                  max_pkt_len: 68
                  num_packets: 100
                  type: radiotap
              AP-Radiotap-Packet-Capture-and-Wired-Packet-Capture:
                value:
                  ap_mac: string
                  client_mac: 38f9d3972ff1
                  duration: 600
                  max_pkt_len: 128
                  num_packets: 1024
                  ssid: string
                  type: radiotap,wired
              AP-Scan-radio-Packet-Capture:
                value:
                  ap_mac: null
                  band: '24'
                  bandwidth: 20
                  channel: 1
                  client_mac: 38f9d3972ff1
                  duration: 600
                  format: stream
                  max_pkt_len: 68
                  num_packets: 100
                  tcpdump_expression: tcp port 80
                  type: scan
              AP-Wired-Packet-Capture:
                value:
                  duration: 600
                  max_pkt_len: 68
                  num_packets: 100
                  tcpdump_expression: tcp port 80
                  type: wired
              AP-Wireless-Packet-Capture:
                value:
                  ap_mac: null
                  band: '24'
                  duration: 600
                  max_pkt_len: 128
                  num_packets: 100
                  type: wireless
              Client-Packet-Capture:
                value:
                  client_mac: 60a10a773412
                  duration: 300
                  includes_mcast: false
                  max_pkt_len: 128
                  num_packets: 1000
                  type: client
              SSR-Packet-Capture:
                value:
                  duration: 600
                  format: stream
                  gateways:
                    '001122334455':
                      ports:
                        ge-0/0/0:
                          tcpdump_expression: tcp
                        ge-0/0/1:
                          tcpdump_expression: port 443
                        ge-1/0/0:
                          tcpdump_expression: tcp
                        ge-1/0/1:
                          tcpdump_expression: port 443
                    '001122334466':
                      ports:
                        ge-0/0/0:
                          tcpdump_expression: udp
                        ge-0/0/1:
                          tcpdump_expression: port 32768
                  max_pkt_len: 1500
                  num_packets: 100
                  type: gateway
              Switch-Packet-Capture:
                value:
                  duration: 600
                  format: stream
                  max_pkt_len: 1500
                  num_packets: 100
                  switches:
                    '001122334455':
                      ports:
                        ge-0/0/0:
                          tcpdump_expression: udp
                        ge-0/0/1: {}
                        ge-1/0/0: {}
                        ge-1/0/1: {}
                    '001122334466':
                      ports:
                        ge-0/0/0: {}
                        ge-0/0/1: {}
                  tcpdump_expression: port 443
                  type: switch
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_start'
                - description: Packet capture session created by a start request
                  examples:
                  - ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_pcap_start'
                - description: Packet capture session created by a start request
                  examples:
                  - ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    ap_count: 3
                    aps: []
                    duration: 600
                    enabled: true
                    expiry: 1614886726.5411825
                    format: stream
                    id: a9a84e13-a714-b1eb-152f-a434416217d5
                    include_mcast: false
                    max_pkt_len: 68
                    num_packets: 100
                    org_id: a9346fba-f920-e99a-cc51-2e8dcc57fa3c
                    raw: true
                    site_id: 67970e46-4e12-11e6-9188-0242ac110007
                    ssid: ''
                    timestamp: 1614886126.5411825
                    type: radiotap
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/pcaps/{pcap_id}:
    parameters: []
    put:
      tags:
      - Utilities PCAPs
      summary: updateSitePacketCapture
      description: Update or add notes to a completed packet capture
      operationId: updateSitePacketCapture
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: pcap_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/notes_string'
              - examples:
                - notes: wired pcap test
              contentMediaType: application/json
            examples:
              Example:
                value:
                  notes: wired pcap test
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    capture_mxedge_mxedges_interfaces:
      title: capture_mxedge_mxedges_interfaces
      type: object
      properties:
        tcpdump_expression:
          type: string
          description: tcpdump expression common for wired,radiotap
      description: Property key is the Port name (e.g. "port1", "kni0", "lacp0", "ipsec", "drop", "oobm"), currently limited to specifying one interface per mxedge
    capture_gateway_gateways:
      title: capture_gateway_gateways
      type: object
      properties:
        ports:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/capture_gateway_gateways_port'
          description: Gateway ports to include in the capture, keyed by port ID
      description: Gateway-specific packet capture settings keyed under a gateway MAC address
    capture_site:
      oneOf:
      - $ref: '#/components/schemas/capture_client'
      - $ref: '#/components/schemas/capture_gateway'
      - $ref: '#/components/schemas/capture_new_assoc'
      - $ref: '#/components/schemas/capture_radiotap'
      - $ref: '#/components/schemas/capture_radiotapwired'
      - $ref: '#/components/schemas/capture_scan'
      - $ref: '#/components/schemas/capture_switch'
      - $ref: '#/components/schemas/capture_wired'
      - $ref: '#/components/schemas/capture_wireless'
      description: Packet capture request payload for site-level captures
      discriminator:
        propertyName: type
        mapping:
          client: capture_client
          gateway: capture_gateway
          new_assoc: capture_new_assoc
          radiotap: capture_radiotap
          radiotap,wired: capture_radiotapwired
          scan: capture_scan
          switch: capture_switch
          wired: capture_wired
          wireless: capture_wireless
    capture_wired_format2:
      title: capture_wired_format2
      enum:
      - pcap
      - stream
      type: string
      description: 'Output format for the wired packet capture. enum: `pcap`, `stream`.'
    response_pcap_search:
      title: response_pcap_search
      required:
      - end
      - limit
      - results
      - start
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp, in seconds, for the end of the packet capture search window
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of packet capture records returned in this page
          contentEncoding: int32
        next:
          type: string
          description: URL for retrieving the next page of packet capture search results
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/response_pcap_search_item'
          description: Packet capture records matching the search filters
        start:
          type: integer
          description: Epoch timestamp, in seconds, for the start of the packet capture search window
          contentEncoding: int32
        total:
          type: integer
          description: Number of packet capture records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for packet capture search results
    capture_mxedge_mxedges:
      title: capture_mxedge_mxedges
      type: object
[...]
