openapi: 3.2.0
info:
  title: Mist Sites WxTags API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites WxTags
  description: 'Wxtags are tags or groups that can be created and used within a specific site.


    They are used to classify users and resources and can be applied to Access Points, WLAN configurations or WxRules within that site.


    Site WxTags are created and managed at the site level and can only be referenced and used within that particular site.'
paths:
  /api/v1/sites/{site_id}/wxtags:
    parameters: []
    get:
      tags:
      - Sites WxTags
      summary: listSiteWxTags
      description: Get List of Site WxTags
      operationId: listSiteWxTags
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wxlan_tag'
                description: WxLAN tag records returned by a list response
                examples:
                - - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wxlan_tag'
                description: WxLAN tag records returned by a list response
                examples:
                - - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites WxTags
      summary: createSiteWxTag
      description: Create Site WxTag
      operationId: createSiteWxTag
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/wxlan_tag'
              - description: Request Body
                examples:
                - '{"match":"app","name":"match app","type":"match","values":["gmail","dropbox"]}'
                - '{"match":"client_mac","name":"file_servers","type":"match","values":["b0c4e7001543","a0c4e7001543","00c4e7001543"]}'
                - '{"match":"hostname","name":"mist","type":"match","values":["mist.com"]}'
                - '{"match":"ip_range_subnet","name":"file_servers","type":"match","values":["10.1.2.1","10.2.3.4/24","10.1.2.5-10.2.3.4"]}'
                - '{"match":"port","name":"web-ports","type":"match","values":["80","8000","8080"]}'
                - '{"match":"psk_name","name":"VIP","type":"match","values":["test_key1","test_key2"]}'
                - '{"match":"psk_role","name":"VIP","type":"match","values":["test_role"]}'
                - '{"match":"radius_group","name":"VIP","type":"match","values":["vip"]}'
                - '{"match":"radius_username","name":"VIP","type":"match","values":["john@abc.com","eric@abc.com"]}'
                - '{"name":"protocol-subnet-port","specs":[{"port_range":"80","protocol":"tcp","subnets":["10.1.2.0/24"]}],"type":"spec"}'
                - '{"name":"vlan-assignment","type":"vlan","vlan_id":1055}'
                - '{"match":"wlan_id","name":"guest-wlan","type":"match","values":["be22bba78e22e1cf5185b880816fe2cf"]}'
              contentMediaType: application/json
            examples:
              app:
                value:
                  match: app
                  name: match app
                  type: match
                  values:
                  - gmail
                  - dropbox
              client_mac:
                value:
                  match: client_mac
                  name: file_servers
                  type: match
                  values:
                  - b0c4e7001543
                  - a0c4e7001543
                  - 00c4e7001543
              hostnames:
                value:
                  match: hostname
                  name: mist
                  type: match
                  values:
                  - mist.com
              ip_range_subnets:
                value:
                  match: ip_range_subnet
                  name: file_servers
                  type: match
                  values:
                  - 10.1.2.1
                  - 10.2.3.4/24
                  - 10.1.2.5-10.2.3.4
              ports:
                value:
                  match: port
                  name: web-ports
                  type: match
                  values:
                  - '80'
                  - '8000'
                  - '8080'
              psk_name:
                value:
                  match: psk_name
                  name: VIP
                  type: match
                  values:
                  - test_key1
                  - test_key2
              psk_role:
                value:
                  match: psk_role
                  name: VIP
                  type: match
                  values:
                  - test_role
              radius_group:
                value:
                  match: radius_group
                  name: VIP
                  type: match
                  values:
                  - vip
              radius_username:
                value:
                  match: radius_username
                  name: VIP
                  type: match
                  values:
                  - john@abc.com
                  - eric@abc.com
              traffic-spec:
                value:
                  name: protocol-subnet-port
                  specs:
                  - port_range: '80'
                    protocol: tcp
                    subnets:
                    - 10.1.2.0/24
                  type: spec
              vlan:
                value:
                  name: vlan-assignment
                  type: vlan
                  vlan_id: 1055
              wlan_id:
                value:
                  match: wlan_id
                  name: guest-wlan
                  type: match
                  values:
                  - be22bba78e22e1cf5185b880816fe2cf
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tag'
                - description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tag'
                - description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/wxtags/apps:
    parameters: []
    get:
      tags:
      - Sites WxTags
      summary: getSiteApplicationList
      description: Get Application List
      operationId: getSiteApplicationList
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: List of Applications
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/search_wxtag_apps_item'
                description: Applications that can be referenced by WxTag rules
                examples:
                - - group: Emails
                    key: gmail
                    name: Gmail - web/app
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - group: Emails
                    key: gmail
                    name: Gmail - web/app
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/search_wxtag_apps_item'
                description: Applications that can be referenced by WxTag rules
                examples:
                - - group: Emails
                    key: gmail
                    name: Gmail - web/app
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - group: Emails
                    key: gmail
                    name: Gmail - web/app
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/wxtags/{wxtag_id}:
    parameters: []
    delete:
      tags:
      - Sites WxTags
      summary: deleteSiteWxTag
      description: Delete Site WxTag
      operationId: deleteSiteWxTag
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxtag_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites WxTags
      summary: getSiteWxTag
      description: Get Site WxTag Details
      operationId: getSiteWxTag
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxtag_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tag'
                - description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tag'
                - description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Sites WxTags
      summary: updateSiteWxTag
      description: Update Site WxTag
      operationId: updateSiteWxTag
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxtag_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/wxlan_tag'
              - description: Request Body
                examples:
                - '{"match":"app","name":"match app","type":"match","values":["gmail","dropbox"]}'
                - '{"match":"client_mac","name":"file_servers","type":"match","values":["b0c4e7001543","a0c4e7001543","00c4e7001543"]}'
                - '{"match":"hostname","name":"mist","type":"match","values":["mist.com"]}'
                - '{"match":"ip_range_subnet","name":"file_servers","type":"match","values":["10.1.2.1","10.2.3.4/24","10.1.2.5-10.2.3.4"]}'
                - '{"match":"port","name":"web-ports","type":"match","values":["80","8000","8080"]}'
                - '{"match":"psk_name","name":"VIP","type":"match","values":["test_key1","test_key2"]}'
                - '{"match":"psk_role","name":"VIP","type":"match","values":["test_role"]}'
                - '{"match":"radius_group","name":"VIP","type":"match","values":["vip"]}'
                - '{"match":"radius_username","name":"VIP","type":"match","values":["john@abc.com","eric@abc.com"]}'
                - '{"name":"protocol-subnet-port","specs":[{"port_range":"80","protocol":"tcp","subnets":["10.1.2.0/24"]}],"type":"spec"}'
                - '{"name":"vlan-assignment","type":"vlan","vlan_id":1055}'
                - '{"match":"wlan_id","name":"guest-wlan","type":"match","values":["be22bba78e22e1cf5185b880816fe2cf"]}'
              contentMediaType: application/json
            examples:
              app:
                value:
                  match: app
                  name: match app
                  type: match
                  values:
                  - gmail
                  - dropbox
              client_mac:
                value:
                  match: client_mac
                  name: file_servers
                  type: match
                  values:
                  - b0c4e7001543
                  - a0c4e7001543
                  - 00c4e7001543
              hostnames:
                value:
                  match: hostname
                  name: mist
                  type: match
                  values:
                  - mist.com
              ip_range_subnets:
                value:
                  match: ip_range_subnet
                  name: file_servers
                  type: match
                  values:
                  - 10.1.2.1
                  - 10.2.3.4/24
                  - 10.1.2.5-10.2.3.4
              ports:
                value:
                  match: port
                  name: web-ports
                  type: match
                  values:
                  - '80'
                  - '8000'
                  - '8080'
              psk_name:
                value:
                  match: psk_name
                  name: VIP
                  type: match
                  values:
                  - test_key1
                  - test_key2
              psk_role:
                value:
                  match: psk_role
                  name: VIP
                  type: match
                  values:
                  - test_role
              radius_group:
                value:
                  match: radius_group
                  name: VIP
                  type: match
                  values:
                  - vip
              radius_username:
                value:
                  match: radius_username
                  name: VIP
                  type: match
                  values:
                  - john@abc.com
                  - eric@abc.com
              traffic-spec:
                value:
                  name: protocol-subnet-port
                  specs:
                  - port_range: '80'
                    protocol: tcp
                    subnets:
                    - 10.1.2.0/24
                  type: spec
              vlan:
                value:
                  name: vlan-assignment
                  type: vlan
                  vlan_id: 1055
              wlan_id:
                value:
                  match: wlan_id
                  name: guest-wlan
                  type: match
                  values:
                  - be22bba78e22e1cf5185b880816fe2cf
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tag'
                - description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_tag'
                - description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    last_ips:
                    - string
                    mac: string
                    match: wlan_id
                    modified_time: 0
                    name: string
                    op: in
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    resource_mac: string
                    services:
                    - string
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    specs:
                    - port_range: string
                      protocol: tcp
                      subnets:
                      - string
                    subnet: string
                    type: match
                    values:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    wxlan_tag_match2:
      title: wxlan_tag_match2
      enum:
      - ap_id
      - app
      - asset_mac
      - client_mac
      - hostname
      - ip_range_subnet
      - port
      - psk_name
      - psk_role
      - radius_attr
      - radius_class
      - radius_group
      - radius_username
      - sdkclient_uuid
      - wlan_id
      type: string
      description: 'Required if `type`==`match`; attribute compared against `values`. enum: `ap_id`, `app`, `asset_mac`, `client_mac`, `hostname`, `ip_range_subnet`, `port`, `psk_name`, `psk_role`, `radius_attr`, `radius_class`, `radius_group`, `radius_username`, `sdkclient_uuid`, `wlan_id`.'
    search_wxtag_apps_item:
      title: search_wxtag_apps_item
      required:
      - group
      - key
      - name
      type: object
      properties:
        group:
          type: string
          description: Application category group containing this WxTag app
          examples:
          - Emails
        key:
          type: string
          description: Stable application key used in WxTag configuration
          examples:
          - gmail
        name:
          type: string
          description: Display name of the application
          examples:
          - Gmail - web/app
      description: Application metadata available for WxTag matching
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    wxlan_tag:
      title: wxlan_tag
      required:
      - name
      - type
      type: object
      properties:
        created_time:
          type: number
          description: Time when this WxLAN tag was created, in epoch seconds
          readOnly: true
        for_site:
          type: boolean
          description: Whether this WxLAN tag is scoped to a site
          readOnly: true
        id:
          type: string
          description: Unique identifier for this WxLAN tag
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        last_ips:
          type: array
          items:
            type: string
          description: Most recent IP addresses observed for this WxLAN tag
          readOnly: true
        mac:
          type:
          - string
          - 'null'
          description: If `type`==`client`, Client MAC address
        match:
          allOf:
          - $ref: '#/components/schemas/wxlan_tag_match2'
          - description: 'Required if `type`==`match`; attribute compared against `values`. enum: `ap_id`, `app`, `asset_mac`, `client_mac`, `hostname`, `ip_range_subnet`, `port`, `psk_name`, `psk_role`, `radius_attr`, `radius_class`, `radius_group`, `radius_username`, `sdkclient_uuid`, `wlan_id`.'
        modified_time:
          type: number
          description: Time when this WxLAN tag was last modified, in epoch seconds
          readOnly: true
        name:
          type: string
          description: Display name of the WxLAN tag
        op:
          allOf:
          - $ref: '#/components/schemas/wxlan_tag_operation2'
          - description: 'Required if `type`==`match`; whether `values` are inclusive or exclusive matches. enum: `in`, `not_in`.'
        org_id:
          type: string
          description: Owning organization associated with this WxLAN tag
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        resource_mac:
          type:
          - string
          - 'null'
          description: MAC address of the discovered resource associated with this tag, when applicable
        services:
          uniqueItems: true
          type: array
          items:
            type: string
          description: Names of services associated with this WxLAN tag
        site_id:
          type: string
          description: Mist site associated with this WxLAN tag, when site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        specs:
          type: array
          items:
            $ref: '#/components/schemas/wxlan_tag_spec'
          description: Traffic match specifications used when `type`==`spec`
        subnet:
          type: string
          description: CIDR subnet associated with this WxLAN tag when `type`==`subnet`
        type:
          allOf:
          - $ref: '#/components/schemas/wxlan_tag_type2'
          - description: 'Kind of WxLAN tag and how it is populated. enum: `client`, `match`, `resource`, `spec`, `subnet`, `vlan`.'
        values:
          type: array
          items:
            type: string
          description: Comparison values for the selected `match` attribute when `type`==`match`
        vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
          description: Identifier of the VLAN associated with this WxLAN tag when `type`==`vlan`
          examples:
          - '1055'
      description: "WxLAN Tag\n  * type:\n    * client: created manually (e.g. on wireless client table, when they spot a device of interest, they can create a wxlan tag for it\n    * resource: created automatically when we discover a network resource\n    * subnet: create automatically when a subnet is discovered\n  * match:\n    * wlan_id, ap_id: values are a list of Wlan / Device ids\n    * client_mac: values are a list of MAC addresses\n  * radius_group: this is a smart tag that matches RADIUS-Filter-ID, Airespace-ACL-Name (VendorID=14179, VendorType=6) / Aruba-User-Role (VendorID=14823, VendorType=1)\n  * radius_username: this matches the ATTR-User-Name(1)\n  * radius_class: the matches the ATTR-Class(25)\n  * radius_attr: the values are [ \"6=1\" , \"26=10.2.3.4\" ], this support other RADIUS attributes where we know the type\n  * radius_vendor: the values are [ \"14179.10=1\" , \"14178.16=1.2.3.4\" ], this matches vendor attributes and will be dynamically evaluated"
    wxlan_tag_spec:
      title: wxlan_tag_spec
      type: object
      properties:
        port_range:
          type: string
          description: Matched destination port, "0" means any
          default: '0'
        protocol:
          type: string
          description: tcp / udp / icmp / gre / any / ":protocol_number", `protocol_number` is between 1-254
          default: any
        subnets:
          type: array
          items:
            type: string
          description: Destination subnets or IP addresses matched by this WxLAN tag spec
          default: []
          examples:
          - - 0.0.0.0/0
      description: Traffic match specification used by a WxLAN tag
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    wxlan_tag_operation2:
      title: wxlan_tag_operation2
      enum:
      - in
      - not_in
      type: string
      description: 'Required if `type`==`match`; whether `values` are inclusive or exclusive matches. enum: `in`, `not_in`.'
    wxlan_tag_type2:
      title: wxlan_tag_type2
      enum:
      - client
      - match
      - resource
      - spec
      - subnet
      - vlan
      type: string
      description: 'Kind of WxLAN tag and how it is populated. enum: `client`, `match`, `resource`, `spec`, `subnet`, `vlan`.'
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
