openapi: 3.2.0
info:
  title: Mist Sites Devices - Others API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Devices - Others
  description: API Call for 3rd party devices
paths:
  /api/v1/sites/{site_id}/otherdevices:
    parameters: []
    get:
      tags:
      - Sites Devices - Others
      summary: listSiteOtherDevices
      description: List third-party devices in a site, such as devices discovered or tracked outside the managed Mist device inventory. Use List Org Other Devices to retrieve third-party devices across the organization.
      operationId: listSiteOtherDevices
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: vendor
        in: query
        description: Filter results by vendor
        style: form
        explode: true
        schema:
          type: string
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: serial
        in: query
        description: Filter results by device serial number
        style: form
        explode: true
        schema:
          type: string
      - name: model
        in: query
        description: Filter results by device model
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: query
        description: Filter results by name
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/device_other'
                description: List of third-party devices reported by external integrations
                examples:
                - - created_time: 1676983730
                    device_mac: '001122334455'
                    id: ae9dee49-69e7-4710-a114-5b827a777738
                    mac: 5c5b35000018
                    model: AP41
                    modified_time: 1676983730
                    name: hallway
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    vendor: cradlepoint
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 1676983730
                    device_mac: '001122334455'
                    id: ae9dee49-69e7-4710-a114-5b827a777738
                    mac: 5c5b35000018
                    model: AP41
                    modified_time: 1676983730
                    name: hallway
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    vendor: cradlepoint
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/device_other'
                description: List of third-party devices reported by external integrations
                examples:
                - - created_time: 1676983730
                    device_mac: '001122334455'
                    id: ae9dee49-69e7-4710-a114-5b827a777738
                    mac: 5c5b35000018
                    model: AP41
                    modified_time: 1676983730
                    name: hallway
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    vendor: cradlepoint
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 1676983730
                    device_mac: '001122334455'
                    id: ae9dee49-69e7-4710-a114-5b827a777738
                    mac: 5c5b35000018
                    model: AP41
                    modified_time: 1676983730
                    name: hallway
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    vendor: cradlepoint
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/otherdevices/events/count:
    parameters: []
    get:
      tags:
      - Sites Devices - Others
      summary: countSiteOtherDeviceEvents
      description: Count third-party device events for a site, optionally grouped by the `distinct` field and filtered by event type and time range. Use Count Org Other Device Events to count third-party device events across the organization.
      operationId: countSiteOtherDeviceEvents
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `mac`, `site_id`, `type`, `vendor`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/site_other_device_events_count_distinct'
          - description: 'Field used to group this count response. enum: `mac`, `site_id`, `type`, `vendor`'
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listOtherDeviceEventsDefinitions)
        style: form
        explode: true
        schema:
          type: string
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/otherdevices/events/search:
    parameters: []
    get:
      tags:
      - Sites Devices - Others
      summary: searchSiteOtherDeviceEvents
      description: Search third-party device events for a site with filters for device identifiers, model, vendor, event type, and time range. Use Search Org Other Device Events to search third-party device events across the organization.
      operationId: searchSiteOtherDeviceEvents
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: device_mac
        in: query
        description: MAC of attached device
        style: form
        explode: true
        schema:
          type: string
      - name: vendor
        in: query
        description: Filter results by vendor
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listOtherDeviceEventsDefinitions)
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_events_other_devices_search'
                - description: Paginated response for other-device event search results
                  examples:
                  - end: 0
                    limit: 0
                    results:
                    - device_mac: string
                      mac: 5c5b351e13b5
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: 'Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1.'
                      timestamp: 547235620.89
                      type: CELLULAR_EDGE_MODEM_WAN_PLUGGED
                      vendor: cradlepoint
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 0
                    limit: 0
                    results:
                    - device_mac: string
                      mac: 5c5b351e13b5
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: 'Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1.'
                      timestamp: 547235620.89
                      type: CELLULAR_EDGE_MODEM_WAN_PLUGGED
                      vendor: cradlepoint
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_events_other_devices_search'
                - description: Paginated response for other-device event search results
                  examples:
                  - end: 0
                    limit: 0
                    results:
                    - device_mac: string
                      mac: 5c5b351e13b5
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: 'Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1.'
                      timestamp: 547235620.89
                      type: CELLULAR_EDGE_MODEM_WAN_PLUGGED
                      vendor: cradlepoint
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 0
                    limit: 0
                    results:
                    - device_mac: string
                      mac: 5c5b351e13b5
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: 'Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1.'
                      timestamp: 547235620.89
                      type: CELLULAR_EDGE_MODEM_WAN_PLUGGED
                      vendor: cradlepoint
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    device_other:
      title: device_other
      type: object
      properties:
        created_time:
          type: number
          description: Timestamp when the third-party device record was created
          readOnly: true
        device_mac:
          type: string
          description: MAC address of the Mist device this third-party device is attached to
        id:
          type: string
          description: Unique identifier of the third-party device record
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        mac:
          type: string
          description: Third-party device MAC address
        model:
          type: string
          description: Third-party device model reported by the vendor integration
        modified_time:
          type: number
          description: Timestamp when the third-party device record was last modified
          readOnly: true
        name:
          type: string
          description: Display name reported or configured for the third-party device
        org_id:
          type: string
          description: Organization that owns this third-party device record
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        serial:
          type: string
          description: Manufacturer serial number reported for the third-party device
        site_id:
          type: string
          description: Site where the third-party device is assigned
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        state:
          type: string
          description: Operational state reported for the third-party device
        vendor:
          type: string
          description: External vendor integration that reported the third-party device
        vendor_api_id:
          type: string
          description: Identifier assigned by the vendor API for this third-party device
      description: Third-party device discovered or managed through an external vendor integration
    event_otherdevice:
      title: event_otherdevice
      type: object
      properties:
        device_mac:
          type: string
          description: Attached device MAC address associated with the other-device event
        mac:
          type: string
          description: Other-device MAC address associated with the event
          examples:
          - 5c5b351e13b5
        org_id:
          type: string
          description: Organization that contains the other-device event
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        site_id:
          type: string
          description: Site where the other-device event occurred
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        text:
          type: string
          description: Human-readable message for the other-device event
          examples:
          - 'Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1.'
        timestamp:
          type: number
          description: Time when the other-device event occurred
          readOnly: true
        type:
          type: string
          description: Event type for the other-device event
          examples:
          - CELLULAR_EDGE_MODEM_WAN_PLUGGED
        vendor:
          type: string
          description: Manufacturer or vendor name reported for the other device
          examples:
          - cradlepoint
      description: Event generated by an other-device integration or attached device
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    site_other_device_events_count_distinct:
      title: site_other_device_events_count_distinct
      enum:
      - mac
      - site_id
      - type
      - vendor
      type: string
      description: 'enum: `mac`, `site_id`, `type`, `vendor`'
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_events_other_devices_search:
      title: response_events_other_devices_search
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp for the end of the other-device event search window
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of other-device event records returned in this page
          contentEncoding: int32
        next:
          type: string
          description: Pagination cursor or URL for retrieving the next page of other-device event records
        results:
          type: array
          items:
            $ref: '#/components/schemas/event_otherdevice'
          description: list of other-device event records matching the search filters
        start:
          type: integer
          description: Epoch timestamp for the start of the other-device event search window
          contentEncoding: int32
        total:
          type: integer
          description: Number of other-device event records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for other-device event search results
    response_count:
      title: response_count
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        distinct:
          type: string
          description: Field used to group the count results
        end:
          type: integer
          description: Search window end timestamp for the count request, in epoch seconds
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of distinct count results requested
          contentEncoding: int32
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/count_result'
          description: Count results grouped by the distinct field
        start:
          type: integer
          description: Search window start timestamp for the count request, in epoch seconds
          contentEncoding: int32
        total:
          type: integer
          description: Number of distinct result buckets returned
          contentEncoding: int32
      description: Distinct count response for time-bounded search results
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
