openapi: 3.2.0
info:
  title: Mist Sites Setting API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Setting
  description: 'Site settings refer to the configuration and management of of site within a Mist Organization.


    These settings include access point settings, firmware upgrade schedules, and various features such as location services, occupancy analytics, and engagement analytics.'
paths:
  /api/v1/sites/{site_id}/setting:
    parameters: []
    get:
      tags:
      - Sites Setting
      summary: getSiteSetting
      description: Get the Site Settings
      operationId: getSiteSetting
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/site_setting'
                - description: Configuration settings applied at the site level
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/site_setting'
                - description: Configuration settings applied at the site level
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Sites Setting
      summary: updateSiteSettings
      description: Update Site Settings
      operationId: updateSiteSettings
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/site_setting'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/site_setting'
                - description: Configuration settings applied at the site level
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/site_setting'
                - description: Configuration settings applied at the site level
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/setting/blacklist:
    parameters: []
    delete:
      tags:
      - Sites Setting
      summary: deleteSiteWirelessClientsBlocklist
      description: Delete Site Blacklist Station Clients
      operationId: deleteSiteWirelessClientsBlocklist
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Setting
      summary: createSiteWirelessClientsBlocklist
      description: 'This endpoint is to provide list of client macs for annotation blacklist.


        Retrieve the current clients list `blacklist_url` under Site:Setting'
      operationId: createSiteWirelessClientsBlocklist
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mac_addresses'
              - description: Request Body
                examples:
                - macs:
                  - 18-65-90-de-f4-c6
                  - 84-89-ad-5d-69-0d
              contentMediaType: application/json
            examples:
              Example:
                value:
                  macs:
                  - 18-65-90-de-f4-c6
                  - 84-89-ad-5d-69-0d
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mac_addresses'
                - description: Request containing one or more MAC addresses
                  examples:
                  - macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mac_addresses'
                - description: Request containing one or more MAC addresses
                  examples:
                  - macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/setting/derived:
    parameters: []
    get:
      tags:
      - Sites Setting
      summary: getSiteSettingDerived
      description: Get the Derived Site Settings, generated by merging the Org level templates (network templates, gateway templates) and the Site level configuration. If the same parameter is defined in both scopes, the Site level one is used. In addition, the Zoom and Teams accounts are also merged into the derived settings.
      operationId: getSiteSettingDerived
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/site_setting_derived'
                - description: Site settings with derived OAuth account integration data
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/site_setting_derived'
                - description: Site settings with derived OAuth account integration data
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/setting/watched_station:
    parameters: []
    delete:
      tags:
      - Sites Setting
      summary: deleteSiteWatchedStations
      description: Delete Site Watched Station Clients
      operationId: deleteSiteWatchedStations
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Setting
      summary: createSiteWatchedStations
      description: 'This endpoint is to provide list of client macs for annotation as watched station.


        Retrieve the current clients list from `watched_station_url` under Site:Setting'
      operationId: createSiteWatchedStations
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mac_addresses'
              - description: Request Body
                examples:
                - macs:
                  - 18-65-90-de-f4-c6
                  - 84-89-ad-5d-69-0d
              contentMediaType: application/json
            examples:
              Example:
                value:
                  macs:
                  - 18-65-90-de-f4-c6
                  - 84-89-ad-5d-69-0d
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mac_addresses'
                - description: Request containing one or more MAC addresses
                  examples:
                  - macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mac_addresses'
                - description: Request containing one or more MAC addresses
                  examples:
                  - macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/setting/whitelist:
    parameters: []
    delete:
      tags:
      - Sites Setting
      summary: deleteSiteWirelessClientsAllowlist
      description: Delete Site Whitelist Station Clients
      operationId: deleteSiteWirelessClientsAllowlist
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Setting
      summary: createSiteWirelessClientsAllowlist
      description: 'This endpoint is to provide list of client macs for annotation as whitelist.


        Retrieve the current clients list from `whitelist_url` under Site:Setting'
      operationId: createSiteWirelessClientsAllowlist
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mac_addresses'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mac_addresses'
                - description: Request containing one or more MAC addresses
                  examples:
                  - macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mac_addresses'
                - description: Request containing one or more MAC addresses
                  examples:
                  - macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    macs:
                    - 18-65-90-de-f4-c6
                    - 84-89-ad-5d-69-0d
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    proxy3:
      title: proxy3
      type: object
      properties:
        disabled:
          type: boolean
          description: Whether this proxy configuration is disabled
          default: false
          examples:
          - true
        url:
          type: string
          description: Proxy URL used to reach Mist
          examples:
          - https://proxy.corp.com:8080/
      description: Network proxy settings for devices at the site
    ospf_areas_network:
      title: ospf_areas_network
      type: object
      properties:
        auth_keys:
          type: object
          additionalProperties:
            type: string
          description: Required if `auth_type`==`md5`. Property key is the key number
          examples:
          - '1': auth-key-1
        auth_password:
          type: string
          description: Required if `auth_type`==`password`, the password, max length is 8
          examples:
          - simple
        auth_type:
          allOf:
          - $ref: '#/components/schemas/ospf_area_network_auth_type2'
          - description: 'Authentication method used by this OSPF network. enum: `md5`, `none`, `password`.'
            examples:
            - md5
        bfd_minimum_interval:
          maximum: 255000
          minimum: 1
          type: integer
          description: Minimum BFD interval for this OSPF network, in milliseconds
          contentEncoding: int32
          examples:
          - 500
        dead_interval:
          maximum: 65535
          minimum: 1
          type: integer
          description: OSPF dead interval for this network, in seconds
          contentEncoding: int32
          examples:
          - 40
        export_policy:
          type: string
          description: Routing policy used to export routes from this OSPF network
          examples:
          - export_policy
        hello_interval:
          maximum: 255
          minimum: 1
          type: integer
          description: OSPF hello interval for this network, in seconds
          contentEncoding: int32
        import_policy:
          type: string
          description: Routing policy used to import routes for this OSPF network
          examples:
          - import_policy
        interface_type:
          allOf:
          - $ref: '#/components/schemas/ospf_area_network_interface_type2'
          - description: 'OSPF interface type used for this network. enum: `broadcast`, `nbma`, `p2mp`, `p2p`.'
        metric:
          maximum: 65535
          minimum: 1
          type:
          - integer
          - 'null'
          description: OSPF metric assigned to this network
          contentEncoding: int32
          examples:
          - 10000
        no_readvertise_to_overlay:
          type: boolean
          description: By default, we'll re-advertise all learned OSPF routes toward overlay
          default: false
        passive:
          type: boolean
          description: Whether to send OSPF-Hello
          default: false
      description: Property key is the network name. Networks to participate in an OSPF area
    gateway_mgmt_auto_signature_update2:
      title: gateway_mgmt_auto_signature_update2
      type: object
      properties:
        day_of_week:
          allOf:
          - $ref: '#/components/schemas/day_of_week1'
          - description: 'Scheduled weekday for automatic signature updates. enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`.'
        enable:
          type: boolean
          description: Whether automatic security signature updates are enabled
          default: true
        time_of_day:
          type: string
          description: Optional, Mist will decide the timing
      description: Schedule for automatic security signature updates
    tunnel_config_probe:
      title: tunnel_config_probe
      type: object
      properties:
        interval:
          type: integer
          description: How often to trigger the probe
          contentEncoding: int32
        threshold:
          type: integer
          description: Number of consecutive misses before declaring the tunnel down
          contentEncoding: int32
        timeout:
          type: integer
          description: Time within which to complete the connectivity check
          contentEncoding: int32
        type:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_probe_type2'
          - description: 'Protocol used by the custom IPsec tunnel health probe. enum: `http`, `icmp`.'
      description: Tunnel health probe settings
    snmpv3_config_notify_type2:
      title: snmpv3_config_notify_type2
      enum:
      - inform
      - trap
      type: string
      description: Delivery mode for this SNMPv3 notification, such as trap or inform
    day_of_week7:
      title: day_of_week7
      enum:
      - any
      - fri
      - mon
      - sat
      - sun
      - thu
      - tue
      - wed
      type: string
      description: 'Scheduled weekday for auto preemption. enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`.'
    remote_syslog4:
      title: remote_syslog4
      type: object
      properties:
        archive:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_archive3'
          - description: Retention settings for generated syslog archive files
        cacerts:
          type: array
          items:
            type: string
          description: CA certificates used to verify TLS syslog servers
          examples:
          - - '-----BEGIN CERTIFICATE-----\nMIIFZjCCA06gAwIBAgIIP61/1qm/uDowDQYJKoZIhvcNAQELBQE\n-----END CERTIFICATE-----'
            - '-----BEGIN CERTIFICATE-----\nBhMCRVMxFDASBgNVBAoMC1N0YXJ0Q29tIENBMSwwKgYDVn-----END CERTIFICATE-----'
        console:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_console2'
          - description: Log forwarding filters for console messages sent to remote syslog
        enabled:
          type: boolean
          description: Whether remote syslog forwarding is enabled
          default: false
        files:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_file_config'
          description: Local syslog file definitions to generate and forward
        network:
          type: string
          description: Source network used for syslog traffic. If `source_address` is configured, Mist uses the VLAN first; otherwise it uses `source_ip`
          examples:
          - default
        send_to_all_servers:
          type: boolean
          description: Whether each log entry is sent to all configured remote syslog servers
          default: false
        servers:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_server'
          description: Remote syslog server destinations
          examples:
          - - facility: config
              host: syslogd.internal
              port: 514
              protocol: udp
              severity: info
              tag: ''
        time_format:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_time_format2'
          - description: 'Timestamp format used in forwarded syslog messages. enum: `millisecond`, `year`, `year millisecond`.'
            examples:
            - millisecond
        users:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_user'
          description: User-specific syslog logging rules
      description: Syslog forwarding settings for devices at the site
    radio_band_antenna_beam_pattern3:
      title: radio_band_antenna_beam_pattern3
      enum:
      - narrow
      - medium
      - wide
      type: string
      description: 'Beam pattern used by the 5 GHz radio antenna. enum: `narrow`, `medium`, `wide`.'
    vrrp_group:
      title: vrrp_group
      type: object
      properties:
        auth_key:
          type: string
          description: If `auth_type`==`md5`, authentication key used by the VRRP group
          examples:
          - auth-key-1
        auth_password:
          type: string
          description: If `auth_type`==`simple`, password used by the VRRP group
          contentEncoding: password
        auth_type:
          allOf:
          - $ref: '#/components/schemas/vrrp_group_auth_type2'
          - description: 'Authentication method used by the VRRP group. enum: `md5`, `simple`.'
            examples:
            - md5
        networks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/vrrp_group_network'
          description: VRRP network mappings and their virtual IP addresses
          examples:
          - data:
              ip: 10.182.96.1
            mgmt:
              ip: 10.182.104.1
            v10:
              ip: 10.182.104.129
            wap:
              ip: 10.182.102.1
      description: Junos VRRP group authentication and network settings
    idp_profile:
      title: idp_profile
      type: object
      properties:
        base_profile:
          allOf:
          - $ref: '#/components/schemas/idp_profile_base_profile2'
          - description: 'Built-in IDP baseline profile inherited before applying overwrites. enum: `critical`, `standard`, `strict`.'
            examples:
            - strict
        created_time:
          type: number
          description: Timestamp when the IDP profile was created
          readOnly: true
        id:
          type: string
          description: Unique identifier of the IDP profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Timestamp when the IDP profile was last modified
          readOnly: true
        name:
          type: string
          description: Display name of the IDP profile
          examples:
          - relaxed
        org_id:
          type: string
          description: Owning organization for the IDP profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        overwrites:
          type: array
          items:
            $ref: '#/components/schemas/idp_profile_overwrite'
          description: IDP signature override rules applied on top of the base profile
      description: Organization IDP profile with a base profile and targeted overwrite rules
    site_engagement1:
      title: site_engagement1
      type: object
      properties:
        dwell_tag_names:
          allOf:
          - $ref: '#/components/schemas/site_engagement_dwell_tag_names2'
          - description: Display labels for dwell-time visit categories
        dwell_tags:
          allOf:
          - $ref: '#/components/schemas/site_engagement_dwell_tags2'
          - description: Visit duration ranges used to assign engagement categories
        hours:
          allOf:
          - $ref: '#/components/schemas/hours3'
          - description: Schedule during which engagement analytics rules apply
        max_dwell:
          maximum: 68400
          minimum: 1
          type: integer
          description: Maximum dwell time in seconds considered by engagement analytics
          contentEncoding: int32
          default: 43200
          examples:
          - 43200
        min_dwell:
          minimum: 0
          type: integer
          description: Minimum dwell time in seconds for engagement analytics
          contentEncoding: int32
      description: Dwell-time analytics rules for the site
    site_setting_tunterm_multicast_config_ssdp2:
      title: site_setting_tunterm_multicast_config_ssdp2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether SSDP multicast forwarding is enabled
          default: false
        vlan_ids:
          type: array
          items:
            type: integer
            contentEncoding: int32
          description: VLAN IDs where SSDP multicast forwarding is enabled
          examples:
          - - 2
            - 3
            - 5
      description: Simple Service Discovery Protocol forwarding settings for tunneled VLANs
    tunnel_provider_options_zscaler_sub_location:
      title: tunnel_provider_options_zscaler_sub_location
      type: object
      properties:
        aup_block_internet_until_accepted:
          type: boolean
          description: Whether this sub-location blocks internet access until the Acceptable Use Policy is accepted
          default: false
        aup_enabled:
          type: boolean
          description: Can only be `true` when `auth_required`==`false`, display Acceptable Use Policy (AUP)
          default: false
        aup_force_ssl_inspection:
          type: boolean
          description: Proxy HTTPs traffic, requiring Zscaler cert to be installed in browser
          default: false
        aup_timeout_in_days:
          maximum: 180
          minimum: 1
          type: integer
          description: Required if `aup_enabled`==`true`. Days before AUP is requested again
          contentEncoding: int32
        auth_required:
          type: boolean
          description: Enable this option to authenticate users
          default: false
        caution_enabled:
          type: boolean
          description: Can only be `true` when `auth_required`==`false`, display caution notification for non-authenticated users
          default: false
        dn_bandwidth:
          maximum: 99999
          minimum: 0.1
          type:
          - number
          - 'null'
          description: Download bandwidth cap of the link, in Mbps. Disabled if not set
          examples:
          - 200
        idle_time_in_minutes:
          maximum: 43200
          minimum: 0
          type: integer
          description: Required if `surrogate_IP`==`true`, idle Time to Disassociation
          contentEncoding: int32
        name:
          type: string
          description: '[network]($h/Orgs%20Networks/_overview) name'
        ofw_enabled:
          type: boolean
          description: If `true`, enable the firewall control option
          default: false
        surrogate_IP:
          type: boolean
          description: Can only be `true` when `auth_required`==`true`. Map a user to a private IP address so it applies the user's policies, instead of the location's policies
          default: false
        surrogate_IP_enforced_for_known_browsers:
          type: boolean
          description: Can only be `true` when `surrogate_IP`==`true`, enforce surrogate IP for known browsers
        surrogate_refresh_time_in_minutes:
          maximum: 43200
          minimum: 1
          type: integer
          description: Required if `surrogate_IP_enforced_for_known_browsers`==`true`, must be lower or equal than `idle_time_in_minutes`, refresh Time for re-validation of Surrogacy
          contentEncoding: int32
        up_bandwidth:
          maximum: 99999
          minimum: 0.1
          type:
          - number
          - 'null'
          description: Download bandwidth cap of the link, in Mbps. Disabled if not set
          examples:
          - 200
      description: Zscaler sub-location settings for a specific network
    radio_band_24_usage4:
      title: radio_band_24_usage4
      enum:
      - '24'
      - '5'
      - '6'
      - auto
      type: string
      description: 'Radio usage mode for the 2.4 GHz-capable radio. enum: `24`, `5`, `6`, `auto`.'
    evpn_options3:
      title: evpn_options3
      type: object
      properties:
        auto_loopback_subnet:
          type: string
          description: Optional, for dhcp_relay, unique loopback IPs are required for ERB or IPClos where we can set option-82 server_id-overrides
          default: 172.16.192.0/24
        auto_loopback_subnet6:
          type: string
          description: Optional, for dhcp_relay, unique loopback IPs are required for ERB or IPClos where we can set option-82 server_id-overrides
          default: fd33:ab00:2::/64
        auto_router_id_subnet:
          type: string
          description: Optional, this generates router_id automatically, if specified, `router_id_prefix` is ignored
          default: 172.16.254.0/23
        auto_router_id_subnet6:
          type: string
          description: Optional, this generates router_id automatically, if specified, `router_id_prefix` is ignored
          examples:
          - fd31:5700:1::/64
        core_as_border:
          type: boolean
          description: Optional, for ERB or CLOS, you can either use esilag to upstream routers or to also be the virtual-gateway. When `routed_at` != `core`, whether to do virtual-gateway at core as well
          default: false
        enable_inband_mgmt:
          type: boolean
          description: Whether to route management traffic inband; routes will be propagated to downstream switches
          default: false
        enable_inband_ztp:
          type: boolean
          description: if the mangement traffic goes inbnd, during installation, only the border/core switches are connected to the Internet to allow initial configuration to be pushed down and leave the downstream access switches stay in the Factory Default state enabling inband-ztp allows upstream switches to use LLDP to assign IP and gives Internet to downstream switches in that state
          default: false
        overlay:
          allOf:
          - $ref: '#/components/schemas/evpn_options_overlay2'
          - description: EVPN overlay BGP settings for the topology
        per_vlan_vga_v4_mac:
          type: boolean
          description: Only for by Core-Distribution architecture when `evpn_options.routed_at`==`core`. By default, JUNOS uses 00-00-5e-00-01-01 as the virtual-gateway-address's v4_mac. If enabled, 00-00-5e-00-0X-YY will be used (where XX=vlan_id/256, YY=vlan_id%256)
          default: false
        per_vlan_vga_v6_mac:
          type: boolean
          description: Only for by Core-Distribution architecture when `evpn_options.routed_at`==`core`. By default, JUNOS uses 00-00-5e-00-02-01 as the virtual-gateway-address's v6_mac. If enabled, 00-00-5e-00-1X-YY will be used (where XX=vlan_id/256, YY=vlan_id%256)
          default: false
        routed_at:
          allOf:
          - $ref: '#/components/schemas/evpn_options_routed_at2'
          - description: 'Topology tier where EVPN virtual gateway routing is placed. enum: `core`, `distribution`, `edge`.'
        underlay:
          allOf:
          - $ref: '#/components/schemas/evpn_options_underlay2'
          - description: EVPN underlay BGP and subnet settings for the topology
        vs_instances:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/evpn_options_vs_instance'
          description: Virtual-switch instance mappings used to segregate EVPN networks
          examples:
          - guest:
              networks:
              - guest
            iot:
              networks:
              - iot-wifi
              - iot-lan
      description: Fabric EVPN options for the site
    switch_network:
      title: switch_network
      required:
      - vlan_id
      type: object
      properties:
        gateway:
          type: string
          description: Only required for EVPN-VXLAN networks, IPv4 Virtual Gateway
        gateway6:
          type: string
          description: Only required for EVPN-VXLAN networks, IPv6 Virtual Gateway
        isolation:
          type: boolean
          description: 'whether to stop clients to talk to each other, default is false (when enabled, a unique isolation_vlan_id is required). NOTE: this features requires uplink device to also a be Juniper device and `inter_switch_link` to be set. See also `inter_isolation_network_link` and `community_vlan_id` in port_usage'
          default: false
        isolation_vlan_id:
          type: string
          description: Required when `isolation`==`true`. Unique VLAN ID used for client isolation
          examples:
          - '3070'
        multicast:
          allOf:
          - $ref: '#/components/schemas/switch_network_multicast2'
          - description: Multicast (IGMP snooping) settings for this VLAN
        subnet:
          type: string
          description: Optional for pure switching, required when L3 / routing features are used
        subnet6:
          type: string
          description: Optional for pure switching, required when L3 / routing features are used
        vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
          description: VLAN identifier for this switch network
      description: A network represents a network segment. It can either represent a VLAN (then usually ties to a L3 subnet), optionally associate it with a subnet which can later be used to create addition routes. Used for ports doing `family ethernet-switching`. It can also be a pure L3-subnet that can then be used against a port that with `family inet`.
    service_policy_skyatp_http_inspection2:
      title: service_policy_skyatp_http_inspection2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Sky ATP HTTP inspection is enabled
        profile:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_http_inspection_profile2'
          - description: 'Sky ATP HTTP inspection profile to apply. enum: `standard`, `strict`.'
      description: Web traffic inspection settings provided by Sky ATP
    remote_syslog_user:
      title: remote_syslog_user
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_content'
          description: Syslog facilities and severities logged for this user rule
        match:
          type: string
          description: Expression used to filter user log messages
          examples:
          - '"!alarm|ntp|errors.crc_error[chan]"'
        user:
          type: string
          description: Account name or wildcard matched by this syslog rule
          examples:
          - '*'
      description: User-specific syslog logging rule
    mxedge_das_coa_server:
      title: mxedge_das_coa_server
      type: object
      properties:
        disable_event_timestamp_check:
          type: boolean
          description: Whether to disable Event-Timestamp Check
          default: false
        enabled:
          type: boolean
          description: Whether this DAS CoA or Disconnect-Message client is enabled
        host:
          type: string
          description: Server host allowed to send CoA or Disconnect-Message requests to Mist Edges
        port:
          type: integer
          description: UDP port where Mist Edges accept CoA or Disconnect-Message requests from this host
          contentEncoding: int32
          default: 3799
        require_message_authenticator:
          type: boolean
          description: Whether to require Message-Authenticator in requests
          default: false
        secret:
          type: string
          description: Shared secret used by this DAS CoA or Disconnect-Message client
          contentEncoding: password
      description: CoA or Disconnect-Message client allowed to contact Mist Edge DAS
    tacacs2:
      title: tacacs2
      type: object
      properties:
        acct_servers:
          type: array
          items:
            $ref: '#/components/schemas/tacacs_acct_server'
          description: TACACS+ accounting servers used for switch management sessions
        default_role:
          allOf:
          - $ref: '#/components/schemas/tacacs_default_role2'
          - description: 'Default switch-management role to use for TACACS+ logins. enum: `admin`, `helpdesk`, `none`, `read`.'
        enabled:
          type: boolean
          description: Whether TACACS+ is enabled for switch management authentication
        network:
          type: string
          description: Source network used for connectivity to the TACACS+ servers
        tacplus_servers:
          type: array
          items:
            $ref: '#/components/schemas/tacacs_auth_server'
          description: TACACS+ authentication servers used for switch management logins
      description: Management authentication settings using TACACS+
    dot11_bandwidth62:
      title: dot11_bandwidth62
      enum:
      - 0
      - 20
      - 40
      - 80
      - 160
      type: integer
      description: 'Channel width configured for the 6 GHz radio. enum: `0`, `20`, `40`, `80`, `160`.'
      examples:
      - 80
    snmp_config3:
      title: snmp_config3
      type: object
      properties:
        client_list:
          type: array
          items:
            $ref: '#/components/schemas/snmp_config_client_list'
          description: SNMP client allowlists that can be referenced by communities
        contact:
          type: string
          description: Administrative contact string advertised through SNMP
          examples:
          - cns@juniper.net
        description:
          type: string
          description: Device description string advertised through SNMP
          examples:
          - Juniper QFX Series Switch - 1K_5LA
        enabled:
          type: boolean
          description: Whether SNMP is enabled
          default: true
        engine_id:
          maxLength: 27
          type: string
          description: SNMP engine ID used for SNMPv3
        engine_id_type:
          allOf:
          - $ref: '#/components/schemas/snmp_config_engine_id_type2'
          - description: 'Method used to derive the SNMP engine ID. enum: `local`, `use_mac_address`.'
        location:
          type: string
          description: Physical location string advertised through SNMP
          examples:
          - Las Vegas, NV
        name:
          type: string
          description: System name advertised through SNMP
          examples:
          - TGH-1K-QFX10K
        network:
          type: string
          description: Management network used for SNMP traffic
          default: default
        trap_groups:
          type: array
          items:
            $ref: '#/components/schemas/snmp_config_trap_group'
          description: SNMP trap group definitions
        v2c_config:
          type: array
          items:
            $ref: '#/components/schemas/snmp_config_v2c_config'
          description: SNMPv2c community configuration entries for this SNMP profile
        v3_config:
          allOf:
          - $ref: '#/components/schemas/snmpv3_config2'
          - description: SNMPv3 user, VACM, notify, and target configuration
        views:
          type: array
          items:
            $ref: '#/components/schemas/snmp_config_view'
          description: SNMP MIB view definitions
      description: Management polling settings for SNMP on site devices
    ospf_area_type2:
      title: ospf_area_type2
      enum:
      - default
      - nssa
      - stub
      type: string
      description: 'Area type for this OSPF area. enum: `default`, `nssa`, `stub`.'
      examples:
      - default
    service_policy_skyatp_dns_tunnel_detection2:
      title: service_policy_skyatp_dns_tunnel_detection2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Sky ATP DNS tunneling detection is enabled
        profile:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_dns_tunnel_detection_profile2'
          - description: 'Sky ATP DNS tunneling detection profile to apply. enum: `default`, `standard`, `strict`.'
      description: Detection settings for DNS tunneling threats provided by Sky ATP
    marvis1:
      title: marvis1
      type: object
      properties:
        auto_operations:
          allOf:
          - $ref: '#/components/schemas/marvis_auto_operations2'
          - description: Automatic remediation operations controlled by Marvis
      description: AI assistant settings for Marvis at the site
    tunnel_config_auth_algo1:
      title: tunnel_config_auth_algo1
      enum:
      - md5
      - sha1
      - sha2
      type: string
      description: 'Integrity algorithm used by this IPsec proposal. enum: `md5`, `sha1`, `sha2`.'
    network_vpn_access_config:
      title: network_vpn_access_config
      type: object
      properties:
        advertised_subnet:
          type: string
          description: If `routed`==`true`, whether to advertise an aggregated subnet toward HUB this is useful when there are multiple networks on SPOKE's side
          examples:
          - 172.16.0.0/24
        allow_ping:
          type: boolean
          description: Whether to allow ping from vpn into this routed network
        destination_nat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/network_vpn_access_destination_nat_property'
          description: Destination NAT rules applied for VPN access to this network
        nat_pool:
          type: string
          description: If `routed`==`false` (usually at Spoke), but some hosts needs to be reachable from Hub, a subnet is required to create and advertise the route to Hub
          examples:
          - 172.16.0.0/26
        no_readvertise_to_lan_bgp:
          type: boolean
          description: toward LAN-side BGP peers
          default: false
        no_readvertise_to_lan_ospf:
          type: boolean
          description: toward LAN-side OSPF peers
          default: false
        no_readvertise_to_overlay:
          type: boolean
          description: toward overlay, how HUB should deal with routes it received from Spokes
        other_vrfs:
          type: array
          items:
            type: string
          description: Other VRFs that can receive leaked routes from this spoke network
        routed:
          type: boolean
          description: Whether this network is routable
        source_nat:
          allOf:
          - $ref: '#/components/schemas/network_source_nat2'
          - description: Source NAT settings used when non-routed spoke hosts must be reachable from the hub
        static_nat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/network_vpn_access_static_nat_property'
          description: Static NAT rules applied for VPN access to this network
        summarized_subnet:
          type: string
          description: toward overlay, how HUB should deal with routes it received from Spokes
          examples:
          - 172.16.0.0/16
        summarized_subnet_to_lan_bgp:
          type: string
          description: toward LAN-side BGP peers
          examples:
          - 172.16.0.0/16
        summarized_subnet_to_lan_ospf:
          type: string
          description: toward LAN-side OSPF peers
          examples:
          - 172.16.0.0/16
      description: VPN access settings for a network and VPN pair
    gateway_oob_ip_config3:
      title: gateway_oob_ip_config3
      type: object
      properties:
        gateway:
          type: string
          description: Default gateway for the out-of-band management interface when `type`==`static`
        ip:
          type: string
          description: Static IPv4 address for the out-of-band management interface when `type`==`static`
        netmask:
          type: string
          description: IPv4 netmask or prefix length for the out-of-band management interface when `type`==`static`
        node1:
          allOf:
          - $ref: '#/components/schemas/gateway_oob_ip_config_node12'
          - description: Out-of-band management IP configuration override for node1 in an HA cluster
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type2'
          - description: 'IP assignment mode for the out-of-band management interface. enum: `dhcp`, `static`.'
            examples:
            - static
        use_mgmt_vrf:
          type: boolean
          description: If supported on the platform. If enabled, DNS will be using this routing-instance, too
          default: false
        use_mgmt_vrf_for_host_out:
          type: boolean
          description: For host-out traffic (NTP/TACPLUS/RADIUS/SYSLOG/SNMP), if alternative source network/ip is desired
          default: false
        vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
          description: VLAN ID used for out-of-band management traffic
      description: Out-of-band management IP defaults in this gateway template
    remote_syslog2:
      title: remote_syslog2
      type: object
      properties:
        archive:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_archive3'
          - description: Retention settings for generated syslog archive files
        cacerts:
          type: array
          items:
            type: string
          description: CA certificates used to verify TLS syslog servers
          examples:
          - - '-----BEGIN CERTIFICATE-----\nMIIFZjCCA06gAwIBAgIIP61/1qm/uDowDQYJKoZIhvcNAQELBQE\n-----END CERTIFICATE-----'
            - '-----BEGIN CERTIFICATE-----\nBhMCRVMxFDASBgNVBAoMC1N0YXJ0Q29tIENBMSwwKgYDVn-----END CERTIFICATE-----'
        console:
          allOf:
          - $ref: '#/components/schemas/remote_syslog_console2'
          - description: Log forwarding filters for console messages sent to remote syslog
        enabled:
          type: boolean
          description: Whether remote syslog forwarding is enabled
          default: false
        files:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_file_config'
          description: Local syslog file definitions to generate and forward
        network:
          type: string
          description: Source network used for syslog traffic. If `source_address` is configured, Mist uses the VLAN first; otherwise it uses `source_ip`
          examples:
          - default
        send_to_all_servers:
          type: boolean
          description: Whether each log entry is sent to all configured remote syslog servers
          default: false
        servers:
          type: array
          items:
            $ref: '#/components/schemas/remote_syslog_server'
          description: Remote syslog server destinations
          examples:
          - - facility: config
              host: syslogd.internal
              port: 514
              protocol: udp
              severity: info
              tag: ''
        time_format:
          allOf:
[...]
