openapi: 3.2.0
info:
  title: Mist Orgs RF Templates API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs RF Templates
  description: 'Rf Templates are a feature in Juniper Mist wireless assurance that allow for uniform radio configurations to be applied across all sites in an organization.


    These templates can be customized to include model-specific exceptions and settings for different use cases.


    RF Templates enable the management of radio bands, channel width, transmission power, and ap antenna gain.


    They provide a centralized way to configure and apply these settings to all access points within an organization.'
paths:
  /api/v1/orgs/{org_id}/rftemplates:
    parameters: []
    get:
      tags:
      - Orgs RF Templates
      summary: listOrgRfTemplates
      description: List organization RF templates used by RRM to apply radio settings across sites.
      operationId: listOrgRfTemplates
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/rf_template'
                description: List of RF templates
                examples:
                - - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/rf_template'
                description: List of RF templates
                examples:
                - - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs RF Templates
      summary: createOrgRfTemplate
      description: 'Create an organization RF template with 2.4, 5, and 6 GHz radio

        settings, country code, scanning behavior, antenna gain, and model-specific

        overrides.


        To assign a RF template to a site, use the Update Site endpoint and specify the RF template ID in the `rftemplate_id` field of the request body.'
      operationId: createOrgRfTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/rf_template'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/rf_template'
                - description: RF template used by the current RRM calculation
                  examples:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/rf_template'
                - description: RF template used by the current RRM calculation
                  examples:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/rftemplates/{rftemplate_id}:
    parameters: []
    delete:
      tags:
      - Orgs RF Templates
      summary: deleteOrgRfTemplate
      description: Delete an organization RF template by template ID so it can no longer be applied to sites.
      operationId: deleteOrgRfTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: rftemplate_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs RF Templates
      summary: getOrgRfTemplate
      description: Retrieve details for a specific organization RF template, including radio settings, country code, scanning behavior, antenna gain, and model-specific overrides.
      operationId: getOrgRfTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: rftemplate_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/rf_template'
                - description: RF template used by the current RRM calculation
                  examples:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/rf_template'
                - description: RF template used by the current RRM calculation
                  examples:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs RF Templates
      summary: updateOrgRfTemplate
      description: Update an organization RF template, including radio settings, country code, scanning behavior, antenna gain, and model-specific overrides.
      operationId: updateOrgRfTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: rftemplate_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/rf_template'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/rf_template'
                - description: RF template used by the current RRM calculation
                  examples:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/rf_template'
                - description: RF template used by the current RRM calculation
                  examples:
                  - ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      bandwidth: 20
                      channels:
                      - 1
                      - 6
                      - 11
                      disabled: false
                      power_max: 11
                      power_min: 3
                      preamble: short
                    band_24_usage: auto
                    band_5:
                      allow_rrm_disable: false
                      ant_gain: 0
                      bandwidth: 80
                      channels:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 149
                      - 153
                      - 157
                      - 161
                      disabled: false
                      power_max: 16
                      power_min: 9
                      preamble: short
                    country_code: FR
                    created_time: 1594743723
                    enable_unii_4: false
                    id: b3f20330-f76a-49f1-bc65-0d8727140b1d
                    model_specific: {}
                    modified_time: 1613582192
                    name: Lab
                    org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    rf_template_model_specific_property:
      title: rf_template_model_specific_property
      type: object
      properties:
        ant_gain_24:
          type: integer
          description: Model-specific external antenna gain for the 2.4 GHz radio
          contentEncoding: int32
          default: 0
        ant_gain_5:
          type: integer
          description: Model-specific external antenna gain for the 5 GHz radio
          contentEncoding: int32
          default: 0
        ant_gain_6:
          type: integer
          description: Model-specific external antenna gain for the 6 GHz radio
          contentEncoding: int32
          default: 0
        band_24:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band241'
          - description: Model-specific 2.4 GHz radio settings that override RF template defaults
        band_24_usage:
          allOf:
          - $ref: '#/components/schemas/radio_band_24_usage3'
          - description: 'Model-specific radio usage mode for the 2.4 GHz-capable radio. enum: `24`, `5`, `6`, `auto`.'
        band_5:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band52'
          - description: Model-specific 5 GHz radio settings that override RF template defaults
        band_5_on_24_radio:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band53'
          - description: Model-specific 5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode
        band_6:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band61'
          - description: Model-specific 6 GHz radio settings that override RF template defaults
      description: AP model-specific RF overrides for an RF template
    radio_band_24_usage2:
      title: radio_band_24_usage2
      enum:
      - '24'
      - '5'
      - '6'
      - auto
      type: string
      description: 'Radio usage mode for the 2.4 GHz-capable radio in this RF template. enum: `24`, `5`, `6`, `auto`.'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    rftemplate_radio_band52:
      title: rftemplate_radio_band52
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 5 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 5 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode1'
          - description: 'Radio chain mode for the 5 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth52'
          - description: 'Channel width configured for the 5 GHz radio. enum: `0`, `20`, `40`, `80`.'
            examples:
            - 40
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 6
        power_max:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble1'
          - description: '802.11 preamble mode used by the 5 GHz radio. enum: `auto`, `long`, `short`.'
      description: Model-specific 5 GHz radio settings that override RF template defaults
    radio_band_24_usage3:
      title: radio_band_24_usage3
      enum:
      - '24'
      - '5'
      - '6'
      - auto
      type: string
      description: 'Model-specific radio usage mode for the 2.4 GHz-capable radio. enum: `24`, `5`, `6`, `auto`.'
    rftemplate_radio_band55:
      title: rftemplate_radio_band55
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 5 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 5 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode1'
          - description: 'Radio chain mode for the 5 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth52'
          - description: 'Channel width configured for the 5 GHz radio. enum: `0`, `20`, `40`, `80`.'
            examples:
            - 40
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 6
        power_max:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble1'
          - description: '802.11 preamble mode used by the 5 GHz radio. enum: `auto`, `long`, `short`.'
      description: 5 GHz radio settings in this RF template
    rftemplate_radio_band61:
      title: rftemplate_radio_band61
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 6 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 6 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode2'
          - description: 'Radio chain mode for the 6 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth62'
          - description: 'Channel width configured for the 6 GHz radio. enum: `0`, `20`, `40`, `80`, `160`.'
            examples:
            - 80
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 6 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 7
        power_max:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 18
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble2'
          - description: '802.11 preamble mode used by the 6 GHz radio. enum: `auto`, `long`, `short`.'
        standard_power:
          type: boolean
          description: For 6GHz Only, standard-power operation, AFC (Automatic Frequency Coordination) will be performed, and we'll fall back to Low Power Indoor if AFC failed
          default: false
      description: Model-specific 6 GHz radio settings that override RF template defaults
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    rf_template:
      title: rf_template
      required:
      - name
      type: object
      properties:
        ant_gain_24:
          type: integer
          description: External antenna gain for the 2.4 GHz radio
          contentEncoding: int32
        ant_gain_5:
          type: integer
          description: External antenna gain for the 5 GHz radio
          contentEncoding: int32
        ant_gain_6:
          type: integer
          description: External antenna gain for the 6 GHz radio
          contentEncoding: int32
        band_24:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band243'
          - description: 2.4 GHz radio settings in this RF template
        band_24_usage:
          allOf:
          - $ref: '#/components/schemas/radio_band_24_usage2'
          - description: 'Radio usage mode for the 2.4 GHz-capable radio in this RF template. enum: `24`, `5`, `6`, `auto`.'
        band_5:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band55'
          - description: 5 GHz radio settings in this RF template
        band_5_on_24_radio:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band51'
          - description: 5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode
        band_6:
          allOf:
          - $ref: '#/components/schemas/rftemplate_radio_band63'
          - description: 6 GHz radio settings in this RF template
        country_code:
          type: string
          description: Optional, country code to use. If specified, this gets applied to all sites using the RF Template
        created_time:
          type: number
          description: Timestamp when the RF template was created
          readOnly: true
        enable_unii_4:
          type: boolean
          description: Whether U-NII-4 channels (169, 173, 177) are enabled
          default: false
        for_site:
          type: boolean
          description: Whether the RF template is scoped to a site rather than the organization
          readOnly: true
        id:
          type: string
          description: Unique identifier of the RF template
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        model_specific:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/rf_template_model_specific_property'
          description: overwrites for a specific model. If a band is specified, it will shadow the default. Property key is the model name (e.g. "AP63")
        modified_time:
          type: number
          description: Timestamp when the RF template was last modified
          readOnly: true
        name:
          type: string
          description: The name of the RF template
        org_id:
          type: string
          description: Organization that owns this RF template
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        scanning_enabled:
          type: boolean
          description: Whether scanning radio is enabled
      description: RF template used by the current RRM calculation
    dot11_bandwidth62:
      title: dot11_bandwidth62
      enum:
      - 0
      - 20
      - 40
      - 80
      - 160
      type: integer
      description: 'Channel width configured for the 6 GHz radio. enum: `0`, `20`, `40`, `80`, `160`.'
      examples:
      - 80
    radio_band_antenna_mode1:
      title: radio_band_antenna_mode1
      enum:
      - 1x1
      - 2x2
      - 3x3
      - 4x4
      - default
      type: string
      description: 'Radio chain mode for the 5 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
      examples:
      - default
    rftemplate_radio_band241:
      title: rftemplate_radio_band241
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 2.4 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 2.4 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode4'
          - description: 'Radio chain mode for the 2.4 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth242'
          - description: 'Channel width configured for the 2.4 GHz radio. enum: `0`, `20`, `40`.'
            examples:
            - 20
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 2.4 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 3
        power_max:
          maximum: 18
          minimum: 3
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 18
          minimum: 3
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble4'
          - description: '802.11 preamble mode used by the 2.4 GHz radio. enum: `auto`, `long`, `short`.'
      description: Model-specific 2.4 GHz radio settings that override RF template defaults
    rftemplate_radio_band243:
      title: rftemplate_radio_band243
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 2.4 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 2.4 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode4'
          - description: 'Radio chain mode for the 2.4 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth242'
          - description: 'Channel width configured for the 2.4 GHz radio. enum: `0`, `20`, `40`.'
            examples:
            - 20
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 2.4 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 3
        power_max:
          maximum: 18
          minimum: 3
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 18
          minimum: 3
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble4'
          - description: '802.11 preamble mode used by the 2.4 GHz radio. enum: `auto`, `long`, `short`.'
      description: 2.4 GHz radio settings in this RF template
    radio_band_preamble4:
      title: radio_band_preamble4
      enum:
      - auto
      - long
      - short
      type: string
      description: '802.11 preamble mode used by the 2.4 GHz radio. enum: `auto`, `long`, `short`.'
    dot11_bandwidth52:
      title: dot11_bandwidth52
      enum:
      - 0
      - 20
      - 40
      - 80
      type: integer
      description: 'Channel width configured for the 5 GHz radio. enum: `0`, `20`, `40`, `80`.'
      examples:
      - 40
    rftemplate_radio_band63:
      title: rftemplate_radio_band63
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 6 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 6 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode2'
          - description: 'Radio chain mode for the 6 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth62'
          - description: 'Channel width configured for the 6 GHz radio. enum: `0`, `20`, `40`, `80`, `160`.'
            examples:
            - 80
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 6 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 7
        power_max:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 18
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble2'
          - description: '802.11 preamble mode used by the 6 GHz radio. enum: `auto`, `long`, `short`.'
        standard_power:
          type: boolean
          description: For 6GHz Only, standard-power operation, AFC (Automatic Frequency Coordination) will be performed, and we'll fall back to Low Power Indoor if AFC failed
          default: false
      description: 6 GHz radio settings in this RF template
    rftemplate_radio_band53:
      title: rftemplate_radio_band53
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 5 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 5 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode1'
          - description: 'Radio chain mode for the 5 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth52'
          - description: 'Channel width configured for the 5 GHz radio. enum: `0`, `20`, `40`, `80`.'
            examples:
            - 40
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 6
        power_max:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble1'
          - description: '802.11 preamble mode used by the 5 GHz radio. enum: `auto`, `long`, `short`.'
      description: Model-specific 5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode
    rftemplate_radio_band51:
      title: rftemplate_radio_band51
      type: object
      properties:
        allow_rrm_disable:
          type: boolean
          description: Whether RRM may disable the 5 GHz radio when optimizing RF settings
          default: false
        ant_gain:
          maximum: 10
          minimum: 0
          type:
          - integer
          - 'null'
          description: External antenna gain for the 5 GHz radio
          contentEncoding: int32
          default: 0
        antenna_mode:
          allOf:
          - $ref: '#/components/schemas/radio_band_antenna_mode1'
          - description: 'Radio chain mode for the 5 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
            examples:
            - default
        bandwidth:
          allOf:
          - $ref: '#/components/schemas/dot11_bandwidth52'
          - description: 'Channel width configured for the 5 GHz radio. enum: `0`, `20`, `40`, `80`.'
            examples:
            - 40
        channels:
          type:
          - array
          - 'null'
          items:
            type: integer
            contentEncoding: int32
          description: Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection
          default: []
        disabled:
          type: boolean
          description: Whether to disable the radio
          default: false
        power:
          maximum: 25
          minimum: 0
          type:
          - integer
          - 'null'
          description: Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode
          contentEncoding: int32
          examples:
          - 6
        power_max:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, max tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        power_min:
          maximum: 17
          minimum: 5
          type:
          - integer
          - 'null'
          description: When power=null/unset, min tx power to use, HW-specific values will be used if not set
          contentEncoding: int32
        preamble:
          allOf:
          - $ref: '#/components/schemas/radio_band_preamble1'
          - description: '802.11 preamble mode used by the 5 GHz radio. enum: `auto`, `long`, `short`.'
      description: 5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode
    radio_band_antenna_mode2:
      title: radio_band_antenna_mode2
      enum:
      - 1x1
      - 2x2
      - 3x3
      - 4x4
      - default
      type: string
      description: 'Radio chain mode for the 6 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
      examples:
      - default
    dot11_bandwidth242:
      title: dot11_bandwidth242
      enum:
      - 0
      - 20
      - 40
      type: integer
      description: 'Channel width configured for the 2.4 GHz radio. enum: `0`, `20`, `40`.'
      examples:
      - 20
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    radio_band_preamble1:
      title: radio_band_preamble1
      enum:
      - auto
      - long
      - short
      type: string
      description: '802.11 preamble mode used by the 5 GHz radio. enum: `auto`, `long`, `short`.'
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    radio_band_preamble2:
      title: radio_band_preamble2
      enum:
      - auto
      - long
      - short
      type: string
      description: '802.11 preamble mode used by the 6 GHz radio. enum: `auto`, `long`, `short`.'
    radio_band_antenna_mode4:
      title: radio_band_antenna_mode4
      enum:
      - 1x1
      - 2x2
      - 3x3
      - 4x4
      - default
      type: string
      description: 'Radio chain mode for the 2.4 GHz radio. enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`.'
      examples:
      - default
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
