openapi: 3.2.0
info:
  title: Mist Constants Models API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Constants Models
  description: API Calls to retrieve the list of Hardware Models and their features
paths:
  /api/v1/const/default_gateway_config:
    parameters: []
    get:
      tags:
      - Constants Models
      summary: getGatewayDefaultConfig
      description: Generate the default gateway configuration for the requested model and HA mode.
      operationId: getGatewayDefaultConfig
      parameters:
      - name: model
        in: query
        description: Device model for which to generate the default gateway config.
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - srx550
      - name: ha
        in: query
        description: Whether the config is intended for HA
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 'false'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - dhcpd_config:
                    lan:
                      ip_end: 192.168.1.254
                      ip_start: 192.168.1.2
                  ip_configs:
                    lan:
                      ip: 192.168.1.1
                      type: static
                  networks:
                    lan:
                      name: lan
                      subnet: 192.168.1.0/24
                      vlan_id: 1
                  path_preferences:
                    wan:
                      paths:
                      - name: wan
                        type: wan
                  port_config:
                    cl-1/0/0:
                      ip_config:
                        type: dhcp
                      name: lte
                      usage: wan
                      wan_type: lte
                    ge-0/0/0,ge-0/0/7:
                      ip_config:
                        type: dhcp
                      name: wan
                      usage: wan
                    ge-0/0/1-6:
                      port_network: lan
                      usage: lan
                  service_policies:
                  - action: allow
                    name: Internet
                    path_preference: wan
                    services:
                    - any
                    tenants:
                    - lan
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                        - name: wan
                          type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      ge-0/0/0,ge-0/0/7:
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                    - action: allow
                      name: Internet
                      path_preference: wan
                      services:
                      - any
                      tenants:
                      - lan
            application/vnd.api+json:
              schema:
                type: object
                examples:
                - dhcpd_config:
                    lan:
                      ip_end: 192.168.1.254
                      ip_start: 192.168.1.2
                  ip_configs:
                    lan:
                      ip: 192.168.1.1
                      type: static
                  networks:
                    lan:
                      name: lan
                      subnet: 192.168.1.0/24
                      vlan_id: 1
                  path_preferences:
                    wan:
                      paths:
                      - name: wan
                        type: wan
                  port_config:
                    cl-1/0/0:
                      ip_config:
                        type: dhcp
                      name: lte
                      usage: wan
                      wan_type: lte
                    ge-0/0/0,ge-0/0/7:
                      ip_config:
                        type: dhcp
                      name: wan
                      usage: wan
                    ge-0/0/1-6:
                      port_network: lan
                      usage: lan
                  service_policies:
                  - action: allow
                    name: Internet
                    path_preference: wan
                    services:
                    - any
                    tenants:
                    - lan
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                        - name: wan
                          type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      ge-0/0/0,ge-0/0/7:
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                    - action: allow
                      name: Internet
                      path_preference: wan
                      services:
                      - any
                      tenants:
                      - lan
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/device_models:
    parameters: []
    get:
      tags:
      - Constants Models
      summary: listDeviceModels
      description: Return AP, Switch and Gateway device models supported by Mist, including their features and capabilities.
      operationId: listDeviceModels
      parameters: []
      responses:
        '200':
          description: List of supported device models
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_device_model'
                description: Device model definitions returned by the constants API
                examples:
                - '[{"defaults":{"ha_control_port":"ge-0/0/1","ha_data_ports":"ge-0/0/2,ge-3/0/2","ha_fxp0_port":"ge-0/0/0","ha_lan_ports":"ge-0/0/4,ge-3/0/4","ha_wan_ports":"ge-0/0/3,ge-3/0/3","lan_ports":"ge-0/0/1-6","lte_wan_ports":"cl-1/0/0","wan_ports":"ge-0/0/0,ge-0/0/7"},"description":"Juniper SRX320 Series","fans_pluggable":false,"ha_node0_fpc":3,"ha_node1_fpc":3,"has_bgp":true,"has_fxp0":false,"has_ha_control":false,"has_ha_data":false,"has_irb":true,"has_poe_out":true,"has_snapshot":true,"irb_disabled_by_default":false,"model":"SRX320","number_fans":1,"oc_device":true,"pic":{"0":"ge*6, sfp*2"},"sub_required":"wan1","type":"gateway"}]'
                - '[{"alias":"EX4100-48P-CHAS","defaults":{"_ports":"ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3"},"description":"Juniper EX4100 Series","display":"EX4100-48P","evolved_os":false,"evpn_ri_type":"mac-vrf","fans_pluggable":true,"has_bgp":true,"has_ets":true,"has_evpn":true,"has_irb":true,"has_poe_out":true,"model":"EX4100-48P","modular":true,"number_fans":2,"oc_device":true,"oob_interface":"re0:mgmt-0, re1:mgmt-0","pic":{"0":"ge*48","1":"qsfp+*4","2":"sfp+*4 (uplink)"},"sub_required":"string","type":"switch"}]'
                contentMediaType: application/json
              examples:
                Gateway:
                  value:
                  - defaults:
                      ha_control_port: ge-0/0/1
                      ha_data_ports: ge-0/0/2,ge-3/0/2
                      ha_fxp0_port: ge-0/0/0
                      ha_lan_ports: ge-0/0/4,ge-3/0/4
                      ha_wan_ports: ge-0/0/3,ge-3/0/3
                      lan_ports: ge-0/0/1-6
                      lte_wan_ports: cl-1/0/0
                      wan_ports: ge-0/0/0,ge-0/0/7
                    description: Juniper SRX320 Series
                    fans_pluggable: false
                    ha_node0_fpc: 3
                    ha_node1_fpc: 3
                    has_bgp: true
                    has_fxp0: false
                    has_ha_control: false
                    has_ha_data: false
                    has_irb: true
                    has_poe_out: true
                    has_snapshot: true
                    irb_disabled_by_default: false
                    model: SRX320
                    number_fans: 1
                    oc_device: true
                    pic:
                      '0': ge*6, sfp*2
                    sub_required: wan1
                    type: gateway
                Switch:
                  value:
                  - alias: EX4100-48P-CHAS
                    defaults:
                      _ports: ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3
                    description: Juniper EX4100 Series
                    display: EX4100-48P
                    evolved_os: false
                    evpn_ri_type: mac-vrf
                    fans_pluggable: true
                    has_bgp: true
                    has_ets: true
                    has_evpn: true
                    has_irb: true
                    has_poe_out: true
                    model: EX4100-48P
                    modular: true
                    number_fans: 2
                    oc_device: true
                    oob_interface: re0:mgmt-0, re1:mgmt-0
                    pic:
                      '0': ge*48
                      '1': qsfp+*4
                      '2': sfp+*4 (uplink)
                    sub_required: string
                    type: switch
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_device_model'
                description: Device model definitions returned by the constants API
                examples:
                - '[{"defaults":{"ha_control_port":"ge-0/0/1","ha_data_ports":"ge-0/0/2,ge-3/0/2","ha_fxp0_port":"ge-0/0/0","ha_lan_ports":"ge-0/0/4,ge-3/0/4","ha_wan_ports":"ge-0/0/3,ge-3/0/3","lan_ports":"ge-0/0/1-6","lte_wan_ports":"cl-1/0/0","wan_ports":"ge-0/0/0,ge-0/0/7"},"description":"Juniper SRX320 Series","fans_pluggable":false,"ha_node0_fpc":3,"ha_node1_fpc":3,"has_bgp":true,"has_fxp0":false,"has_ha_control":false,"has_ha_data":false,"has_irb":true,"has_poe_out":true,"has_snapshot":true,"irb_disabled_by_default":false,"model":"SRX320","number_fans":1,"oc_device":true,"pic":{"0":"ge*6, sfp*2"},"sub_required":"wan1","type":"gateway"}]'
                - '[{"alias":"EX4100-48P-CHAS","defaults":{"_ports":"ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3"},"description":"Juniper EX4100 Series","display":"EX4100-48P","evolved_os":false,"evpn_ri_type":"mac-vrf","fans_pluggable":true,"has_bgp":true,"has_ets":true,"has_evpn":true,"has_irb":true,"has_poe_out":true,"model":"EX4100-48P","modular":true,"number_fans":2,"oc_device":true,"oob_interface":"re0:mgmt-0, re1:mgmt-0","pic":{"0":"ge*48","1":"qsfp+*4","2":"sfp+*4 (uplink)"},"sub_required":"string","type":"switch"}]'
                contentMediaType: application/vnd.api+json
              examples:
                Gateway:
                  value:
                  - defaults:
                      ha_control_port: ge-0/0/1
                      ha_data_ports: ge-0/0/2,ge-3/0/2
                      ha_fxp0_port: ge-0/0/0
                      ha_lan_ports: ge-0/0/4,ge-3/0/4
                      ha_wan_ports: ge-0/0/3,ge-3/0/3
                      lan_ports: ge-0/0/1-6
                      lte_wan_ports: cl-1/0/0
                      wan_ports: ge-0/0/0,ge-0/0/7
                    description: Juniper SRX320 Series
                    fans_pluggable: false
                    ha_node0_fpc: 3
                    ha_node1_fpc: 3
                    has_bgp: true
                    has_fxp0: false
                    has_ha_control: false
                    has_ha_data: false
                    has_irb: true
                    has_poe_out: true
                    has_snapshot: true
                    irb_disabled_by_default: false
                    model: SRX320
                    number_fans: 1
                    oc_device: true
                    pic:
                      '0': ge*6, sfp*2
                    sub_required: wan1
                    type: gateway
                Switch:
                  value:
                  - alias: EX4100-48P-CHAS
                    defaults:
                      _ports: ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3
                    description: Juniper EX4100 Series
                    display: EX4100-48P
                    evolved_os: false
                    evpn_ri_type: mac-vrf
                    fans_pluggable: true
                    has_bgp: true
                    has_ets: true
                    has_evpn: true
                    has_irb: true
                    has_poe_out: true
                    model: EX4100-48P
                    modular: true
                    number_fans: 2
                    oc_device: true
                    oob_interface: re0:mgmt-0, re1:mgmt-0
                    pic:
                      '0': ge*48
                      '1': qsfp+*4
                      '2': sfp+*4 (uplink)
                    sub_required: string
                    type: switch
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/mxedge_models:
    parameters: []
    get:
      tags:
      - Constants Models
      summary: listMxEdgeModels
      description: Return Mist Edge models supported by Mist, including their capabilities.
      operationId: listMxEdgeModels
      parameters: []
      responses:
        '200':
          description: List of MxEdge Models
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_mxedge_model'
                description: Mist Edge model definitions returned by the constants API
                examples:
                - - display: X10
                    model: ME-X10
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - display: X10
                    model: ME-X10
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_mxedge_model'
                description: Mist Edge model definitions returned by the constants API
                examples:
                - - display: X10
                    model: ME-X10
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - display: X10
                    model: ME-X10
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/const/otherdevice_models:
    parameters: []
    get:
      tags:
      - Constants Models
      summary: listSupportedOtherDeviceModels
      description: Return supported models for other or third-party devices.
      operationId: listSupportedOtherDeviceModels
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_other_device_model'
                description: Other-device model definitions returned by the constants API
                examples:
                - - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/const_other_device_model'
                description: Other-device model definitions returned by the constants API
                examples:
                - - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    const_device_ap_band242:
      title: const_device_ap_band242
      type: object
      properties:
        band5_channels_op:
          type: string
          description: 5 GHz channel set used when this radio operates on 5 GHz
          examples:
          - low
        max_clients:
          type: integer
          description: Maximum client count supported on the 2.4 GHz radio
          contentEncoding: int32
          examples:
          - 128
        max_power:
          type: integer
          description: Maximum transmit power for the 2.4 GHz radio, in dBm
          contentEncoding: int32
          examples:
          - 19
        min_power:
          type: integer
          description: Minimum transmit power for the 2.4 GHz radio, in dBm
          contentEncoding: int32
          examples:
          - 8
      description: 2.4 GHz radio capability limits for this AP model
    const_device_model:
      oneOf:
      - $ref: '#/components/schemas/const_device_ap'
      - $ref: '#/components/schemas/const_device_switch'
      - $ref: '#/components/schemas/const_device_gateway'
      description: Device model definition returned by the constants API
      discriminator:
        propertyName: type
        mapping:
          ap: const_device_ap
          gateway: const_device_switch
          switch: const_device_gateway
    const_device_ap_band_24_usage:
      title: const_device_ap_band_24_usage
      enum:
      - '24'
      - '5'
      - '6'
      type: string
      description: 'enum: `24`, `5`, `6`'
    const_mxedge_model_port:
      title: const_mxedge_model_port
      type: object
      properties:
        display:
          type: string
          description: User-facing interface name for this Mist Edge port
          examples:
          - xe0
        speed:
          type: integer
          description: Port speed for the Mist Edge interface, in Mbps
          contentEncoding: int32
          examples:
          - 10000
      description: Mist Edge model port metadata
    const_device_ap:
      title: const_device_ap
      required:
      - ap_type
      - type
      type: object
      properties:
        ap_type:
          type: string
          description: Internal AP platform type identifier
          examples:
          - jewel
        band24:
          allOf:
          - $ref: '#/components/schemas/const_device_ap_band242'
          - description: 2.4 GHz radio capability limits for this AP model
        band5:
          allOf:
          - $ref: '#/components/schemas/const_device_ap_band52'
          - description: 5 GHz radio capability limits for this AP model
        band6:
          allOf:
          - $ref: '#/components/schemas/const_device_ap_band62'
          - description: 6 GHz radio capability limits for this AP model
        band_24_usages:
          type: array
          items:
            $ref: '#/components/schemas/const_device_ap_band_24_usage'
          description: Supported RF band usages for the 2.4 GHz radio on this AP model
        ce_dfs_ok:
          type: boolean
          description: Whether DFS operation is allowed for this AP model under CE rules
          examples:
          - true
        cisco_pace:
          type: boolean
          description: Whether the AP model supports Cisco PACE interoperability
        description:
          type: string
          description: Product description for the AP model
          examples:
          - AP-45
        disallowed_channels:
          type: object
          additionalProperties:
            type: array
            items:
              type: integer
              format: int32
            description: Property key is a list of country codes (e.g. "GB, DE")
          description: Property key is a list of country codes (e.g. "GB, DE")
        display:
          type: string
          description: User-facing model name shown for the AP
          examples:
          - AP45
        extio:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/const_device_ap_extios'
          description: Property key is the GPIO port name (e.g. "D0", "A1")
        fcc_dfs_ok:
          type: boolean
          description: Whether DFS operation is allowed for this AP model under FCC rules
          examples:
          - true
        has_11ax:
          type: boolean
          description: Whether the AP model supports 802.11ax
        has_compass:
          type: boolean
          description: Whether the AP model includes a compass sensor
          examples:
          - false
        has_ext_ant:
          type: boolean
          description: Whether the AP model supports external antennas
        has_extio:
          type: boolean
          description: Whether the AP model exposes external I/O ports
          examples:
          - false
        has_height:
          type: boolean
          description: Whether mounting height can be configured for this AP model
          examples:
          - false
        has_module_port:
          type: boolean
          description: Whether the AP model includes a module port
        has_poe_out:
          type: boolean
          description: Whether the AP model supports PoE output
          examples:
          - true
        has_scanning_radio:
          type: boolean
          description: Whether the AP model has scanning-radio capability
          examples:
          - true
        has_selectable_radio:
          type: boolean
          description: Whether the AP model has selectable radio modes
          examples:
          - true
        has_usb:
          type: boolean
          description: Whether the AP model includes a USB port
        has_vble:
          type: boolean
          description: Whether the AP model supports virtual BLE (vBLE)
          examples:
          - true
        has_wifi_band24:
          type: boolean
          description: Whether the AP model supports 2.4 GHz Wi-Fi
          examples:
          - true
        has_wifi_band5:
          type: boolean
          description: Whether the AP model supports 5 GHz Wi-Fi
          examples:
          - true
        has_wifi_band6:
          type: boolean
          description: Whether the AP model supports 6 GHz Wi-Fi
          examples:
          - true
        max_poe_out:
          type: integer
          description: Maximum PoE-out power budget supported by the AP model, in milliwatts
          contentEncoding: int32
          examples:
          - 15400
        max_wlans:
          type: integer
          description: Maximum number of WLANs supported by this AP model
          contentEncoding: int32
        model:
          type: string
          description: AP model identifier for this capability definition
          examples:
          - AP45
        other_dfs_ok:
          type: boolean
          description: Whether DFS operation is allowed for this AP model in other regulatory domains
          examples:
          - true
        outdoor:
          type: boolean
          description: Whether the AP model is rated for outdoor deployment
        radios:
          type: object
          additionalProperties:
            type: string
          description: Property key is the radio number (e.g. r0, r1, ...). Property value is the RF band (e.g. "24", "5", ...)
          examples:
          - r0: '6'
            r1: '5'
            r2: '24'
        shared_scanning_radio:
          type: boolean
          description: Whether scanning-radio capability shares a radio with client service
        type:
          const: ap
          type: string
          description: Device type for this AP model definition
          readOnly: true
        unmanaged:
          type: boolean
          description: Whether this AP model is listed as unmanaged in the constants catalog
        vble:
          allOf:
          - $ref: '#/components/schemas/const_device_ap_vble2'
          - description: Virtual BLE (vBLE) capability settings for this AP model
      description: AP model capability definition returned by the constants API
    const_device_ap_band62:
      title: const_device_ap_band62
      type: object
      properties:
        max_clients:
          type: integer
          description: Maximum client count supported on the 6 GHz radio
          contentEncoding: int32
          examples:
          - 128
        max_power:
          type: integer
          description: Maximum transmit power for the 6 GHz radio, in dBm
          contentEncoding: int32
          examples:
          - 17
        min_power:
          type: integer
          description: Minimum transmit power for the 6 GHz radio, in dBm
          contentEncoding: int32
          examples:
          - 8
      description: 6 GHz radio capability limits for this AP model
    const_device_gateway:
      title: const_device_gateway
      required:
      - type
      type: object
      properties:
        defaults:
          type: object
          additionalProperties:
            type: string
          description: Default interface group mappings for this gateway model
        description:
          type: string
          description: Product description for the gateway model
        experimental:
          type: boolean
          description: Whether this gateway model is marked experimental in the constants catalog
          default: false
        fans_pluggable:
          type: boolean
          description: Whether the gateway model has field-replaceable fans
          default: true
        ha_node0_fpc:
          type: integer
          description: FPC number used for node0 in HA deployments
          contentEncoding: int32
        ha_node1_fpc:
          type: integer
          description: FPC number used for node1 in HA deployments
          contentEncoding: int32
        has_bgp:
          type: boolean
          description: Whether the gateway model supports BGP
          default: false
        has_fxp0:
          type: boolean
          description: Whether the gateway model includes an fxp0 management interface
          default: true
        has_ha_control:
          type: boolean
          description: Whether the gateway model has a dedicated HA control port
          default: false
        has_ha_data:
          type: boolean
          description: Whether the gateway model has dedicated HA data ports
          default: false
        has_irb:
          type: boolean
          description: Whether the gateway model supports IRB interfaces
          default: false
        has_poe_out:
          type: boolean
          description: Whether the gateway model supports PoE output
          default: true
        has_snapshot:
          type: boolean
          description: Whether the gateway model supports configuration snapshots
          default: true
        irb_disabled_by_default:
          type: boolean
          description: Whether IRB interfaces are disabled by default on this gateway model
          default: false
        model:
          type: string
          description: Gateway model identifier for this capability definition
        number_fans:
          type: integer
          description: Number of fans in the gateway model
          contentEncoding: int32
        oc_device:
          type: boolean
          description: Whether this gateway model is identified as an OpenConfig-managed device
          default: false
        pic:
          type: object
          additionalProperties:
            type: string
          description: Physical Interface Card port layout for this gateway model
        ports:
          allOf:
          - $ref: '#/components/schemas/const_device_gateway_ports2'
          - description: Per-interface metadata for this gateway model
        sub_required:
          type: string
          description: Subscription type required for this gateway model
        t128_device:
          type: boolean
          description: Whether this gateway model is a 128 Technology or SSR device
          default: false
        type:
          const: gateway
          type: string
          description: Device type for this gateway model definition
          readOnly: true
      description: Gateway model capability definition returned by the constants API
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    const_device_ap_extios_default_dir2:
      title: const_device_ap_extios_default_dir2
      enum:
      - IN
      - OUT
      type: string
      description: 'Default direction for this external I/O port. enum: `IN`, `OUT`.'
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    const_device_gateway_ports2:
      title: const_device_gateway_ports2
      type: object
      properties:
        display:
          type: string
          description: User-facing interface name for the gateway port
        pci_address:
          type: string
          description: PCI address for the gateway port
        speed:
          type: integer
          description: Port speed for the gateway interface, in Mbps
          contentEncoding: int32
      description: Per-interface metadata for this gateway model
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    const_device_switch_default2:
      title: const_device_switch_default2
      type: object
      properties:
        _ports:
          type: string
          description: Default switch port range list for this model
          examples:
          - ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3
      description: Default port mappings for this switch model
    const_device_switch:
      title: const_device_switch
      required:
      - type
      type: object
      properties:
        alias:
          type: string
          description: Alternate model identifier for chassis-based switch definitions
          examples:
          - EX4100-48P-CHAS
        defaults:
          allOf:
          - $ref: '#/components/schemas/const_device_switch_default2'
          - description: Default port mappings for this switch model
        description:
          type: string
          description: Product description for the switch model
          examples:
          - Juniper EX4100 Series
        display:
          type: string
          description: User-facing model name shown for the switch
          examples:
          - EX4100-48P
        evolved_os:
          type: boolean
          description: Whether the switch model runs Junos Evolved
          default: false
        evpn_ri_type:
          type: string
          description: EVPN routing-instance type used by this switch model
          examples:
          - mac-vrf
        experimental:
          type: boolean
          description: Whether this switch model is marked experimental in the constants catalog
          default: false
        fans_pluggable:
          type: boolean
          description: Whether the switch model has field-replaceable fans
          default: false
          examples:
          - true
        has_bgp:
          type: boolean
          description: Whether the switch model supports BGP
          default: false
          examples:
          - true
        has_ets:
          type: boolean
          description: Whether the switch model supports Enhanced Transmission Selection (ETS)
          default: false
        has_evpn:
          type: boolean
          description: Whether the switch model supports EVPN
          default: false
          examples:
          - true
        has_irb:
          type: boolean
          description: Whether the switch model supports IRB interfaces
          default: false
          examples:
          - true
        has_poe_out:
          type: boolean
          description: Whether the switch model supports PoE output
          default: false
          examples:
          - true
        has_snapshot:
          type: boolean
          description: Whether the switch model supports configuration snapshots
          default: true
        has_vc:
          type: boolean
          description: Whether the switch model supports Virtual Chassis
          default: true
          examples:
          - true
        model:
          type: string
          description: Switch model identifier for this capability definition
          examples:
          - EX4100-48P
        modular:
          type: boolean
          description: Whether the switch model has modular hardware
          default: false
        no_shaping_rate:
          type: boolean
          description: Whether the switch model omits shaping-rate support
          default: false
        number_fans:
          type: integer
          description: Number of fans in the switch model
          contentEncoding: int32
          examples:
          - 2
        oc_device:
          type: boolean
          description: Whether this switch model is identified as an OpenConfig-managed device
          default: false
          examples:
          - true
        oob_interface:
          type: string
          description: Out-of-band management interface names for this switch model
          examples:
          - re0:mgmt-0, re1:mgmt-0
        packet_action_drop_only:
          type: boolean
          description: Whether packet action support is limited to drop-only behavior
          default: false
        pic:
          type: object
          additionalProperties:
            type: string
          description: Object Key is the PIC number
          examples:
          - '0': ge*48
            '1': qsfp+*4
            '2': sfp+*4 (uplink)
        sub_required:
          type: string
          description: Subscription type required for this switch model
        type:
          const: switch
          type: string
          description: Device type for this switch model definition
          readOnly: true
      description: Switch model capability definition returned by the constants API
    const_device_ap_extios:
      title: const_device_ap_extios
      type: object
      properties:
        default_dir:
          allOf:
          - $ref: '#/components/schemas/const_device_ap_extios_default_dir2'
          - description: 'Default direction for this external I/O port. enum: `IN`, `OUT`.'
        input:
          type: boolean
          description: Whether this external I/O port supports input mode
        output:
          type: boolean
          description: Whether this external I/O port supports output mode
      description: External I/O port capabilities for an AP model
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    const_device_ap_band52:
      title: const_device_ap_band52
      type: object
      properties:
        max_clients:
          type: integer
          description: Maximum client count supported on the 5 GHz radio
          contentEncoding: int32
          examples:
          - 128
        max_power:
          type: integer
          description: Maximum transmit power for the 5 GHz radio, in dBm
          contentEncoding: int32
          examples:
          - 17
        min_power:
          type: integer
          description: Minimum transmit power for the 5 GHz radio, in dBm
          contentEncoding: int32
          examples:
          - 8
      description: 5 GHz radio capability limits for this AP model
    const_mxedge_model:
      title: const_mxedge_model
      type: object
      properties:
        custom_ports:
          type: boolean
          description: Whether this Mist Edge model supports custom port definitions
        display:
          type: string
          description: User-facing model name shown for the Mist Edge
          examples:
          - X10
        model:
          type: string
          description: Mist Edge model identifier
          examples:
          - ME-X10
        ports:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/const_mxedge_model_port'
          description: Port metadata keyed by interface number for this Mist Edge model
      description: Mist Edge model definition returned by the constants API
    const_device_ap_vble2:
      title: const_device_ap_vble2
      type: object
      properties:
        beacon_rate:
          type: integer
          description: Advertisement rate for the virtual BLE beacon
          contentEncoding: int32
          examples:
          - 4
        beams:
          type: integer
          description: Number of virtual BLE beams supported by the AP model
          contentEncoding: int32
          examples:
          - 9
        power:
          type: integer
          description: Transmit power for virtual BLE beacons, in dBm
          contentEncoding: int32
          examples:
          - 8
      description: Virtual BLE (vBLE) capability settings for this AP model
    const_other_device_model:
      title: const_other_device_model
      type: object
      properties:
        _vendor_model_id:
          type: string
          description: Vendor-specific model identifier for this other-device model
        display:
          type: string
          description: User-facing model name shown for the other-device model
        model:
          type: string
          description: Device model identifier for this other-device definition
        type:
          type: string
          description: Device category for this other-device model
        vendor:
          type: string
          description: Manufacturer name for this other-device model
      description: Other-device model definition returned by the constants API
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
