openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Maps API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Maps
  description: Floorplan and map management
paths:
  /sites/{site_id}/maps:
    get:
      operationId: listSiteMaps
      summary: Juniper Networks List site maps
      description: Returns all maps (floorplans) configured for the site.
      tags:
      - Maps
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: List of maps
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Map'
    post:
      operationId: createSiteMap
      summary: Juniper Networks Create site map
      description: Creates a new map (floorplan) for the site.
      tags:
      - Maps
      parameters:
      - $ref: '#/components/parameters/SiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Map'
      responses:
        '200':
          description: Map created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Map'
components:
  schemas:
    Map:
      type: object
      properties:
        id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
          - image
          - google
        width:
          type: number
          description: Width in meters
        height:
          type: number
          description: Height in meters
        ppm:
          type: number
          description: Pixels per meter
        url:
          type: string
          description: URL to the floorplan image
        created_time:
          type: number
        modified_time:
          type: number
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
