openapi: 3.2.0
info:
  title: Mist Sites Stats API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats
  description: The stats are providing access to raw data about a specific type of entities.
paths:
  /api/v1/sites/{site_id}/stats:
    parameters: []
    get:
      tags:
      - Sites Stats
      summary: getSiteStats
      description: Get Sites Stats
      operationId: getSiteStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_site'
                - description: Site metadata and aggregate device/client counts returned by organization site stats endpoints
                  examples:
                  - address: string
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    country_code: string
                    created_time: 0
                    id: 55c29ce5-7c0f-45b5-b99b-599f805fa3a1
                    lat: 0
                    latlng:
                      lat: 0
                      lng: 0
                    lng: 0
                    modified_time: 0
                    msp_id: dca3cad3-0c9b-439b-814f-8d5f23797972
                    name: string
                    networktemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    num_ap: 0
                    num_ap_connected: 0
                    num_clients: 0
                    num_devices: 0
                    num_devices_connected: 0
                    num_gateway: 0
                    num_gateway_connected: 0
                    num_switch: 0
                    num_switch_connected: 0
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rftemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    timezone: string
                    tzoffset: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    address: string
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    country_code: string
                    created_time: 0
                    id: 55c29ce5-7c0f-45b5-b99b-599f805fa3a1
                    lat: 0
                    latlng:
                      lat: 0
                      lng: 0
                    lng: 0
                    modified_time: 0
                    msp_id: dca3cad3-0c9b-439b-814f-8d5f23797972
                    name: string
                    networktemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    num_ap: 0
                    num_ap_connected: 0
                    num_clients: 0
                    num_devices: 0
                    num_devices_connected: 0
                    num_gateway: 0
                    num_gateway_connected: 0
                    num_switch: 0
                    num_switch_connected: 0
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rftemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    timezone: string
                    tzoffset: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    stats_site:
      title: stats_site
      required:
      - country_code
      - created_time
      - id
      - latlng
      - modified_time
      - name
      - num_ap
      - num_ap_connected
      - num_clients
      - num_devices
      - num_devices_connected
      - num_gateway
      - num_gateway_connected
      - num_switch
      - num_switch_connected
      - org_id
      - timezone
      - tzoffset
      type: object
      properties:
        address:
          type: string
          description: Configured physical address for the site
        alarmtemplate_id:
          type:
          - string
          - 'null'
          description: Alarm template applied to the site, when one overrides the organization-level alarm template
          contentEncoding: uuid
        analyticEnabled:
          type: boolean
          description: Whether analytics features are enabled for the site
        aptemplate_id:
          type:
          - string
          - 'null'
          description: AP template applied to access points in the site, when configured
          contentEncoding: uuid
        country_code:
          type: string
          description: Two-letter country code used for site configuration generation
        created_time:
          type: number
          description: Time when the site was created, in epoch seconds
          readOnly: true
        engagementEnabled:
          type: boolean
          description: Whether engagement features are enabled for the site
        gatewaytemplate_id:
          type:
          - string
          - 'null'
          description: Gateway template applied to gateways in the site, when configured
          contentEncoding: uuid
        id:
          type: string
          description: Unique identifier for the site
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        lat:
          type: number
          description: Geographic latitude coordinate for the site location
        latlng:
          allOf:
          - $ref: '#/components/schemas/lat_lng2'
          - description: Latitude and longitude for the site location
        lng:
          type: number
          description: Longitude coordinate for the site location
        modified_time:
          type: number
          description: Time when the site was last modified, in epoch seconds
          readOnly: true
        msp_id:
          type: string
          description: Managing MSP identifier for the site, when applicable
          contentEncoding: uuid
          readOnly: true
          examples:
          - b9d42c2e-88ee-41f8-b798-f009ce7fe909
        name:
          type: string
          description: Display name of the site
        networktemplate_id:
          type:
          - string
          - 'null'
          description: Network template applied to the site, when configured
          contentEncoding: uuid
        notes:
          type: string
          description: Free-form notes configured for the site
        num_ap:
          type: integer
          description: Number of access points in the site
          contentEncoding: int32
        num_ap_connected:
          type: integer
          description: Number of access points currently connected in the site
          contentEncoding: int32
        num_clients:
          type: integer
          description: Number of clients currently counted in the site
          contentEncoding: int32
        num_devices:
          type: integer
          description: Number of managed devices in the site
          contentEncoding: int32
        num_devices_connected:
          type: integer
          description: Number of managed devices currently connected in the site
          contentEncoding: int32
        num_gateway:
          type: integer
          description: Number of gateways in the site
          contentEncoding: int32
        num_gateway_connected:
          type: integer
          description: Number of gateways currently connected in the site
          contentEncoding: int32
        num_switch:
          type: integer
          description: Number of switches in the site
          contentEncoding: int32
        num_switch_connected:
          type: integer
          description: Number of switches currently connected in the site
          contentEncoding: int32
        org_id:
          type: string
          description: Owning organization identifier for the site
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        rftemplate_id:
          type:
          - string
          - 'null'
          description: RF template applied to the site, when configured
          contentEncoding: uuid
        secpolicy_id:
          type:
          - string
          - 'null'
          description: Security policy applied to the site, when configured
          contentEncoding: uuid
        sitegroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Site group identifiers for groups that include this site
        sitetemplate_id:
          type:
          - string
          - 'null'
          description: Site template applied to the site, when configured
          contentEncoding: uuid
        timezone:
          type: string
          description: IANA time zone name for the site
        tzoffset:
          type: integer
          description: Time zone offset value derived from the site's timezone
          contentEncoding: int32
      description: Site metadata and aggregate device/client counts returned by organization site stats endpoints
    lat_lng2:
      title: lat_lng2
      required:
      - lat
      - lng
      type: object
      properties:
        lat:
          type: number
          description: Geographic latitude in decimal degrees
          examples:
          - 37.295833
        lng:
          type: number
          description: Geographic longitude in decimal degrees
          examples:
          - -122.032946
      description: Latitude and longitude for the site location
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
