openapi: 3.2.0
info:
  title: Mist Orgs Events API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Events
  description: Orgs Events are all the system level changes at the org level
paths:
  /api/v1/orgs/{org_id}/events/search:
    parameters: []
    get:
      tags:
      - Orgs Events
      summary: searchOrgEvents
      description: 'Search Org events


        Supported Event Types:

        - CRADLEPOINT_SYNC_FAILED

        - ORG_CA_CERT_ADDED

        - ORG_CA_CERT_REGENERATED'
      operationId: searchOrgEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: type
        in: query
        description: Filter results by type. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - CRADLEPOINT_MAINTENANCE_COMPLETED,CRADLEPOINT_MAINTENANCE_STARTED
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_events_orgs_search'
                - description: Paginated response for organization event search results
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_events_orgs_search'
                - description: Paginated response for organization event search results
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/events/system/count:
    parameters: []
    get:
      tags:
      - Orgs Events
      summary: countOrgSystemEvents
      description: Count organization system event records, optionally grouped by `distinct` and filtered by time range.
      operationId: countOrgSystemEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: Field used to group this count response
        style: form
        explode: true
        schema:
          type: string
          examples:
          - site_id
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/events/system/search:
    parameters: []
    get:
      tags:
      - Orgs Events
      summary: searchOrgSystemEvents
      description: Search organization system event records with time range, sorting, and pagination controls.
      operationId: searchOrgSystemEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_org_system_events_search'
                - description: Paginated response for organization system event search results
                  examples:
                  - end: 1741312800
                    limit: 1000
                    results:
                    - change_cat: admin_action
                      metadata: '{"\wlan_id\": \"None\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Delete WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309621
                      type: delete-wlan
                    - change_cat: admin_action
                      metadata: '{\"wlan_id\": \"3855dc19-63fb-4490-b113-0176dc1cc8f4\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309601
                      type: add-wlan
                    - change_cat: admin_action
                      metadata: '{\"template_id\": \"7e49acf4-6841-4e56-ad7d-68d0801cbba8\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add Template \\"Automation template\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      timestamp: 1741309280
                      type: add-template
                    start: 1741309200
                    total: 3
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1741312800
                    limit: 1000
                    results:
                    - change_cat: admin_action
                      metadata: '{"\wlan_id\": \"None\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Delete WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309621
                      type: delete-wlan
                    - change_cat: admin_action
                      metadata: '{\"wlan_id\": \"3855dc19-63fb-4490-b113-0176dc1cc8f4\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309601
                      type: add-wlan
                    - change_cat: admin_action
                      metadata: '{\"template_id\": \"7e49acf4-6841-4e56-ad7d-68d0801cbba8\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add Template \\"Automation template\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      timestamp: 1741309280
                      type: add-template
                    start: 1741309200
                    total: 3
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_org_system_events_search'
                - description: Paginated response for organization system event search results
                  examples:
                  - end: 1741312800
                    limit: 1000
                    results:
                    - change_cat: admin_action
                      metadata: '{"\wlan_id\": \"None\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Delete WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309621
                      type: delete-wlan
                    - change_cat: admin_action
                      metadata: '{\"wlan_id\": \"3855dc19-63fb-4490-b113-0176dc1cc8f4\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309601
                      type: add-wlan
                    - change_cat: admin_action
                      metadata: '{\"template_id\": \"7e49acf4-6841-4e56-ad7d-68d0801cbba8\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add Template \\"Automation template\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      timestamp: 1741309280
                      type: add-template
                    start: 1741309200
                    total: 3
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1741312800
                    limit: 1000
                    results:
                    - change_cat: admin_action
                      metadata: '{"\wlan_id\": \"None\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Delete WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309621
                      type: delete-wlan
                    - change_cat: admin_action
                      metadata: '{\"wlan_id\": \"3855dc19-63fb-4490-b113-0176dc1cc8f4\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add WLAN \\"Automation Test\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      site_id: dc47920f-52d5-499c-af72-dcd646764f84
                      timestamp: 1741309601
                      type: add-wlan
                    - change_cat: admin_action
                      metadata: '{\"template_id\": \"7e49acf4-6841-4e56-ad7d-68d0801cbba8\",\"admin_name\": \"API Automation api_automation@mistsys.com\",\"desc\": \"Add Template \\"Automation template\\"\"}'
                      org_id: 268e599f-5379-473f-b18b-4384e9b3f244
                      scope: org
                      timestamp: 1741309280
                      type: add-template
                    start: 1741309200
                    total: 3
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    response_events_orgs_search:
      title: response_events_orgs_search
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp for the end of the organization event search window
          contentEncoding: int32
          examples:
          - 1688035193
        limit:
          type: integer
          description: Maximum number of organization event records returned in this page
          contentEncoding: int32
          examples:
          - 10
        next:
          type: string
          description: Pagination cursor or URL for retrieving the next page of organization event records
        results:
          type: array
          items:
            $ref: '#/components/schemas/org_event'
          description: Organization event records matching the search filters
        start:
          type: integer
          description: Epoch timestamp for the start of the organization event search window
          contentEncoding: int32
          examples:
          - 1687948793
        total:
          type: integer
          description: Number of organization event records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for organization event search results
    response_org_system_events_search:
      title: response_org_system_events_search
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp, in seconds, for the end of the system event search window
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of system event records returned in this page
          contentEncoding: int32
        next:
          type: string
          description: URL for retrieving the next page of system event search results
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/org_system_event'
          description: Organization system event records matching the search filters
        start:
          type: integer
          description: Epoch timestamp, in seconds, for the start of the system event search window
          contentEncoding: int32
        total:
          type: integer
          description: Number of system event records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for organization system event search results
    response_count:
      title: response_count
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        distinct:
          type: string
          description: Field used to group the count results
        end:
          type: integer
          description: Search window end timestamp for the count request, in epoch seconds
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of distinct count results requested
          contentEncoding: int32
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/count_result'
          description: Count results grouped by the distinct field
        start:
          type: integer
          description: Search window start timestamp for the count request, in epoch seconds
          contentEncoding: int32
        total:
          type: integer
          description: Number of distinct result buckets returned
          contentEncoding: int32
      description: Distinct count response for time-bounded search results
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    org_system_event:
      title: org_system_event
      type: object
      properties:
        change_cat:
          type: string
          description: Category of configuration or administrative change for the event
          examples:
          - admin_action
        metadata:
          type: string
          description: JSON-encoded event metadata, such as affected object IDs and admin details
        org_id:
          type: string
          description: Organization where the system event occurred
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        scope:
          type: string
          description: Event scope, such as organization or site
          examples:
          - org
        site_id:
          type: string
          description: Site associated with the event, when the event is site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        timestamp:
          type: number
          description: Epoch timestamp when the system event occurred
          readOnly: true
        type:
          type: string
          description: System event type, such as `add-wlan` or `delete-wlan`
          examples:
          - delete-wlan
      description: Organization system event record
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    org_event:
      title: org_event
      type: object
      properties:
        org_id:
          type: string
          description: Organization associated with this event
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        text:
          type: string
          description: Detailed human-readable message for the organization event
          examples:
          - authentication failed, API key invalid
        timestamp:
          type: number
          description: Time when the organization event occurred
          readOnly: true
        type:
          type: string
          description: Event type code for this organization event
          examples:
          - CRADLEPOINT_SYNC_FAILED
      description: Event record generated at the organization level
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
