openapi: 3.2.0
info:
  title: Mist Orgs WxRules API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs WxRules
  description: 'ORg WxRules are a set of rules, restrictions, and settings that can be applied to WLANs within a specific WLAN Template.


    These policies determine how the devices and traffic are treated by the network and can be used to control access, define VLANs, and apply labels to users and resources.'
paths:
  /api/v1/orgs/{org_id}/wxrules:
    parameters: []
    get:
      tags:
      - Orgs WxRules
      summary: listOrgWxRules
      description: Get List of Org WxRules
      operationId: listOrgWxRules
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: List of WxRules
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wxlan_rule'
                description: WxLAN policy rules returned by a list response
                examples:
                - - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-bfeb-53ebbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-bfeb-53ebbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wxlan_rule'
                description: WxLAN policy rules returned by a list response
                examples:
                - - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-bfeb-53ebbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-bfeb-53ebbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs WxRules
      summary: createOrgWxRule
      description: Create Org WxRule
      operationId: createOrgWxRule
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/wxlan_rule'
              - description: Request Body
                examples:
                - action: allow
                  apply_tags:
                  - c049dfcd-0c73-5014-1c64-062e9903f1e5
                  blocked_apps:
                  - mist
                  - all-videos
                  dst_allow_wxtags:
                  - fff34466-eec0-3756-6765-381c728a6037
                  - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  dst_deny_wxtags:
                  - aaa34466-eec0-3756-6765-381c728a6037
                  - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  enabled: true
                  order: 1
                  src_wxtags:
                  - 8bfc2490-d726-3587-038d-cb2e71bd2330
                  - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
              contentMediaType: application/json
            examples:
              Example:
                value:
                  action: allow
                  apply_tags:
                  - c049dfcd-0c73-5014-1c64-062e9903f1e5
                  blocked_apps:
                  - mist
                  - all-videos
                  dst_allow_wxtags:
                  - fff34466-eec0-3756-6765-381c728a6037
                  - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  dst_deny_wxtags:
                  - aaa34466-eec0-3756-6765-381c728a6037
                  - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  enabled: true
                  order: 1
                  src_wxtags:
                  - 8bfc2490-d726-3587-038d-cb2e71bd2330
                  - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        required: false
      responses:
        '200':
          description: Wrule
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_rule'
                - description: WxLAN policy rule controlling traffic between WxLAN tags
                  examples:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_rule'
                - description: WxLAN policy rule controlling traffic between WxLAN tags
                  examples:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/wxrules/{wxrule_id}:
    parameters: []
    delete:
      tags:
      - Orgs WxRules
      summary: deleteOrgWxRule
      description: Delete Org WxRule
      operationId: deleteOrgWxRule
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxrule_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs WxRules
      summary: getOrgWxRule
      description: Get Org WxRule Details
      operationId: getOrgWxRule
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxrule_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Wrule
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_rule'
                - description: WxLAN policy rule controlling traffic between WxLAN tags
                  examples:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_rule'
                - description: WxLAN policy rule controlling traffic between WxLAN tags
                  examples:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs WxRules
      summary: updateOrgWxRule
      description: Update Org WxRule
      operationId: updateOrgWxRule
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wxrule_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/wxlan_rule'
              - description: Request Body
                examples:
                - action: allow
                  apply_tags:
                  - c049dfcd-0c73-5014-1c64-062e9903f1e5
                  blocked_apps:
                  - mist
                  - all-videos
                  dst_allow_wxtags:
                  - fff34466-eec0-3756-6765-381c728a6037
                  - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  dst_deny_wxtags:
                  - aaa34466-eec0-3756-6765-381c728a6037
                  - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  enabled: true
                  order: 1
                  src_wxtags:
                  - 8bfc2490-d726-3587-038d-cb2e71bd2330
                  - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
              contentMediaType: application/json
            examples:
              Example:
                value:
                  action: allow
                  apply_tags:
                  - c049dfcd-0c73-5014-1c64-062e9903f1e5
                  blocked_apps:
                  - mist
                  - all-videos
                  dst_allow_wxtags:
                  - fff34466-eec0-3756-6765-381c728a6037
                  - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  dst_deny_wxtags:
                  - aaa34466-eec0-3756-6765-381c728a6037
                  - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                  enabled: true
                  order: 1
                  src_wxtags:
                  - 8bfc2490-d726-3587-038d-cb2e71bd2330
                  - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        required: false
      responses:
        '200':
          description: Wrule
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_rule'
                - description: WxLAN policy rule controlling traffic between WxLAN tags
                  examples:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/wxlan_rule'
                - description: WxLAN policy rule controlling traffic between WxLAN tags
                  examples:
                  - action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    action: allow
                    apply_tags:
                    - c049dfcd-0c73-5014-1c64-062e9903f1e5
                    blocked_apps:
                    - mist
                    - all-videos
                    created_time: 0
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    enabled: true
                    for_site: true
                    id: 497f6eca-6276-4993-9feb-53cbbbba6f08
                    modified_time: 0
                    order: 1
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    wxlan_rule:
      title: wxlan_rule
      required:
      - order
      - src_wxtags
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/wxlan_rule_action2'
          - description: Allow or block behavior applied by this WxLAN rule
            examples:
            - allow
        apply_tags:
          type: array
          items:
            type: string
          description: WxLAN tag identifiers applied when this rule matches
        blocked_apps:
          type: array
          items:
            type: string
          description: Application keys always blocked by this rule, regardless of the rule action
          examples:
          - - mist
            - all-videos
        created_time:
          type: number
          description: Time when this WxLAN rule was created, in epoch seconds
          readOnly: true
        dst_allow_wxtags:
          type: array
          items:
            type: string
          description: Destination WxLAN tag identifiers explicitly allowed by this rule
          examples:
          - - fff34466-eec0-3756-6765-381c728a6037
            - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
        dst_deny_wxtags:
          type: array
          items:
            type: string
          description: Destination WxLAN tag identifiers explicitly denied by this rule
          examples:
          - - aaa34466-eec0-3756-6765-381c728a6037
            - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
        dst_wxtags:
          type: array
          items:
            type: string
          description: Destination WxLAN tag identifiers matched by this rule
          examples:
          - - aaa34466-eec0-3756-6765-381c728a6037
            - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
        enabled:
          type: boolean
          description: Whether this WxLAN rule is enabled
          default: true
        for_site:
          type: boolean
          description: Whether this WxLAN rule is scoped to a site
          readOnly: true
        id:
          type: string
          description: Unique identifier for this WxLAN rule
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Time when this WxLAN rule was last modified, in epoch seconds
          readOnly: true
        order:
          minimum: -1
          type: integer
          description: Lookup priority for WxLAN rules; larger positive values match first, and -1 means LAST. Uniqueness is not checked
          contentEncoding: int32
          examples:
          - 1
        org_id:
          type: string
          description: Owning organization associated with this WxLAN rule
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        site_id:
          type: string
          description: Mist site associated with this WxLAN rule, when site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        src_wxtags:
          type: array
          items:
            type: string
          description: Source WxLAN tag identifiers that must match for this rule to apply
          examples:
          - - 8bfc2490-d726-3587-038d-cb2e71bd2330
            - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        template_id:
          type: string
          description: Only for Org Level WxRule
          contentEncoding: uuid
          examples:
          - 6aa54cbd-e039-4878-846a-04f270de8a5c
      description: WxLAN policy rule controlling traffic between WxLAN tags
    wxlan_rule_action2:
      title: wxlan_rule_action2
      enum:
      - allow
      - block
      type: string
      description: Allow or block behavior applied by this WxLAN rule
      examples:
      - allow
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
