openapi: 3.2.0
info:
  title: Mist Sites Stats - WxRules API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - WxRules
  description: API Calls to retrieve WxRules statistics for the current Site
paths:
  /api/v1/sites/{site_id}/stats/wxrules:
    parameters: []
    get:
      tags:
      - Sites Stats - WxRules
      summary: getSiteWxRulesUsage
      description: Get Wxlan Rule usage
      operationId: getSiteWxRulesUsage
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: WxRule Stats
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_wxrule'
                description: WxLAN rule usage statistics returned by the request
                examples:
                - - action: allow
                    client_mac:
                    - 3bbbf819bb6f
                    - bd96cbc4910f
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_wxtags:
                    - d4134466-eec0-3756-6765-381c728a6037
                    - 1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    name: Guest
                    order: 1
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                    usage:
                      1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3:
                        num_flows: 60
                      d4134466-eec0-3756-6765-381c728a6037:
                        num_flows: 60
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - action: allow
                    client_mac:
                    - 3bbbf819bb6f
                    - bd96cbc4910f
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_wxtags:
                    - d4134466-eec0-3756-6765-381c728a6037
                    - 1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    name: Guest
                    order: 1
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                    usage:
                      1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3:
                        num_flows: 60
                      d4134466-eec0-3756-6765-381c728a6037:
                        num_flows: 60
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_wxrule'
                description: WxLAN rule usage statistics returned by the request
                examples:
                - - action: allow
                    client_mac:
                    - 3bbbf819bb6f
                    - bd96cbc4910f
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_wxtags:
                    - d4134466-eec0-3756-6765-381c728a6037
                    - 1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    name: Guest
                    order: 1
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                    usage:
                      1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3:
                        num_flows: 60
                      d4134466-eec0-3756-6765-381c728a6037:
                        num_flows: 60
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - action: allow
                    client_mac:
                    - 3bbbf819bb6f
                    - bd96cbc4910f
                    dst_allow_wxtags:
                    - fff34466-eec0-3756-6765-381c728a6037
                    - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_deny_wxtags:
                    - aaa34466-eec0-3756-6765-381c728a6037
                    - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    dst_wxtags:
                    - d4134466-eec0-3756-6765-381c728a6037
                    - 1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3
                    name: Guest
                    order: 1
                    src_wxtags:
                    - 8bfc2490-d726-3587-038d-cb2e71bd2330
                    - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
                    usage:
                      1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3:
                        num_flows: 60
                      d4134466-eec0-3756-6765-381c728a6037:
                        num_flows: 60
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    stats_wxrule_action2:
      title: stats_wxrule_action2
      enum:
      - allow
      - block
      type: string
      description: Allow or block behavior enforced by this WxLAN rule
      examples:
      - allow
    stats_wxrule:
      title: stats_wxrule
      required:
      - action
      - client_mac
      - dst_allow_wxtags
      - dst_deny_wxtags
      - dst_wxtags
      - name
      - order
      - src_wxtags
      - usage
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/stats_wxrule_action2'
          - description: Allow or block behavior enforced by this WxLAN rule
            examples:
            - allow
        client_mac:
          type: array
          items:
            type: string
          description: Wireless client MAC addresses matching this WxLAN rule
          examples:
          - - 3bbbf819bb6f
            - bd96cbc4910f
        dst_allow_wxtags:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Destination WxLAN tags explicitly allowed by this rule
          examples:
          - - fff34466-eec0-3756-6765-381c728a6037
            - eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3
        dst_deny_wxtags:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Destination WxLAN tags denied by this rule
          examples:
          - - aaa34466-eec0-3756-6765-381c728a6037
            - bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3
        dst_wxtags:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Destination WxLAN tags matched by this rule
          examples:
          - - d4134466-eec0-3756-6765-381c728a6037
            - 1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3
        name:
          type: string
          description: Display name of the WxLAN rule
          examples:
          - Guest
        order:
          type: integer
          description: Rule evaluation order for WxLAN matching
          contentEncoding: int32
          examples:
          - 1
        src_wxtags:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Source WxLAN tags matched by this rule
          examples:
          - - 8bfc2490-d726-3587-038d-cb2e71bd2330
            - 3aa8e73f-9f46-d827-8d6a-567bb7e67fc9
        usage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/stats_wxrule_usage_properties'
          description: Flow counts keyed by destination WxLAN tag identifier
          examples:
          - 1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3:
              num_flows: 60
            d4134466-eec0-3756-6765-381c728a6037:
              num_flows: 60
      description: WxLAN rule usage statistics for a site
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    stats_wxrule_usage_properties:
      title: stats_wxrule_usage_properties
      type: object
      properties:
        num_flows:
          type: integer
          description: Number of flows counted for this WxLAN rule and destination tag
          contentEncoding: int32
      description: Usage counters for one WxLAN rule destination tag
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
