openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Inventory API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Inventory
  description: Device inventory management
paths:
  /orgs/{org_id}/inventory:
    get:
      operationId: getOrgInventory
      summary: Juniper Networks Get organization inventory
      description: Returns the device inventory for the organization.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/OrgId'
      - name: type
        in: query
        description: Filter by device type
        schema:
          type: string
          enum:
          - ap
          - switch
          - gateway
      - name: unassigned
        in: query
        description: Filter for unassigned devices only
        schema:
          type: boolean
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Device inventory
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryDevice'
    post:
      operationId: addDevicesToInventory
      summary: Juniper Networks Add devices to inventory
      description: Adds devices to the organization inventory by claim code or serial number.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - op
              properties:
                op:
                  type: string
                  enum:
                  - add
                  - assign
                  - unassign
                  - delete
                serials:
                  type: array
                  items:
                    type: string
                site_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Inventory operation successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  added:
                    type: array
                    items:
                      type: string
                  duplicated:
                    type: array
                    items:
                      type: string
                  error:
                    type: array
                    items:
                      type: string
components:
  schemas:
    InventoryDevice:
      type: object
      properties:
        mac:
          type: string
        serial:
          type: string
        model:
          type: string
        type:
          type: string
          enum:
          - ap
          - switch
          - gateway
        org_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        name:
          type: string
        connected:
          type: boolean
        created_time:
          type: number
        modified_time:
          type: number
  parameters:
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 100
        maximum: 1000
    OrgId:
      name: org_id
      in: path
      required: true
      description: Organization unique identifier
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
