openapi: 3.2.0
info:
  title: Mist Sites UI Settings API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites UI Settings
  description: The Site UI Settings are used to configure the site Network and Analytics reports
paths:
  /api/v1/sites/{site_id}/uisettings:
    parameters: []
    get:
      tags:
      - Sites UI Settings
      summary: listSiteUiSettings
      description: List the Site UI settings/databoard
      operationId: listSiteUiSettings
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: List of Site UI Setting
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ui_settings'
                description: Site UI settings records returned by a list response
                examples:
                - - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ui_settings'
                description: Site UI settings records returned by a list response
                examples:
                - - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites UI Settings
      summary: createSiteUiSettings
      description: Create a Site UI settings/databoard
      operationId: createSiteUiSettings
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ui_settings'
              - description: Request Body
                examples:
                - defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                  defaultScopeType: site
                  defaultTimeRange:
                    end: 1508828400
                    endDate: 10/23/2017
                    interval: 1d
                    name: This Week
                    shortName: thisWeek
                    start: 1508655600
                    usePreset: true
                  description: Description of the databoard
                  isCustomDataboard: true
                  isScopeLinked: true
                  isTimeRangeLinked: true
                  name: New Databoard
                  purpose: databoard
                  tiles:
                  - chartBand: 2.4 ghz
                    chartColor: '#00B4AD'
                    chartDirection: tx + rx
                    chartRankBy: string
                    chartType: timeSeries
                    colspan: 5
                    column: 1
                    hideEmptyRows: true
                    metric:
                      apiName: client_dhcp_latency
                    name: New Analysis
                    row: 1
                    rowspan: 2
                    scopeId: e0c767834b4c
                    scopeType: client
                    timeRange:
                      end: 1508823743
                      endDate: 10/23/2017
                      interval: 1d
                      name: Past 7 Days
                      shortName: 7d
                      start: 1508223600
                      usePreset: true
                    trendType: line
                    vizType: averageTimeSeriesChart
              contentMediaType: application/json
            examples:
              Example:
                value:
                  defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                  defaultScopeType: site
                  defaultTimeRange:
                    end: 1508828400
                    endDate: 10/23/2017
                    interval: 1d
                    name: This Week
                    shortName: thisWeek
                    start: 1508655600
                    usePreset: true
                  description: Description of the databoard
                  isCustomDataboard: true
                  isScopeLinked: true
                  isTimeRangeLinked: true
                  name: New Databoard
                  purpose: databoard
                  tiles:
                  - chartBand: 2.4 ghz
                    chartColor: '#00B4AD'
                    chartDirection: tx + rx
                    chartRankBy: string
                    chartType: timeSeries
                    colspan: 5
                    column: 1
                    hideEmptyRows: true
                    metric:
                      apiName: client_dhcp_latency
                    name: New Analysis
                    row: 1
                    rowspan: 2
                    scopeId: e0c767834b4c
                    scopeType: client
                    timeRange:
                      end: 1508823743
                      endDate: 10/23/2017
                      interval: 1d
                      name: Past 7 Days
                      shortName: 7d
                      start: 1508223600
                      usePreset: true
                    trendType: line
                    vizType: averageTimeSeriesChart
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/uisettings/derived:
    parameters: []
    get:
      tags:
      - Sites UI Settings
      summary: listSiteUiSettingDerived
      description: Get both site UI settings(for_site=true) and org UI settings (for_site=false)
      operationId: listSiteUiSettingDerived
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/uisettings/{uisetting_id}:
    parameters: []
    delete:
      tags:
      - Sites UI Settings
      summary: deleteSiteUiSetting
      description: Site UI settings
      operationId: deleteSiteUiSetting
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: uisetting_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites UI Settings
      summary: getSiteUiSetting
      description: Site UI settings
      operationId: getSiteUiSetting
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: uisetting_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites UI Settings
      summary: updateSiteUiSetting
      description: Site UI settings
      operationId: updateSiteUiSetting
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: uisetting_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ui_settings'
              - description: Request Body
                examples:
                - defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                  defaultScopeType: site
                  defaultTimeRange:
                    end: 1508828400
                    endDate: 10/23/2017
                    interval: 1d
                    name: This Week
                    shortName: thisWeek
                    start: 1508655600
                    usePreset: true
                  description: Description of the databoard
                  isCustomDataboard: true
                  isScopeLinked: true
                  isTimeRangeLinked: true
                  name: New Databoard
                  purpose: databoard
                  tiles:
                  - chartBand: 2.4 ghz
                    chartColor: '#00B4AD'
                    chartDirection: tx + rx
                    chartRankBy: string
                    chartType: timeSeries
                    colspan: 5
                    column: 1
                    hideEmptyRows: true
                    metric:
                      apiName: client_dhcp_latency
                    name: New Analysis
                    row: 1
                    rowspan: 2
                    scopeId: e0c767834b4c
                    scopeType: client
                    timeRange:
                      end: 1508823743
                      endDate: 10/23/2017
                      interval: 1d
                      name: Past 7 Days
                      shortName: 7d
                      start: 1508223600
                      usePreset: true
                    trendType: line
                    vizType: averageTimeSeriesChart
              contentMediaType: application/json
            examples:
              Example:
                value:
                  defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                  defaultScopeType: site
                  defaultTimeRange:
                    end: 1508828400
                    endDate: 10/23/2017
                    interval: 1d
                    name: This Week
                    shortName: thisWeek
                    start: 1508655600
                    usePreset: true
                  description: Description of the databoard
                  isCustomDataboard: true
                  isScopeLinked: true
                  isTimeRangeLinked: true
                  name: New Databoard
                  purpose: databoard
                  tiles:
                  - chartBand: 2.4 ghz
                    chartColor: '#00B4AD'
                    chartDirection: tx + rx
                    chartRankBy: string
                    chartType: timeSeries
                    colspan: 5
                    column: 1
                    hideEmptyRows: true
                    metric:
                      apiName: client_dhcp_latency
                    name: New Analysis
                    row: 1
                    rowspan: 2
                    scopeId: e0c767834b4c
                    scopeType: client
                    timeRange:
                      end: 1508823743
                      endDate: 10/23/2017
                      interval: 1d
                      name: Past 7 Days
                      shortName: 7d
                      start: 1508223600
                      usePreset: true
                    trendType: line
                    vizType: averageTimeSeriesChart
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ui_settings'
                - description: Site UI settings databoard
                  examples:
                  - created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1508823803
                    defaultScopeId: 67970e46-4e12-11e6-9188-0242ad112847
                    defaultScopeType: site
                    defaultTimeRange:
                      end: 1508828400
                      endDate: 10/23/2017
                      interval: 1d
                      name: This Week
                      shortName: thisWeek
                      start: 1508655600
                      usePreset: true
                    description: Description of the databoard
                    for_site: true
                    id: 3bdcc7e8-c04d-4512-b4fc-093da9057eb0
                    isCustomDataboard: true
                    isScopeLinked: true
                    isTimeRangeLinked: true
                    modified_time: 0
                    name: New Databoard
                    org_id: cc079380-5029-4d4a-9125-858de85731ff
                    purpose: databoard
                    site_id: 67970e46-4e12-11e6-9188-0242ad112847
                    tiles:
                    - chartBand: 2.4 ghz
                      chartColor: '#00B4AD'
                      chartDirection: tx + rx
                      chartRankBy: string
                      chartType: timeSeries
                      colspan: 5
                      column: 1
                      hideEmptyRows: true
                      id: 7a9ab38c-cfc3-483d-b51a-0aec571fadc0
                      metric:
                        apiName: client_dhcp_latency
                      name: New Analysis
                      row: 1
                      rowspan: 2
                      scopeId: e0c767834b4c
                      scopeType: client
                      timeRange:
                        end: 1508823743
                        endDate: 10/23/2017
                        interval: 1d
                        name: Past 7 Days
                        shortName: 7d
                        start: 1508223600
                        usePreset: true
                      trendType: line
                      vizType: averageTimeSeriesChart
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    ui_settings_tile_time_range2:
      title: ui_settings_tile_time_range2
      type: object
      properties:
        end:
          type: number
          description: Upper bound of the tile time range, in epoch seconds
          examples:
          - 1508823743
        endDate:
          type: string
          description: Display date for the end of the tile time range
          examples:
          - 10/23/2017
        interval:
          type: string
          description: Bucket interval used for the tile time range
          examples:
          - 1d
        name:
          type: string
          description: Display name for the tile time range
          examples:
          - Past 7 Days
        shortName:
          type: string
          description: Compact display label for the tile time range
          examples:
          - 7d
        start:
          type: integer
          description: Lower bound of the tile time range, in epoch seconds
          contentEncoding: int32
          examples:
          - 1508223600
        usePreset:
          type: boolean
          description: Whether the tile time range uses a named preset
          examples:
          - true
      description: Time range override for this tile
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    ui_settings_default_time_range2:
      title: ui_settings_default_time_range2
      type: object
      properties:
        end:
          type: integer
          description: Upper bound of the default databoard time range, in epoch seconds
          contentEncoding: int32
          examples:
          - 1508828400
        endDate:
          type: string
          description: Display date for the end of the default databoard time range
          examples:
          - 10/23/2017
        interval:
          type: string
          description: Bucket interval used for the default databoard time range
          examples:
          - 1d
        name:
          type: string
          description: Display name for the default databoard time range
          examples:
          - This Week
        shortName:
          type: string
          description: Compact display label for the default databoard time range
          examples:
          - thisWeek
        start:
          type: integer
          description: Lower bound of the default databoard time range, in epoch seconds
          contentEncoding: int32
          examples:
          - 1508655600
        usePreset:
          type: boolean
          description: Whether the default databoard time range uses a named preset
          examples:
          - true
      description: Time range used by default for this databoard
    ui_settings:
      title: ui_settings
      required:
      - description
      - purpose
      type: object
      properties:
        created_time:
          type: number
          description: Time when the databoard was created, in epoch seconds
          readOnly: true
        defaultScopeId:
          type: string
          description: Scope identifier used by default for this databoard
          examples:
          - 67970e46-4e12-11e6-9188-0242ad112847
        defaultScopeType:
          type: string
          description: Scope type used by default for this databoard
          examples:
          - site
        defaultTimeRange:
          allOf:
          - $ref: '#/components/schemas/ui_settings_default_time_range2'
          - description: Time range used by default for this databoard
        description:
          type: string
          description: Text describing the databoard
          examples:
          - Description of the databoard
        for_site:
          type: boolean
          description: Whether this databoard is scoped to a site
          readOnly: true
          examples:
          - true
        id:
          type: string
          description: Unique identifier for the databoard
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        isCustomDataboard:
          type: boolean
          description: Whether this databoard is custom-created
        isScopeLinked:
          type: boolean
          description: Whether tile scopes are linked to the databoard default scope
        isTimeRangeLinked:
          type: boolean
          description: Whether tile time ranges are linked to the databoard default time range
        modified_time:
          type: number
          description: Time when the databoard was last modified, in epoch seconds
          readOnly: true
        name:
          type: string
          description: Display name of the databoard
          examples:
          - New Databoard
        org_id:
          type: string
          description: Organization that owns the databoard
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        purpose:
          type: string
          description: UI surface or purpose for this databoard
          examples:
          - databoard
        site_id:
          type: string
          description: Site associated with this databoard
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        tiles:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ui_settings_tile'
          description: Configured tiles for this databoard
      description: Site UI settings databoard
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    ui_settings_tile_metric2:
      title: ui_settings_tile_metric2
      type: object
      properties:
        apiName:
          type: string
          description: Metric API name requested by this tile
          examples:
          - client_dhcp_latency
      description: Selected measurement configuration displayed by this tile
    ui_settings_tile:
      title: ui_settings_tile
      type: object
      properties:
        chartBand:
          type: string
          description: Band or category filter applied to the tile chart
          examples:
          - 2.4 ghz
        chartColor:
          type: string
[...]
