openapi: 3.2.0
info:
  title: Mist Sites Stats - Clients Wireless API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - Clients Wireless
  description: API Calls to retrieve the stats of the wireless clients detected (connected or not connected) on this site.
paths:
  /api/v1/sites/{site_id}/stats/clients:
    parameters: []
    get:
      tags:
      - Sites Stats - Clients Wireless
      summary: listSiteWirelessClientsStats
      description: Get List of Site All Clients Stats Details
      operationId: listSiteWirelessClientsStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wired
        in: query
        description: Filter results by whether the client is wired
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - false
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_client'
                description: Client statistics records returned by a stats response
                examples:
                - - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_client'
                description: Client statistics records returned by a stats response
                examples:
                - - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/clients/{client_mac}:
    parameters: []
    get:
      tags:
      - Sites Stats - Clients Wireless
      summary: getSiteWirelessClientStats
      description: Get Site Client Stats Details
      operationId: getSiteWirelessClientStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: client_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      - name: wired
        in: query
        description: Filter results by whether the client is wired
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_client'
                - description: Client statistics record for a wireless or wired client
                  examples:
                  - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_client'
                - description: Client statistics record for a wireless or wired client
                  examples:
                  - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/maps/{map_id}/clients:
    parameters: []
    get:
      tags:
      - Sites Stats - Clients Wireless
      summary: getSiteWirelessClientsStatsByMap
      description: Get Site Clients Stats By Map
      operationId: getSiteWirelessClientsStatsByMap
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_wireless_client'
                description: Wireless client statistics records returned by a stats response
                examples:
                - - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_wireless_client'
                description: Wireless client statistics records returned by a stats response
                examples:
                - - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - annotation: unknown
                    ap_id: 00000000-0000-0000-1000-5c5b35963d70
                    ap_mac: 5c5b358e6fea
                    assoc_time: 1741152905
                    band: '5'
                    bssid: 5c5b358298f2
                    channel: 157
                    dual_band: true
                    family: ''
                    group: ''
                    hostname: android-9b228dc33690
                    idle_time: 5
                    ip: 10.100.0.47
                    is_guest: false
                    key_mgmt: WPA3-SAE-FT/CCMP
                    last_seen: 1741257505
                    mac: dadbfc123456
                    manufacture: Unknown
                    map_id: ed7a0a4e-8835-4c94-ba78-6c1169c9f135
                    model: ''
                    num_locating_aps: 2
                    os: Android 10
                    proto: ac
                    rssi: -39
                    rx_bps: 0
                    rx_bytes: 14451780
                    rx_pkts: 44175
                    rx_rate: 6
                    rx_retries: 2010
                    site_id: 96c348a9-d6d7-4732-b4f5-23350a2843cd
                    snr: 47
                    ssid: Live_demo_only
                    tx_bps: 0
                    tx_bytes: 56364072
                    tx_pkts: 43685
                    tx_rate: 173.3
                    tx_retries: 5413
                    uptime: 104600
                    vlan_id: '1'
                    wlan_id: 497fc18a-79b5-405a-bf5a-192eed31ea60
                    x: 695.3357339330526
                    x_m: 24.086588
                    y: 760.6746524247893
                    y_m: 26.349943
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/maps/{map_id}/unconnected_clients:
    parameters: []
    get:
      tags:
      - Sites Stats - Clients Wireless
      summary: listSiteUnconnectedClientStats
      description: Get List of Site Unconnected Client Location
      operationId: listSiteUnconnectedClientStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_unconnected_client'
                description: Unconnected Wi-Fi client location statistics returned by the request
                examples:
                - - ap_mac: 5c5b350e0410
                    last_seen: 1428939600
                    mac: 5684dae9ac8b
                    manufacture: Apple
                    rssi: -75
                    x: 60
                    y: 80
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - ap_mac: 5c5b350e0410
                    last_seen: 1428939600
                    mac: 5684dae9ac8b
                    manufacture: Apple
                    rssi: -75
                    x: 60
                    y: 80
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    guest1:
      title: guest1
      type: object
      properties:
        access_code_email:
          type: string
          description: If `auth_method`==`email`, the email address where the authorization code has been sent to
          readOnly: true
        ap_mac:
          type: string
          description: MAC address of the AP used during guest registration
          readOnly: true
        auth_method:
          type: string
          description: Guest authentication method used for the authorization
          readOnly: true
        authorized:
          type: boolean
          description: Whether the guest is currently authorized
          default: true
        authorized_expiring_time:
          type: number
          description: Unix timestamp when the guest authorization expires
          readOnly: true
          examples:
          - 1480704955
        authorized_time:
          type: number
          description: Unix timestamp when the guest was authorized
          readOnly: true
          examples:
          - 1480704355
        company:
          type: string
          description: Optional company name provided by the guest during registration
          examples:
          - abc
        email:
          type: string
          description: Optional email address provided by the guest during registration
          contentEncoding: email
          examples:
          - john@abc.com
        field1:
          type: string
          description: Optional custom field 1 value provided by the guest during registration
        field2:
          type: string
          description: Optional custom field 2 value provided by the guest during registration
        field3:
          type: string
          description: Optional custom field 3 value provided by the guest during registration
        field4:
          type: string
          description: Optional custom field 4 value provided by the guest during registration
        mac:
          type: string
          description: Device MAC address captured during guest registration
          readOnly: true
        minutes:
          maximum: 259200
          minimum: 0
          type: integer
          description: Authorization duration, in minutes. Default is 1440 minutes (1 day), maximum is 259200 (180 days)
          contentEncoding: int32
          default: 1440
        name:
          type: string
          description: Optional name provided by the guest during registration
          readOnly: true
          examples:
          - John Smith
        random_mac:
          type: boolean
          description: Whether the guest device used a randomized MAC address to connect to the SSID
          readOnly: true
        ssid:
          type: string
          description: Name of the SSID
          readOnly: true
          examples:
          - Guest-SSID
        wlan_id:
          type: string
          description: Identifier of the WLAN used for the guest authorization
          contentEncoding: uuid
          readOnly: true
          examples:
          - 6748cfa6-4e12-11e6-9188-0242ac110007
      description: Portal guest details for the wireless client
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    stats_wireless_client:
      title: stats_wireless_client
      required:
      - ap_id
      - ap_mac
      - band
      - channel
      - is_guest
      - key_mgmt
      - mac
      - proto
      - rssi
      - snr
      - ssid
      - wlan_id
      type: object
      properties:
        accuracy:
          type: integer
          description: Estimated client location accuracy, in meter
          contentEncoding: int32
        airespace_ifname:
          type: string
          description: RADIUS Airespace interface name reported for the wireless client, when available
        airwatch:
          allOf:
          - $ref: '#/components/schemas/stats_wireless_client_airwatch2'
          - description: Mobile device management authorization information from AirWatch for the wireless client
        annotation:
          type: string
          description: User-visible annotation label applied to the wireless client
        ap_id:
          type: string
          description: AP ID the client is connected to
          contentEncoding: uuid
        ap_mac:
          type: string
          description: AP the client is connected to
        assoc_time:
          type: integer
          description: Time when the wireless client associated to the AP, in epoch seconds
          contentEncoding: int32
        band:
          allOf:
          - $ref: '#/components/schemas/dot11_band3'
          - description: 'Wi-Fi radio band used by the wireless client connection. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`.'
        bssid:
          type: string
          description: AP radio BSSID serving the wireless client connection
        channel:
          type: integer
          description: Radio channel used by the wireless client connection
          contentEncoding: int32
        dual_band:
          type: boolean
          description: Whether the client is dual_band capable (determined by whether we’ve seen probe requests from both bands)
        family:
          type: string
          description: Device family, through fingerprinting. iPod / Nexus Galaxy / Windows Mobile or CE …
        group:
          type: string
          description: Client group label reported for the wireless client
        guest:
          allOf:
          - $ref: '#/components/schemas/guest1'
          - description: Portal guest details for the wireless client
        hostname:
          type: string
          description: DHCP hostname learned for the wireless client
        idle_time:
          type: number
          description: How long, in seconds, has the client been idle (since the last RX packet)
        ip:
          type: string
          description: Current IP address reported for the wireless client
        is_guest:
          type: boolean
          description: Whether this is a guest
        key_mgmt:
          type: string
          description: Security key-management and cipher suite used by the wireless client
        last_seen:
          type:
          - number
          - 'null'
          description: Time when Mist last observed the wireless client, in epoch seconds
          readOnly: true
          examples:
          - 1470417522
        mac:
          type: string
          description: Wireless client MAC address observed by Mist
        manufacture:
          type: string
          description: Device manufacture, through fingerprinting or OUI
        map_id:
          type: string
          description: Estimated client location - map_id
          contentEncoding: uuid
        model:
          type: string
          description: Device model, may be available if we can identify them
        mxedge_id:
          type: string
          description: Mist Edge the wireless client connection is tunneled through, when applicable
          contentEncoding: uuid
        num_locating_aps:
          type: integer
          description: Number of APs used to locate this client
          contentEncoding: int32
        os:
          type: string
          description: Device os, through fingerprinting
        power_saving:
          type: boolean
          description: If it’s currently in power-save mode
        proto:
          allOf:
          - $ref: '#/components/schemas/dot11_proto2'
          - description: '802.11 protocol amendment used by the wireless client. enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`.'
        psk_id:
          type: string
          description: PSK id (if multi-psk is used)
          contentEncoding: uuid
        rssi:
          type: number
          description: Received signal strength indicator for the wireless client, in dBm
        rssizones:
          type: array
          items:
            $ref: '#/components/schemas/stats_wireless_client_rssi_zone'
          description: RSSI zone memberships for the wireless client
        rx_bps:
          type:
          - integer
          - 'null'
          description: Receive throughput for the wireless client, in bits per second
          contentEncoding: int64
          readOnly: true
          examples:
          - 60003
        rx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes received by the wireless client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 8515104416
        rx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets received by the wireless client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 57770567
        rx_rate:
          type:
          - number
          - 'null'
          description: Receive PHY rate for the wireless client connection, in Mbps
          readOnly: true
        rx_retries:
          type:
          - integer
          - 'null'
          description: Receive retry count for the wireless client connection
          contentEncoding: int32
          readOnly: true
        site_id:
          type: string
          description: Site identifier associated with the wireless client statistics record
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        snr:
          type: number
          description: Signal-to-noise ratio for the wireless client connection
        ssid:
          type: string
          description: Wireless SSID used by the client connection
        tx_bps:
          type:
          - integer
          - 'null'
          description: Transmit throughput for the wireless client, in bits per second
          contentEncoding: int64
          readOnly: true
          examples:
          - 634301
        tx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes transmitted by the wireless client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 211217389682
        tx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets transmitted by the wireless client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 812204062
        tx_rate:
          type:
          - number
          - 'null'
          description: Transmit PHY rate for the wireless client connection, in Mbps
          readOnly: true
        tx_retries:
          type:
          - integer
          - 'null'
          description: Transmit retry count for the wireless client connection
          contentEncoding: int32
          readOnly: true
        type:
          type: string
          description: Client’s type, regular / vip / resource / blocked (if client object is created)
        uptime:
          type: number
          description: How long, in seconds, has the client been connected
        username:
          type: string
          description: User identity learned from 802.1X, per-user PSK, or user portal authentication
        vbeacons:
          type: array
          items:
            $ref: '#/components/schemas/stats_wireless_client_vbeacon'
          description: Virtual beacon associations for the wireless client
        vlan_id:
          type: string
          description: VLAN ID, could be empty (from older AP)
        wlan_id:
          type: string
          description: WLAN ID the client is connected to
          contentEncoding: uuid
        wxrule_id:
          type: string
          description: Current WxlanRule using for a Client or an authorized Guest (portal user). null if default rule is matched.
          contentEncoding: uuid
        wxrule_usage:
          type: array
          items:
            $ref: '#/components/schemas/stats_wireless_client_wxrule_usage'
          description: WxLAN rule usage counters for the wireless client
        x:
          type: number
          description: Estimated client location in pixels
        x_m:
          type: number
          description: Estimated client location in meter
        y:
          type: number
          description: Estimated client location in pixels
        y_m:
          type: number
          description: Estimated client location in meter
        zones:
          type: array
          items:
            $ref: '#/components/schemas/stats_wireless_client_zone'
          description: Zone memberships for the wireless client
      description: Wireless client connection, traffic, and location statistics
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    stats_client:
      oneOf:
      - $ref: '#/components/schemas/stats_wireless_client'
      - $ref: '#/components/schemas/stats_wired_client'
      description: Client statistics record for a wireless or wired client
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    dot11_band3:
      title: dot11_band3
      enum:
      - '24'
      - '5'
      - 5-dedicated
      - 5-selectable
      - '6'
      - 6-dedicated
      - 6-selectable
      type: string
      description: 'Wi-Fi radio band used by the wireless client connection. enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`.'
    stats_wireless_client_airwatch2:
      title: stats_wireless_client_airwatch2
      required:
      - authorized
      type: object
      properties:
        authorized:
          type: boolean
          description: Whether the wireless client is authorized by AirWatch
      description: Mobile device management authorization information from AirWatch for the wireless client
    stats_wireless_client_zone:
      title: stats_wireless_client_zone
      type: object
      properties:
        id:
          type: string
          description: Zone identifier that currently contains the wireless client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        since:
          type: number
          description: Time when the wireless client entered the zone, in epoch seconds
      description: Zone currently containing a wireless client
    stats_unconnected_client:
      title: stats_unconnected_client
      required:
      - ap_mac
      - mac
      - manufacture
      - rssi
      - y
      type: object
      properties:
        ap_mac:
          type: string
          description: MAC address of the AP that heard the client
        last_seen:
          type:
          - number
          - 'null'
          description: Time when Mist last observed the unconnected client, in epoch seconds
          readOnly: true
          examples:
          - 1470417522
        mac:
          type: string
          description: Unconnected client MAC address observed by an AP
        manufacture:
          type: string
          description: Device manufacture, through fingerprinting or OUI
        map_id:
          type:
          - string
          - 'null'
          description: Map identifier for the unconnected client's location, if known
          contentEncoding: uuid
        rssi:
          type: integer
          description: Client RSSI observed by the AP that heard the client (in dBm)
          contentEncoding: int32
        x:
          type: number
          description: Horizontal map coordinate of the unconnected client location, in pixels, if known
        y:
          type: number
          description: Vertical map coordinate of the unconnected client location, in pixels, if known
      description: Location statistics for an unconnected Wi-Fi client observed by an AP
    dot11_proto2:
      title: dot11_proto2
      enum:
      - a
      - ac
      - ax
      - b
      - be
      - g
      - n
      type: string
      description: '802.11 protocol amendment used by the wireless client. enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`.'
    stats_wireless_client_vbeacon:
      title: stats_wireless_client_vbeacon
      type: object
      properties:
        id:
          type: string
          description: Virtual beacon identifier currently associated with the wireless client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        since:
          type: number
          description: Time when the wireless client began matching the virtual beacon, in epoch seconds
      description: Virtual beacon currently associated with a wireless client
    stats_wireless_client_rssi_zone:
      title: stats_wireless_client_rssi_zone
      type: object
      properties:
        id:
          type: string
          description: RSSI zone identifier that currently contains the wireless client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        since:
          type: number
          description: Time when the wireless client entered the RSSI zone, in epoch seconds
      description: RSSI zone currently containing a wireless client
    stats_wireless_client_wxrule_usage:
      title: stats_wireless_client_wxrule_usage
      type: object
      properties:
        tag_id:
          type: string
          description: WxLAN tag identifier for this rule usage entry
          contentEncoding: uuid
        usage:
          type: integer
          description: Count recorded for this WxLAN rule usage entry
          contentEncoding: int32
      description: WxLAN rule usage counter for one wireless tag
    stats_wired_client:
      title: stats_wired_client
      required:
      - mac
      type: object
      properties:
        auth_state:
          minLength: 1
          type: string
          description: Authorization state reported for the wired client
        device_id:
          minLength: 1
          type: string
          description: Identifier of the AP the wired client is connected to
        eth_port:
          minLength: 1
          type: string
          description: AP Ethernet port where the wired client is connected
        last_seen:
          type: number
          description: Time when transmit or receive traffic was last observed for the wired client
        mac:
          minLength: 1
          type: string
          description: Wired client MAC address observed on the AP Ethernet port
        rx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes received by the wired client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 8515104416
        rx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets received by the wired client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 57770567
        site_id:
          type: string
          description: Site identifier associated with the wired client statistics record
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        tx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes transmitted by the wired client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 211217389682
        tx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets transmitted by the wired client connection
          contentEncoding: int64
          readOnly: true
          examples:
          - 812204062
        uptime:
          type: number
          description: Elapsed time since the wired client connected, in seconds
        vlan_id:
          type: number
          description: VLAN identifier used by the wired client, when present
      description: Wired client statistics for a client connected through an AP Ethernet port
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
