openapi: 3.2.0
info:
  title: Mist Orgs Security Policies API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Security Policies
  description: 'Security Policy is designed to audit / catch discrepancies between

    "what''s intended to be running" versus "what''s actually running" in a network.


    Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy.

    Whenever an AP is provisioned, the configuration will be checked against the security policy.

    Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.'
paths:
  /api/v1/orgs/{org_id}/secpolicies:
    parameters: []
    get:
      tags:
      - Orgs Security Policies
      summary: listOrgSecPolicies
      description: List organization security policies. Security policies define WLAN configuration baselines used to audit intended wireless settings against actual AP configuration.
      operationId: listOrgSecPolicies
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/secpolicy'
                description: Security policies returned by list operations
                examples:
                - - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/secpolicy'
                description: Security policies returned by list operations
                examples:
                - - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Security Policies
      summary: createOrgSecPolicy
      description: Create an organization security policy containing WLAN configuration baselines for auditing site and AP configuration compliance.
      operationId: createOrgSecPolicy
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/secpolicy'
              - examples:
                - name: string
                  wlans:
                  - acct_immediate_update: false
                    acct_interim_interval: 0
                    acct_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1813
                      secret: testing123
                    allow_ipv6_ndp: true
                    allow_mdns: false
                    allow_ssdp: false
                    app_limit:
                      apps:
                        dropbox: 300
                        netflix: 60
                      enabled: false
                      wxtag_ids:
                        f99862d9-2726-931f-7559-3dfdf5d070d3: 30
                    app_qos:
                      apps:
                        skype-business-video:
                          dscp: 32
                          dst_subnet: 10.2.0.0/16
                          src_subnet: 10.2.0.0/16
                      enabled: true
                      others:
                      - dscp: 32
                        dst_subnet: 10.2.0.0/16
                        port_ranges: 80,1024-6553
                        protocol: udp
                        src_subnet: 10.2.0.0/16
                    arp_filter: false
                    auth:
                      anticlog_threshold: 16
                      eap_reauth: false
                      enable_mac_auth: false
                      key_idx: 1
                      keys:
                      - string
                      multi_psk_only: false
                      pairwise:
                      - wpa2-ccmp
                      private_wlan: true
                      psk: foryoureyesonly
                      type: psk
                      wep_as_secondary_auth: true
                    auth_server_selection: ordered
                    auth_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1812
                      secret: testing123
                    auth_servers_nas_id: 5c5b350e0101-nas
                    auth_servers_nas_ip: 15.3.1.5
                    auth_servers_retries: 5
                    auth_servers_timeout: 5
                    band: string
                    band_steer: false
                    band_steer_force_band5: false
                    bands:
                    - '24'
                    - '5'
                    block_blacklist_clients: false
                    bonjour:
                      additional_vlan_ids: 10,20
                      enabled: false
                      services:
                        airplay:
                          radius_groups:
                          - teachers
                          scope: same_ap
                    cisco_cwa:
                      allowed_hostnames:
                      - snapchat.com
                      allowed_subnets:
                      - 63.5.3.0/24
                      blocked_subnets:
                      - 192.168.0.0/16
                      enabled: false
                    client_limit_down: 1000
                    client_limit_down_enabled: false
                    client_limit_up: 512
                    client_limit_up_enabled: false
                    coa_servers:
                    - disable_event_timestamp_check: false
                      enabled: false
                      ip: 1.2.3.4
                      port: 3799
                      secret: testing456
                    disable_11ax: false
                    disable_ht_vht_rates: false
                    disable_uapsd: false
                    disable_v1_roam_notify: false
                    disable_v2_roam_notify: false
                    disable_wmm: false
                    dns_server_rewrite:
                      enabled: false
                      radius_groups:
                        contractor: 172.1.1.1
                        guest: 8.8.8.8
                    dtim: 2
                    dynamic_psk:
                      default_psk: foryoureyesonly
                      default_vlan_id: 999
                      enabled: false
                      source: cloud_psks
                    dynamic_vlan:
                      default_vlan_id: 999
                      enabled: false
                      local_vlan_ids:
                      - 1
                      type: airespace-interface-name
                      vlans:
                        '131': default
                        '322': fast,video
                    enable_local_keycaching: false
                    enable_wireless_bridging: false
                    enabled: true
                    fast_dot1x_timers: false
                    hide_ssid: false
                    hostname_ie: false
                    hotspot20:
                      domain_name:
                      - mist.com
                      enabled: true
                      nai_realms:
                      - string
                      operators:
                      - google
                      - att
                      rcoi:
                      - 5A03BA0000
                      venue_name: some_name
                    interface: all
                    isolation: false
                    l2_isolation: false
                    legacy_overds: false
                    limit_bcast: false
                    limit_probe_response: true
                    max_idletime: 1800
                    mist_nac:
                      enabled: false
                    no_static_dns: false
                    no_static_ip: false
                    portal:
                      amazon_client_id: string
                      amazon_client_secret: string
                      amazon_email_domains:
                      - string
                      amazon_enabled: false
                      auth: none
                      azure_client_id: string
                      azure_client_secret: string
                      azure_enabled: false
                      azure_tenant_id: string
                      broadnet_password: password
                      broadnet_sid: MIST
                      broadnet_user_id: juniper
                      bypass_when_cloud_down: false
                      clickatell_api_key: string
                      cross_site: false
                      email_enabled: true
                      enabled: false
                      expire: 1440
                      external_portal_url: string
                      facebook_client_id: string
                      facebook_client_secret: string
                      facebook_email_domains:
                      - string
                      facebook_enabled: false
                      forward: false
                      forward_url: https://abc.com/promotions
                      google_client_id: string
                      google_client_secret: string
                      google_email_domains:
                      - mydomain.edu
                      - mydomain.org
                      google_enabled: false
                      gupshup_password: string
                      gupshup_userid: string
                      microsoft_client_id: string
                      microsoft_client_secret: string
                      microsoft_email_domains:
                      - string
                      microsoft_enabled: false
                      passphrase_enabled: false
                      password: let me in
                      predefined_sponsors_enabled: true
                      privacy: true
                      puzzel_password: string
                      puzzel_service_id: string
                      puzzel_username: string
                      smsMessageFormat: string
                      sms_enabled: false
                      sms_provider: twilio
                      sponsor_auto_approve: false
                      sponsor_email_domains:
                      - reserved.net
                      - reserved.org
                      sponsor_enabled: false
                      sponsor_link_validity_duration: '30'
                      sponsor_notify_all: false
                      sponsor_status_notify: false
                      sponsors:
                        sponsor1@company.com: FirstName1 LastName1
                        sponsor2@company.com: FirstName2 LastName2
                      sso_default_role: string
                      sso_forced_role: string
                      sso_idp_cert: string
                      sso_idp_sign_algo: sha256
                      sso_idp_sso_url: string
                      sso_issuer: string
                      sso_nameid_format: email
                      telstra_client_id: string
                      telstra_client_secret: string
                      twilio_auth_token: af9dac44c344a875ab5d31cb7abcdefg
                      twilio_phone_number: '+18548888888'
                      twilio_sid: AC72ec6ba0ec5af30e6731c5e47abcdefgh
                    portal_allowed_hostnames:
                    - snapchat.com
                    - ibm.com
                    portal_allowed_subnets:
                    - 63.5.3.0/24
                    portal_denied_hostnames:
                    - msg.snapchat.com
                    qos:
                      class: best_effort
                      overwrite: false
                    radsec:
                      enabled: true
                      idle_timeout: 60
                      mxcluster_ids:
                      - 572586b7-f97b-a22b-526c-8b97a3f609c4
                      proxy_hosts:
                      - mxedge1.local
                      server_name: radsec.abc.com
                      servers:
                      - host: 1.1.1.1
                        port: 1812
                      use_mxedge: true
                      use_site_mxedge: false
                    rateset:
                      '24':
                        ht: 00ff00ff00ff
                        legacy:
                        - '6'
                        - '9'
                        - '12'
                        - '18'
                        - 24b
                        - '36'
                        - '48'
                        - '54'
                        min_rssi: -70
                        template: custom
                        vht: 03ff03ff03ff01ff
                      '5':
                        ht: 00ff00ff00ff
                        legacy:
                        - '6'
                        - '9'
                        - '12'
                        - '18'
                        - 24b
                        - '36'
                        - '48'
                        - '54'
                        min_rssi: -70
                        template: custom
                        vht: 03ff03ff03ff01ff
                    roam_mode: NONE
                    schedule:
                      enabled: false
                      hours:
                        fri: 09:00-17:00
                        mon: 09:00-17:00
                    sle_excluded: false
                    ssid: corporate
                    use_eapol_v1: false
                    vlan_enabled: false
                    vlan_ids:
                    - 3
                    - 4
                    - 5
                    vlan_pooling: false
                    wxtag_ids:
                    - 497f6eca-6276-4993-bfeb-53e4bbba6f08
                    wxtunnel_id: string
                    wxtunnel_remote_id: string
              contentMediaType: application/json
            examples:
              Example:
                value:
                  name: string
                  wlans:
                  - acct_immediate_update: false
                    acct_interim_interval: 0
                    acct_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1813
                      secret: testing123
                    allow_ipv6_ndp: true
                    allow_mdns: false
                    allow_ssdp: false
                    app_limit:
                      apps:
                        dropbox: 300
                        netflix: 60
                      enabled: false
                      wxtag_ids:
                        f99862d9-2726-931f-7559-3dfdf5d070d3: 30
                    app_qos:
                      apps:
                        skype-business-video:
                          dscp: 32
                          dst_subnet: 10.2.0.0/16
                          src_subnet: 10.2.0.0/16
                      enabled: true
                      others:
                      - dscp: 32
                        dst_subnet: 10.2.0.0/16
                        port_ranges: 80,1024-6553
                        protocol: udp
                        src_subnet: 10.2.0.0/16
                    arp_filter: false
                    auth:
                      anticlog_threshold: 16
                      eap_reauth: false
                      enable_mac_auth: false
                      key_idx: 1
                      keys:
                      - string
                      multi_psk_only: false
                      pairwise:
                      - wpa2-ccmp
                      private_wlan: true
                      psk: foryoureyesonly
                      type: psk
                      wep_as_secondary_auth: true
                    auth_server_selection: ordered
                    auth_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1812
                      secret: testing123
                    auth_servers_nas_id: 5c5b350e0101-nas
                    auth_servers_nas_ip: 15.3.1.5
                    auth_servers_retries: 5
                    auth_servers_timeout: 5
                    band: string
                    band_steer: false
                    band_steer_force_band5: false
                    bands:
                    - '24'
                    - '5'
                    block_blacklist_clients: false
                    bonjour:
                      additional_vlan_ids: 10,20
                      enabled: false
                      services:
                        airplay:
                          radius_groups:
                          - teachers
                          scope: same_ap
                    cisco_cwa:
                      allowed_hostnames:
                      - snapchat.com
                      allowed_subnets:
                      - 63.5.3.0/24
                      blocked_subnets:
                      - 192.168.0.0/16
                      enabled: false
                    client_limit_down: 1000
                    client_limit_down_enabled: false
                    client_limit_up: 512
                    client_limit_up_enabled: false
                    coa_servers:
                    - disable_event_timestamp_check: false
                      enabled: false
                      ip: 1.2.3.4
                      port: 3799
                      secret: testing456
                    disable_11ax: false
                    disable_ht_vht_rates: false
                    disable_uapsd: false
                    disable_v1_roam_notify: false
                    disable_v2_roam_notify: false
                    disable_wmm: false
                    dns_server_rewrite:
                      enabled: false
                      radius_groups:
                        contractor: 172.1.1.1
                        guest: 8.8.8.8
                    dtim: 2
                    dynamic_psk:
                      default_psk: foryoureyesonly
                      default_vlan_id: 999
                      enabled: false
                      source: cloud_psks
                    dynamic_vlan:
                      default_vlan_id: 999
                      enabled: false
                      local_vlan_ids:
                      - 1
                      type: airespace-interface-name
                      vlans:
                        '131': default
                        '322': fast,video
                    enable_local_keycaching: false
                    enable_wireless_bridging: false
                    enabled: true
                    fast_dot1x_timers: false
                    hide_ssid: false
                    hostname_ie: false
                    hotspot20:
                      domain_name:
                      - mist.com
                      enabled: true
                      nai_realms:
                      - string
                      operators:
                      - google
                      - att
                      rcoi:
                      - 5A03BA0000
                      venue_name: some_name
                    interface: all
                    isolation: false
                    l2_isolation: false
                    legacy_overds: false
                    limit_bcast: false
                    limit_probe_response: true
                    max_idletime: 1800
                    mist_nac:
                      enabled: false
                    no_static_dns: false
                    no_static_ip: false
                    portal:
                      amazon_client_id: string
                      amazon_client_secret: string
                      amazon_email_domains:
                      - string
                      amazon_enabled: false
                      auth: none
                      azure_client_id: string
                      azure_client_secret: string
                      azure_enabled: false
                      azure_tenant_id: string
                      broadnet_password: password
                      broadnet_sid: MIST
                      broadnet_user_id: juniper
                      bypass_when_cloud_down: false
                      clickatell_api_key: string
                      cross_site: false
                      email_enabled: true
                      enabled: false
                      expire: 1440
                      external_portal_url: string
                      facebook_client_id: string
                      facebook_client_secret: string
                      facebook_email_domains:
                      - string
                      facebook_enabled: false
                      forward: false
                      forward_url: https://abc.com/promotions
                      google_client_id: string
                      google_client_secret: string
                      google_email_domains:
                      - mydomain.edu
                      - mydomain.org
                      google_enabled: false
                      gupshup_password: string
                      gupshup_userid: string
                      microsoft_client_id: string
                      microsoft_client_secret: string
                      microsoft_email_domains:
                      - string
                      microsoft_enabled: false
                      passphrase_enabled: false
                      password: let me in
                      predefined_sponsors_enabled: true
                      privacy: true
                      puzzel_password: string
                      puzzel_service_id: string
                      puzzel_username: string
                      smsMessageFormat: string
                      sms_enabled: false
                      sms_provider: twilio
                      sponsor_auto_approve: false
                      sponsor_email_domains:
                      - reserved.net
                      - reserved.org
                      sponsor_enabled: false
                      sponsor_link_validity_duration: '30'
                      sponsor_notify_all: false
                      sponsor_status_notify: false
                      sponsors:
                        sponsor1@company.com: FirstName1 LastName1
                        sponsor2@company.com: FirstName2 LastName2
                      sso_default_role: string
                      sso_forced_role: string
                      sso_idp_cert: string
                      sso_idp_sign_algo: sha256
                      sso_idp_sso_url: string
                      sso_issuer: string
                      sso_nameid_format: email
                      telstra_client_id: string
                      telstra_client_secret: string
                      twilio_auth_token: af9dac44c344a875ab5d31cb7abcdefg
                      twilio_phone_number: '+18548888888'
                      twilio_sid: AC72ec6ba0ec5af30e6731c5e47abcdefgh
                    portal_allowed_hostnames:
                    - snapchat.com
                    - ibm.com
                    portal_allowed_subnets:
                    - 63.5.3.0/24
                    portal_denied_hostnames:
                    - msg.snapchat.com
                    qos:
                      class: best_effort
                      overwrite: false
                    radsec:
                      enabled: true
                      idle_timeout: 60
                      mxcluster_ids:
                      - 572586b7-f97b-a22b-526c-8b97a3f609c4
                      proxy_hosts:
                      - mxedge1.local
                      server_name: radsec.abc.com
                      servers:
                      - host: 1.1.1.1
                        port: 1812
                      use_mxedge: true
                      use_site_mxedge: false
                    rateset:
                      '24':
                        ht: 00ff00ff00ff
                        legacy:
                        - '6'
                        - '9'
                        - '12'
                        - '18'
                        - 24b
                        - '36'
                        - '48'
                        - '54'
                        min_rssi: -70
                        template: custom
                        vht: 03ff03ff03ff01ff
                      '5':
                        ht: 00ff00ff00ff
                        legacy:
                        - '6'
                        - '9'
                        - '12'
                        - '18'
                        - 24b
                        - '36'
                        - '48'
                        - '54'
                        min_rssi: -70
                        template: custom
                        vht: 03ff03ff03ff01ff
                    roam_mode: NONE
                    schedule:
                      enabled: false
                      hours:
                        fri: 09:00-17:00
                        mon: 09:00-17:00
                    sle_excluded: false
                    ssid: corporate
                    use_eapol_v1: false
                    vlan_enabled: false
                    vlan_ids:
                    - 3
                    - 4
                    - 5
                    vlan_pooling: false
                    wxtag_ids:
                    - 497f6eca-6276-4993-bfeb-53e4bbba6f08
                    wxtunnel_id: string
                    wxtunnel_remote_id: string
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/secpolicy'
                - description: Security Policy is designed to audit / catch discrepancies between "what’s intended to be running" versus "what’s actually running" in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.
                  examples:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/secpolicy'
                - description: Security Policy is designed to audit / catch discrepancies between "what’s intended to be running" versus "what’s actually running" in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.
                  examples:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/secpolicies/{secpolicy_id}:
    parameters: []
    delete:
      tags:
      - Orgs Security Policies
      summary: deleteOrgSecPolicy
      description: Remove an organization security policy from the set available for assignment and configuration compliance checks.
      operationId: deleteOrgSecPolicy
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: secpolicy_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs Security Policies
      summary: getOrgSecPolicy
      description: Return an organization security policy, including the WLAN configuration baselines used for compliance auditing.
      operationId: getOrgSecPolicy
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: secpolicy_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/secpolicy'
                - description: Security Policy is designed to audit / catch discrepancies between "what’s intended to be running" versus "what’s actually running" in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.
                  examples:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/secpolicy'
                - description: Security Policy is designed to audit / catch discrepancies between "what’s intended to be running" versus "what’s actually running" in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.
                  examples:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Security Policies
      summary: updateOrgSecPolicy
      description: Update an organization security policy, including its name and WLAN configuration baselines for compliance auditing.
      operationId: updateOrgSecPolicy
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: secpolicy_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/secpolicy'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/secpolicy'
                - description: Security Policy is designed to audit / catch discrepancies between "what’s intended to be running" versus "what’s actually running" in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.
                  examples:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/secpolicy'
                - description: Security Policy is designed to audit / catch discrepancies between "what’s intended to be running" versus "what’s actually running" in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in Device Config History where you can search for the when and where the violation occurs.
                  examples:
                  - name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    name: corporate only
                    wlans:
                    - auth:
                        pairwise:
                        - wpa1-tkip
                        - wpa2-tkip
                        type: psk
                      band: both
                      ssid: office
                    - auth:
                        type: open
                      band: '5'
                      ssid: office-guest
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    wlan_portal_sso_nameid_format2:
      title: wlan_portal_sso_nameid_format2
      enum:
      - email
      - unspecified
      type: string
      description: 'Optional if `wlan_portal_auth`==`sso`. SAML NameID format expected from the identity provider. enum: `email`, `unspecified`.'
    hours2:
      title: hours2
      type: object
      properties:
        fri:
          type: string
          description: Operating hour range for Friday
          examples:
          - 09:00-17:00
        mon:
          type: string
          description: Operating hour range for Monday
          examples:
          - 09:00-17:00
        sat:
          type: string
          description: Operating hour range for Saturday
          examples:
          - 09:00-17:00
        sun:
          type: string
          description: Operating hour range for Sunday
          examples:
          - 09:00-17:00
        thu:
          type: string
          description: Operating hour range for Thursday
          examples:
          - 09:00-17:00
        tue:
          type: string
          description: Operating hour range for Tuesday
          examples:
          - 09:00-17:00
        wed:
          type: string
          description: Operating hour range for Wednesday
          examples:
          - 09:00-17:00
      description: Time ranges when the WLAN is scheduled to operate
    wlan_dns_server_rewrite2:
      title: wlan_dns_server_rewrite2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether DNS server rewrite by RADIUS group is enabled for this WLAN
          default: false
        radius_groups:
          type: object
          additionalProperties:
            type: string
          description: Map between radius_group and the desired DNS server (IPv4 only). Property key is the RADIUS group, property value is the desired DNS Server
          examples:
          - contractor: 172.1.1.1
            guest: 8.8.8.8
      description: RADIUS group based DNS server rewrite settings for this WLAN
    wlan_app_qos_apps_properties:
      title: wlan_app_qos_apps_properties
      type: object
      properties:
        dscp:
          anyOf:
          - type: string
          - maximum: 63
            minimum: 0
            type: integer
            contentEncoding: int32
          description: Differentiated Services Code Point value applied to matching application traffic
        dst_subnet:
          type: string
          description: Subnet filter is not required but helps AP to only inspect certain traffic (thus reducing AP load)
        src_subnet:
          type: string
          description: Subnet filter is not required but helps AP to only inspect certain traffic (thus reducing AP load)
      description: QoS rewrite settings for traffic matching a named application
    wlan_portal2:
      title: wlan_portal2
      type: object
      properties:
        allow_wlan_id_roam:
          type: boolean
          description: Optional if `amazon_enabled`==`true`. Whether to allow guest to connect to other Guest WLANs (with different `WLAN.ssid`) of same org without reauthentication (disable random_mac for seamless roaming)
          default: false
        amazon_client_id:
          type:
          - string
          - 'null'
          description: Optional if `amazon_enabled`==`true`. Amazon OAuth2 client id. This is optional. If not provided, it will use a default one.
        amazon_client_secret:
          type:
          - string
          - 'null'
          description: Optional if `amazon_enabled`==`true`. Amazon OAuth2 client secret. If amazon_client_id was provided, provide a corresponding value. Else leave blank.
          contentEncoding: password
        amazon_email_domains:
          type: array
          items:
            type: string
          description: Optional if `amazon_enabled`==`true`. Email domains allowed for Amazon-authenticated guest users. If null or empty, any authenticated Amazon email domain is allowed.
          default: []
        amazon_enabled:
          type: boolean
          description: Whether amazon is enabled as a login method
          default: false
        amazon_expire:
          type:
          - integer
          - 'null'
          description: Optional if `amazon_enabled`==`true`. Interval for which guest remains authorized using amazon auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        auth:
          allOf:
          - $ref: '#/components/schemas/wlan_portal_auth2'
          - description: 'Guest portal login scheme used by the WLAN. enum: `amazon`, `azure`, `email`, `external`, `facebook`, `google`, `microsoft`, `multi`, `none`, `password`, `sms`, `sponsor`, `sso`.'
            examples:
            - none
        azure_client_id:
          type:
          - string
          - 'null'
          description: Required if `azure_enabled`==`true`. Azure active directory app client id
        azure_client_secret:
          type:
          - string
          - 'null'
          description: Required if `azure_enabled`==`true`. Azure active directory app client secret
          contentEncoding: password
        azure_enabled:
          type: boolean
          description: Whether Azure Active Directory is enabled as a login method
          default: false
        azure_expire:
          type:
          - integer
          - 'null'
          description: Interval for which guest remains authorized using azure auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        azure_tenant_id:
          type:
          - string
          - 'null'
          description: Required if `azure_enabled`==`true`. Azure active directory tenant id.
        broadnet_password:
          type: string
          description: Required if `sms_provider`==`broadnet`. Password for the Broadnet SMS provider account
          contentEncoding: password
          examples:
          - password
        broadnet_sid:
          type: string
          description: Required if `sms_provider`==`broadnet`. SID for the Broadnet SMS provider account
          examples:
          - MIST
        broadnet_user_id:
          type: string
          description: Required if `sms_provider`==`broadnet`. User ID for the Broadnet SMS provider account
          examples:
          - juniper
        bypass_when_cloud_down:
          type: boolean
          description: Whether to bypass the guest portal when cloud not reachable (and apply the default policies)
          default: false
        clickatell_api_key:
          type: string
          description: Required if `sms_provider`==`clickatell`. API key for the Clickatell SMS provider account
        cross_site:
          type: boolean
          description: Whether to allow guest to roam between WLANs (with same `WLAN.ssid`, regardless of variables) of different sites of same org without reauthentication (disable random_mac for seamless roaming)
          default: false
        email_enabled:
          type: boolean
          description: Whether email (access code verification) is enabled as a login method
          default: false
        enabled:
          type: boolean
          description: Whether guest portal is enabled
          default: false
        expire:
          type: integer
          description: How long to remain authorized, in minutes
          contentEncoding: int32
          default: 1440
          examples:
          - 1440
        external_portal_url:
          type: string
          description: Required if `wlan_portal_auth`==`external`. External portal URL (e.g. https://host/url) where we can append our query parameters to
        facebook_client_id:
          type:
          - string
          - 'null'
          description: Required if `facebook_enabled`==`true`. Facebook OAuth2 app id. This is optional. If not provided, it will use a default one.
        facebook_client_secret:
          type:
          - string
          - 'null'
          description: Required if `facebook_enabled`==`true`. Facebook OAuth2 app secret. If facebook_client_id was provided, provide a corresponding value. Else leave blank.
          contentEncoding: password
        facebook_email_domains:
          type: array
          items:
            type: string
          description: Optional if `facebook_enabled`==`true`. Email domains allowed for Facebook-authenticated guest users. If null or empty, any authenticated Facebook email domain is allowed.
          default: []
        facebook_enabled:
          type: boolean
          description: Whether facebook is enabled as a login method
          default: false
        facebook_expire:
          type:
          - integer
          - 'null'
          description: Optional if `facebook_enabled`==`true`. Interval for which guest remains authorized using facebook auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        forward:
          type: boolean
          description: Whether to forward the user to another URL after authorized
          default: false
        forward_url:
          type:
          - string
          - 'null'
          description: URL to forward the user to
          examples:
          - https://abc.com/promotions
        google_client_id:
          type:
          - string
          - 'null'
          description: Google OAuth2 app id. This is optional. If not provided, it will use a default one.
        google_client_secret:
          type:
          - string
          - 'null'
          description: Optional if `google_enabled`==`true`. Google OAuth2 app secret. If google_client_id was provided, provide a corresponding value. Else leave blank.
          contentEncoding: password
        google_email_domains:
          type: array
          items:
            type: string
          description: Optional if `google_enabled`==`true`. Email domains allowed for Google-authenticated guest users. If null or empty, any authenticated Google email domain is allowed.
          default: []
          examples:
          - - mydomain.edu
            - mydomain.org
        google_enabled:
          type: boolean
          description: Whether Google is enabled as login method
          default: false
        google_expire:
          type:
          - integer
          - 'null'
          description: Optional if `google_enabled`==`true`. Interval for which guest remains authorized using Google Auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        gupshup_password:
          type: string
          description: Required if `sms_provider`==`gupshup`. Password for the Gupshup SMS provider account
          contentEncoding: password
        gupshup_userid:
          type: string
          description: Required if `sms_provider`==`gupshup`. User ID for the Gupshup SMS provider account
        microsoft_client_id:
          type:
          - string
          - 'null'
          description: Optional if `microsoft_enabled`==`true`. Microsoft 365 OAuth2 client id. This is optional. If not provided, it will use a default one.
        microsoft_client_secret:
          type:
          - string
          - 'null'
          description: Optional if `microsoft_enabled`==`true`. Microsoft 365 OAuth2 client secret. If microsoft_client_id was provided, provide a corresponding value. Else leave blank.
          contentEncoding: password
        microsoft_email_domains:
          type: array
          items:
            type: string
          description: Optional if `microsoft_enabled`==`true`. Email domains allowed for Microsoft 365-authenticated guest users. If null or empty, any authenticated Microsoft 365 email domain is allowed.
          default: []
        microsoft_enabled:
          type: boolean
          description: Whether microsoft 365 is enabled as a login method
          default: false
        microsoft_expire:
          type:
          - integer
          - 'null'
          description: Optional if `microsoft_enabled`==`true`. Interval for which guest remains authorized using microsoft auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        passphrase_enabled:
          type: boolean
          description: Whether password is enabled
          default: false
        passphrase_expire:
          type:
          - integer
          - 'null'
          description: Optional if `passphrase_enabled`==`true`. Interval for which guest remains authorized using passphrase auth (in minutes), if not provided, uses `expire`
          contentEncoding: int32
        password:
          type:
          - string
          - 'null'
          description: Required if `passphrase_enabled`==`true`. Passphrase guests must enter when passphrase authentication is enabled
          examples:
          - let me in
        predefined_sponsors_enabled:
          type: boolean
          description: Whether to show list of sponsor emails mentioned in `sponsors` object as a dropdown. If both `sponsor_notify_all` and `predefined_sponsors_enabled` are false, behavior is acc to `sponsor_email_domains`
          default: true
        predefined_sponsors_hide_email:
          type: boolean
          description: Whether to hide sponsor’s email from list of sponsors
          default: false
        privacy:
          type: boolean
          description: Whether to show the privacy policy in the WLAN guest portal
          default: false
        puzzel_password:
          type: string
          description: Required if `sms_provider`==`puzzel`. Password for the Puzzel SMS provider account
          contentEncoding: password
        puzzel_service_id:
          type: string
          description: Required if `sms_provider`==`puzzel`. Service ID for the Puzzel SMS provider account
        puzzel_username:
          type: string
          description: Required if `sms_provider`==`puzzel`. Username for the Puzzel SMS provider account
        smsMessageFormat:
          type: string
          description: Optional if `sms_enabled`==`true`. SMS Message format
          default: Code {{code}} expires in {{duration}} minutes.
        sms_enabled:
          type: boolean
          description: Whether sms is enabled as a login method
          default: false
        sms_expire:
          type:
          - integer
          - 'null'
          description: Optional if `sms_enabled`==`true`. Interval for which guest remains authorized using sms auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        sms_provider:
          allOf:
          - $ref: '#/components/schemas/wlan_portal_sms_provider2'
          - description: 'Optional if `sms_enabled`==`true`. SMS provider used to deliver guest portal access codes. enum: `broadnet`, `clickatell`, `gupshup`, `manual`, `puzzel`, `telstra`, `twilio`, `smsglobal`.'
            examples:
            - twilio
        smsglobal_api_key:
          type: string
          description: Required if `sms_provider`==`smsglobal`, Client API Key
        smsglobal_api_secret:
          type: string
          description: Required if `sms_provider`==`smsglobal`, Client secret
          contentEncoding: password
        smsglobal_sender:
          type: string
          description: Optional sender's number or sender ID for SMSGlobal. If not provided, uses the default number associated with the account
        sponsor_auto_approve:
          type: boolean
          description: Optional if `sponsor_enabled`==`true`. Whether to automatically approve guest and allow sponsor to revoke guest access, needs predefined_sponsors_enabled enabled and sponsor_notify_all disabled
          default: false
        sponsor_email_domains:
          type: array
          items:
            type: string
          description: Email domains allowed for sponsor email addresses. Required if `sponsor_enabled` is `true` and `sponsors` is empty.
          examples:
          - - reserved.net
            - reserved.org
        sponsor_enabled:
          type: boolean
          description: Whether sponsor is enabled
          default: false
        sponsor_expire:
          type:
          - integer
          - 'null'
          description: Optional if `sponsor_enabled`==`true`. Interval for which guest remains authorized using sponsor auth (in minutes), if not provided, uses expire`
          contentEncoding: int32
        sponsor_link_validity_duration:
          anyOf:
          - maximum: 60
            minimum: 5
            type: integer
            contentEncoding: int32
            default: 60
          - type: string
          description: Optional if `sponsor_enabled`==`true`. Validity duration, in minutes, for approve or deny links in sponsor emails. Valid values are 5 to 60.
        sponsor_notify_all:
          type: boolean
          description: Optional if `sponsor_enabled`==`true`. whether to notify all sponsors that are mentioned in `sponsors` object. Both `sponsor_notify_all` and `predefined_sponsors_enabled` should be true in order to notify sponsors. If true, email sent to 10 sponsors in no particular order.
          default: false
        sponsor_status_notify:
          type: boolean
          description: Optional if `sponsor_enabled`==`true`. If enabled, guest will get email about sponsor's action (approve/deny)
          default: false
        sponsors:
          oneOf:
          - type: array
            items:
              type: string
          - type: object
            additionalProperties:
              type: string
            examples:
            - sponsor1@company.com: FirstName1 LastName1
              sponsor2@company.com: FirstName2 LastName2
          description: Allowed sponsor email addresses and display names. Required if `sponsor_enabled` is `true` and `sponsor_email_domains` is empty.
        sso_default_role:
          type: string
          description: Optional if `wlan_portal_auth`==`sso`, default role to assign if there’s no match. By default, an assertion is treated as invalid when there’s no role matched
        sso_forced_role:
          type: string
          description: Optional if `wlan_portal_auth`==`sso`. Role assigned to authenticated users when guest SSO is used
        sso_idp_cert:
          type: string
          description: Required if `wlan_portal_auth`==`sso`. IDP Cert (used to verify the signed response)
        sso_idp_sign_algo:
          allOf:
          - $ref: '#/components/schemas/wlan_portal_idp_sign_algo2'
          - description: 'Optional if `wlan_portal_auth`==`sso`. Signing algorithm used for SAML assertions from the identity provider. enum: `sha1`, `sha256`, `sha384`, `sha512`.'
        sso_idp_sso_url:
          type: string
          description: Required if `wlan_portal_auth`==`sso`, IDP Single-Sign-On URL
        sso_issuer:
          type: string
          description: Required if `wlan_portal_auth`==`sso`, IDP issuer URL
        sso_nameid_format:
          allOf:
          - $ref: '#/components/schemas/wlan_portal_sso_nameid_format2'
          - description: 'Optional if `wlan_portal_auth`==`sso`. SAML NameID format expected from the identity provider. enum: `email`, `unspecified`.'
        telstra_client_id:
          type: string
          description: Required if `sms_provider`==`telstra`, Client ID provided by Telstra
        telstra_client_secret:
          type: string
          description: Required if `sms_provider`==`telstra`, Client secret provided by Telstra
          contentEncoding: password
        twilio_auth_token:
          type:
          - string
          - 'null'
          description: Required if `sms_provider`==`twilio`, Auth token account with twilio account
          contentEncoding: password
          examples:
          - af9dac44c344a875ab5d31cb7abcdefg
        twilio_phone_number:
          type:
          - string
          - 'null'
          description: Required if `sms_provider`==`twilio`, Twilio phone number associated with the account. See example for accepted format.
          examples:
          - '+18548888888'
        twilio_sid:
          type:
          - string
          - 'null'
          description: Required if `sms_provider`==`twilio`, Account SID provided by Twilio
          examples:
          - af9dac44c344a875ab5d31cb7abcdefg
      description: Guest portal settings for this WLAN
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    vlan_id_with_variable:
      oneOf:
      - type: string
      - maximum: 4094
        minimum: 1
        type: integer
        contentEncoding: int32
      description: VLAN ID, either numeric or expressed as a template variable string
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    wlan_hotspot_202:
      title: wlan_hotspot_202
      type: object
      properties:
        domain_name:
          type: array
          items:
            type: string
          description: Advertised domain names for Hotspot 2.0 clients
          examples:
          - - mist.com
        enabled:
          type: boolean
          description: Whether to enable hotspot 2.0 config
        nai_realms:
          uniqueItems: true
          type: array
          items:
            type: string
          description: NAI realms advertised for Hotspot 2.0 authentication
        operators:
          type: array
          items:
            $ref: '#/components/schemas/wlan_hotspot20_operators_item'
          description: Operator profiles supported by this Hotspot 2.0 configuration
          examples:
          - - google
            - att
        rcoi:
          type: array
          items:
            type: string
          description: Roaming Consortium Organization Identifiers advertised for Hotspot 2.0
          examples:
          - - 5A03BA0000
        venue_name:
          type: string
          description: Venue name, default is site name
          examples:
          - some_name
      description: Passpoint and Hotspot 2.0 settings for this WLAN
    wlan_cisco_cwa2:
      title: wlan_cisco_cwa2
      type: object
      properties:
        allowed_hostnames:
          type: array
          items:
            type: string
          description: Hostnames allowed for Cisco CWA client access before authorization
        allowed_subnets:
          type: array
          items:
            type: string
          description: CIDR subnets allowed for Cisco CWA client access before authorization
        blocked_subnets:
          type: array
          items:
            type: string
          description: CIDR subnets blocked for Cisco CWA client access
        enabled:
          type: boolean
          description: Whether Cisco CWA is enabled for this WLAN
          default: false
      description: Central web authentication settings for Cisco CWA on this WLAN
    wlan_dynamic_vlan2:
      title: wlan_dynamic_vlan2
      type: object
      properties:
        default_vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
            default: 999
          description: Deprecated default VLAN ID used when no RADIUS VLAN match is returned. Please use `default_vlan_ids` instead, which can support VLAN pools.
          deprecated: true
        default_vlan_ids:
          type: array
          items:
            $ref: '#/components/schemas/wlan_dynamic_vlan_default_vlan_id'
          description: Fallback VLAN IDs, ranges, or variables used when no RADIUS VLAN match is returned
        enabled:
          type: boolean
          description: Requires `vlan_enabled`==`true` to be set to `true`. Whether to enable dynamic vlan
          default: false
        local_vlan_ids:
          type: array
          items:
            $ref: '#/components/schemas/vlan_id_with_variable'
          description: VLAN IDs that should be locally bridged for dynamic VLAN assignment
        type:
          allOf:
          - $ref: '#/components/schemas/wlan_dynamic_vlan_type2'
          - description: 'Dynamic VLAN mapping method used for RADIUS-provided VLAN attributes. enum: `airespace-interface-name`, `standard`.'
            examples:
            - airespace-interface-name
        vlans:
          type: object
          additionalProperties:
            type: string
          description: "Map between vlan_id (as string) to airespace interface names (comma-separated) or null for standard mapping\n  * if `dynamic_vlan.type`==`standard`, property key is the VLAN ID and property value is \\\"\\\"\n  * if `dynamic_vlan.type`==`airespace-interface-name`, property key is the VLAN ID and property value is the Airespace Interface Name"
          examples:
          - '131': default
            '322': fast,video
      description: VLAN assignment settings for 802.1X dynamic VLANs
    wlan_bonjour2:
      title: wlan_bonjour2
      type: object
      properties:
        additional_vlan_ids:
          anyOf:
          - type: string
          - type: array
            items:
              $ref: '#/components/schemas/vlan_id_with_variable'
          description: VLAN IDs, beyond the client VLAN, where Bonjour queries and responses are forwarded
        enabled:
          type: boolean
          description: Whether to enable bonjour for this WLAN. Once enabled, limit_bcast is assumed true, allow_mdns is assumed false
          default: false
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/wlan_bonjour_service_properties'
          description: "What services are allowed. \nProperty key is the service name"
          examples:
          - airplay:
              radius_groups:
              - teachers
              scope: same_ap
      description: Service discovery gateway settings for Bonjour traffic on this WLAN
    wlan_qos_class2:
      title: wlan_qos_class2
      enum:
      - background
      - best_effort
      - video
      - voice
      type: string
      description: 'QoS traffic class applied when WLAN QoS override is enabled. enum: `background`, `best_effort`, `video`, `voice`.'
      examples:
      - best_effort
    dynamic_psk_source1:
      title: dynamic_psk_source1
      enum:
      - cloud_psks
      - radius
      type: string
      description: 'Origin used to retrieve per-user PSKs. enum: `cloud_psks`, `radius`.'
      examples:
      - cloud_psks
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    wlan_schedule2:
      title: wlan_schedule2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the WLAN operating schedule is enabled
          default: false
        hours:
          allOf:
          - $ref: '#/components/schemas/hours2'
          - description: Time ranges when the WLAN is scheduled to operate
      description: Operating schedule controlling when this WLAN is active
    wlan_datarates:
      title: wlan_datarates
      type: object
      properties:
        eht:
          type:
          - string
          - 'null'
          description: If `template`==`custom`. EHT MCS bitmasks for 4 streams (16-bit for each stream, MCS0 is least significant bit)
          examples:
          - 3fff0fff0fff03ff
        he:
          type:
          - string
          - 'null'
          description: If `template`==`custom`. HE MCS bitmasks for 4 streams (16-bit for each stream, MCS0 is least significant bit
          examples:
          - 0fff0fff0fff0fff
        ht:
          type:
          - string
          - 'null'
[...]
