openapi: 3.2.0
info:
  title: Mist Orgs Asset Filters API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Asset Filters
  description: 'An Asset Filter is a feature that allows users to define specific criteria or conditions to filter and display only certain assets based on their attributes or properties.


    This requires the Asset Visibility subscription.'
paths:
  /api/v1/orgs/{org_id}/assetfilters:
    parameters: []
    get:
      tags:
      - Orgs Asset Filters
      summary: listOrgAssetFilters
      description: List organization-level BLE asset filters. Each filter operates independently, and an asset must match all specified filter properties for that filter to apply.
      operationId: listOrgAssetFilters
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_filter'
                description: List of BLE asset filters
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_filter'
                description: List of BLE asset filters
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Asset Filters
      summary: createOrgAssetFilter
      description: Create an organization-level BLE asset filter. Any subset of filter properties can be included, and a matching asset must meet all specified conditions.
      operationId: createOrgAssetFilter
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/asset_filter'
              - examples:
                - disabled: true
                  eddystone_uid_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                  mfg_company_id: 0
                  name: string
              contentMediaType: application/json
            examples:
              Example:
                value:
                  disabled: true
                  eddystone_uid_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                  mfg_company_id: 0
                  name: string
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/asset_filter'
                - description: BLE asset filter definition; all specified criteria must match
                  examples:
                  - created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/asset_filter'
                - description: BLE asset filter definition; all specified criteria must match
                  examples:
                  - created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/assetfilters/{assetfilter_id}:
    parameters: []
    delete:
      tags:
      - Orgs Asset Filters
      summary: deleteOrgAssetFilter
      description: Delete an organization-level BLE asset filter by filter ID.
      operationId: deleteOrgAssetFilter
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: assetfilter_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs Asset Filters
      summary: getOrgAssetFilter
      description: Return one organization-level BLE asset filter, including its name, disabled state, and matching criteria.
      operationId: getOrgAssetFilter
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: assetfilter_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/asset_filter'
                - description: BLE asset filter definition; all specified criteria must match
                  examples:
                  - created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/asset_filter'
                - description: BLE asset filter definition; all specified criteria must match
                  examples:
                  - created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Asset Filters
      summary: updateOrgAssetFilter
      description: Update an organization-level BLE asset filter's name, disabled state, or matching criteria.
      operationId: updateOrgAssetFilter
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: assetfilter_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/asset_filter'
              - description: Request Body
                examples:
                - disabled: true
                  eddystone_uid_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab2
                  mfg_company_id: 0
                  name: string
              contentMediaType: application/json
            examples:
              Example:
                value:
                  disabled: true
                  eddystone_uid_namespace: string
                  eddystone_url: string
                  ibeacon_major: 1
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab2
                  mfg_company_id: 0
                  name: string
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/asset_filter'
                - description: BLE asset filter definition; all specified criteria must match
                  examples:
                  - created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/asset_filter'
                - description: BLE asset filter definition; all specified criteria must match
                  examples:
                  - created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    disabled: true
                    eddystone_uid_namespace: string
                    eddystone_url: string
                    for_site: true
                    ibeacon_major: 1
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    mfg_company_id: 0
                    modified_time: 0
                    mqtt_topic: xxxxx
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    asset_filter:
      title: asset_filter
      required:
      - name
      type: object
      properties:
        ap_mac:
          type: string
          description: Access point MAC address that must observe the BLE asset
        beam:
          type: integer
          description: BLE beam number used to filter asset observations
          contentEncoding: int32
        created_time:
          type: number
          description: Timestamp when this asset filter was created
          readOnly: true
        disabled:
          type: boolean
          description: Whether the asset filter is disabled
          default: false
        eddystone_uid_namespace:
          type: string
          description: Eddystone uid namespace used to filter assets
          examples:
          - 2818e3868dec25629ede
        eddystone_url:
          type: string
          description: Eddystone url used to filter assets
          examples:
          - https://www.abc.com
        for_site:
          type: boolean
          description: Whether this asset filter is scoped directly to a site
          readOnly: true
        ibeacon_major:
          maximum: 65535
          minimum: 1
          type:
          - integer
          - 'null'
          description: Major value from the iBeacon advertisement that assets must match
          contentEncoding: int32
          examples:
          - 1234
        ibeacon_uuid:
          type:
          - string
          - 'null'
          description: UUID from the iBeacon advertisement that assets must match
          contentEncoding: uuid
          examples:
          - f3f17139-704a-f03a-2786-0400279e37c3
        id:
          type: string
          description: Unique identifier of the asset filter
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        mfg_company_id:
          type: integer
          description: BLE manufacturing-specific company-id used to filter assets
          contentEncoding: int32
          examples:
          - 935
        modified_time:
          type: number
          description: Timestamp when this asset filter was last modified
          readOnly: true
        mqtt_topic:
          type: string
          description: If set, matching BLE advertisements are forwarded to this MQTT topic when MQTT publishing is enabled
        name:
          type: string
          description: Display name for this BLE asset filter
          examples:
          - Visitor Tags
        org_id:
          type: string
          description: Owning organization identifier for this asset filter
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        rssi:
          type: integer
          description: Signal strength threshold used to filter BLE asset observations
          contentEncoding: int32
        service_uuid:
          type: string
          description: BLE service data uuid used to filter assets
          contentEncoding: uuid
          examples:
          - 0000fe6a-0000-1000-8000-0030459b3cfb
        site_id:
          type: string
          description: Containing site identifier for this asset filter, when site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
      description: BLE asset filter definition; all specified criteria must match
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
