openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Clients API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Clients
  description: Client session and statistics tracking
paths:
  /sites/{site_id}/stats/clients:
    get:
      operationId: listSiteClientStats
      summary: Juniper Networks List client statistics
      description: Returns wireless client statistics for the site.
      tags:
      - Clients
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Client statistics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientStats'
components:
  parameters:
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 100
        maximum: 1000
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier
      schema:
        type: string
        format: uuid
  schemas:
    ClientStats:
      type: object
      properties:
        mac:
          type: string
        hostname:
          type: string
        ip:
          type: string
        ssid:
          type: string
        wlan_id:
          type: string
          format: uuid
        ap_mac:
          type: string
        ap_id:
          type: string
          format: uuid
        band:
          type: string
        channel:
          type: integer
        rssi:
          type: number
          description: Signal strength in dBm
        snr:
          type: number
          description: Signal-to-noise ratio
        tx_rate:
          type: number
          description: Transmit rate in Mbps
        rx_rate:
          type: number
          description: Receive rate in Mbps
        tx_bytes:
          type: integer
        rx_bytes:
          type: integer
        uptime:
          type: integer
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
