openapi: 3.2.0
info:
  title: Mist Orgs Maps API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Maps
  description: These API Calls to import Site Maps at the Org level
paths:
  /api/v1/orgs/{org_id}/maps/import:
    parameters: []
    post:
      tags:
      - Orgs Maps
      summary: importOrgMaps
      description: 'Import data from files is a multipart POST which has a file, an optional json, and an optional csv, to create floorplan, assign matching inventory to specific site, place ap if name or mac matches


        ### CSV File Format

        ```csv

        Vendor AP name,Mist AP Mac

        US Office AP-2 - 5c:5b:35:00:00:02,5c5b35000002

        ```'
      operationId: importOrgMaps
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              type: object
              properties:
                auto_deviceprofile_assignment:
                  type: boolean
                  description: Whether to auto assign device to deviceprofile by name
                  examples:
                  - true
                csv:
                  type: string
                  description: Optional AP name-mapping CSV file
                  contentEncoding: base64
                file:
                  type: string
                  description: Ekahau or iBwave floorplan file to import
                  contentEncoding: base64
                json:
                  allOf:
                  - $ref: '#/components/schemas/map_org_import_file_json2'
                  - description: Import options for the organization map file
              contentMediaType: multipart/form-data
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_map_import'
                - description: Result of importing map files and matching AP placements
                  examples:
                  - '{"aps":[{"action":"assigned-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"assigned-named-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"placed","floorplan_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                contentMediaType: application/json
              examples:
                Assigned And Placed:
                  value:
                    aps:
                    - action: assigned-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Assigned Named And Placed:
                  value:
                    aps:
                    - action: assigned-named-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Placed:
                  value:
                    aps:
                    - action: placed
                      floorplan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_map_import'
                - description: Result of importing map files and matching AP placements
                  examples:
                  - '{"aps":[{"action":"assigned-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"assigned-named-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"placed","floorplan_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                contentMediaType: application/vnd.api+json
              examples:
                Assigned And Placed:
                  value:
                    aps:
                    - action: assigned-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Assigned Named And Placed:
                  value:
                    aps:
                    - action: assigned-named-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Placed:
                  value:
                    aps:
                    - action: placed
                      floorplan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/sites/{site_name}/maps/import:
    parameters: []
    post:
      tags:
      - Orgs Maps
      summary: importOrgMapToSite
      description: Import floorplan data into a site from a multipart upload. The upload includes an Ekahau or iBwave floorplan file, optional import options JSON, and optional AP name-mapping CSV; matching inventory can be assigned to the site and APs placed when names or MAC addresses match.
      operationId: importOrgMapToSite
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: site_name
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              type: object
              properties:
                auto_deviceprofile_assignment:
                  type: boolean
                  description: Whether to auto assign device to deviceprofile by name
                  examples:
                  - true
                csv:
                  type: string
                  description: Optional AP name-mapping CSV file
                  contentEncoding: base64
                file:
                  type: string
                  description: Ekahau or iBwave floorplan file to import
                  contentEncoding: base64
                json:
                  allOf:
                  - $ref: '#/components/schemas/map_import_json1'
                  - description: Import options for the site map file
              contentMediaType: multipart/form-data
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_map_import'
                - description: Result of importing map files and matching AP placements
                  examples:
                  - '{"aps":[{"action":"assigned-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"assigned-named-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"placed","floorplan_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                contentMediaType: application/json
              examples:
                Assigned And Placed:
                  value:
                    aps:
                    - action: assigned-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Assigned Named And Placed:
                  value:
                    aps:
                    - action: assigned-named-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Placed:
                  value:
                    aps:
                    - action: placed
                      floorplan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_map_import'
                - description: Result of importing map files and matching AP placements
                  examples:
                  - '{"aps":[{"action":"assigned-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"assigned-named-placed","floorplan_id":"6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9","mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"cbdb7f0b-3be0-4872-88f9-58790b509c23","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                  - '{"aps":[{"action":"placed","floorplan_id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","height":3,"mac":"5c5b35000001","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","orientation":45}],"floorplans":[{"action":"imported","id":"b069b358-4c97-5319-1f8c-7c5ca64d6ab1","map_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","name":"map1"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","summary":{"num_ap_assigned":1,"num_inv_assigned":1,"num_map_assigned":1}}'
                contentMediaType: application/vnd.api+json
              examples:
                Assigned And Placed:
                  value:
                    aps:
                    - action: assigned-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Assigned Named And Placed:
                  value:
                    aps:
                    - action: assigned-named-placed
                      floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
                Placed:
                  value:
                    aps:
                    - action: placed
                      floorplan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      height: 3
                      mac: 5c5b35000001
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 45
                    floorplans:
                    - action: imported
                      id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      name: map1
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    summary:
                      num_ap_assigned: 1
                      num_inv_assigned: 1
                      num_map_assigned: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_map_import_summary:
      title: response_map_import_summary
      required:
      - num_ap_assigned
      - num_inv_assigned
      - num_map_assigned
      type: object
      properties:
        num_ap_assigned:
          type: integer
          description: Number of AP placements assigned during the map import
          contentEncoding: int32
        num_inv_assigned:
          type: integer
          description: Number of inventory records assigned to the site during the map import
          contentEncoding: int32
        num_map_assigned:
          type: integer
          description: Number of map floorplans assigned during the map import
          contentEncoding: int32
      description: Counts summarizing assignments made during the map import
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_map_import_ap:
      title: response_map_import_ap
      required:
      - action
      - floorplan_id
      - mac
      - map_id
      - orientation
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/response_map_import_ap_action2'
          - description: 'Import action applied to this AP. enum: `assigned-named-placed`, `assigned-placed`, `ignored`, `named-placed`, `placed`.'
        floorplan_id:
          type: string
          description: Floorplan identifier where the AP placement was imported
          contentEncoding: uuid
        height:
          type: number
          description: Mounting height for the AP on the imported floorplan
        mac:
          type: string
          description: AP MAC address matched from the import file
        map_id:
          type: string
          description: Map identifier associated with the imported AP placement
          contentEncoding: uuid
        orientation:
          type: integer
          description: AP orientation in degrees on the imported floorplan
          contentEncoding: int32
        reason:
          type: string
          description: Explanation of why the AP import action was not completed, when provided
      description: AP placement result from a map import
    map_import_json_vendor_name2:
      title: map_import_json_vendor_name2
      enum:
      - ekahau
      - ibwave
      type: string
      description: 'Map import vendor for the uploaded JSON. enum: `ekahau`, `ibwave`.'
      examples:
      - ekahau
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_map_import:
      title: response_map_import
      required:
      - aps
      - floorplans
      - site_id
      - summary
      type: object
      properties:
        aps:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/response_map_import_ap'
          description: AP placement results produced by the map import
        floorplans:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/response_map_import_floorplan'
          description: Floorplan import results produced by the map import
        for_site:
          type: boolean
          description: Whether this map import response is scoped to a site
          readOnly: true
        site_id:
          type: string
          description: Site associated with the map import result
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        summary:
          allOf:
          - $ref: '#/components/schemas/response_map_import_summary'
          - description: Counts summarizing assignments made during the map import
      description: Result of importing map files and matching AP placements
    map_org_import_file_json_vendor_name2:
      title: map_org_import_file_json_vendor_name2
      enum:
      - ekahau
      - ibwave
      type: string
      description: 'Map import vendor for the uploaded file. enum: `ekahau`, `ibwave`.'
      examples:
      - ekahau
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_map_import_ap_action2:
      title: response_map_import_ap_action2
      enum:
      - assigned-named-placed
      - assigned-placed
      - ignored
      - named-placed
      - placed
      type: string
      description: 'Import action applied to this AP. enum: `assigned-named-placed`, `assigned-placed`, `ignored`, `named-placed`, `placed`.'
    map_import_json1:
      title: map_import_json1
      required:
      - vendor_name
      type: object
      properties:
        import_all_floorplans:
          type: boolean
          description: Whether to import all floorplans from the uploaded map JSON
          default: false
        import_height:
          type: boolean
          description: Whether to import height metadata from the uploaded map JSON
          default: true
        import_orientation:
          type: boolean
          description: Whether to import orientation metadata from the uploaded map JSON
          default: true
        vendor_name:
          allOf:
          - $ref: '#/components/schemas/map_import_json_vendor_name2'
          - description: 'Map import vendor for the uploaded JSON. enum: `ekahau`, `ibwave`.'
            examples:
            - ekahau
      description: Import options for the site map file
    response_map_import_floorplan:
      title: response_map_import_floorplan
      required:
      - action
      - id
      - map_id
      - name
      type: object
      properties:
        action:
          type: string
          description: Import action applied to this floorplan
        id:
          type: string
          description: Floorplan identifier returned by the import
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        map_id:
          type: string
          description: Map identifier associated with the imported floorplan
          contentEncoding: uuid
        name:
          type: string
          description: Floorplan name imported from the map file
        reason:
          type: string
          description: Explanation of why the floorplan import action was not completed, when provided
      description: Floorplan result from a map import
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    map_org_import_file_json2:
      title: map_org_import_file_json2
      required:
      - vendor_name
      type: object
      properties:
        import_all_floorplans:
          type: boolean
          description: Whether to import all floorplans from the uploaded map file
          default: false
        import_height:
          type: boolean
          description: Whether to import height metadata from the uploaded map file
          default: true
        import_orientation:
          type: boolean
          description: Whether to import orientation metadata from the uploaded map file
          default: true
        site_id:
          type: string
          description: Target site for imported floorplans, when specified
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        vendor_name:
          allOf:
          - $ref: '#/components/schemas/map_org_import_file_json_vendor_name2'
          - description: 'Map import vendor for the uploaded file. enum: `ekahau`, `ibwave`.'
            examples:
            - ekahau
      description: Import options for the organization map file
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
