openapi: 3.2.0
info:
  title: Mist Orgs Linked Applications API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Linked Applications
  description: 'Linked Application are Third party applications linked to the Mist Organization.

    This is usually using OAuth2.0 or API integrations for a Cloud-to-Cloud Communication.'
paths:
  /api/v1/orgs/{org_id}/setting/{app_name}/link_accounts:
    parameters: []
    get:
      tags:
      - Orgs Linked Applications
      summary: getOrgOauthAppLinkedStatus
      description: Return linked-account status for the specified organization OAuth application and the authorization URL used to start account linking.
      operationId: getOrgOauthAppLinkedStatus
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: app_name
        in: path
        description: OAuth application name
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/oauth_app_name'
          - description: OAuth application name
      - name: forward
        in: query
        description: Mist portal url to which backend needs to redirect after successful OAuth authorization. **Required** to get the `authorization_url`
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/account_oauth_info'
                - description: OAuth-linked application account status and authorization details
                  examples:
                  - '{"accounts":[{"account_id":"ae9dee49-69e7-4710-a114-5b827a777738","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1728275689.284758,"name":"Test Company1 Ltd"},{"account_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","error":"Get token failed, please re-link crowdstrike","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1728275689.284758,"name":"Test Company2 Ltd"}],"linked":true}'
                  - '{"accounts":[{"error":"OAuth token refresh failed, please re-link your account","instance_url":"junipertest.jamfcloud.com","last_status":"failed","last_sync":1665465339000,"linked_by":"Testname1","name":"Test Company1 Ltd","smartgroup_name":"CompliantGroup1"}],"linked":true}'
                  - '{"accounts":[{"account_id":"7f80cd00-40b1-49e5-b2cb-9386d89af0d6","client_id":"3e408b13255844149f2830e8609fe8f3","instance_url":"https://a0020372.mobicontrol.cloud","last_status":"success","last_sync":1665465339000,"linked_by":"User1","linked_timestamp":1702284364,"name":"Company1 Ltd."},{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","client_id":"e81cfb1980454b4bb6109c74136ca528","error":"Get token failed, please re-link MobiControl account","instance_url":"https://a0032314.mobicontrol.cloud","last_status":"failed","last_sync":1234567890123,"linked_by":"User2","linked_timestamp":1702284364,"name":"Company2 Ltd."}],"linked":true}'
                  - '{"accounts":[{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7059","instance_url":"usea1-015.sentinelone.net","last_status":"success","last_sync":1234567891,"linked_by":"user1@test.com","linked_timestamp":1234567891,"name":"company1"},{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7060","error":"Get token failed, please re-link SentinelOne account","instance_url":"usea1-017.sentinelone.net","last_status":"failed","last_sync":1234567800,"linked_by":"user2@test.com","linked_timestamp":1234567891,"name":"company2"}],"linked":true}'
                  - '{"accounts":[{"account_id":"f43ea4c4-8a97-4159-9214-112a8c7b8f22","instance_url":"as800.airwatchportals.com","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1702284364,"name":"Test Company1 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"},{"account_id":"m56ea4c4-8a10-4189-9214-113a8c7b8m82","error":"Get token failed, please re-link VMware","instance_url":"as561.airwatchportals.com","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1702284364,"name":"Test Company2 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"}],"linked":true}'
                  - '{"accounts":[{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","cloud_name":"zdxcloud.net","key_id":"K35vrZcK3JvrZc","webhook_url":"https://webhook.url/xxx","zdx_org_id":"123456"}],"linked":true}'
                  - '{"accounts":[{"account_id":"KkEM7orQSIWHZNFzwMLuRA","company":"Test Company1 Ltd","last_status":"success","last_sync":1665465339,"linked_by":"Testname1","max_daily_api_requests":1500},{"account_id":"kojzWgIJQ0ujR73VvydOdg","company":"Test Company2 Ltd","error":"OAuth token refresh failed, please re-link your account","errors":["OAuth token refresh failed, please re-link your account","API daily rate limit reached for your account"],"last_status":"failed","last_sync":1665465346,"linked_by":"Testname2","max_daily_api_requests":5000},{"account_id":"iojzXIJWEuiD73ZvydOfg","company":"Test Company3 Ltd","last_status":"failed","last_sync":1665465538,"linked_by":"Testname3","max_daily_api_requests":3500}],"authorization_url":"https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI","linked":true}'
                contentMediaType: application/json
              examples:
                Crowdstrike:
                  value:
                    accounts:
                    - account_id: ae9dee49-69e7-4710-a114-5b827a777738
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1728275689.284758
                      name: Test Company1 Ltd
                    - account_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      error: Get token failed, please re-link crowdstrike
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1728275689.284758
                      name: Test Company2 Ltd
                    linked: true
                Jamf:
                  value:
                    accounts:
                    - error: OAuth token refresh failed, please re-link your account
                      instance_url: junipertest.jamfcloud.com
                      last_status: failed
                      last_sync: 1665465339000
                      linked_by: Testname1
                      name: Test Company1 Ltd
                      smartgroup_name: CompliantGroup1
                    linked: true
                Mobicontrol:
                  value:
                    accounts:
                    - account_id: 7f80cd00-40b1-49e5-b2cb-9386d89af0d6
                      client_id: 3e408b13255844149f2830e8609fe8f3
                      instance_url: https://a0020372.mobicontrol.cloud
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: User1
                      linked_timestamp: 1702284364
                      name: Company1 Ltd.
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      client_id: e81cfb1980454b4bb6109c74136ca528
                      error: Get token failed, please re-link MobiControl account
                      instance_url: https://a0032314.mobicontrol.cloud
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: User2
                      linked_timestamp: 1702284364
                      name: Company2 Ltd.
                    linked: true
                SentinelOne:
                  value:
                    accounts:
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7059
                      instance_url: usea1-015.sentinelone.net
                      last_status: success
                      last_sync: 1234567891
                      linked_by: user1@test.com
                      linked_timestamp: 1234567891
                      name: company1
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7060
                      error: Get token failed, please re-link SentinelOne account
                      instance_url: usea1-017.sentinelone.net
                      last_status: failed
                      last_sync: 1234567800
                      linked_by: user2@test.com
                      linked_timestamp: 1234567891
                      name: company2
                    linked: true
                Vmware:
                  value:
                    accounts:
                    - account_id: f43ea4c4-8a97-4159-9214-112a8c7b8f22
                      instance_url: as800.airwatchportals.com
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1702284364
                      name: Test Company1 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    - account_id: m56ea4c4-8a10-4189-9214-113a8c7b8m82
                      error: Get token failed, please re-link VMware
                      instance_url: as561.airwatchportals.com
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1702284364
                      name: Test Company2 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    linked: true
                ZDX:
                  value:
                    accounts:
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      cloud_name: zdxcloud.net
                      key_id: K35vrZcK3JvrZc
                      webhook_url: https://webhook.url/xxx
                      zdx_org_id: '123456'
                    linked: true
                Zoom:
                  value:
                    accounts:
                    - account_id: KkEM7orQSIWHZNFzwMLuRA
                      company: Test Company1 Ltd
                      last_status: success
                      last_sync: 1665465339
                      linked_by: Testname1
                      max_daily_api_requests: 1500
                    - account_id: kojzWgIJQ0ujR73VvydOdg
                      company: Test Company2 Ltd
                      error: OAuth token refresh failed, please re-link your account
                      errors:
                      - OAuth token refresh failed, please re-link your account
                      - API daily rate limit reached for your account
                      last_status: failed
                      last_sync: 1665465346
                      linked_by: Testname2
                      max_daily_api_requests: 5000
                    - account_id: iojzXIJWEuiD73ZvydOfg
                      company: Test Company3 Ltd
                      last_status: failed
                      last_sync: 1665465538
                      linked_by: Testname3
                      max_daily_api_requests: 3500
                    authorization_url: https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI
                    linked: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/account_oauth_info'
                - description: OAuth-linked application account status and authorization details
                  examples:
                  - '{"accounts":[{"account_id":"ae9dee49-69e7-4710-a114-5b827a777738","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1728275689.284758,"name":"Test Company1 Ltd"},{"account_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","error":"Get token failed, please re-link crowdstrike","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1728275689.284758,"name":"Test Company2 Ltd"}],"linked":true}'
                  - '{"accounts":[{"error":"OAuth token refresh failed, please re-link your account","instance_url":"junipertest.jamfcloud.com","last_status":"failed","last_sync":1665465339000,"linked_by":"Testname1","name":"Test Company1 Ltd","smartgroup_name":"CompliantGroup1"}],"linked":true}'
                  - '{"accounts":[{"account_id":"7f80cd00-40b1-49e5-b2cb-9386d89af0d6","client_id":"3e408b13255844149f2830e8609fe8f3","instance_url":"https://a0020372.mobicontrol.cloud","last_status":"success","last_sync":1665465339000,"linked_by":"User1","linked_timestamp":1702284364,"name":"Company1 Ltd."},{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","client_id":"e81cfb1980454b4bb6109c74136ca528","error":"Get token failed, please re-link MobiControl account","instance_url":"https://a0032314.mobicontrol.cloud","last_status":"failed","last_sync":1234567890123,"linked_by":"User2","linked_timestamp":1702284364,"name":"Company2 Ltd."}],"linked":true}'
                  - '{"accounts":[{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7059","instance_url":"usea1-015.sentinelone.net","last_status":"success","last_sync":1234567891,"linked_by":"user1@test.com","linked_timestamp":1234567891,"name":"company1"},{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7060","error":"Get token failed, please re-link SentinelOne account","instance_url":"usea1-017.sentinelone.net","last_status":"failed","last_sync":1234567800,"linked_by":"user2@test.com","linked_timestamp":1234567891,"name":"company2"}],"linked":true}'
                  - '{"accounts":[{"account_id":"f43ea4c4-8a97-4159-9214-112a8c7b8f22","instance_url":"as800.airwatchportals.com","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1702284364,"name":"Test Company1 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"},{"account_id":"m56ea4c4-8a10-4189-9214-113a8c7b8m82","error":"Get token failed, please re-link VMware","instance_url":"as561.airwatchportals.com","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1702284364,"name":"Test Company2 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"}],"linked":true}'
                  - '{"accounts":[{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","cloud_name":"zdxcloud.net","key_id":"K35vrZcK3JvrZc","webhook_url":"https://webhook.url/xxx","zdx_org_id":"123456"}],"linked":true}'
                  - '{"accounts":[{"account_id":"KkEM7orQSIWHZNFzwMLuRA","company":"Test Company1 Ltd","last_status":"success","last_sync":1665465339,"linked_by":"Testname1","max_daily_api_requests":1500},{"account_id":"kojzWgIJQ0ujR73VvydOdg","company":"Test Company2 Ltd","error":"OAuth token refresh failed, please re-link your account","errors":["OAuth token refresh failed, please re-link your account","API daily rate limit reached for your account"],"last_status":"failed","last_sync":1665465346,"linked_by":"Testname2","max_daily_api_requests":5000},{"account_id":"iojzXIJWEuiD73ZvydOfg","company":"Test Company3 Ltd","last_status":"failed","last_sync":1665465538,"linked_by":"Testname3","max_daily_api_requests":3500}],"authorization_url":"https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI","linked":true}'
                contentMediaType: application/vnd.api+json
              examples:
                Crowdstrike:
                  value:
                    accounts:
                    - account_id: ae9dee49-69e7-4710-a114-5b827a777738
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1728275689.284758
                      name: Test Company1 Ltd
                    - account_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      error: Get token failed, please re-link crowdstrike
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1728275689.284758
                      name: Test Company2 Ltd
                    linked: true
                Jamf:
                  value:
                    accounts:
                    - error: OAuth token refresh failed, please re-link your account
                      instance_url: junipertest.jamfcloud.com
                      last_status: failed
                      last_sync: 1665465339000
                      linked_by: Testname1
                      name: Test Company1 Ltd
                      smartgroup_name: CompliantGroup1
                    linked: true
                Mobicontrol:
                  value:
                    accounts:
                    - account_id: 7f80cd00-40b1-49e5-b2cb-9386d89af0d6
                      client_id: 3e408b13255844149f2830e8609fe8f3
                      instance_url: https://a0020372.mobicontrol.cloud
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: User1
                      linked_timestamp: 1702284364
                      name: Company1 Ltd.
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      client_id: e81cfb1980454b4bb6109c74136ca528
                      error: Get token failed, please re-link MobiControl account
                      instance_url: https://a0032314.mobicontrol.cloud
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: User2
                      linked_timestamp: 1702284364
                      name: Company2 Ltd.
                    linked: true
                SentinelOne:
                  value:
                    accounts:
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7059
                      instance_url: usea1-015.sentinelone.net
                      last_status: success
                      last_sync: 1234567891
                      linked_by: user1@test.com
                      linked_timestamp: 1234567891
                      name: company1
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7060
                      error: Get token failed, please re-link SentinelOne account
                      instance_url: usea1-017.sentinelone.net
                      last_status: failed
                      last_sync: 1234567800
                      linked_by: user2@test.com
                      linked_timestamp: 1234567891
                      name: company2
                    linked: true
                Vmware:
                  value:
                    accounts:
                    - account_id: f43ea4c4-8a97-4159-9214-112a8c7b8f22
                      instance_url: as800.airwatchportals.com
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1702284364
                      name: Test Company1 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    - account_id: m56ea4c4-8a10-4189-9214-113a8c7b8m82
                      error: Get token failed, please re-link VMware
                      instance_url: as561.airwatchportals.com
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1702284364
                      name: Test Company2 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    linked: true
                ZDX:
                  value:
                    accounts:
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      cloud_name: zdxcloud.net
                      key_id: K35vrZcK3JvrZc
                      webhook_url: https://webhook.url/xxx
                      zdx_org_id: '123456'
                    linked: true
                Zoom:
                  value:
                    accounts:
                    - account_id: KkEM7orQSIWHZNFzwMLuRA
                      company: Test Company1 Ltd
                      last_status: success
                      last_sync: 1665465339
                      linked_by: Testname1
                      max_daily_api_requests: 1500
                    - account_id: kojzWgIJQ0ujR73VvydOdg
                      company: Test Company2 Ltd
                      error: OAuth token refresh failed, please re-link your account
                      errors:
                      - OAuth token refresh failed, please re-link your account
                      - API daily rate limit reached for your account
                      last_status: failed
                      last_sync: 1665465346
                      linked_by: Testname2
                      max_daily_api_requests: 5000
                    - account_id: iojzXIJWEuiD73ZvydOfg
                      company: Test Company3 Ltd
                      last_status: failed
                      last_sync: 1665465538
                      linked_by: Testname3
                      max_daily_api_requests: 3500
                    authorization_url: https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI
                    linked: true
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Linked Applications
      summary: addOrgOauthAppAccounts
      description: Add a linked account for the specified OAuth application using the app-specific account configuration payload.
      operationId: addOrgOauthAppAccounts
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: app_name
        in: path
        description: OAuth application name
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/oauth_app_name'
          - description: OAuth application name
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/account_oauth_add'
              - {}
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/account_oauth_info'
                - description: OAuth-linked application account status and authorization details
                  examples:
                  - '{"accounts":[{"account_id":"ae9dee49-69e7-4710-a114-5b827a777738","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1728275689.284758,"name":"Test Company1 Ltd"},{"account_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","error":"Get token failed, please re-link crowdstrike","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1728275689.284758,"name":"Test Company2 Ltd"}],"linked":true}'
                  - '{"accounts":[{"error":"OAuth token refresh failed, please re-link your account","instance_url":"junipertest.jamfcloud.com","last_status":"failed","last_sync":1665465339000,"linked_by":"Testname1","name":"Test Company1 Ltd","smartgroup_name":"CompliantGroup1"}],"linked":true}'
                  - '{"accounts":[{"account_id":"7f80cd00-40b1-49e5-b2cb-9386d89af0d6","client_id":"3e408b13255844149f2830e8609fe8f3","instance_url":"https://a0020372.mobicontrol.cloud","last_status":"success","last_sync":1665465339000,"linked_by":"User1","linked_timestamp":1702284364,"name":"Company1 Ltd."},{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","client_id":"e81cfb1980454b4bb6109c74136ca528","error":"Get token failed, please re-link MobiControl account","instance_url":"https://a0032314.mobicontrol.cloud","last_status":"failed","last_sync":1234567890123,"linked_by":"User2","linked_timestamp":1702284364,"name":"Company2 Ltd."}],"linked":true}'
                  - '{"accounts":[{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7059","instance_url":"usea1-015.sentinelone.net","last_status":"success","last_sync":1234567891,"linked_by":"user1@test.com","linked_timestamp":1234567891,"name":"company1"},{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7060","error":"Get token failed, please re-link SentinelOne account","instance_url":"usea1-017.sentinelone.net","last_status":"failed","last_sync":1234567800,"linked_by":"user2@test.com","linked_timestamp":1234567891,"name":"company2"}],"linked":true}'
                  - '{"accounts":[{"account_id":"f43ea4c4-8a97-4159-9214-112a8c7b8f22","instance_url":"as800.airwatchportals.com","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1702284364,"name":"Test Company1 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"},{"account_id":"m56ea4c4-8a10-4189-9214-113a8c7b8m82","error":"Get token failed, please re-link VMware","instance_url":"as561.airwatchportals.com","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1702284364,"name":"Test Company2 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"}],"linked":true}'
                  - '{"accounts":[{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","cloud_name":"zdxcloud.net","key_id":"K35vrZcK3JvrZc","webhook_url":"https://webhook.url/xxx","zdx_org_id":"123456"}],"linked":true}'
                  - '{"accounts":[{"account_id":"KkEM7orQSIWHZNFzwMLuRA","company":"Test Company1 Ltd","last_status":"success","last_sync":1665465339,"linked_by":"Testname1","max_daily_api_requests":1500},{"account_id":"kojzWgIJQ0ujR73VvydOdg","company":"Test Company2 Ltd","error":"OAuth token refresh failed, please re-link your account","errors":["OAuth token refresh failed, please re-link your account","API daily rate limit reached for your account"],"last_status":"failed","last_sync":1665465346,"linked_by":"Testname2","max_daily_api_requests":5000},{"account_id":"iojzXIJWEuiD73ZvydOfg","company":"Test Company3 Ltd","last_status":"failed","last_sync":1665465538,"linked_by":"Testname3","max_daily_api_requests":3500}],"authorization_url":"https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI","linked":true}'
                contentMediaType: application/json
              examples:
                Crowdstrike:
                  value:
                    accounts:
                    - account_id: ae9dee49-69e7-4710-a114-5b827a777738
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1728275689.284758
                      name: Test Company1 Ltd
                    - account_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      error: Get token failed, please re-link crowdstrike
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1728275689.284758
                      name: Test Company2 Ltd
                    linked: true
                Jamf:
                  value:
                    accounts:
                    - error: OAuth token refresh failed, please re-link your account
                      instance_url: junipertest.jamfcloud.com
                      last_status: failed
                      last_sync: 1665465339000
                      linked_by: Testname1
                      name: Test Company1 Ltd
                      smartgroup_name: CompliantGroup1
                    linked: true
                Mobicontrol:
                  value:
                    accounts:
                    - account_id: 7f80cd00-40b1-49e5-b2cb-9386d89af0d6
                      client_id: 3e408b13255844149f2830e8609fe8f3
                      instance_url: https://a0020372.mobicontrol.cloud
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: User1
                      linked_timestamp: 1702284364
                      name: Company1 Ltd.
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      client_id: e81cfb1980454b4bb6109c74136ca528
                      error: Get token failed, please re-link MobiControl account
                      instance_url: https://a0032314.mobicontrol.cloud
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: User2
                      linked_timestamp: 1702284364
                      name: Company2 Ltd.
                    linked: true
                SentinelOne:
                  value:
                    accounts:
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7059
                      instance_url: usea1-015.sentinelone.net
                      last_status: success
                      last_sync: 1234567891
                      linked_by: user1@test.com
                      linked_timestamp: 1234567891
                      name: company1
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7060
                      error: Get token failed, please re-link SentinelOne account
                      instance_url: usea1-017.sentinelone.net
                      last_status: failed
                      last_sync: 1234567800
                      linked_by: user2@test.com
                      linked_timestamp: 1234567891
                      name: company2
                    linked: true
                Vmware:
                  value:
                    accounts:
                    - account_id: f43ea4c4-8a97-4159-9214-112a8c7b8f22
                      instance_url: as800.airwatchportals.com
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1702284364
                      name: Test Company1 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    - account_id: m56ea4c4-8a10-4189-9214-113a8c7b8m82
                      error: Get token failed, please re-link VMware
                      instance_url: as561.airwatchportals.com
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1702284364
                      name: Test Company2 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    linked: true
                ZDX:
                  value:
                    accounts:
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      cloud_name: zdxcloud.net
                      key_id: K35vrZcK3JvrZc
                      webhook_url: https://webhook.url/xxx
                      zdx_org_id: '123456'
                    linked: true
                Zoom:
                  value:
                    accounts:
                    - account_id: KkEM7orQSIWHZNFzwMLuRA
                      company: Test Company1 Ltd
                      last_status: success
                      last_sync: 1665465339
                      linked_by: Testname1
                      max_daily_api_requests: 1500
                    - account_id: kojzWgIJQ0ujR73VvydOdg
                      company: Test Company2 Ltd
                      error: OAuth token refresh failed, please re-link your account
                      errors:
                      - OAuth token refresh failed, please re-link your account
                      - API daily rate limit reached for your account
                      last_status: failed
                      last_sync: 1665465346
                      linked_by: Testname2
                      max_daily_api_requests: 5000
                    - account_id: iojzXIJWEuiD73ZvydOfg
                      company: Test Company3 Ltd
                      last_status: failed
                      last_sync: 1665465538
                      linked_by: Testname3
                      max_daily_api_requests: 3500
                    authorization_url: https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI
                    linked: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/account_oauth_info'
                - description: OAuth-linked application account status and authorization details
                  examples:
                  - '{"accounts":[{"account_id":"ae9dee49-69e7-4710-a114-5b827a777738","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1728275689.284758,"name":"Test Company1 Ltd"},{"account_id":"845a23bf-bed9-e43c-4c86-6fa474be7ae5","error":"Get token failed, please re-link crowdstrike","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1728275689.284758,"name":"Test Company2 Ltd"}],"linked":true}'
                  - '{"accounts":[{"error":"OAuth token refresh failed, please re-link your account","instance_url":"junipertest.jamfcloud.com","last_status":"failed","last_sync":1665465339000,"linked_by":"Testname1","name":"Test Company1 Ltd","smartgroup_name":"CompliantGroup1"}],"linked":true}'
                  - '{"accounts":[{"account_id":"7f80cd00-40b1-49e5-b2cb-9386d89af0d6","client_id":"3e408b13255844149f2830e8609fe8f3","instance_url":"https://a0020372.mobicontrol.cloud","last_status":"success","last_sync":1665465339000,"linked_by":"User1","linked_timestamp":1702284364,"name":"Company1 Ltd."},{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","client_id":"e81cfb1980454b4bb6109c74136ca528","error":"Get token failed, please re-link MobiControl account","instance_url":"https://a0032314.mobicontrol.cloud","last_status":"failed","last_sync":1234567890123,"linked_by":"User2","linked_timestamp":1702284364,"name":"Company2 Ltd."}],"linked":true}'
                  - '{"accounts":[{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7059","instance_url":"usea1-015.sentinelone.net","last_status":"success","last_sync":1234567891,"linked_by":"user1@test.com","linked_timestamp":1234567891,"name":"company1"},{"account_id":"00fd8b39-cf92-4b43-a2ff-a461b48e7060","error":"Get token failed, please re-link SentinelOne account","instance_url":"usea1-017.sentinelone.net","last_status":"failed","last_sync":1234567800,"linked_by":"user2@test.com","linked_timestamp":1234567891,"name":"company2"}],"linked":true}'
                  - '{"accounts":[{"account_id":"f43ea4c4-8a97-4159-9214-112a8c7b8f22","instance_url":"as800.airwatchportals.com","last_status":"success","last_sync":1665465339000,"linked_by":"Testname1","linked_timestamp":1702284364,"name":"Test Company1 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"},{"account_id":"m56ea4c4-8a10-4189-9214-113a8c7b8m82","error":"Get token failed, please re-link VMware","instance_url":"as561.airwatchportals.com","last_status":"failed","last_sync":1234567890123,"linked_by":"Testname2","linked_timestamp":1702284364,"name":"Test Company2 Ltd","webhook_auth_type":"Basic","webhook_enabled":true,"webhook_password":"password_1234","webhook_url":"https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm","webhook_username":"username_1234"}],"linked":true}'
                  - '{"accounts":[{"account_id":"80364a28-7ccc-4746-b110-ecf3dfd3a359","cloud_name":"zdxcloud.net","key_id":"K35vrZcK3JvrZc","webhook_url":"https://webhook.url/xxx","zdx_org_id":"123456"}],"linked":true}'
                  - '{"accounts":[{"account_id":"KkEM7orQSIWHZNFzwMLuRA","company":"Test Company1 Ltd","last_status":"success","last_sync":1665465339,"linked_by":"Testname1","max_daily_api_requests":1500},{"account_id":"kojzWgIJQ0ujR73VvydOdg","company":"Test Company2 Ltd","error":"OAuth token refresh failed, please re-link your account","errors":["OAuth token refresh failed, please re-link your account","API daily rate limit reached for your account"],"last_status":"failed","last_sync":1665465346,"linked_by":"Testname2","max_daily_api_requests":5000},{"account_id":"iojzXIJWEuiD73ZvydOfg","company":"Test Company3 Ltd","last_status":"failed","last_sync":1665465538,"linked_by":"Testname3","max_daily_api_requests":3500}],"authorization_url":"https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI","linked":true}'
                contentMediaType: application/vnd.api+json
              examples:
                Crowdstrike:
                  value:
                    accounts:
                    - account_id: ae9dee49-69e7-4710-a114-5b827a777738
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1728275689.284758
                      name: Test Company1 Ltd
                    - account_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      error: Get token failed, please re-link crowdstrike
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1728275689.284758
                      name: Test Company2 Ltd
                    linked: true
                Jamf:
                  value:
                    accounts:
                    - error: OAuth token refresh failed, please re-link your account
                      instance_url: junipertest.jamfcloud.com
                      last_status: failed
                      last_sync: 1665465339000
                      linked_by: Testname1
                      name: Test Company1 Ltd
                      smartgroup_name: CompliantGroup1
                    linked: true
                Mobicontrol:
                  value:
                    accounts:
                    - account_id: 7f80cd00-40b1-49e5-b2cb-9386d89af0d6
                      client_id: 3e408b13255844149f2830e8609fe8f3
                      instance_url: https://a0020372.mobicontrol.cloud
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: User1
                      linked_timestamp: 1702284364
                      name: Company1 Ltd.
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      client_id: e81cfb1980454b4bb6109c74136ca528
                      error: Get token failed, please re-link MobiControl account
                      instance_url: https://a0032314.mobicontrol.cloud
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: User2
                      linked_timestamp: 1702284364
                      name: Company2 Ltd.
                    linked: true
                SentinelOne:
                  value:
                    accounts:
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7059
                      instance_url: usea1-015.sentinelone.net
                      last_status: success
                      last_sync: 1234567891
                      linked_by: user1@test.com
                      linked_timestamp: 1234567891
                      name: company1
                    - account_id: 00fd8b39-cf92-4b43-a2ff-a461b48e7060
                      error: Get token failed, please re-link SentinelOne account
                      instance_url: usea1-017.sentinelone.net
                      last_status: failed
                      last_sync: 1234567800
                      linked_by: user2@test.com
                      linked_timestamp: 1234567891
                      name: company2
                    linked: true
                Vmware:
                  value:
                    accounts:
                    - account_id: f43ea4c4-8a97-4159-9214-112a8c7b8f22
                      instance_url: as800.airwatchportals.com
                      last_status: success
                      last_sync: 1665465339000
                      linked_by: Testname1
                      linked_timestamp: 1702284364
                      name: Test Company1 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    - account_id: m56ea4c4-8a10-4189-9214-113a8c7b8m82
                      error: Get token failed, please re-link VMware
                      instance_url: as561.airwatchportals.com
                      last_status: failed
                      last_sync: 1234567890123
                      linked_by: Testname2
                      linked_timestamp: 1702284364
                      name: Test Company2 Ltd
                      webhook_auth_type: Basic
                      webhook_enabled: true
                      webhook_password: password_1234
                      webhook_url: https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
                      webhook_username: username_1234
                    linked: true
                ZDX:
                  value:
                    accounts:
                    - account_id: 80364a28-7ccc-4746-b110-ecf3dfd3a359
                      cloud_name: zdxcloud.net
                      key_id: K35vrZcK3JvrZc
                      webhook_url: https://webhook.url/xxx
                      zdx_org_id: '123456'
                    linked: true
                Zoom:
                  value:
                    accounts:
                    - account_id: KkEM7orQSIWHZNFzwMLuRA
                      company: Test Company1 Ltd
                      last_status: success
                      last_sync: 1665465339
                      linked_by: Testname1
                      max_daily_api_requests: 1500
                    - account_id: kojzWgIJQ0ujR73VvydOdg
                      company: Test Company2 Ltd
                      error: OAuth token refresh failed, please re-link your account
                      errors:
                      - OAuth token refresh failed, please re-link your account
                      - API daily rate limit reached for your account
                      last_status: failed
                      last_sync: 1665465346
                      linked_by: Testname2
                      max_daily_api_requests: 5000
                    - account_id: iojzXIJWEuiD73ZvydOfg
                      company: Test Company3 Ltd
                      last_status: failed
                      last_sync: 1665465538
                      linked_by: Testname3
                      max_daily_api_requests: 3500
                    authorization_url: https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI
                    linked: true
        '400':
          description: Unsuccessful
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/setting/{app_name}/link_accounts/{account_id}:
    parameters: []
    delete:
      tags:
      - Orgs Linked Applications
      summary: deleteOrgOauthAppAuthorization
      description: Remove a linked account authorization for the specified OAuth application and account ID.
      operationId: deleteOrgOauthAppAuthorization
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: app_name
        in: path
        description: OAuth application name
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/oauth_app_name'
          - description: OAuth application name
      - name: account_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - iojzXIJWEuiD73ZvydOfg
      responses:
        '200':
          description: Successful
          headers: {}
          content: {}
        '400':
          description: Unsuccessful
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Linked Applications
      summary: updateOrgOauthAppAccount
      description: Update app-specific settings for a linked OAuth application account, such as Zoom or Teams guest redaction settings or a Zoom daily API request quota.
      operationId: updateOrgOauthAppAccount
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: app_name
        in: path
        description: OAuth application name
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/oauth_app_name'
          - description: OAuth application name
      - name: account_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - iojzXIJWEuiD73ZvydOfg
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/account_oauth_config'
              - examples:
                - account_id: iojzXIJWEuiD73ZvydOfg
                  max_daily_api_requests: 5000
              contentMediaType: application/json
            examples:
              Example:
                value:
                  account_id: iojzXIJWEuiD73ZvydOfg
                  max_daily_api_requests: 5000
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    account_jamf_config:
      title: account_jamf_config
      required:
      - client_id
      - client_secret
      - instance_url
      - smartgroup_name
      type: object
      properties:
        client_id:
          type: string
          description: Customer account api client id. Required if `app_name`==`crowdstrike`
        client_secret:
          type: string
          description: Customer account api client secret
        instance_url:
          type: string
          description: Customer account Jamf instance URL
          examples:
          - junipertest.jamfcloud.com
        smartgroup_name:
          type: string
          description: Smart group membership for determining compliance status
          examples:
          - CompliantGroup1
      description: OAuth linked Jamf apps account details
    account_zdx_config:
      title: account_zdx_config
      required:
      - key_id
      - key_secret
      - zdx_org_id
      type: object
      properties:
        cloud_name:
          type: string
          description: ZDX cloud name. Refer https://help.zscaler.com/zdx/getting-started-zdx-api for ZDX cloud name
          default: zdxcloud.net
        key_id:
          type: string
          description: Customer account API key ID
          examples:
          - K35vrZcK3JvrZc
        key_secret:
          type: string
          description: Customer account API key Secret
          examples:
          - K35vrZcK3JvrZcjjswpp2eii1oo100
        zdx_org_id:
          type: string
          description: Organization identifier assigned to the ZDX account
          examples:
          - '123456'
      description: OAuth linked ZDX apps account details
    account_prisma_config:
      title: account_prisma_config
      required:
      - client_id
      - client_secret
      - tsg_id
      type: object
      properties:
        auto_probe_subnet:
          type: string
          description: Required If `enable_probe`==`true`. This field will accept an IPv4 cidr and an IP address will be picked from this range to be used as tunnel probe source IP address and as well as BGP neighbour IP address. The subnet should be big enough for num_devices * num_tunnel * 2
          examples:
          - 11.0.0.0/8
        client_id:
          type: string
          description: Customer account api client ID
        client_secret:
          type: string
          description: Customer account api client Secret
        enable_probe:
          type: boolean
          description: To enable/disable tunnel probe
          default: false
        tsg_id:
          type: string
          description: Prisma Tenant Service Group id
      description: OAuth linked CrowdStrike apps account details
    account_oauth_config:
      title: account_oauth_config
      required:
      - account_id
      type: object
      properties:
        account_id:
          type: string
          description: Linked app(zoom/teams/intune) account id
          examples:
          - iojzXIJWEuiD73ZvydOfg
        discard_guest_info:
          type: boolean
          description: Optional, for Zoom/Teams. Whether to redact identifying information for call participants that are not part of the Zoom/Teams account identified by `account_id`
        max_daily_api_requests:
          type: integer
          description: Zoom daily api request quota, https://developers.zoom.us/docs/api/rest/rate-limits/
          contentEncoding: int32
          examples:
          - 5000
      description: OAuth linked apps (zoom/teams/intune) account details
    account_oauth_info_account_region:
      title: account_oauth_info_account_region
      type: object
      properties:
        aggregate_region:
          type: string
          description: Bandwidth Aggregate region for this region
          examples:
          - us-southwest
        allocated_bandwidth:
          type: integer
          description: Allocated bandwidth for the region, in Mbps
          contentEncoding: int32
          readOnly: true
          examples:
          - 1000
        name:
          type: string
          description: Display name for this region
          examples:
          - US West
      description: Prisma Access region bandwidth allocation for a linked OAuth account
    account_vmware_config:
      title: account_vmware_config
      required:
      - client_id
      - client_secret
      - instance_url
      - webhook_enabled
      type: object
      properties:
        client_id:
          type: string
          description: Customer account Client ID
        client_secret:
          type: string
          description: Customer account Client Secret
        instance_url:
          type: string
          description: Customer account VMware instance URL
        webhook_enabled:
          type: boolean
          description: Enables or disables the webhook integration
      description: VMware account credentials and webhook settings for OAuth application linking
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    oauth_app_name:
      title: oauth_app_name
      enum:
      - crowdstrike
      - intune
      - jamf
      - mobicontrol
      - prisma
      - sentinelone
      - teams
      - vmware
      - zdx
      - zoom
      type: string
      description: 'enum: `crowdstrike`, `intune`, `jamf`, `mobicontrol`, `prisma`, `sentinelone`, `teams`, `vmware`, `zdx`, `zoom`'
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    account_oauth_info_account_service_connection:
      title: account_oauth_info_account_service_connection
      type: object
      properties:
        region:
          type: string
          description: Prisma Access region where this service connection is provisioned
          examples:
          - us-southwest
      description: Prisma Access service connection region for a linked OAuth account
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    account_oauth_info_account:
      title: account_oauth_info_account
      type: object
      properties:
        account_id:
          type: string
          description: Linked app account id
          readOnly: true
          examples:
          - iojzXIJWEuiD73ZvydOfg
        auto_probe_subnet:
          type: string
          description: For Prisma accounts only, tunnel auto probe subnet
          readOnly: true
          examples:
          - 11.0.0.0/8
        client_id:
          type: string
          description: Customer account Client ID
          readOnly: true
        cloud_name:
          type: string
          description: Name of the company whose account mist has subscribed to
          readOnly: true
          examples:
          - Tapi.sase.paloaltonetworks.com
        company:
          type: string
          description: Name of the company whose account mist has subscribed to
          readOnly: true
          examples:
          - Test Company1 Ltd
        enable_probe:
          type: boolean
          description: For Prisma accounts only, tunnel probe enable/disable
          readOnly: true
          examples:
          - false
        error:
          type: string
          description: This error is provided when the account fails to fetch token/data
          readOnly: true
          examples:
          - OAuth token refresh failed, please re-link your account
        errors:
          type: array
          items:
            type: string
          description: Problems reported during OAuth token refresh or account data sync
          readOnly: true
          examples:
          - - OAuth token refresh failed, please re-link your account
            - API daily rate limit reached for your account
        instance_url:
          type: string
          description: Customer account instance URL
          readOnly: true
        key_id:
          type: string
          description: For ZDX Account only, Customer account API key ID
          examples:
          - L72frZcK3JvrZc
        last_status:
          type: string
          description: Is the last data pull for account is successful or not
          readOnly: true
          examples:
          - failed
        last_sync:
          type: integer
          description: Last data pull timestamp, background jobs that pull account data
          contentEncoding: int64
          readOnly: true
          examples:
          - 1665465339000
        linked_by:
          type: string
          description: First name of the user who linked the account
          readOnly: true
          examples:
          - Testname1
        linked_timestamp:
          type: number
          description: Timestamp when this third-party account was linked
          readOnly: true
          examples:
          - 1665465339000
        max_daily_api_requests:
          type: integer
          description: Zoom daily api request quota, https://developers.zoom.us/docs/api/rest/rate-limits/
          contentEncoding: int32
          readOnly: true
          examples:
          - 5000
        name:
          type: string
          description: Display name of the linked third-party account or company
          readOnly: true
          examples:
          - Test Compay1 Ltd
        password:
          type: string
          description: Customer account password instance URL
          contentEncoding: password
          readOnly: true
        region:
          type: string
          description: For Prisma accounts only
          readOnly: true
          examples:
          - americas
        regions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/account_oauth_info_account_region'
          description: Prisma Access regions with allocated bandwidth for this linked account
        service_account_name:
          type: string
          description: For Prisma accounts only
          readOnly: true
          examples:
          - Corp SA
        service_connections:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/account_oauth_info_account_service_connection'
          description: Prisma Access service connections configured for this linked account
        smartgroup_name:
          type: string
          description: Smart group membership for determining compliance status
          readOnly: true
          examples:
          - CompliantGroup1
        tsg_id:
          type: string
          description: For Prisma accounts only, Prisma Tenant Service Group id
          readOnly: true
          examples:
          - '189953456'
        username:
          type: string
          description: Login name configured for the linked third-party account
          readOnly: true
        webhook_auth_type:
          type: string
          description: For Crowdstrike, JAMF, SentinelOne and VMWare accounts only
          examples:
          - Basic
          - Bearer
        webhook_enabled:
          type: boolean
          description: For Crowdstrike, JAMF, SentinelOne and VMWare accounts only
        webhook_password:
          type: string
          description: For VMWare accounts only
          contentEncoding: password
          examples:
          - password_1234
        webhook_secret:
          type: string
          description: For Crowdstrike accounts only
          contentEncoding: password
          examples:
          - secret-value
        webhook_token:
          type: string
          description: For JAMF and SentinelOne accounts only
          examples:
          - token-value
        webhook_url:
          type: string
          description: For Crowdstrike, JAMF, SentinelOne and VMWare accounts only
          examples:
          - https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/crowdstrike/edr
          - https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/jamf/mdm
          - https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/00fd8b39-cf92-4b43-a2ff-a461b48e7059/sentinelone/edr
          - https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm
        webhook_username:
          type: string
          description: For VMWare accounts only
          examples:
          - username_1234
        zdx_org_id:
          type: string
          description: For ZDX Account only, ZDX organization id
          examples:
          - '123456'
      description: OAuth linked apps account info
    account_oauth_add:
      oneOf:
      - $ref: '#/components/schemas/account_jamf_config'
      - $ref: '#/components/schemas/account_vmware_config'
      - $ref: '#/components/schemas/account_mobicontrol_config'
      - $ref: '#/components/schemas/account_zdx_config'
      - $ref: '#/components/schemas/account_crowdstrike_config'
      - $ref: '#/components/schemas/account_prisma_config'
      - $ref: '#/components/schemas/account_sentinelone_config'
      description: Account configuration payload for adding a supported OAuth-linked application
    account_oauth_info:
      title: account_oauth_info
      required:
      - accounts
      - linked
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/account_oauth_info_account'
          description: Linked third-party application accounts for this OAuth application
        authorization_url:
          type: string
          description: OAuth authorization URL to open when linking an account
          readOnly: true
        linked:
          type: boolean
          description: Whether at least one account is linked for this OAuth application
          readOnly: true
      description: OAuth-linked application account status and authorization details
    account_mobicontrol_config:
      title: account_mobicontrol_config
      required:
      - client_id
      - client_secret
      - instance_url
      - password
      - username
      type: object
      properties:
        client_id:
          type: string
          description: Customer account Client ID
        client_secret:
          type: string
          description: Customer account Client Secret
        instance_url:
          type: string
          description: Customer account MobiControl instance URL
        password:
          type: string
          description: Customer account password instance URL
          contentEncoding: password
        username:
          type: string
          description: Login username used to authenticate to the MobiControl account
      description: MobiControl account credentials used for OAuth application linking
    account_crowdstrike_config:
      title: account_crowdstrike_config
      required:
      - client_id
      - client_secret
      - customer_id
      type: object
      properties:
        client_id:
          type: string
          description: Customer account api client ID
        client_secret:
          type: string
          description: Customer account api client Secret
        customer_id:
          type: string
          description: Customer id of an admin
      description: OAuth linked CrowdStrike apps account details
    account_sentinelone_config:
      title: account_sentinelone_config
      required:
      - api_token
      - instance_url
      type: object
      properties:
        api_token:
          type: string
          description: Access token used to authenticate to the SentinelOne account
        instance_url:
          type: string
          description: Customer account SentinelOne instance URL
      description: OAuth linked CrowdStrike apps account details
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
