openapi: 3.2.0
info:
  title: Mist Orgs UI Settings API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs UI Settings
  description: The Org UI Settings are used to configure the MArvis dashboards
paths:
  /api/v1/orgs/{org_id}/uisettings:
    parameters: []
    get:
      tags:
      - Orgs UI Settings
      summary: listOrgUiSettings
      description: List the Orgs UI settings/databoard
      operationId: listOrgUiSettings
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: List of Org UI Setting
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/org_ui_settings'
                description: List of organization UI databoards
                examples:
                - - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/org_ui_settings'
                description: List of organization UI databoards
                examples:
                - - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs UI Settings
      summary: createOrgUiSettings
      description: Create an Org UI settings/databoard
      operationId: createOrgUiSettings
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/org_ui_settings'
              - description: Request Body
                examples:
                - description: AP related stats
                  isCustomDataboard: true
                  name: AP Stats
                  purpose: marvisdashboard
                  tiles:
                  - description: User typed tile descr
                    isAutoTitle: true
                    name: List top 10 APs by bandwidth
                    nl_query: List top 10 APs by bandwidth
                    position:
                      col: 1
                      colSpan: 2
                      row: 1
                      rowSpan: 1
              contentMediaType: application/json
            examples:
              Example:
                value:
                  description: AP related stats
                  isCustomDataboard: true
                  name: AP Stats
                  purpose: marvisdashboard
                  tiles:
                  - description: User typed tile descr
                    isAutoTitle: true
                    name: List top 10 APs by bandwidth
                    nl_query: List top 10 APs by bandwidth
                    position:
                      col: 1
                      colSpan: 2
                      row: 1
                      rowSpan: 1
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_ui_settings'
                - description: Organization UI settings databoard
                  examples:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_ui_settings'
                - description: Organization UI settings databoard
                  examples:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/uisettings/{uisetting_id}:
    parameters: []
    delete:
      tags:
      - Orgs UI Settings
      summary: deleteOrgUiSetting
      description: Delete an Org UI settings
      operationId: deleteOrgUiSetting
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: uisetting_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs UI Settings
      summary: getOrgUiSetting
      description: Get an Org UI settings/databoard
      operationId: getOrgUiSetting
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: uisetting_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_ui_settings'
                - description: Organization UI settings databoard
                  examples:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_ui_settings'
                - description: Organization UI settings databoard
                  examples:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs UI Settings
      summary: updateOrgUiSetting
      description: Org UI settings/databoard
      operationId: updateOrgUiSetting
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: uisetting_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/org_ui_settings'
              - description: Request Body
                examples:
                - description: AP related stats
                  isCustomDataboard: true
                  name: AP Stats
                  purpose: marvisdashboard
                  tiles:
                  - description: User typed tile descr
                    isAutoTitle: true
                    name: List top 10 APs by bandwidth
                    nl_query: List top 10 APs by bandwidth
                    position:
                      col: 1
                      colSpan: 2
                      row: 1
                      rowSpan: 1
              contentMediaType: application/json
            examples:
              Example:
                value:
                  description: AP related stats
                  isCustomDataboard: true
                  name: AP Stats
                  purpose: marvisdashboard
                  tiles:
                  - description: User typed tile descr
                    isAutoTitle: true
                    name: List top 10 APs by bandwidth
                    nl_query: List top 10 APs by bandwidth
                    position:
                      col: 1
                      colSpan: 2
                      row: 1
                      rowSpan: 1
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_ui_settings'
                - description: Organization UI settings databoard
                  examples:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_ui_settings'
                - description: Organization UI settings databoard
                  examples:
                  - created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 1749083436
                    description: AP related stats
                    for_site: false
                    id: 9a702097-0dd3-48af-909b-2be4ff94d139
                    isCustomDataboard: true
                    modified_time: 1749083436
                    name: AP Stats
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    purpose: marvisdashboard
                    site_id: 00000000-0000-0000-0000-000000000000
                    tiles:
                    - description: User typed tile descr
                      id: 3eef7c83-3d33-417a-a729-4772d4a1013a
                      isAutoTitle: true
                      name: List top 10 APs by bandwidth
                      nl_query: List top 10 APs by bandwidth
                      position:
                        col: 1
                        colSpan: 2
                        row: 1
                        rowSpan: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    org_ui_settings_purpose2:
      title: org_ui_settings_purpose2
      const: marvisdashboard
      type: string
      description: 'UI surface or purpose for this databoard. enum: `marvisdashboard`.'
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    org_ui_settings_tile_position2:
      title: org_ui_settings_tile_position2
      type: object
      properties:
        col:
          type: integer
          description: Grid column index for the tile
          contentEncoding: int32
          examples:
          - 1
        colSpan:
          type: integer
          description: Grid column span for the tile
          contentEncoding: int32
          examples:
          - 5
        row:
          type: integer
          description: Grid row index for the tile
          contentEncoding: int32
          examples:
          - 1
        rowSpan:
          type: integer
          description: Grid row span for the tile
          contentEncoding: int32
          examples:
          - 2
      description: Grid position and span for the databoard tile
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    org_ui_settings:
      title: org_ui_settings
      type: object
      properties:
        created_time:
          type: number
          description: Epoch timestamp when the databoard was created
          readOnly: true
        description:
          type: string
          description: Text describing the databoard
          examples:
          - This databoard shows AP stats
        for_site:
          type: boolean
          description: Whether this databoard is scoped to a site
          readOnly: true
          examples:
          - false
        id:
          type: string
          description: Unique identifier of the databoard
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        isCustomDataboard:
          type: boolean
          description: Whether this is a custom databoard or not
        modified_time:
          type: number
          description: Epoch timestamp when the databoard was last modified
          readOnly: true
        name:
          type: string
          description: Display name of the databoard
          examples:
          - AP Stats
        org_id:
          type: string
          description: Organization that owns the databoard
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        purpose:
          allOf:
          - $ref: '#/components/schemas/org_ui_settings_purpose2'
          - description: 'UI surface or purpose for this databoard. enum: `marvisdashboard`.'
        site_id:
          type: string
          description: Site associated with the databoard when `for_site` is true
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        tiles:
          type: array
          items:
            $ref: '#/components/schemas/org_ui_settings_tile'
          description: Configured tiles for the databoard
      description: Organization UI settings databoard
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    org_ui_settings_tile:
      title: org_ui_settings_tile
      type: object
      properties:
        description:
          type: string
          description: Text describing the databoard tile
          examples:
          - This tile shows the top 10 APs by bandwidth
        id:
          type: string
          description: Unique identifier of the databoard tile
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        isAutoTitle:
          type: boolean
          description: Whether the tile title is auto generated or not
        name:
          type: string
          description: Display name of the databoard tile
          examples:
          - Top 10 APs by Bandwidth
        nl_query:
          type: string
          description: Natural Language query for the tile
          examples:
          - List top 10 APs by bandwidth
        position:
          allOf:
          - $ref: '#/components/schemas/org_ui_settings_tile_position2'
          - description: Grid position and span for the databoard tile
      description: Tile shown on an organization UI databoard
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
