openapi: 3.2.0
info:
  title: Mist Orgs Stats - Tunnels API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Stats - Tunnels
  description: API Calls to retrieve statistics about the Mist Tunnels at the Org level
paths:
  /api/v1/orgs/{org_id}/stats/tunnels/count:
    parameters: []
    get:
      tags:
      - Orgs Stats - Tunnels
      summary: countOrgTunnelsStats
      description: Count by Distinct Attributes of Mist Tunnels Stats
      operationId: countOrgTunnelsStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group tunnel statistics count results. enum: `ap`, `auth_algo`, `encrypt_algo`, `ike_version`, `ip`, `last_event`, `mac`, `mxcluster_id`, `mxedge_id`, `node`, `peer_host`, `peer_ip`, `peer_mxedge_id`, `protocol`, `remote_ip`, `remote_port`, `site_id`, `state`, `tunnel_name`, `up`, `wxtunnel_id`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_tunnel_count_distinct'
          - description: 'Field used to group tunnel statistics count results. enum: `ap`, `auth_algo`, `encrypt_algo`, `ike_version`, `ip`, `last_event`, `mac`, `mxcluster_id`, `mxedge_id`, `node`, `peer_host`, `peer_ip`, `peer_mxedge_id`, `protocol`, `remote_ip`, `remote_port`, `site_id`, `state`, `tunnel_name`, `up`, `wxtunnel_id`'
      - name: type
        in: query
        description: 'Filter results by type. enum: `wan`, `wxtunnel`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_tunnel_type_count'
          - description: 'Filter results by type. enum: `wan`, `wxtunnel`'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/stats/tunnels/search:
    parameters: []
    get:
      tags:
      - Orgs Stats - Tunnels
      summary: searchOrgTunnelsStats
      description: 'By default the endpoint returns only `wxtunnel` type stats, to get `wan` type stats

        you need to specify `type=wan` in the query parameters.


        Tunnel types:

        - `wxtunnel` (default) - A WxLan Tunnel (WxTunnel) are used to create a secure connection between Juniper Mist Access Points and third-party VPN concentrators using protocols such as L2TPv3 or dmvpn.

        - `wan` - A WAN Tunnel is a secure connection between two Gateways, typically used for site-to-site or mesh connectivity. It can be configured with various protocols and encryption methods.


        If `type` is not specified or `type`==`wxtunnel`, the following parameters are supported:

        - `mxcluster_id` - the MX cluster ID

        - `site_id` - the site ID

        - `wxtunnel_id` - the WX tunnel ID

        - `ap` - the AP MAC address


        If `type`==`wan`, the following parameters are supported:

        - `mac` - the MAC address of the WAN device

        - `node` - the node ID

        - `peer_ip` - the peer IP address

        - `peer_host` - the peer host name

        - `ip` - the IP address of the WAN device

        - `tunnel_name` - the name of the tunnel

        - `protocol` - the protocol used for the tunnel

        - `auth_algo` - the authentication algorithm used for the tunnel

        - `encrypt_algo` - the encryption algorithm used for the tunnel

        - `ike_version` - the IKE version used for the tunnel

        - `up` - the status of the tunnel (up or down)'
      operationId: searchOrgTunnelsStats
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mxcluster_id
        in: query
        description: Filter results by mxcluster id when `type`==`wxtunnel`
        style: form
        explode: true
        schema:
          type: string
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
      - name: wxtunnel_id
        in: query
        description: Filter results by wxtunnel id when `type`==`wxtunnel`
        style: form
        explode: true
        schema:
          type: string
      - name: ap
        in: query
        description: Filter results by AP MAC address when `type`==`wxtunnel`
        style: form
        explode: true
        schema:
          type: string
      - name: mac
        in: query
        description: Filter results by MAC address when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: node
        in: query
        description: Filter results by node when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: peer_ip
        in: query
        description: Filter results by peer ip when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: peer_host
        in: query
        description: Filter results by peer host when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: ip
        in: query
        description: Filter results by IP address when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: tunnel_name
        in: query
        description: Filter results by tunnel name when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: protocol
        in: query
        description: Filter results by protocol when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: auth_algo
        in: query
        description: Filter results by auth algo when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: encrypt_algo
        in: query
        description: Filter results by encrypt algo when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: ike_version
        in: query
        description: Filter results by ike version when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: up
        in: query
        description: Filter results by up when `type`==`wan`
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: 'Filter results by type. enum: `wan`, `wxtunnel`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/tunnel_type'
          - description: 'Filter results by type. enum: `wan`, `wxtunnel`'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 5m
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_tunnel_search'
                - description: Paginated response for organization tunnel statistics search results
                  examples:
                  - '{"end":1531862583,"limit":10,"results":[{"auth_algo":"hmac-md5-96","encrypt_algo":"aes-256-cbc","ike_version":"2","ip":"192.168.233.0","last_event":"down reason","mac":"020001ae9dd5","node":"node0","org_id":"78c11da8-f984-4425-bedb-a7ddd7d0f6da","peer_host":"sunnyvale1-vpn.zscalerbeta.net","peer_ip":"10.224.8.16","protocol":"ipsec","rx_bytes":150,"rx_pkts":75,"site_id":"e83e7928-eda1-4e93-82db-df3dd42ab726","tunnel_name":"Device-ipsec-1","tx_bytes":100,"tx_pkts":50,"up":true,"uptime":10,"wan_name":"wan"}],"start":1531776183,"total":1}'
                  - '{"end":1531862583,"limit":10,"results":[{"ap":"5c5b35000010","last_seen":1547437078,"mtu":582,"mxcluster_id":"572586b7-f97b-a22b-526c-8b97a3f609c4","mxedge_id":"387804a7-3474-85ce-15a2-f9a9684c9c90","mxtunnel_id":"7dae216d-7c98-a51b-e068-dd7d477b7216","org_id":"2818e386-8dec-2562-9ede-5b8a0fbbdc71","peer_mxedge_id":"09320a5c-bc23-441e-80a0-b96c632d45f5","remote_ip":"172.16.1.2","remote_port":13535,"sessions":[{"local_sid":31,"remote_id":"mxtunnel","remote_sid":13,"state":"established"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","start_time":1744000000,"state":"established_with_sessions"}],"start":1531776183,"total":1}'
                contentMediaType: application/json
              examples:
                Type Wan:
                  value:
                    end: 1531862583
                    limit: 10
                    results:
                    - auth_algo: hmac-md5-96
                      encrypt_algo: aes-256-cbc
                      ike_version: '2'
                      ip: 192.168.233.0
                      last_event: down reason
                      mac: 020001ae9dd5
                      node: node0
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      peer_host: sunnyvale1-vpn.zscalerbeta.net
                      peer_ip: 10.224.8.16
                      protocol: ipsec
                      rx_bytes: 150
                      rx_pkts: 75
                      site_id: e83e7928-eda1-4e93-82db-df3dd42ab726
                      tunnel_name: Device-ipsec-1
                      tx_bytes: 100
                      tx_pkts: 50
                      up: true
                      uptime: 10
                      wan_name: wan
                    start: 1531776183
                    total: 1
                Type Wxtunnel:
                  value:
                    end: 1531862583
                    limit: 10
                    results:
                    - ap: 5c5b35000010
                      last_seen: 1547437078
                      mtu: 582
                      mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                      mxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      peer_mxedge_id: 09320a5c-bc23-441e-80a0-b96c632d45f5
                      remote_ip: 172.16.1.2
                      remote_port: 13535
                      sessions:
                      - local_sid: 31
                        remote_id: mxtunnel
                        remote_sid: 13
                        state: established
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      start_time: 1744000000
                      state: established_with_sessions
                    start: 1531776183
                    total: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_tunnel_search'
                - description: Paginated response for organization tunnel statistics search results
                  examples:
                  - '{"end":1531862583,"limit":10,"results":[{"auth_algo":"hmac-md5-96","encrypt_algo":"aes-256-cbc","ike_version":"2","ip":"192.168.233.0","last_event":"down reason","mac":"020001ae9dd5","node":"node0","org_id":"78c11da8-f984-4425-bedb-a7ddd7d0f6da","peer_host":"sunnyvale1-vpn.zscalerbeta.net","peer_ip":"10.224.8.16","protocol":"ipsec","rx_bytes":150,"rx_pkts":75,"site_id":"e83e7928-eda1-4e93-82db-df3dd42ab726","tunnel_name":"Device-ipsec-1","tx_bytes":100,"tx_pkts":50,"up":true,"uptime":10,"wan_name":"wan"}],"start":1531776183,"total":1}'
                  - '{"end":1531862583,"limit":10,"results":[{"ap":"5c5b35000010","last_seen":1547437078,"mtu":582,"mxcluster_id":"572586b7-f97b-a22b-526c-8b97a3f609c4","mxedge_id":"387804a7-3474-85ce-15a2-f9a9684c9c90","mxtunnel_id":"7dae216d-7c98-a51b-e068-dd7d477b7216","org_id":"2818e386-8dec-2562-9ede-5b8a0fbbdc71","peer_mxedge_id":"09320a5c-bc23-441e-80a0-b96c632d45f5","remote_ip":"172.16.1.2","remote_port":13535,"sessions":[{"local_sid":31,"remote_id":"mxtunnel","remote_sid":13,"state":"established"}],"site_id":"4ac1dcf4-9d8b-7211-65c4-057819f0862b","start_time":1744000000,"state":"established_with_sessions"}],"start":1531776183,"total":1}'
                contentMediaType: application/vnd.api+json
              examples:
                Type Wan:
                  value:
                    end: 1531862583
                    limit: 10
                    results:
                    - auth_algo: hmac-md5-96
                      encrypt_algo: aes-256-cbc
                      ike_version: '2'
                      ip: 192.168.233.0
                      last_event: down reason
                      mac: 020001ae9dd5
                      node: node0
                      org_id: 78c11da8-f984-4425-bedb-a7ddd7d0f6da
                      peer_host: sunnyvale1-vpn.zscalerbeta.net
                      peer_ip: 10.224.8.16
                      protocol: ipsec
                      rx_bytes: 150
                      rx_pkts: 75
                      site_id: e83e7928-eda1-4e93-82db-df3dd42ab726
                      tunnel_name: Device-ipsec-1
                      tx_bytes: 100
                      tx_pkts: 50
                      up: true
                      uptime: 10
                      wan_name: wan
                    start: 1531776183
                    total: 1
                Type Wxtunnel:
                  value:
                    end: 1531862583
                    limit: 10
                    results:
                    - ap: 5c5b35000010
                      last_seen: 1547437078
                      mtu: 582
                      mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                      mxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      peer_mxedge_id: 09320a5c-bc23-441e-80a0-b96c632d45f5
                      remote_ip: 172.16.1.2
                      remote_port: 13535
                      sessions:
                      - local_sid: 31
                        remote_id: mxtunnel
                        remote_sid: 13
                        state: established
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      start_time: 1744000000
                      state: established_with_sessions
                    start: 1531776183
                    total: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    fwupdate_stat_status2:
      title: fwupdate_stat_status2
      enum:
      - inprogress
      - failed
      - upgraded
      - success
      - scheduled
      - error
      type: string
      description: 'Current firmware update status. enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`.'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_tunnel_search:
      title: response_tunnel_search
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp, in seconds, for the end of the tunnel statistics search window
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of tunnel statistics records returned in this page
          contentEncoding: int32
        next:
          type: string
          description: URL for retrieving the next page of tunnel statistics results
        results:
          type: array
          items:
            $ref: '#/components/schemas/response_tunnel_search_item'
          description: Tunnel statistics records matching the search filters
        start:
          type: integer
          description: Epoch timestamp, in seconds, for the start of the tunnel statistics search window
          contentEncoding: int32
        total:
          type: integer
          description: Number of tunnel statistics records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for organization tunnel statistics search results
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    tunnel_priority1:
      title: tunnel_priority1
      enum:
      - primary
      - secondary
      type: string
      description: 'Relative preference assigned to the tunnel. enum: `primary`, `secondary`.'
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    stats_wan_tunnel:
      title: stats_wan_tunnel
      required:
      - peer_ip
      type: object
      properties:
        auth_algo:
          type: string
          description: Authentication algorithm negotiated for the tunnel
        encrypt_algo:
          type: string
          description: Encryption algorithm negotiated for the tunnel
        ike_version:
          type: string
          description: IKE version used to establish the tunnel
        ip:
          type: string
          description: Local IP address used by the tunnel
        last_event:
          type: string
          description: Most recent reason the tunnel went down
        mac:
          type: string
          description: Router MAC address reporting the tunnel statistics
        node:
          type: string
          description: HA node handling the tunnel, such as node0 or node1
        org_id:
          type: string
          description: Organization identifier of the router reporting the tunnel statistics
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        peer_host:
          type: string
          description: Hostname or configured peer host of the remote tunnel endpoint
        peer_ip:
          type: string
          description: IP address of the remote tunnel endpoint
        priority:
          allOf:
          - $ref: '#/components/schemas/tunnel_priority1'
          - description: 'Relative preference assigned to the tunnel. enum: `primary`, `secondary`.'
        protocol:
          allOf:
          - $ref: '#/components/schemas/wan_tunnel_protocol1'
          - description: 'Tunnel protocol used for the connection. enum: `gre`, `ipsec`.'
        rx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes received on the tunnel
          contentEncoding: int64
          readOnly: true
          examples:
          - 8515104416
        rx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets received on the tunnel
          contentEncoding: int64
          readOnly: true
          examples:
          - 57770567
        site_id:
          type: string
          description: Site identifier of the router reporting the tunnel statistics
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        tunnel_name:
          type: string
          description: Name of the Mist-managed WAN tunnel
        tx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes transmitted on the tunnel
          contentEncoding: int64
          readOnly: true
          examples:
          - 211217389682
        tx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets transmitted on the tunnel
          contentEncoding: int64
          readOnly: true
          examples:
          - 812204062
        up:
          type: boolean
          description: Indicates whether the tunnel is currently up
        uptime:
          type: integer
          description: Duration since the tunnel security association was established
          contentEncoding: int32
        wan_name:
          type: string
          description: Name of the WAN interface carrying the tunnel
          examples:
          - wan
      description: WAN tunnel statistics record returned by tunnel search
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    fwupdate_stat1:
      title: fwupdate_stat1
      type: object
      properties:
        progress:
          maximum: 100
          minimum: 0
          type:
          - integer
          - 'null'
          description: Firmware update progress percentage, or null when unavailable
          contentEncoding: int32
          readOnly: true
          examples:
          - 10
        status:
          allOf:
          - oneOf:
            - {}
            - $ref: '#/components/schemas/fwupdate_stat_status2'
          - description: 'Current firmware update status. enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`.'
          readOnly: true
        status_id:
          type:
          - integer
          - 'null'
          description: Numeric firmware update status identifier
          contentEncoding: int32
          readOnly: true
          examples:
          - 5
        timestamp:
          type: number
          description: Time when the firmware update status was last updated
          readOnly: true
        will_retry:
          type:
          - boolean
          - 'null'
          description: Whether the firmware update process will retry after the current status
          readOnly: true
          examples:
          - false
      description: Firmware update status included with the tunnel statistics, when available
    response_tunnel_search_item:
      oneOf:
      - $ref: '#/components/schemas/stats_mxtunnel'
      - $ref: '#/components/schemas/stats_wan_tunnel'
      description: Tunnel statistics record; shape depends on the requested tunnel type
    tunnel_type:
      title: tunnel_type
      enum:
      - wan
      - wxtunnel
      type: string
      description: 'Tunnel category, either WAN tunnel or WxLAN tunnel. enum: `wan`, `wxtunnel`'
    stats_mxtunnel_session:
      title: stats_mxtunnel_session
      required:
      - local_sid
      - remote_id
      - remote_sid
      - state
      type: object
      properties:
        local_sid:
          type: integer
          description: Local session identifier for the tunnel session
          contentEncoding: int32
        remote_id:
          type: string
          description: Configured remote identifier for the tunnel session
        remote_sid:
          type: integer
          description: Peer session identifier for the tunnel session
          contentEncoding: int32
        state:
          type: string
          description: Current state of the tunnel session
      description: Session information for a WxLAN or Mist tunnel
    wan_tunnel_protocol1:
      title: wan_tunnel_protocol1
      enum:
      - gre
      - ipsec
      type: string
      description: 'Tunnel protocol used for the connection. enum: `gre`, `ipsec`.'
    response_count:
      title: response_count
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        distinct:
          type: string
          description: Field used to group the count results
        end:
          type: integer
          description: Search window end timestamp for the count request, in epoch seconds
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of distinct count results requested
          contentEncoding: int32
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/count_result'
          description: Count results grouped by the distinct field
        start:
          type: integer
          description: Search window start timestamp for the count request, in epoch seconds
          contentEncoding: int32
        total:
          type: integer
          description: Number of distinct result buckets returned
          contentEncoding: int32
      description: Distinct count response for time-bounded search results
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    stats_mxtunnel:
      title: stats_mxtunnel
      required:
      - remote_ip
      type: object
      properties:
        ap:
          type: string
          description: MAC address of the AP associated with the tunnel statistics
          readOnly: true
        for_site:
          type: boolean
          description: Whether the tunnel statistics are scoped to a site
          readOnly: true
        fwupdate:
          allOf:
          - $ref: '#/components/schemas/fwupdate_stat1'
          - description: Firmware update status included with the tunnel statistics, when available
        last_seen:
          type:
          - number
          - 'null'
          description: Time when the tunnel statistics were last observed
          readOnly: true
          examples:
          - 1470417522
        mtu:
          type: integer
          description: Maximum transmission unit reported for the tunnel path
          contentEncoding: int32
          readOnly: true
        mxcluster_id:
          type: string
          description: Mist Edge cluster identifier associated with the tunnel statistics
          contentEncoding: uuid
          readOnly: true
        mxedge_id:
          type: string
          description: Mist Edge identifier for the tunnel endpoint
          contentEncoding: uuid
          readOnly: true
        mxtunnel_id:
          type: string
          description: Mist tunnel identifier associated with the tunnel statistics
          contentEncoding: uuid
          readOnly: true
        org_id:
          type: string
          description: Organization identifier associated with the tunnel statistics
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        peer_mxedge_id:
          type: string
          description: MxEdge ID of the peer(mist edge to mist edge tunnel)
          contentEncoding: uuid
          readOnly: true
        remote_ip:
          type: string
          description: Remote endpoint IP address for the tunnel
          readOnly: true
        remote_port:
          type: integer
          description: Remote endpoint port for the tunnel
          contentEncoding: int32
          readOnly: true
        sessions:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/stats_mxtunnel_session'
          description: WxLAN tunnel sessions reported for this tunnel
          readOnly: true
        site_id:
          type: string
          description: Site identifier associated with the tunnel statistics
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        start_time:
          type: integer
          description: Epoch timestamp when the tunnel was established
          contentEncoding: int32
          readOnly: true
        state:
          allOf:
          - $ref: '#/components/schemas/stats_mxtunnel_state2'
          - description: 'Current state of the WxLAN or Mist tunnel. enum: `established`, `established_with_sessions`, `idle`, `wait-ctrl-conn`, `wait-ctrl-reply`.'
          readOnly: true
      description: WxLAN or Mist tunnel statistics record
    org_tunnel_type_count:
      title: org_tunnel_type_count
      enum:
      - wan
      - wxtunnel
      type: string
      description: 'Tunnel type used when counting organization tunnels. enum: `wan`, `wxtunnel`'
    stats_mxtunnel_state2:
      title: stats_mxtunnel_state2
      enum:
      - established
      - established_with_sessions
      - idle
      - wait-ctrl-conn
      - wait-ctrl-reply
      type: string
      description: 'Current state of the WxLAN or Mist tunnel. enum: `established`, `established_with_sessions`, `idle`, `wait-ctrl-conn`, `wait-ctrl-reply`.'
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    org_tunnel_count_distinct:
      title: org_tunnel_count_distinct
      enum:
      - ap
      - auth_algo
      - encrypt_algo
      - ike_version
      - ip
      - last_event
      - mac
      - mxcluster_id
      - mxedge_id
      - node
      - peer_host
      - peer_ip
      - peer_mxedge_id
      - protocol
      - remote_ip
      - remote_port
      - site_id
      - state
      - tunnel_name
      - up
      - wxtunnel_id
      type: string
      description: 'enum: `ap`, `auth_algo`, `encrypt_algo`, `ike_version`, `ip`, `last_event`, `mac`, `mxcluster_id`, `mxedge_id`, `node`, `peer_host`, `peer_ip`, `peer_mxedge_id`, `protocol`, `remote_ip`, `remote_port`, `site_id`, `state`, `tunnel_name`, `up`, `wxtunnel_id`'
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
