openapi: 3.2.0
info:
  title: Mist Sites vBeacons API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites vBeacons
  description: 'A vBeacon is a virtual beacon that is created and configured on a floorplan and are configured with a name and message


    It is a Mist patented technology that provides proximity-related notifications to users on a mobile app using the Mist SDK.


    vBeacons allow users to receive notifications when their device is within the proximity of the beacon, based on the power transmitted. When a user goes near the location of a vbeacon, a notification is sent to the application with the configured message.'
paths:
  /api/v1/sites/{site_id}/vbeacons:
    parameters: []
    get:
      tags:
      - Sites vBeacons
      summary: listSiteVBeacons
      description: Get List of Site Virtual Beacons
      operationId: listSiteVBeacons
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/vbeacon'
                description: Virtual beacon records returned by a list response
                examples:
                - - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/vbeacon'
                description: Virtual beacon records returned by a list response
                examples:
                - - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites vBeacons
      summary: createSiteVBeacon
      description: Create Virtual Beacon
      operationId: createSiteVBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/vbeacon'
              - description: Request Body
                examples:
                - major: 0
                  message: string
                  minor: 0
                  name: string
                  power: 4
                  power_mode: default
                  url: string
                  uuid: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  wayfinding_nodename: string
                  x: 0
                  y: 0
              contentMediaType: application/json
            examples:
              Example:
                value:
                  major: 0
                  message: string
                  minor: 0
                  name: string
                  power: 4
                  power_mode: default
                  url: string
                  uuid: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  wayfinding_nodename: string
                  x: 0
                  y: 0
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/vbeacon'
                - description: Virtual beacon configuration for SDK proximity notifications
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/vbeacon'
                - description: Virtual beacon configuration for SDK proximity notifications
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/vbeacons/{vbeacon_id}:
    parameters: []
    delete:
      tags:
      - Sites vBeacons
      summary: deleteSiteVBeacon
      description: Delete Site Virtual Beacon
      operationId: deleteSiteVBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: vbeacon_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites vBeacons
      summary: getSiteVBeacon
      description: Get Site Virtual Beacon Details
      operationId: getSiteVBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: vbeacon_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/vbeacon'
                - description: Virtual beacon configuration for SDK proximity notifications
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/vbeacon'
                - description: Virtual beacon configuration for SDK proximity notifications
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Sites vBeacons
      summary: updateSiteVBeacon
      description: Update Site Virtual Beacon
      operationId: updateSiteVBeacon
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: vbeacon_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/vbeacon'
              - description: Request Body
                examples:
                - major: 0
                  message: string
                  minor: 0
                  name: string
                  power: 4
                  power_mode: default
                  url: string
                  uuid: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  wayfinding_nodename: string
                  x: 0
                  y: 0
              contentMediaType: application/json
            examples:
              Example:
                value:
                  major: 0
                  message: string
                  minor: 0
                  name: string
                  power: 4
                  power_mode: default
                  url: string
                  uuid: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  wayfinding_nodename: string
                  x: 0
                  y: 0
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/vbeacon'
                - description: Virtual beacon configuration for SDK proximity notifications
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/vbeacon'
                - description: Virtual beacon configuration for SDK proximity notifications
                  examples:
                  - created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    major: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    message: string
                    minor: 0
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 4
                    power_mode: default
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    url: string
                    uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    wayfinding_nodename: string
                    x: 0
                    y: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    ble_config_power_mode2:
      title: ble_config_power_mode2
      enum:
      - custom
      - default
      type: string
      description: 'Transmit power mode for the virtual beacon. enum: `custom`, `default`.'
      examples:
      - custom
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    vbeacon:
      title: vbeacon
      type: object
      properties:
        created_time:
          type: number
          description: Epoch timestamp when the virtual beacon was created
          readOnly: true
        for_site:
          type: boolean
          description: Whether this virtual beacon is defined at site scope
          readOnly: true
        id:
          type: string
          description: Unique identifier of the virtual beacon
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        major:
          type: integer
          description: Bluetooth beacon major value used for proximity matching
          contentEncoding: int32
          examples:
          - 1356
        map_id:
          type: string
          description: Floorplan map identifier containing the virtual beacon
          contentEncoding: uuid
          examples:
          - 63eda950-c6da-11e4-a628-60f81dd250cc
        message:
          type: string
          description: Notification message displayed by the SDK application when a client is near the virtual beacon
          examples:
          - Welcome to Mist
        minor:
          type: integer
          description: Bluetooth beacon minor value used for proximity matching
          contentEncoding: int32
          examples:
          - 21
        modified_time:
          type: number
          description: Epoch timestamp when the virtual beacon was last modified
          readOnly: true
        name:
          type: string
          description: Display name or label for the virtual beacon
          examples:
          - conference room
        org_id:
          type: string
          description: Organization identifier that owns the virtual beacon
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        power:
          maximum: 100
          minimum: -30
          type: integer
          description: Required if `power_mode`==`custom`, -30 - 100, in dBm. For default power_mode, power = 4 dBm.
          contentEncoding: int32
          default: 4
        power_mode:
          allOf:
          - $ref: '#/components/schemas/ble_config_power_mode2'
          - description: 'Transmit power mode for the virtual beacon. enum: `custom`, `default`.'
            examples:
            - custom
        site_id:
          type: string
          description: Site identifier that owns the virtual beacon
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        url:
          type: string
          description: Destination URL shown by the SDK application when a client is near the virtual beacon
          examples:
          - https://www.mist.com/any
        uuid:
          type: string
          description: Bluetooth beacon UUID used for proximity matching
          contentEncoding: uuid
          examples:
          - 31375aeb-b8d3-1ea6-83bf-a31eb04e1c38
        wayfinding_nodename:
          type: string
          description: Name to be used in wayfinding_path or wayfinding_grid blob
          examples:
          - node1
        x:
          type: number
          description: Horizontal pixel coordinate of the virtual beacon on the map
          examples:
          - 53.5
        y:
          type: number
          description: Vertical pixel coordinate of the virtual beacon on the map
          examples:
          - 173.1
      description: Virtual beacon configuration for SDK proximity notifications
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
