openapi: 3.2.0
info:
  title: Mist Sites Stats - Zones API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - Zones
  description: API Calls to retrieve Zones statistics for the current Site
paths:
  /api/v1/sites/{site_id}/stats/rssizones:
    parameters: []
    get:
      tags:
      - Sites Stats - Zones
      summary: listSiteRssiZonesStats
      description: Get List of Site RSSI Zones Stats
      operationId: listSiteRssiZonesStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_rssi_zone'
                description: RSSI-based zone statistics returned by the request
                examples:
                - - assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    clients_wait:
                      avg: 39259.333333333336
                      max: 58361
                      min: 12376
                      p95: 58361
                    created_time: 1733864928
                    devices:
                    - device_id: 00000000-0000-0000-1000-c8786708bb5d
                      rssi: -70
                    discovered_assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    id: 17ef7169-e000-4dcd-abc7-f721f0a8ffda
                    modified_time: 1733864928
                    name: proximity openspace
                    num_assets: 0
                    num_clients: 3
                    num_discovered_assets: 0
                    num_sdkclients: 0
                    num_unconnected_clients: 7
                    org_id: c5fbc9e4-12bf-436e-98c4-1c842c66ab6c
                    sdkclients_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    site_id: 079fafd3-ef5c-4b23-90f0-9fcebec0023a
                    unconnected_clients_wait:
                      avg: 37552.857142857145
                      max: 68342
                      min: 6649
                      p95: 68342
                contentMediaType: application/json
              examples:
                Example-1:
                  value:
                  - assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    clients_wait:
                      avg: 39259.333333333336
                      max: 58361
                      min: 12376
                      p95: 58361
                    created_time: 1733864928
                    devices:
                    - device_id: 00000000-0000-0000-1000-c8786708bb5d
                      rssi: -70
                    discovered_assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    id: 17ef7169-e000-4dcd-abc7-f721f0a8ffda
                    modified_time: 1733864928
                    name: proximity openspace
                    num_assets: 0
                    num_clients: 3
                    num_discovered_assets: 0
                    num_sdkclients: 0
                    num_unconnected_clients: 7
                    org_id: c5fbc9e4-12bf-436e-98c4-1c842c66ab6c
                    sdkclients_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    site_id: 079fafd3-ef5c-4b23-90f0-9fcebec0023a
                    unconnected_clients_wait:
                      avg: 37552.857142857145
                      max: 68342
                      min: 6649
                      p95: 68342
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_rssi_zone'
                description: RSSI-based zone statistics returned by the request
                examples:
                - - assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    clients_wait:
                      avg: 39259.333333333336
                      max: 58361
                      min: 12376
                      p95: 58361
                    created_time: 1733864928
                    devices:
                    - device_id: 00000000-0000-0000-1000-c8786708bb5d
                      rssi: -70
                    discovered_assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    id: 17ef7169-e000-4dcd-abc7-f721f0a8ffda
                    modified_time: 1733864928
                    name: proximity openspace
                    num_assets: 0
                    num_clients: 3
                    num_discovered_assets: 0
                    num_sdkclients: 0
                    num_unconnected_clients: 7
                    org_id: c5fbc9e4-12bf-436e-98c4-1c842c66ab6c
                    sdkclients_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    site_id: 079fafd3-ef5c-4b23-90f0-9fcebec0023a
                    unconnected_clients_wait:
                      avg: 37552.857142857145
                      max: 68342
                      min: 6649
                      p95: 68342
                contentMediaType: application/vnd.api+json
              examples:
                Example-1:
                  value:
                  - assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    clients_wait:
                      avg: 39259.333333333336
                      max: 58361
                      min: 12376
                      p95: 58361
                    created_time: 1733864928
                    devices:
                    - device_id: 00000000-0000-0000-1000-c8786708bb5d
                      rssi: -70
                    discovered_assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    id: 17ef7169-e000-4dcd-abc7-f721f0a8ffda
                    modified_time: 1733864928
                    name: proximity openspace
                    num_assets: 0
                    num_clients: 3
                    num_discovered_assets: 0
                    num_sdkclients: 0
                    num_unconnected_clients: 7
                    org_id: c5fbc9e4-12bf-436e-98c4-1c842c66ab6c
                    sdkclients_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    site_id: 079fafd3-ef5c-4b23-90f0-9fcebec0023a
                    unconnected_clients_wait:
                      avg: 37552.857142857145
                      max: 68342
                      min: 6649
                      p95: 68342
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/rssizones/{zone_id}:
    parameters: []
    get:
      tags:
      - Sites Stats - Zones
      summary: getSiteRssiZoneStats
      description: Get Detail RSSI Zone Stats
      operationId: getSiteRssiZoneStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: zone_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Zone Stats
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_zone_details'
                - description: Detailed zone statistics and occupants for a site map zone
                  examples:
                  - assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_zone_details'
                - description: Detailed zone statistics and occupants for a site map zone
                  examples:
                  - assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/zones:
    parameters: []
    get:
      tags:
      - Sites Stats - Zones
      summary: listSiteZonesStats
      description: Get List of Site Zones Stats
      operationId: listSiteZonesStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: query
        description: Filter results by map identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 00000000-0000-0000-0000-000000000000
      - name: min_duration
        in: query
        description: Filter results by minimum duration
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 120
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_zone'
                description: Zone statistics records returned by a stats response
                examples:
                - '[{"assets_wait":{"avg":0,"max":0,"min":0,"p95":0},"clients_wait":{"avg":1200,"max":3610,"min":600,"p95":2800},"created_time":1616625211,"id":"123470c7-5d9d-424a-8475-8b344c621234","map_id":"123449d4-d12f-4feb-b40f-5be0e2ae1234","modified_time":1616625211,"name":"Zone A","num_assets":0,"num_clients":80,"num_sdkclients":10,"occupancy_limit":4,"org_id":"1234c1a0-6ef6-11e6-8bbf-02e208b21234","sdkclients_wait":{"avg":1200,"max":3610,"min":600,"p95":2800},"site_id":"123448e6-6ef6-11e6-8bbf-02e208b21234","vertices":[{"x":732,"y":1821},{"x":732.5,"y":1731},{"x":837.5,"y":1731.5},{"x":839,"y":1821}],"vertices_m":[{"x":24.1983341951072,"y":60.198314985369144},{"x":24.21486311190714,"y":57.22310996138056},{"x":27.685935639893827,"y":57.23963887818049},{"x":27.73552239029364,"y":60.198314985369144}]}]'
                - '[{"created_time":1616625211,"id":"123470c7-5d9d-424a-8475-8b344c621234","map_id":"123449d4-d12f-4feb-b40f-5be0e2ae1234","modified_time":1616625211,"name":"Zone A","occupancy_limit":4,"org_id":"1234c1a0-6ef6-11e6-8bbf-02e208b21234","site_id":"123448e6-6ef6-11e6-8bbf-02e208b21234","vertices":[{"x":732,"y":1821},{"x":732.5,"y":1731},{"x":837.5,"y":1731.5},{"x":839,"y":1821}],"vertices_m":[{"x":24.1983341951072,"y":60.198314985369144},{"x":24.21486311190714,"y":57.22310996138056},{"x":27.685935639893827,"y":57.23963887818049},{"x":27.73552239029364,"y":60.198314985369144}]}]'
                contentMediaType: application/json
              examples:
                Example-1:
                  value:
                  - assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    clients_wait:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    created_time: 1616625211
                    id: 123470c7-5d9d-424a-8475-8b344c621234
                    map_id: 123449d4-d12f-4feb-b40f-5be0e2ae1234
                    modified_time: 1616625211
                    name: Zone A
                    num_assets: 0
                    num_clients: 80
                    num_sdkclients: 10
                    occupancy_limit: 4
                    org_id: 1234c1a0-6ef6-11e6-8bbf-02e208b21234
                    sdkclients_wait:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    site_id: 123448e6-6ef6-11e6-8bbf-02e208b21234
                    vertices:
                    - x: 732
                      y: 1821
                    - x: 732.5
                      y: 1731
                    - x: 837.5
                      y: 1731.5
                    - x: 839
                      y: 1821
                    vertices_m:
                    - x: 24.1983341951072
                      y: 60.198314985369144
                    - x: 24.21486311190714
                      y: 57.22310996138056
                    - x: 27.685935639893827
                      y: 57.23963887818049
                    - x: 27.73552239029364
                      y: 60.198314985369144
                without-map_id-query-param:
                  value:
                  - created_time: 1616625211
                    id: 123470c7-5d9d-424a-8475-8b344c621234
                    map_id: 123449d4-d12f-4feb-b40f-5be0e2ae1234
                    modified_time: 1616625211
                    name: Zone A
                    occupancy_limit: 4
                    org_id: 1234c1a0-6ef6-11e6-8bbf-02e208b21234
                    site_id: 123448e6-6ef6-11e6-8bbf-02e208b21234
                    vertices:
                    - x: 732
                      y: 1821
                    - x: 732.5
                      y: 1731
                    - x: 837.5
                      y: 1731.5
                    - x: 839
                      y: 1821
                    vertices_m:
                    - x: 24.1983341951072
                      y: 60.198314985369144
                    - x: 24.21486311190714
                      y: 57.22310996138056
                    - x: 27.685935639893827
                      y: 57.23963887818049
                    - x: 27.73552239029364
                      y: 60.198314985369144
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_zone'
                description: Zone statistics records returned by a stats response
                examples:
                - '[{"assets_wait":{"avg":0,"max":0,"min":0,"p95":0},"clients_wait":{"avg":1200,"max":3610,"min":600,"p95":2800},"created_time":1616625211,"id":"123470c7-5d9d-424a-8475-8b344c621234","map_id":"123449d4-d12f-4feb-b40f-5be0e2ae1234","modified_time":1616625211,"name":"Zone A","num_assets":0,"num_clients":80,"num_sdkclients":10,"occupancy_limit":4,"org_id":"1234c1a0-6ef6-11e6-8bbf-02e208b21234","sdkclients_wait":{"avg":1200,"max":3610,"min":600,"p95":2800},"site_id":"123448e6-6ef6-11e6-8bbf-02e208b21234","vertices":[{"x":732,"y":1821},{"x":732.5,"y":1731},{"x":837.5,"y":1731.5},{"x":839,"y":1821}],"vertices_m":[{"x":24.1983341951072,"y":60.198314985369144},{"x":24.21486311190714,"y":57.22310996138056},{"x":27.685935639893827,"y":57.23963887818049},{"x":27.73552239029364,"y":60.198314985369144}]}]'
                - '[{"created_time":1616625211,"id":"123470c7-5d9d-424a-8475-8b344c621234","map_id":"123449d4-d12f-4feb-b40f-5be0e2ae1234","modified_time":1616625211,"name":"Zone A","occupancy_limit":4,"org_id":"1234c1a0-6ef6-11e6-8bbf-02e208b21234","site_id":"123448e6-6ef6-11e6-8bbf-02e208b21234","vertices":[{"x":732,"y":1821},{"x":732.5,"y":1731},{"x":837.5,"y":1731.5},{"x":839,"y":1821}],"vertices_m":[{"x":24.1983341951072,"y":60.198314985369144},{"x":24.21486311190714,"y":57.22310996138056},{"x":27.685935639893827,"y":57.23963887818049},{"x":27.73552239029364,"y":60.198314985369144}]}]'
                contentMediaType: application/vnd.api+json
              examples:
                Example-1:
                  value:
                  - assets_wait:
                      avg: 0
                      max: 0
                      min: 0
                      p95: 0
                    clients_wait:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    created_time: 1616625211
                    id: 123470c7-5d9d-424a-8475-8b344c621234
                    map_id: 123449d4-d12f-4feb-b40f-5be0e2ae1234
                    modified_time: 1616625211
                    name: Zone A
                    num_assets: 0
                    num_clients: 80
                    num_sdkclients: 10
                    occupancy_limit: 4
                    org_id: 1234c1a0-6ef6-11e6-8bbf-02e208b21234
                    sdkclients_wait:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    site_id: 123448e6-6ef6-11e6-8bbf-02e208b21234
                    vertices:
                    - x: 732
                      y: 1821
                    - x: 732.5
                      y: 1731
                    - x: 837.5
                      y: 1731.5
                    - x: 839
                      y: 1821
                    vertices_m:
                    - x: 24.1983341951072
                      y: 60.198314985369144
                    - x: 24.21486311190714
                      y: 57.22310996138056
                    - x: 27.685935639893827
                      y: 57.23963887818049
                    - x: 27.73552239029364
                      y: 60.198314985369144
                without-map_id-query-param:
                  value:
                  - created_time: 1616625211
                    id: 123470c7-5d9d-424a-8475-8b344c621234
                    map_id: 123449d4-d12f-4feb-b40f-5be0e2ae1234
                    modified_time: 1616625211
                    name: Zone A
                    occupancy_limit: 4
                    org_id: 1234c1a0-6ef6-11e6-8bbf-02e208b21234
                    site_id: 123448e6-6ef6-11e6-8bbf-02e208b21234
                    vertices:
                    - x: 732
                      y: 1821
                    - x: 732.5
                      y: 1731
                    - x: 837.5
                      y: 1731.5
                    - x: 839
                      y: 1821
                    vertices_m:
                    - x: 24.1983341951072
                      y: 60.198314985369144
                    - x: 24.21486311190714
                      y: 57.22310996138056
                    - x: 27.685935639893827
                      y: 57.23963887818049
                    - x: 27.73552239029364
                      y: 60.198314985369144
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/zones/{zone_id}:
    parameters: []
    get:
      tags:
      - Sites Stats - Zones
      summary: getSiteZoneStats
      description: Get Detail Zone Stats
      operationId: getSiteZoneStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: zone_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Zone Stats
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_zone_details'
                - description: Detailed zone statistics and occupants for a site map zone
                  examples:
                  - assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_zone_details'
                - description: Detailed zone statistics and occupants for a site map zone
                  examples:
                  - assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    assets:
                    - df8dff06ae90
                    client_waits:
                      avg: 1200
                      max: 3610
                      min: 600
                      p95: 2800
                    clients:
                    - 5684dae9ac8b
                    id: 8ac84899-32db-6327-334c-9b6d58544cfe
                    map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                    name: Board Room
                    num_clients: 80
                    num_sdkclients: 0
                    sdkclients:
                    - 7e2b463d-c91c-ff7d-f3c0-6eccc6949ff8
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    stats_zone_assets_waits1:
      title: stats_zone_assets_waits1
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: BLE asset wait-time summary for the zone
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    stats_zone_details_client_waits2:
      title: stats_zone_details_client_waits2
      required:
      - avg
      - max
      - min
      - p95
      type: object
      properties:
        avg:
          type: integer
          description: Average wait time in seconds
          contentEncoding: int32
          examples:
          - 1200
        max:
          type: integer
          description: Longest wait time in seconds
          contentEncoding: int32
          examples:
          - 3610
        min:
          type: integer
          description: Shortest wait time in seconds
          contentEncoding: int32
          examples:
          - 600
        p95:
          type: integer
          description: 95th percentile of all the wait time(s)
          contentEncoding: int32
          examples:
          - 2800
      description: Wi-Fi client wait-time summary for the zone
    stats_zone_discovered_assets_waits3:
      title: stats_zone_discovered_assets_waits3
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: Discovered BLE asset wait-time summary for the RSSI zone
    stats_zone_sdkclients_waits3:
      title: stats_zone_sdkclients_waits3
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: SDK client wait-time summary for the RSSI zone
    stats_zone_unconnected_clients_waits3:
      title: stats_zone_unconnected_clients_waits3
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: Unconnected Wi-Fi client wait-time summary for the RSSI zone
    stats_zone_clients_waits1:
      title: stats_zone_clients_waits1
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 1200
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 3610
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 600
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 2800
      description: Wi-Fi client wait-time summary for the zone
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    stats_zone_details:
      title: stats_zone_details
      required:
      - client_waits
      - id
      - map_id
      - name
      - num_clients
      - num_sdkclients
      type: object
      properties:
        assets:
          type: array
          items:
            type: string
          description: BLE asset identifiers currently in the zone
        client_waits:
          allOf:
          - $ref: '#/components/schemas/stats_zone_details_client_waits2'
          - description: Wi-Fi client wait-time summary for the zone
        clients:
          type: array
          items:
            type: string
          description: Wi-Fi client MAC addresses currently in the zone
        id:
          type: string
          description: Unique identifier of the zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        map_id:
          type: string
          description: Map identifier for the zone
          contentEncoding: uuid
          examples:
          - 63eda950-c6da-11e4-a628-60f81dd250cc
        name:
          type: string
          description: Display name of the zone
          examples:
          - Board Room
        num_clients:
          type: integer
          description: Number of Wi-Fi clients currently counted in the zone
          contentEncoding: int32
          examples:
          - 80
        num_sdkclients:
          type: integer
          description: Number of SDK clients currently counted in the zone
          contentEncoding: int32
          examples:
          - 0
        sdkclients:
          type: array
          items:
            type: string
          description: SDK client identifiers currently in the zone
      description: Detailed zone statistics and occupants for a site map zone
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    stats_zone_discovered_assets_waits1:
      title: stats_zone_discovered_assets_waits1
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: Discovered BLE asset wait-time summary for the zone
    stats_zone:
      title: stats_zone
      required:
      - id
      - map_id
      - name
      type: object
      properties:
        assets_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_assets_waits1'
          - description: BLE asset wait-time summary for the zone
        clients_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_clients_waits1'
          - description: Wi-Fi client wait-time summary for the zone
        created_time:
          type: number
          description: Time when the zone was created, in epoch seconds
          readOnly: true
        discovered_assets_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_discovered_assets_waits1'
          - description: Discovered BLE asset wait-time summary for the zone
        id:
          type: string
          description: Unique identifier of the zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        map_id:
          type: string
          description: Map identifier for the zone
          contentEncoding: uuid
          examples:
          - 123449d4-d12f-4feb-b40f-5be0e2ae1234
        modified_time:
          type: number
          description: Time when the zone was last modified, in epoch seconds
          readOnly: true
        name:
          type: string
          description: Display name of the zone
          examples:
          - Zone A
        num_assets:
          type: integer
          description: Number of BLE assets currently counted in the zone
          contentEncoding: int32
          examples:
          - 0
        num_clients:
          type: integer
          description: Number of Wi-Fi clients currently counted in the zone, including connected and unconnected clients
          contentEncoding: int32
          examples:
          - 80
        num_discovered_assets:
          type: integer
          description: Number of discovered BLE assets currently counted in the zone
          contentEncoding: int32
          examples:
          - 0
        num_sdkclients:
          type: integer
          description: Number of SDK clients currently counted in the zone
          contentEncoding: int32
          examples:
          - 10
        num_unconnected_clients:
          type: integer
          description: Number of unconnected Wi-Fi clients currently counted in the zone
          contentEncoding: int32
          examples:
          - 80
        occupancy_limit:
          type: integer
          description: Configured occupancy limit for the zone
          contentEncoding: int32
          examples:
          - 4
        org_id:
          type: string
          description: Organization identifier associated with the zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        sdkclients_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_sdkclients_waits1'
          - description: SDK client wait-time summary for the zone
        site_id:
          type: string
          description: Site identifier associated with the zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        unconnected_clients_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_unconnected_clients_waits1'
          - description: Unconnected Wi-Fi client wait-time summary for the zone
        vertices:
          type: array
          items:
            $ref: '#/components/schemas/zone_vertex'
          description: Zone polygon vertices in map pixel coordinates
          examples:
          - - x: 732
              y: 1821
            - x: 732.5
              y: 1731
            - x: 837.5
              y: 1731.5
            - x: 839
              y: 1821
        vertices_m:
          type: array
          items:
            $ref: '#/components/schemas/zone_vertex_m'
          description: Zone polygon vertices in meters
          examples:
          - - x: 24.1983341951072
              y: 60.198314985369144
            - x: 24.21486311190714
              y: 57.22310996138056
            - x: 27.685935639893827
              y: 57.23963887818049
            - x: 27.73552239029364
              y: 60.198314985369144
      description: Zone statistics and occupancy counts for a site map zone
    stats_zone_assets_waits3:
      title: stats_zone_assets_waits3
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: BLE asset wait-time summary for the RSSI zone
    stats_zone_sdkclients_waits1:
      title: stats_zone_sdkclients_waits1
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: SDK client wait-time summary for the zone
    zone_vertex_m:
      title: zone_vertex_m
      required:
      - x
      - y
      type: object
      properties:
        x:
          type: number
          description: Horizontal coordinate of the zone vertex, in meters
        y:
          type: number
          description: Vertical coordinate of the zone vertex, in meters
      description: Zone polygon vertex expressed in meters
    stats_rssi_zone:
      title: stats_rssi_zone
      required:
      - devices
      - id
      - name
      type: object
      properties:
        assets_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_assets_waits3'
          - description: BLE asset wait-time summary for the RSSI zone
        clients_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_clients_waits3'
          - description: Wi-Fi client wait-time summary for the RSSI zone
        created_time:
          type: number
          description: Time when the RSSI zone was created, in epoch seconds
          readOnly: true
        devices:
          type: array
          items:
            $ref: '#/components/schemas/stats_rssi_zones_device'
          description: AP devices and RSSI thresholds that define the RSSI zone
        discovered_assets_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_discovered_assets_waits3'
          - description: Discovered BLE asset wait-time summary for the RSSI zone
        id:
          type: string
          description: Unique identifier of the RSSI zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Time when the RSSI zone was last modified, in epoch seconds
          readOnly: true
        name:
          type: string
          description: Display name of the RSSI zone
          examples:
          - Zone A
        num_assets:
          type: integer
          description: Number of BLE assets currently counted in the RSSI zone
          contentEncoding: int32
          examples:
          - 0
        num_clients:
          type: integer
          description: Number of Wi-Fi clients (unconnected + connected)
          contentEncoding: int32
          examples:
          - 80
        num_discovered_assets:
          type: integer
          description: Number of discovered BLE assets currently counted in the RSSI zone
          contentEncoding: int32
          examples:
          - 0
        num_sdkclients:
          type: integer
          description: Number of SDK clients currently counted in the RSSI zone
          contentEncoding: int32
          examples:
          - 10
        num_unconnected_clients:
          type: integer
          description: Number of unconnected Wi-Fi clients
          contentEncoding: int32
          examples:
          - 80
        occupancy_limit:
          type: integer
          description: Configured occupancy limit for the RSSI zone
          contentEncoding: int32
          examples:
          - 4
        org_id:
          type: string
          description: Organization identifier associated with the RSSI zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        sdkclients_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_sdkclients_waits3'
          - description: SDK client wait-time summary for the RSSI zone
        site_id:
          type: string
          description: Site identifier associated with the RSSI zone
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        unconnected_clients_wait:
          allOf:
          - $ref: '#/components/schemas/stats_zone_unconnected_clients_waits3'
          - description: Unconnected Wi-Fi client wait-time summary for the RSSI zone
      description: RSSI-based zone statistics for a site
    stats_rssi_zones_device:
      title: stats_rssi_zones_device
      type: object
      properties:
        device_id:
          type: string
          description: Identifier of the AP device used by this RSSI zone
          contentEncoding: uuid
        rssi:
          type: integer
          description: Minimum RSSI threshold for considering a device inside the zone
          contentEncoding: int32
      description: AP device and RSSI threshold used by an RSSI zone
    zone_vertex:
      title: zone_vertex
      required:
      - x
      - y
      type: object
      properties:
        x:
          type: number
          description: Horizontal pixel coordinate of the zone vertex
        y:
          type: number
          description: Vertical pixel coordinate of the zone vertex
      description: Zone polygon vertex expressed in map pixels
    stats_zone_clients_waits3:
      title: stats_zone_clients_waits3
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 1200
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 3610
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 600
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 2800
      description: Wi-Fi client wait-time summary for the RSSI zone
    stats_zone_unconnected_clients_waits1:
      title: stats_zone_unconnected_clients_waits1
      type: object
      properties:
        avg:
          type: number
          description: Average wait time in seconds
          examples:
          - 0
        max:
          type: number
          description: Longest wait time in seconds
          examples:
          - 0
        min:
          type: number
          description: Shortest wait time in seconds
          examples:
          - 0
        p95:
          type: number
          description: 95th percentile of all the wait time(s)
          examples:
          - 0
      description: Unconnected Wi-Fi client wait-time summary for the zone
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
