openapi: 3.2.0
info:
  title: Mist Orgs API Tokens API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs API Tokens
  description: Org API token is a unique identifier used by an application to authenticate and access a service's API.
paths:
  /api/v1/orgs/{org_id}/apitokens:
    parameters: []
    get:
      tags:
      - Orgs API Tokens
      summary: listOrgApiTokens
      description: List organization API tokens, including display names, scoped privileges, allowed source IPs, creator, and last-use metadata.
      operationId: listOrgApiTokens
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/org_apitoken'
                description: List of organization API tokens
                examples:
                - - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53f0bbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53f0bbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/org_apitoken'
                description: List of organization API tokens
                examples:
                - - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53f0bbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53f0bbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs API Tokens
      summary: createOrgApiToken
      description: 'Create an organization API token with a display name, scoped privileges, and optional source IP restrictions.

        Note that the full token key is only available at creation time.'
      operationId: createOrgApiToken
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org_apitoken'
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_apitoken'
                - description: 'Organization API token with scoped privileges


                    **Note:**

                    `privileges` is required to create the object, but may not be returned in the POST API response. Retrieve the token afterward to inspect it.'
                  examples:
                  - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_apitoken'
                - description: 'Organization API token with scoped privileges


                    **Note:**

                    `privileges` is required to create the object, but may not be returned in the POST API response. Retrieve the token afterward to inspect it.'
                  examples:
                  - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/apitokens/{apitoken_id}:
    parameters: []
    delete:
      tags:
      - Orgs API Tokens
      summary: deleteOrgApiToken
      description: Delete an organization API token so it can no longer authenticate API requests.
      operationId: deleteOrgApiToken
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: apitoken_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs API Tokens
      summary: getOrgApiToken
      description: Return metadata for one organization API token. The full token key is only available at creation time and may only be partially shown afterward.
      operationId: getOrgApiToken
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: apitoken_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_apitoken'
                - description: 'Organization API token with scoped privileges


                    **Note:**

                    `privileges` is required to create the object, but may not be returned in the POST API response. Retrieve the token afterward to inspect it.'
                  examples:
                  - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/org_apitoken'
                - description: 'Organization API token with scoped privileges


                    **Note:**

                    `privileges` is required to create the object, but may not be returned in the POST API response. Retrieve the token afterward to inspect it.'
                  examples:
                  - created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_by: user@mycorp.com
                    created_time: 1626875902
                    id: 497f6eca-6276-4993-bfeb-53efbbba6f08
                    key: 1qkb...QQCL
                    last_used: 1690115110
                    name: org_token_xyz
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    privileges:
                    - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      role: admin
                      scope: org
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs API Tokens
      summary: updateOrgApiToken
      description: Update an organization API token's display name or scoped privileges. Source IP restrictions are defined when the token is created.
      operationId: updateOrgApiToken
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: apitoken_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/org_apitoken'
              - description: Request Body
                examples:
                - '{"name":"org_token_xyz","privileges":[{"org_id":"a40f5d1f-d889-42e9-94ea-b9b33585fc6b","role":"admin","scope":"org"}]}'
              contentMediaType: application/json
            examples:
              Example:
                value:
                  name: org_token_xyz
                  privileges:
                  - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    role: admin
                    scope: org
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    privilege_org:
      title: privilege_org
      required:
      - role
      - scope
      type: object
      properties:
        org_id:
          type: string
          description: If `scope`==`org`, organization ID this privilege applies to
          contentEncoding: uuid
          readOnly: true
        role:
          allOf:
          - $ref: '#/components/schemas/privilege_org_role2'
          - description: 'Access role granted by this organization privilege. enum: `admin`, `helpdesk`, `installer`, `read`, `write`.'
        scope:
          allOf:
          - $ref: '#/components/schemas/privilege_org_scope2'
          - description: 'Organization hierarchy level where this privilege applies. enum: `org`, `site`, `sitegroup`, `orgsites`.'
        site_id:
          type: string
          description: If `scope`==`site`, site ID this privilege applies to
          contentEncoding: uuid
        sitegroup_id:
          type: string
          description: If `scope`==`sitegroup`, site group ID this privilege applies to
          contentEncoding: uuid
        view:
          type: string
          description: Used for backward compatibility. Use `views` instead.
          deprecated: true
        views:
          type: array
          items:
            $ref: '#/components/schemas/admin_privilege_view'
          description: UI views allowed by custom role restrictions
      description: Organization privilege scope and role settings
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    admin_privilege_view:
      title: admin_privilege_view
      enum:
      - lobby_admin
      - location
      - marketing
      - mxedge_admin
      - reporting
      - security
      - super_observer
      - switch_admin
      type: string
      description: 'UI view name allowed by a custom admin role. enum: `lobby_admin`, `location`, `marketing`, `mxedge_admin`, `reporting`, `security`, `super_observer`, `switch_admin`'
    org_apitoken:
      title: org_apitoken
      required:
      - name
      type: object
      properties:
        created_by:
          type:
          - string
          - 'null'
          description: email of the token creator / null if creator is deleted
          readOnly: true
          examples:
          - user@mycorp.com
        created_time:
          type: number
          description: Epoch timestamp when the organization API token was created
          readOnly: true
        id:
          type: string
          description: Unique identifier of the organization API token
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        key:
          type: string
          description: Token secret key. The full API Token is only returned when the API token is created and can only be partially retrieved afterward
          readOnly: true
          examples:
          - 1qkb...QQCL
        last_used:
          type:
          - number
          - 'null'
          description: Epoch timestamp when the token was last used, or null if it has not been used
          readOnly: true
          examples:
          - 1690115110
        name:
          type: string
          description: Display name of the organization API token
          examples:
          - org_token_xyz
        org_id:
          type: string
          description: Organization that owns this API token
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        privileges:
          maxItems: 10
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/privilege_org'
          description: Access scopes and roles granted to the organization API token
          examples:
          - - role: admin
              scope: org
        src_ips:
          type: array
          items:
            type: string
          description: Allowed source IP addresses or CIDRs from which the token may be used
          examples:
          - - 63.3.56.0/24
            - 63.3.55.4
      description: 'Organization API token with scoped privileges


        **Note:**

        `privileges` is required to create the object, but may not be returned in the POST API response. Retrieve the token afterward to inspect it.'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    privilege_org_role2:
      title: privilege_org_role2
      enum:
      - admin
      - helpdesk
      - installer
      - read
      - write
      type: string
      description: 'Access role granted by this organization privilege. enum: `admin`, `helpdesk`, `installer`, `read`, `write`.'
    privilege_org_scope2:
      title: privilege_org_scope2
      enum:
      - org
      - site
      - sitegroup
      - orgsites
      type: string
      description: 'Organization hierarchy level where this privilege applies. enum: `org`, `site`, `sitegroup`, `orgsites`.'
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
