openapi: 3.2.0
info:
  title: Mist Orgs Gateway Templates API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Gateway Templates
  description: 'Gateway Template is applied to a site for gateway(s) in a site.


    When Templates are not used, Site Setting holds settings for multiple device types and they can differ to set device_type specific configs, use this whatever is defined under `gateway` will overwrite/shadow the one at root-level'
paths:
  /api/v1/orgs/{org_id}/gatewaytemplates:
    parameters: []
    get:
      tags:
      - Orgs Gateway Templates
      summary: listOrgGatewayTemplates
      description: List organization gateway templates, which provide reusable WAN gateway configuration that can be applied to gateways at sites.
      operationId: listOrgGatewayTemplates
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/gateway_template'
                description: List of gateway device profiles
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/gateway_template'
                description: List of gateway device profiles
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Gateway Templates
      summary: createOrgGatewayTemplate
      description: 'Create an organization gateway template with reusable WAN gateway networks, ports, routing, and service-policy configuration.


        Gateway templates can be applied to multiple sites within the organization to provide consistent gateway configuration across sites.

        To assign a gateway template to a site, use the Update Site endpoint and specify the gateway template ID in the `gatewaytemplate_id` field of the request body.'
      operationId: createOrgGatewayTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Gateway Template
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/gateway_template'
              - description: Gateway Template
                examples:
                - dhcpd_config:
                    Corp-Mgmt:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.172.9
                      ip_end: 10.3.172.99
                      ip_start: 10.3.172.50
                      type: local
                    Corp-lan:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.171.9
                      ip_end: 10.3.171.99
                      ip_start: 10.3.171.50
                      type: local
                  dnsOverride: true
                  dns_servers:
                  - 10.3.20.201
                  - 10.3.51.222
                  - 1.1.1.1
                  dns_suffix:
                  - example.com
                  extra_routes:
                    10.101.0.0/16:
                      via: 10.3.100.10
                  ip_configs:
                    Corp-Core:
                      ip: 10.3.100.9
                      netmask: /24
                      type: static
                    Corp-Mgmt:
                      ip: 10.3.172.9
                      netmask: /24
                      type: static
                    Corp-lan:
                      ip: 10.3.171.9
                      netmask: /24
                      type: static
                  name: ITParis
                  ntpOverride: true
                  ntp_servers:
                  - 10.3.51.222
                  path_preferences:
                    core:
                      paths:
                      - networks:
                        - Corp-Core
                        type: local
                      strategy: ordered
                    lab:
                      paths:
                      - networks:
                        - Corp-lan
                        type: local
                      strategy: ordered
                    mgmt:
                      paths:
                      - networks:
                        - Corp-Mgmt
                        type: local
                      strategy: ordered
                    untrust:
                      paths:
                      - name: wan
                        type: wan
                      strategy: ordered
                  port_config:
                    ge-0/0/0:
                      aggregated: false
                      ip_config:
                        gateway: 192.168.1.1
                        ip: 192.168.1.9
                        netmask: /24
                        type: static
                      name: wan
                      redundant: false
                      traffic_shaping:
                        enabled: false
                      usage: wan
                      wan_type: broadband
                    ge-0/0/6-7:
                      ae_disable_lacp: false
                      ae_idx: '0'
                      ae_lacp_force_up: true
                      aggregated: true
                      networks:
                      - Corp-lan
                      - Corp-Mgmt
                      - Corp-Core
                      usage: lan
                  service_policies:
                  - action: allow
                    idp:
                      enabled: false
                    name: ITParis-Internal
                    path_preference: core
                    services:
                    - internal_dns
                    - drive
                    tenants:
                    - ITParis
                  - action: deny
                    idp:
                      enabled: false
                    name: ITParis-internet
                    path_preference: untrust
                    services:
                    - internet_any
                    tenants:
                    - ITParis
                  type: standalone
              contentMediaType: application/json
            examples:
              Example:
                value:
                  dhcpd_config:
                    Corp-Mgmt:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.172.9
                      ip_end: 10.3.172.99
                      ip_start: 10.3.172.50
                      type: local
                    Corp-lan:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.171.9
                      ip_end: 10.3.171.99
                      ip_start: 10.3.171.50
                      type: local
                  dnsOverride: true
                  dns_servers:
                  - 10.3.20.201
                  - 10.3.51.222
                  - 1.1.1.1
                  dns_suffix:
                  - example.com
                  extra_routes:
                    10.101.0.0/16:
                      via: 10.3.100.10
                  ip_configs:
                    Corp-Core:
                      ip: 10.3.100.9
                      netmask: /24
                      type: static
                    Corp-Mgmt:
                      ip: 10.3.172.9
                      netmask: /24
                      type: static
                    Corp-lan:
                      ip: 10.3.171.9
                      netmask: /24
                      type: static
                  name: ITParis
                  ntpOverride: true
                  ntp_servers:
                  - 10.3.51.222
                  path_preferences:
                    core:
                      paths:
                      - networks:
                        - Corp-Core
                        type: local
                      strategy: ordered
                    lab:
                      paths:
                      - networks:
                        - Corp-lan
                        type: local
                      strategy: ordered
                    mgmt:
                      paths:
                      - networks:
                        - Corp-Mgmt
                        type: local
                      strategy: ordered
                    untrust:
                      paths:
                      - name: wan
                        type: wan
                      strategy: ordered
                  port_config:
                    ge-0/0/0:
                      aggregated: false
                      ip_config:
                        gateway: 192.168.1.1
                        ip: 192.168.1.9
                        netmask: /24
                        type: static
                      name: wan
                      redundant: false
                      traffic_shaping:
                        enabled: false
                      usage: wan
                      wan_type: broadband
                    ge-0/0/6-7:
                      ae_disable_lacp: false
                      ae_idx: '0'
                      ae_lacp_force_up: true
                      aggregated: true
                      networks:
                      - Corp-lan
                      - Corp-Mgmt
                      - Corp-Core
                      usage: lan
                  service_policies:
                  - action: allow
                    idp:
                      enabled: false
                    name: ITParis-Internal
                    path_preference: core
                    services:
                    - internal_dns
                    - drive
                    tenants:
                    - ITParis
                  - action: deny
                    idp:
                      enabled: false
                    name: ITParis-internet
                    path_preference: untrust
                    services:
                    - internet_any
                    tenants:
                    - ITParis
                  type: standalone
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/gateway_template'
                - description: Gateway Template is applied to a site for gateway(s) in a site.
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/gateway_template'
                - description: Gateway Template is applied to a site for gateway(s) in a site.
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/gatewaytemplates/{gatewaytemplate_id}:
    parameters: []
    delete:
      tags:
      - Orgs Gateway Templates
      summary: deleteOrgGatewayTemplate
      description: Delete an organization gateway template and remove that reusable gateway configuration object from the organization.
      operationId: deleteOrgGatewayTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: gatewaytemplate_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs Gateway Templates
      summary: getOrgGatewayTemplate
      description: Retrieve the configuration stored in a specific organization gateway template.
      operationId: getOrgGatewayTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: gatewaytemplate_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/gateway_template'
                - description: Gateway Template is applied to a site for gateway(s) in a site.
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/gateway_template'
                - description: Gateway Template is applied to a site for gateway(s) in a site.
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Gateway Templates
      summary: updateOrgGatewayTemplate
      description: Update the configuration stored in an organization gateway template.
      operationId: updateOrgGatewayTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: gatewaytemplate_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Gateway Template
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/gateway_template'
              - description: Gateway Template
                examples:
                - dhcpd_config:
                    Corp-Mgmt:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.172.9
                      ip_end: 10.3.172.99
                      ip_start: 10.3.172.50
                      type: local
                    Corp-lan:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.171.9
                      ip_end: 10.3.171.99
                      ip_start: 10.3.171.50
                      type: local
                  dnsOverride: true
                  dns_servers:
                  - 10.3.20.201
                  - 10.3.51.222
                  - 1.1.1.1
                  dns_suffix:
                  - example.com
                  extra_routes:
                    10.101.0.0/16:
                      via: 10.3.100.10
                  ip_configs:
                    Corp-Core:
                      ip: 10.3.100.9
                      netmask: /24
                      type: static
                    Corp-Mgmt:
                      ip: 10.3.172.9
                      netmask: /24
                      type: static
                    Corp-lan:
                      ip: 10.3.171.9
                      netmask: /24
                      type: static
                  name: ITParis
                  ntpOverride: true
                  ntp_servers:
                  - 10.3.51.222
                  path_preferences:
                    core:
                      paths:
                      - networks:
                        - Corp-Core
                        type: local
                      strategy: ordered
                    lab:
                      paths:
                      - networks:
                        - Corp-lan
                        type: local
                      strategy: ordered
                    mgmt:
                      paths:
                      - networks:
                        - Corp-Mgmt
                        type: local
                      strategy: ordered
                    untrust:
                      paths:
                      - name: wan
                        type: wan
                      strategy: ordered
                  port_config:
                    ge-0/0/0:
                      aggregated: false
                      ip_config:
                        gateway: 192.168.1.1
                        ip: 192.168.1.9
                        netmask: /24
                        type: static
                      name: wan
                      redundant: false
                      traffic_shaping:
                        enabled: false
                      usage: wan
                      wan_type: broadband
                    ge-0/0/6-7:
                      ae_disable_lacp: false
                      ae_idx: '0'
                      ae_lacp_force_up: true
                      aggregated: true
                      networks:
                      - Corp-lan
                      - Corp-Mgmt
                      - Corp-Core
                      usage: lan
                  service_policies:
                  - action: allow
                    idp:
                      enabled: false
                    name: ITParis-Internal
                    path_preference: core
                    services:
                    - internal_dns
                    - drive
                    tenants:
                    - ITParis
                  - action: deny
                    idp:
                      enabled: false
                    name: ITParis-internet
                    path_preference: untrust
                    services:
                    - internet_any
                    tenants:
                    - ITParis
                  type: standalone
              contentMediaType: application/json
            examples:
              Example:
                value:
                  dhcpd_config:
                    Corp-Mgmt:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.172.9
                      ip_end: 10.3.172.99
                      ip_start: 10.3.172.50
                      type: local
                    Corp-lan:
                      dns_servers:
                      - 8.8.8.8
                      dns_suffix:
                      - stag.one
                      gateway: 10.3.171.9
                      ip_end: 10.3.171.99
                      ip_start: 10.3.171.50
                      type: local
                  dnsOverride: true
                  dns_servers:
                  - 10.3.20.201
                  - 10.3.51.222
                  - 1.1.1.1
                  dns_suffix:
                  - example.com
                  extra_routes:
                    10.101.0.0/16:
                      via: 10.3.100.10
                  ip_configs:
                    Corp-Core:
                      ip: 10.3.100.9
                      netmask: /24
                      type: static
                    Corp-Mgmt:
                      ip: 10.3.172.9
                      netmask: /24
                      type: static
                    Corp-lan:
                      ip: 10.3.171.9
                      netmask: /24
                      type: static
                  name: ITParis
                  ntpOverride: true
                  ntp_servers:
                  - 10.3.51.222
                  path_preferences:
                    core:
                      paths:
                      - networks:
                        - Corp-Core
                        type: local
                      strategy: ordered
                    lab:
                      paths:
                      - networks:
                        - Corp-lan
                        type: local
                      strategy: ordered
                    mgmt:
                      paths:
                      - networks:
                        - Corp-Mgmt
                        type: local
                      strategy: ordered
                    untrust:
                      paths:
                      - name: wan
                        type: wan
                      strategy: ordered
                  port_config:
                    ge-0/0/0:
                      aggregated: false
                      ip_config:
                        gateway: 192.168.1.1
                        ip: 192.168.1.9
                        netmask: /24
                        type: static
                      name: wan
                      redundant: false
                      traffic_shaping:
                        enabled: false
                      usage: wan
                      wan_type: broadband
                    ge-0/0/6-7:
                      ae_disable_lacp: false
                      ae_idx: '0'
                      ae_lacp_force_up: true
                      aggregated: true
                      networks:
                      - Corp-lan
                      - Corp-Mgmt
                      - Corp-Core
                      usage: lan
                  service_policies:
                  - action: allow
                    idp:
                      enabled: false
                    name: ITParis-Internal
                    path_preference: core
                    services:
                    - internal_dns
                    - drive
                    tenants:
                    - ITParis
                  - action: deny
                    idp:
                      enabled: false
                    name: ITParis-internet
                    path_preference: untrust
                    services:
                    - internet_any
                    tenants:
                    - ITParis
                  type: standalone
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/gateway_template'
                - description: Gateway Template is applied to a site for gateway(s) in a site.
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/gateway_template'
                - description: Gateway Template is applied to a site for gateway(s) in a site.
                contentMediaType: application/vnd.api+json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    gateway_port_usage2:
      title: gateway_port_usage2
      enum:
      - ha_control
      - ha_data
      - lan
      - wan
      type: string
      description: 'Logical usage assigned to the port. enum: `ha_control`, `ha_data`, `lan`, `wan`.'
    idp_profile_overwrite:
      title: idp_profile_overwrite
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/idp_profile_action2'
          - description: 'Enforcement action applied when this overwrite rule matches. enum: `alert`, `close`, `drop`.'
            examples:
            - alert
        matching:
          allOf:
          - $ref: '#/components/schemas/idp_profile_matching2'
          - description: Criteria that select signatures for this overwrite rule
        name:
          type: string
          description: Display name for this IDP profile overwrite rule
      description: Override rule that changes the IDP action for matching signatures
    gateway_mgmt_auto_signature_update2:
      title: gateway_mgmt_auto_signature_update2
      type: object
      properties:
        day_of_week:
          allOf:
          - $ref: '#/components/schemas/day_of_week1'
          - description: 'Scheduled weekday for automatic signature updates. enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`.'
        enable:
          type: boolean
          description: Whether automatic security signature updates are enabled
          default: true
        time_of_day:
          type: string
          description: Optional, Mist will decide the timing
      description: Schedule for automatic security signature updates
    tunnel_config_probe:
      title: tunnel_config_probe
      type: object
      properties:
        interval:
          type: integer
          description: How often to trigger the probe
          contentEncoding: int32
        threshold:
          type: integer
          description: Number of consecutive misses before declaring the tunnel down
          contentEncoding: int32
        timeout:
          type: integer
          description: Time within which to complete the connectivity check
          contentEncoding: int32
        type:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_probe_type2'
          - description: 'Protocol used by the custom IPsec tunnel health probe. enum: `http`, `icmp`.'
      description: Tunnel health probe settings
    tunnel_config_enc_algo3:
      title: tunnel_config_enc_algo3
      enum:
      - 3des
      - aes128
      - aes256
      - aes_gcm128
      - aes_gcm256
      type: string
      description: 'Cipher algorithm used by this IKE proposal. enum: `3des`, `aes128`, `aes256`, `aes_gcm128`, `aes_gcm256`.'
    tunnel_config_auto_provision2:
      title: tunnel_config_auto_provision2
      required:
      - provider
      type: object
      properties:
        enabled:
          type: boolean
          description: Enable auto provisioning for the tunnel. If enabled, the `primary` and `secondary` nodes will be ignored.
        latlng:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_auto_provision_lat_lng2'
          - description: Geographic coordinate override used for tunnel POP selection
        primary:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_auto_provision_node3'
          - description: Main auto-provisioned tunnel endpoint settings
        provider:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_auto_provision_provider2'
          - description: 'Tunnel provider used for automatic endpoint provisioning. enum: `jse-ipsec`, `zscaler-ipsec`.'
        region:
          type: string
          description: API override for POP selection in the case user wants to override the auto discovery of remote network location and force the tunnel to use the specified peer location.
        secondary:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_auto_provision_node1'
          - description: Backup auto-provisioned tunnel endpoint settings
        service_connection:
          type: string
          description: if `provider`==`prisma-ipsec`. By default, we'll use the location of the site to determine the optimal Remote Network location, optionally, service_connection can be considered, then we'll also consider this along with the site location. Define service_connection if the traffic is to be routed to a specific service connection. This field takes a service connection name that is configured in the Prisma cloud, Prisma Access Setup -> Service Connections.
          examples:
          - Juniper-Lab-SC-1
      description: Provider auto-provisioning settings for tunnel endpoints
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    service_policy_ssl_proxy3:
      title: service_policy_ssl_proxy3
      type: object
      properties:
        ciphers_category:
          allOf:
          - $ref: '#/components/schemas/ssl_proxy_ciphers_category2'
          - description: 'Allowed cipher strength category for SSL proxy inspection. enum: `medium`, `strong`, `weak`.'
        enabled:
          type: boolean
          description: Whether SSL proxy inspection is enabled for the service policy
          default: false
      description: TLS inspection settings applied by this service policy
    idp_profile:
      title: idp_profile
      type: object
      properties:
        base_profile:
          allOf:
          - $ref: '#/components/schemas/idp_profile_base_profile2'
          - description: 'Built-in IDP baseline profile inherited before applying overwrites. enum: `critical`, `standard`, `strict`.'
            examples:
            - strict
        created_time:
          type: number
          description: Timestamp when the IDP profile was created
          readOnly: true
        id:
          type: string
          description: Unique identifier of the IDP profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Timestamp when the IDP profile was last modified
          readOnly: true
        name:
          type: string
          description: Display name of the IDP profile
          examples:
          - relaxed
        org_id:
          type: string
          description: Owning organization for the IDP profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        overwrites:
          type: array
          items:
            $ref: '#/components/schemas/idp_profile_overwrite'
          description: IDP signature override rules applied on top of the base profile
      description: Organization IDP profile with a base profile and targeted overwrite rules
    service_policy:
      title: service_policy
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/allow_deny2'
          - description: Allow or deny action for traffic matched by this service policy
        antivirus:
          allOf:
          - $ref: '#/components/schemas/service_policy_antivirus1'
          - description: Malware and virus inspection settings applied by this service policy
        appqoe:
          allOf:
          - $ref: '#/components/schemas/service_policy_appqoe1'
          - description: Application QoE settings applied by this service policy
        ewf:
          type: array
          items:
            $ref: '#/components/schemas/service_policy_ewf_rule'
          description: Enhanced web filtering rules applied by this service policy
        idp:
          allOf:
          - $ref: '#/components/schemas/idp_config2'
          - description: Intrusion detection and prevention settings applied by this service policy
        local_routing:
          type: boolean
          description: Whether the policy permits access within the same VRF
        name:
          type: string
          description: Display name of the service policy
        path_preference:
          type: string
          description: By default, we derive all paths available and use them. Optionally, you can customize by using `path_preference`
        secintel:
          allOf:
          - $ref: '#/components/schemas/service_policy_secintel3'
          - description: Threat intelligence settings applied by this service policy
        servicepolicy_id:
          type: string
          description: Organization-level service policy identifier used to link and override selected attributes
          contentEncoding: uuid
        services:
          uniqueItems: true
          type: array
          items:
            type: string
          description: Application services or service groups matched by this policy
        skyatp:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp2'
          - description: Threat inspection settings provided by Sky ATP for this service policy
        ssl_proxy:
          allOf:
          - $ref: '#/components/schemas/service_policy_ssl_proxy3'
          - description: TLS inspection settings applied by this service policy
        syslog:
          allOf:
          - $ref: '#/components/schemas/service_policy_syslog2'
          - description: Remote logging settings applied by this service policy
        tenants:
          uniqueItems: true
          type: array
          items:
            type: string
          description: User or network tenants matched by this service policy
      description: Site-level service policy that allows or denies traffic for tenants and services
    idp_profile_matching_severity_value:
      title: idp_profile_matching_severity_value
      enum:
      - critical
      - info
      - major
      - minor
      type: string
      description: 'enum: `critical`, `info`, `major`, `minor`'
      examples:
      - major
    tunnel_provider_options_zscaler_sub_location:
      title: tunnel_provider_options_zscaler_sub_location
      type: object
      properties:
        aup_block_internet_until_accepted:
          type: boolean
          description: Whether this sub-location blocks internet access until the Acceptable Use Policy is accepted
          default: false
        aup_enabled:
          type: boolean
          description: Can only be `true` when `auth_required`==`false`, display Acceptable Use Policy (AUP)
          default: false
        aup_force_ssl_inspection:
          type: boolean
          description: Proxy HTTPs traffic, requiring Zscaler cert to be installed in browser
          default: false
        aup_timeout_in_days:
          maximum: 180
          minimum: 1
          type: integer
          description: Required if `aup_enabled`==`true`. Days before AUP is requested again
          contentEncoding: int32
        auth_required:
          type: boolean
          description: Enable this option to authenticate users
          default: false
        caution_enabled:
          type: boolean
          description: Can only be `true` when `auth_required`==`false`, display caution notification for non-authenticated users
          default: false
        dn_bandwidth:
          maximum: 99999
          minimum: 0.1
          type:
          - number
          - 'null'
          description: Download bandwidth cap of the link, in Mbps. Disabled if not set
          examples:
          - 200
        idle_time_in_minutes:
          maximum: 43200
          minimum: 0
          type: integer
          description: Required if `surrogate_IP`==`true`, idle Time to Disassociation
          contentEncoding: int32
        name:
          type: string
          description: '[network]($h/Orgs%20Networks/_overview) name'
        ofw_enabled:
          type: boolean
          description: If `true`, enable the firewall control option
          default: false
        surrogate_IP:
          type: boolean
          description: Can only be `true` when `auth_required`==`true`. Map a user to a private IP address so it applies the user's policies, instead of the location's policies
          default: false
        surrogate_IP_enforced_for_known_browsers:
          type: boolean
          description: Can only be `true` when `surrogate_IP`==`true`, enforce surrogate IP for known browsers
        surrogate_refresh_time_in_minutes:
          maximum: 43200
          minimum: 1
          type: integer
          description: Required if `surrogate_IP_enforced_for_known_browsers`==`true`, must be lower or equal than `idle_time_in_minutes`, refresh Time for re-validation of Surrogacy
          contentEncoding: int32
        up_bandwidth:
          maximum: 99999
          minimum: 0.1
          type:
          - number
          - 'null'
          description: Download bandwidth cap of the link, in Mbps. Disabled if not set
          examples:
          - 200
      description: Zscaler sub-location settings for a specific network
    protect_re_custom_protocol2:
      title: protect_re_custom_protocol2
      enum:
      - any
      - icmp
      - tcp
      - udp
      type: string
      description: 'Transport protocol matched by this custom Protect RE ACL. enum: `any`, `icmp`, `tcp`, `udp`.'
    gateway_port_wan_source_nat2:
      title: gateway_port_wan_source_nat2
      type: object
      properties:
        disabled:
          type: boolean
          description: Or to disable the source-nat
          default: false
        nat6_pool:
          type: string
          description: If alternative nat_pool is desired
          examples:
          - 2601:1700:43c0:dc0:20c:29ff:fea7:93bc/126
        nat_pool:
          type: string
          description: If alternative nat_pool is desired
          examples:
          - 64.2.4.0/30
      description: Source NAT settings applied to traffic leaving this WAN port
    gateway_port_vpn_path:
      title: gateway_port_vpn_path
      type: object
      properties:
        bfd_profile:
          allOf:
          - $ref: '#/components/schemas/gateway_port_vpn_path_bfd_profile2'
          - description: 'BFD profile used for this VPN path when the VPN `type`==`hub_spoke`. enum: `broadband`, `lte`.'
        bfd_use_tunnel_mode:
          type: boolean
          description: Only if the VPN `type`==`hub_spoke`. Whether to use tunnel mode. SSR only
          default: false
        preference:
          type: integer
          description: Only if the VPN `type`==`hub_spoke`. For a given VPN, when `path_selection.strategy`==`simple`, the preference for a path (lower is preferred)
          contentEncoding: int32
        role:
          allOf:
          - $ref: '#/components/schemas/gateway_port_vpn_path_role2'
          - description: 'Gateway role for this VPN path; valid values depend on the VPN `type`. enum: `hub`, `mesh`, `spoke`.'
        traffic_shaping:
          allOf:
          - $ref: '#/components/schemas/gateway_traffic_shaping1'
          - description: Traffic shaping settings applied to this VPN path
      description: VPN path settings for traffic that uses a gateway port
    service_policy_skyatp_http_inspection2:
      title: service_policy_skyatp_http_inspection2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Sky ATP HTTP inspection is enabled
        profile:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_http_inspection_profile2'
          - description: 'Sky ATP HTTP inspection profile to apply. enum: `standard`, `strict`.'
      description: Web traffic inspection settings provided by Sky ATP
    tunnel_config_enc_algo1:
      title: tunnel_config_enc_algo1
      enum:
      - 3des
      - aes128
      - aes256
      - aes_gcm128
      - aes_gcm256
      type: string
      description: 'Cipher algorithm used by this IPsec proposal. enum: `3des`, `aes128`, `aes256`, `aes_gcm128`, `aes_gcm256`.'
    tunnel_config_probe_type2:
      title: tunnel_config_probe_type2
      enum:
      - http
      - icmp
      type: string
      description: 'Protocol used by the custom IPsec tunnel health probe. enum: `http`, `icmp`.'
    service_policy_skyatp_dns_tunnel_detection2:
      title: service_policy_skyatp_dns_tunnel_detection2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Sky ATP DNS tunneling detection is enabled
        profile:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_dns_tunnel_detection_profile2'
          - description: 'Sky ATP DNS tunneling detection profile to apply. enum: `default`, `standard`, `strict`.'
      description: Detection settings for DNS tunneling threats provided by Sky ATP
    tunnel_via2:
      title: tunnel_via2
      enum:
      - primary
      - secondary
      type: string
      description: If `via`==`tunnel`, primary or secondary tunnel associated with this BGP neighbor
    tunnel_config_auth_algo1:
      title: tunnel_config_auth_algo1
      enum:
      - md5
      - sha1
      - sha2
      type: string
      description: 'Integrity algorithm used by this IPsec proposal. enum: `md5`, `sha1`, `sha2`.'
    network_vpn_access_config:
      title: network_vpn_access_config
      type: object
      properties:
        advertised_subnet:
          type: string
          description: If `routed`==`true`, whether to advertise an aggregated subnet toward HUB this is useful when there are multiple networks on SPOKE's side
          examples:
          - 172.16.0.0/24
        allow_ping:
          type: boolean
          description: Whether to allow ping from vpn into this routed network
        destination_nat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/network_vpn_access_destination_nat_property'
          description: Destination NAT rules applied for VPN access to this network
        nat_pool:
          type: string
          description: If `routed`==`false` (usually at Spoke), but some hosts needs to be reachable from Hub, a subnet is required to create and advertise the route to Hub
          examples:
          - 172.16.0.0/26
        no_readvertise_to_lan_bgp:
          type: boolean
          description: toward LAN-side BGP peers
          default: false
        no_readvertise_to_lan_ospf:
          type: boolean
          description: toward LAN-side OSPF peers
          default: false
        no_readvertise_to_overlay:
          type: boolean
          description: toward overlay, how HUB should deal with routes it received from Spokes
        other_vrfs:
          type: array
          items:
            type: string
          description: Other VRFs that can receive leaked routes from this spoke network
        routed:
          type: boolean
          description: Whether this network is routable
        source_nat:
          allOf:
          - $ref: '#/components/schemas/network_source_nat2'
          - description: Source NAT settings used when non-routed spoke hosts must be reachable from the hub
        static_nat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/network_vpn_access_static_nat_property'
          description: Static NAT rules applied for VPN access to this network
        summarized_subnet:
          type: string
          description: toward overlay, how HUB should deal with routes it received from Spokes
          examples:
          - 172.16.0.0/16
        summarized_subnet_to_lan_bgp:
          type: string
          description: toward LAN-side BGP peers
          examples:
          - 172.16.0.0/16
        summarized_subnet_to_lan_ospf:
          type: string
          description: toward LAN-side OSPF peers
          examples:
          - 172.16.0.0/16
      description: VPN access settings for a network and VPN pair
    gateway_oob_ip_config3:
      title: gateway_oob_ip_config3
      type: object
      properties:
        gateway:
          type: string
          description: Default gateway for the out-of-band management interface when `type`==`static`
        ip:
          type: string
          description: Static IPv4 address for the out-of-band management interface when `type`==`static`
        netmask:
          type: string
          description: IPv4 netmask or prefix length for the out-of-band management interface when `type`==`static`
        node1:
          allOf:
          - $ref: '#/components/schemas/gateway_oob_ip_config_node12'
          - description: Out-of-band management IP configuration override for node1 in an HA cluster
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type2'
          - description: 'IP assignment mode for the out-of-band management interface. enum: `dhcp`, `static`.'
            examples:
            - static
        use_mgmt_vrf:
          type: boolean
          description: If supported on the platform. If enabled, DNS will be using this routing-instance, too
          default: false
        use_mgmt_vrf_for_host_out:
          type: boolean
          description: For host-out traffic (NTP/TACPLUS/RADIUS/SYSLOG/SNMP), if alternative source network/ip is desired
          default: false
        vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
          description: VLAN ID used for out-of-band management traffic
      description: Out-of-band management IP defaults in this gateway template
    gateway_path_preferences_path:
      title: gateway_path_preferences_path
      required:
      - type
      type: object
      properties:
        cost:
          type: integer
          description: Relative cost assigned to this path for gateway path selection
          contentEncoding: int32
        disabled:
          type: boolean
          description: For SSR Only. `true`, if this specific path is undesired
        gateway_ip:
          type: string
          description: Only if `type`==`local`, if a different gateway is desired
        internet_access:
          type: boolean
          description: Only if `type`==`vpn`, if this vpn path can be used for internet
        name:
          type: string
          description: "Required when \n  * `type`==`vpn`: the name of the VPN Path to use \n  * `type`==`wan`: the name of the WAN interface to use"
        networks:
          type: array
          items:
            type: string
          description: List of network names used when `type`==`local`
        target_ips:
          type: array
          items:
            type: string
          description: List of destination IP addresses to replace when `type`==`local`
        type:
          allOf:
          - $ref: '#/components/schemas/gateway_path_type2'
          - description: Gateway path source type, such as local network, WAN interface, VPN path, or tunnel
        wan_name:
          type: string
          description: Optional if `type`==`vpn`; WAN interface name associated with the VPN path
          examples:
          - wan0
      description: Candidate path within a gateway path preference
    gw_routing_policy_term:
      title: gw_routing_policy_term
      type: object
      properties:
        actions:
          allOf:
          - $ref: '#/components/schemas/gw_routing_policy_term_action2'
          - description: Policy actions applied when this routing policy term matches
        matching:
          allOf:
          - $ref: '#/components/schemas/gw_routing_policy_term_matching2'
          - description: Route match criteria that must be satisfied before actions are applied
      description: Gateway routing policy term with match criteria and actions
    tunnel_config_auto_provision_lat_lng2:
      title: tunnel_config_auto_provision_lat_lng2
      required:
      - lat
      - lng
      type: object
      properties:
        lat:
          type: number
          description: Geographic latitude used for POP selection override
          examples:
          - 37.295833
        lng:
          type: number
          description: Geographic longitude used for POP selection override
          examples:
          - -122.032946
      description: Geographic coordinate override used for tunnel POP selection
    bgp_as:
      anyOf:
      - type: string
      - maximum: 4294967294
        minimum: 1
        type: integer
        contentEncoding: int32
      description: BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )
      examples:
      - '65000'
    idp_profile_action2:
      title: idp_profile_action2
      enum:
      - alert
      - close
      - drop
      type: string
      description: 'Enforcement action applied when this overwrite rule matches. enum: `alert`, `close`, `drop`.'
      examples:
      - alert
    ssl_proxy_ciphers_category2:
      title: ssl_proxy_ciphers_category2
      enum:
      - medium
      - strong
      - weak
      type: string
      description: 'Allowed cipher strength category for SSL proxy inspection. enum: `medium`, `strong`, `weak`.'
    gateway_oob_ip_config_node12:
      title: gateway_oob_ip_config_node12
      type: object
      properties:
        gateway:
          type: string
          description: Default gateway for the node1 out-of-band management interface when `type`==`static`
        ip:
          type: string
          description: Static IPv4 address for the node1 out-of-band management interface when `type`==`static`
        netmask:
          type: string
          description: IPv4 netmask or prefix length for the node1 out-of-band management interface when `type`==`static`; used only if `subnet` is not specified in `networks`
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type5'
          - description: 'IP assignment mode for the node1 out-of-band management interface. enum: `dhcp`, `static`.'
            examples:
            - static
        use_mgmt_vrf:
          type: boolean
          description: If supported on the platform. If enabled, DNS will be using this routing-instance, too
          default: false
        use_mgmt_vrf_for_host_out:
          type: boolean
          description: Whether to use `mgmt_junos` for host-out traffic (NTP/TACPLUS/RADIUS/SYSLOG/SNMP), if alternative source network/ip is desired
          default: false
        vlan_id:
          oneOf:
          - type: string
          - maximum: 4094
            minimum: 1
            type: integer
            contentEncoding: int32
          description: VLAN ID used for node1 out-of-band management traffic
      description: Out-of-band management IP configuration override for node1 in an HA cluster
    gw_routing_policy_term_matching_route_exists2:
      title: gw_routing_policy_term_matching_route_exists2
      type: object
      properties:
        route:
          type: string
          description: Prefix that must exist for this condition to match
          examples:
          - 192.168.0.0/24
        vrf_name:
          type: string
          description: Name of the VRF instance where the route is checked; can also be a VPN or WAN name when applicable
          default: default
      description: Existing route condition that must be satisfied before this term matches
    service_policy_skyatp_iot_device_policy2:
      title: service_policy_skyatp_iot_device_policy2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Sky ATP IoT device policy inspection is enabled
      description: Device threat policy settings provided by Sky ATP for IoT clients
    service_policy_skyatp2:
      title: service_policy_skyatp2
      type: object
      properties:
        dns_dga_detection:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_dns_dga_detection2'
          - description: Detection settings for DNS DGA threats provided by Sky ATP
        dns_tunnel_detection:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_dns_tunnel_detection2'
          - description: Detection settings for DNS tunneling threats provided by Sky ATP
        http_inspection:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_http_inspection2'
          - description: Web traffic inspection settings provided by Sky ATP
        iot_device_policy:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_iot_device_policy2'
          - description: Device threat policy settings provided by Sky ATP for IoT clients
      description: Threat inspection settings provided by Sky ATP for this service policy
    idp_profile_base_profile2:
      title: idp_profile_base_profile2
      enum:
      - critical
      - standard
      - strict
      type: string
      description: 'Built-in IDP baseline profile inherited before applying overwrites. enum: `critical`, `standard`, `strict`.'
      examples:
      - strict
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    gw_routing_policy:
      title: gw_routing_policy
      type: object
      properties:
        terms:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/gw_routing_policy_term'
          description: Ordered terms evaluated by this gateway routing policy
      description: Gateway routing policy made of ordered match-action terms
    service_policy_skyatp_dns_dga_detection2:
      title: service_policy_skyatp_dns_dga_detection2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether Sky ATP DNS DGA detection is enabled
        profile:
          allOf:
          - $ref: '#/components/schemas/service_policy_skyatp_dns_dga_detection_profile2'
          - description: 'Sky ATP DNS DGA detection profile to apply. enum: `default`, `standard`, `strict`.'
      description: Detection settings for DNS DGA threats provided by Sky ATP
    service_policy_skyatp_dns_tunnel_detection_profile2:
      title: service_policy_skyatp_dns_tunnel_detection_profile2
      enum:
      - default
      - standard
      - strict
      type: string
      description: 'Sky ATP DNS tunneling detection profile to apply. enum: `default`, `standard`, `strict`.'
    app_probing_custom_app_protocol2:
      title: app_probing_custom_app_protocol2
      enum:
      - http
      - icmp
      type: string
      description: 'Probe protocol used by this custom application definition. enum: `http`, `icmp`.'
    allow_deny2:
      title: allow_deny2
      enum:
      - allow
      - deny
      type: string
      description: Allow or deny action for traffic matched by this service policy
    gateway_path_strategy2:
      title: gateway_path_strategy2
      enum:
      - ecmp
      - ordered
      - weighted
      type: string
      description: 'Selection strategy used to evaluate the candidate paths. enum: `ecmp`, `ordered`, `weighted`.'
    gateway_vrf_instance:
      title: gateway_vrf_instance
      type: object
      properties:
        networks:
          uniqueItems: true
          type: array
          items:
            type: string
          description: Network names included in this gateway VRF instance
      description: Gateway VRF instance and its member networks
      examples:
      - networks:
        - CORP_NET
        - MGMT_NET
    network_internet_access_static_nat_property:
      title: network_internet_access_static_nat_property
      type: object
      properties:
        internal_ip:
          type: string
          description: The Static NAT destination IP address. Must be an IP address (i.e. "192.168.70.3") or a Variable (i.e. "{{myvar}}")
          examples:
          - 192.168.70.3
        name:
          type: string
          description: Label for this direct internet static NAT rule
          examples:
          - pos_station-1
        wan_name:
          type: string
          description: SRX Only. If not set, we configure the nat policies against all WAN ports for simplicity. Can be a Variable (i.e. "{{myvar}}")
          examples:
          - wan0
      description: Direct-internet static NAT rule target settings
    day_of_week1:
      title: day_of_week1
      enum:
      - any
      - fri
      - mon
      - sat
      - sun
      - thu
      - tue
      - wed
      type: string
      description: 'Scheduled weekday for automatic signature updates. enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`.'
    gateway_ip_config_property:
      title: gateway_ip_config_property
      type: object
      properties:
        ip:
          type: string
          description: Static IPv4 address for the gateway network interface when `type`==`static`
          contentEncoding: ipv4
        ip6:
          type: string
          description: Static IPv6 address for the gateway network interface when `type6`==`static`
          contentEncoding: ipv6
        netmask:
          type: string
          description: IPv4 netmask or prefix length for the gateway network interface when `type`==`static`
          examples:
          - /24
        netmask6:
          type: string
          description: IPv6 netmask or prefix length for the gateway network interface when `type6`==`static`
          examples:
          - 2001:db8:abcd:12::1
        secondary_ips:
          type: array
          items:
            type: string
          description: Additional IPv4 addresses in CIDR notation for this gateway network interface
          examples:
          - - 192.168.50.1/24
            - 192.168.60.1/26
        type:
          allOf:
          - $ref: '#/components/schemas/ip_type4'
          - description: 'IPv4 address assignment mode for this gateway network interface. enum: `dhcp`, `static`.'
            examples:
            - static
        type6:
          allOf:
          - $ref: '#/components/schemas/ip_type62'
          - description: 'IPv6 address assignment mode for this gateway network interface. enum: `autoconf`, `dhcp`, `disabled`, `static`.'
            examples:
            - static
      description: Gateway network interface IP configuration
    network_internet_access_destination_nat_property:
      title: network_internet_access_destination_nat_property
      type: object
      properties:
        internal_ip:
          type: string
          description: The Destination NAT destination IP address. Must be an IP (i.e. "192.168.70.30") or a Variable (i.e. "{{myvar}}")
          examples:
          - 192.168.70.30
        name:
          type: string
          description: Label for this direct internet destination NAT rule
          examples:
          - web server
        port:
          type: string
          description: The Destination NAT destination IP address. Must be a Port (i.e. "443") or a Variable (i.e. "{{myvar}}")
          examples:
          - '443'
        wan_name:
          type: string
          description: SRX Only. If not set, we configure the nat policies against all WAN ports for simplicity
          examples:
          - wan0
      description: Direct-internet destination NAT rule target settings
    tunnel_config_ipsec_proposal:
      title: tunnel_config_ipsec_proposal
      type: object
      properties:
        auth_algo:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_auth_algo1'
          - description: 'Integrity algorithm used by this IPsec proposal. enum: `md5`, `sha1`, `sha2`.'
        dh_group:
          allOf:
          - $ref: '#/components/schemas/tunnel_config_dh_group2'
          - description: 'Diffie-Hellman group used by this IPsec proposal. enum: `1`, `14`, `15`, `16`, `19`, `2`, `20`, `21`, `24`, `5`.'
        enc_algo:
          allOf:
          - oneOf:
            - {}
            - $ref: '#/components/schemas/tunnel_config_enc_algo1'
          - description: 'Cipher algorithm used by this IPsec proposal. enum: `3des`, `aes128`, `aes256`, `aes_gcm128`, `aes_gcm256`.'
      description: IPsec proposal settings for custom IPsec tunnels
    ip_type62:
      title: ip_type62
      enum:
      - autoconf
      - dhcp
      - disabled
      - static
      type: string
      description: 'IPv6 address assignment mode for this gateway network interface. enum: `autoconf`, `dhcp`, `disabled`, `static`.'
      examples:
      - static
    gw_routing_policy_term_action2:
      title: gw_routing_policy_term_action2
      type: object
      properties:
        accept:
          type: boolean
          description: Whether to accept routes that match this term. Precedence is `accept` > `next_term` > `next_policy`; routes are rejected if all three are false
        add_community:
          type: array
          items:
            type: string
          description: BGP communities to add to routes that match this term
        add_target_vrfs:
          type: array
          items:
            type: string
          description: SSR target VRFs to add when leaking routes from hub to spoke
        community:
          type: array
          items:
            type: string
          description: BGP communities to set when this term is used as an export policy
        exclude_as_path:
          type: array
          items:
            type: string
          description: AS path values to exclude when this term is used as an export policy
        exclude_community:
          type: array
          items:
            type: string
          description: BGP communities to exclude from routes that match this term
        export_communities:
          type: array
          items:
            type: string
          description: BGP communities allowed for export when this term is used as an export policy
        local_preference:
          anyOf:
          - type: string
          - maximum: 4294967295
            minimum: 1
            type: integer
            contentEncoding: int32
          description: Preference value to set when this term is used as an import policy
        next_policy:
          type: boolean
          description: When true, continue evaluating the next routing policy in the chain after this term matches; default is false
          default: false
        next_term:
          type: boolean
          description: When true, continue evaluating the next term in the same routing policy after this term matches; default is false
          default: false
        prepend_as_path:
          type: array
          items:
            type: string
          description: AS path values to prepend when this term is used as an export policy
      description: Policy actions applied when this routing policy term matches
    network_internet_access2:
      title: network_internet_access2
      type: object
      properties:
        create_simple_service_policy:
          type: boolean
          description: Whether Mist should create simple service policies for restricted internet access
          default: false
        destination_nat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/network_internet_access_destination_nat_property'
          description: Destination NAT rules for direct internet access
        enabled:
          type: boolean
          description: Whether direct internet access is enabled for this network
        restricted:
          type: boolean
          description: By default, all access is allowed, to only allow certain traffic, make `restricted`=`true` and define service_policies
          default: false
        static_nat:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/network_internet_access_static_nat_property'
          description: Static NAT rules for direct internet access
      description: Direct internet access and NAT settings for this network
    gateway_port_lte_auth2:
      title: gateway_port_lte_auth2
      enum:
      - chap
      - none
      - pap
      type: string
      description: 'If `wan_type`==`lte`. Authentication method used by the LTE uplink. enum: `chap`, `none`, `pap`.'
    gw_routing_policy_term_matching_protocol_enum:
      title: gw_routing_policy_term_matching_protocol_enum
      enum:
      - aggregate
      - bgp
      - direct
      - ospf
      - static
      type: string
      description: 'enum: `aggregate`, `bgp`, `direct`, `ospf`, `static` (SRX Only)'
    dhcpd_config_option_type2:
      title: dhcpd_config_option_type2
      enum:
      - boolean
      - hex
      - int16
      - int32
      - ip
      - string
      - uint16
      - uint32
      type: string
      description: 'Data type used to encode this DHCP option value. enum: `boolean`, `hex`, `int16`, `int32`, `ip`, `string`, `uint16`, `uint32`.'
    dhcpd_config_option:
      title: dhcpd_config_option
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/dhcpd_config_option_type2'
          - description: 'Data type used to encode this DHCP option value. enum: `boolean`, `hex`, `int16`, `int32`, `ip`, `string`, `uint16`, `uint32`.'
        value:
          type: string
          description: Option value to send for this DHCP option
      description: Custom DHCP option value
    tunnel_config_auto_provision_provider2:
      title: tunnel_config_auto_provision_provider2
      enum:
      - jse-ipsec
      - zscaler-ipsec
      type: string
      description: 'Tunnel provider used for automatic endpoint provisioning. enum: `jse-ipsec`, `zscaler-ipsec`.'
    service_policy_syslog2:
      title: service_policy_syslog2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether syslog logging is enabled for the service policy
          default: false
        server_names:
          type: array
          items:
            type: string
          description: Names of syslog servers that receive logs for this service policy
          examples:
          - - dc_syslog_server
      description: Remote logging settings applied by this service policy
    service_policy_skyatp_http_inspection_profile2:
      title: service_policy_skyatp_http_inspection_profile2
      enum:
      - standard
      - strict
      type: string
      description: 'Sky ATP HTTP inspection profile to apply. enum: `standard`, `strict`.'
    tunnel_provider_options_zscaler2:
      title: tunnel_provider_options_zscaler2
      type: object
      properties:
        aup_block_internet_until_accepted:
          type: boolean
          description: Whether Zscaler blocks internet access until the Acceptable Use Policy is accepted
          default: false
        aup_enabled:
          type: boolean
          description: Can only be `true` when `auth_required`==`false`, display Acceptable Use Policy (AUP)
          default: false
        aup_force_ssl_inspection:
          type: boolean
          description: Proxy HTTPs traffic, requiring Zscaler cert to be installed in browser
          default: false
        aup_timeout_in_days:
          maximum: 180
          minimum: 1
          type: integer
          description: Required if `aup_enabled`==`true`. Days before AUP is requested again
          contentEncoding: int32
        auth_required:
          type: boolean
          description: Enable this option to enforce user authentication
          default: false
        caution_enabled:
          type: boolean
          description: Can only be `true` when `auth_required`==`false`, display caution notification for non-authenticated users
          default: false
        dn_bandwidth:
          maximum: 99999
          minimum: 0.1
          type:
          - number
          - 'null'
          description: Download bandwidth cap of the link, in Mbps. Disabled if not set
          examples:
          - 200
        idle_time_in_minutes:
          maximum: 43200
          minimum: 0
          type: integer
          description: Required if `surrogate_IP`==`true`, idle Time to Disassociation
          contentEncoding: int32
        ofw_enabled:
          type: boolean
          description: If `true`, enable the firewall control option
          default: false
        sub_locations:
          type: array
          items:
            $ref: '#/components/schemas/tunnel_provider_options_zscaler_sub_location'
          description: Per-network Zscaler sub-location settings
        surrogate_IP:
          type: boolean
          description: Can only be `true` when `auth_required`==`true`. Map a user to a private IP address so it applies the user's policies, instead of the location's policies
          default: false
        surrogate_IP_enforced_for_known_browsers:
          type: boolean
          description: Can only be `true` when `surrogate_IP`==`true`, enforce surrogate IP for known browsers
        surrogate_refresh_time_in_minutes:
          maximum: 43200
          minimum: 1
          type: integer
          description: Required if `surrogate_IP_enforced_for_known_browsers`==`true`, must be lower or equal than `idle_time_in_minutes`, refresh Time for re-validation of Surrogacy
          contentEncoding: int32
        up_bandwidth:
          maximum: 99999
          minimum: 0.1
          type:
          - number
          - 'null'
          description: Download bandwidth cap of the link, in Mbps. Disabled if not set
          examples:
          - 200
        xff_forward_enabled:
          type: boolean
          description: Location uses proxy chaining to forward traffic
          default: false
      description: Provider settings for Zscaler tunnel endpoints
    tunnel_config:
      title: tunnel_config
      type: object
[...]
