openapi: 3.2.0
info:
  title: Mist Orgs MxClusters API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs MxClusters
  description: A Mist Edge Cluster (MxCluster) is a group of Juniper Mist Edge devices that are configured to work together in order to provide high availability and load balancing for the tunneling of traffic from access points (APs). The cluster can consist of a single edge device or multiple edge devices.
paths:
  /api/v1/orgs/{org_id}/mxclusters:
    parameters: []
    get:
      tags:
      - Orgs MxClusters
      summary: listOrgMxEdgeClusters
      description: List Mist Edge clusters in the organization, which group one or more Mist Edge devices for tunneling, RadSec, and related edge services.
      operationId: listOrgMxEdgeClusters
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/mxcluster'
                description: List of Mist Edge clusters
                examples:
                - - created_time: 0
                    for_site: true
                    id: 467f6eca-6276-4993-bfeb-53cbbbba6f78
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - created_time: 0
                    for_site: true
                    id: 467f6eca-6276-4993-bfeb-53cbbbba6f78
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/mxcluster'
                description: List of Mist Edge clusters
                examples:
                - - created_time: 0
                    for_site: true
                    id: 467f6eca-6276-4993-bfeb-53cbbbba6f78
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - created_time: 0
                    for_site: true
                    id: 467f6eca-6276-4993-bfeb-53cbbbba6f78
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs MxClusters
      summary: createOrgMxEdgeCluster
      description: 'Create a Mist Edge cluster with tunnel termination, RadSec, NAC,

        and management settings.


        **Note**: It is not recommended to combine multiple roles (tunnel termination, RadSec, NAC) on the same Mist Edge cluster'
      operationId: createOrgMxEdgeCluster
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mxcluster'
              - description: Request Body
                examples:
                - name: string
                  radsec:
                    auth_servers:
                    - host: string
                      port: 0
                    enabled: true
                  tunterm_ap_subnets:
                  - string
                  tunterm_hosts:
                  - string
              contentMediaType: application/json
            examples:
              Example:
                value:
                  name: string
                  radsec:
                    auth_servers:
                    - host: string
                      port: 0
                    enabled: true
                  tunterm_ap_subnets:
                  - string
                  tunterm_hosts:
                  - string
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxcluster'
                - description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
                  examples:
                  - created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxcluster'
                - description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
                  examples:
                  - created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/mxclusters/{mxcluster_id}:
    parameters: []
    delete:
      tags:
      - Orgs MxClusters
      summary: deleteOrgMxEdgeCluster
      description: Delete a Mist Edge cluster by cluster ID, removing its cluster configuration from the organization.
      operationId: deleteOrgMxEdgeCluster
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mxcluster_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs MxClusters
      summary: getOrgMxEdgeCluster
      description: Retrieve configuration details for a specific Mist Edge cluster, including tunneling, RadSec, NAC, and management settings.
      operationId: getOrgMxEdgeCluster
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mxcluster_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxcluster'
                - description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
                  examples:
                  - created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxcluster'
                - description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
                  examples:
                  - created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs MxClusters
      summary: updateOrgMxEdgeCluster
      description: Update a Mist Edge cluster's tunneling, RadSec, NAC, and management settings.
      operationId: updateOrgMxEdgeCluster
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mxcluster_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/mxcluster'
              - description: Request Body
                examples:
                - name: string
                  radsec:
                    auth_servers:
                    - host: string
                      port: 0
                    enabled: true
                  tunterm_ap_subnets:
                  - string
                  tunterm_hosts:
                  - string
              contentMediaType: application/json
            examples:
              Example:
                value:
                  name: string
                  radsec:
                    auth_servers:
                    - host: string
                      port: 0
                    enabled: true
                  tunterm_ap_subnets:
                  - string
                  tunterm_hosts:
                  - string
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxcluster'
                - description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
                  examples:
                  - created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/mxcluster'
                - description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
                  examples:
                  - created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    created_time: 0
                    for_site: true
                    id: 468f6eca-6276-4993-bfeb-53cbbbba6f68
                    modified_time: 0
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    radsec:
                      acct_servers:
                      - host: string
                        port: 1813
                        secret: string
                      auth_servers:
                      - host: string
                        port: 1812
                        secret: string
                      enabled: true
                      server_selection: ordered
                    radsec_tls:
                      keypair: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    tunterm_ap_subnets:
                    - string
                    tunterm_dhcpd_config:
                      enabled: false
                      property1:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      property2:
                        enabled: false
                        servers:
                        - string
                        type: relay
                      servers:
                      - string
                      type: relay
                    tunterm_extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    tunterm_hosts:
                    - string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    mxcluster_tunterm_extra_route:
      title: mxcluster_tunterm_extra_route
      type: object
      properties:
        via:
          type: string
          description: Next-hop IP address for this extra route
      description: Extra route for Mist Tunneled VLAN traffic
    mxcluster_radsec_src_ip_source2:
      title: mxcluster_radsec_src_ip_source2
      enum:
      - any
      - oob
      - oob6
      - tunnel
      - tunnel6
      type: string
      description: 'Connection source interface or address used when reaching RADIUS servers. enum: `any`, `oob`, `oob6`, `tunnel`, `tunnel6`.'
    mxcluster_nacedge2:
      title: mxcluster_nacedge2
      type: object
      properties:
        auth_ttl:
          maximum: 2592000
          minimum: 60
          type: integer
          description: Cache TTL for last auth result in seconds
          contentEncoding: int32
          default: 604800
        caching_site_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: List of site UUIDs whose auth requests should be cached by NAC Edges in this cluster
          examples:
          - - 4ac1dcf4-9d8b-7910-ac87-6ad873648a5c
            - 7dc1acf4-9d8b-7910-ac87-6ad873648a5c
        default_dot1x_vlan:
          type: string
          description: Default VLAN for all dot1x devices, if different from default_vlan
          examples:
          - '20'
        default_vlan:
          type: string
          description: Default VLAN to assign for devices not in the cache
          examples:
          - testVlan
        enabled:
          type: boolean
          description: Whether NAC Edge survivability is enabled for this cluster
          default: false
        nac_edge_hosts:
          type: array
          items:
            type: string
          description: NAC Edge hostnames used by APs for survivability authentication
          examples:
          - - nac-west-1.corp.com
            - nac-west-2.corp.com
      description: NAC Edge survivability settings for the cluster; requires `mist_nac` to be enabled
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    mxedge_mgmt_oob_ip_type62:
      title: mxedge_mgmt_oob_ip_type62
      enum:
      - autoconf
      - dhcp
      - disabled
      - static
      type: string
      description: 'IPv6 address assignment mode for out-of-band management. enum: `autoconf`, `dhcp`, `disabled`, `static`.'
    mxedge_mgmt_oob_ip_type2:
      title: mxedge_mgmt_oob_ip_type2
      enum:
      - dhcp
      - disabled
      - static
      type: string
      description: 'IPv4 address assignment mode for out-of-band management. enum: `dhcp`, `disabled`, `static`.'
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    mxcluster_nac3:
      title: mxcluster_nac3
      type: object
      properties:
        acct_server_port:
          type: integer
          description: RADIUS accounting port used by Mist NAC on the cluster
          contentEncoding: int32
          default: 1813
        auth_server_port:
          type: integer
          description: RADIUS authentication port used by Mist NAC on the cluster
          contentEncoding: int32
          default: 1812
        client_ips:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/mxcluster_nac_client_ip'
          description: Property key is the RADIUS Client IP/Subnet.
        enabled:
          type: boolean
          description: Whether Mist NAC is enabled on the cluster
          default: false
        secret:
          type: string
          description: Shared RADIUS secret used by Mist NAC clients
          examples:
          - testing123
      description: NAC settings for the Mist Edge cluster
    proxy4:
      title: proxy4
      type: object
      properties:
        disabled:
          type: boolean
          description: Whether this proxy configuration is disabled
          default: false
          examples:
          - true
        url:
          type: string
          description: Proxy URL used to reach Mist
          examples:
          - https://proxy.corp.com:8080/
      description: Network proxy settings used by Mist Edges in the cluster to communicate with the Mist Cloud
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    mxedge_das_coa_server:
      title: mxedge_das_coa_server
      type: object
      properties:
        disable_event_timestamp_check:
          type: boolean
          description: Whether to disable Event-Timestamp Check
          default: false
        enabled:
          type: boolean
          description: Whether this DAS CoA or Disconnect-Message client is enabled
        host:
          type: string
          description: Server host allowed to send CoA or Disconnect-Message requests to Mist Edges
        port:
          type: integer
          description: UDP port where Mist Edges accept CoA or Disconnect-Message requests from this host
          contentEncoding: int32
          default: 3799
        require_message_authenticator:
          type: boolean
          description: Whether to require Message-Authenticator in requests
          default: false
        secret:
          type: string
          description: Shared secret used by this DAS CoA or Disconnect-Message client
          contentEncoding: password
      description: CoA or Disconnect-Message client allowed to contact Mist Edge DAS
    mxcluster_radsec3:
      title: mxcluster_radsec3
      type: object
      properties:
        acct_servers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/mxcluster_radsec_acct_server'
          description: RADIUS accounting servers used by the RadSec proxy
        auth_servers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/mxcluster_radsec_auth_server'
          description: RADIUS authentication servers used by the RadSec proxy
        enabled:
          type: boolean
          description: Whether to enable service on Mist Edge i.e. RADIUS proxy over TLS
        match_ssid:
          type: boolean
          description: Whether to match ssid in request message to select from a subset of RADIUS servers
        nas_ip_source:
          allOf:
          - $ref: '#/components/schemas/mxcluster_radsec_nas_ip_source2'
          - description: 'Source used to populate NAS-IP-Address and NAS-IPv6-Address attributes. enum: `any`, `oob`, `oob6`, `tunnel`, `tunnel6`.'
        proxy_hosts:
          type: array
          items:
            type: string
          description: AP-reachable hostnames or IP addresses advertised as RadSec TLS servers
        server_selection:
          allOf:
          - $ref: '#/components/schemas/mxcluster_radsec_server_selection2'
          - description: 'RADIUS server selection strategy for RadSec failover. enum: `ordered`, `unordered`.'
        src_ip_source:
          allOf:
          - $ref: '#/components/schemas/mxcluster_radsec_src_ip_source2'
          - description: 'Connection source interface or address used when reaching RADIUS servers. enum: `any`, `oob`, `oob6`, `tunnel`, `tunnel6`.'
      description: TLS RADIUS proxy settings for the Mist Edge cluster
    mxcluster_nac_client_vendor2:
      title: mxcluster_nac_client_vendor2
      enum:
      - aruba
      - cisco-aironet
      - cisco-dnac
      - cisco-ios
      - cisco-meraki
      - brocade
      - generic
      - juniper
      - paloalto
      type: string
      description: 'RADIUS client vendor profile for this IP or subnet. enum: `aruba`, `cisco-aironet`, `cisco-dnac`, `cisco-ios`, `cisco-meraki`, `brocade`, `generic`, `juniper`, `paloalto`.'
      examples:
      - cisco-ios
    mxcluster:
      title: mxcluster
      type: object
      properties:
        created_time:
          type: number
          description: Timestamp when the Mist Edge cluster was created
          readOnly: true
        for_site:
          type: boolean
          description: Whether this Mist Edge cluster is scoped to a site
          readOnly: true
        id:
          type: string
          description: Unique identifier of the Mist Edge cluster
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        mist_das:
          allOf:
          - $ref: '#/components/schemas/mxedge_das3'
          - description: Dynamic authorization service settings for the cluster
        mist_nac:
          allOf:
          - $ref: '#/components/schemas/mxcluster_nac3'
          - description: NAC settings for the Mist Edge cluster
        mist_nacedge:
          allOf:
          - $ref: '#/components/schemas/mxcluster_nacedge2'
          - description: NAC Edge survivability settings for the cluster; requires `mist_nac` to be enabled
        modified_time:
          type: number
          description: Timestamp when the Mist Edge cluster was last modified
          readOnly: true
        mxedge_mgmt:
          allOf:
          - $ref: '#/components/schemas/mxedge_mgmt5'
          - description: Out-of-band management settings for Mist Edges in the cluster
        name:
          type: string
          description: Display name of the Mist Edge cluster
        org_id:
          type: string
          description: Identifier of the org that owns the Mist Edge cluster
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        proxy:
          allOf:
          - $ref: '#/components/schemas/proxy4'
          - description: Network proxy settings used by Mist Edges in the cluster to communicate with the Mist Cloud
        radsec:
          allOf:
          - $ref: '#/components/schemas/mxcluster_radsec3'
          - description: TLS RADIUS proxy settings for the Mist Edge cluster
        radsec_tls:
          allOf:
          - $ref: '#/components/schemas/mxcluster_radsec_tls2'
          - description: TLS keypair settings for RadSec on the Mist Edge cluster
        site_id:
          type: string
          description: Identifier of the site when the Mist Edge cluster is site-scoped
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        tunterm_ap_subnets:
          type: array
          items:
            type: string
          description: AP source subnets allowed to establish Mist tunnels
        tunterm_dhcpd_config:
          allOf:
          - $ref: '#/components/schemas/tunterm_dhcpd_config2'
          - description: DHCP relay or server settings for tunneled VLANs
        tunterm_extra_routes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/mxcluster_tunterm_extra_route'
          description: Extra routes for Mist Tunnel VLAN traffic
        tunterm_hosts:
          type: array
          items:
            type: string
          description: Hostnames or IP addresses used as Mist Tunnel peers
        tunterm_hosts_order:
          type: array
          items:
            type: integer
            contentEncoding: int32
          description: Explicit host ordering indexes used when ordered selection is configured
        tunterm_hosts_selection:
          allOf:
          - $ref: '#/components/schemas/mxcluster_tunterm_hosts_selection2'
          - description: 'Selection strategy for ordering tunnel termination hosts. enum: `ordered`, `shuffle`, `shuffle-by-site`.'
        tunterm_monitoring:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/tunterm_monitoring_item'
          description: Monitoring checks for tunnel termination reachability. Only for Org Mist Edges; use `tunterm_monitoring` in the `site_setting` for site-scoped Mist Edges
        tunterm_monitoring_disabled:
          type: boolean
          description: Whether tunnel termination monitoring is disabled for the cluster
      description: Mist Edge cluster that groups one or more Mist Edge devices for tunneling, RadSec, and related edge services
    mxcluster_rad_auth_server_keywrap_format2:
      title: mxcluster_rad_auth_server_keywrap_format2
      enum:
      - ascii
      - hex
      type: string
      description: 'Encoding format for Mist AP RADIUS keywrap keys. enum: `ascii`, `hex`.'
    mxcluster_tunterm_hosts_selection2:
      title: mxcluster_tunterm_hosts_selection2
      enum:
      - ordered
      - shuffle
      - shuffle-by-site
      type: string
      description: 'Selection strategy for ordering tunnel termination hosts. enum: `ordered`, `shuffle`, `shuffle-by-site`.'
    tunterm_monitoring_protocol2:
      title: tunterm_monitoring_protocol2
      enum:
      - arp
      - ping
      - tcp
      type: string
      description: 'Monitoring method used for this tunnel termination check. enum: `arp`, `ping`, `tcp`.'
      examples:
      - tcp
    mxedge_das3:
      title: mxedge_das3
      type: object
      properties:
        coa_servers:
          type: array
          items:
            $ref: '#/components/schemas/mxedge_das_coa_server'
          description: Dynamic authorization clients allowed to send CoA or Disconnect-Message requests
        enabled:
          type: boolean
          description: Whether cloud-assisted DAS is enabled for the Mist Edge cluster
          default: false
      description: Dynamic authorization service settings for the cluster
    mxcluster_radsec_acct_server:
      title: mxcluster_radsec_acct_server
      type: object
      properties:
        host:
          type: string
          description: IP / hostname of RADIUS server
        port:
          type: integer
          description: Acct port of RADIUS server
          contentEncoding: int32
          default: 1813
        secret:
          type: string
          description: Shared secret used with this RADIUS accounting server
          contentEncoding: password
        ssids:
          type: array
          items:
            type: string
          description: WLAN SSID filters that use this accounting server when matching is enabled
      description: RadSec accounting server settings for a Mist Edge cluster
    mxcluster_radsec_auth_server:
      title: mxcluster_radsec_auth_server
      type: object
      properties:
        host:
          type: string
          description: IP / hostname of RADIUS server
        inband_status_check:
          type: boolean
          description: Whether to enable inband status check
          default: false
        inband_status_interval:
          minimum: 0
          type: integer
          description: Inband status interval, in seconds
          contentEncoding: int32
          default: 300
        keywrap_enabled:
          type: boolean
          description: If used for Mist APs, enable keywrap algorithm. Default is false
        keywrap_format:
          allOf:
          - oneOf:
            - {}
            - $ref: '#/components/schemas/mxcluster_rad_auth_server_keywrap_format2'
          - description: 'Encoding format for Mist AP RADIUS keywrap keys. enum: `ascii`, `hex`.'
        keywrap_kek:
          type: string
          description: If used for Mist APs, encryption key
        keywrap_mack:
          type: string
          description: If used for Mist APs, Message Authentication Code Key
        port:
          type: integer
          description: Auth port of RADIUS server
          contentEncoding: int32
          default: 1812
        retry:
          type: integer
          description: Number of authentication request retries before failing over
          contentEncoding: int32
          default: 2
        secret:
          type: string
          description: Shared secret used with this RADIUS authentication server
          contentEncoding: password
        ssids:
          type: array
          items:
            type: string
          description: WLAN SSID filters that use this authentication server when matching is enabled
        timeout:
          type: integer
          description: Authentication request timeout, in seconds
          contentEncoding: int32
          default: 5
      description: RadSec authentication server settings for a Mist Edge cluster
    mxcluster_radsec_server_selection2:
      title: mxcluster_radsec_server_selection2
      enum:
      - ordered
      - unordered
      type: string
      description: 'RADIUS server selection strategy for RadSec failover. enum: `ordered`, `unordered`.'
    tunterm_monitoring_item:
      title: tunterm_monitoring_item
      type: object
      properties:
        host:
          minLength: 1
          type: string
          description: Can be ip, ipv6, hostname
          examples:
          - 10.2.8.15
        port:
          type: integer
          description: When `protocol`==`tcp`, TCP port checked by the monitoring probe
          contentEncoding: int32
          examples:
          - 80
        protocol:
          allOf:
          - $ref: '#/components/schemas/tunterm_monitoring_protocol2'
          - minLength: 1
            description: 'Monitoring method used for this tunnel termination check. enum: `arp`, `ping`, `tcp`.'
            examples:
            - tcp
        src_vlan_id:
          type: integer
          description: Optional source for the monitoring check, vlan_id configured in tunterm_other_ip_configs
          contentEncoding: int32
          examples:
          - 5
        timeout:
          type: integer
          description: Maximum time for this monitoring check, in seconds
          contentEncoding: int32
          default: 300
          examples:
          - 300
      description: Monitoring check for tunnel termination reachability
    mxcluster_nac_client_ip:
      title: mxcluster_nac_client_ip
      type: object
      properties:
        require_message_authenticator:
          type: boolean
          description: Whether to require Message-Authenticator in requests
          default: false
        secret:
          type: string
          description: Client-specific shared secret, if different from the cluster default
        site_id:
          type: string
          description: Present only for third-party clients, identifies the associated site
          contentEncoding: uuid
          examples:
          - 00000000-0000-0000-1234-000000000000
        vendor:
          allOf:
          - $ref: '#/components/schemas/mxcluster_nac_client_vendor2'
          - description: 'RADIUS client vendor profile for this IP or subnet. enum: `aruba`, `cisco-aironet`, `cisco-dnac`, `cisco-ios`, `cisco-meraki`, `brocade`, `generic`, `juniper`, `paloalto`.'
            examples:
            - cisco-ios
      description: Mist NAC client settings for a RADIUS client IP or subnet
    mxcluster_radsec_tls2:
      title: mxcluster_radsec_tls2
      type: object
      properties:
        keypair:
          type: string
          description: Name or identifier of the TLS keypair used by RadSec
      description: TLS keypair settings for RadSec on the Mist Edge cluster
    mxcluster_radsec_nas_ip_source2:
      title: mxcluster_radsec_nas_ip_source2
      enum:
      - any
      - oob
      - oob6
      - tunnel
      - tunnel6
      type: string
      description: 'Source used to populate NAS-IP-Address and NAS-IPv6-Address attributes. enum: `any`, `oob`, `oob6`, `tunnel`, `tunnel6`.'
    tunterm_dhcpd_type1:
      title: tunterm_dhcpd_type1
      const: relay
      type: string
      description: 'DHCP forwarding mode for this tunneled VLAN. enum: `relay`.'
    tunterm_dhcpd_config_property:
      title: tunterm_dhcpd_config_property
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether DHCP relay is enabled for this tunneled VLAN
          default: false
        servers:
          uniqueItems: true
          type: array
          items:
            type: string
          description: DHCP server IP addresses used as relay targets for this VLAN
        type:
          allOf:
          - $ref: '#/components/schemas/tunterm_dhcpd_type1'
          - description: 'DHCP forwarding mode for this tunneled VLAN. enum: `relay`.'
      description: Per-VLAN DHCP relay configuration for tunnel termination
    mxedge_mgmt5:
      title: mxedge_mgmt5
      type: object
      properties:
        config_auto_revert:
          type: boolean
          description: Whether the Mist Edge automatically reverts configuration changes if connectivity is lost
          default: false
        fips_enabled:
          type: boolean
          description: Whether FIPS mode is enabled on the Mist Edge
          default: false
        mist_password:
          type: string
          description: Password for the Mist service account on the Mist Edge
          examples:
          - MIST_PASSWORD
        oob_ip_type:
          allOf:
          - $ref: '#/components/schemas/mxedge_mgmt_oob_ip_type2'
          - description: 'IPv4 address assignment mode for out-of-band management. enum: `dhcp`, `disabled`, `static`.'
        oob_ip_type6:
          allOf:
          - $ref: '#/components/schemas/mxedge_mgmt_oob_ip_type62'
          - description: 'IPv6 address assignment mode for out-of-band management. enum: `autoconf`, `dhcp`, `disabled`, `static`.'
        root_password:
          type: string
          description: Root account password for the Mist Edge
          contentEncoding: password
          examples:
          - ROOT_PASSWORD
      description: Out-of-band management settings for Mist Edges in the cluster
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    tunterm_dhcpd_config2:
      title: tunterm_dhcpd_config2
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether DHCP relay is enabled for tunnel termination VLANs
          default: false
        servers:
          uniqueItems: true
          type: array
          items:
            type: string
          description: DHCP server IP addresses used as relay targets
        type:
          allOf:
          - $ref: '#/components/schemas/tunterm_dhcpd_type3'
          - description: 'DHCP forwarding mode for tunnel termination VLANs. enum: `relay`.'
      additionalProperties:
        allOf:
        - $ref: '#/components/schemas/tunterm_dhcpd_config_property'
        - description: Per-VLAN DHCP relay configuration for tunnel termination
      description: DHCP relay or server settings for tunneled VLANs
    tunterm_dhcpd_type3:
      title: tunterm_dhcpd_type3
      const: relay
      type: string
      description: 'DHCP forwarding mode for tunnel termination VLANs. enum: `relay`.'
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
