openapi: 3.2.0
info:
  title: Mist Sites Auto Map Assignment API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Auto Map Assignment
  description: Auto Map Assignment allows devices to be automatically assigned to maps based on their location data. These API calls can be used to manage, apply, and clear auto map assignments for devices at the site level.
paths:
  /api/v1/sites/{site_id}/apply_auto_map_assignment:
    parameters: []
    post:
      tags:
      - Sites Auto Map Assignment
      summary: applySiteAutoMapAssignment
      description: Apply (accept) auto map assignment results for a site. Devices are associated with their assigned maps. Omit `map_ids` or provide an empty list to accept all pending assignments; provide specific `map_ids` for a partial accept.
      operationId: applySiteAutoMapAssignment
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/auto_map_assignment_request'
              - description: Request Body
                examples:
                - '{}'
                - '{"map_ids":["d3c42998-9012-4859-9743-6b9bee475309","f7a21456-7891-4abc-def0-123456789abc"]}'
              contentMediaType: application/json
            examples:
              Accept_All:
                value: {}
              Accept_Specific_Maps:
                value:
                  map_ids:
                  - d3c42998-9012-4859-9743-6b9bee475309
                  - f7a21456-7891-4abc-def0-123456789abc
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment_apply'
                - description: Result returned after applying accepted auto map assignments
                  examples:
                  - accepted_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
                    message: 'Accepted map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    accepted_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
                    message: 'Accepted map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment_apply'
                - description: Result returned after applying accepted auto map assignments
                  examples:
                  - accepted_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
                    message: 'Accepted map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    accepted_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
                    message: 'Accepted map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/auto_map_assignment:
    parameters: []
    delete:
      tags:
      - Sites Auto Map Assignment
      summary: cancelSiteAutoMapAssignment
      description: Cancel an in-progress auto map assignment operation for the site. Validates that auto map assignment is currently running, notifies all APs to fetch new configuration, and sends a cancel command to the orchestration service.
      operationId: cancelSiteAutoMapAssignment
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Auto map assignment not in progress
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites Auto Map Assignment
      summary: getSiteAutoMapAssignmentStatus
      description: Get the current status of auto map assignment for the site.
      operationId: getSiteAutoMapAssignmentStatus
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment_info'
                - description: Auto map assignment status response
                  examples:
                  - est_time_left: 280.5
                    start_time: 1678900062
                    status: in_progress
                    time_updated: 1678900100
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    est_time_left: 280.5
                    start_time: 1678900062
                    status: in_progress
                    time_updated: 1678900100
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment_info'
                - description: Auto map assignment status response
                  examples:
                  - est_time_left: 280.5
                    start_time: 1678900062
                    status: in_progress
                    time_updated: 1678900100
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    est_time_left: 280.5
                    start_time: 1678900062
                    status: in_progress
                    time_updated: 1678900100
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Sites Auto Map Assignment
      summary: startSiteAutoMapAssignment
      description: 'Start the auto map assignment process for a site. The service automatically assigns APs to maps based on BLE ranging data and requires at least 3 APs with compatible firmware and model support for BLE.


        Repeated POST requests while a site assignment is still running will be rejected.'
      operationId: startSiteAutoMapAssignment
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/auto_map_assignment'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment'
                - description: Auto map assignment start response
                  examples:
                  - devices:
                      5c5b35000001:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000002:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000003:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                    estimated_runtime: 300
                    reason: Started auto map assignment
                    started: true
                    valid: true
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    devices:
                      5c5b35000001:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000002:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000003:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                    estimated_runtime: 300
                    reason: Started auto map assignment
                    started: true
                    valid: true
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment'
                - description: Auto map assignment start response
                  examples:
                  - devices:
                      5c5b35000001:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000002:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000003:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                    estimated_runtime: 300
                    reason: Started auto map assignment
                    started: true
                    valid: true
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    devices:
                      5c5b35000001:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000002:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                      5c5b35000003:
                        reason: Device meets the minimum requirements for auto map assignment
                        valid: true
                    estimated_runtime: 300
                    reason: Started auto map assignment
                    started: true
                    valid: true
        '400':
          description: Auto map assignment already in progress
          headers: {}
          content: {}
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/clear_auto_map_assignment:
    parameters: []
    post:
      tags:
      - Sites Auto Map Assignment
      summary: clearSiteAutoMapAssignment
      description: Clear (reject) auto map assignment results for a site without applying them. The cached assignment results are cleared. Omit `map_ids` or provide an empty list to reject all pending assignments; provide specific `map_ids` for a partial reject.
      operationId: clearSiteAutoMapAssignment
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/auto_map_assignment_request'
              - description: Request Body
                examples:
                - '{}'
                - '{"map_ids":["d3c42998-9012-4859-9743-6b9bee475309","f7a21456-7891-4abc-def0-123456789abc"]}'
              contentMediaType: application/json
            examples:
              Clear_All:
                value: {}
              Clear_Specific_Maps:
                value:
                  map_ids:
                  - d3c42998-9012-4859-9743-6b9bee475309
                  - f7a21456-7891-4abc-def0-123456789abc
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment_clear'
                - description: Result returned after clearing auto map assignment candidates
                  examples:
                  - message: 'Rejected map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
                    rejected_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    message: 'Rejected map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
                    rejected_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_auto_map_assignment_clear'
                - description: Result returned after clearing auto map assignment candidates
                  examples:
                  - message: 'Rejected map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
                    rejected_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    message: 'Rejected map assignments for map_ids: [''d3c42998-9012-4859-9743-6b9bee475309'', ''f7a21456-7891-4abc-def0-123456789abc'']'
                    rejected_maps:
                    - d3c42998-9012-4859-9743-6b9bee475309
                    - f7a21456-7891-4abc-def0-123456789abc
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_auto_map_assignment_apply:
      title: response_auto_map_assignment_apply
      required:
      - accepted_maps
      - message
      type: object
      properties:
        accepted_maps:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: List of map IDs that were successfully accepted
        message:
          type: string
          description: Human-readable description of the operation result
      description: Result returned after applying accepted auto map assignments
    response_auto_map_assignment_info_status2:
      title: response_auto_map_assignment_info_status2
      enum:
      - not_started
      - in_progress
      - completed
      - error
      type: string
      description: 'Current auto map assignment processing state. enum: `not_started`, `in_progress`, `completed`, `error`.'
    auto_map_assignment_request:
      title: auto_map_assignment_request
      type: object
      properties:
        map_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Optional list of specific map IDs to apply/clear. If not provided or empty, all pending map assignments are accepted/rejected.
      description: Request body for accepting or clearing pending map assignments
    auto_map_assignment:
      title: auto_map_assignment
      type: object
      properties:
        dryrun:
          type: boolean
          description: If `true`, validates the site's APs without starting the map assignment process. Returns device validity and estimated runtime.
          default: false
        force_collection:
          type: boolean
          description: If `true`, forces data collection via orchestration. If `false`, attempts to use existing BLE data first.
          default: false
      description: Request options for validating or starting automatic AP map assignment
    response_auto_map_assignment_info:
      title: response_auto_map_assignment_info
      required:
      - status
      type: object
      properties:
        est_time_left:
          type: number
          description: Only when `status`==`in_progress`, estimated seconds remaining
        start_time:
          type: number
          description: Unix timestamp when auto map assignment was started
        status:
          allOf:
          - $ref: '#/components/schemas/response_auto_map_assignment_info_status2'
          - description: 'Current auto map assignment processing state. enum: `not_started`, `in_progress`, `completed`, `error`.'
        stop_time:
          type: number
          description: Only when `status`==`completed`, Unix timestamp when auto map assignment stopped
        time_updated:
          type: number
          description: Unix timestamp when status was last updated
      description: Auto map assignment status response
    response_auto_map_assignment_clear:
      title: response_auto_map_assignment_clear
      required:
      - message
      - rejected_maps
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the operation result
        rejected_maps:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: List of map IDs that were successfully rejected
      description: Result returned after clearing auto map assignment candidates
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_auto_map_assignment:
      title: response_auto_map_assignment
      type: object
      properties:
        devices:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/response_auto_map_assignment_device'
          description: Per-device validation results for auto map assignment, keyed by device MAC address
        estimated_runtime:
          type: integer
          description: Estimated runtime for the process in seconds
          contentEncoding: int32
        reason:
          type: string
          description: Provides the reason for the status
        started:
          type: boolean
          description: Indicates whether the auto map assignment process has started
        valid:
          type: boolean
          description: Indicates whether the auto map assignment request is valid
      description: Auto map assignment start response
    response_auto_map_assignment_device:
      title: response_auto_map_assignment_device
      type: object
      properties:
        reason:
          type: string
          description: Provides the reason for the status if the AP is invalid
        valid:
          type: boolean
          description: Indicates whether the device meets requirements for auto map assignment
      description: Per-device validation result for auto map assignment
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
