openapi: 3.2.0
info:
  title: Mist Orgs Devices API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Devices
  description: Devices are any Network device managed or monitored by Juniper Mist. It can be * Wireless Access Points * Juniper Switch (EX, QFX) * Juniper WAN Gateway (SRX, SSR) * Mist Edges * Other or 3rd party devices, like Cradlepoint Devices
paths:
  /api/v1/orgs/{org_id}/devices:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: listOrgDevices
      description: List devices in the organization, including APs, switches and gateways managed or monitored by Mist.
      operationId: listOrgDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_org_devices'
                - description: Response containing organization device records
                  examples:
                  - results:
                    - mac: string
                      name: string
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    results:
                    - mac: string
                      name: string
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_org_devices'
                - description: Response containing organization device records
                  examples:
                  - results:
                    - mac: string
                      name: string
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    results:
                    - mac: string
                      name: string
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/count:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: countOrgDevices
      description: Count organization device records, optionally grouped by `distinct` and filtered by device identifiers, model, LLDP attributes, Mist Edge, tunnel status, device type, and time range.
      operationId: countOrgDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `hostname`, `ip`, `lldp_mgmt_addr`, `lldp_port_id`, `lldp_system_desc`, `lldp_system_name`, `mac`, `model`, `mxedge_id`, `mxtunnel_status`, `site_id`, `version`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_devices_count_distinct'
          - description: 'Field used to group this count response. enum: `hostname`, `ip`, `lldp_mgmt_addr`, `lldp_port_id`, `lldp_system_desc`, `lldp_system_name`, `mac`, `model`, `mxedge_id`, `mxtunnel_status`, `site_id`, `version`'
      - name: hostname
        in: query
        description: Partial / full hostname
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-hostname
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: model
        in: query
        description: Filter results by device model. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP45,AP47D
          - MR84
        examples:
          Untitled Example1:
            value: AP45,AP47D
          Untitled Example2:
            value: MR84
      - name: managed
        in: query
        description: 'for switches and gateways, to filter on managed/unmanaged devices. Deprecated in favour of mist_configured. enum: `true`, `false`'
        deprecated: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 'true'
          deprecated: true
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101
      - name: version
        in: query
        description: Filter results by software version
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 10.0.0
      - name: ip
        in: query
        description: Filter results by IPv4 address
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: ipv4
          examples:
          - 192.168.1.1
      - name: mxtunnel_status
        in: query
        description: 'MxTunnel status, enum: `up`, `down`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/count_org_devices_mxtunnel_status'
          - description: 'MxTunnel status, enum: `up`, `down`'
      - name: mxedge_id
        in: query
        description: Mist Edge id, if AP is connecting to a Mist Edge
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: lldp_system_name
        in: query
        description: Filter results by LLDP system name
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-lldp-system
      - name: lldp_system_desc
        in: query
        description: Filter results by LLDP system description
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-lldp-system-description
      - name: lldp_port_id
        in: query
        description: Filter results by LLDP port identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ge-0/0/1
      - name: lldp_mgmt_addr
        in: query
        description: LLDP management IP address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 10.4.2.3
      - name: type
        in: query
        description: 'Filter results by type. enum: `ap`, `gateway`, `switch`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/device_type_default_ap'
          - description: 'Filter results by type. enum: `ap`, `gateway`, `switch`'
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/events/count:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: countOrgDeviceEvents
      description: Count device event records across the organization, optionally grouped by `distinct` and filtered by site, AP, firmware, model, event text, event type, and time range.
      operationId: countOrgDeviceEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `ap`, `apfw`, `model`, `org_id`, `site_id`, `status`, `text`, `timestamp`, `type`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_devices_events_count_distinct'
          - description: 'Field used to group this count response. enum: `ap`, `apfw`, `model`, `org_id`, `site_id`, `status`, `text`, `timestamp`, `type`'
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: ap
        in: query
        description: Filter results by AP MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101
      - name: apfw
        in: query
        description: Filter results by AP firmware version
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 10.0.0
      - name: model
        in: query
        description: Filter results by device model
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP43
      - name: text
        in: query
        description: Filter results by event message text
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Device connected
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listDeviceEventsDefinitions)
        style: form
        explode: true
        schema:
          type: string
      - name: includes
        in: query
        description: Keyword to include events from additional indices (e.g. ext_tunnel for ext tunnel events)
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ext_tunnel
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/events/search:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: searchOrgDeviceEvents
      description: Search device event records across the organization with filters for MAC address, model, device type, event text, event type, additional event indices, and time range.
      operationId: searchOrgDeviceEvents
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: mac
        in: query
        description: Filter results by MAC address. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101,5c5b53020202
          - 5c5b53010101
        examples:
          Untitled Example1:
            value: 5c5b53010101,5c5b53020202
          Untitled Example2:
            value: 5c5b53010101
      - name: model
        in: query
        description: Filter results by device model. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - EX4100-48MP,AP17
          - AP43
        examples:
          Untitled Example1:
            value: EX4100-48MP,AP17
          Untitled Example2:
            value: AP43
      - name: device_type
        in: query
        description: Filter results by device type. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          default: ap
          examples:
          - switch,ap
      - name: text
        in: query
        description: Filter results by event message text
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Device connected
      - name: type
        in: query
        description: See [List Device Events Definitions]($e/Constants%20Events/listDeviceEventsDefinitions). Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - SW_PORT_DOWN,AP_CONFIGURED
      - name: last_by
        in: query
        description: Return last/recent event for passed in field
        style: form
        explode: true
        schema:
          type: string
          examples:
          - port_id
      - name: includes
        in: query
        description: Keyword to include events from additional indices (e.g. ext_tunnel for ext tunnel events)
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ext_tunnel
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_device_events_search'
                - description: Paginated response for device or system event search results
                  examples:
                  - end: 0
                    limit: 0
                    next: string
                    results:
                    - ap: 5c5b351e13b5
                      apfw: 5c5b351e13b5
                      model: BT11-WW
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: Succeeding DNS query from 172.29.101.134 to 172.29.101.7 for "portal.mistsys.com" on vlan 1, id 60224
                      timestamp: 1547235620.89
                      type: CLIENT_DNS_OK
                    - device_type: gateway
                      job_id: c2096de9-0ca4-4a8b-b500-d37cbe0f0baf
                      mac: d007ca6c6ac0
                      org_id: 86f0c649-06b1-4337-b3d4-25eeb887f732
                      site_id: 9f8d28eb-77c7-44c7-a85b-4426bf291679
                      status: PROVISION_IN_PROGRESS
                      template_id: 660e8400-e29b-41d4-a716-446655440001
                      timestamp: 1748987445.959
                      tunnel_name: zs1
                      type: NOTICE
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 0
                    limit: 0
                    next: string
                    results:
                    - ap: 5c5b351e13b5
                      apfw: 5c5b351e13b5
                      model: BT11-WW
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: Succeeding DNS query from 172.29.101.134 to 172.29.101.7 for "portal.mistsys.com" on vlan 1, id 60224
                      timestamp: 1547235620.89
                      type: CLIENT_DNS_OK
                    - device_type: gateway
                      job_id: c2096de9-0ca4-4a8b-b500-d37cbe0f0baf
                      mac: d007ca6c6ac0
                      org_id: 86f0c649-06b1-4337-b3d4-25eeb887f732
                      site_id: 9f8d28eb-77c7-44c7-a85b-4426bf291679
                      status: PROVISION_IN_PROGRESS
                      template_id: 660e8400-e29b-41d4-a716-446655440001
                      timestamp: 1748987445.959
                      tunnel_name: zs1
                      type: NOTICE
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_device_events_search'
                - description: Paginated response for device or system event search results
                  examples:
                  - end: 0
                    limit: 0
                    next: string
                    results:
                    - ap: 5c5b351e13b5
                      apfw: 5c5b351e13b5
                      model: BT11-WW
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: Succeeding DNS query from 172.29.101.134 to 172.29.101.7 for "portal.mistsys.com" on vlan 1, id 60224
                      timestamp: 1547235620.89
                      type: CLIENT_DNS_OK
                    - device_type: gateway
                      job_id: c2096de9-0ca4-4a8b-b500-d37cbe0f0baf
                      mac: d007ca6c6ac0
                      org_id: 86f0c649-06b1-4337-b3d4-25eeb887f732
                      site_id: 9f8d28eb-77c7-44c7-a85b-4426bf291679
                      status: PROVISION_IN_PROGRESS
                      template_id: 660e8400-e29b-41d4-a716-446655440001
                      timestamp: 1748987445.959
                      tunnel_name: zs1
                      type: NOTICE
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 0
                    limit: 0
                    next: string
                    results:
                    - ap: 5c5b351e13b5
                      apfw: 5c5b351e13b5
                      model: BT11-WW
                      org_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862a
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      text: Succeeding DNS query from 172.29.101.134 to 172.29.101.7 for "portal.mistsys.com" on vlan 1, id 60224
                      timestamp: 1547235620.89
                      type: CLIENT_DNS_OK
                    - device_type: gateway
                      job_id: c2096de9-0ca4-4a8b-b500-d37cbe0f0baf
                      mac: d007ca6c6ac0
                      org_id: 86f0c649-06b1-4337-b3d4-25eeb887f732
                      site_id: 9f8d28eb-77c7-44c7-a85b-4426bf291679
                      status: PROVISION_IN_PROGRESS
                      template_id: 660e8400-e29b-41d4-a716-446655440001
                      timestamp: 1748987445.959
                      tunnel_name: zs1
                      type: NOTICE
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/last_config/count:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: countOrgDeviceLastConfigs
      description: Count device config history records across the organization, optionally grouped by `distinct` and filtered by device type and time range.
      operationId: countOrgDeviceLastConfigs
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: type
        in: query
        description: 'Filter results by type. enum: `ap`, `gateway`, `switch`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/device_type_default_ap'
          - description: 'Filter results by type. enum: `ap`, `gateway`, `switch`'
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `mac`, `name`, `site_id`, `version`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/org_devices_last_configs_count_distinct'
          - description: 'Field used to group this count response. enum: `mac`, `name`, `site_id`, `version`'
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/last_config/search:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: searchOrgDeviceLastConfigs
      description: Search device config history records across the organization with filters for device type, MAC address, name, software version, certificate-expiry duration, and time range.
      operationId: searchOrgDeviceLastConfigs
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_type
        in: query
        description: 'Filter results by device type. enum: `ap`, `gateway`, `switch`, `mxedge`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/last_config_device_type'
          - description: 'Filter results by device type. enum: `ap`, `gateway`, `switch`, `mxedge`'
      - name: mac
        in: query
        description: Filter results by MAC address. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b53010101,5c5b53020202
          - 5c5b53010101
        examples:
          Untitled Example1:
            value: 5c5b53010101,5c5b53020202
          Untitled Example2:
            value: 5c5b53010101
      - name: name
        in: query
        description: Filter results by name. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - name-a,name-b
          - My AP
        examples:
          Untitled Example1:
            value: name-a,name-b
          Untitled Example2:
            value: My AP
      - name: version
        in: query
        description: Filter results by software version. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - apfw-0.15.34615-noro-0a3c,apfw-0.15.34436-noro-d810
          - 10.0.0
        examples:
          Untitled Example1:
            value: apfw-0.15.34615-noro-0a3c,apfw-0.15.34436-noro-d810
          Untitled Example2:
            value: 10.0.0
      - name: cert_expiry_duration
        in: query
        description: 'Duration for expiring cert queries (format: 2d/3h/172800 seconds)'
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2d
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_config_history_search'
                - description: Paginated device config history search response
                  examples:
                  - end: 1531862583
                    limit: 10
                    results:
                    - channel_24: 11
                      channel_5: 100
                      radio_macs:
                      - 5c5b352e000a
                      - 5c5b352e000b
                      - 5c5b352e000c
                      radios:
                      - band: '24'
                        channel: 11
                      - band: '5'
                        channel: 100
                      secpolicy_violated: false
                      ssids:
                      - test24
                      - test5
                      ssids_24:
                      - test24
                      ssids_5:
                      - test5
                      timestamp: 1531855856.643369
                      version: apfw-0.2.14754-cersei-75c8
                      wlans:
                      - auth: psk
                        bands:
                        - '24'
                        id: be22bba7-8e22-e1cf-5185-b880816fe2cf
                        ssid: test24
                        vlan_ids:
                        - '1'
                      - auth: psk
                        bands:
                        - '5'
                        id: f8c18724-4118-3487-811a-f98964988604
                        ssid: test5
                        vlan_ids:
                        - '1'
                    start: 1531776183
                    total: 1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1531862583
                    limit: 10
                    results:
                    - channel_24: 11
                      channel_5: 100
                      radio_macs:
                      - 5c5b352e000a
                      - 5c5b352e000b
                      - 5c5b352e000c
                      radios:
                      - band: '24'
                        channel: 11
                      - band: '5'
                        channel: 100
                      secpolicy_violated: false
                      ssids:
                      - test24
                      - test5
                      ssids_24:
                      - test24
                      ssids_5:
                      - test5
                      timestamp: 1531855856.643369
                      version: apfw-0.2.14754-cersei-75c8
                      wlans:
                      - auth: psk
                        bands:
                        - '24'
                        id: be22bba7-8e22-e1cf-5185-b880816fe2cf
                        ssid: test24
                        vlan_ids:
                        - '1'
                      - auth: psk
                        bands:
                        - '5'
                        id: f8c18724-4118-3487-811a-f98964988604
                        ssid: test5
                        vlan_ids:
                        - '1'
                    start: 1531776183
                    total: 1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_config_history_search'
                - description: Paginated device config history search response
                  examples:
                  - end: 1531862583
                    limit: 10
                    results:
                    - channel_24: 11
                      channel_5: 100
                      radio_macs:
                      - 5c5b352e000a
                      - 5c5b352e000b
                      - 5c5b352e000c
                      radios:
                      - band: '24'
                        channel: 11
                      - band: '5'
                        channel: 100
                      secpolicy_violated: false
                      ssids:
                      - test24
                      - test5
                      ssids_24:
                      - test24
                      ssids_5:
                      - test5
                      timestamp: 1531855856.643369
                      version: apfw-0.2.14754-cersei-75c8
                      wlans:
                      - auth: psk
                        bands:
                        - '24'
                        id: be22bba7-8e22-e1cf-5185-b880816fe2cf
                        ssid: test24
                        vlan_ids:
                        - '1'
                      - auth: psk
                        bands:
                        - '5'
                        id: f8c18724-4118-3487-811a-f98964988604
                        ssid: test5
                        vlan_ids:
                        - '1'
                    start: 1531776183
                    total: 1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1531862583
                    limit: 10
                    results:
                    - channel_24: 11
                      channel_5: 100
                      radio_macs:
                      - 5c5b352e000a
                      - 5c5b352e000b
                      - 5c5b352e000c
                      radios:
                      - band: '24'
                        channel: 11
                      - band: '5'
                        channel: 100
                      secpolicy_violated: false
                      ssids:
                      - test24
                      - test5
                      ssids_24:
                      - test24
                      ssids_5:
                      - test5
                      timestamp: 1531855856.643369
                      version: apfw-0.2.14754-cersei-75c8
                      wlans:
                      - auth: psk
                        bands:
                        - '24'
                        id: be22bba7-8e22-e1cf-5185-b880816fe2cf
                        ssid: test24
                        vlan_ids:
                        - '1'
                      - auth: psk
                        bands:
                        - '5'
                        id: f8c18724-4118-3487-811a-f98964988604
                        ssid: test5
                        vlan_ids:
                        - '1'
                    start: 1531776183
                    total: 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/radio_macs:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: listOrgApsMacs
      description: 'For some scenarios like E911 or security systems, the BSSIDs are required to identify which AP the client is connecting to. Then the location of the AP can be used as the approximate location of the client.


        Each radio MAC can have up to 16 BSSIDs. These are derived by incrementing the least significant hexadecimal digit (last nibble) of the MAC address from 0 to F, while keeping the remaining bits unchanged.'
      operationId: listOrgApsMacs
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/ap_radio_mac'
                description: Access point radio MAC records supplied in an import payload
                examples:
                - - mac: 5c5b35000001
                    radio_macs:
                    - 5c5b35000040
                    - 5c5b35000050
                    - 5c5b35000060
                  - mac: 5c5b45000001
                    radio_macs:
                    - 5c5b45000040
                    - 5c5b45000050
                    - 5c5b45000060
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - mac: 5c5b35000001
                    radio_macs:
                    - 5c5b35000040
                    - 5c5b35000050
                    - 5c5b35000060
                  - mac: 5c5b45000001
                    radio_macs:
                    - 5c5b45000040
                    - 5c5b45000050
                    - 5c5b45000060
            application/vnd.api+json:
              schema:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/ap_radio_mac'
                description: Access point radio MAC records supplied in an import payload
                examples:
                - - mac: 5c5b35000001
                    radio_macs:
                    - 5c5b35000040
                    - 5c5b35000050
                    - 5c5b35000060
                  - mac: 5c5b45000001
                    radio_macs:
                    - 5c5b45000040
                    - 5c5b45000050
                    - 5c5b45000060
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - mac: 5c5b35000001
                    radio_macs:
                    - 5c5b35000040
                    - 5c5b35000050
                    - 5c5b35000060
                  - mac: 5c5b45000001
                    radio_macs:
                    - 5c5b45000040
                    - 5c5b45000050
                    - 5c5b45000060
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/devices/search:
    parameters: []
    get:
      tags:
      - Orgs Devices
      summary: searchOrgDevices
      description: Search organization devices with filters for AP radio attributes, gateway HA attributes, switch EVPN attributes, LLDP data, MAC address, IP address, model, software version, site, Mist Edge, and time range. Set `stats=true` to include device stats in the response.
      operationId: searchOrgDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: band_24_channel
        in: query
        description: When `type`==`ap`, Channel of band_24. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_5_channel
        in: query
        description: When `type`==`ap`, Channel of band_5. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_6_channel
        in: query
        description: When `type`==`ap`, Channel of band_6. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_24_bandwidth
        in: query
        description: When `type`==`ap`, Bandwidth of band_24. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_5_bandwidth
        in: query
        description: When `type`==`ap`, Bandwidth of band_5. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_6_bandwidth
        in: query
        description: When `type`==`ap`, Bandwidth of band_6. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_24_power
        in: query
        description: When `type`==`ap`, Power of band_24. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_5_power
        in: query
        description: When `type`==`ap`, Power of band_5. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: band_6_power
        in: query
        description: When `type`==`ap`, Power of band_6. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: clustered
        in: query
        description: When `type`==`gateway`, true / false
        style: form
        explode: true
        schema:
          type: boolean
      - name: eth0_port_speed
        in: query
        description: When `type`==`ap`, Port speed of eth0. Accepts multiple comma-separated integer values.
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - '100'
          - '1000'
        examples:
          Untitled Example2:
            value: 100
          Untitled Example3:
            value: 1000
      - name: evpntopo_id
        in: query
        description: When `type`==`switch`, EVPN topology id
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
      - name: ext_ip
        in: query
        description: Partial / full Device external ip. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `1.2.3.*` and `*.2.3.*` match `1.2.3.4`). Suffix-only wildcards (e.g. `*.2.3.4`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 1.2.3.4,1.2.3.*
          - 1.2.3.4
          - 1.2.3.*
          - '*2.3.*'
        examples:
          Untitled Example1:
            value: 1.2.3.4,1.2.3.*
          Untitled Example2:
            value: 1.2.3.4
          Untitled Example3:
            value: 1.2.3.*
          Untitled Example4:
            value: '*2.3.*'
      - name: hostname
        in: query
        description: Partial / full Device hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-london*` and `*london*` match `my-london-1`). Suffix-only wildcards (e.g. `*london-1`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - my-london-1,my-london*
          - my-london-1
          - my-london*
          - '*london*'
        examples:
          Untitled Example1:
            value: my-london-1,my-london*
          Untitled Example2:
            value: my-london-1
          Untitled Example3:
            value: my-london*
          Untitled Example4:
            value: '*london*'
      - name: ip
        in: query
        description: Partial / full Device IP address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `10.100.10.*` and `*100.10.*` match `10.100.10.54`). Suffix-only wildcards (e.g. `*.54`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 10.100.10.54,10.100.10.*
          - 10.100.10.54
          - 10.100.10.*
          - '*100.10.*'
        examples:
          Untitled Example1:
            value: 10.100.10.54,10.100.10.*
          Untitled Example2:
            value: 10.100.10.54
          Untitled Example3:
            value: 10.100.10.*
          Untitled Example4:
            value: '*100.10.*'
      - name: last_config_status
        in: query
        description: When `type`==`switch` or `type`==`gateway`, last configuration status
        style: form
        explode: true
        schema:
          type: string
          examples:
          - success
      - name: last_hostname
        in: query
        description: Last hostname of the device. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ap-01,ap-02
      - name: lldp_mgmt_addr
        in: query
        description: When `type`==`ap`, LLDP management IP address. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 192.0.2.10,192.0.2.11
      - name: lldp_port_id
        in: query
        description: When `type`==`ap`, LLDP port id. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `ge-0/0/*` and `*-0/0/*` match `ge-0/0/30`). Suffix-only wildcards (e.g. `*switch-01`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002
      - name: lldp_system_desc
        in: query
        description: When `type`==`ap`, LLDP system description. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `Juniper Networks*` and `*Networks*` match `Juniper Networks, Inc.`). Suffix-only wildcards (e.g. `*switch-01`) are not supported
        style: form
        explode: true
        schema:
          type: string
      - name: lldp_system_name
        in: query
        description: When `type`==`ap`, LLDP system name. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-switch*` and `*switch*` match `my-switch-01`). Suffix-only wildcards (e.g. `*switch-01`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - richmond-hill-switch,Phoenix_Switch
      - name: mac
        in: query
        description: Partial / full Device MAC address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `001122*` and `*1122*` match `001122334455`). Suffix-only wildcards (e.g. `*4455`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - aabbccddeeff,aabbcc*
          - aabbccddeeff
          - aabbcc*
          - '*bbcc*'
        examples:
          Untitled Example1:
            value: aabbccddeeff,aabbcc*
          Untitled Example2:
            value: aabbccddeeff
          Untitled Example3:
            value: aabbcc*
          Untitled Example4:
            value: '*bbcc*'
      - name: model
        in: query
        description: Partial / full Device model. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `AP4*` and `*P4*` match `AP43`). Suffix-only wildcards (e.g. `*43`) are not supported. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - AP43,AP4*
          - AP43
          - AP4*
          - '*P4*'
        examples:
          Untitled Example1:
            value: AP43,AP4*
          Untitled Example2:
            value: AP43
          Untitled Example3:
            value: AP4*
          Untitled Example4:
            value: '*P4*'
      - name: mxedge_id
        in: query
        description: When `type`==`ap`, Mist Edge id, if AP is connecting to a Mist Edge. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          contentEncoding: uuid
      - name: mxedge_ids
        in: query
        description: When `type`==`ap`, Comma separated list of Mist Edge id, if AP is connecting to a Mist Edge
        style: form
        explode: true
        schema:
          type: string
      - name: mxtunnel_status
        in: query
        description: 'When `type`==`ap`, Mist Tunnel status used to filter results. enum: `down`, `up`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/search_org_devices_mxtunnel_status'
          - description: 'When `type`==`ap`, Mist Tunnel status used to filter results. enum: `down`, `up`'
      - name: node
        in: query
        description: 'When `type`==`gateway`. enum: `node0`, `node1`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/ha_cluster_node_enum'
          - description: 'When `type`==`gateway`. enum: `node0`, `node1`'
      - name: node0_mac
        in: query
        description: When `type`==`gateway`, node0 MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: node1_mac
        in: query
        description: When `type`==`gateway`, node1 MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: power_constrained
        in: query
        description: When `type`==`ap`, whether the AP is power constrained.
        style: form
        explode: true
        schema:
          type: boolean
      - name: radius_stats
        in: query
        description: "When `type`==`switch` or `type`==`gateway`, Key-value pairs where the key\nis the RADIUS server address and the value contains authentication statistics:\n  * <server_address> (string): IP address of the RADIUS server as the key\n  * `auth_accepts` (long): Number of accepted authentication requests\n  * `auth_rejects` (long): Number of rejected authentication requests\n  * `auth_timeouts` (long): Number of authentication timeouts\n  * `auth_server_status` (string): Status of the server. Possible values: `up`, `down`, `unreachable`"
        style: form
        explode: true
        schema:
          type: string
      - name: site_id
        in: query
        description: Filter results by site identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 7dae216d-7c98-a51b-e068-dd7d477b7216
      - name: stats
        in: query
        description: Whether to return device stats
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: t128agent_version
        in: query
        description: When `type`==`gateway` (SSR only), version of 128T agent
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: 'Device type used to filter results. enum: `ap`, `gateway`, `switch`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/device_type_default_ap'
          - description: 'Device type used to filter results. enum: `ap`, `gateway`, `switch`'
      - name: version
        in: query
        description: Filter results by software version. Accepts multiple comma-separated values.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 0.15.34615,0.14.29967
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
[...]
