openapi: 3.2.0
info:
  title: Mist Sites Stats - Devices API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - Devices
  description: API Calls to retrieve statistics about the Mist Managed and Monitored Devices at the Site level
paths:
  /api/v1/sites/{site_id}/stats/devices:
    parameters: []
    get:
      tags:
      - Sites Stats - Devices
      summary: listSiteDevicesStats
      description: List device statistics for a site, including high-level status and performance fields over the requested time range. Use List Org Device Stats to retrieve device statistics across the organization.
      operationId: listSiteDevicesStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: type
        in: query
        description: Filter results by type
        style: form
        explode: true
        schema:
          type: string
          default: ap
      - name: status
        in: query
        description: 'Filter results by status. enum: `all`, `connected`, `disconnected`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/stat_device_status_filter'
          - description: 'Filter results by status. enum: `all`, `connected`, `disconnected`'
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_device'
                description: Device statistics records returned by a stats response
                examples:
                - '[{"auto_upgrade_stat":{"lastcheck":1720594762},"ble_stat":{"beacon_enabled":true,"beacon_rate":4,"eddystone_uid_enabled":false,"eddystone_uid_freq_msec":1000,"eddystone_uid_instance":"5c5b35d0077b","eddystone_uid_namespace":"9777c1a06ef611e68bbf","eddystone_url_enabled":false,"eddystone_url_freq_msec":1000,"eddystone_url_url":"","ibeacon_enabled":false,"ibeacon_freq_msec":1000,"ibeacon_major":894,"ibeacon_minor":9328,"ibeacon_uuid":"af010e2b-f829-4975-b49e-2e896ed1d627","major":894,"minors":[9328,9329,9330,9331,9332,9333,9334,9335,-1],"power":8,"rx_bytes":158500843,"rx_pkts":3549163,"tx_bytes":509640,"tx_pkts":85411,"tx_resets":0,"uuid":"af010e2b-f829-4975-b49e-2e896ed1d627"},"config_reverted":false,"cpu_system":21921854,"cpu_user":7496631,"cpu_util":5,"created_time":1718228350,"env_stat":{"accel_x":-0.092,"accel_y":0.004,"accel_z":-1.02,"ambient_temp":43,"attitude":0,"cpu_temp":53,"humidity":9,"magne_x":0,"magne_y":0,"magne_z":0,"pressure":968,"vcore_voltage":0},"ext_ip":"66.129.234.28","hw_rev":"C02","id":"00000000-0000-0000-1000-5c5b35d0077b","inactive_wired_vlans":[],"ip":"192.168.95.3","ip_stat":{"dhcp_server":"192.168.95.1","dns":["8.8.8.8"],"gateway":"192.168.95.1","ip":"192.168.95.3","ip6":"fe80:0:0:0:5e5b:35ff:fed0:77b","ips":{"vlan1":"192.168.95.3/24,fe80:0:0:0:5e5b:35ff:fed0:77b/64"},"netmask":"255.255.255.0","netmask6":"/64"},"last_seen":1720595866,"last_trouble":{"code":"07","timestamp":1720039666},"lldp_stat":{"chassis_id":"d0:07:ca:f5:21:00","lldp_med_supported":false,"mgmt_addr":"100.123.105.1","mgmt_addrs":["100.123.105.1"],"port_desc":"ge-0/0/4","port_id":"ge-0/0/4","power_allocated":0,"power_draw":0,"power_request_count":0,"power_requested":0,"system_desc":"Juniper Networks, Inc. ex4300-48t internet router, kernel JUNOS 20.4R3-S7.2, Build date: 2023-04-21 19:47:18 UTC Copyright (c) 1996-2023 Juniper Networks, Inc.","system_name":"Phoenix-Switch"},"mac":"5c5b35d0077b","mem_total_kb":505468,"mem_used_kb":202096,"model":"AP43","modified_time":1718530662,"mount":"faceup","name":"Phoenix","notes":"","num_clients":1,"org_id":"af010e2b-f829-4975-b49e-2e896ed1d627","port_stat":{"eth0":{"full_duplex":true,"rx_bytes":1284143195,"rx_errors":0,"rx_peak_bps":17585,"rx_pkts":5199816,"speed":1000,"tx_bytes":1283744961,"tx_peak_bps":26484,"tx_pkts":3990463,"up":true},"eth1":{"full_duplex":false,"rx_bytes":0,"rx_errors":0,"rx_peak_bps":0,"rx_pkts":0,"speed":0,"tx_bytes":0,"tx_peak_bps":0,"tx_pkts":0,"up":false}},"power_budget":8400,"power_constrained":false,"power_src":"DC Input","radio_config":{},"radio_stat":{"band_24":{"bandwidth":20,"channel":11,"mac":"5c5b35dea810","noise_floor":-80,"num_clients":0,"power":17,"rx_bytes":12948211,"rx_pkts":65292,"tx_bytes":19071943,"tx_pkts":76926,"usage":"24","util_all":24,"util_non_wifi":2,"util_rx_in_bss":0,"util_rx_other_bss":17,"util_tx":4,"util_undecodable_wifi":0,"util_unknown_wifi":1},"band_5":{"bandwidth":40,"channel":36,"mac":"5c5b35dea7f0","noise_floor":-90,"num_clients":1,"power":17,"rx_bytes":578362619,"rx_pkts":2687577,"tx_bytes":1199571353,"tx_pkts":2479302,"usage":"5","util_all":13,"util_non_wifi":0,"util_rx_in_bss":0,"util_rx_other_bss":10,"util_tx":1,"util_undecodable_wifi":0,"util_unknown_wifi":1}},"rx_bps":9276,"rx_bytes":591310830,"rx_pkts":2752869,"serial":"A0703200709E6","site_id":"46fc665e-9706-4296-8fe2-78f42f2e67e4","status":"connected","switch_redundancy":{"num_redundant_aps":1},"tx_bps":8067,"tx_bytes":1218643296,"tx_pkts":2556228,"type":"ap","uptime":1593120,"version":"0.14.29313"}]'
                - '[{"arp_table_stats":{"arp_table_count":21,"max_entries_supported":64000},"auto_upgrade_stat":{"lastcheck":1720595477},"cert_expiry":1743292763,"cluster_config":{"configuration":"active-active","control_link_info":{"name":"fxp1","status":"Up"},"ethernet_connection":[{"name":"reth0","status":"Up"},{"name":"reth1","status":"Up"},{"name":"reth2","status":"Down"},{"name":"reth3","status":"Down"},{"name":"reth4","status":"Up"}],"fabric_link_info":{"DataPlaneNotifiedStatus":"Up","Interface":[],"InternalStatus":"Up","State":"Enabled","Status":"Enabled"},"last_status_change_reason":"No failures","operational":"active-active","primary_node_health":"Healthy","redundancy_group_information":[{"Id":0,"MonitoringFailure":"none","Threshold":255},{"Id":1,"MonitoringFailure":"interface-monitoring","Threshold":0},{"Id":2,"MonitoringFailure":"none","Threshold":255}],"secondary_node_health":"Not healthy","status":"Green"},"config_status":"COMMITED","config_timestamp":1720182848,"config_version":1720182848,"cpu2_stat":{"idle":86,"interrupt":0,"load_avg":[0.13,0.17,0.16],"system":5,"user":9},"cpu_stat":{"idle":76,"interrupt":0,"load_avg":[0.18,0.31,0.39],"system":10,"user":14},"created_time":1711756611,"deviceprofile_id":"5e5daedf-e650-4013-b41c-845f0d2b9414","deviceprofile_name":"wan_srx_tor_hub1","dhcpd_stat":{"byod_dc1":{"num_ips":100,"num_leased":0},"corp_dc1":{"num_ips":100,"num_leased":4},"guest_dc1":{"num_ips":241,"num_leased":0},"iot_dc1":{"num_ips":100,"num_leased":0},"mgmt_dc1":{"num_ips":100,"num_leased":2},"teleworker":{"num_ips":140,"num_leased":0}},"ext_ip":"69.196.157.189","fwupdate":{"progress":100,"status":"upgraded","status_id":3037,"timestamp":1718392692.580769,"will_retry":false},"has_pcap":false,"hostname":"wan_srx_tor_hub1-srx","id":"00000000-0000-0000-1000-4db14e107134","if_stat":{"ge-0/0/5.130":{"address_mode":"Unknown","nat_addresses":[],"network_name":"","port_id":"ge-0/0/5","port_usage":"lan","rx_bytes":0,"rx_pkts":0,"tx_bytes":0,"tx_pkts":0,"up":true,"vlan":0},"ge-1/0/5.120":{"address_mode":"Unknown","nat_addresses":[],"network_name":"","port_id":"ge-1/0/5","port_usage":"lan","rx_bytes":0,"rx_pkts":0,"tx_bytes":0,"tx_pkts":0,"up":true,"vlan":0}},"ip":"69.196.157.190","ip_stat":{"gateway":"69.196.157.185","ip":"69.196.157.190","ips":{"vlan1":"69.196.157.190,69.196.157.190"},"netmask":"255.255.255.255"},"is_ha":true,"last_seen":1720598726,"mac":"4db14e107134","mac_table_stats":{"mac_table_count":0,"max_mac_entries_supported":160000},"memory2_stat":{"usage":32},"memory_stat":{"usage":39},"model":"SRX300","modified_time":1720092942,"module2_stat":[{"backup_version":"21.2R3-S7.7","fans":[],"last_seen":1720598717,"mac":"ec38739270c0","model":"SRX300","psus":[{"name":"Power Supply 0","status":"ok"}],"recovery_version":"21.2R3-S7.7","serial":"CV2218AF1505","status":"connected","temperatures":[{"celsius":49,"name":"Routing Engine","status":"ok"},{"celsius":64,"name":"Routing Engine CPU","status":"ok"}],"uptime":580964,"vc_links":[{"neighbor_module_idx":0,"neighbor_port_id":"fxp1","port_id":"fxp1"}],"vc_role":"secondary","vc_state":"active","version":"21.2R3-S6.11"}],"module_stat":[{"backup_version":"21.2R3-S7.7","fans":[],"last_seen":1720598716.999985,"mac":"4db14e107134","model":"SRX300","psus":[{"name":"Power Supply 0","status":"ok"}],"recovery_version":"21.2R3-S7.7","serial":"CV0219AN0335","status":"connected","temperatures":[{"celsius":49,"name":"Routing Engine","status":"ok"},{"celsius":65,"name":"Routing Engine CPU","status":"ok"}],"uptime":1945193,"vc_links":[{"neighbor_module_idx":1,"neighbor_port_id":"fxp1","port_id":"fxp1"}],"vc_role":"primary","vc_state":"active","version":"21.2R3-S6.11"}],"name":"wan_srx_tor_hub1-srx","org_id":"af010e2b-f829-4975-b49e-2e896ed1d627","route_summary_stats":{"fib_routes":0,"max_unicast_routes_supported":1240000,"rib_routes":0,"total_routes":0},"serial":"CV0219AN0335","service_stat":{},"service_status":{"appid_status":"enabled","appid_version":3720,"ewf_status":"disabled","idp_install_result":"successful","idp_install_timestamp":"2024-07-10T06:29:11.708164029Z","idp_status":"disabled","idp_update_timestamp":"2024-07-10T06:28:28.567046244Z"},"site_id":"83c31971-ad70-4419-ae20-7f2b90748986","spu2_stat":[{"spu_cpu":0,"spu_current_session":39,"spu_max_session":32768,"spu_memory":31,"spu_pending_session":0,"spu_uptime":1944572,"spu_valid_session":0}],"spu_stat":[{"spu_cpu":1,"spu_current_session":47,"spu_max_session":32768,"spu_memory":34,"spu_pending_session":0,"spu_uptime":1944572,"spu_valid_session":0}],"status":"connected","tag_id":3550217,"tag_uuid":"af010e2b-f829-4975-b49e-2e896ed1d627","type":"gateway","uptime":581259,"version":"21.2R3-S6.11"}]'
                - '[{"ap_redundancy":{"num_aps":1,"num_aps_with_switch_redundancy":1},"arp_table_stats":{"arp_table_count":16,"max_entries_supported":32000},"auto_upgrade_stat":{"lastcheck":1720600596},"cert_expiry":1743932274,"clients":[{"device_mac":"0912f561b653","mac":"001132f5ad23","port_id":"ge-1/0/11"}],"clients_stats":{"total":{"num_aps":[0,0],"num_wired_clients":13}},"config_status":"COMMITED","config_timestamp":1720552389,"config_version":1720552389,"cpu_stat":{"idle":74,"interrupt":0,"load_avg":[0.8,0.75,0.78],"system":13,"user":13},"created_time":1712346090,"dhcpd_stat":{"ifo":{"num_ips":5,"num_leased":0}},"ext_ip":"153.142.221.41","fw_versions_outofsync":false,"fwupdate":{"progress":100,"status":"upgraded","status_id":3037,"timestamp":1712409702.9714448,"will_retry":false},"has_pcap":true,"hostname":"SW-HLAB-ea2e00","hw_rev":"A","id":"00000000-0000-0000-1000-0912f561b653","if_stat":{"ge-0/0/5.0":{"port_id":"ge-0/0/5","rx_bytes":0,"rx_pkts":78110,"tx_bytes":0,"tx_pkts":61037,"up":true},"ge-1/0/0.0":{"port_id":"ge-1/0/0","rx_bytes":0,"rx_pkts":56415,"tx_bytes":0,"tx_pkts":72209,"up":true},"irb.172":{"ips":["10.3.172.41/24"],"port_id":"irb","rx_bytes":0,"rx_pkts":1291755,"servp_info":{},"tx_bytes":0,"tx_pkts":990327,"up":true,"vlan":172},"vme.0":{"port_id":"vme","rx_bytes":0,"rx_pkts":0,"tx_bytes":0,"tx_pkts":0,"up":true}},"ip":"10.3.10.10","ip_stat":{"gateway":"10.3.172.9","ip":"10.3.10.10","ips":{"vlan172":"10.3.172.41"},"netmask":"255.255.255.255"},"last_seen":1720601189,"last_trouble":{"code":"103","timestamp":1712412455215},"mac":"0912f561b653","mac_table_stats":{"mac_table_count":58,"max_mac_entries_supported":64000},"memory_stat":{"usage":16},"model":"EX4100-F-12P","modified_time":1720552388,"module_stat":[{"boot_partition":"junos","cpu_stat":{"idle":74,"interrupt":0,"load_avg":[0.8,0.75,0.78],"system":13,"user":13},"fpc_idx":0,"mac":"0912f561b653","memory_stat":{"usage":16},"model":"EX4100-F-12P","pics":[{"index":0,"model_number":"EX4100-F-12P","port_groups":[{"count":12,"type":"GE"}]},{"index":1,"model_number":"EX4100-F-12P","port_groups":[{"count":4,"type":"SFP/SFP+"}]},{"index":2,"model_number":"EX4100-F-12P","port_groups":[{"count":2,"type":"GE"}]}],"poe":{"max_power":180,"power_draw":7.3},"psus":[{"name":"Power Supply 0","status":"ok"},{"name":"Power Supply 1","status":"absent"},{"name":"Power Supply 2","status":"absent"}],"serial":"FJ0324AV0077","temperatures":[{"celsius":51,"name":"Thermal board Sensor 1","status":"ok"},{"celsius":51,"name":"Thermal board Sensor 2","status":"ok"},{"celsius":50,"name":"Thermal board Sensor 3","status":"ok"},{"celsius":57,"name":"PFE Die Sensor","status":"ok"}],"type":"fpc","uptime":1692720,"vc_links":[{"neighbor_module_idx":1,"neighbor_port_id":"vcp-1/1/1","port_id":"vcp-0/1/0"},{"neighbor_module_idx":1,"neighbor_port_id":"vcp-1/1/0","port_id":"vcp-0/1/1"}],"vc_mode":"HiGiG","vc_role":"master","vc_state":"present","version":"22.4R3.25"},{"boot_partition":"junos","cpu_stat":{"idle":79,"interrupt":0,"load_avg":[0.52,0.46,0.46],"system":6,"user":15},"fpc_idx":1,"mac":"485a0deb2380","memory_stat":{"usage":14},"model":"EX4100-F-12P","pics":[{"index":0,"model_number":"EX4100-F-12P","port_groups":[{"count":12,"type":"GE"}]},{"index":1,"model_number":"EX4100-F-12P","port_groups":[{"count":4,"type":"SFP/SFP+"}]},{"index":2,"model_number":"EX4100-F-12P","port_groups":[{"count":2,"type":"GE"}]}],"poe":{"max_power":180,"power_draw":22.1},"psus":[{"name":"Power Supply 0","status":"ok"},{"name":"Power Supply 1","status":"absent"},{"name":"Power Supply 2","status":"absent"}],"serial":"FJ0424AV0101","temperatures":[{"celsius":52,"name":"Thermal board Sensor 1","status":"ok"},{"celsius":53,"name":"Thermal board Sensor 2","status":"ok"},{"celsius":52,"name":"Thermal board Sensor 3","status":"ok"},{"celsius":59,"name":"PFE Die Sensor","status":"ok"}],"type":"fpc","uptime":1692720,"vc_links":[{"neighbor_module_idx":0,"neighbor_port_id":"vcp-0/1/1","port_id":"vcp-1/1/0"},{"neighbor_module_idx":0,"neighbor_port_id":"vcp-0/1/0","port_id":"vcp-1/1/1"}],"vc_mode":"HiGiG","vc_role":"backup","vc_state":"present","version":"22.4R3.25"}],"name":"SW-HLAB-ea2e00","org_id":"c5324060-19da-48fa-af28-2b530bd08765","route_summary_stats":{"fib_routes":7,"max_unicast_routes_supported":32150,"rib_routes":40,"total_routes":3},"serial":"FJ0324AV0077","site_id":"a0e43ffb-94a6-4f27-92aa-9cf832e1143d","status":"connected","tag_id":3564806,"tag_uuid":"507604a4-6b34-449c-acb3-87955430b006","type":"switch","uptime":1692720,"vc_mac":"0912f561b653","vc_setup_info":{"config_type":"nonprovisioned","err_missing_dev_id_fpc":false},"version":"22.4R3.25"}]'
                contentMediaType: application/json
              examples:
                Access Point Stats:
                  value:
                  - auto_upgrade_stat:
                      lastcheck: 1720594762
                    ble_stat:
                      beacon_enabled: true
                      beacon_rate: 4
                      eddystone_uid_enabled: false
                      eddystone_uid_freq_msec: 1000
                      eddystone_uid_instance: 5c5b35d0077b
                      eddystone_uid_namespace: 9777c1a06ef611e68bbf
                      eddystone_url_enabled: false
                      eddystone_url_freq_msec: 1000
                      eddystone_url_url: ''
                      ibeacon_enabled: false
                      ibeacon_freq_msec: 1000
                      ibeacon_major: 894
                      ibeacon_minor: 9328
                      ibeacon_uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                      major: 894
                      minors:
                      - 9328
                      - 9329
                      - 9330
                      - 9331
                      - 9332
                      - 9333
                      - 9334
                      - 9335
                      - -1
                      power: 8
                      rx_bytes: 158500843
                      rx_pkts: 3549163
                      tx_bytes: 509640
                      tx_pkts: 85411
                      tx_resets: 0
                      uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                    config_reverted: false
                    cpu_system: 21921854
                    cpu_user: 7496631
                    cpu_util: 5
                    created_time: 1718228350
                    env_stat:
                      accel_x: -0.092
                      accel_y: 0.004
                      accel_z: -1.02
                      ambient_temp: 43
                      attitude: 0
                      cpu_temp: 53
                      humidity: 9
                      magne_x: 0
                      magne_y: 0
                      magne_z: 0
                      pressure: 968
                      vcore_voltage: 0
                    ext_ip: 66.129.234.28
                    hw_rev: C02
                    id: 00000000-0000-0000-1000-5c5b35d0077b
                    inactive_wired_vlans: []
                    ip: 192.168.95.3
                    ip_stat:
                      dhcp_server: 192.168.95.1
                      dns:
                      - 8.8.8.8
                      gateway: 192.168.95.1
                      ip: 192.168.95.3
                      ip6: fe80:0:0:0:5e5b:35ff:fed0:77b
                      ips:
                        vlan1: 192.168.95.3/24,fe80:0:0:0:5e5b:35ff:fed0:77b/64
                      netmask: 255.255.255.0
                      netmask6: /64
                    last_seen: 1720595866
                    last_trouble:
                      code: '07'
                      timestamp: 1720039666
                    lldp_stat:
                      chassis_id: d0:07:ca:f5:21:00
                      lldp_med_supported: false
                      mgmt_addr: 100.123.105.1
                      mgmt_addrs:
                      - 100.123.105.1
                      port_desc: ge-0/0/4
                      port_id: ge-0/0/4
                      power_allocated: 0
                      power_draw: 0
                      power_request_count: 0
                      power_requested: 0
                      system_desc: 'Juniper Networks, Inc. ex4300-48t internet router, kernel JUNOS 20.4R3-S7.2, Build date: 2023-04-21 19:47:18 UTC Copyright (c) 1996-2023 Juniper Networks, Inc.'
                      system_name: Phoenix-Switch
                    mac: 5c5b35d0077b
                    mem_total_kb: 505468
                    mem_used_kb: 202096
                    model: AP43
                    modified_time: 1718530662
                    mount: faceup
                    name: Phoenix
                    notes: ''
                    num_clients: 1
                    org_id: af010e2b-f829-4975-b49e-2e896ed1d627
                    port_stat:
                      eth0:
                        full_duplex: true
                        rx_bytes: 1284143195
                        rx_errors: 0
                        rx_peak_bps: 17585
                        rx_pkts: 5199816
                        speed: 1000
                        tx_bytes: 1283744961
                        tx_peak_bps: 26484
                        tx_pkts: 3990463
                        up: true
                      eth1:
                        full_duplex: false
                        rx_bytes: 0
                        rx_errors: 0
                        rx_peak_bps: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_peak_bps: 0
                        tx_pkts: 0
                        up: false
                    power_budget: 8400
                    power_constrained: false
                    power_src: DC Input
                    radio_config: {}
                    radio_stat:
                      band_24:
                        bandwidth: 20
                        channel: 11
                        mac: 5c5b35dea810
                        noise_floor: -80
                        num_clients: 0
                        power: 17
                        rx_bytes: 12948211
                        rx_pkts: 65292
                        tx_bytes: 19071943
                        tx_pkts: 76926
                        usage: '24'
                        util_all: 24
                        util_non_wifi: 2
                        util_rx_in_bss: 0
                        util_rx_other_bss: 17
                        util_tx: 4
                        util_undecodable_wifi: 0
                        util_unknown_wifi: 1
                      band_5:
                        bandwidth: 40
                        channel: 36
                        mac: 5c5b35dea7f0
                        noise_floor: -90
                        num_clients: 1
                        power: 17
                        rx_bytes: 578362619
                        rx_pkts: 2687577
                        tx_bytes: 1199571353
                        tx_pkts: 2479302
                        usage: '5'
                        util_all: 13
                        util_non_wifi: 0
                        util_rx_in_bss: 0
                        util_rx_other_bss: 10
                        util_tx: 1
                        util_undecodable_wifi: 0
                        util_unknown_wifi: 1
                    rx_bps: 9276
                    rx_bytes: 591310830
                    rx_pkts: 2752869
                    serial: A0703200709E6
                    site_id: 46fc665e-9706-4296-8fe2-78f42f2e67e4
                    status: connected
                    switch_redundancy:
                      num_redundant_aps: 1
                    tx_bps: 8067
                    tx_bytes: 1218643296
                    tx_pkts: 2556228
                    type: ap
                    uptime: 1593120
                    version: 0.14.29313
                Gateway Stats:
                  value:
                  - arp_table_stats:
                      arp_table_count: 21
                      max_entries_supported: 64000
                    auto_upgrade_stat:
                      lastcheck: 1720595477
                    cert_expiry: 1743292763
                    cluster_config:
                      configuration: active-active
                      control_link_info:
                        name: fxp1
                        status: Up
                      ethernet_connection:
                      - name: reth0
                        status: Up
                      - name: reth1
                        status: Up
                      - name: reth2
                        status: Down
                      - name: reth3
                        status: Down
                      - name: reth4
                        status: Up
                      fabric_link_info:
                        DataPlaneNotifiedStatus: Up
                        Interface: []
                        InternalStatus: Up
                        State: Enabled
                        Status: Enabled
                      last_status_change_reason: No failures
                      operational: active-active
                      primary_node_health: Healthy
                      redundancy_group_information:
                      - Id: 0
                        MonitoringFailure: none
                        Threshold: 255
                      - Id: 1
                        MonitoringFailure: interface-monitoring
                        Threshold: 0
                      - Id: 2
                        MonitoringFailure: none
                        Threshold: 255
                      secondary_node_health: Not healthy
                      status: Green
                    config_status: COMMITED
                    config_timestamp: 1720182848
                    config_version: 1720182848
                    cpu2_stat:
                      idle: 86
                      interrupt: 0
                      load_avg:
                      - 0.13
                      - 0.17
                      - 0.16
                      system: 5
                      user: 9
                    cpu_stat:
                      idle: 76
                      interrupt: 0
                      load_avg:
                      - 0.18
                      - 0.31
                      - 0.39
                      system: 10
                      user: 14
                    created_time: 1711756611
                    deviceprofile_id: 5e5daedf-e650-4013-b41c-845f0d2b9414
                    deviceprofile_name: wan_srx_tor_hub1
                    dhcpd_stat:
                      byod_dc1:
                        num_ips: 100
                        num_leased: 0
                      corp_dc1:
                        num_ips: 100
                        num_leased: 4
                      guest_dc1:
                        num_ips: 241
                        num_leased: 0
                      iot_dc1:
                        num_ips: 100
                        num_leased: 0
                      mgmt_dc1:
                        num_ips: 100
                        num_leased: 2
                      teleworker:
                        num_ips: 140
                        num_leased: 0
                    ext_ip: 69.196.157.189
                    fwupdate:
                      progress: 100
                      status: upgraded
                      status_id: 3037
                      timestamp: 1718392692.580769
                      will_retry: false
                    has_pcap: false
                    hostname: wan_srx_tor_hub1-srx
                    id: 00000000-0000-0000-1000-4db14e107134
                    if_stat:
                      ge-0/0/5.130:
                        address_mode: Unknown
                        nat_addresses: []
                        network_name: ''
                        port_id: ge-0/0/5
                        port_usage: lan
                        rx_bytes: 0
                        rx_pkts: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                        vlan: 0
                      ge-1/0/5.120:
                        address_mode: Unknown
                        nat_addresses: []
                        network_name: ''
                        port_id: ge-1/0/5
                        port_usage: lan
                        rx_bytes: 0
                        rx_pkts: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                        vlan: 0
                    ip: 69.196.157.190
                    ip_stat:
                      gateway: 69.196.157.185
                      ip: 69.196.157.190
                      ips:
                        vlan1: 69.196.157.190,69.196.157.190
                      netmask: 255.255.255.255
                    is_ha: true
                    last_seen: 1720598726
                    mac: 4db14e107134
                    mac_table_stats:
                      mac_table_count: 0
                      max_mac_entries_supported: 160000
                    memory2_stat:
                      usage: 32
                    memory_stat:
                      usage: 39
                    model: SRX300
                    modified_time: 1720092942
                    module2_stat:
                    - backup_version: 21.2R3-S7.7
                      fans: []
                      last_seen: 1720598717
                      mac: ec38739270c0
                      model: SRX300
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.2R3-S7.7
                      serial: CV2218AF1505
                      status: connected
                      temperatures:
                      - celsius: 49
                        name: Routing Engine
                        status: ok
                      - celsius: 64
                        name: Routing Engine CPU
                        status: ok
                      uptime: 580964
                      vc_links:
                      - neighbor_module_idx: 0
                        neighbor_port_id: fxp1
                        port_id: fxp1
                      vc_role: secondary
                      vc_state: active
                      version: 21.2R3-S6.11
                    module_stat:
                    - backup_version: 21.2R3-S7.7
                      fans: []
                      last_seen: 1720598716.999985
                      mac: 4db14e107134
                      model: SRX300
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.2R3-S7.7
                      serial: CV0219AN0335
                      status: connected
                      temperatures:
                      - celsius: 49
                        name: Routing Engine
                        status: ok
                      - celsius: 65
                        name: Routing Engine CPU
                        status: ok
                      uptime: 1945193
                      vc_links:
                      - neighbor_module_idx: 1
                        neighbor_port_id: fxp1
                        port_id: fxp1
                      vc_role: primary
                      vc_state: active
                      version: 21.2R3-S6.11
                    name: wan_srx_tor_hub1-srx
                    org_id: af010e2b-f829-4975-b49e-2e896ed1d627
                    route_summary_stats:
                      fib_routes: 0
                      max_unicast_routes_supported: 1240000
                      rib_routes: 0
                      total_routes: 0
                    serial: CV0219AN0335
                    service_stat: {}
                    service_status:
                      appid_status: enabled
                      appid_version: 3720
                      ewf_status: disabled
                      idp_install_result: successful
                      idp_install_timestamp: 2024-07-10 06:29:11.708164+00:00
                      idp_status: disabled
                      idp_update_timestamp: 2024-07-10 06:28:28.567046+00:00
                    site_id: 83c31971-ad70-4419-ae20-7f2b90748986
                    spu2_stat:
                    - spu_cpu: 0
                      spu_current_session: 39
                      spu_max_session: 32768
                      spu_memory: 31
                      spu_pending_session: 0
                      spu_uptime: 1944572
                      spu_valid_session: 0
                    spu_stat:
                    - spu_cpu: 1
                      spu_current_session: 47
                      spu_max_session: 32768
                      spu_memory: 34
                      spu_pending_session: 0
                      spu_uptime: 1944572
                      spu_valid_session: 0
                    status: connected
                    tag_id: 3550217
                    tag_uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                    type: gateway
                    uptime: 581259
                    version: 21.2R3-S6.11
                Switch:
                  value:
                  - ap_redundancy:
                      num_aps: 1
                      num_aps_with_switch_redundancy: 1
                    arp_table_stats:
                      arp_table_count: 16
                      max_entries_supported: 32000
                    auto_upgrade_stat:
                      lastcheck: 1720600596
                    cert_expiry: 1743932274
                    clients:
                    - device_mac: 0912f561b653
                      mac: 001132f5ad23
                      port_id: ge-1/0/11
                    clients_stats:
                      total:
                        num_aps:
                        - 0
                        - 0
                        num_wired_clients: 13
                    config_status: COMMITED
                    config_timestamp: 1720552389
                    config_version: 1720552389
                    cpu_stat:
                      idle: 74
                      interrupt: 0
                      load_avg:
                      - 0.8
                      - 0.75
                      - 0.78
                      system: 13
                      user: 13
                    created_time: 1712346090
                    dhcpd_stat:
                      ifo:
                        num_ips: 5
                        num_leased: 0
                    ext_ip: 153.142.221.41
                    fw_versions_outofsync: false
                    fwupdate:
                      progress: 100
                      status: upgraded
                      status_id: 3037
                      timestamp: 1712409702.9714448
                      will_retry: false
                    has_pcap: true
                    hostname: SW-HLAB-ea2e00
                    hw_rev: A
                    id: 00000000-0000-0000-1000-0912f561b653
                    if_stat:
                      ge-0/0/5.0:
                        port_id: ge-0/0/5
                        rx_bytes: 0
                        rx_pkts: 78110
                        tx_bytes: 0
                        tx_pkts: 61037
                        up: true
                      ge-1/0/0.0:
                        port_id: ge-1/0/0
                        rx_bytes: 0
                        rx_pkts: 56415
                        tx_bytes: 0
                        tx_pkts: 72209
                        up: true
                      irb.172:
                        ips:
                        - 10.3.172.41/24
                        port_id: irb
                        rx_bytes: 0
                        rx_pkts: 1291755
                        servp_info: {}
                        tx_bytes: 0
                        tx_pkts: 990327
                        up: true
                        vlan: 172
                      vme.0:
                        port_id: vme
                        rx_bytes: 0
                        rx_pkts: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                    ip: 10.3.10.10
                    ip_stat:
                      gateway: 10.3.172.9
                      ip: 10.3.10.10
                      ips:
                        vlan172: 10.3.172.41
                      netmask: 255.255.255.255
                    last_seen: 1720601189
                    last_trouble:
                      code: '103'
                      timestamp: 1712412455215
                    mac: 0912f561b653
                    mac_table_stats:
                      mac_table_count: 58
                      max_mac_entries_supported: 64000
                    memory_stat:
                      usage: 16
                    model: EX4100-F-12P
                    modified_time: 1720552388
                    module_stat:
                    - boot_partition: junos
                      cpu_stat:
                        idle: 74
                        interrupt: 0
                        load_avg:
                        - 0.8
                        - 0.75
                        - 0.78
                        system: 13
                        user: 13
                      fpc_idx: 0
                      mac: 0912f561b653
                      memory_stat:
                        usage: 16
                      model: EX4100-F-12P
                      pics:
                      - index: 0
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 12
                          type: GE
                      - index: 1
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      - index: 2
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 2
                          type: GE
                      poe:
                        max_power: 180
                        power_draw: 7.3
                      psus:
                      - name: Power Supply 0
                        status: ok
                      - name: Power Supply 1
                        status: absent
                      - name: Power Supply 2
                        status: absent
                      serial: FJ0324AV0077
                      temperatures:
                      - celsius: 51
                        name: Thermal board Sensor 1
                        status: ok
                      - celsius: 51
                        name: Thermal board Sensor 2
                        status: ok
                      - celsius: 50
                        name: Thermal board Sensor 3
                        status: ok
                      - celsius: 57
                        name: PFE Die Sensor
                        status: ok
                      type: fpc
                      uptime: 1692720
                      vc_links:
                      - neighbor_module_idx: 1
                        neighbor_port_id: vcp-1/1/1
                        port_id: vcp-0/1/0
                      - neighbor_module_idx: 1
                        neighbor_port_id: vcp-1/1/0
                        port_id: vcp-0/1/1
                      vc_mode: HiGiG
                      vc_role: master
                      vc_state: present
                      version: 22.4R3.25
                    - boot_partition: junos
                      cpu_stat:
                        idle: 79
                        interrupt: 0
                        load_avg:
                        - 0.52
                        - 0.46
                        - 0.46
                        system: 6
                        user: 15
                      fpc_idx: 1
                      mac: 485a0deb2380
                      memory_stat:
                        usage: 14
                      model: EX4100-F-12P
                      pics:
                      - index: 0
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 12
                          type: GE
                      - index: 1
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      - index: 2
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 2
                          type: GE
                      poe:
                        max_power: 180
                        power_draw: 22.1
                      psus:
                      - name: Power Supply 0
                        status: ok
                      - name: Power Supply 1
                        status: absent
                      - name: Power Supply 2
                        status: absent
                      serial: FJ0424AV0101
                      temperatures:
                      - celsius: 52
                        name: Thermal board Sensor 1
                        status: ok
                      - celsius: 53
                        name: Thermal board Sensor 2
                        status: ok
                      - celsius: 52
                        name: Thermal board Sensor 3
                        status: ok
                      - celsius: 59
                        name: PFE Die Sensor
                        status: ok
                      type: fpc
                      uptime: 1692720
                      vc_links:
                      - neighbor_module_idx: 0
                        neighbor_port_id: vcp-0/1/1
                        port_id: vcp-1/1/0
                      - neighbor_module_idx: 0
                        neighbor_port_id: vcp-0/1/0
                        port_id: vcp-1/1/1
                      vc_mode: HiGiG
                      vc_role: backup
                      vc_state: present
                      version: 22.4R3.25
                    name: SW-HLAB-ea2e00
                    org_id: c5324060-19da-48fa-af28-2b530bd08765
                    route_summary_stats:
                      fib_routes: 7
                      max_unicast_routes_supported: 32150
                      rib_routes: 40
                      total_routes: 3
                    serial: FJ0324AV0077
                    site_id: a0e43ffb-94a6-4f27-92aa-9cf832e1143d
                    status: connected
                    tag_id: 3564806
                    tag_uuid: 507604a4-6b34-449c-acb3-87955430b006
                    type: switch
                    uptime: 1692720
                    vc_mac: 0912f561b653
                    vc_setup_info:
                      config_type: nonprovisioned
                      err_missing_dev_id_fpc: false
                    version: 22.4R3.25
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_device'
                description: Device statistics records returned by a stats response
                examples:
                - '[{"auto_upgrade_stat":{"lastcheck":1720594762},"ble_stat":{"beacon_enabled":true,"beacon_rate":4,"eddystone_uid_enabled":false,"eddystone_uid_freq_msec":1000,"eddystone_uid_instance":"5c5b35d0077b","eddystone_uid_namespace":"9777c1a06ef611e68bbf","eddystone_url_enabled":false,"eddystone_url_freq_msec":1000,"eddystone_url_url":"","ibeacon_enabled":false,"ibeacon_freq_msec":1000,"ibeacon_major":894,"ibeacon_minor":9328,"ibeacon_uuid":"af010e2b-f829-4975-b49e-2e896ed1d627","major":894,"minors":[9328,9329,9330,9331,9332,9333,9334,9335,-1],"power":8,"rx_bytes":158500843,"rx_pkts":3549163,"tx_bytes":509640,"tx_pkts":85411,"tx_resets":0,"uuid":"af010e2b-f829-4975-b49e-2e896ed1d627"},"config_reverted":false,"cpu_system":21921854,"cpu_user":7496631,"cpu_util":5,"created_time":1718228350,"env_stat":{"accel_x":-0.092,"accel_y":0.004,"accel_z":-1.02,"ambient_temp":43,"attitude":0,"cpu_temp":53,"humidity":9,"magne_x":0,"magne_y":0,"magne_z":0,"pressure":968,"vcore_voltage":0},"ext_ip":"66.129.234.28","hw_rev":"C02","id":"00000000-0000-0000-1000-5c5b35d0077b","inactive_wired_vlans":[],"ip":"192.168.95.3","ip_stat":{"dhcp_server":"192.168.95.1","dns":["8.8.8.8"],"gateway":"192.168.95.1","ip":"192.168.95.3","ip6":"fe80:0:0:0:5e5b:35ff:fed0:77b","ips":{"vlan1":"192.168.95.3/24,fe80:0:0:0:5e5b:35ff:fed0:77b/64"},"netmask":"255.255.255.0","netmask6":"/64"},"last_seen":1720595866,"last_trouble":{"code":"07","timestamp":1720039666},"lldp_stat":{"chassis_id":"d0:07:ca:f5:21:00","lldp_med_supported":false,"mgmt_addr":"100.123.105.1","mgmt_addrs":["100.123.105.1"],"port_desc":"ge-0/0/4","port_id":"ge-0/0/4","power_allocated":0,"power_draw":0,"power_request_count":0,"power_requested":0,"system_desc":"Juniper Networks, Inc. ex4300-48t internet router, kernel JUNOS 20.4R3-S7.2, Build date: 2023-04-21 19:47:18 UTC Copyright (c) 1996-2023 Juniper Networks, Inc.","system_name":"Phoenix-Switch"},"mac":"5c5b35d0077b","mem_total_kb":505468,"mem_used_kb":202096,"model":"AP43","modified_time":1718530662,"mount":"faceup","name":"Phoenix","notes":"","num_clients":1,"org_id":"af010e2b-f829-4975-b49e-2e896ed1d627","port_stat":{"eth0":{"full_duplex":true,"rx_bytes":1284143195,"rx_errors":0,"rx_peak_bps":17585,"rx_pkts":5199816,"speed":1000,"tx_bytes":1283744961,"tx_peak_bps":26484,"tx_pkts":3990463,"up":true},"eth1":{"full_duplex":false,"rx_bytes":0,"rx_errors":0,"rx_peak_bps":0,"rx_pkts":0,"speed":0,"tx_bytes":0,"tx_peak_bps":0,"tx_pkts":0,"up":false}},"power_budget":8400,"power_constrained":false,"power_src":"DC Input","radio_config":{},"radio_stat":{"band_24":{"bandwidth":20,"channel":11,"mac":"5c5b35dea810","noise_floor":-80,"num_clients":0,"power":17,"rx_bytes":12948211,"rx_pkts":65292,"tx_bytes":19071943,"tx_pkts":76926,"usage":"24","util_all":24,"util_non_wifi":2,"util_rx_in_bss":0,"util_rx_other_bss":17,"util_tx":4,"util_undecodable_wifi":0,"util_unknown_wifi":1},"band_5":{"bandwidth":40,"channel":36,"mac":"5c5b35dea7f0","noise_floor":-90,"num_clients":1,"power":17,"rx_bytes":578362619,"rx_pkts":2687577,"tx_bytes":1199571353,"tx_pkts":2479302,"usage":"5","util_all":13,"util_non_wifi":0,"util_rx_in_bss":0,"util_rx_other_bss":10,"util_tx":1,"util_undecodable_wifi":0,"util_unknown_wifi":1}},"rx_bps":9276,"rx_bytes":591310830,"rx_pkts":2752869,"serial":"A0703200709E6","site_id":"46fc665e-9706-4296-8fe2-78f42f2e67e4","status":"connected","switch_redundancy":{"num_redundant_aps":1},"tx_bps":8067,"tx_bytes":1218643296,"tx_pkts":2556228,"type":"ap","uptime":1593120,"version":"0.14.29313"}]'
                - '[{"arp_table_stats":{"arp_table_count":21,"max_entries_supported":64000},"auto_upgrade_stat":{"lastcheck":1720595477},"cert_expiry":1743292763,"cluster_config":{"configuration":"active-active","control_link_info":{"name":"fxp1","status":"Up"},"ethernet_connection":[{"name":"reth0","status":"Up"},{"name":"reth1","status":"Up"},{"name":"reth2","status":"Down"},{"name":"reth3","status":"Down"},{"name":"reth4","status":"Up"}],"fabric_link_info":{"DataPlaneNotifiedStatus":"Up","Interface":[],"InternalStatus":"Up","State":"Enabled","Status":"Enabled"},"last_status_change_reason":"No failures","operational":"active-active","primary_node_health":"Healthy","redundancy_group_information":[{"Id":0,"MonitoringFailure":"none","Threshold":255},{"Id":1,"MonitoringFailure":"interface-monitoring","Threshold":0},{"Id":2,"MonitoringFailure":"none","Threshold":255}],"secondary_node_health":"Not healthy","status":"Green"},"config_status":"COMMITED","config_timestamp":1720182848,"config_version":1720182848,"cpu2_stat":{"idle":86,"interrupt":0,"load_avg":[0.13,0.17,0.16],"system":5,"user":9},"cpu_stat":{"idle":76,"interrupt":0,"load_avg":[0.18,0.31,0.39],"system":10,"user":14},"created_time":1711756611,"deviceprofile_id":"5e5daedf-e650-4013-b41c-845f0d2b9414","deviceprofile_name":"wan_srx_tor_hub1","dhcpd_stat":{"byod_dc1":{"num_ips":100,"num_leased":0},"corp_dc1":{"num_ips":100,"num_leased":4},"guest_dc1":{"num_ips":241,"num_leased":0},"iot_dc1":{"num_ips":100,"num_leased":0},"mgmt_dc1":{"num_ips":100,"num_leased":2},"teleworker":{"num_ips":140,"num_leased":0}},"ext_ip":"69.196.157.189","fwupdate":{"progress":100,"status":"upgraded","status_id":3037,"timestamp":1718392692.580769,"will_retry":false},"has_pcap":false,"hostname":"wan_srx_tor_hub1-srx","id":"00000000-0000-0000-1000-4db14e107134","if_stat":{"ge-0/0/5.130":{"address_mode":"Unknown","nat_addresses":[],"network_name":"","port_id":"ge-0/0/5","port_usage":"lan","rx_bytes":0,"rx_pkts":0,"tx_bytes":0,"tx_pkts":0,"up":true,"vlan":0},"ge-1/0/5.120":{"address_mode":"Unknown","nat_addresses":[],"network_name":"","port_id":"ge-1/0/5","port_usage":"lan","rx_bytes":0,"rx_pkts":0,"tx_bytes":0,"tx_pkts":0,"up":true,"vlan":0}},"ip":"69.196.157.190","ip_stat":{"gateway":"69.196.157.185","ip":"69.196.157.190","ips":{"vlan1":"69.196.157.190,69.196.157.190"},"netmask":"255.255.255.255"},"is_ha":true,"last_seen":1720598726,"mac":"4db14e107134","mac_table_stats":{"mac_table_count":0,"max_mac_entries_supported":160000},"memory2_stat":{"usage":32},"memory_stat":{"usage":39},"model":"SRX300","modified_time":1720092942,"module2_stat":[{"backup_version":"21.2R3-S7.7","fans":[],"last_seen":1720598717,"mac":"ec38739270c0","model":"SRX300","psus":[{"name":"Power Supply 0","status":"ok"}],"recovery_version":"21.2R3-S7.7","serial":"CV2218AF1505","status":"connected","temperatures":[{"celsius":49,"name":"Routing Engine","status":"ok"},{"celsius":64,"name":"Routing Engine CPU","status":"ok"}],"uptime":580964,"vc_links":[{"neighbor_module_idx":0,"neighbor_port_id":"fxp1","port_id":"fxp1"}],"vc_role":"secondary","vc_state":"active","version":"21.2R3-S6.11"}],"module_stat":[{"backup_version":"21.2R3-S7.7","fans":[],"last_seen":1720598716.999985,"mac":"4db14e107134","model":"SRX300","psus":[{"name":"Power Supply 0","status":"ok"}],"recovery_version":"21.2R3-S7.7","serial":"CV0219AN0335","status":"connected","temperatures":[{"celsius":49,"name":"Routing Engine","status":"ok"},{"celsius":65,"name":"Routing Engine CPU","status":"ok"}],"uptime":1945193,"vc_links":[{"neighbor_module_idx":1,"neighbor_port_id":"fxp1","port_id":"fxp1"}],"vc_role":"primary","vc_state":"active","version":"21.2R3-S6.11"}],"name":"wan_srx_tor_hub1-srx","org_id":"af010e2b-f829-4975-b49e-2e896ed1d627","route_summary_stats":{"fib_routes":0,"max_unicast_routes_supported":1240000,"rib_routes":0,"total_routes":0},"serial":"CV0219AN0335","service_stat":{},"service_status":{"appid_status":"enabled","appid_version":3720,"ewf_status":"disabled","idp_install_result":"successful","idp_install_timestamp":"2024-07-10T06:29:11.708164029Z","idp_status":"disabled","idp_update_timestamp":"2024-07-10T06:28:28.567046244Z"},"site_id":"83c31971-ad70-4419-ae20-7f2b90748986","spu2_stat":[{"spu_cpu":0,"spu_current_session":39,"spu_max_session":32768,"spu_memory":31,"spu_pending_session":0,"spu_uptime":1944572,"spu_valid_session":0}],"spu_stat":[{"spu_cpu":1,"spu_current_session":47,"spu_max_session":32768,"spu_memory":34,"spu_pending_session":0,"spu_uptime":1944572,"spu_valid_session":0}],"status":"connected","tag_id":3550217,"tag_uuid":"af010e2b-f829-4975-b49e-2e896ed1d627","type":"gateway","uptime":581259,"version":"21.2R3-S6.11"}]'
                - '[{"ap_redundancy":{"num_aps":1,"num_aps_with_switch_redundancy":1},"arp_table_stats":{"arp_table_count":16,"max_entries_supported":32000},"auto_upgrade_stat":{"lastcheck":1720600596},"cert_expiry":1743932274,"clients":[{"device_mac":"0912f561b653","mac":"001132f5ad23","port_id":"ge-1/0/11"}],"clients_stats":{"total":{"num_aps":[0,0],"num_wired_clients":13}},"config_status":"COMMITED","config_timestamp":1720552389,"config_version":1720552389,"cpu_stat":{"idle":74,"interrupt":0,"load_avg":[0.8,0.75,0.78],"system":13,"user":13},"created_time":1712346090,"dhcpd_stat":{"ifo":{"num_ips":5,"num_leased":0}},"ext_ip":"153.142.221.41","fw_versions_outofsync":false,"fwupdate":{"progress":100,"status":"upgraded","status_id":3037,"timestamp":1712409702.9714448,"will_retry":false},"has_pcap":true,"hostname":"SW-HLAB-ea2e00","hw_rev":"A","id":"00000000-0000-0000-1000-0912f561b653","if_stat":{"ge-0/0/5.0":{"port_id":"ge-0/0/5","rx_bytes":0,"rx_pkts":78110,"tx_bytes":0,"tx_pkts":61037,"up":true},"ge-1/0/0.0":{"port_id":"ge-1/0/0","rx_bytes":0,"rx_pkts":56415,"tx_bytes":0,"tx_pkts":72209,"up":true},"irb.172":{"ips":["10.3.172.41/24"],"port_id":"irb","rx_bytes":0,"rx_pkts":1291755,"servp_info":{},"tx_bytes":0,"tx_pkts":990327,"up":true,"vlan":172},"vme.0":{"port_id":"vme","rx_bytes":0,"rx_pkts":0,"tx_bytes":0,"tx_pkts":0,"up":true}},"ip":"10.3.10.10","ip_stat":{"gateway":"10.3.172.9","ip":"10.3.10.10","ips":{"vlan172":"10.3.172.41"},"netmask":"255.255.255.255"},"last_seen":1720601189,"last_trouble":{"code":"103","timestamp":1712412455215},"mac":"0912f561b653","mac_table_stats":{"mac_table_count":58,"max_mac_entries_supported":64000},"memory_stat":{"usage":16},"model":"EX4100-F-12P","modified_time":1720552388,"module_stat":[{"boot_partition":"junos","cpu_stat":{"idle":74,"interrupt":0,"load_avg":[0.8,0.75,0.78],"system":13,"user":13},"fpc_idx":0,"mac":"0912f561b653","memory_stat":{"usage":16},"model":"EX4100-F-12P","pics":[{"index":0,"model_number":"EX4100-F-12P","port_groups":[{"count":12,"type":"GE"}]},{"index":1,"model_number":"EX4100-F-12P","port_groups":[{"count":4,"type":"SFP/SFP+"}]},{"index":2,"model_number":"EX4100-F-12P","port_groups":[{"count":2,"type":"GE"}]}],"poe":{"max_power":180,"power_draw":7.3},"psus":[{"name":"Power Supply 0","status":"ok"},{"name":"Power Supply 1","status":"absent"},{"name":"Power Supply 2","status":"absent"}],"serial":"FJ0324AV0077","temperatures":[{"celsius":51,"name":"Thermal board Sensor 1","status":"ok"},{"celsius":51,"name":"Thermal board Sensor 2","status":"ok"},{"celsius":50,"name":"Thermal board Sensor 3","status":"ok"},{"celsius":57,"name":"PFE Die Sensor","status":"ok"}],"type":"fpc","uptime":1692720,"vc_links":[{"neighbor_module_idx":1,"neighbor_port_id":"vcp-1/1/1","port_id":"vcp-0/1/0"},{"neighbor_module_idx":1,"neighbor_port_id":"vcp-1/1/0","port_id":"vcp-0/1/1"}],"vc_mode":"HiGiG","vc_role":"master","vc_state":"present","version":"22.4R3.25"},{"boot_partition":"junos","cpu_stat":{"idle":79,"interrupt":0,"load_avg":[0.52,0.46,0.46],"system":6,"user":15},"fpc_idx":1,"mac":"485a0deb2380","memory_stat":{"usage":14},"model":"EX4100-F-12P","pics":[{"index":0,"model_number":"EX4100-F-12P","port_groups":[{"count":12,"type":"GE"}]},{"index":1,"model_number":"EX4100-F-12P","port_groups":[{"count":4,"type":"SFP/SFP+"}]},{"index":2,"model_number":"EX4100-F-12P","port_groups":[{"count":2,"type":"GE"}]}],"poe":{"max_power":180,"power_draw":22.1},"psus":[{"name":"Power Supply 0","status":"ok"},{"name":"Power Supply 1","status":"absent"},{"name":"Power Supply 2","status":"absent"}],"serial":"FJ0424AV0101","temperatures":[{"celsius":52,"name":"Thermal board Sensor 1","status":"ok"},{"celsius":53,"name":"Thermal board Sensor 2","status":"ok"},{"celsius":52,"name":"Thermal board Sensor 3","status":"ok"},{"celsius":59,"name":"PFE Die Sensor","status":"ok"}],"type":"fpc","uptime":1692720,"vc_links":[{"neighbor_module_idx":0,"neighbor_port_id":"vcp-0/1/1","port_id":"vcp-1/1/0"},{"neighbor_module_idx":0,"neighbor_port_id":"vcp-0/1/0","port_id":"vcp-1/1/1"}],"vc_mode":"HiGiG","vc_role":"backup","vc_state":"present","version":"22.4R3.25"}],"name":"SW-HLAB-ea2e00","org_id":"c5324060-19da-48fa-af28-2b530bd08765","route_summary_stats":{"fib_routes":7,"max_unicast_routes_supported":32150,"rib_routes":40,"total_routes":3},"serial":"FJ0324AV0077","site_id":"a0e43ffb-94a6-4f27-92aa-9cf832e1143d","status":"connected","tag_id":3564806,"tag_uuid":"507604a4-6b34-449c-acb3-87955430b006","type":"switch","uptime":1692720,"vc_mac":"0912f561b653","vc_setup_info":{"config_type":"nonprovisioned","err_missing_dev_id_fpc":false},"version":"22.4R3.25"}]'
                contentMediaType: application/vnd.api+json
              examples:
                Access Point Stats:
                  value:
                  - auto_upgrade_stat:
                      lastcheck: 1720594762
                    ble_stat:
                      beacon_enabled: true
                      beacon_rate: 4
                      eddystone_uid_enabled: false
                      eddystone_uid_freq_msec: 1000
                      eddystone_uid_instance: 5c5b35d0077b
                      eddystone_uid_namespace: 9777c1a06ef611e68bbf
                      eddystone_url_enabled: false
                      eddystone_url_freq_msec: 1000
                      eddystone_url_url: ''
                      ibeacon_enabled: false
                      ibeacon_freq_msec: 1000
                      ibeacon_major: 894
                      ibeacon_minor: 9328
                      ibeacon_uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                      major: 894
                      minors:
                      - 9328
                      - 9329
                      - 9330
                      - 9331
                      - 9332
                      - 9333
                      - 9334
                      - 9335
                      - -1
                      power: 8
                      rx_bytes: 158500843
                      rx_pkts: 3549163
                      tx_bytes: 509640
                      tx_pkts: 85411
                      tx_resets: 0
                      uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                    config_reverted: false
                    cpu_system: 21921854
                    cpu_user: 7496631
                    cpu_util: 5
                    created_time: 1718228350
                    env_stat:
                      accel_x: -0.092
                      accel_y: 0.004
                      accel_z: -1.02
                      ambient_temp: 43
                      attitude: 0
                      cpu_temp: 53
                      humidity: 9
                      magne_x: 0
                      magne_y: 0
                      magne_z: 0
                      pressure: 968
                      vcore_voltage: 0
                    ext_ip: 66.129.234.28
                    hw_rev: C02
                    id: 00000000-0000-0000-1000-5c5b35d0077b
                    inactive_wired_vlans: []
                    ip: 192.168.95.3
                    ip_stat:
                      dhcp_server: 192.168.95.1
                      dns:
                      - 8.8.8.8
                      gateway: 192.168.95.1
                      ip: 192.168.95.3
                      ip6: fe80:0:0:0:5e5b:35ff:fed0:77b
                      ips:
                        vlan1: 192.168.95.3/24,fe80:0:0:0:5e5b:35ff:fed0:77b/64
                      netmask: 255.255.255.0
                      netmask6: /64
                    last_seen: 1720595866
                    last_trouble:
                      code: '07'
                      timestamp: 1720039666
                    lldp_stat:
                      chassis_id: d0:07:ca:f5:21:00
                      lldp_med_supported: false
                      mgmt_addr: 100.123.105.1
                      mgmt_addrs:
                      - 100.123.105.1
                      port_desc: ge-0/0/4
                      port_id: ge-0/0/4
                      power_allocated: 0
                      power_draw: 0
                      power_request_count: 0
                      power_requested: 0
                      system_desc: 'Juniper Networks, Inc. ex4300-48t internet router, kernel JUNOS 20.4R3-S7.2, Build date: 2023-04-21 19:47:18 UTC Copyright (c) 1996-2023 Juniper Networks, Inc.'
                      system_name: Phoenix-Switch
                    mac: 5c5b35d0077b
                    mem_total_kb: 505468
                    mem_used_kb: 202096
                    model: AP43
                    modified_time: 1718530662
                    mount: faceup
                    name: Phoenix
                    notes: ''
                    num_clients: 1
                    org_id: af010e2b-f829-4975-b49e-2e896ed1d627
                    port_stat:
                      eth0:
                        full_duplex: true
                        rx_bytes: 1284143195
                        rx_errors: 0
                        rx_peak_bps: 17585
                        rx_pkts: 5199816
                        speed: 1000
                        tx_bytes: 1283744961
                        tx_peak_bps: 26484
                        tx_pkts: 3990463
                        up: true
                      eth1:
                        full_duplex: false
                        rx_bytes: 0
                        rx_errors: 0
                        rx_peak_bps: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_peak_bps: 0
                        tx_pkts: 0
                        up: false
                    power_budget: 8400
                    power_constrained: false
                    power_src: DC Input
                    radio_config: {}
                    radio_stat:
                      band_24:
                        bandwidth: 20
                        channel: 11
                        mac: 5c5b35dea810
                        noise_floor: -80
                        num_clients: 0
                        power: 17
                        rx_bytes: 12948211
                        rx_pkts: 65292
                        tx_bytes: 19071943
                        tx_pkts: 76926
                        usage: '24'
                        util_all: 24
                        util_non_wifi: 2
                        util_rx_in_bss: 0
                        util_rx_other_bss: 17
                        util_tx: 4
                        util_undecodable_wifi: 0
                        util_unknown_wifi: 1
                      band_5:
                        bandwidth: 40
                        channel: 36
                        mac: 5c5b35dea7f0
                        noise_floor: -90
                        num_clients: 1
                        power: 17
                        rx_bytes: 578362619
                        rx_pkts: 2687577
                        tx_bytes: 1199571353
                        tx_pkts: 2479302
                        usage: '5'
                        util_all: 13
                        util_non_wifi: 0
                        util_rx_in_bss: 0
                        util_rx_other_bss: 10
                        util_tx: 1
                        util_undecodable_wifi: 0
                        util_unknown_wifi: 1
                    rx_bps: 9276
                    rx_bytes: 591310830
                    rx_pkts: 2752869
                    serial: A0703200709E6
                    site_id: 46fc665e-9706-4296-8fe2-78f42f2e67e4
                    status: connected
                    switch_redundancy:
                      num_redundant_aps: 1
                    tx_bps: 8067
                    tx_bytes: 1218643296
                    tx_pkts: 2556228
                    type: ap
                    uptime: 1593120
                    version: 0.14.29313
                Gateway Stats:
                  value:
                  - arp_table_stats:
                      arp_table_count: 21
                      max_entries_supported: 64000
                    auto_upgrade_stat:
                      lastcheck: 1720595477
                    cert_expiry: 1743292763
                    cluster_config:
                      configuration: active-active
                      control_link_info:
                        name: fxp1
                        status: Up
                      ethernet_connection:
                      - name: reth0
                        status: Up
                      - name: reth1
                        status: Up
                      - name: reth2
                        status: Down
                      - name: reth3
                        status: Down
                      - name: reth4
                        status: Up
                      fabric_link_info:
                        DataPlaneNotifiedStatus: Up
                        Interface: []
                        InternalStatus: Up
                        State: Enabled
                        Status: Enabled
                      last_status_change_reason: No failures
                      operational: active-active
                      primary_node_health: Healthy
                      redundancy_group_information:
                      - Id: 0
                        MonitoringFailure: none
                        Threshold: 255
                      - Id: 1
                        MonitoringFailure: interface-monitoring
                        Threshold: 0
                      - Id: 2
                        MonitoringFailure: none
                        Threshold: 255
                      secondary_node_health: Not healthy
                      status: Green
                    config_status: COMMITED
                    config_timestamp: 1720182848
                    config_version: 1720182848
                    cpu2_stat:
                      idle: 86
                      interrupt: 0
                      load_avg:
                      - 0.13
                      - 0.17
                      - 0.16
                      system: 5
                      user: 9
                    cpu_stat:
                      idle: 76
                      interrupt: 0
                      load_avg:
                      - 0.18
                      - 0.31
                      - 0.39
                      system: 10
                      user: 14
                    created_time: 1711756611
                    deviceprofile_id: 5e5daedf-e650-4013-b41c-845f0d2b9414
                    deviceprofile_name: wan_srx_tor_hub1
                    dhcpd_stat:
                      byod_dc1:
                        num_ips: 100
                        num_leased: 0
                      corp_dc1:
                        num_ips: 100
                        num_leased: 4
                      guest_dc1:
                        num_ips: 241
                        num_leased: 0
                      iot_dc1:
                        num_ips: 100
                        num_leased: 0
                      mgmt_dc1:
                        num_ips: 100
                        num_leased: 2
                      teleworker:
                        num_ips: 140
                        num_leased: 0
                    ext_ip: 69.196.157.189
                    fwupdate:
                      progress: 100
                      status: upgraded
                      status_id: 3037
                      timestamp: 1718392692.580769
                      will_retry: false
                    has_pcap: false
                    hostname: wan_srx_tor_hub1-srx
                    id: 00000000-0000-0000-1000-4db14e107134
                    if_stat:
                      ge-0/0/5.130:
                        address_mode: Unknown
                        nat_addresses: []
                        network_name: ''
                        port_id: ge-0/0/5
                        port_usage: lan
                        rx_bytes: 0
                        rx_pkts: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                        vlan: 0
                      ge-1/0/5.120:
                        address_mode: Unknown
                        nat_addresses: []
                        network_name: ''
                        port_id: ge-1/0/5
                        port_usage: lan
                        rx_bytes: 0
                        rx_pkts: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                        vlan: 0
                    ip: 69.196.157.190
                    ip_stat:
                      gateway: 69.196.157.185
                      ip: 69.196.157.190
                      ips:
                        vlan1: 69.196.157.190,69.196.157.190
                      netmask: 255.255.255.255
                    is_ha: true
                    last_seen: 1720598726
                    mac: 4db14e107134
                    mac_table_stats:
                      mac_table_count: 0
                      max_mac_entries_supported: 160000
                    memory2_stat:
                      usage: 32
                    memory_stat:
                      usage: 39
                    model: SRX300
                    modified_time: 1720092942
                    module2_stat:
                    - backup_version: 21.2R3-S7.7
                      fans: []
                      last_seen: 1720598717
                      mac: ec38739270c0
                      model: SRX300
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.2R3-S7.7
                      serial: CV2218AF1505
                      status: connected
                      temperatures:
                      - celsius: 49
                        name: Routing Engine
                        status: ok
                      - celsius: 64
                        name: Routing Engine CPU
                        status: ok
                      uptime: 580964
                      vc_links:
                      - neighbor_module_idx: 0
                        neighbor_port_id: fxp1
                        port_id: fxp1
                      vc_role: secondary
                      vc_state: active
                      version: 21.2R3-S6.11
                    module_stat:
                    - backup_version: 21.2R3-S7.7
                      fans: []
                      last_seen: 1720598716.999985
                      mac: 4db14e107134
                      model: SRX300
                      psus:
                      - name: Power Supply 0
                        status: ok
                      recovery_version: 21.2R3-S7.7
                      serial: CV0219AN0335
                      status: connected
                      temperatures:
                      - celsius: 49
                        name: Routing Engine
                        status: ok
                      - celsius: 65
                        name: Routing Engine CPU
                        status: ok
                      uptime: 1945193
                      vc_links:
                      - neighbor_module_idx: 1
                        neighbor_port_id: fxp1
                        port_id: fxp1
                      vc_role: primary
                      vc_state: active
                      version: 21.2R3-S6.11
                    name: wan_srx_tor_hub1-srx
                    org_id: af010e2b-f829-4975-b49e-2e896ed1d627
                    route_summary_stats:
                      fib_routes: 0
                      max_unicast_routes_supported: 1240000
                      rib_routes: 0
                      total_routes: 0
                    serial: CV0219AN0335
                    service_stat: {}
                    service_status:
                      appid_status: enabled
                      appid_version: 3720
                      ewf_status: disabled
                      idp_install_result: successful
                      idp_install_timestamp: 2024-07-10 06:29:11.708164+00:00
                      idp_status: disabled
                      idp_update_timestamp: 2024-07-10 06:28:28.567046+00:00
                    site_id: 83c31971-ad70-4419-ae20-7f2b90748986
                    spu2_stat:
                    - spu_cpu: 0
                      spu_current_session: 39
                      spu_max_session: 32768
                      spu_memory: 31
                      spu_pending_session: 0
                      spu_uptime: 1944572
                      spu_valid_session: 0
                    spu_stat:
                    - spu_cpu: 1
                      spu_current_session: 47
                      spu_max_session: 32768
                      spu_memory: 34
                      spu_pending_session: 0
                      spu_uptime: 1944572
                      spu_valid_session: 0
                    status: connected
                    tag_id: 3550217
                    tag_uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                    type: gateway
                    uptime: 581259
                    version: 21.2R3-S6.11
                Switch:
                  value:
                  - ap_redundancy:
                      num_aps: 1
                      num_aps_with_switch_redundancy: 1
                    arp_table_stats:
                      arp_table_count: 16
                      max_entries_supported: 32000
                    auto_upgrade_stat:
                      lastcheck: 1720600596
                    cert_expiry: 1743932274
                    clients:
                    - device_mac: 0912f561b653
                      mac: 001132f5ad23
                      port_id: ge-1/0/11
                    clients_stats:
                      total:
                        num_aps:
                        - 0
                        - 0
                        num_wired_clients: 13
                    config_status: COMMITED
                    config_timestamp: 1720552389
                    config_version: 1720552389
                    cpu_stat:
                      idle: 74
                      interrupt: 0
                      load_avg:
                      - 0.8
                      - 0.75
                      - 0.78
                      system: 13
                      user: 13
                    created_time: 1712346090
                    dhcpd_stat:
                      ifo:
                        num_ips: 5
                        num_leased: 0
                    ext_ip: 153.142.221.41
                    fw_versions_outofsync: false
                    fwupdate:
                      progress: 100
                      status: upgraded
                      status_id: 3037
                      timestamp: 1712409702.9714448
                      will_retry: false
                    has_pcap: true
                    hostname: SW-HLAB-ea2e00
                    hw_rev: A
                    id: 00000000-0000-0000-1000-0912f561b653
                    if_stat:
                      ge-0/0/5.0:
                        port_id: ge-0/0/5
                        rx_bytes: 0
                        rx_pkts: 78110
                        tx_bytes: 0
                        tx_pkts: 61037
                        up: true
                      ge-1/0/0.0:
                        port_id: ge-1/0/0
                        rx_bytes: 0
                        rx_pkts: 56415
                        tx_bytes: 0
                        tx_pkts: 72209
                        up: true
                      irb.172:
                        ips:
                        - 10.3.172.41/24
                        port_id: irb
                        rx_bytes: 0
                        rx_pkts: 1291755
                        servp_info: {}
                        tx_bytes: 0
                        tx_pkts: 990327
                        up: true
                        vlan: 172
                      vme.0:
                        port_id: vme
                        rx_bytes: 0
                        rx_pkts: 0
                        tx_bytes: 0
                        tx_pkts: 0
                        up: true
                    ip: 10.3.10.10
                    ip_stat:
                      gateway: 10.3.172.9
                      ip: 10.3.10.10
                      ips:
                        vlan172: 10.3.172.41
                      netmask: 255.255.255.255
                    last_seen: 1720601189
                    last_trouble:
                      code: '103'
                      timestamp: 1712412455215
                    mac: 0912f561b653
                    mac_table_stats:
                      mac_table_count: 58
                      max_mac_entries_supported: 64000
                    memory_stat:
                      usage: 16
                    model: EX4100-F-12P
                    modified_time: 1720552388
                    module_stat:
                    - boot_partition: junos
                      cpu_stat:
                        idle: 74
                        interrupt: 0
                        load_avg:
                        - 0.8
                        - 0.75
                        - 0.78
                        system: 13
                        user: 13
                      fpc_idx: 0
                      mac: 0912f561b653
                      memory_stat:
                        usage: 16
                      model: EX4100-F-12P
                      pics:
                      - index: 0
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 12
                          type: GE
                      - index: 1
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      - index: 2
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 2
                          type: GE
                      poe:
                        max_power: 180
                        power_draw: 7.3
                      psus:
                      - name: Power Supply 0
                        status: ok
                      - name: Power Supply 1
                        status: absent
                      - name: Power Supply 2
                        status: absent
                      serial: FJ0324AV0077
                      temperatures:
                      - celsius: 51
                        name: Thermal board Sensor 1
                        status: ok
                      - celsius: 51
                        name: Thermal board Sensor 2
                        status: ok
                      - celsius: 50
                        name: Thermal board Sensor 3
                        status: ok
                      - celsius: 57
                        name: PFE Die Sensor
                        status: ok
                      type: fpc
                      uptime: 1692720
                      vc_links:
                      - neighbor_module_idx: 1
                        neighbor_port_id: vcp-1/1/1
                        port_id: vcp-0/1/0
                      - neighbor_module_idx: 1
                        neighbor_port_id: vcp-1/1/0
                        port_id: vcp-0/1/1
                      vc_mode: HiGiG
                      vc_role: master
                      vc_state: present
                      version: 22.4R3.25
                    - boot_partition: junos
                      cpu_stat:
                        idle: 79
                        interrupt: 0
                        load_avg:
                        - 0.52
                        - 0.46
                        - 0.46
                        system: 6
                        user: 15
                      fpc_idx: 1
                      mac: 485a0deb2380
                      memory_stat:
                        usage: 14
                      model: EX4100-F-12P
                      pics:
                      - index: 0
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 12
                          type: GE
                      - index: 1
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 4
                          type: SFP/SFP+
                      - index: 2
                        model_number: EX4100-F-12P
                        port_groups:
                        - count: 2
                          type: GE
                      poe:
                        max_power: 180
                        power_draw: 22.1
                      psus:
                      - name: Power Supply 0
                        status: ok
                      - name: Power Supply 1
                        status: absent
                      - name: Power Supply 2
                        status: absent
                      serial: FJ0424AV0101
                      temperatures:
                      - celsius: 52
                        name: Thermal board Sensor 1
                        status: ok
                      - celsius: 53
                        name: Thermal board Sensor 2
                        status: ok
                      - celsius: 52
                        name: Thermal board Sensor 3
                        status: ok
                      - celsius: 59
                        name: PFE Die Sensor
                        status: ok
                      type: fpc
                      uptime: 1692720
                      vc_links:
                      - neighbor_module_idx: 0
                        neighbor_port_id: vcp-0/1/1
                        port_id: vcp-1/1/0
                      - neighbor_module_idx: 0
                        neighbor_port_id: vcp-0/1/0
                        port_id: vcp-1/1/1
                      vc_mode: HiGiG
                      vc_role: backup
                      vc_state: present
                      version: 22.4R3.25
                    name: SW-HLAB-ea2e00
                    org_id: c5324060-19da-48fa-af28-2b530bd08765
                    route_summary_stats:
                      fib_routes: 7
                      max_unicast_routes_supported: 32150
                      rib_routes: 40
                      total_routes: 3
                    serial: FJ0324AV0077
                    site_id: a0e43ffb-94a6-4f27-92aa-9cf832e1143d
                    status: connected
                    tag_id: 3564806
                    tag_uuid: 507604a4-6b34-449c-acb3-87955430b006
                    type: switch
                    uptime: 1692720
                    vc_mac: 0912f561b653
                    vc_setup_info:
                      config_type: nonprovisioned
                      err_missing_dev_id_fpc: false
                    version: 22.4R3.25
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/devices/{device_id}:
    parameters: []
    get:
      tags:
      - Sites Stats - Devices
      summary: getSiteDeviceStats
      description: Get Site Device Stats Details
      operationId: getSiteDeviceStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: fields
        in: query
        description: List of additional fields requests, comma separated, or `fields=*` for all of them
        style: form
        explode: true
        schema:
          type: string
          examples:
          - field1,field2
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/stats_device'
                - description: Device statistics record for an AP, switch, or gateway
                  examples:
                  - auto_upgrade_stat:
                      lastcheck: 1720594762
                    ble_stat:
                      beacon_enabled: true
                      beacon_rate: 4
                      eddystone_uid_enabled: false
                      eddystone_uid_freq_msec: 1000
                      eddystone_uid_instance: 5c5b35d0077b
                      eddystone_uid_namespace: 9777c1a06ef611e68bbf
                      eddystone_url_enabled: false
                      eddystone_url_freq_msec: 1000
                      eddystone_url_url: ''
                      ibeacon_enabled: false
                      ibeacon_freq_msec: 1000
                      ibeacon_major: 894
                      ibeacon_minor: 9328
                      ibeacon_uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                      major: 894
                      minors:
                      - 9328
                      - 9329
                      - 9330
                      - 9331
                      - 9332
                      - 9333
                      - 9334
                      - 9335
                      - -1
                      power: 8
                      rx_bytes: 158500843
                      rx_pkts: 3549163
                      tx_bytes: 509640
                      tx_pkts: 85411
                      tx_resets: 0
                      uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                    config_reverted: false
                    cpu_system: 21921854
                    cpu_user: 7496631
                    cpu_util: 5
                    created_time: 1718228350
                    env_stat:
                      accel_x: -0.092
                      accel_y: 0.004
                      accel_z: -1.02
                      ambient_temp: 43
                      attitude: 0
                      cpu_temp: 53
                      humidity: 9
                      magne_x: 0
                      magne_y: 0
                      magne_z: 0
                      pressure: 968
                      vcore_voltage: 0
                    ext_ip: 66.129.234.28
                    hw_rev: C02
                    id: 00000000-0000-0000-1000-5c5b35d0077b
                    inactive_wired_vlans: []
                    ip: 192.168.95.3
                    ip_stat:
                      dhcp_server: 192.168.95.1
                      dns:
                      - 8.8.8.8
                      gateway: 192.168.95.1
                      ip: 192.168.95.3
                      ip6: fe80:0:0:0:5e5b:35ff:fed0:77b
                      ips:
                        vlan1: 192.168.95.3/24,fe80:0:0:0:5e5b:35ff:fed0:77b/64
                      netmask: 255.255.255.0
                      netmask6: /64
                    last_seen: 1720595866
                    last_trouble:
                      code: '07'
                      timestamp: 1720039666
                    lldp_stat:
                      chassis_id: d0:07:ca:f5:21:00
                      lldp_med_supported: false
                      mgmt_addr: 100.123.105.1
                      mgmt_addrs:
                      - 100.123.105.1
                      port_desc: ge-0/0/4
                      port_id: ge-0/0/4
                      power_allocated: 0
                      power_draw: 0
                      power_request_count: 0
                      power_requested: 0
                      system_desc: 'Juniper Networks, Inc. ex4300-48t internet router, kernel JUNOS 20.4R3-S7.2, Build date: 2023-04-21 19:47:18 UTC Copyright (c) 1996-2023 Juniper Networks, Inc.'
                      system_name: Phoenix-Switch
                    mac: 5c5b35d0077b
                    mem_total_kb: 505468
                    mem_used_kb: 202096
                    model: AP43
                    modified_time: 1718530662
                    mount: faceup
                    name: Phoenix
                    notes: ''
                    num_clients: 1
                    org_id: af010e2b-f829-4975-b49e-2e896ed1d627
                    port_stat:
                      eth0:
                        full_duplex: true
                        rx_bytes: 1284143195
                        rx_errors: 0
                        rx_peak_bps: 17585
                        rx_pkts: 5199816
                        speed: 1000
                        tx_bytes: 1283744961
                        tx_peak_bps: 26484
                        tx_pkts: 3990463
                        up: true
                      eth1:
                        full_duplex: false
                        rx_bytes: 0
                        rx_errors: 0
                        rx_peak_bps: 0
                        rx_pkts: 0
                        speed: 0
                        tx_bytes: 0
                        tx_peak_bps: 0
                        tx_pkts: 0
                        up: false
                    power_budget: 8400
                    power_constrained: false
                    power_src: DC Input
                    radio_config: {}
                    radio_stat:
                      band_24:
                        bandwidth: 20
                        channel: 11
                        mac: 5c5b35dea810
                        noise_floor: -80
                        num_clients: 0
                        power: 17
                        rx_bytes: 12948211
                        rx_pkts: 65292
                        tx_bytes: 19071943
                        tx_pkts: 76926
                        usage: '24'
                        util_all: 24
                        util_non_wifi: 2
                        util_rx_in_bss: 0
                        util_rx_other_bss: 17
                        util_tx: 4
                        util_undecodable_wifi: 0
                        util_unknown_wifi: 1
                      band_5:
                        bandwidth: 40
                        channel: 36
                        mac: 5c5b35dea7f0
                        noise_floor: -90
                        num_clients: 1
                        power: 17
                        rx_bytes: 578362619
                        rx_pkts: 2687577
                        tx_bytes: 1199571353
                        tx_pkts: 2479302
                        usage: '5'
                        util_all: 13
                        util_non_wifi: 0
                        util_rx_in_bss: 0
                        util_rx_other_bss: 10
                        util_tx: 1
                        util_undecodable_wifi: 0
                        util_unknown_wifi: 1
                    rx_bps: 9276
                    rx_bytes: 591310830
                    rx_pkts: 2752869
                    serial: A0703200709E6
                    site_id: 46fc665e-9706-4296-8fe2-78f42f2e67e4
                    status: connected
                    switch_redundancy:
                      num_redundant_aps: 1
                    tx_bps: 8067
                    tx_bytes: 1218643296
                    tx_pkts: 2556228
                    type: ap
                    uptime: 1593120
                    version: 0.14.29313
                contentMediaType: application/json
              examples:
                Access Point Stats:
                  value:
                    auto_upgrade_stat:
                      lastcheck: 1720594762
                    ble_stat:
                      beacon_enabled: true
                      beacon_rate: 4
                      eddystone_uid_enabled: false
                      eddystone_uid_freq_msec: 1000
                      eddystone_uid_instance: 5c5b35d0077b
                      eddystone_uid_namespace: 9777c1a06ef611e68bbf
                      eddystone_url_enabled: false
                      eddystone_url_freq_msec: 1000
                      eddystone_url_url: ''
                      ibeacon_enabled: false
                      ibeacon_freq_msec: 1000
                      ibeacon_major: 894
                      ibeacon_minor: 9328
                      ibeacon_uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                      major: 894
                      minors:
                      - 9328
                      - 9329
                      - 9330
                      - 9331
                      - 9332
                      - 9333
                      - 9334
                      - 9335
                      - -1
                      power: 8
                      rx_bytes: 158500843
                      rx_pkts: 3549163
                      tx_bytes: 509640
                      tx_pkts: 85411
                      tx_resets: 0
                      uuid: af010e2b-f829-4975-b49e-2e896ed1d627
                    config_reverted: false
                    cpu_system: 21921854
                    cpu_user: 7496631
                    cpu_util: 5
                    created_time: 1718228350
                    env_stat:
                      accel_x: -0.092
                      accel_y: 0.004
                      accel_z: -1.02
                      ambient_temp: 43
                      attitude: 0
                      cpu_temp: 53
                      humidity: 9
                      magne_x: 0
                      magne_y: 0
                      magne_z: 0
                      pressure: 968
                      vcore_voltage: 0
                    ext_ip: 66.129.234.28
                    hw_rev: C02
                    id: 00000000-0000-0000-1000-5c5b35d0077b
                    inactive_wired_vlans: []
                    ip: 192.168.95.3
                    ip_stat:
                      dhcp_server: 192.168.95.1
                      dns:
                      - 8.8.8.8
                      gateway: 192.168.95.1
                      ip: 192.168.95.3
                      ip6: fe80:0:0:0:5e5b:35ff:fed0:77b
                      ips:
                        vlan1: 192.168.95.3/24,fe80:0:0:0:5e5b:35ff:fed0:77b/64
                      netmask: 255.255.255.0
                      netmask6: /64
                    last_seen: 1720595866
                    last_trouble:
                      code: '07'
                      timestamp: 1720039666
                    lldp_stat:
                      chassis_id: d0:07:ca:f5:21:00
                      lldp_med_supported: false
[...]
