openapi: 3.2.0
info:
  title: Mist Orgs WLAN Templates API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs WLAN Templates
  description: A WLAN template is a collection of WLAN policies, Tunneling Policies, and WxLAN policies.
paths:
  /api/v1/orgs/{org_id}/templates:
    parameters: []
    get:
      tags:
      - Orgs WLAN Templates
      summary: listOrgTemplates
      description: Get List of Org WLAN Templates
      operationId: listOrgTemplates
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: page
        in: query
        description: Select the page number to return when using page-based pagination; starts at `1`
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          contentEncoding: int32
          default: 1
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/template'
                description: WLAN template records returned by a template list response
                examples:
                - - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/template'
                description: WLAN template records returned by a template list response
                examples:
                - - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs WLAN Templates
      summary: createOrgTemplate
      description: Create Org Template
      operationId: createOrgTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/template'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/templates/{template_id}:
    parameters: []
    delete:
      tags:
      - Orgs WLAN Templates
      summary: deleteOrgTemplate
      description: Delete Org Template
      operationId: deleteOrgTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: template_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs WLAN Templates
      summary: getOrgTemplate
      description: Get Org Template Details
      operationId: getOrgTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: template_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs WLAN Templates
      summary: updateOrgTemplate
      description: Update Org Template
      operationId: updateOrgTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: template_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/template'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/templates/{template_id}/clone:
    parameters: []
    post:
      tags:
      - Orgs WLAN Templates
      summary: cloneOrgTemplate
      description: Clone Org Template
      operationId: cloneOrgTemplate
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: template_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/name_string'
              - description: Request Body
                examples:
                - name: Cloned
              contentMediaType: application/json
            examples:
              Example:
                value:
                  name: Cloned
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/template'
                - description: WLAN template configuration applied across sites or site groups
                  examples:
                  - applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    applies:
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    created_time: 0
                    deviceprofile_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    exceptions:
                      site_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    filter_by_deviceprofile: true
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    template_applies2:
      title: template_applies2
      type: object
      properties:
        org_id:
          type: string
          description: Organization included in the WLAN template application scope
          contentEncoding: uuid
        site_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Sites included in the WLAN template application scope
        sitegroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Site groups included in the WLAN template application scope
      description: Organizations, sites, or site groups targeted by this WLAN template
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    name_string:
      title: name_string
      type: object
      properties:
        name:
          type: string
          description: Value to create or update as the target resource name
      description: Request body containing a name value
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    template_exceptions2:
      title: template_exceptions2
      type: object
      properties:
        site_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Sites excluded from the WLAN template application scope
        sitegroup_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Site groups excluded from the WLAN template application scope
      description: Sites or site groups excluded from this WLAN template even when included by the application scope
    template:
      title: template
      required:
      - name
      type: object
      properties:
        applies:
          allOf:
          - $ref: '#/components/schemas/template_applies2'
          - description: Organizations, sites, or site groups targeted by this WLAN template
        created_time:
          type: number
          description: Timestamp when the WLAN template was created
          readOnly: true
        deviceprofile_ids:
          type: array
          items:
            type: string
            contentEncoding: uuid
          description: Device profile IDs that further limit where this WLAN template applies
        exceptions:
          allOf:
          - $ref: '#/components/schemas/template_exceptions2'
          - description: Sites or site groups excluded from this WLAN template even when included by the application scope
        filter_by_deviceprofile:
          type: boolean
          description: Whether to further filter by Device Profile
        id:
          type: string
          description: Unique identifier of the WLAN template
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Timestamp when the WLAN template was last modified
          readOnly: true
        name:
          type: string
          description: Display name of the WLAN template
        org_id:
          type: string
          description: Organization that owns this WLAN template
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
      description: WLAN template configuration applied across sites or site groups
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
