openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Self API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Self
  description: Operations for the authenticated user account
paths:
  /self:
    get:
      operationId: getSelf
      summary: Juniper Networks Get current user info
      description: Returns information about the currently authenticated user.
      tags:
      - Self
      responses:
        '200':
          description: Current user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /self/apitokens:
    get:
      operationId: listApiTokens
      summary: Juniper Networks List API tokens
      description: Returns a list of API tokens for the authenticated user.
      tags:
      - Self
      responses:
        '200':
          description: List of API tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiToken'
    post:
      operationId: createApiToken
      summary: Juniper Networks Create API token
      description: Creates a new API token for the authenticated user.
      tags:
      - Self
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the API token
                privileges:
                  type: array
                  items:
                    $ref: '#/components/schemas/Privilege'
      responses:
        '200':
          description: API token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    Admin:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        privileges:
          type: array
          items:
            $ref: '#/components/schemas/Privilege'
        tags:
          type: array
          items:
            type: string
        created_time:
          type: number
          description: Unix timestamp
        modified_time:
          type: number
          description: Unix timestamp
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Error message
    ApiToken:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
          description: The API token value (only returned on creation)
        name:
          type: string
        privileges:
          type: array
          items:
            $ref: '#/components/schemas/Privilege'
        created_time:
          type: number
    Privilege:
      type: object
      properties:
        scope:
          type: string
          enum:
          - org
          - site
          - sitegroup
        role:
          type: string
          enum:
          - admin
          - write
          - read
          - helpdesk
        org_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        sitegroup_id:
          type: string
          format: uuid
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
