openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Webhooks API
  description: Juniper Mist is a cloud-native, AI-driven networking platform that provides APIs for managing wireless, wired, and SD-WAN infrastructure. The Mist API enables full lifecycle management of sites, devices, WLANs, clients, and analytics through a RESTful interface. It supports organization-level and site-level management with token-based and OAuth2 authentication.
  version: 1.0.0
  contact:
    name: Juniper Mist Support
    url: https://www.juniper.net/us/en/products/mist-ai.html
    email: support@mist.com
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Global Cloud (US)
- url: https://api.eu.mist.com/api/v1
  description: EU Cloud
- url: https://api.gc1.mist.com/api/v1
  description: GovCloud
security:
- apiToken: []
- csrfToken: []
tags:
- name: Webhooks
  description: Webhook configuration for event notifications
paths:
  /orgs/{org_id}/webhooks:
    get:
      operationId: listOrgWebhooks
      summary: Juniper Networks List organization webhooks
      description: Returns webhooks configured at the organization level.
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      operationId: createOrgWebhook
      summary: Juniper Networks Create organization webhook
      description: Creates a new webhook at the organization level.
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '200':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
components:
  schemas:
    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        name:
          type: string
        url:
          type: string
          format: uri
        enabled:
          type: boolean
        topics:
          type: array
          items:
            type: string
            enum:
            - device-events
            - alarms
            - audits
            - client-sessions
            - device-updowns
            - location
        type:
          type: string
          enum:
          - http-post
          - splunk
          - google-pubsub
        secret:
          type: string
          description: Secret for webhook signature verification
        created_time:
          type: number
        modified_time:
          type: number
  parameters:
    OrgId:
      name: org_id
      in: path
      required: true
      description: Organization unique identifier
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: 'API token authentication. Obtain tokens from the Mist dashboard under Organization > Settings > API Token, or via the /self/apitokens endpoint. Pass as Authorization: Token <api-token>.'
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication.
externalDocs:
  description: Juniper Mist API Documentation
  url: https://doc.mist-lab.fr/
