openapi: 3.2.0
info:
  title: Mist Sites Stats - Clients SDK API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - Clients SDK
  description: 'SDK Clients are devices that have installed an application using the Mist Software Development Kit (SDK).


    These clients can provide specific data and information that is not available without the installation of the SDK application.'
paths:
  /api/v1/sites/{site_id}/stats/maps/{map_id}/sdkclients:
    parameters: []
    get:
      tags:
      - Sites Stats - Clients SDK
      summary: getSiteSdkStatsByMap
      description: Get SdkClient Stats By Map
      operationId: getSiteSdkStatsByMap
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: map_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stats_sdkclient'
                description: SDK client statistics records returned by a stats response
                contentMediaType: application/json
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/sdkclients/{sdkclient_id}:
    parameters: []
    get:
      tags:
      - Sites Stats - Clients SDK
      summary: getSiteSdkStats
      description: Get Detail Stats of a SdkClient
      operationId: getSiteSdkStats
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: sdkclient_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/sdkstats_wireless_client'
                - description: Detailed statistics for an individual SDK client
                  examples:
                  - id: d56bd5fa-0a0a-4861-a9df-5ac83d3a2eeb
                    last_seen: 1428939600
                    name: John's iPhone
                    network_connection:
                      mac: c3-b6-e5-af-41-15
                      rssi: -75
                      signal_level: 3
                      type: WiFi
                    uuid: ada72f8f-1643-e5c6-94db-f2a5636f1a64
                    vbeacons:
                    - id: d379d29d-24b4-96c5-5dd4-6f2a2dc5aaeb
                      since: 1428939300
                    x: 60
                    y: 80
                    zones:
                    - id: 8ac84899-32db-6327-334c-9b6d58544cfe
                      since: 1428939600
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    id: d56bd5fa-0a0a-4861-a9df-5ac83d3a2eeb
                    last_seen: 1428939600
                    name: John's iPhone
                    network_connection:
                      mac: c3-b6-e5-af-41-15
                      rssi: -75
                      signal_level: 3
                      type: WiFi
                    uuid: ada72f8f-1643-e5c6-94db-f2a5636f1a64
                    vbeacons:
                    - id: d379d29d-24b4-96c5-5dd4-6f2a2dc5aaeb
                      since: 1428939300
                    x: 60
                    y: 80
                    zones:
                    - id: 8ac84899-32db-6327-334c-9b6d58544cfe
                      since: 1428939600
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    sdkstats_wireless_client:
      title: sdkstats_wireless_client
      required:
      - id
      - uuid
      type: object
      properties:
        id:
          type: string
          description: Unique value identifying the SDK client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        last_seen:
          type:
          - number
          - 'null'
          description: Time when the SDK client was last observed, in epoch seconds
          readOnly: true
          examples:
          - 1470417522
        map_id:
          type:
          - string
          - 'null'
          description: Map identifier for the SDK client's location, if known
          contentEncoding: uuid
        name:
          type: string
          description: Display name provided for the SDK client
        network_connection:
          allOf:
          - $ref: '#/components/schemas/stats_sdkclient_network_connection1'
          - description: Current network connection details for the SDK client
        uuid:
          type: string
          description: Application UUID for the SDK client
          contentEncoding: uuid
        vbeacons:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/sdkstats_wireless_client_vbeacon'
          description: Virtual beacons currently associated with the SDK client and when each association began
        x:
          type: number
          description: Horizontal map coordinate of the SDK client location, in pixels, if known
        y:
          type: number
          description: Vertical map coordinate of the SDK client location, in pixels, if known
        zones:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/sdkstats_wireless_client_zone'
          description: Current zone memberships for the SDK client and when the client entered each zone
      description: Detailed statistics for an individual SDK client
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    stats_sdkclient:
      title: stats_sdkclient
      required:
      - id
      - network_connection
      - uuid
      type: object
      properties:
        id:
          type: string
          description: Unique value identifying the SDK client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        last_seen:
          type:
          - number
          - 'null'
          description: Time when the SDK client was last observed, in epoch seconds
          readOnly: true
          examples:
          - 1470417522
        map_id:
          type:
          - string
          - 'null'
          description: Map identifier for the SDK client's location, if known
          contentEncoding: uuid
          examples:
          - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
        name:
          type: string
          description: Display name provided for the SDK client
          examples:
          - John's iPhone
        network_connection:
          allOf:
          - $ref: '#/components/schemas/stats_sdkclient_network_connection1'
          - description: Current network connection details for the SDK client
        uuid:
          type: string
          description: Application UUID for the SDK client
          contentEncoding: uuid
          examples:
          - ada72f8f-1643-e5c6-94db-f2a5636f1a64
        x:
          type: number
          description: Horizontal map coordinate of the SDK client location, in pixels, if known
          examples:
          - 60
        y:
          type: number
          description: Vertical map coordinate of the SDK client location, in pixels, if known
          examples:
          - 80
      description: Detailed statistics for an individual SDK client
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    stats_sdkclient_network_connection1:
      title: stats_sdkclient_network_connection1
      required:
      - mac
      - rssi
      - signal_level
      - type
      type: object
      properties:
        mac:
          type: string
          description: Current network connection MAC address reported for the SDK client
        rssi:
          type: number
          description: Received signal strength indicator for the SDK client's current network connection, in dBm
        signal_level:
          type: number
          description: Numeric signal quality level reported with the SDK client's current network connection
        type:
          type: string
          description: Network connection type reported for the SDK client, such as WiFi
      description: Current network connection details for the SDK client
    sdkstats_wireless_client_vbeacon:
      title: sdkstats_wireless_client_vbeacon
      required:
      - id
      - since
      type: object
      properties:
        id:
          type: string
          description: Virtual beacon identifier currently associated with the SDK client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        since:
          type: number
          description: Time when the SDK client began matching the virtual beacon, in epoch seconds
      description: Virtual beacon currently associated with an SDK client
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    sdkstats_wireless_client_zone:
      title: sdkstats_wireless_client_zone
      required:
      - id
      - since
      type: object
      properties:
        id:
          type: string
          description: Zone identifier that currently contains the SDK client
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        since:
          type: number
          description: Time when the SDK client entered the zone, in epoch seconds
      description: Zone currently containing an SDK client
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
