openapi: 3.2.0
info:
  title: Mist Sites Guests API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Guests
  description: Guests are users who are accessing the wi-fi network as a temporary or non-permanent visitor.
paths:
  /api/v1/sites/{site_id}/guests:
    parameters: []
    get:
      tags:
      - Sites Guests
      summary: listSiteAllGuestAuthorizations
      description: Get List of Site Guest Authorizations
      operationId: listSiteAllGuestAuthorizations
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wlan_id
        in: query
        description: UUID of single or multiple (Comma separated) WLAN under Site `site_id` (to filter by WLAN)
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/guest'
                description: List of guest authorization records
                examples:
                - '[{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}]'
                - '[{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}]'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                  - authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/guest'
                description: List of guest authorization records
                examples:
                - '[{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}]'
                - '[{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}]'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                  - authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/guests/count:
    parameters: []
    get:
      tags:
      - Sites Guests
      summary: countSiteGuestAuthorizations
      description: Count authorized guest records for a site, optionally grouped by the `distinct` field and filtered by time range. Use Count Org Guest Authorizations to count authorized guest records across the organization.
      operationId: countSiteGuestAuthorizations
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `auth_method`, `company`, `ssid`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/site_guests_count_distinct'
          - description: 'Field used to group this count response. enum: `auth_method`, `company`, `ssid`'
            examples:
            - auth_method
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/guests/derived:
    parameters: []
    get:
      tags:
      - Sites Guests
      summary: listSiteAllGuestAuthorizationsDerived
      description: Get the list of derived Guest Authorizations for a site
      operationId: listSiteAllGuestAuthorizationsDerived
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wlan_id
        in: query
        description: UUID of single or multiple (Comma separated) WLAN under Site `site_id` (to filter by WLAN)
        style: form
        explode: true
        schema:
          type: string
      - name: cross_site
        in: query
        description: Whether to get org level guests, default is false i.e get site level guests
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/guest'
                description: List of guest authorization records
                examples:
                - '[{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}]'
                - '[{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}]'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                  - authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/guest'
                description: List of guest authorization records
                examples:
                - '[{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}]'
                - '[{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}]'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                  - authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/guests/search:
    parameters: []
    get:
      tags:
      - Sites Guests
      summary: searchSiteGuestAuthorization
      description: Search authorized guest records for a site with filters for WLAN, SSID, authentication method, and time range. Use Search Org Guest Authorization to search authorized guest records across the organization.
      operationId: searchSiteGuestAuthorization
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: wlan_id
        in: query
        description: Filter results by WLAN identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 00000000-0000-0000-0000-000000000000
      - name: auth_method
        in: query
        description: Filter guest results by authentication method
        style: form
        explode: true
        schema:
          type: string
      - name: ssid
        in: query
        description: Filter results by SSID
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_guest_search'
                - description: Paginated response for guest authorization search results
                  examples:
                  - end: 1531862583
                    limit: 2
                    next: /api/v1/sites/8aaba0aa-09cc-44bd-9709-33b98040550c/guests/search?wlan_id=88ffe630-95b8-11e8-b294-346895ed1b7d&end=1531855849.000&limit=2&start=1531776183.0
                    results:
                    - ap: 5c5b350e0001
                      auth_method: passphrase
                      authorized_expiring_time: 1531810258.186273
                      authorized_time: 1531782218
                      company: mistsystems
                      email: user@mistsys.com
                      name: john
                      ssid: openNet
                      timestamp: 1531782218
                    - ap: 5c5b350e0001
                      auth_method: facebook
                      authorized_expiring_time: 1531810821.145
                      authorized_time: 1531782632
                      company: xyz inc.
                      email: cool_user@yahoo.com
                      name: John White
                      ssid: openNet
                      timestamp: 1531782632
                    start: 1531776183
                    total: 14
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1531862583
                    limit: 2
                    next: /api/v1/sites/8aaba0aa-09cc-44bd-9709-33b98040550c/guests/search?wlan_id=88ffe630-95b8-11e8-b294-346895ed1b7d&end=1531855849.000&limit=2&start=1531776183.0
                    results:
                    - ap: 5c5b350e0001
                      auth_method: passphrase
                      authorized_expiring_time: 1531810258.186273
                      authorized_time: 1531782218
                      company: mistsystems
                      email: user@mistsys.com
                      name: john
                      ssid: openNet
                      timestamp: 1531782218
                    - ap: 5c5b350e0001
                      auth_method: facebook
                      authorized_expiring_time: 1531810821.145
                      authorized_time: 1531782632
                      company: xyz inc.
                      email: cool_user@yahoo.com
                      name: John White
                      ssid: openNet
                      timestamp: 1531782632
                    start: 1531776183
                    total: 14
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_guest_search'
                - description: Paginated response for guest authorization search results
                  examples:
                  - end: 1531862583
                    limit: 2
                    next: /api/v1/sites/8aaba0aa-09cc-44bd-9709-33b98040550c/guests/search?wlan_id=88ffe630-95b8-11e8-b294-346895ed1b7d&end=1531855849.000&limit=2&start=1531776183.0
                    results:
                    - ap: 5c5b350e0001
                      auth_method: passphrase
                      authorized_expiring_time: 1531810258.186273
                      authorized_time: 1531782218
                      company: mistsystems
                      email: user@mistsys.com
                      name: john
                      ssid: openNet
                      timestamp: 1531782218
                    - ap: 5c5b350e0001
                      auth_method: facebook
                      authorized_expiring_time: 1531810821.145
                      authorized_time: 1531782632
                      company: xyz inc.
                      email: cool_user@yahoo.com
                      name: John White
                      ssid: openNet
                      timestamp: 1531782632
                    start: 1531776183
                    total: 14
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1531862583
                    limit: 2
                    next: /api/v1/sites/8aaba0aa-09cc-44bd-9709-33b98040550c/guests/search?wlan_id=88ffe630-95b8-11e8-b294-346895ed1b7d&end=1531855849.000&limit=2&start=1531776183.0
                    results:
                    - ap: 5c5b350e0001
                      auth_method: passphrase
                      authorized_expiring_time: 1531810258.186273
                      authorized_time: 1531782218
                      company: mistsystems
                      email: user@mistsys.com
                      name: john
                      ssid: openNet
                      timestamp: 1531782218
                    - ap: 5c5b350e0001
                      auth_method: facebook
                      authorized_expiring_time: 1531810821.145
                      authorized_time: 1531782632
                      company: xyz inc.
                      email: cool_user@yahoo.com
                      name: John White
                      ssid: openNet
                      timestamp: 1531782632
                    start: 1531776183
                    total: 14
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/guests/{guest_mac}:
    parameters: []
    delete:
      tags:
      - Sites Guests
      summary: deleteSiteGuestAuthorization
      description: Delete Guest Authorization
      operationId: deleteSiteGuestAuthorization
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: guest_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Sites Guests
      summary: getSiteGuestAuthorization
      description: Get Guest Authorization
      operationId: getSiteGuestAuthorization
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: guest_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/guest'
                - description: Guest authorization record at site scope
                  examples:
                  - '{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}'
                  - '{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                    authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/guest'
                - description: Guest authorization record at site scope
                  examples:
                  - '{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}'
                  - '{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                    authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Sites Guests
      summary: updateSiteGuestAuthorization
      description: Update Guest Authorization
      operationId: updateSiteGuestAuthorization
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: guest_mac
        in: path
        description: ''
        required: true
        schema:
          pattern: ^[0-9a-fA-F]{12}$
          type: string
          examples:
          - 0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/guest'
              - description: Request Body
              contentMediaType: application/json
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/guest'
                - description: Guest authorization record at site scope
                  examples:
                  - '{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}'
                  - '{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                    authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/guest'
                - description: Guest authorization record at site scope
                  examples:
                  - '{"authorized":true,"authorized_expiring_time":0,"authorized_time":0,"company":"string","email":"user@example.com","field1":"string","field2":"string","field3":"string","field4":"string","mac":"string","minutes":0,"name":"string"}'
                  - '{"authorized":true,"authorized_expiring_time":1480704955,"authorized_time":1480704355,"company":"abc","email":"john@abc.com","field1":"xxx","mac":"5684dae9ac8b","name":"John Smith"}'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    authorized: true
                    authorized_expiring_time: 0
                    authorized_time: 0
                    company: string
                    email: user@example.com
                    field1: string
                    field2: string
                    field3: string
                    field4: string
                    mac: string
                    minutes: 0
                    name: string
                Example2:
                  value:
                    authorized: true
                    authorized_expiring_time: 1480704955
                    authorized_time: 1480704355
                    company: abc
                    email: john@abc.com
                    field1: xxx
                    mac: 5684dae9ac8b
                    name: John Smith
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    guest:
      title: guest
      type: object
      properties:
        access_code_email:
          type: string
          description: If `auth_method`==`email`, the email address where the authorization code has been sent to
          readOnly: true
        ap_mac:
          type: string
          description: MAC address of the AP used during guest registration
          readOnly: true
        auth_method:
          type: string
          description: Guest authentication method used for the authorization
          readOnly: true
        authorized:
          type: boolean
          description: Whether the guest is currently authorized
          default: true
        authorized_expiring_time:
          type: number
          description: Unix timestamp when the guest authorization expires
          readOnly: true
          examples:
          - 1480704955
        authorized_time:
          type: number
          description: Unix timestamp when the guest was authorized
          readOnly: true
          examples:
          - 1480704355
        company:
          type: string
          description: Optional company name provided by the guest during registration
          examples:
          - abc
        email:
          type: string
          description: Optional email address provided by the guest during registration
          contentEncoding: email
          examples:
          - john@abc.com
        field1:
          type: string
          description: Optional custom field 1 value provided by the guest during registration
        field2:
          type: string
          description: Optional custom field 2 value provided by the guest during registration
        field3:
          type: string
          description: Optional custom field 3 value provided by the guest during registration
        field4:
          type: string
          description: Optional custom field 4 value provided by the guest during registration
        mac:
          type: string
          description: Device MAC address captured during guest registration
          readOnly: true
        minutes:
          maximum: 259200
          minimum: 0
          type: integer
          description: Authorization duration, in minutes. Default is 1440 minutes (1 day), maximum is 259200 (180 days)
          contentEncoding: int32
          default: 1440
        name:
          type: string
          description: Optional name provided by the guest during registration
          readOnly: true
          examples:
          - John Smith
        random_mac:
          type: boolean
          description: Whether the guest device used a randomized MAC address to connect to the SSID
          readOnly: true
        ssid:
          type: string
          description: Name of the SSID
          readOnly: true
          examples:
          - Guest-SSID
        wlan_id:
          type: string
          description: Identifier of the WLAN used for the guest authorization
          contentEncoding: uuid
          readOnly: true
          examples:
          - 6748cfa6-4e12-11e6-9188-0242ac110007
      description: Guest authorization record at site scope
    response_guest_search:
      title: response_guest_search
      required:
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp for the end of the guest authorization search window
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of guest authorization records returned in this page
          contentEncoding: int32
        next:
          type: string
          description: Pagination cursor or URL for retrieving the next page of guest authorization records
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/guest'
          description: Guest authorization records matching the search filters
        start:
          type: integer
          description: Epoch timestamp for the start of the guest authorization search window
          contentEncoding: int32
        total:
          type: integer
          description: Number of guest authorization records matching the search filters across all pages
          contentEncoding: int32
      description: Paginated response for guest authorization search results
    response_count:
      title: response_count
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        distinct:
          type: string
          description: Field used to group the count results
        end:
          type: integer
          description: Search window end timestamp for the count request, in epoch seconds
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of distinct count results requested
          contentEncoding: int32
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/count_result'
          description: Count results grouped by the distinct field
        start:
          type: integer
          description: Search window start timestamp for the count request, in epoch seconds
          contentEncoding: int32
        total:
          type: integer
          description: Number of distinct result buckets returned
          contentEncoding: int32
      description: Distinct count response for time-bounded search results
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    site_guests_count_distinct:
      title: site_guests_count_distinct
      enum:
      - auth_method
      - company
      - ssid
      type: string
      description: 'enum: `auth_method`, `company`, `ssid`'
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
