openapi: 3.2.0
info:
  title: Mist Sites Stats - Ports API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Sites Stats - Ports
  description: API Calls to retrieve statistics about the Wired Ports at the Site level
paths:
  /api/v1/sites/{site_id}/stats/ports/count:
    parameters: []
    get:
      tags:
      - Sites Stats - Ports
      summary: countSiteSwOrGwPorts
      description: Count switch and gateway port statistics for a site, optionally grouped by the `distinct` field and filtered by port, neighbor, PoE, STP, traffic, and time attributes. Use Count Org Switch/Gateway Ports to count switch and gateway port statistics across the organization.
      operationId: countSiteSwOrGwPorts
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: distinct
        in: query
        description: 'Field used to group this count response. enum: `full_duplex`, `mac`, `neighbor_mac`, `neighbor_port_desc`, `neighbor_system_name`, `poe_disabled`, `poe_mode`, `poe_on`, `port_id`, `port_mac`, `speed`, `up`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/site_ports_count_distinct'
          - description: 'Field used to group this count response. enum: `full_duplex`, `mac`, `neighbor_mac`, `neighbor_port_desc`, `neighbor_system_name`, `poe_disabled`, `poe_mode`, `poe_on`, `port_id`, `port_mac`, `speed`, `up`'
      - name: full_duplex
        in: query
        description: Indicates full or half duplex
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b350e0410
      - name: neighbor_mac
        in: query
        description: Chassis identifier of the chassis type listed
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b350e0410
      - name: neighbor_port_desc
        in: query
        description: Description supplied by the system on the interface E.g. "GigabitEthernet2/0/39"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ge-2/0/39
      - name: neighbor_system_name
        in: query
        description: Name supplied by the system on the interface E.g. neighbor system name E.g. "Kumar-Acc-SW.mist.local"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Kumar-Acc-SW.mist.local
      - name: poe_disabled
        in: query
        description: Is the POE configured not be disabled.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      - name: poe_mode
        in: query
        description: POE mode depending on class E.g. "802.3at"
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 802.3at
      - name: poe_on
        in: query
        description: Is the device attached to POE
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: port_id
        in: query
        description: Filter results by port identifier
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ge-2/0/39
      - name: port_mac
        in: query
        description: Filter results by port MAC address
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 5c5b350e0410
      - name: power_draw
        in: query
        description: Amount of power being used by the interface at the time the command is executed. Unit in watts.
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 15.4
      - name: tx_pkts
        in: query
        description: Filter results by transmitted packet count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: rx_pkts
        in: query
        description: Filter results by received packet count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: rx_bytes
        in: query
        description: Filter results by received byte count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: tx_bps
        in: query
        description: Filter results by transmit rate
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: rx_bps
        in: query
        description: Filter results by receive rate
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: tx_mcast_pkts
        in: query
        description: Filter results by transmitted multicast packet count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: tx_bcast_pkts
        in: query
        description: Filter results by transmitted broadcast packet count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: rx_mcast_pkts
        in: query
        description: Filter results by received multicast packet count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: rx_bcast_pkts
        in: query
        description: Filter results by received broadcast packet count
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000
      - name: speed
        in: query
        description: Filter results by port speed
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1000000000
      - name: stp_state
        in: query
        description: 'STP state used to filter port results when `up`==`true`. enum: `""`, `blocking`, `disabled`, `forwarding`, `learning`, `listening`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/port_stp_state'
          - description: 'STP state used to filter port results when `up`==`true`. enum: `""`, `blocking`, `disabled`, `forwarding`, `learning`, `listening`'
      - name: stp_role
        in: query
        description: 'STP role used to filter port results when `up`==`true`. enum: `""`, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/port_stp_role'
          - description: 'STP role used to filter port results when `up`==`true`. enum: `""`, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`'
      - name: auth_state
        in: query
        description: 'Authentication state used to filter port results when `up`==`true` and the port has an authenticator role. enum: `""`, `authenticated`, `authenticating`, `held`, `init`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/port_auth_state'
          - description: 'Authentication state used to filter port results when `up`==`true` and the port has an authenticator role. enum: `""`, `authenticated`, `authenticating`, `held`, `init`'
      - name: up
        in: query
        description: Indicates if interface is up
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: start
        in: query
        description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
        style: form
        explode: true
        schema:
          type: string
      - name: end
        in: query
        description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
        style: form
        explode: true
        schema:
          type: string
      - name: duration
        in: query
        description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
        style: form
        explode: true
        schema:
          type: string
          default: 1d
          examples:
          - 10m
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      responses:
        '200':
          description: Result of Count
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_count'
                - description: Distinct count response for time-bounded search results
                  examples:
                  - distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    distinct: string
                    end: 0
                    limit: 0
                    results:
                    - count: 0
                      property: string
                    start: 0
                    total: 0
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/sites/{site_id}/stats/ports/search:
    parameters: []
    get:
      tags:
      - Sites Stats - Ports
      summary: searchSiteSwOrGwPorts
      description: 'Search switch and gateway port statistics for a site.

        Returns ports that match the search criteria, including current or most recent port status and statistics within the hour.


        Traffic information (Tx/Rx) is reported as cumulative counters since the last device reboot. Use Search Org Switch/Gateway Ports to search switch and gateway port statistics across the organization.'
      operationId: searchSiteSwOrGwPorts
      parameters:
      - name: site_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: device_type
        in: query
        description: 'Type of device. enum: `switch`, `gateway`, `all`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/search_org_sw_or_gw_ports_type'
          - description: 'Type of device. enum: `switch`, `gateway`, `all`'
      - name: auth_state
        in: query
        description: 'Authentication state used to filter port results when `up`==`true` and the port has an authenticator role. enum: `""`, `authenticated`, `authenticating`, `held`, `init`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/port_auth_state'
          - description: 'Authentication state used to filter port results when `up`==`true` and the port has an authenticator role. enum: `""`, `authenticated`, `authenticating`, `held`, `init`'
      - name: full_duplex
        in: query
        description: Indicates full or half duplex
        style: form
        explode: true
        schema:
          type: boolean
      - name: lte_imsi
        in: query
        description: LTE IMSI value, Check for null/empty
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '310260000000001'
      - name: lte_iccid
        in: query
        description: LTE ICCID value, Check for null/empty
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '89014103211118510720'
      - name: lte_imei
        in: query
        description: LTE IMEI value, Check for null/empty
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '123456789012345'
      - name: mac
        in: query
        description: Filter results by MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: neighbor_mac
        in: query
        description: Chassis identifier of the chassis type listed
        style: form
        explode: true
        schema:
          type: string
      - name: neighbor_port_desc
        in: query
        description: Description supplied by the system on the interface E.g. "GigabitEthernet2/0/39"
        style: form
        explode: true
        schema:
          type: string
      - name: neighbor_system_name
        in: query
        description: Name supplied by the system on the interface E.g. neighbor system name E.g. "Kumar-Acc-SW.mist.local"
        style: form
        explode: true
        schema:
          type: string
      - name: poe_disabled
        in: query
        description: Is the POE configured not be disabled.
        style: form
        explode: true
        schema:
          type: boolean
      - name: poe_mode
        in: query
        description: POE mode depending on class E.g. "802.3at"
        style: form
        explode: true
        schema:
          type: string
      - name: poe_on
        in: query
        description: Is the device attached to POE
        style: form
        explode: true
        schema:
          type: boolean
      - name: poe_priority
        in: query
        description: 'PoE priority used to filter switch port results. enum: `low`, `high`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/poe_priority'
          - description: 'PoE priority used to filter switch port results. enum: `low`, `high`'
      - name: port_id
        in: query
        description: Filter results by port identifier
        style: form
        explode: true
        schema:
          type: string
      - name: port_mac
        in: query
        description: Filter results by port MAC address
        style: form
        explode: true
        schema:
          type: string
      - name: speed
        in: query
        description: Filter results by port speed
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
      - name: stp_state
        in: query
        description: 'STP state used to filter port results when `up`==`true`. enum: `""`, `blocking`, `disabled`, `forwarding`, `learning`, `listening`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/port_stp_state'
          - description: 'STP state used to filter port results when `up`==`true`. enum: `""`, `blocking`, `disabled`, `forwarding`, `learning`, `listening`'
      - name: stp_role
        in: query
        description: 'STP role used to filter port results when `up`==`true`. enum: `""`, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`'
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/port_stp_role'
          - description: 'STP role used to filter port results when `up`==`true`. enum: `""`, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`'
      - name: up
        in: query
        description: Indicates if interface is up
        style: form
        explode: true
        schema:
          type: boolean
      - name: xcvr_part_number
        in: query
        description: Optic Slot Partnumber, Check for null/empty
        style: form
        explode: true
        schema:
          type: string
          examples:
          - SFP-10G-SR
      - name: limit
        in: query
        description: Maximum number of results to return per page
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          contentEncoding: int32
          default: 100
      - name: sort
        in: query
        description: On which field the list should be sorted, -prefix represents DESC order
        style: form
        explode: true
        schema:
          type: string
          default: timestamp
          examples:
          - -site_id
      - name: search_after
        in: query
        description: Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: List of Switch Ports Stats
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_switch_port_search'
                - description: Paginated response for switch and gateway port statistics search results
                  examples:
                  - end: 1513177200
                    limit: 10
                    results:
                    - active: true
                      auth_state: init
                      for_site: true
                      full_duplex: true
                      jitter: 0
                      latency: 0
                      loss: 0
                      lte_iccid: string
                      lte_imei: string
                      lte_imsi: string
                      mac: 5c4527a96580
                      mac_count: 0
                      mac_limit: 0
                      neighbor_mac: 64d814353400
                      neighbor_port_desc: GigabitEthernet1/0/21
                      neighbor_system_name: CORP-D-SW-2
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      poe_disabled: true
                      poe_mode: 802.3af
                      poe_on: true
                      port_id: ge-0/0/0
                      port_mac: 5c4527a96580
                      port_usage: lan
                      power_draw: 0
                      rx_bcast_pkts: 0
                      rx_bps: 0
                      rx_bytes: 4563443626
                      rx_errors: 0
                      rx_mcast_pkts: 0
                      rx_pkts: 0
                      site_id: c1698122-c14c-11e5-8e81-1258369c38a9
                      speed: 1000
                      stp_role: designated
                      stp_state: forwarding
                      tx_bcast_pkts: 0
                      tx_bps: 0
                      tx_bytes: 11299516780
                      tx_errors: 0
                      tx_mcast_pkts: 0
                      tx_pkts: 492176
                      type: gateway
                      up: true
                      xcvr_part_number: string
                    start: 1511967600
                    total: 100
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    end: 1513177200
                    limit: 10
                    results:
                    - active: true
                      auth_state: init
                      for_site: true
                      full_duplex: true
                      jitter: 0
                      latency: 0
                      loss: 0
                      lte_iccid: string
                      lte_imei: string
                      lte_imsi: string
                      mac: 5c4527a96580
                      mac_count: 0
                      mac_limit: 0
                      neighbor_mac: 64d814353400
                      neighbor_port_desc: GigabitEthernet1/0/21
                      neighbor_system_name: CORP-D-SW-2
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      poe_disabled: true
                      poe_mode: 802.3af
                      poe_on: true
                      port_id: ge-0/0/0
                      port_mac: 5c4527a96580
                      port_usage: lan
                      power_draw: 0
                      rx_bcast_pkts: 0
                      rx_bps: 0
                      rx_bytes: 4563443626
                      rx_errors: 0
                      rx_mcast_pkts: 0
                      rx_pkts: 0
                      site_id: c1698122-c14c-11e5-8e81-1258369c38a9
                      speed: 1000
                      stp_role: designated
                      stp_state: forwarding
                      tx_bcast_pkts: 0
                      tx_bps: 0
                      tx_bytes: 11299516780
                      tx_errors: 0
                      tx_mcast_pkts: 0
                      tx_pkts: 492176
                      type: gateway
                      up: true
                      xcvr_part_number: string
                    start: 1511967600
                    total: 100
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_switch_port_search'
                - description: Paginated response for switch and gateway port statistics search results
                  examples:
                  - end: 1513177200
                    limit: 10
                    results:
                    - active: true
                      auth_state: init
                      for_site: true
                      full_duplex: true
                      jitter: 0
                      latency: 0
                      loss: 0
                      lte_iccid: string
                      lte_imei: string
                      lte_imsi: string
                      mac: 5c4527a96580
                      mac_count: 0
                      mac_limit: 0
                      neighbor_mac: 64d814353400
                      neighbor_port_desc: GigabitEthernet1/0/21
                      neighbor_system_name: CORP-D-SW-2
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      poe_disabled: true
                      poe_mode: 802.3af
                      poe_on: true
                      port_id: ge-0/0/0
                      port_mac: 5c4527a96580
                      port_usage: lan
                      power_draw: 0
                      rx_bcast_pkts: 0
                      rx_bps: 0
                      rx_bytes: 4563443626
                      rx_errors: 0
                      rx_mcast_pkts: 0
                      rx_pkts: 0
                      site_id: c1698122-c14c-11e5-8e81-1258369c38a9
                      speed: 1000
                      stp_role: designated
                      stp_state: forwarding
                      tx_bcast_pkts: 0
                      tx_bps: 0
                      tx_bytes: 11299516780
                      tx_errors: 0
                      tx_mcast_pkts: 0
                      tx_pkts: 492176
                      type: gateway
                      up: true
                      xcvr_part_number: string
                    start: 1511967600
                    total: 100
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    end: 1513177200
                    limit: 10
                    results:
                    - active: true
                      auth_state: init
                      for_site: true
                      full_duplex: true
                      jitter: 0
                      latency: 0
                      loss: 0
                      lte_iccid: string
                      lte_imei: string
                      lte_imsi: string
                      mac: 5c4527a96580
                      mac_count: 0
                      mac_limit: 0
                      neighbor_mac: 64d814353400
                      neighbor_port_desc: GigabitEthernet1/0/21
                      neighbor_system_name: CORP-D-SW-2
                      org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
                      poe_disabled: true
                      poe_mode: 802.3af
                      poe_on: true
                      port_id: ge-0/0/0
                      port_mac: 5c4527a96580
                      port_usage: lan
                      power_draw: 0
                      rx_bcast_pkts: 0
                      rx_bps: 0
                      rx_bytes: 4563443626
                      rx_errors: 0
                      rx_mcast_pkts: 0
                      rx_pkts: 0
                      site_id: c1698122-c14c-11e5-8e81-1258369c38a9
                      speed: 1000
                      stp_role: designated
                      stp_state: forwarding
                      tx_bcast_pkts: 0
                      tx_bps: 0
                      tx_bytes: 11299516780
                      tx_errors: 0
                      tx_mcast_pkts: 0
                      tx_pkts: 492176
                      type: gateway
                      up: true
                      xcvr_part_number: string
                    start: 1511967600
                    total: 100
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    port_stp_role:
      title: port_stp_role
      enum:
      - alternate
      - backup
      - designated
      - disabled
      - root
      - root-prevented
      type: string
      description: 'Spanning Tree Protocol role for the port. enum: `""`, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`'
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_count:
      title: response_count
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
      properties:
        distinct:
          type: string
          description: Field used to group the count results
        end:
          type: integer
          description: Search window end timestamp for the count request, in epoch seconds
          contentEncoding: int32
        limit:
          type: integer
          description: Maximum number of distinct count results requested
          contentEncoding: int32
        results:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/count_result'
          description: Count results grouped by the distinct field
        start:
          type: integer
          description: Search window start timestamp for the count request, in epoch seconds
          contentEncoding: int32
        total:
          type: integer
          description: Number of distinct result buckets returned
          contentEncoding: int32
      description: Distinct count response for time-bounded search results
    response_switch_port_search:
      title: response_switch_port_search
      required:
      - limit
      - results
      - total
      type: object
      properties:
        end:
          type: integer
          description: Epoch timestamp, in seconds, for the end of the port statistics reporting window
          contentEncoding: int32
          examples:
          - 1513177200
        limit:
          type: integer
          description: Maximum number of port statistics records returned in this page
          contentEncoding: int32
          examples:
          - 10
        next:
          type: string
          description: URL for retrieving the next page of switch and gateway port statistics results
        results:
          type: array
          items:
            $ref: '#/components/schemas/stats_switch_port'
          description: Switch and gateway port statistics records matching the search filters
        start:
          type: integer
          description: Epoch timestamp, in seconds, for the start of the port statistics reporting window
          contentEncoding: int32
          examples:
          - 1511967600
        total:
          type: integer
          description: Number of port statistics records matching the search filters across all pages
          contentEncoding: int32
          examples:
          - 100
      description: Paginated response for switch and gateway port statistics search results
    count_result:
      title: count_result
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Number of matching items for the distinct value or values in this result
          contentEncoding: int32
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
    poe_priority2:
      title: poe_priority2
      enum:
      - low
      - high
      type: string
      description: 'PoE priority configured for the port. enum: `low`, `high`.'
    site_ports_count_distinct:
      title: site_ports_count_distinct
      enum:
      - full_duplex
      - mac
      - neighbor_mac
      - neighbor_port_desc
      - neighbor_system_name
      - poe_disabled
      - poe_mode
      - poe_on
      - port_id
      - port_mac
      - speed
      - up
      type: string
      description: 'enum: `full_duplex`, `mac`, `neighbor_mac`, `neighbor_port_desc`, `neighbor_system_name`, `poe_disabled`, `poe_mode`, `poe_on`, `port_id`, `port_mac`, `speed`, `up`'
    stats_switch_port:
      title: stats_switch_port
      required:
      - mac
      - org_id
      - port_id
      - site_id
      type: object
      properties:
        active:
          type: boolean
          description: Indicates if interface is active/inactive
          readOnly: true
        auth_state:
          allOf:
          - $ref: '#/components/schemas/port_auth_state1'
          - description: 'Authentication state of the port. enum: ``, `authenticated`, `authenticating`, `held`, `init`.'
        disabled:
          type: boolean
          description: Indicates if interface is disabled
          readOnly: true
        for_site:
          type: boolean
          description: Whether the reporting device is scoped to a specific site
          readOnly: true
        full_duplex:
          type: boolean
          description: Indicates full or half duplex
          examples:
          - true
        jitter:
          type: number
          description: Last sampled jitter of the interface
          readOnly: true
        last_flapped:
          type: number
          description: Indicates when the port was last flapped
          readOnly: true
        latency:
          type: number
          description: Last sampled latency of the interface
          readOnly: true
        loss:
          type: number
          description: Last sampled loss of the interface
          readOnly: true
        lte_iccid:
          type:
          - string
          - 'null'
          description: LTE ICCID value, Check for null/empty
        lte_imei:
          type:
          - string
          - 'null'
          description: LTE IMEI value, Check for null/empty
        lte_imsi:
          type:
          - string
          - 'null'
          description: LTE IMSI value, Check for null/empty
        mac:
          type: string
          description: Switch MAC address that reported these port statistics
          readOnly: true
          examples:
          - 5c4527a96580
        mac_count:
          type: integer
          description: Number of MAC addresses in the forwarding table
          contentEncoding: int32
          readOnly: true
        mac_limit:
          minimum: 0
          type: integer
          description: Limit on number of dynamically learned macs
          contentEncoding: int32
          readOnly: true
        neighbor_mac:
          type: string
          description: chassis identifier of the chassis type listed
          readOnly: true
          examples:
          - 64d814353400
        neighbor_port_desc:
          type: string
          description: Description supplied by the system on the interface E.g. "GigabitEthernet2/0/39"
          readOnly: true
          examples:
          - GigabitEthernet1/0/21
        neighbor_system_name:
          type: string
          description: Name supplied by the system on the interface E.g. neighbor system name E.g. "Kumar-Acc-SW.mist.local"
          readOnly: true
          examples:
          - CORP-D-SW-2
        org_id:
          type: string
          description: Organization identifier of the reporting switch
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        poe_disabled:
          type: boolean
          description: Is the POE disabled
          readOnly: true
        poe_mode:
          allOf:
          - $ref: '#/components/schemas/stats_switch_port_poe_mode1'
          - description: 'PoE mode reported for the port. enum: `802.3af`, `802.3at`, `802.3bt`.'
        poe_on:
          type: boolean
          description: Is the device attached to POE
          readOnly: true
        poe_priority:
          allOf:
          - $ref: '#/components/schemas/poe_priority2'
          - description: 'PoE priority configured for the port. enum: `low`, `high`.'
        port_id:
          type: string
          description: Identifier of the port reporting these statistics
          readOnly: true
          examples:
          - ge-0/0/0
        port_mac:
          type: string
          description: MAC address assigned to the interface
          readOnly: true
          examples:
          - 5c4527a96580
        port_usage:
          type: string
          description: Logical usage assigned to the port
          examples:
          - lan
        power_draw:
          type: number
          description: Amount of power being used by the interface at the time the command is executed. Unit in watts.
          readOnly: true
        rx_bcast_pkts:
          type: integer
          description: Number of broadcast packets received on the interface
          contentEncoding: int32
          readOnly: true
        rx_bps:
          type:
          - integer
          - 'null'
          description: Receive throughput of the port, in bits per second
          contentEncoding: int64
          readOnly: true
          examples:
          - 60003
        rx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes received on the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 8515104416
        rx_errors:
          type: integer
          description: Number of receive errors observed on the interface
          contentEncoding: int32
          readOnly: true
        rx_mcast_pkts:
          type: integer
          description: Number of multicast packets received on the interface
          contentEncoding: int32
          readOnly: true
        rx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets received on the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 57770567
        site_id:
          type: string
          description: Site identifier of the reporting switch
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        speed:
          type: integer
          description: Current link speed of the port, in Mbps
          contentEncoding: int32
          readOnly: true
          examples:
          - 1000
        stp_role:
          allOf:
          - $ref: '#/components/schemas/port_stp_role1'
          - description: 'Current spanning tree role of the port. enum: ``, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`.'
        stp_state:
          allOf:
          - $ref: '#/components/schemas/port_stp_state1'
          - description: 'Current spanning tree state of the port. enum: ``, `blocking`, `disabled`, `forwarding`, `learning`, `listening`.'
        tx_bcast_pkts:
          type: integer
          description: Number of broadcast packets transmitted on the interface
          contentEncoding: int32
          readOnly: true
        tx_bps:
          type:
          - integer
          - 'null'
          description: Transmit throughput of the port, in bits per second
          contentEncoding: int64
          readOnly: true
          examples:
          - 634301
        tx_bytes:
          type:
          - integer
          - 'null'
          description: Total bytes transmitted on the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 211217389682
        tx_errors:
          type: integer
          description: Number of transmit errors observed on the interface
          contentEncoding: int32
          readOnly: true
        tx_mcast_pkts:
          type: integer
          description: Number of multicast packets transmitted on the interface
          contentEncoding: int32
          readOnly: true
        tx_pkts:
          type:
          - integer
          - 'null'
          description: Total packets transmitted on the port
          contentEncoding: int64
          readOnly: true
          examples:
          - 812204062
        type:
          allOf:
          - $ref: '#/components/schemas/stats_switch_port_type1'
          - description: 'Detected device category connected to the port, when available. enum: `ap`, `ble`, `gateway`, `mxedge`, `nac`, `switch`.'
            examples:
            - gateway
        unconfigured:
          type: boolean
          description: Indicates if interface is unconfigured
          readOnly: true
        up:
          type: boolean
          description: Indicates if interface is up
          readOnly: true
        uplink:
          type: boolean
          description: Indicates if interface is an uplink port
          readOnly: true
        xcvr_model:
          type: string
          description: Optic Slot ModelName, Check for null/empty
          readOnly: true
          examples:
          - SFP+-10G-SR
        xcvr_part_number:
          type: string
          description: Optic Slot Partnumber, Check for null/empty
          readOnly: true
          examples:
          - 740-021487
        xcvr_serial:
          type: string
          description: Optic Slot SerialNumber, Check for null/empty
          readOnly: true
          examples:
          - N6AA9HT
      description: Switch port statistics record returned by stats APIs
    port_stp_state1:
      title: port_stp_state1
      enum:
      - blocking
      - disabled
      - forwarding
      - learning
      - listening
      type: string
      description: 'Current spanning tree state of the port. enum: ``, `blocking`, `disabled`, `forwarding`, `learning`, `listening`.'
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    stats_switch_port_type1:
      title: stats_switch_port_type1
      enum:
      - ap
      - ble
      - gateway
      - mxedge
      - nac
      - switch
      type: string
      description: 'Detected device category connected to the port, when available. enum: `ap`, `ble`, `gateway`, `mxedge`, `nac`, `switch`.'
      examples:
      - gateway
    search_org_sw_or_gw_ports_type:
      title: search_org_sw_or_gw_ports_type
      enum:
      - switch
      - gateway
      - all
      type: string
      description: 'enum: `switch`, `gateway`, `all`'
    port_stp_state:
      title: port_stp_state
      enum:
      - blocking
      - disabled
      - forwarding
      - learning
      - listening
      type: string
      description: 'Spanning Tree Protocol state for the port. enum: `""`, `blocking`, `disabled`, `forwarding`, `learning`, `listening`'
    port_stp_role1:
      title: port_stp_role1
      enum:
      - alternate
      - backup
      - designated
      - disabled
      - root
      - root-prevented
      type: string
      description: 'Current spanning tree role of the port. enum: ``, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`.'
    stats_switch_port_poe_mode1:
      title: stats_switch_port_poe_mode1
      enum:
      - 802.3af
      - 802.3at
      - 802.3bt
      type: string
      description: 'PoE mode reported for the port. enum: `802.3af`, `802.3at`, `802.3bt`.'
    poe_priority:
      title: poe_priority
      enum:
      - low
      - high
      type: string
      description: 'PoE priority. enum: `low`, `high`'
    port_auth_state1:
      title: port_auth_state1
      enum:
      - authenticated
      - authenticating
      - held
      - init
      type: string
      description: 'Authentication state of the port. enum: ``, `authenticated`, `authenticating`, `held`, `init`.'
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    port_auth_state:
      title: port_auth_state
      enum:
      - authenticated
      - authenticating
      - held
      - init
      type: string
      description: 'Port authentication state. enum: `""`, `authenticated`, `authenticating`, `held`, `init`'
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
