openapi: 3.2.0
info:
  title: Mist Orgs Advanced Anti Malware Profiles API
  description: '> Version: **2607.1.1**

    >

    > Date: **August 17, 2026**


    NOTE:

    Some important API changes will be introduced.'
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: 2607.1.1
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
security:
- apiToken: []
- csrfToken: []
tags:
- name: Orgs Advanced Anti Malware Profiles
  description: The "Advanced Anti-Malware" feature in Sky ATP is a comprehensive security solution that leverages multiple techniques to detect and prevent malware attacks.
paths:
  /api/v1/orgs/{org_id}/aamwprofiles:
    parameters: []
    get:
      tags:
      - Orgs Advanced Anti Malware Profiles
      summary: listOrgAAMWProfiles
      description: List organization-level Advanced Anti Malware profiles that define Sky ATP file verdict handling for this organization.
      operationId: listOrgAAMWProfiles
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/aamw_profile'
                description: List of Advanced Anti Malware profiles
                examples:
                - - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/json
              examples:
                Example:
                  value:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/aamw_profile'
                description: List of Advanced Anti Malware profiles
                examples:
                - - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Orgs Advanced Anti Malware Profiles
      summary: createOrgAAMWProfile
      description: Create an organization-level Advanced Anti Malware profile with Sky ATP verdict threshold, fallback action, file action, and file-category rules.
      operationId: createOrgAAMWProfile
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/aamw_profile'
              - description: Request Body
                examples:
                - categories:
                  - category: executable
                    hash_lookup_only: false
                  fallback_action: block
                  file_action: block
                  name: aamw-custom
                  verdict_threshold: 8
              contentMediaType: application/json
            examples:
              Example:
                value:
                  categories:
                  - category: executable
                    hash_lookup_only: false
                  fallback_action: block
                  file_action: block
                  name: aamw-custom
                  verdict_threshold: 8
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.json+api:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - aamwprofile_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    account_id: iojzXIJWEuiD73ZvydOfg
                    admin_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    created_at: 2023-01-01 12:00:00+00:00
                    description: Example AAMW Profile Description
                    name: Example AAMW Profile
                    updated_at: 2023-01-01 12:00:00+00:00
                contentMediaType: application/vnd.json+api
              examples:
                Example:
                  value:
                    aamwprofile_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    account_id: iojzXIJWEuiD73ZvydOfg
                    admin_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    created_at: 2023-01-01 12:00:00+00:00
                    description: Example AAMW Profile Description
                    name: Example AAMW Profile
                    updated_at: 2023-01-01 12:00:00+00:00
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/orgs/{org_id}/aamwprofiles/{aamwprofile_id}:
    parameters: []
    delete:
      tags:
      - Orgs Advanced Anti Malware Profiles
      summary: deleteOrgAAMWProfile
      description: Delete an Advanced Anti Malware profile from this organization.
      operationId: deleteOrgAAMWProfile
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: aamwprofile_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Orgs Advanced Anti Malware Profiles
      summary: getOrgAAMWProfile
      description: Return an organization Advanced Anti Malware profile, including verdict threshold, actions, and file-category rules.
      operationId: getOrgAAMWProfile
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: aamwprofile_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.json+api:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - aamwprofile_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    account_id: iojzXIJWEuiD73ZvydOfg
                    admin_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    created_at: 2023-01-01 12:00:00+00:00
                    description: Example AAMW Profile Description
                    name: Example AAMW Profile
                    updated_at: 2023-01-01 12:00:00+00:00
                contentMediaType: application/vnd.json+api
              examples:
                Example:
                  value:
                    aamwprofile_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    account_id: iojzXIJWEuiD73ZvydOfg
                    admin_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    created_at: 2023-01-01 12:00:00+00:00
                    description: Example AAMW Profile Description
                    name: Example AAMW Profile
                    updated_at: 2023-01-01 12:00:00+00:00
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    put:
      tags:
      - Orgs Advanced Anti Malware Profiles
      summary: updateOrgAAMWProfile
      description: Update an organization Advanced Anti Malware profile's Sky ATP verdict threshold, actions, or file-category rules.
      operationId: updateOrgAAMWProfile
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      - name: aamwprofile_id
        in: path
        description: ''
        required: true
        schema:
          type: string
          contentEncoding: uuid
          examples:
          - 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/aamw_profile'
              - description: Request Body
                examples:
                - categories:
                  - category: executable
                    hash_lookup_only: false
                  fallback_action: block
                  file_action: block
                  name: aamw-custom
                  verdict_threshold: 8
              contentMediaType: application/json
            examples:
              Example:
                value:
                  categories:
                  - category: executable
                    hash_lookup_only: false
                  fallback_action: block
                  file_action: block
                  name: aamw-custom
                  verdict_threshold: 8
        required: false
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    categories:
                    - category: executable
                      hash_lookup_only: false
                    fallback_action: block
                    file_action: block
                    name: aamw-custom
                    verdict_threshold: 8
            application/vnd.json+api:
              schema:
                allOf:
                - $ref: '#/components/schemas/aamw_profile'
                - description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
                  examples:
                  - aamwprofile_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    account_id: iojzXIJWEuiD73ZvydOfg
                    admin_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    created_at: 2023-01-01 12:00:00+00:00
                    description: Example AAMW Profile Description
                    name: Example AAMW Profile
                    updated_at: 2023-01-01 12:00:00+00:00
                contentMediaType: application/vnd.json+api
              examples:
                Example:
                  value:
                    aamwprofile_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    account_id: iojzXIJWEuiD73ZvydOfg
                    admin_id: 000000ab-00ab-00ab-00ab-0000000000ab
                    created_at: 2023-01-01 12:00:00+00:00
                    description: Example AAMW Profile Description
                    name: Example AAMW Profile
                    updated_at: 2023-01-01 12:00:00+00:00
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - description: Standard HTTP 400 bad request error response
                  examples:
                  - detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http401'
                - description: Standard HTTP 401 authentication error response
                  examples:
                  - detail: Authentication credentials were not provided.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http403'
                - description: Standard HTTP 403 permission error response
                  examples:
                  - detail: You do not have permission to perform this action.
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/json
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http404'
                - description: Standard HTTP 404 not found error response
                contentMediaType: application/vnd.api+json
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http429'
                - description: Standard HTTP 429 rate limit error response
                  examples:
                  - detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
                contentMediaType: application/vnd.api+json
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
components:
  schemas:
    aamw_profile_category_category2:
      title: aamw_profile_category_category2
      enum:
      - archive
      - document
      - pdf
      - executable
      - rich_application
      - library
      - os_package
      - mobile
      - java
      - configuration
      - script
      type: string
      description: 'File category covered by this Advanced Anti Malware profile. enum: `archive`, `document`, `pdf`, `executable`, `rich_application`, `library`, `os_package`, `mobile`, `java`, `configuration`, `script`.'
    response_http403:
      title: response_http403
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
      description: Standard HTTP 403 permission error response
    response_http400:
      title: response_http400
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
      description: Standard HTTP 400 bad request error response
    response_http429:
      title: response_http429
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      description: Standard HTTP 429 rate limit error response
    response_http401:
      title: response_http401
      type: object
      properties:
        detail:
          type: string
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
      description: Standard HTTP 401 authentication error response
    aamw_profile_action1:
      title: aamw_profile_action1
      enum:
      - block
      - permit
      type: string
      description: 'Action to take for files that meet or exceed the malware verdict threshold. enum: `block`, `permit`.'
    aamw_profile_category:
      title: aamw_profile_category
      type: object
      properties:
        category:
          allOf:
          - $ref: '#/components/schemas/aamw_profile_category_category2'
          - description: 'File category covered by this Advanced Anti Malware profile. enum: `archive`, `document`, `pdf`, `executable`, `rich_application`, `library`, `os_package`, `mobile`, `java`, `configuration`, `script`.'
        hash_lookup_only:
          type: boolean
          description: Whether files in this category use hash lookup without full file analysis
          default: false
      description: File category rule for Advanced Anti Malware inspection
    response_http404:
      title: response_http404
      type: object
      properties:
        id:
          type: string
          description: Missing resource identifier, when the API includes one
      description: Standard HTTP 404 not found error response
    aamw_profile:
      title: aamw_profile
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/aamw_profile_category'
          description: File categories evaluated by this Advanced Anti Malware profile
        created_time:
          type: number
          description: Timestamp when the Advanced Anti Malware profile was created
          readOnly: true
        fallback_action:
          allOf:
          - $ref: '#/components/schemas/aamw_profile_action3'
          - description: 'Action to take when Sky ATP cannot obtain a malware verdict. enum: `block`, `permit`.'
        file_action:
          allOf:
          - $ref: '#/components/schemas/aamw_profile_action1'
          - description: 'Action to take for files that meet or exceed the malware verdict threshold. enum: `block`, `permit`.'
        id:
          type: string
          description: Unique identifier of the Advanced Anti Malware profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - 53f10664-3ce8-4c27-b382-0ef66432349f
        modified_time:
          type: number
          description: Timestamp when the Advanced Anti Malware profile was last modified
          readOnly: true
        name:
          type: string
          description: Display name of the Advanced Anti Malware profile
          examples:
          - aamw-custom
        org_id:
          type: string
          description: Organization that owns this Advanced Anti Malware profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - a97c1b22-a4e9-411e-9bfd-d8695a0f9e61
        site_id:
          type: string
          description: Site associated with this derived Advanced Anti Malware profile
          contentEncoding: uuid
          readOnly: true
          examples:
          - 441a1214-6928-442a-8e92-e1d34b8ec6a6
        verdict_threshold:
          maximum: 10
          minimum: 1
          type: integer
          description: Minimum Sky ATP verdict score that triggers the configured file action
          contentEncoding: int32
          default: 8
      description: Advanced Anti Malware profile that controls Sky ATP file verdict handling
    aamw_profile_action3:
      title: aamw_profile_action3
      enum:
      - block
      - permit
      type: string
      description: 'Action to take when Sky ATP cannot obtain a malware verdict. enum: `block`, `permit`.'
  securitySchemes:
    apiToken:
      type: apiKey
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      name: Authorization
      in: header
    csrfToken:
      type: apiKey
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login]($e/Admins%20Login/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      name: X-CSRFToken
      in: header
